[2019-11-08 05:34] violetagg commented on #890
@Ishukumar91 If you are using this version of the project
https://github.com/reactor/reactor/tree/v2.0.7.RELEASE/reactor-net/src/main/java/reactor/io/net/impl/netty/tcp

It is not supported anymore.
Try to migrate to the latest version.

[2019-11-08 05:42] violetagg commented on #888
@shakuzen The behaviour in 0.8.6 has an issue - Reactor Netty doesn't propagate the exceptions received from the writing. In this particular use case every time when you write and flush there is an exception `java.net.PortUnreachableException`. With the newer versions we do propagate these exceptions and stop the writing.
Based on the received exceptions you can decide what you want to do.
In the

[2019-11-08 05:54] Ishukumar91 commented on #890
ok.. i ll check. I have posted my query in stackoverflow
<https://stackoverflow.com/questions/58728280/spring-boot-ssl-tcpclient-stompbrokerrelaymessagehandler-rabbitmq>.
Please have a look for more details.

Regards
Ishwarya

On Fri, Nov 8, 2019 at 11:04 AM violetagg <notifications@github.com> wrote:

[2019-11-11 08:37] violetagg commented on #867
@yu199195 Can you provide more complete example?
With that snippet I'm not able to reproduce the issue.

btw you can use the API provided by Reactor Netty instead of configuring the bootstrap directly.

[code]

[2019-11-11 11:14] violetagg commented on #872
@hmble2 We do not provide anything out of the box that can solve your use case.

[2019-11-11 11:14] #872 closed

[2019-11-11 11:15] violetagg commented on #890
I'm closing this. We can reopen it if it is needed.

[2019-11-11 11:15] #890 closed

[2019-11-11 21:21] CamielCop commented on #782
I am having the same issue. I can reproduce the issue very easily. Here is what I am using:
- reactor-netty:0.9.1.RELEASE
- reactor-spring:1.0.1.RELEASE

My scenario is the following:
- I am using WebClient to make post requests to 2 different servers.
- The majority of the requests are very big, ranging from 2kB to 200kB.
- Posts to one of the servers are successful (Majority of the posts).
- Pos

[2019-11-13 04:19] yu199195 commented on #867
if  set selectorOption(ChannelOption.SO_BACKLOG, 65535)

io.netty.bootstrap.ServerBootstrap - Unknown channel option 'SO_BACKLOG' for channel '[id: 0xbdd7ce90, L:/0:0:0:0:0:0:0:1:8088 - R:/0:0:0:0:0:0:0:1:49303]'

[2019-11-13 05:21] YeTingGe commented on #639
When does reactor-netty going to support H2C client ?
For us, as we will have a proxy(HA proxy/Nginx) running between our application and outside service, we're really hoping use same thing for both server(webflux + reactory netty) and client(reactor netty web client).
At this time, we have to use vert.x netty web client to support h2c

[2019-11-13 06:31] yu199195 commented on #867
I mean, I set up 32 work threads and found that each time I processed the same business work threads
In my knowledge, netty's work thread runs several to handle requests.
So, I have a little doubt, would like to ask you, why my situation.

[2019-11-14 10:01] andreisilviudragnea opened #896 "NullPointerException in HttpClientMetricsHandler.exceptionCaught()"
The `HttpClientMetricsHandler.exceptionCaught()` method sometimes throws `NullPointerException`s (on line 126 in version 0.9.1.RELEASE), when handling `IOException: Connection reset by peer`. I do not know for sure which call generates the NPE, but it looks like the request field in this class can be null sometimes.

[code]

## Your Environment

* Reactor version(s) used: 0.9.1.RELEASE
* Other rel

[2019-11-14 11:23] violetagg commented on #867
@yu199195 any example?

[2019-11-14 16:40] edwardsre commented on #888
Hi @shakuzen, any update on this?

[2019-11-15 01:31] 1ssqq1lxr opened #897 "How to realize Udp multicast"
## Motivation

## Desired solution

## Considered alternatives

## Additional context

[2019-11-15 05:31] creatorKoo opened #898 "connection pool's max request count policy"
connection pool's connection have max request count.
after max request count, then connection must be close and re-open connection by connection pool .

It is same feature that nginx's keepalive_requests (http://nginx.org/en/docs/http/ngx_http_core_module.html#keepalive_requests)

## Motivation

This feature need to communicate old lagacy http server using connection pool by WebClient request.
In

[2019-11-15 05:58] creatorKoo commented on #59
I really need this feature.
TcpClient use like WebClient.

Currently, I alter developed and solved by add nettyhandler that call ctx.fireChannelInactive() in handler.
(If you want to more information, then reply to question)

Who's maintain this feature?

[2019-11-15 10:30] violetagg commented on #59
@creatorKoo please give us more details

[2019-11-17 14:21] gongmingbin opened #900 "reactor-netty websocket server do not response reason code as client send"
## Expected Behavior
https://tools.ietf.org/html/rfc6455#page-36 say:
[code]
The Websocket Server response same reason code as client sendClose.
## Actual Behavior
when the client send close reason 1008 to server see below picture:
![image](https://user-images.githubusercontent.com/9658013/69008134-dc51c900-0981-11ea-9b97-e77037411723.png)
But the server response without code.
![image](https://use

[2019-11-17 14:46] violetagg commented on #897
@1ssqq1lxr Something like this? https://github.com/reactor/reactor-netty/blob/master/src/test/java/reactor/netty/udp/UdpServerTests.java#L133

[2019-11-17 14:51] violetagg commented on #900
@gongmingbin Would you like to create a PR with the proposed changes?

[2019-11-18 01:43] creatorKoo commented on #59
[code]

My alter developed tcpclient.
This implement's don't use connection pool. so, I really need to official support this issue.

Is it helpful, @violetagg?

[2019-11-18 01:45] creatorKoo commented on #59
And Custom TcpClient doesn't support keepalive and connection management.
So, I need to this feature too. (https://github.com/reactor/reactor-netty/issues/898)

[2019-11-18 10:20] shakuzen commented on #888
@violetagg showed me how I can use a `DirectProcessor` and add `.retry(t -> t instanceof PortUnreachableException)` to the UdpClient handler code to get the previous behavior, at least for `PortUnreachableException`, which is the use case I'm currently aware of where the behavior was relied upon.

I think this issue can be closed as there is no change necessary in reactor-netty at this time. I wil

[2019-11-18 10:20] #888 closed

[2019-11-18 21:21] #891 closed

[2019-11-18 23:31] violetagg commented on #898
@creatorKoo Can't you use the current API
https://projectreactor.io/docs/netty/release/api/reactor/netty/http/client/HttpClient.html#doOnRequest-java.util.function.BiConsumer-
you can keep a counter and when the counter hits for example 100 you can add header `Connection: close` to the request headers

Something similar you can see here
https://github.com/reactor/reactor-netty/blob/master/src/test

[2019-11-19 00:19] zhouzhou19950825 opened #902 "Add "access control allow origin" method in httpserverresponse"
I hope "access control allow origin" can be configured globally in httpserver and locally in httpserverresponse.

[2019-11-19 02:12] creatorKoo commented on #898
@violetagg Very good solution for HttpClient. But, I need this feature to TcpClient.

I know that this feature not need to everybody. So, If you think don't need to implement this feature on TcpClient, then, Please know me how to TcpClient's connection pool close safely.

[2019-11-19 05:55] violetagg commented on #898
@creatorKoo in TcpClient you also have lifecycle callbacks + observable.
https://projectreactor.io/docs/netty/release/api/reactor/netty/tcp/TcpClient.html#doOnConnect-java.util.function.Consumer-
https://projectreactor.io/docs/netty/release/api/reactor/netty/tcp/TcpClient.html#observe-reactor.netty.ConnectionObserver-
For observe you have states like https://projectreactor.io/docs/netty/release/ap

[2019-11-19 06:04] violetagg commented on #902
@zhouzhou19950825 Can't you do that in https://projectreactor.io/docs/netty/release/api/reactor/netty/http/server/HttpServer.html#handle-java.util.function.BiFunction-

there you have access to the request/request headers and response/response headers

[2019-11-19 06:56] creatorKoo commented on #898
@violetagg Thank you for your help. ;)

[2019-11-19 07:10] creatorKoo commented on #898
@violetagg I test that tips. But, RELEASED state never happend.
[code]
My test TcpClient constructor. and state only happen CONNECT, CONFIGURED, only.
Any idea of this issue?

[2019-11-19 12:34] rreynaud opened #903 "Connection not released in ConnectionPool when PrematureCloseException occurs"
When HttpClient made requests and PrematureCloseException occurs, connections are not released in ConnectionPool and stayed always in Active state. I suspect it may occur with other exceptions but I have not tried to reproduce

## Expected Behavior
We expect the connection are released or removed from the ConnectionPool and do not take any slots.

## Actual Behavior
ConnectionPool is growing until

[2019-11-20 00:14] zhouzhou19950825 commented on #902
thanks!

[2019-11-20 00:14] #902 closed

[2019-11-20 02:21] jim2paterson commented on #903
This looks very similar to an error I would like to report but have not been able to recreate in a simple example.  @rreynaud , I ran your code and got the error.  Of course, removing the SSL / secure parts it works. Then I modified your client to resemble what I'm trying to do. I don't mean to complicate this issue, but I want to share some of my test results.  In the client side code below, it f

[2019-11-21 09:45] violetagg commented on #898
@creatorKoo so with TCP we have packages (it's not as request/response with HTTP)
Can't you just take the connection, send whatever number of packages you want and then dispose the connection?

something similar we have here
https://github.com/reactor/reactor-netty/blob/master/src/test/java/reactor/netty/tcp/TcpClientTests.java#L932
https://github.com/reactor/reactor-netty/blob/master/src/test/jav

[2019-11-21 14:45] urferr opened #906 "rest service call with ssl blocks reactive thread"
when using Spring webflux with reactor-netty i get a blocking exception when calling another rest service using ssl. Adding allowBlockingCallsInside("io.netty.handler.ssl.SslHandler", "handshake") to the Blockhound builder can be used as workaround

Stack trace:
at reactor.blockhound.BlockHound$Builder.lambda$new$0(BlockHound.java:196)
at reactor.blockhound.BlockHound$Builder.lambda$install$6(Bloc

[2019-11-21 17:05] gurudatta11 opened #907 "javax.net.ssl.SSLException: handshake timed out"
### System Architecture
We as client can communicate to different devices (servers) with different ip addresses.
All the servers share a common root certificate to expose it as TLS, but unique key/ keystore per device.

## Expected Behavior
No Handshake time out should occur.

When making a call to few devices concurrently (let say less than some threshold 4) error will not occur, but if we invoke

[2019-11-21 17:06] gurudatta11 commented on #907
is it related to worker count ? some how the error as handshake time out is misleading.
-Dreactor.netty.ioWorkerCount=16

Created issue at netty project, got deferred to here, fyi, https://github.com/netty/netty/issues/9792

[2019-11-21 17:40] violetagg commented on #897
Closing the issue. We can reopen it if this is necessary.

[2019-11-21 17:40] #897 closed

[2019-11-21 17:41] violetagg commented on #900
PR #908

[2019-11-21 22:22] violetagg commented on #903
@rreynaud PR #909

@jim2paterson
I do not quite understand the problem, but I can say that you should create daemon threads.
Use some of the other `NioEventLoopGroup` constructors OR you can use the API that Reactor Netty provides i.e.:

`.runOn(LoopResources.create("test", 5, true))`

[2019-11-21 22:42] violetagg commented on #907
@gurudatta11 Is it possible that you open too many connections?

Look here https://github.com/reactor/reactor-netty/issues/796#issuecomment-518803044

Try to switch to a `fixed` connection pool and tell us whether you see the issue with this configuration.

[2019-11-21 23:33] gurudatta11 commented on #907
SSLException with handshake time out is gone,
with either of the below fixes
1) Setting worker count to a higher number
reactor.netty.ioWorkerCount=128

2) By making a fixed connection pool with max connections a higher number.

[2019-11-21 23:34] gurudatta11 commented on #907
Weird thing is I don't think it's not handshake time out exception at all, it's connection pool or worker count problem. The way the error is propagated  is wrong.
@violetagg

[2019-11-22 02:45] creatorKoo commented on #898
Ah.. I found problem.
TcpClient must be reuse it. Not create every call. So I change my code like this
[code]

so everything work perfect. Thank you for your help. :)

[2019-11-22 02:45] #898 closed

[2019-11-22 05:36] violetagg commented on #907
@gurudatta11 did you check the link to the issue above. Note that with version 0.9 the connection pool is fixed by default, but with version 0.8 it is elastic by default.

[2019-11-22 13:51] violetagg commented on #867
@yu199195 Any update?

About the exception that you see - we had such issue but this was fixed in 0.8.7/0.9.0
#706

[2019-11-22 15:17] violetagg commented on #782
@CamielCop Is it possible to provide more complete example?

[2019-11-22 16:52] Arivanandam commented on #612
Just posting this comment to make the solution look more obvious.
A new overloaded version of the method is available now where you can set the maxIdle time.
https://github.com/reactor/reactor-netty/commit/f0729c5ede372cc6e706d29eafb703a75d4e9c5c#diff-838a952a6538b5173f40436cdfacae56R178

[2019-11-22 17:04] violetagg commented on #612
Also in the Reference Guide https://projectreactor.io/docs/netty/release/reference/index.html#_connection_pool

[2019-11-22 20:00] gurudatta11 commented on #907
@violetagg
sorry, I have not seen the link you provided.
After checking out, https://github.com/reactor/reactor-netty/issues/796#issuecomment-518803044
yes, that will fix the issue if the number of connections are less than the given fixed limit (500) or user defined.

But not sure, if that's the actual fix, if connections are being queued internally in the thread pool after the max limit, what's

[2019-11-23 15:07] mwesox commented on #903
Not sure if this information helps, but we faced this issue also in our production environment, which caused our instances to fail/stop working and did not recover from PrematureCloseException .
We used spring webflux / webclient in the version 2.1.9.

[2019-11-25 15:40] rreynaud commented on #903
@violetagg Thanks

[2019-11-26 06:59] #896 closed

[2019-11-26 07:09] #903 closed

[2019-11-26 07:17] #900 closed

[2019-11-26 07:38] violetagg commented on #379
Just an update here:
For version 0.9.x the connection pool is fixed by default + there is a configuration allowing to setup max idle time for a connection.

[2019-11-26 10:32] saad14092 commented on #422
@violetagg I have the same issue in production using elastic Scheduler (unbounded) and the following version of the frameworks :

- Reactor Core 3.3.0.RELEASE
- Reactor Netty 0.9.1.RELEASE
- Spring Framework 5.2.1.RELEASE

any help or explanation is appreciated. here is the stack trace

[code]

[2019-11-26 11:17] violetagg commented on #422
@saad14092  Please open a new issue. It will be really helpful if you provide more info for the use case and/or a test example

[2019-11-26 13:23] saad14092 opened #910 "LEAK: ByteBuf.release() was not called before it's garbage-collected"
## Expected Behavior
No LEAK error

## Actual Behavior
Resource leak error in the logs with no apparent reason

## Steps to Reproduce
Issue occurs randomly, no clear way of reproducing

Below is all the code that uses webClient and/or reactor/netty stuff that might cause the issue :

[code]

## Your Environment

* Reactor Core 3.3.0.RELEASE
* Reactor Netty 0.9.1.RELEASE
* Spring Framework 5.2.1.RE

[2019-11-26 13:27] violetagg commented on #910
@saad14092 Please run with `-Dio.netty.leakDetection.level=paranoid` Also enable logging `logging.level.reactor.netty=DEBUG`, thus we will have more information in the stack traces with the leaked memory.

[2019-11-26 13:34] saad14092 commented on #910
@violetagg Thank you for your fast reply. I will do as you've requested. It will take some time sincewe're talking about production here, I'll have to do it this evening and check if I got the error tomorrow with better logs.

In the meantime, can you already tell from the code I've submitted what might be the reason of this leak ?

Thank you

[2019-11-26 13:36] violetagg commented on #910
Also do you release the response body in the code below when `HttpStatus.UNAUTHORIZED.equals(clientResponse.statusCode())`

[code]

Please take a closer look at the note here https://docs.spring.io/spring/docs/current/spring-framework-reference/web-reactive.html#webflux-client-exchange

[2019-11-26 13:40] saad14092 commented on #910
@violetagg No, I don't call any type of bodyTo* in this filter, but may I just point out that the "exchange" in my code belongs to the ExchangeFunction interface : `org.springframework.web.reactive.function.client.ExchangeFunction.exchange(ClientRequest)`

As opposed to the one that the docs mention which belongs to WebClient :
`org.springframework.web.reactive.function.client.WebClient.RequestHea

[2019-11-26 13:53] violetagg commented on #910
@saad14092 Isn't it an alternative of the one provided by WebClient?

https://docs.spring.io/spring-framework/docs/current/javadoc-api/org/springframework/web/reactive/function/client/ExchangeFunction.html

[2019-11-26 13:59] saad14092 commented on #910
@violetagg Indeed. That's what the documentation says. I'll try and release the body there too, and with some luck I may be able to reproduce the issue in my dev environment.

Thank you for your help. I'll reply once I've got something new

[2019-11-26 14:17] simonbasle opened #911 "Ensure docsZip defines a -docs classifier"
since switching to `maven-publish`, maven naming conventions are enforced. this was missed as no warning is emitted by Gradle in case the archive's name doesn't follow said conventions (the plugin transparently renames 😢).

this impacts the zip of reference documentation, which ends up following the format `reactor-netty-VERSION.zip` instead of (formerly) `reactor-netty-docs-VERSION.zip`. Since th

[2019-11-26 14:27] rstoyanchev commented on #910
I think Violeta is correct assuming the 401 response has a body. As the filter intercepts and swallows the response, replacing it with another, it has to ensure the first response content is consumed. BTW could you simplify the filter logic a little like this:

[code]

[2019-11-26 15:16] #911 closed

[2019-11-26 15:24] saad14092 commented on #910
@rstoyanchev Thank you for the suggestion ! I have succeeded in reproducing the problem once, but the test is not consistent yet. I'll try to do as you've advised and see if it makes a difference.

[2019-11-26 17:22] violetagg commented on #906
@urferr I would recommend you to report this to Netty project

[2019-11-27 06:12] violetagg commented on #788
I'm closing this one. We have several fixes in the last release (0.8.14, 0.9.2) that address memory leak issues. If there is still issue we can reopen this one.

[2019-11-27 06:12] #788 closed

[2019-11-27 06:31] violetagg commented on #907
If you use the `fixed` ConnectionProvider you cannot go beyond the max connections, which is not the case when you use `elastic`. `elastic` is by default for 0.8.x, while `fixed` is by default for 0.9.x

If you use the `fixed` ConnectionProvider there is `acquire timeout`, which is not the case when you use `elastic`.

Once a connection is acquired/created, TLS handshake starts. If there are too m

[2019-11-27 10:10] gearora commented on #839
@phantomedc What solution did you implement to solve the timeouts then?

[2019-11-27 12:25] violetagg commented on #59
@creatorKoo Having in mind the discussion in #898, do we need something in addition here (except documenting this use case)?

[2019-11-27 16:24] swimmesberger opened #913 "reactor-netty 0.9.2 no OSGi metadata"
Since version 0.9.2 the jar file MANIFEST.MF does not contain any OSGi metadata in previous versions the metadata was present. The "reactor-netty-0.9.2.RELEASE-original.jar" still contains the metadata.

## Expected Behavior
The OSGi metadata should be present in the MANIFEST.MF file of the jar.

## Actual Behavior
No OSGi metadata is present

## Steps to Reproduce
- Download https://repo1.maven.o

[2019-11-27 17:07] simonbasle commented on #913
ah, that's a regression due to the combination of `shadowJar` and `bndBuilder` :( see https://github.com/bndtools/bnd/issues/3551 it seems they don't intend to make it easy to generate the `Import-Packages` for jar tasks other than the default `jar` one 😡

[2019-11-27 18:33] gurudatta11 opened #916 "update existing documentation with high level architecture diagram for reactor-netty."
Currently I don't see any good documentation regarding reactor-netty architecture for beginners or whoever already using reactor-netty.
I see documentation on how to consume it (which is helpful) for developers.
https://projectreactor.io/docs/netty/release/reference/index.html

## Motivation

## Desired solution

Please provide high level architecture documentation of reactor-netty (including conn

[2019-11-27 18:42] gurudatta11 opened #917 "logging details for connection pool reactor-netty"
1.  logging as warn, if connection pool reached maximum limit might be helpful.
2. And also other loggers to indicate how many connections are being used at any given point of time.

## Motivation

Currently it's difficult to debug if there is issue with connection pool in reactor-netty. Hence more loggers and monitoring might help when application is scaled.
## Desired solution

-  logging as war

[2019-11-27 18:47] gurudatta11 commented on #907
Feature requests:
https://github.com/reactor/reactor-netty/issues/916
and
https://github.com/reactor/reactor-netty/issues/917
are created

@violetagg
As mentioned before, I don't see any issue with SSL timeout in general (it's not taking 10 secs for ssl handshake, after debugging the network and server).
in production without changing code, by setting environment variable, we observed zero issues

[2019-11-27 19:31] violetagg commented on #917
If you configured Micrometer in your Spring Boot application you should be able to see
`reactor.netty.connection.provider.<name>.total.connection`
`reactor.netty.connection.provider.<name>.active.connection`
`reactor.netty.connection.provider.<name>.idle.connection`
`reactor.netty.connection.provider.<name>.pending.connection`

Where `<name>` by default is `http` otherwise the name that you provid

[2019-11-28 09:04] chaichunyang opened #918 "SOS HELP!! Ask for help： always io.netty.channel.ConnectionTimeoutException"
i use spring cloud solution to build my apps, all them are springBoot applications, and use spring cloud gateway as an API Gateway for forward request.

gateway use reactor-netty for forward the **HTTP** requests to other apps.

when i deploy my apps to pro environment, run apps in docker，each app has a separate docker container, and the container is a Linux. then I got a lot of **io.netty.channel

[2019-11-28 09:41] violetagg commented on #918
For questions use either [Gitter](https://gitter.im/reactor/reactor-netty) or [stackoverflow.com](https://stackoverflow.com/questions/tagged/reactor-netty)

[2019-11-28 09:41] #918 closed

[2019-11-29 03:47] zhangxiangfeng opened #919 "support spring cloud gateway ws proxy(transparent)."
#738
#429

1.According to your suggestions, it is recommended to use attribute configuration to support my needs.

2.Seeing that there（ #429 ） is no related code implementation, I will mention a new issue and PR

[2019-11-29 06:10] SudBisht commented on #564
I am also getting error while accessing Remote Redis. any help would be appreciated

`org.springframework.data.redis.RedisConnectionFailureException: Unable to connect to Redis; nested exception is io.lettuce.core.RedisConnectionException: Unable to connect to x.x.x.x:6379
	at org.springframework.data.redis.connection.lettuce.LettuceConnectionFactory$SharedConnection.getNativeConnection(LettuceCon

[2019-11-29 08:32] #919 closed

[2019-11-29 09:15] simonbasle opened #920 "bnd: SymbolicName and Import-Package differences with osgi plugin's version"
(first reported in #915 while working on #913)

Since the switch to `bndBuilder` plugin was made in #894, a couple of differences have appeared in what is generated for OSGI:

 - the `Import-Package` clause is missing an entry `io.netty.util.internal;version="[ 4.1,5)"`
 - the `Bundle-SymbolicName` clause is different (back to project name)

This affects both `0.8.14.RELEASE` and `0.9.2.RELEASE`.

[2019-11-29 09:16] simonbasle commented on #920
cc @simondaudin @swimmesberger

[2019-12-02 14:42] bilak commented on #860
I'd like to have this feature in 0.9.x is it possible to provide it? We discussed it on gitter @violetagg .
Thanks

[2019-12-02 16:14] lyubanlight commented on #547
Hi guys,

Have the same issue.
Do you know the root cause at least?
Is it related to NIO?

[2019-12-03 08:32] violetagg commented on #906
I'm closing this one. If it appears a Reactor Netty issue we can reopen it.

[2019-12-03 10:43] #920 closed

[2019-12-03 10:43] #913 closed

[2019-12-04 07:13] mgr32 opened #922 "Add ability to configure maxLifeTime of connections in connection pool"
## Motivation
Currently it's possible to configure max idle time of connections in "elastic" and "fixed" pools, but there doesn't seem to be a way to configure max life time (equivalent of TTL in Apache HttpClient).
Without it we're not able to use AWS Elastic Beanstalk CNAME swaps, as both old and new environments are always running and connections to the old environment are never closed (regardl

[2019-12-04 17:54] rstoyanchev commented on #910
@saad14092 I was just reminded that we recently added `response.releaseBody` which you can use instead of `bodyToMono(Void.class)`. The difference is that the former actually consumes and releases any possible data buffers that come through without closing the connection while the latter expects no data to come through and if any does come in, it closes the connection. Unless you expect issues wit

[2019-12-04 18:36] #922 closed

[2019-12-05 10:13] violetagg opened #925 "Add API ConnectionProvider.metrics"
Currently `HttpClient.metrics` enables connection pool metrics. However there are use cases when one might want ONLY connection pool metrics.

[2019-12-05 10:16] violetagg opened #926 "Path + query is sent as uri tag for the HttpClient metrics"
Only the path should be included as `uri` tag for the metrics

[2019-12-06 03:21] JacobASeverson commented on #663
Hi folks, I've opened https://github.com/reactor/reactor-netty/pull/927 to resolve this issue.

[2019-12-06 08:58] rstoyanchev commented on #906
Link to Netty issue https://github.com/netty/netty/issues/9834.

[2019-12-07 12:06] robotmrv opened #928 ""Discarded inbound message DefaultHttpRequest" log if compression is applied"
If compression is enabled then `io.netty` debug logs prints:
[code]

## Expected Behavior
no "Discarded inbound message DefaultHttpRequest" log message

## Actual Behavior
there is "Discarded inbound message DefaultHttpRequest" log message

## Steps to Reproduce
example spring-boot application https://github.com/robotmrv/dropped-message
1. start app
2. `curl http://localhost:8080/test/compression-

[2019-12-07 12:11] robotmrv commented on #928
reproduces with reactor-netty:0.9.2.RELEASE / spring-boot:2.2.2.RELEASE

[2019-12-09 07:22] #928 closed

[2019-12-09 14:40] #917 closed

[2019-12-09 14:46] violetagg commented on #917
In addition to the comment above

1.
The log was extended

[code]

2.

The fact that the pool reached the max connections limit still cannot be handled as a warning.

Having `TimeoutException` with a message `Pool#acquire(Duration) has been pending for more than the configured timeout of 20ms` is the point when a warning should be triggered.

3.
In addition to the metrics mentioned above we will e

[2019-12-09 20:58] philsttr opened #931 "Optimize MicrometerHttpMetricsRecorder"
##  Motivation
When profiling with a reactor-netty based app under load, with http metrics enabled, I've noticed a significant amount of time spent in `MicrometerHttpMetricsRecorder` and `MicrometerHttpClientMetricsRecorder`.  In concrete terms, metric recording takes about 1/3 of the time spent inside `AbstractChannel.writeAndFlush`.

Here is a flamegraph generated from [yourkit async cpu profili

[2019-12-09 21:00] philsttr commented on #931
Here is a flamegraph that shows the relative time spent inside of the metric recorder, when compared to the overall time spent in writeAndFlush

![http_metrics_flamegraph](https://user-images.githubusercontent.com/7027966/70472280-b2249000-1a83-11ea-84f1-d29401beb6c2.png)

[2019-12-10 13:57] ahmedyarub commented on #833
I have just tested with Spring Boot 2.2.2 and Hoxton.RELEASE (which come with Reactor Netty 0.9.2.RELEASE), and it's still generating multiple packets out of a single one with extra data at the end.

[2019-12-10 16:31] violetagg commented on #931
@philsttr are you testing always with one and the same URL?

[2019-12-10 17:32] violetagg commented on #906
Reopening in order to evaluate the suggested solution in netty/netty#9834

[2019-12-10 18:08] philsttr commented on #931
Yeah, I was thinking the metrics handler could cache the `DistributionSummary`/`Timer` by remote address / url.  (e.g. in a ConcurrentHashMap).   It would need a cache key that included both the address/url, but constructing that single cache key would probably be better than constructing all the other objects and registering with registry on every network write.

[2019-12-10 19:54] violetagg commented on #833
reopen to check again

[2019-12-10 20:09] violetagg opened #933 "Add builder for configuring the ConnectionProvider"

[2019-12-10 21:38] jemmali-git opened #934 "Connection has been closed BEFORE response, while sending request body when uploading large file (size: 9 MO)"
I have spring boot application running behind a spring cloud gateway, when I upload large file (size: 10 MO)  via a postman request, I get the following error:

[code]
spring boot application Controller:
[code]
Spring cloud gateway route configuration :

[code]
## Steps to Reproduce
Here is an example to reproduce the issue
https://github.com/jemmali-git/examples.git

* Reactor version used: 0.9.1

[2019-12-11 07:17] #926 closed

[2019-12-12 13:26] violetagg commented on #934
@jemmali-git How do you upload the file - I mean multipart, binary etc...

[2019-12-12 14:22] violetagg commented on #934
You might be hitting some of these limitations
https://docs.spring.io/spring-boot/docs/current/reference/html/appendix-application-properties.html

[code]

I see that the target application uses Spring MVC. When the limitations above are met Tomcat will reset the connection which will lead to the exception `Connection has been closed BEFORE response, while sending request body` that you see.

[2019-12-17 09:11] #934 closed

[2019-12-17 14:03] violetagg opened #935 "Add builder for configuring WebSocket on the client"

[2019-12-17 14:06] dave-fl commented on #782
A double gateway test might help reproduce. I’ve definitely seen this one. Would try with POST.

[2019-12-17 14:30] violetagg commented on #867
Closing this as there is no response from the author

[2019-12-17 14:30] #867 closed

[2019-12-17 14:31] violetagg commented on #906
need more clarification here https://github.com/netty/netty/issues/9834#issuecomment-565140560

[2019-12-18 03:54] hanscrg opened #936 "Disable Netty HTTP Client Connection Pool"
Spring Boot WebFlux uses Netty HTTP Client. Netty has a connection pool by default. How to disable that connection pool application wise?

[2019-12-18 07:08] violetagg commented on #936
This belongs to [Gitter](https://gitter.im/reactor/reactor-netty) or [stackoverflow.com](https://stackoverflow.com/questions/tagged/reactor-netty)

Check
https://projectreactor.io/docs/netty/release/reference/index.html#_connection_pool

[code]

[2019-12-18 07:08] #936 closed

[2019-12-18 15:05] hanscrg commented on #936
This only works for a specific http client. I mean application wise, in one place, we can disable connection pool and then any further Netty HTTP Client created will not use connection pool?

[2019-12-18 16:34] violetagg commented on #936
@hanscrg That's the application wise way.
Once you have the `httpClient` with this configuration you can use this client for as many as URLs you want.
Every time when you configure a new URL you will receive a new HttpClient instance that will inherit all the previous configurations.
In terms of Spring WebFlux/Boot you can have one `@Bean` that will hold all your common configurations.

[2019-12-18 16:37] violetagg commented on #936
https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#howto-webclient-reactor-netty-customization

[2019-12-18 19:32] hanscrg commented on #564
@igorkatz,

In Springboot application,  we need to solve the same issue which Netty HTTP Client used by Spring Security got connection disconnected in its pool by Load balancing Server. How could we implement your suggestion so that the setting will take effective in Netty HTTP client used by Spring Security?

In main function, we did like below, but our channel handler which doing ping does not t

[2019-12-18 19:40] violetagg commented on #564
@hanscrg `ServerBootstrap` is for the server not for the client.

[2019-12-18 19:53] violetagg commented on #564
@hanscrg you might find this helpful https://github.com/spring-projects/spring-security/issues/4921

[2019-12-18 20:09] SergeyLukashevich opened #937 "WebSocket client sends raw data instead of Websocket frames"
When using WebSocket client for connection to the local server as shown in reference, server gets an unexpected data.

Version: 0.9.2.RELEASE

Server output:
[code]

Code:
[code]

Traffic capture:
[capture.zip](https://github.com/reactor/reactor-netty/files/3980292/capture.zip)

Issue reproduces starting with version 0.9.0.RELEASE.
Similar code for 0.8.14.RELEASE - works fine.

[2019-12-18 20:40] violetagg commented on #937
@SergeyLukashevich This is an issue with the documentation
This method should be used as it transforms to frames
https://projectreactor.io/docs/netty/release/api/reactor/netty/http/websocket/WebsocketOutbound.html#send-org.reactivestreams.Publisher-

This one does not transform and one should do it by oneself (this method does not exist in 0.8.x, so I assume you used the one above)
https://project

[2019-12-18 20:47] #937 closed

[2019-12-19 01:59] hanscrg commented on #564
@violetagg,
Thanks you so much for the info. The sample project does have WebClientConfig, I guess, I can put @darekurlik's clientHttpConnector there to set ChannelOption.SO_KEEPALIVE to false to solve the Netty connection reset issue. I will try that shortly and report if that works.

Again thanks a lot for your input @violetagg.

[2019-12-19 05:16] hanscrg commented on #564
@violetagg,

I created a new class in Spring Cloud Gateway application as below, try to disable Netty connection pool, but all seems to be not effective.  I still see logs showing r.n.resources.PooledConnectionProvider.  What I am doing wrong? Is this WebClientConfig supposed to be effective globally, I mean application wise?

import org.springframework.context.annotation.Bean;
import org.springfr

[2019-12-19 07:16] darekurlik commented on #564
@hanscrg
Hi! This is what reduced most of our problems:

[code]

but I strongly encourage you too look into you infrastructure to see if there is any proxy/load balancer/gateway or anything else between your client and server you are trying to reach. Its important as any component between can terminate you connection due to its own timeout.

[2019-12-19 13:27] hanscrg commented on #564
@darekurlik,

Thank you so much for the input. I tried you way to put the bean below in our Spring Cloud Gateway application. The Spring Security OAuth2 filter still use r.n.resources.PooledConnectionProvider.

@Bean
public ClientHttpConnector clientHttpConnector() {
    return new ReactorClientHttpConnector(HttpClient.create(ConnectionProvider.newConnection()));
}

I checked the logs when applica

[2019-12-19 13:30] hanscrg commented on #564
BTW, we do have load balancer between our Spring Cloud Gateway and Identify Provider. The logs do shows connection between our application and Identify Provider get reset by peer. But I guess there is not much load balancer can do? Because their side complain Netty Connection Pool does not handle load balancing situation well.  That leaves only option for us to disable the Netty Pool.

[2019-12-19 15:52] hanscrg commented on #564
This is spring application startup logs which is related to the clientHttpConnector,

2019-12-19 15:35:00.707 DEBUG 7 --- [main] o.s.b.f.s.DefaultListableBeanFactory: Creating shared instance of singleton bean 'clientHttpConnector'

2019-12-19 15:35:03.055 DEBUG 7 --- [main] o.s.b.f.s.DefaultListableBeanFactory: Autowiring by type from bean name 'clientConnectorCustomizer' via factory method to be

[2019-12-19 16:23] hanscrg commented on #564
This the logs shows the Netty connection pool issue, even I put the clientHttpConnector bean to disable the pool,

2019-12-19 16:12:05.902 DEBUG 7 --- [reactor-http-epoll-4] r.n.resources.PooledConnectionProvider   : [...] onStateChange(POST{uri=/oauth/token, connection=PooledConnection{channel=[id: 0x19541261, L:/xxx.xxx.xxx.xxx:27918 - R: xxx.xxx.xxx.xxx:443]}}, [request_sent])

2019-12-19 16:12

[2019-12-19 18:06] hanscrg commented on #936
I did as what the document said to have a bean created as below, but nothing seems to impact Netty used by Spring OAuth filter. It still use  r.n.resources.PooledConnectionProvider. Any idea why is that?

@bean
public ClientHttpConnector clientHttpConnector() {
return new ReactorClientHttpConnector(HttpClient.create(ConnectionProvider.newConnection()));
}

The is Spring application startup logs,

[2019-12-19 18:53] hanscrg opened #938 "Netty connection in pool reset by peer in Spring Cloud Gateway Application"
We use Spring Cloud Gateway with Spring Security OAuth2.

SpringBoot version: 2.2.1
Spring Cloud version: Hoxton.Release
Netty: reactor-netty-0.9.2.RELEASE

The Spring security OAuth2 filter post request to UAA server, there is load balancer in between. While initially connection all good but after about 10-15 min, Netty used Spring OAuth2 filter got connection reset by peer and the other end is l

[2019-12-19 20:14] darekurlik commented on #564
Sorry a got confused. You are own both server and the client or both?

- You are facing problems on the client or server side? You keep mentioning spring security so I guess its server side problem - correct? If so I think that maybe enabling IdleStateHandler for netty might do the trick. I once did something like that:

`
import io.netty.handler.timeout.IdleStateHandler;
import org.springframewor

[2019-12-19 21:02] hanscrg commented on #564
@darekurlik, Thank you so much for taking time to help. Yes, you are right, Our application is Spring Cloud Gateway which is running as server, it takes request and then forward to backend API. When request reach the server, the Spring Security OAuth2 filter, which is one of the filter of Gateway will kick in to do authentication/authorization which posts Auth code to IDP to get Auth token. So to

[2019-12-19 21:46] philsttr opened #939 "Blocking call in eventloop while reading keystore on client side"
Encountered the following blocking call on the netty event loop on the client side, when communicating to a remote server over SSL.

Blocking call occurs when reading a keystore file (to be used as the client truststore).

[code]

## Expected Behavior
No blocking calls on event loop

## Actual Behavior
Blocking call on eventloop

## Steps to Reproduce
Run the unit tests in the attached project

[b

[2019-12-19 23:31] hanscrg commented on #388
@bcoste,
Our application is also Spring Cloud Gateway. The Spring Security filter runs on cloud gateway try to post to IDP and the netty client get connection reset by peer. How do you solve this issue? Could you please give more detail?

[2019-12-20 01:55] hanscrg commented on #564
@darekurlik,
I uploaded the simple demo project to Github at the link below,
https://github.com/hanscrg/Sample-SpringCloudGateway-UAA

It is very simple, UAA is just Identity Provider. Build and run command are listed on the home page.   The Gateway project only has 3 files. One file is for Gateway, other two files are trying to customize WebClient or ClientHTTPConnector used by Spring Security fi

[2019-12-20 13:59] crankydillo commented on #443
@mmanciop The reactor-core guidance above has changed to suggesting a bound elastic scheduler, which alleviates one of your concerns.  Apologies, but I didn't really think much about your restated question:)

[2019-12-20 15:37] violetagg commented on #564
@hanscrg the discussion about WebClient with/without connection pool enabled will be covered in this issue https://github.com/spring-cloud/spring-cloud-gateway/issues/1493

[2019-12-20 15:39] violetagg commented on #936
@hanscrg the discussion about WebClient with/without connection pool enabled will be covered in this issue spring-cloud/spring-cloud-gateway#1493

[2019-12-20 15:40] violetagg commented on #938
please provide TCP dump so that we can see which component is responsible for dropping the connection

[2019-12-20 17:05] hanscrg commented on #938
@violetagg,

Thanks for looking into this issue. Due to constraints, I am not sure if I am allowed to send the TCP dump. The application is deployed in cloud. Between our application and IDP server which application try to Post request to, there is AWS load Balancer (LB). The LB usually drops connection in 15 min idle. There is not much we can do at this point.

The log already clearly shows Peer

[2019-12-20 17:22] mmanciop commented on #443
@crankydillo thanks for the pointer. I am closing this issue, my question is answered.

[2019-12-20 17:22] #443 closed

[2019-12-20 18:51] violetagg commented on #938
@hanscrg We check the health of the connection before using it
https://github.com/reactor/reactor-netty/blob/master/src/main/java/reactor/netty/resources/ConnectionProvider.java#L198
See the eviction predicate.
A connection that is idle more than the specified time or have life more that specified time will be evicted.
If you cannot provide TCP dump then you can check it by yourself - when exactly

[2019-12-20 19:31] hanscrg commented on #938
@violetagg,
Thanks for looking into this issue. I will see if I could send out TCP dump. Question is what is gap in time when Netty get check the connection health and using that connection to send http request?

If Netty by default no idle timeout and life time. Then if Spring Security using Reactor Netty HTTP Client does not set those parameters, then the connection will be there all the time an

[2019-12-20 19:56] violetagg commented on #938
They can expose a configuration. I think that if you have the configuration above you will be able to solve your use case. If that's not the case we can think of exposing an API for specifying the eviction.

There are different retry strategies (also have in mind that we retry only when there is `Connection reset by peer`) so I prefer the components (especially those working with sensitive data) t

[2019-12-22 03:52] hanscrg commented on #938
@violetagg
Thanks for the response. From the feedback from Spring Cloud Gateway, there is no configuration at their side works as the WebClient created in Spring Security and I have not get feedback from Spring Security yet. The Spring Security samples at the link above I looked through and does not find the way to customize the WebClient or ClientHTTPConnection which Spring Security uses. Also di

[2019-12-23 01:23] creatorKoo commented on #898
No.. It's bad way...
I found alter way.
[code]

that's really work.

[2019-12-23 01:29] creatorKoo commented on #59
@violetagg

yeah. for better solution, need to change something below.

TcpClient must be reused and in place of 'doAfterTerminate' then use 'markPersistent'. (https://github.com/reactor/reactor-netty/issues/898#issuecomment-568323299)

I use that code product. and work good for now.

[2019-12-23 14:59] bsavov opened #940 "reactor netty does not instant propagate exception upon an attempt to send data to closed connection (regression from spring-boot 2.1.4, reactor-netty 0.8.6)"
When try to send message (SSE) to already closed connection (channel) I do not get instant exception, instead the exception is propagated on the next attempt to send another message.
Up to spring-boot 2.1.4 everything was fine and the exception was propagated instant upon an attempt to send something to the channel. After that (upgrade to any spring-boot.version >2.1.4) the exception is thrown alw

[2019-12-26 22:00] jlefebure opened #941 "NumberFormatException in ConnectionInfo when X-Forwarded-Header is empty"
When an X-Forwarded-Port is present but empty, reactor-netty try to parse that header as an int. This cause a NumberFormatException.

## Expected Behavior
If X-Forwarded-Port header (or any other one) is present and not empty/blank, get it and create the host address.

## Actual Behavior
Runtime exception :

[code]
## Steps to Reproduce
Using Spring Boot 2.2.2, make a request using an empty but pr

[2019-12-28 11:29] jlefebure commented on #941
Awesome, thank you, that should do the trick

[2019-12-28 11:29] #941 closed

[2020-01-01 06:55] naturallight commented on #436
Is there any update?

[2020-01-02 11:48] violetagg commented on #940
The issue is related to how Reactor Netty handles disconnected clients and also the way Spring Framework sends SSE. The issue is NOT related to how flush is executed so adding `FlushConsolidationHandler` to your configuration is not needed.

* In Spring Boot 2.1.4.RELEASE/Spring Framework 5.1.6.RELEASE/Reactor Netty 0.8.6.RELEASE
  * Reactor Netty always runs with `auto-read=false`, which means th

[2020-01-03 20:11] vy opened #944 "timeout-triggered cancellation causes ref cnt error"
When a `ByteBufFlux` derived `Flux` is cancelled via `Flux#take(Duration)`, `IllegalReferenceCountException` is thrown and hangs the caller. The thrown exception is logged thanks to the default `onErrorDropped`, though I could not catch the exception myself no matter what I did.

[vy/reactor-netty-ref-cnt-bug-repro](/vy/reactor-netty-ref-cnt-bug-repro) project provides an isolated test case where

[2020-01-06 18:59] #940 closed

[2020-01-07 11:44] gongmingbin commented on #663
How about WebsocketServerOperations? since Client  can also send ping to server（which as proxy），if WebsocketServerOperations not do the same way，the upstream can not received ping from downstream。

[2020-01-07 11:55] violetagg commented on #663
@gongmingbin Would you like to make a PR?

[2020-01-07 12:01] gongmingbin commented on #663
@violetagg Sorry, I can not for some reason, 🤦‍♀️.

[2020-01-07 12:10] violetagg commented on #663
Reopen to provide the same fuctionality for the server

[2020-01-07 13:29] benweet commented on #839
Using kotlin coroutines with spring boot 2.2, I had this typical issue because the netty server and the webclient were sharing the same event loop, which caused the server to hang under heavy load as all the workers were used by one or the other (only 4 threads by default if server cpu <= 4).

The fix was to use another event loop for all the webclients, keeping the main one dedicated to handling

[2020-01-07 14:55] violetagg commented on #663
PR #945

[2020-01-07 21:24] bsavov commented on #940
Great? verified with 1.0.0.BUILD-SNAPSHOT and it works even better than 2.1.x.
Thank you @violetagg ! Looking forward for official release.

[2020-01-09 08:42] jdaru commented on #933
Hello guys, i'm sorry, but i didn't understand how can i assign to me this issue and how it works, i mean contributing in github :)
i've cloned this project, accepted pivotal cla, looked at the code and realized what was required.
Or please tell me where to read about contributing to this project.

[2020-01-09 09:11] violetagg commented on #933
@jdaru commenting here that you want to work on this is enough :+1:

[2020-01-09 11:38] violetagg commented on #933
@jdaru once you are ready with the change create a PR and we will discuss there.
https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/about-pull-requests

[2020-01-09 23:07] violetagg commented on #931
@philsttr If you can try the current 0.9.3.BUILD-SNAPSHOT it will be great

[2020-01-10 01:33] philsttr commented on #931
@violetagg Thanks!! Yes, i'll give it a shot soon.  I also add one comment to the PR

[2020-01-10 07:07] #931 closed

[2020-01-10 07:08] violetagg commented on #931
@philsttr thanks for the review. I applied the suggestion for the MeterKey.

[2020-01-10 11:29] violetagg commented on #283
Two improvements were made related to this issue
Switching auto-read to true when there is no more incoming data #943
and switching auto-read to true/false depending on the demand 777274a31143cdc8c8bfe39752e55221c94fada3, 218af7a26fead75eb3b8fad091e4ba02b7441d03

[2020-01-10 12:48] #860 closed

[2020-01-10 13:13] #663 closed

[2020-01-10 13:13] sbrannen commented on #860
Thanks for adding this support, @violetagg!

Looking forward to updating our tests once we're on `reactor-netty` 0.9.3.

Do you know which `reactor-bom` release that will go into?

[2020-01-10 13:17] violetagg commented on #860
@sbrannen the planning is `Dysprosium-SR3` for next Monday 13th of January

[2020-01-10 18:14] philsttr commented on #931
The flamegraph looks much nicer now!  The overhead has been reduced significantly, to between 5-10% of the total time in writeAndFlush.  Thank you so much.

![image](https://user-images.githubusercontent.com/7027966/72175608-5d7d7900-3391-11ea-9f6a-56b857f16765.png)

[2020-01-10 19:46] violetagg commented on #931
@philsttr thanks for testing the fix.

[2020-01-10 19:55] odbuser2 commented on #938
I believe this is still occurring under:

SpringBoot version: 2.2.2
Spring Cloud version: Hoxton.SR1
Netty: reactor-netty-0.9.2.RELEASE

Is there a better strategy to prevent the this?  I concur with the complication that Spring Security introduces.  The configuration is not exposed so the default behavior of Netty should be updated to in Netty (actually for any api that wraps Netty).

@hanscrg di

[2020-01-10 20:40] violetagg commented on #663
This is backported to 0.9.x branch with 3edbbf6 8aa8846 and will be available in 0.9.3

[2020-01-11 11:29] benweet commented on #782
Reproduced with a `fixed` connection pool, which I think is the default. Here is how the client connector is created (in Kotlin) :

[code]

The stacktrace looks the same :

[code]

[2020-01-11 15:23] violetagg commented on #782
@benweet What is the exact scenario that you execute?

[2020-01-12 16:48] benweet commented on #782
@violetagg We perform stress tests against two different Spring WebFlux services through an nginx proxy. The injector simulates 4 users that talk simultaneously to both servers, sharing 2 WebClient instances like this one (relying on Kotlin coroutines):

[code]

The exact request that failed was made like this:

[code]

I've only noticed this error once this week.

[2020-01-12 22:40] jdaru commented on #933
@violetagg i've got "unable to access" message, when tried to create pull request or just push code.

[2020-01-13 05:33] violetagg commented on #933
@jdaru do you use a fork of the repository or you are trying to use this repository?

[2020-01-13 07:02] #944 closed

[2020-01-13 07:10] violetagg commented on #944
@vy It was a race between `handle` and `doFinally` (`reactor.netty.ByteBufFlux#aggregate`)
In `handle` there is `output.addComponent(...) (consolidateIfNeeded)` and this may release the internal buffers. In `doFinally`, `output.release()` also releases the internal buffers.
When you have such issues you can try to follow the paths where `release` might happen.

[2020-01-13 16:31] rstoyanchev opened #948 "Failure to process URL where path is nothing but "//""
After upgrading to Dysprosium snapshots, there is one test failure in the Spring Framework in a scenario where the path is nothing but a double slash, e.g. `"http://localhost:8080//"`.

It results in the following:

[code]

This looks like it might be a side effect of refactoring for #926 in https://github.com/reactor/reactor-netty/commit/dc3fb4b1fe1538e1ac1249412a272a7204912c27.

[2020-01-13 20:20] vy commented on #944
Thanks so much for the great work and explanation, @violetagg! I still cannot explain why was the thrown `IllegalReferenceCountException` able to collapse the client given there is a `retry()`? I was expecting `BenchmarkClient` to recover and keep on pushing even after the exception.

[2020-01-13 21:06] vy commented on #944
@violetagg, I once in while still get the following *warning*:
[code]
Note that the warning occurs at the end of the session, that is, after 10s. This doesn't hurt the functionality AFAIC, but doesn't leave a good taste either.

[2020-01-14 06:01] violetagg commented on #944
@vy yep that's the `safeRelease` that we are using now.
In your case it is OK, as you can see the buffer is freed.
`Failed to release a message: CompositeByteBuf(freed, components=2001)
io.netty.util.IllegalReferenceCountException: refCnt: 0, decrement: 1`
I don't feel like we want to remove the info for `ByteBuf.release` failure. Wdyt?

[2020-01-14 09:03] violetagg commented on #944
Errors in `doFinally` are dropped as the completion has already happened.

[2020-01-14 09:25] violetagg opened #950 "Add option for changing the max URI tags"
https://github.com/reactor/reactor-netty/blob/master/src/main/java/reactor/netty/http/MicrometerHttpMetricsRecorder.java#L96

[2020-01-14 09:29] violetagg commented on #833
@ahmedyarub can you test with the latest releases:
Reactor Netty 0.9.4.RELEASE
Netty 4.1.44.Final

[2020-01-14 10:35] jtorkkel opened #951 "Connection pool maxPending size unbounded by default and cannot be configured"
In plain netty 4.1.x it is possible to configure and query pool maxPending size in addition to acquireTimeout.

When reactor-netty fixed Connection pool is used maxPending size cannot be configured and it is set internally to unbound. Only the following parameters can be configured
- pool name
- maxConnections
- acquireTimeout
- MaxIdleTime

Having unbound is problematic because service can run ou

[2020-01-14 10:47] vy commented on #944
The message is logged at level `WARN`. Receiving a warning message from such a core library creates an impression that *"something has happened that should not have happened and I better fix it as a user"*, which is not the case. Hence, I would encourage lowering it to level `DEBUG`.

[2020-01-14 12:32] vy commented on #944
Quoting from [The DevOps Handbook](https://books.google.nl/books?id=ui8hDgAAQBAJ&pg=PT244&lpg=PT244&dq=%22These+will+likely+initiate+an+alert+and+troubleshooting,+while+other+logging+messages%22&source=bl&ots=WudlbbOtTO&sig=ACfU3U301bv3fJfkR8yqbZYNKARlXNbm-w&hl=en&sa=X&ved=2ahUKEwi26ICUjIPnAhXD0aQKHfaqAgAQ6AEwAHoECAMQAQ#v=onepage&q=%22These%20will%20likely%20initiate%20an%20alert%20and%20troublesh

[2020-01-14 13:17] violetagg commented on #944
Try the current 0.8.16.BUILD-SNAPSHOT/0.9.4.BUILD-SNAPSHOT

[2020-01-14 13:47] nnl-1 opened #953 "HttpServer: routing handler captures incorrect context"
Original question - https://stackoverflow.com/questions/59704320/reactor-netty-bug-routing-handler-captures-incorrect-context.

Simple test fails:

1. start http server
2. send request to it inside test
3. check if it has been received and handled

Problem -

If I run just one test or countdown inside handler context (case 1) - everything works. If I run two tests and countdown not inside handler

[2020-01-14 13:50] violetagg commented on #953
@nnl-1 try 0.9.3.RELEASE
Yesterday I included a fix for this use case.

[2020-01-14 14:33] nnl-1 commented on #953
That fixes the issue, thanks!

[2020-01-14 14:33] #953 closed

[2020-01-14 14:50] violetagg commented on #953
Fixed with 360ab0fd086a63d9bad235b1c399cc2051567f6f

[2020-01-14 18:16] jdaru commented on #933
@violetagg thank you!!!! yep, i used this repo :)

[2020-01-16 08:30] #933 closed

[2020-01-16 08:31] violetagg commented on #933
Thanks for the contribution

[2020-01-16 08:58] violetagg opened #955 "Deprecate the methods for creating ConnectionProvider in favour of ConnectionProvider builder"

[2020-01-16 18:31] jdaru commented on #935
@violetagg , can i take it?

[2020-01-16 18:50] violetagg opened #958 "Add builder for configuring WebSocket on the server"
Currently there are the methods below that configure WebSocket on the server. It is hard to continue with this approach when a new property needs to be added.

[code]

The approach below might be applied

[code]

Also `proxyPing` should be renamed to `handlePing` in the `WebSocketConfigurer`

[2020-01-16 18:52] violetagg commented on #935
@jdaru I would recommend this one #958, because for the client I will do some refactoring and then this issue will be able to be taken.

[2020-01-16 19:10] jdaru commented on #935
@violetagg ok, thanks

[2020-01-16 19:12] jdaru commented on #958
took to work

[2020-01-16 21:13] hanscrg commented on #938
@odbuser2,  I tried boot 2.2.2 and Hoxton.SR1, the issue is still there. Actually the root of issue is Netty connection pool in Spring Security. Once the connection(channel) in pool dropped by network components after idle time 15min  (very possible no RST send out), all the idle connections in pool do not work which Netty does not detect until it try to reuse the connection.  Either Spring Securi

[2020-01-16 21:31] violetagg commented on #938
@hanscrg @odbuser2 The proper way is Spring Security to provide a way for configuring the HttpClient (as it can be done in Spring Gateway)

However what do you think if Reactor Netty adds a system property fo the idle timeout? Similar to acquire timeout - https://github.com/reactor/reactor-netty/blob/master/src/main/java/reactor/netty/ReactorNetty.java#L119
With a system property you will be able

[2020-01-16 23:20] michaelmcfadyen commented on #950
I'm looking to pick this up but looking for some advice on the design of the solution. Looking through the code, I code see a few ways to implement this.

 - overload the `metrics()` function on HttpServer to accept a new parameter - `maxUriTags`
 - add new method on HttpServer specifically for setting the maxUriTags ie. `maxUriTags(int maxTags)`
 - add a parameter to `MicrometerHttpMetricsRecorde

[2020-01-17 07:59] violetagg commented on #950
I was thinking for something like this:

`metrics(boolean metricsEnabled, int maxUriTags)`
`BootstrapHandlers#updateMetricsSupport(io.netty.bootstrap.ServerBootstrap, reactor.netty.channel.ChannelMetricsRecorder, int maxUriTags)`
`MetricsSupportConsumer(ChannelMetricsRecorder recorder, int maxUriTags, boolean onServer)`

so when we add `NettyPipeline.ChannelMetricsHandler` to the pipeline if the r

[2020-01-17 12:01] #955 closed

[2020-01-17 18:10] violetagg opened #961 "NoSuchMethodError: ConnectionProvider.elastic(String, Duration)"
Caused by #922 #924

Reported with https://github.com/spring-cloud/spring-cloud-gateway/issues/1532

The missing methods are

[code]

[2020-01-18 08:44] violetagg opened #962 "Add configuration for switching between FIFO and LIFO order for the channels in the pool"
The current implementation uses FIFO and this cannot be changed.
https://github.com/reactor/reactor-netty/blob/master/src/main/java/reactor/netty/resources/PooledConnectionProvider.java#L108

This feature request is about adding a configuration for switching between FIFO and LIFO.
https://github.com/reactor/reactor-netty/blob/master/src/main/java/reactor/netty/resources/ConnectionProvider.java#L16

[2020-01-18 09:00] #951 closed

[2020-01-18 09:02] violetagg commented on #951
An option will be available with 0.9.5.RELEASE.
However we cannot add a default value because this heavily depends on the use case.

[2020-01-18 09:16] violetagg commented on #961
Fixed with 7c6f01f06bbf87ee60157f87445cf42d37e1dece
Will be available with the next 0.9.4.RELEASE

[2020-01-18 09:16] #961 closed

[2020-01-18 10:31] violetagg commented on #283
The current implementation ensure that on every request the channel auto-read will be reset to false
https://github.com/reactor/reactor-netty/blob/v0.9.3.RELEASE/src/main/java/reactor/netty/http/server/HttpTrafficHandler.java#L154
https://github.com/reactor/reactor-netty/blob/v0.9.3.RELEASE/src/main/java/reactor/netty/channel/FluxReceive.java#L74

If while serving the response we receive
* HttpReq

[2020-01-18 10:31] #283 closed

[2020-01-19 10:18] benweet commented on #782
Our stress tests are failing with this error about 1/3 of times. Another third with reactor.netty.http.client.PrematureCloseException which maybe related.

We have no such problem with OkHttp client.

[2020-01-19 10:24] violetagg commented on #782
@benweet

PrematureCloseException with what message
Anyway to extract some simple reproducible scenario?

[2020-01-19 10:32] benweet commented on #782
@violetagg here is the full log (there is no stacktrace):

[code]

Also note that our nginx is used to serve two different domains, and with OkHttp, we had to disable http/2 because http 421 errors were not handle properly: https://github.com/square/okhttp/issues/5424

[2020-01-19 10:59] violetagg commented on #547
I cannot reproduce this with the latest releases.
Can you provide some reproducible example using Spring Boot 2.2.3?

[2020-01-19 10:59] benweet commented on #782
I'm afraid it happens randomly, and under heavy load only.

[2020-01-19 11:02] violetagg commented on #782
@benweet and the Reactor Netty version is the latest or some other?

[2020-01-19 11:15] benweet commented on #782
@violetagg here is our dependency tree:

[code]

[2020-01-19 21:54] jdaru commented on #962
took to work

[2020-01-20 01:17] phantomedc commented on #839
it is my loadbalancing device's problem, i change it from http to tcp to disable connections  reusing

[2020-01-20 11:57] violetagg commented on #938
We are going to expose a configuration property for switching pool's lease strategy from FIFO to LIFO (FIFO is by default) #962

Using LIFO leasing strategy + max idle timeout will give you the behaviour that you need
- When the connection is acquired it will be the most recently used
  - If max idle timeout is reached this means that this connection will be closed and as this connection was the m

[2020-01-20 12:01] violetagg commented on #564
Most of the issues here were cause by a proxy/server that closes a connection on some timeout.
Because of this we are going to expose a configuration property for switching pool's lease strategy from FIFO to LIFO (FIFO is by default) #962

Using LIFO leasing strategy + max idle timeout will give you the behaviour below

- When the connection is acquired it will be the most recently used
  - If max

[2020-01-21 02:56] indian9 opened #964 "Memoy Leak while calling REST API - LEAK: ByteBuf.release() was not called before it's garbage-collected"
I have a springboot  test application calling local dummy GET API and after certain calls continue to observe the "LEAK: ByteBuf.release() was not called before it's garbage-collected" error.

## Expected Behavior
No Memory Leak.

## Actual Behavior
I have followed the recommendation from https://github.com/reactor/reactor-netty/issues/778 but still continue to see the same behaviour

## Steps to

[2020-01-21 04:39] indian9 commented on #964
here are the details after I enabled the  paranoid.
`2020-01-20 20:37:34.574 ERROR 9081 --- [ctor-http-nio-2] io.netty.util.ResourceLeakDetector       : LEAK: ByteBuf.release() was not called before it's garbage-collected. See https://netty.io/wiki/reference-counted-objects.html for more information.
Recent access records:
#1:
	Hint: 'reactor.right.reactiveBridge' will handle the message from this

[2020-01-21 08:40] violetagg commented on #964
@indian9 Can you provide a sample project that can be used for reproducing the issue?

[2020-01-21 10:50] kiranmaiem opened #965 "netty reactive http2 server failed to handle response sent in Flux (0.9.2)"
## Expected Behavior
HTTP2 response sent in Flux publisher to http2 server, should be sent to client.

## Actual Behavior
[code]

## Steps to Reproduce
eclipse project which is used to reprouce the issue attached
Start the spring boot application(h2c server) and send HTTP2 Get request  with path like "http://ip:port"

[demo.zip](https://github.com/reactor/reactor-netty/files/4090657/demo.zip)

##

[2020-01-21 11:30] violetagg commented on #965
@kiranmaiem With your example and the following command `curl --http2-prior-knowledge http://localhost:8080/` I'm receiving the expected response `MonoString`
Can you specify exactly the steps that you performed?

[2020-01-21 14:35] sergiusz-n opened #967 "Cancelling session.receive() causes the session termination"
After switching from _reactor-netty:0.8.x_ to _reactor-netty:0.9.x_ the aforementioned behaviour got changed.

Using `.take()`/ `.takeWhile()`/ `.takeUntil()` operator on inbound mesaages  cause canceling the Publisher signal, but the question is...
Should cancelling `session.receive()` Flux cause the whole session termination immediately?

In the given example, WebSocket handler on the server sid

[2020-01-21 14:52] violetagg commented on #967
@sergiusz-n Please provide a reproducible scenario only with Reactor Netty so that we can better isolate the component where the issue resides.

[2020-01-21 15:38] kiranmaiem commented on #965
hi,

If you change Response type in controller form Mono to Flux, then error can be reproduced.

[2020-01-21 22:22] sergiusz-n commented on #967
@violetagg
I _may_ try to provide you with Reactor Netty scenario, but meanwhile
the version of Spring was the same (i.e. `'org.springframework.boot' version '2.2.0.RELEASE'`)` and the discrepancy was seen by just playing around with different versions of Reactor Netty (in my case they were `'io.projectreactor.netty:reactor-netty:0.8.15.RELEASE'` and  'io.projectreactor.netty:reactor-netty:0.9.4.R

[2020-01-22 12:28] violetagg commented on #951
@jtorkkel the default for 0.9.x will not be changed however we will change it for 1.0.x and by default the HTTP client will run with
- 500 max connections
- 1000 pending acquire max count
- 45s pending acquire timeout

For more info see #966

[2020-01-22 12:52] violetagg commented on #967
I came up with this and it reproduces your scenario

[code]

[2020-01-22 13:04] parviz-93 commented on #950
Hi.
I would like to join your project. Can I start with this task?

[2020-01-22 13:15] violetagg commented on #950
@parviz-93 @michaelmcfadyen already stated that he is willing to take this issue.
@michaelmcfadyen Are you still going to work on this?

[2020-01-22 13:53] violetagg commented on #967
This behaviour is caused by a fix in 0.9.x
https://github.com/reactor/reactor-netty/commit/78950ac5d3032bd08c7e5e2b35d27e20253acbf6#diff-513b1db3a0b468f7712c0eb8fcb702f6R169-R176

If you want to take only some frames from the channel without closing it you can do something as the snippet below (note `.publish().autoConnect()`):

[code]

I committed a test 0aa632e717f9503c57944533377491d04dacb7f4 i

[2020-01-22 13:53] #967 closed

[2020-01-22 14:26] sergiusz-n commented on #967
@violetagg thanks for the quick responses!
So, I wonder what behaviour is considered to be wrong: 0.8.15 or 0.9.4.
The question just to clarify my confusion: the current status came as a side-effect for the [#533] (https://github.com/reactor/reactor-netty/issues/533) fix or it was done _intentionally_, since `.take(...)` operators should have been cancelling sessions, but didn't do so in 0.8.x and

[2020-01-22 15:09] violetagg commented on #967
It is not a side effect it is done intentionally.
Currently we have this implementation which is the desired implementation
https://github.com/reactor/reactor-netty/blob/0.9.x/src/main/java/reactor/netty/http/client/WebsocketClientOperations.java#L157-L162
https://github.com/reactor/reactor-netty/blob/0.9.x/src/main/java/reactor/netty/http/server/WebsocketServerOperations.java#L178-L183

We didn't

[2020-01-22 15:14] sergiusz-n commented on #967
@violetagg thanks for the clarifications and for your time!

[2020-01-23 05:55] kiranmaiem commented on #965
Hi,

will the fix be given on 0.9.2 release which we are using? we are using latest Spring webflux which picks up this version.

[2020-01-23 05:57] violetagg commented on #965
@kiranmaiem yes, we forward merge all fixes from 0.8.x to 0.9.x

[2020-01-23 05:59] kiranmaiem commented on #965
ok thanks, so can i expect the 0.9.x will be available by Feb 24th. we have a release based on this on 29th of Feb.
Just want to know, if it possible to get the fix before hand so it gives us time to test properly before release.

[2020-01-23 06:04] violetagg commented on #965
That's the plan

I'll try to provide a snapshot for testing today or so

[2020-01-23 06:41] kiranmaiem commented on #965
Great, thanks.

[2020-01-23 09:59] parviz-93 commented on #950
@violetagg got it.
Maybe you have some simple task for me? I would be happy to help 😊

[2020-01-23 10:49] umutuzgur commented on #639
This would be great to have. We are also waiting for this

[2020-01-23 11:44] violetagg commented on #950
@parviz-93 let's move the discussion here https://gitter.im/reactor/reactor-netty

[2020-01-23 13:56] violetagg commented on #761
Some very basic samples

1fc98e87 - [http] Hello World example
7d5dbb66 - [http] Echo example
d55fb9a5 - [tcp] Echo example
1d6edd88 - [tcp] Discard example

[2020-01-23 17:22] checketts opened #969 "Memory Leak (and Perf problem) due to MicrometerHttpMetricsRecorder adding meter filters repeatedly"
## Expected Behavior
Additional requests should not add duplicate meter filters

## Actual Behavior
Requests are registering new filters to the Metrics.globalRegistry on each request, causing filters to grow continually, which is a memory leak. Also since the filters are iterated through to record metrics, this make performance degrade overtime as more filters have to be iterated over on each requ

[2020-01-23 18:11] checketts commented on #969
Nevermind. This has been addressed and is fixed in `v0.9.4.RELEASE`  Thanks!

[2020-01-23 18:11] #969 closed

[2020-01-23 18:14] checketts commented on #969
Fixed by way of #931 #947

[2020-01-24 04:34] hanscrg commented on #938
@violetagg, thanks for the feedback. LIFO leasing strategy + Max idle timeout sounds a good solution to this issue which will eventually make Netty client more robust to connection drop by the network components due to their idle timeout setting. The question is in our case our application leverages Spring Security, Spring Security use Netty Client. if Netty exposes configuration property for leas

[2020-01-24 11:38] rstoyanchev commented on #578
`TcpResources` now defaults to 500 max connections (per host). The number of pending to acquire connections is currently not limited, but the acquire will fail within 45 secs of waiting.

For 1.0 the queue size for pending to acquire will also be limited.

[2020-01-24 12:09] amizurov opened #970 "WebSocket compression extension should not depends on SimpleCompressionHandler"
## Expected Behavior
If compression is enabled on the server side then WebSocket compression extensions should be applied according to https://tools.ietf.org/html/rfc7692#section-5 and not depend on `SimpleCompressionHandler` present in pipeline or not.

## Actual Behavior
Configure `HttpServer` with enable compression and set `maxResponseSize` to value grate than zero, WebSocket compression never

[2020-01-24 13:06] violetagg commented on #965
@kiranmaiem Please try 0.9.5.BUILD-SNAPSHOT

[2020-01-24 14:21] violetagg commented on #970
@amizurov PR #971

[2020-01-24 15:57] michaelmcfadyen commented on #950
@violetagg I've been out of the country this week so not started on this issue but yes, I'm still willing to pick it up. Can you assign me to the issue?

[2020-01-24 15:58] violetagg commented on #950
@michaelmcfadyen we do not use `assign`, a comment here that you'll be working on this is enough.

[2020-01-24 19:29] violetagg commented on #379
@ccrolf Can you elaborate more about this

The current implementation (0.9.x) runs by default with:
- 500 max connections per connection pool where a connection pool corresponds to a remote host and NOT URL
- `DefaultPoolResources.channelPools` holds the different connection pools, which means with just 20 different remote hosts and load that keeps every pool to a maximum connections you will achi

[2020-01-27 10:07] kiranmaiem commented on #965
Thanks, will try and let you know.

[2020-01-27 11:49] kiranmaiem commented on #965
@violetagg , pardon my limited knowledge. From where i can pull 0.9.5.BUILD-SNAPSHOT build?

[2020-01-27 12:07] violetagg commented on #965
use https://repo.spring.io/snapshot/ with your maven/gradle build

[2020-01-27 12:17] violetagg commented on #964
Closing this. We can reopen it when there is a reproducible example.

[2020-01-27 12:17] #964 closed

[2020-01-27 12:18] violetagg commented on #547
Closing this. We can reopen it when there is a reproducible example.

[2020-01-27 12:18] #547 closed

[2020-01-27 12:21] violetagg commented on #833
Closing this. We can reopen it when there is more information.

[2020-01-27 12:21] #833 closed

[2020-01-27 12:31] violetagg opened #973 "Add connection pool configuration per remote host"
Currently all ConnectionProvider's configurations are applied to all connection pools (a connection pool is related to a concrete remote host).
We want to have a configuration per remote host.

[2020-01-27 13:31] kiranmaiem commented on #965
@violetagg the snapshot build didn't work. But there is no error this time. The client is waiting for response for long time.

[2020-01-27 14:15] violetagg commented on #965
Ok I did the following change to your project

build.gradle

[code]

[code]

Then requested it like this

[code]

[2020-01-27 15:16] jpork opened #974 "ByteBufFlux hangs when passed downstream in HttpClient"
When passing the ByteBufFlux content of an http get response downstream out of the response() lamba context like shown below it hangs infinitely.

[code]

When handling the content inside the response lambda it just works.

[code]
Shouldn't it be possible to pass the content flux downstream in order to deal with it some steps later?

[2020-01-27 16:00] violetagg commented on #974
@jpork This will not work because we will complete the response. https://github.com/reactor/reactor-netty/blob/master/src/main/java/reactor/netty/http/client/HttpClientFinalizer.java#L77-L80

You should do it like this

[code]

If you insist to use the code above then you should use `responseConnection()`

[2020-01-27 16:27] jpork commented on #974
Shouldn't it result in any kind of error if this is not allowed? So far the code just hangs for ever.

I don't see the mechanism how it is completed within the response method.

When using responseContent I can have either the connent or the headers?

When using responseConnection should I free resources? And how should I do so?

[2020-01-27 17:54] crankydillo opened #975 "Confusing javadoc for `doAfterResponse` and `doOnResponseError`"
The [Javadoc](https://github.com/reactor/reactor-netty/blob/fbd1c30f0da8edb9b81a88ecf540f55d1983db84/src/main/java/reactor/netty/http/client/HttpClient.java#L576) for `doAfterResponse` suggests the callback will fire whenever the response was 'fully received'; however, the callback is described as an observer of disconnect events.  Are these equivalent things?  If the connection is persistent, wou

[2020-01-28 07:52] violetagg commented on #975
@crankydillo
`doAfterResponse ` is invoked on connection terminate event. In pooled connection scenario this means the connection is returned to the pool or closed. As you close the connection on the server side this triggers close connection event on the client side and as a result `doAfterResponse` is invoked.

https://github.com/reactor/reactor-netty/blob/v0.9.4.RELEASE/src/main/java/reactor/ne

[2020-01-28 08:26] dkulig commented on #641
Did anyone find a solution for the "Connection reset by peer" thing?

[2020-01-28 08:31] violetagg commented on #641
@dkulig this issues is for `Connection timed out` not `Connection reset by peer`. May be you need this one #564

[2020-01-28 08:39] dkulig commented on #641
My apologizes @violetagg - wrong issue

[2020-01-28 08:41] devsonic opened #976 "Support "X-Forwarded-Proto" headers Multiple Values"
Recently i found issue in an environment using proxies.
my proxy server sends traffic to netty server with following headers.

however, reactor-netty doesn't support "x-forwarded-proto" headers multiple values. (only one value can be parsed, so, it causes a 'scheme' error.)
https://github.com/reactor/reactor-netty/blob/fbd1c30f0da8edb9b81a88ecf540f55d1983db84/src/main/java/reactor/netty/http/serve

[2020-01-28 08:49] violetagg commented on #976
@devsonic Are you interested in providing a PR?

[2020-01-28 09:24] kiranmaiem commented on #965
Hi,

The code seems to work fine in the project i provided.
Our actual project is using spring cloud gateway with webflux which i attached.

We are using spring cloud gateway as reverse proxy. So netty server will receive request, and we are using  jetty client to send out the request to backend server. The response follows same path.

With this project if i use 0.9.5 snapshot , the response heade

[2020-01-28 09:29] devsonic commented on #976
@violetagg yes. i will create PR soon.

[2020-01-28 11:50] crankydillo commented on #975
Thanks for the explanation @violetagg.  If the behavior doesn't change, shouldn't the Javadoc for `doAfterResponse` change?  IMO, it should not say that 'called ... after fully received'.  In fact, I think you should even consider changing the method name to `doOnClose` (or something more indicative of 'done with connection').  On a similar note, I need to check `doAfterRequest`, but I would expec

[2020-01-28 18:35] violetagg opened #977 "Support for WebSocketExtensionFilterProvider"
This feature request is related to the discussion in the PR https://github.com/reactor/reactor-netty/pull/971#issuecomment-578213685

[2020-01-28 18:37] violetagg commented on #970
We will provide a WebSocket configuration for compression on/off

[2020-01-29 11:20] benweet commented on #782
@violetagg we found the cause! It was lying here:

[code]

The `releaseBody()` method returns a Mono that needs to be consumed. So we changed our code to:

[code]

We haven't seen any issue since then.

[2020-01-29 11:38] jpork commented on #974
I didn't expect this so far. The code you've linked creates some intermediate Flux instances. But I cannot recognize where the flux is completed when leaving the response lambda context.

How can I pass both response header and content to later stage processing? When downloading files I would need "Content-Length" and "Content-Type" to be passed  downstream together with content.

[2020-01-29 13:07] violetagg commented on #974
@jpork Do you think something like this will help you

https://github.com/reactor/reactor-netty/blob/master/src/test/java/reactor/netty/http/server/HttpServerTests.java#L592-L600

[2020-01-29 14:52] violetagg commented on #975
@crankydillo I updated the documentation #978

What about using `HttpClient.observe(...)`?

[2020-01-29 16:27] crankydillo commented on #975
Thanks for the doc update.

RE `doAfterResponse`, will it fire per response in a persistent connection scenario?

RE using `HttpClient#observe`, we did look into that.  I just don't think we understood that we should cast `Connection` to `HttpClientRequest` or `HttpClientResponse` to gain access to the subscriber context.  However, even with that, I don't know of any state that indicates receive i

[2020-01-29 17:01] newmen commented on #710
Is there any workaround here?

[2020-01-29 17:09] violetagg commented on #975
Yes

Yes no direct access to the subscriber context

It depends, as I wrote above, even if you are in the pooled scenario you might have connection close.

[2020-01-29 17:18] violetagg commented on #710
you can provide your own DNS resolver as the author wrote

https://netty.io/4.1/api/io/netty/resolver/dns/DnsNameResolver.html

[code]

https://projectreactor.io/docs/netty/release/api/reactor/netty/tcp/TcpClient.html#resolver-io.netty.resolver.AddressResolverGroup-

[2020-01-29 17:23] crankydillo commented on #975
Ok, `State.RELEASED` is tied only to returning to the pool.  We're still not sure how to do what we need, but we'll try to figure it out.  If you think of something, we'd greatly appreciate hearing about it:)

I'm assuming you will close this issue when you merge your doc PR (or release).

[2020-01-29 17:30] violetagg commented on #975
@crankydillo Still thinking about this...

/cc @rstoyanchev What do you think if we change the current behaviour and introduce a new STATE (RESPONSE_COMPLETED or something like this)? Basically we know when the response was received fully
https://github.com/reactor/reactor-netty/blob/master/src/main/java/reactor/netty/http/client/HttpClientOperations.java#L552-L574

[2020-01-29 21:37] #958 closed

[2020-01-30 00:42] raman-nbg opened #979 "Memory is leaking when the response body is not consumed"
I have a Spring Webflux applicaton, that consumes Messages from Kafka via `reactor.kafka.receiver.KafkaReceiver` and sends the messages to an HTTP server using `org.springframework.web.reactive.function.client.WebClient`.

## Expected Behavior
The application should split the incoming messages in windows with a size of x (tested with 10, 20, 50, 100, 200) and send each window as `application/strea

[2020-01-30 01:01] raman-nbg commented on #979
Here you can see the main parts of the log:

[code]

and

[code]

[2020-01-30 06:10] violetagg commented on #979
@raman-nbg Will you be able to extract this into a project that can be used to reproduce the issue?

[2020-01-30 07:52] violetagg commented on #970
@amizurov @rstoyanchev PTAL PR #980

In 0.9.x versions we will keep both ways for specifying compression on/off (on HTTP level and the new way with the WebSocket configuration).
In 1.x I'm going to remove the one on HTTP level.

[2020-01-30 10:43] dkulig opened #981 "SSLEngine closed already"
I have a SpringBoot WebFlux app which Is talking to an external http server.
All looks good expect the fact that my tracing library is reporting `SSLEngine closed already` errors randomly after a request to my app is already finished.

`javax.net.ssl.SSLException: SSLEngine closed already at io.netty.handler.ssl.SslHandler.wrap(SslHandler.java:837) at io.netty.handler.ssl.SslHandler.wrapAndFlush(S

[2020-01-30 10:50] violetagg commented on #939
@philsttr Fix will be available in Netty 4.1.46.Final https://github.com/netty/netty/pull/9969
It would be great if you can test 4.1.46.Final-SNAPSHOT

[2020-01-30 10:51] violetagg commented on #906
@urferr Fix will be available in Netty 4.1.46.Final https://github.com/netty/netty/pull/9969
It would be great if you can test 4.1.46.Final-SNAPSHOT

[2020-01-30 11:23] violetagg commented on #981
@dkulig Can you extract this piece of code into a project that can be used to reproduce the issue?

[2020-01-30 11:23] raman-nbg commented on #979
I created a minimal sample and the error is still the same.

The sample contains three projects:
- [dummy-generator.zip](https://github.com/reactor/reactor-netty/files/4133725/dummy-generator.zip): Writes dummy messages to Apache Kafka
- [reactive-console-client.zip](https://github.com/reactor/reactor-netty/files/4133726/reactive-console-client.zip): Consumes the Messages and sends them to a REST

[2020-01-30 11:37] violetagg commented on #979
@raman-nbg What do you do with the response in the code below?

Check the note here
https://docs.spring.io/spring/docs/current/spring-framework-reference/web-reactive.html#webflux-client-exchange

[code]

[2020-01-30 11:50] Incarnation-p-lee commented on #782
@benweet is this common scenario when leverage reactor-netty, if that I am afraid that many package depends on netty may need double check this. It is huge and almost untrackable.

[2020-01-30 12:00] raman-nbg commented on #979
ouch...! I didn't do anything with the response, because I don't need it in this case.

Using `retrieve()` helps to fix this. Thank you so much and I'm sorry for wasting your time for this.

[2020-01-30 12:04] #979 closed

[2020-01-30 18:14] benweet commented on #782
@Incarnation-p-lee yes, I believe so. Every created publisher needs at least one suscription to start publishing otherwise unconsumed data will accumulate.

[2020-01-31 04:06] softwareklinic commented on #796
I tried out the code sample posted by @thsnoopy --- using the latest reactor netty and the spring reactor netty started 2.2.4 -- but the issue still persists... it is using netty 4.1.45.Final and still seeing the premature connection issue.

[2020-01-31 04:10] softwareklinic opened #982 "Premature connection before response - ERROR for both FIXED and ELASTIC"
In production environment while performing load test we are experiencing "Premature connection exception"

We have tried with below settings for FIXED
1. Default 500 Max Connections
2. 400 Max Connections
3. 200, 100, 50, 25, 10

All of the above are throwing intermittently Premature connection exception --- and we are using 0.9.2 Reactor netty

We have also tried using ELASTIC (by setting Mac Con

[2020-01-31 04:58] kiranmaiem commented on #965
Hi,

Did you get time to look into it?

[2020-01-31 06:36] violetagg commented on #982
@softwareklinic Can you provide some reproducible example? Is there a stack trace that you can share?

How do you set this?

[2020-01-31 08:41] newmen commented on #710
So, in my case, the problem was not about DNS resolver.
My problem was due to a conflict in dependencies and silent `NoClassDefFoundError`.
I'm sorry for the confusion.

[2020-01-31 10:57] urferr commented on #906
Unfortunately i am not able to reproduce the original problem. Maybe its because some thirdparty library versions have slightly changed in the meantime:

- Reactor version(s) used: 3.3.1, reactor-netty 0.9.2
- Other relevant libraries versions: netty 4.1.43, spring 5.2.2
- JVM version (java -version): openjdk version "13.0.2"

[2020-01-31 12:19] jpork commented on #974
This approach would be functional identical to a Future like approach. I would get the data and metadata as single item when the response it completed.

I would loose the ability to evaluate the progress of the download.

[2020-01-31 12:22] violetagg commented on #974
@jpork then you definitely have to use `responseConnection`

[2020-01-31 14:11] lcor1979 opened #984 "PooledConnectionProvider create new pool for each request from a same WebClient / remoteAddr"
It seems that WebClient created from WebClient.Builder using a PooledConnectionProvider create a new fixed client pool for each request instead of re-using the former pool.

The result is that :
- Connections are not reused and pool limit is not respected
- If remote http server ask for keepAlive, existing connections stay open forever resulting in connections leaks

Here is a unit test to illustr

[2020-01-31 14:13] lcor1979 commented on #984
The full test :
[code]

[2020-01-31 15:09] violetagg commented on #975
@crankydillo @rstoyanchev PTAL #978

[2020-01-31 15:33] softwareklinic commented on #982
2020-01-31T15:27:25.251+0000 (UTC) ERROR 82294 --- [reactor-http-nio-8] a.w.r.e.AbstractErrorWebExceptionHandler : [3604fd2a]  500 Server Error for HTTP GET "/requestPost"

reactor.netty.http.client.PrematureCloseException: Connection has been closed BEFORE response, while sending request body
	Suppressed: reactor.core.publisher.FluxOnAssembly$OnAssemblyException:
Error has been observed at the fo

[2020-01-31 15:34] softwareklinic commented on #982
The code I used is exactly the same in this REPO --- the only change I performed was to get the latest reactor netty libraries

https://github.com/thsnoopy/reactor-netty-report/

[2020-01-31 15:34] softwareklinic commented on #982
I will share the code snipped of what we have in production for the newconnetion etc...

[2020-01-31 15:37] softwareklinic commented on #982
Here is the code snippet that we use to create newconnection

static class NettyDelegate implements ReactiveClientDelegate {

			private TcpClient tcpClient;

			public NettyDelegate() {
				tcpClient = TcpClient.create();
			}

			public NettyDelegate(String name, int maxConnections, int acquireTimeout) {
				if(maxConnections == 0) {
					tcpClient = TcpClient.create(ConnectionProvider.newConnec

[2020-01-31 15:59] softwareklinic commented on #982
We removed the code for elastic --- just either newconnection or fixed --- the issue is with fixed... and i need to understand whats going on under the hoods for new connection --- does it close automatically after use ... or does it keep opening new connections  each time the code is triggered... overall we have not seen any premature connection issue with new connection..

[2020-01-31 17:31] #975 closed

[2020-01-31 17:59] #970 closed

[2020-02-01 02:32] Incarnation-p-lee commented on #782
Thanks @benweet . I think it is more better to find some way to fix it from netty side. Need netty owner double confirm about this.

[2020-02-02 12:05] crankydillo commented on #975
Thanks!

[2020-02-02 17:46] lukasherman commented on #984
`ChannelHandler.hashCode()` is different because `reactor.left.channelMetricsHandler` hashCode is different with each new request.

[2020-02-02 19:55] violetagg commented on #984
@lcor1979 You change every time the ssl context, this leads to a new pool because we keep track on the ssl context also.

change your test to this

[code]

[2020-02-02 20:14] violetagg commented on #984
@lukasherman We calculate the configuration a bit different. The handler that is important for the metrics is `reactor.netty.channel.BootstrapHandlers.DeferredMetricsSupport` as the recorder is always one and the same instance - the metrics configuration in the pipeline does not affect the pool. If you observe something else please open an issue.

[2020-02-02 21:04] #962 closed

[2020-02-02 21:11] violetagg commented on #564
The configuration will be available in 0.9.5 -> #962

[2020-02-02 21:11] #564 closed

[2020-02-02 21:14] violetagg commented on #938
The configuration will be available in 0.9.5 -> #962

If Spring Security exposes a configuration I would expect that user's configuration to be taken into consideration.

Do you still need these configurations as system properties?

[2020-02-03 08:37] lcor1979 commented on #984
Thank you very much for the reply, indeed moving the creation of the SslContextBuilder outside the lambda fix the issue.

[2020-02-03 08:37] #984 closed

[2020-02-03 08:51] kiranmaiem commented on #965
@violetagg , were you able to look into the issue?

[2020-02-03 08:59] violetagg commented on #965
@kiranmaiem I'm on it

[2020-02-03 09:01] kiranmaiem commented on #965
@violetagg , Thanks, will wait for your answer.

[2020-02-03 09:47] andreisilviudragnea commented on #782
I have also noticed the fact that `SslException: SSLEngine closed already` keeps showing up on the same channel repeatedly even for 24 hours. It makes me think that it is not properly handled by reactor-netty or netty internals.

I have now set the logging level to DEBUG for the `io.netty.handler.ssl.SslHandler` logger, as it maybe will offer more information.

@violetagg Do you have any suggestio

[2020-02-03 09:50] andreisilviudragnea commented on #981
@dkulig Could you verify in your logs if the exception keeps showing up on the same Netty channel? The Netty channel id is the CHANNEL_ID placeholder in the following logger format `r.n.http.client.HttpClientConnect - [id: <CHANNEL_ID>, L:/10.71.239.61:40838 - R:/34.231.233.38:443]`.

I think it is relevant that this error keeps showing up on the same Netty channel.

[2020-02-03 11:52] #950 closed

[2020-02-03 14:58] andreisilviudragnea commented on #782
I have added the details of the Reactor operators which see this error. It looks like it simply bubbles up to the application code and is not handled in any way.
[code]

[code]

[2020-02-03 14:58] andreisilviudragnea commented on #981
I have added the details of the Reactor operators which see this error. It looks like it simply bubbles up to the application code and is not handled in any way.
[code]

[code]

[2020-02-04 10:13] PyvesB commented on #538
It would indeed be very handy to be able to fine-tune some of the DNS resolution settings!

In addition to the points listed above, I would suggest adding the ability to "manually" evict from the internal cache. For example, some content delivery networks recommend to re-resolve DNS on certain types of status codes (e.g. 500 internal server error). Client code could build simple logic around such

[2020-02-04 10:46] cdmatta opened #986 "ConnectionProvider metrics should be dimensional and use tags instead of setting poolname in metric name"
When PooledConnectionProviderMetrics registers metrics, they are done so with distinct metric name for each connection poolName. This does not align with dimensional use of micrometer metrics.
In this case one needs to transform the metrics when scraping to successfully utilize these metrics.

## Expected Behavior
Metric name should remain the same. ConnectionPoolName is added as a tag dimension t

[2020-02-04 11:15] violetagg commented on #986
@cdmatta would you like to do this proposal as a PR?

[2020-02-04 11:16] cdmatta commented on #986
Sure. I can make a PR later today. Thanks for the quick turnaround

[2020-02-04 20:50] Donato10 commented on #934
Hi @violetagg since in this case the response will contain a 500 status and the premature closed exception, I wonder how can I override this response to show a 400 saying the file was too large: Like propagate the actual exception message that is thrown by the target app.
Regards

[2020-02-04 21:00] #986 closed

[2020-02-04 21:05] violetagg commented on #986
PR #987

[2020-02-04 21:19] violetagg commented on #934
@Donato10 This you should do on the server side

[2020-02-04 21:44] checketts opened #988 "Memory leak when enabling `wiretap` (and other tcpClient bootstrap options)"
## Expected Behavior
Adding wiretap (or other tcpClient bootstrap options should not create excessive Micrometer meters.

## Actual Behavior
When enabling `HttpClient.create().wiretap(true)` extra metrics are created like so:
[code]
This is because the id is generated from the `hashcode` of the BootStrap and the BootStrap is a lambda.  (see https://github.com/reactor/reactor-netty/blob/d6a4300c69a

[2020-02-04 21:50] violetagg commented on #988
@checketts What's Reactor Netty version?

[2020-02-04 21:57] #974 closed

[2020-02-04 23:26] checketts commented on #988
reactor-netty version `0.9.4.RELEASE`

[2020-02-05 05:18] violetagg commented on #988
@checketts In the logs how many times do you see `Creating a new ... client pool`?
Can you show how you create the client?

[2020-02-05 10:07] violetagg commented on #988
@checketts I found an issue when `wiretap(String, LogLevel)` is used - the connection pool key is not generated correctly. Can you test 0.9.5.BUILD-SNAPSHOT?

[2020-02-05 16:04] checketts commented on #988
I just tested with 0.9.5-BUILD-SNAPSHOT and the `wiretap(true)` works, but the custom logger approach is still generating lots of metrics/ids:

[code]

I'm making the calls via the CloudFoundry client. So not using the `HttpClient` directly:
[code]

[2020-02-05 16:23] violetagg commented on #988
@checketts

This is the problem

[code]

either extract `CustomLogger(CustomLogger::class.java)` or implement equals/hashcode

this is because we keep track of the channels configuration in the connection pool i.e. all channels in one connection pool have exactly one and the same configuration. With the coding above you always change the `CustomLogger`

take a look at the fix that I applied for `w

[2020-02-05 16:28] checketts commented on #988
OK adding in hashcode implementation fixed that custom logger. Thanks!

Was there any other testing or validation you would like me to do?

[2020-02-05 16:31] violetagg commented on #988
@checketts why do you use a custom handler and not one of the `wiretap` methods

[2020-02-05 16:32] checketts commented on #988
The wiretap outputs a bunch of hex with the text. So my custom one is just outputting the text. I only saw one wiretap option (`wiretap(boolean)`)

[2020-02-05 16:37] violetagg commented on #988
is your handler doing something like this https://github.com/netty/netty/pull/9915 (this will be in Netty 4.1.46)

there are several `wiretap` when you use `tcpConfiguration`

[2020-02-05 16:46] checketts commented on #988
Yes! That is pretty much what I need. (Though truly my wiretap efforts are a short term need to debug some prod issues)

[2020-02-05 16:51] violetagg commented on #988
OK I'll open a feature request in order to support this new functionality.
This issue I'll close as I committed a fix for `wiretap(String, LogLevel)`

[2020-02-05 16:51] #988 closed

[2020-02-05 16:55] violetagg opened #989 "Support ByteBufFormat option to LoggingHandler"
In Netty 4.1.46.Final a new option is added to LoggingHandler (ByteBufFormat)
https://github.com/netty/netty/pull/9915
The idea is to have `wiretap(String, LogLevel, ByteBufFormat)`
This feature request depends on Netty version

[2020-02-05 16:57] violetagg commented on #988
this is the feature request #989

[2020-02-06 11:25] #976 closed

[2020-02-06 11:27] violetagg commented on #938
Closing this issue. If it is needed we can reopen it.

[2020-02-06 11:31] violetagg opened #990 "Expose an API for custom handling of the X-Forwarded/Forwarded headers"
Based on the discussion here https://github.com/reactor/reactor-netty/pull/983#issuecomment-581844350

[2020-02-06 23:31] anilgursel opened #991 "Too much `Bootstrap` and Tcp configuration related objects created for each request"
The `configure()` method gets called from in `TcpClient#connect` with every single request.  Calling `configure()` causes too much of `BootStrap` cloning also other setup to be done again and again.  When connection pool is in use, is there a specific reason to keep running configuration with each request?  For instance, for the below code example with max 10 connections in pool, I see `TcpUtils.u

[2020-02-07 11:26] #925 closed

[2020-02-07 19:16] softwareklinic commented on #982
Any updates?

[2020-02-10 06:58] kiranmaiem commented on #965
@violetagg , Any update on the issue?

[2020-02-10 21:13] violetagg commented on #965
@kiranmaiem For the moment it is an issue in Netty https://github.com/netty/netty/issues/10015

[2020-02-11 15:38] violetagg commented on #965
@kiranmaiem The fix for the second issue will be available in Netty 4.1.46.Final.
If you are able to test 4.1.46.Final-SNAPSHOT, it will be great. (Netty's snapshot version is available here https://oss.sonatype.org/content/repositories/snapshots)

[2020-02-12 03:41] kiranmaiem commented on #965
@violetagg , thanks i will test and update the outcome.

[2020-02-12 08:17] violetagg commented on #991
@anilgursel We know about this issue and we are working on this (currently as part of 1.0.0.M1 backlog)

[2020-02-12 22:52] adriancole opened #995 "opt-out of connection retry"
As a part of http tracing interop, I noticed reactor-netty's HttpClient uniquely has a retry-once on connection-reset behavior, which is not possible to disable. I'd like to be able to disable this.

## Motivation
I'd like to improve the quality of trace instrumentation without disabling or special-casing the part that tests traces produced in connection error https://github.com/spring-cloud/sprin

[2020-02-13 11:31] violetagg opened #997 "HttpClient#doOnRequest does not provide the actual request data"

[2020-02-13 16:00] adriancole opened #999 "Allow retrieval of the http path including the "/" prefix"
It would be great to include the full HTTP path, not the path except the leading slashes, as that's the data used in trace tags, parsing and sampling. spring-cloud/spring-cloud-sleuth#1554

## Motivation
We are trying to reduce the overhead of reactor instrumentation in sleuth. While most of this is propagation related, the most commonly requested tag, "http.path" is the entire path, not the path

[2020-02-13 16:09] violetagg commented on #999
@adriancole Which one you need in your component

uri (HttpClientRequest#uri()) - which includes path, query, fragments
or
path (HttpClientRequest#path()) - which is just the path fragment from the uri

[2020-02-13 16:11] adriancole commented on #999
we need both, we have hooks for both, but the path is collected by default. There are many users who use the hook to get the full url (not just uri, actually fully constructed URL including query), just we don't collect that by default for security reasons.

[2020-02-13 16:14] adriancole commented on #999
in some cases, ex in armeria/netty, the URL can be tricky to construct because of the problem of who knows if it is https or not, and who knows the hostname. This is understood.. and I recall them having to change internals to have that work by default.

Anyway, the most important thing is the path, but yeah also getting who whole URL would be great.

[2020-02-13 16:17] adriancole commented on #999
in fact, one of the remaining test failures in sleuth is `supportsPortableCustomization()` which is failing only because we have to add code to reconstruct the whole URL given the uri

[2020-02-13 16:19] violetagg commented on #999
@adriancole you have the URL
Use HttpClientRequest#resourceURL()

[2020-02-13 16:22] adriancole commented on #999
@violetagg cool thanks, that works. sorry about the distractions.. we can focus this on the /path thing!

[2020-02-13 16:49] violetagg commented on #999
@rstoyanchev If we want to address this it will be an incompatible change. Wdyt?

[2020-02-13 17:03] adriancole commented on #999
one thing that possibly could be of interest is if this stripping was done for micrometer. I don't know this.. just guessing why we would remove slashes (as it is arguable that /foo/ is a different endpoint than /foo)

If this was originally the case, we should check that we aren't redoing them anyway in micrometer, because I think it has a tag normalizer that does things besides this (Ex trimming

[2020-02-13 17:05] violetagg commented on #999
@adriancole no it is not for micrometer, it is like this since ever https://github.com/reactor/reactor-netty/blob/0.6.x/src/main/java/reactor/ipc/netty/http/HttpInfos.java#L62

[2020-02-14 14:45] hanscrg commented on #938
@violetagg, Sorry response later. In cloud environment, system property way is preferable than  configuration file way. So yes we need those configuration as system properties. We are not sure when Spring security will expose those configuration. We are looking forward the release 0.9.5.

[2020-02-17 05:13] kiranmaiem commented on #965
@violetagg , I tested with netty 4.1.46 snapshot.

I am seeing below exception when client is trying to connect to server.
"Caused by: java.lang.IllegalArgumentException: Duplicate handler name: reactor.left.httpCodec"

io.netty.channel.ChannelPipelineException: reactor.netty.http.server.HttpServerBind$Http1OrH2CleartextInitializer$1.handlerAdded() has thrown an exception; removed.
	at io.netty.ch

[2020-02-18 05:01] kiranmaiem commented on #965
@violetagg , were you able to look into it?

[2020-02-18 05:58] #997 closed

[2020-02-18 07:14] violetagg commented on #965
@kiranmaiem can you try 0.9.5.BUILD-SNAPSHOT
I fixed the channel pipeline issue 1f22b7fd3f6ad48a7203e883b80428590cb5bd00

[2020-02-18 11:46] violetagg opened #1001 "Improve decoding failure handling"

[2020-02-18 11:56] limited107 opened #1002 "In Connection Provider Document, Different Fields Has Same Description (DEFAULT_POOL_MAX_CONNECTIONS and DEFAULT_POOL_ACQUIRE_TIMEOUT)"
## Expected Behavior

I wonder two different fields has same description.
https://projectreactor.io/docs/netty/release/api/reactor/netty/resources/ConnectionProvider.html

They have same description as below.
if -1 will never wait to acquire before opening a new connection in an unbounded fashion.

## Actual Behavior

DEFAULT_POOL_MAX_CONNECTIONS
[code]

DEFAULT_POOL_ACQUIRE_TIMEOUT
[code]
## Step

[2020-02-18 12:27] YuryYaroshevich commented on #796
I have the same error: Connection prematurely closed BEFORE response. I have the following config for http client:
[code]
Could someone please clarify what are possible reasons for this error? In what direction we need to investigate?

[2020-02-18 12:27] #1001 closed

[2020-02-18 12:31] violetagg commented on #796
@YuryYaroshevich If you have a reproducible example, please create a new issue with it.

[2020-02-18 12:56] #1002 closed

[2020-02-18 12:59] YuryYaroshevich commented on #796
@violetagg I have an application which sends dozens of requests here there and I see this error without any correlation with request type or 3rd party service. What example can I create? Could you please give me some clue on what can cause an error with such message?
`Connection prematurely closed BEFORE response`

[2020-02-18 13:05] violetagg commented on #796
@YuryYaroshevich this issue here was related to the `ConnectionProvider.elastic` usage.
You see `Connection prematurely closed BEFORE response` with `ConnectionProvider.fixed`, so let's not spam this issue.
I would suggest to move this discussion to [Gitter](https://gitter.im/reactor/reactor-netty). And the first thing that you should do is to take a tcp dump to see which party closes the connecti

[2020-02-18 13:07] violetagg commented on #1002
@limited107 Thanks for the report. I fixed `ConnectionProvider#DEFAULT_POOL_MAX_CONNECTIONS` javadoc
https://projectreactor.io/docs/netty/snapshot/api/reactor/netty/resources/ConnectionProvider.html#DEFAULT_POOL_MAX_CONNECTIONS

[2020-02-18 22:07] skmedishetty opened #1003 "Using reactor-netty:0.9.4 memory leak happening with PooledConnectionProvider size increasing over period of time"
Team,

We are facing memory leak issue and noticed pool connection provider increases as time goes on.
We are using cloudfoundry-client-reactor which requires reactor-netty.

PooledConnectionProvider {name=cloudfoundry-client, poolFactory=reactor.netty.resources.ConnectionProvider$$Lambda$52/34419690@a7d7100}
size = 383

Could you please help me to resolve the issue.

[2020-02-19 03:49] wunaidage opened #1004 "How to route outgoing traffic to proxy server in netty"
Hi, I have a hoverfly running on my local as proxy server. I want to route all my outgoing traffic to the hoverfly server. I have been trying java vm arguments and system properties until I read about System.setProperty or java vm arguments is not working for netty so I tried the solution provided in https://github.com/reactor/reactor-netty/issues/887#issuecomment-549439355
I modified the webclien

[2020-02-19 04:34] kiranmaiem commented on #965
ok , will update after trying

[2020-02-19 05:29] violetagg commented on #1004
Use [Gitter](https://gitter.im/reactor/reactor-netty) or [stackoverflow.com](https://stackoverflow.com/questions/tagged/reactor-netty) for questions.

We do have tests with Hoverfly so check your setup
https://github.com/reactor/reactor-netty/blob/master/src/test/java/reactor/netty/http/client/HttpClientProxyTest.java

[2020-02-19 05:29] #1004 closed

[2020-02-19 05:45] violetagg commented on #1003
@skmedishetty Can you provide more details? How do you configure CF Java Client? Can you test with 0.9.5.BUILD-SNAPSHOT?

[2020-02-19 06:29] kiranmaiem commented on #965
hi @violetagg , i tried the build and some times the response is sent to client and most of the times server is not sending response to client. Client is waiting for ever for the response.
[log-response-hanged.txt](https://github.com/reactor/reactor-netty/files/4223427/log-response-hanged.txt)
[log-success.txt](https://github.com/reactor/reactor-netty/files/4223442/log-success.txt)

[2020-02-19 06:55] violetagg commented on #965
@kiranmaiem and you are with both Reactor Netty 0.9.5.BUILD-SNAPSHOT and Netty 4.1.46.Final-SNAPSHOT? Is it possible to provide again a reproducible example?

[2020-02-19 08:41] violetagg commented on #982
@softwareklinic

I did the change below to your example and with that change I do not see issues:

[code]

[2020-02-19 08:58] PHameete commented on #560
This issue is still present in the current version 0.9.4.RELEASE taking multiple seconds for an initial request, and only milliseconds for subsequent requests.

We are using the openjdk:11-jre-slim Docker image which is based on Debian 10 and OpenJDK 11.0.6.

[2020-02-19 12:20] stu-mcd opened #1005 "Hang with max pool connections 1 and response_incomplete"
FYI I no nothing about reactor-netty however I came across the following whilst investigating a Java Azure blob storage read problem

With a PooledConnectionProvider with max connections 1 I am reading from an Azure blob (which internally uses reactor-netty). So the debug output looks like

    ### READ PART

    2020-02-19 10:14:10.298 DEBUG PooledConnectionProvider : [id: 0xa380713b, L:/IPADDR:4

[2020-02-19 12:30] rstoyanchev opened #1006 "Hook for redirect request handling"
`HttpClient` provides an option to follow server redirects and `HttpClientRequest` exposes the URL redirect chain as `String[]` via `redirectedFrom()`.

It would be useful to expose a global hook related to redirecting, possibly as `followRedirect` variants in `HttpClient` next to the existing ones, where the `redirectRequestConsumer` would be invoked before the request is committed in order to ap

[2020-02-19 13:40] stu-mcd commented on #1005
I just tried to hack a "fix", not having a clue how all this works this is of course not what I would expect a proper fix to look like. I changed PooledConnectProvider.run to check that the channel was active and if not to try and flag an error

    else if (current == null || !c.isActive()) { // #### Also close if channel not active
        registerClose(pooledRef, pool);
    }
    if (current !=

[2020-02-19 14:01] Athas1980 commented on #573
Is there any workaround until the point in time where such a time as support is added?

I see that SNIHandler exists as a class, but I've no idea how to inject one into the server on a spring configured project.

[2020-02-19 14:05] stu-mcd commented on #1005
Here is the debug logging for when it fails

    READ PART: 10345512
    2020-02-19 13:53:47.523 DEBUG PooledConnectionProvider : [id: 0xa0f5c3c1, L: - onStateChange(GET{uri=, connection=PooledConnection{channel=[id: 0xa0f5c3c1, L: - R:]}}, [disconnecting])
    2020-02-19 13:53:47.523 DEBUG PooledConnectionProvider : [id: 0xa0f5c3c1, L: - R:] Releasing channel
    2020-02-19 13:53:47.523 DEBUG Poo

[2020-02-19 14:09] #1006 closed

[2020-02-19 14:13] violetagg commented on #573
@Athas1980 see #885

[2020-02-19 14:21] Athas1980 commented on #573
Thank you I'm trying to adapt without changing the existing code. Also for the record I've asked a question about this on stack overflow that may want to be changed / answered when official support does exist.

https://stackoverflow.com/questions/60300555/spring-boot-reactor-netty-https-multiple-domains/60302001#60302001

[2020-02-19 14:38] skmedishetty commented on #1003
@violetagg  I cannot use snapshot build the issue is happening, we are not allowed to use snapshots.
More error details below issue
https://github.com/cloudfoundry/cf-java-client/issues/1035

The code is below as mentioned in the document.
https://github.com/cloudfoundry/cf-java-client

 @Bean
    @ConditionalOnBean(PropertySourcesPlaceholderConfigurer.class)
    public PasswordGrantTokenProvider

[2020-02-19 15:55] kiranmaiem commented on #965
[demo.zip](https://github.com/reactor/reactor-netty/files/4225846/demo.zip)

@violetagg , attached is the springboot project i used to test the scenario.

Yes i am using version you have mentioned.

Call flow i am testing is Python client (sctest.py in zip file, ran using pycharm tool).

Python client -> demo app -> ngnix website.

HTTP2 enabled entire path.

demo app uses netty server to receive

[2020-02-19 16:05] violetagg commented on #1003
@skmedishetty then I'll need some reproducible example.
@twoseat can you help with this?

[2020-02-19 16:21] skmedishetty commented on #1003
@violetagg @twoseat I need your help.. we are using this for high critical application which requires resilience.. to scale up/down in case of issues.

[2020-02-19 17:00] qcastel commented on #948
I am currently hitting this issue in Spring Cloud gateway.
It can be reproduced with the following curl:

[code]
(I am testing hoverfly in front of spring cloud gateway btw, https://hoverfly.io/, may help you reproduce the issue)

I thought I would try to see if it is fixed in 0.9.5 but unfortunately, there is still an NPE.

Seems like you re-introduce the bug two days ago, via 327e9b3 @violetagg

[2020-02-19 17:55] violetagg commented on #948
@qcastel can you provide more info?

I did the following:

Spring Gateway

[code]

Hoverfly started in capture mode

[code]

Then Spring Gateway requested like below and the response is received

[code]

Running with latest Reactor Netty 0.9.5.BUILD-SNAPSHOT

[2020-02-19 18:35] qcastel commented on #948
Ok so indeed, that wasn't that obvious to reproduce the issue.

Did manage to reproduce it in isolation at the end, I shared a demo repo here: https://github.com/qcastel/reproduce-netty-npe

Essentially two factors are triggering this issue:
1 - you need to proxy to spring cloud gateway
2 - you need to proxy something under https

Thanks for looking at this issue btw!

[2020-02-20 05:28] violetagg commented on #1003
it might be related to this fix https://github.com/reactor/reactor-netty/commit/643c6725486ee8e95b7e805ab8d4178feacf2b8c

[2020-02-20 06:32] violetagg commented on #965
@kiranmaiem with that project if I do `./gradlew dependencies`, I see that for `io.netty:netty-codec-http2` you do not use `4.1.46.Final-SNAPSHOT`. In IDE it is also visible that the dependency is the old one. Can you check again as the fix in Netty is in this module?

[2020-02-20 09:40] YQyangqian opened #1008 "Connection has been closed BEFORE response, while sending request body - keepalive timeout"
since i use spring cloud gateway which based on reactor-netty, i find that netty will use inactive connection to send request which may have been closed by peer. how can i solve it?
below is the debug log for channel id: 66195fdb

    2020-02-20 14:58:03.366  WARN 121 --- [reactor-http-epoll-15] r.netty.http.client.HttpClientConnect    : [id: 0xbb70120b, L:/xx.xx.xx.xx:40010 ! R:xx.xx.xx.xx/xx.xx.

[2020-02-20 09:45] violetagg commented on #1008
@YQyangqian `Connection has been closed BEFORE response, while sending request body` this means that the connection was active but for some reason the remote peer closed it while the client was sending the body. Can you check the tcp dump?

[2020-02-20 10:05] violetagg commented on #965
@kiranmaiem The plan for Reactor Netty is 24.02, but I cannot tell for Netty, better to ask them in the ticket https://github.com/netty/netty/issues/10015

[2020-02-20 10:09] YQyangqian commented on #1008
sorry i may have lost some log at the begining, i do not know why channel was cleaned and closed at 2020-02-20 14:58:03.361?

2020-02-20 14:58:03.359 DEBUG 121 --- [reactor-http-epoll-15] r.n.resources.PooledConnectionProvider   : [id: 0xbb70120b, L:/xx.xx.xx.xx:40010 - R:xx.xx.xx.xx/xx.xx.xx.xx:80] Channel acquired, now 1 active connections and 0 inactive connections
2020-02-20 14:58:03.359 DEBUG

[2020-02-20 10:15] violetagg commented on #1008
@YQyangqian So at the beginning Reactor Netty acquired the connection from the pool and it seems that it was an active connection

`[id: 0xbb70120b, L:/xx.xx.xx.xx:40010 - R:xx.xx.xx.xx/xx.xx.xx.xx:80] Handler is being applied`

the `-` means active

then the connection is closed

`[id: 0xbb70120b, L:/xx.xx.xx.xx:40010 ! R:xx.xx.xx.xx/xx.xx.xx.xx:80] Channel cleaned`

the `!` means closed

So you

[2020-02-20 14:54] YQyangqian commented on #1008
hi, i have find reason is that: ipvs keepalive timeout was set 900s, but netty keepalive timeout was not set in spring cloud gateway, so it use the system tcp keepalive timeout: 2700s.
so do i have any acess to set netty keepalive timeout in spring cloud gateway?

[2020-02-20 15:46] violetagg commented on #1008
you can use `maxLifeTime` property https://projectreactor.io/docs/netty/release/api/reactor/netty/resources/ConnectionProvider.html#fixed-java.lang.String-int-long-java.time.Duration-java.time.Duration-

this property is pretty new so it might be the case that it is not exposed by Spring Gateway, but then you can provide your own Http client and configure the `maxLifeTime` for the connections in t

[2020-02-20 16:32] #973 closed

[2020-02-20 16:48] skmedishetty commented on #1003
@violetagg  when are you releasing 0.9.5 the one which has fix ?

[2020-02-20 16:50] violetagg commented on #1003
@skmedishetty The plan is Monday 24.02

[2020-02-20 17:10] violetagg commented on #379
Connection pool configuration per remote host is added #973

[2020-02-20 17:10] #379 closed

[2020-02-20 17:30] skmedishetty commented on #1003
@violetagg  what are the packages you suggest enable  debug for troubleshoot.

[2020-02-20 17:34] violetagg commented on #1003
@skmedishetty depends what you want to debug

[2020-02-20 17:56] deci260 opened #1010 "Netty metrics OutOfMemoryError"
Using reactor-netty metrics causes a java OutOfMemory error when dealing with multiple requests at the same time.
I'm assuming it's a metrics issue because when disabling netty metrics it works fine.

## Steps to Reproduce (using spring-boot-starter-reactor-netty)

- Activate reactor-netty metrics:
[code]

- Perform multiple requests at the same time (In my tests I wrote a python script with 10 th

[2020-02-20 18:01] violetagg commented on #1010
@deci260 Can you give us more information - how is configured Spring Gateway, do you have a lot of URLs or just simultaneous requests to one and the same URL? Can you give us reproducible example?

[2020-02-20 18:13] skmedishetty commented on #1003
@violetagg  ok
Also how to handle this kind of exception Suppressed: reactor.core.publisher.FluxOnAssembly$AssemblySnapshotException: null
Its eating actual exception and unable to find it.

[2020-02-20 19:13] violetagg commented on #948
@qcastel I can reproduce it

[2020-02-20 19:16] violetagg commented on #1003
@skmedishetty `reactor-core-3.0.7.RELEASE.jar` is pretty old and is not supported anymore

[2020-02-20 20:08] deci260 commented on #1010
@violetagg Spring cloud gateway is configured to use different static routes and uses discovery locator. It is also configured to generate custom tags, which has caused no problem as of now. I first found out about this issue in-browser, while on a page that uses spring cloud gateway to load different resources (all requests are routed to the same route). I've also been able to reproduce it by doi

[2020-02-20 20:56] skmedishetty commented on #1003
@violetagg  yeah in newer version also how can we handle suppressed exceptions. I observed this in 3.3.0 too

[2020-02-21 01:29] YQyangqian commented on #1008
thanks a lot.

[2020-02-21 05:43] #1008 closed

[2020-02-21 05:46] violetagg commented on #1003
@skmedishetty Let's keep the discussion here to the memory leak issue. For any further questions on how to debug etc. I would prefer to use [Gitter](https://gitter.im/reactor/reactor).

[2020-02-21 05:52] violetagg commented on #1003
Closing as a duplicate of #988

[2020-02-21 05:52] #1003 closed

[2020-02-21 08:44] deci260 commented on #1010
After further analysis,  might not be a problem on your side. I am able to reproduce this issue when a certain number of tags are used. I also get this warning from reactor before the application starts dying:
```[reactor-http-epoll-5] WARN  r.n.h.MicrometerHttpMetricsRecorder$MaxUriTagsMeterFilter - Reached the maximum number of URI tags for meter name prefix [reactor.netty.http.server].```

[2020-02-21 09:49] deci260 commented on #1010
A reason for this error could be that netty creates a new uri tag for every new uri that is hit by a request instead of using a uri template. Here's why this could be a problem:
https://github.com/micrometer-metrics/micrometer/issues/458#issuecomment-367482930

[2020-02-21 12:29] violetagg commented on #1010
@deci260 thanks a lot

[2020-02-21 13:25] plxz opened #1012 "WebClient Connections stuck in `active` state after PrematureCloseException: Connection prematurely closed BEFORE response"
## Expected Behavior
after exchange all connections should be released to pool always - even if server is misbehaving
## Actual Behavior
we observe connections stuck in `active` state long after exchange ended

## Steps to Reproduce
Faulty connections correspond to following log entries:

[code]

Each such case seem to happen after `response_incomplete`
`12:34:11.069 [reactor-http-epoll-1] DEBUG r

[2020-02-21 13:52] plxz commented on #1012
[disruptor.log](https://github.com/reactor/reactor-netty/files/4236330/disruptor.log)
[disruptorlog-grepped-for-0x6c97fa4a.log](https://github.com/reactor/reactor-netty/files/4236331/disruptorlog-grepped-for-0x6c97fa4a.log)

[2020-02-21 15:26] violetagg commented on #948
@qcastel I committed a fix - dfb71cf. It would be great if you can test 0.9.5.BUILD-SNAPSHOT.

[2020-02-21 15:26] #948 closed

[2020-02-21 15:49] qcastel commented on #948
@violetagg Just tried on https://github.com/qcastel/reproduce-netty-npe and think the NPE is resolved now!

Although I do have another error:
[code]

I also simplified the reproduction steps to not have hoverfly and directly hit Spring cloud gateway.

I guess I will raise a new ticket on Spring cloud gateway this time!

[2020-02-21 15:51] violetagg commented on #948
@qcastel so the new failure is not in Reactor Netty?

[2020-02-21 15:58] qcastel commented on #948
Hard to tell, I don't get any logs this time. It could still be the netty rejecting the 'CONNECT' requests.
I raised it under https://github.com/spring-cloud/spring-cloud-gateway/issues/1576
I reproduced the issue there (I simplified the reproduction steps btw) https://github.com/qcastel/reproduce-spring-cloud-gateway-error

[2020-02-21 16:12] violetagg commented on #938
The properties are provided with commit a68ac6e

[code]

[2020-02-21 16:12] #938 closed

[2020-02-21 20:09] timothymathison commented on #722
Any updates on this? We're encountering this issue as well

[2020-02-22 08:00] violetagg commented on #722
@timothymathison We will try to address this for 0.9.6.RELEASE

[2020-02-24 02:27] msoub opened #1013 "NotYetConnectedException"
Might be related to #982.

We experience a `java.nio.channels.NotYetConnectedException` randomly while performing requests in parallel.
We have tried several connection provider strategies (fixed, elastic, new connection) through:
[code]
however none gets rid of the problem. Though it looks like when we use `ConnectionProvider.newConnection()` the exception is raised less often.

Here is the stack

[2020-02-24 06:37] violetagg commented on #1013
@msoub Can you provide some reproducible example?

[2020-02-24 07:11] msoub commented on #1013
[Here you go](https://github.com/msoub/reactor-netty-1013).

It looks like all the operators are necessary to reproduce the two bugs...

[2020-02-24 08:56] violetagg commented on #1013
@msoub Cannot reproduce neither on Mac OS nor on Ubuntu. Is to provide the whole stack trace not only part of it?

on Mac OS
[code]

on Ubuntu

[code]

[2020-02-24 14:21] msoub commented on #1013
The complete stack trace:
[code]

FYI here is the output of `./gradlew -v`
[code]

[2020-02-24 14:22] hanscrg commented on #938
@violetagg, Thanks for the update. What release will have this enhancement? For the application which does not directly create Netty HTTP client (Spring Security does it in our case and it may not expose this configuration), how we set the POOL_LEASING_STRATEGY in our application? For cloud application, environment variable is our preference. Is it possible to set this configuration as environment

[2020-02-24 15:24] violetagg commented on #938
@hanscrg The release is `0.9.5.RELEASE`

System properties
[code]

[2020-02-25 01:56] msoub commented on #1013
The logs are showing `ByteBuf` leaks too:
[code]

[2020-02-25 02:50] msoub commented on #1013
@violetagg I have updated the tests. Could you please try again?

[2020-02-25 08:55] t1mek1ller commented on #1012
Also encountered this problem,  this connections seemed to be leaking. The permit was not returned to pool, then every new request throwed `PoolAcquireTimeoutException`. The stack trace is as follows:

[2020-02-25 09:13] martinkrc commented on #1012
Hi, is there any known work-around? What is the impact in case of elastic pools?

[2020-02-26 06:48] msoub commented on #1013
After the tests have run, many sockets remain open which cause a big resource leak: `lsof -i | grep java | grep CLOSE_WAIT`.

[2020-02-26 10:17] t1mek1ller commented on #1012
I think I have found the cause for this bug. The `PooledConnection`  does not release the tcp connection when the connection observe a `HttpClientState.RESPONSE_INCOMPLETE` state.

`HttpClientState.RESPONSE_INCOMPLETE`  is listened separately in `HttpClientOperations.onInboundClose `
[code]

But the `PooledConnection` does not  release the underlying tcp connection  when state is not `DISCONNECTIN

[2020-02-26 12:06] violetagg commented on #1012
@t1mek1ller `onInboundClose()` is invoked when the channel becomes inactive, at that point the channel is closed. We have a hook that will invalidate the channel from the pool.
https://github.com/reactor/reactor-netty/blob/v0.9.5.RELEASE/src/main/java/reactor/netty/resources/PooledConnectionProvider.java#L570
When you see `Connection prematurely....` exception can you correlate all logs using the

[2020-02-26 12:32] violetagg commented on #1012
@plxz @t1mek1ller @martinkrc Do you think you can build Reactor Netty with the patch below and test?

[code]

@simonbasle When I switch from `pooledRef.invalidate` to `pooledRef.release ` I do not see the issue. I'm testing the provided reproducible example on Ubuntu.

[2020-02-26 15:43] plxz commented on #1012
That's precisely what `disruptorlog-grepped-for-0x6c97fa4a.log` is, see my first comment with attachements.

@violetagg I just tested it basing your proposed change on
[code]

I was still able to reproduce issue. Logs seem to tell the same story.

[2020-02-26 17:20] PyvesB commented on #501
This may have changed since you first posted this issue, but as far as I can tell, `TcpClient` uses `InetSocketAddressUtil` to create unresolved addresses. No cache will be used at that point. DNS resolution itself seems to be performed at a later stage, when Netty's `InetSocketAddressResolver` class is called.

Implementing a custom DNS resolver in `TcpClient` should already be possible with a bi

[2020-02-26 22:08] sleoniy commented on #528
No updates? We are just going to leave sockets open?

[2020-02-27 02:48] skmedishetty commented on #988
@violetagg @twoseat I upgraded 0.9.5 reactive-netty and cloud-foundry to 4.4.0 now I don't see memory issue but see below error
org.cloudfoundry.reactor.util.Operator$ResponseReceiver$InvalidTokenException
It runs for couple of hours and I see this issue.

Do you guys have idea why it fails after couple of hours ?

[2020-02-27 04:02] checketts commented on #988
This is because of the latest change in cloudfoundry-java-client 4.4.0 (https://github.com/cloudfoundry/cf-java-client/pull/1029)

Before it would retry unlimited times to refresh the token when it expired. Now it just does 5 times (though it is configurable). So you'll probably want to add your own retry/resumeOnError to your code.

We could move this to stackoverflow if you have more questions.

[2020-02-27 14:31] skmedishetty commented on #988
@checketts  I changed timeout to 20 seconds even after that it timeout.
Here is what happening... after application runs for couple of hours the time to get token and applications details both taking long time eventually always timeout.. we are in situation where even retry not working.

Why things becoming slow when system run for long duration.. did we tested this using new jars?

[2020-02-27 15:18] checketts commented on #988
I just upgraded yesterday and am also seeing this behavior. I'm seeing my heap getting filled up, so the slowness is likely due to another leak. I'll try to do a dump today and see if I can get some analysis.

I had been running with the SNAPSHOT version fine when this had gotten fixed, so it must be something new.

That is a CloudFoundry config (I haven't operated my own CF, so I don't know much

[2020-02-27 20:10] checketts commented on #988
Nevermind. When I had 'upgraded' I had a typo and had actually downgraded. So at this point reactor-netty 0.9.5 and cloudfoundry-java-client 4.4.0 are both working great.

[2020-02-27 21:13] skmedishetty commented on #988
@checketts  can you please share the config where you are initiating client. also what is the spring boot version you are working on ?

[2020-02-28 08:00] violetagg commented on #988
@checketts @skmedishetty Please move the discussion to the appropriate channels. I don't think this issue is the right place.

[2020-02-28 08:20] violetagg commented on #528
@sleoniy what is your Reactor Netty version?

[2020-02-28 09:24] evgenyvsmirnov opened #1016 "Backpressure for HTTP requests doesn't prevent OutOfMemoryError"
Please have a look at the following test. It is comprised of the REST controller and the test which sends a request
with a generated 2GB text payload using java.net.http.HttpClient.
The REST controller (WebfluxUploadController) incorporates the following classes:
* RequestBodySubscriber – establishes a subscription to a request body, collects body fragments (DataBuffers) into a concurrent list. Th

[2020-02-28 10:17] checketts commented on #988
@violetagg agreed. Sorry for the noise.

@skmedishetty this belongs on stackoverflow as a question or as an issue on the cloudfoundry-java-client if you think it is a regression.

[2020-02-28 10:48] violetagg commented on #965
Netty updated to 4.1.46.Final 5fde036f7b81825e36e1b2c815846a54df13c2b5

[2020-02-28 10:48] #965 closed

[2020-02-28 10:49] violetagg commented on #939
Netty updated to 4.1.46.Final 5fde036f7b81825e36e1b2c815846a54df13c2b5

[2020-02-28 10:49] #939 closed

[2020-02-28 10:50] violetagg commented on #906
Netty updated to 4.1.46.Final 5fde036f7b81825e36e1b2c815846a54df13c2b5

[2020-02-28 10:50] #906 closed

[2020-02-28 13:58] t1mek1ller commented on #1012
@violetagg After adding some logs and trying many tests（OMG！A long story..）, I found the hook you mentioned did not take effect because it held an old `PooledRef<PooledConnection>`.

When the `PooledRef<PooledConnection>` is released ,  it will create a new `PooledRef<PooledConnection>` instance and return it to the pool.  Although the hook is invoked after the underlying channel is closed, `poolR

[2020-02-28 14:23] skmedishetty commented on #988
@violetagg  I will check in stackoverflow.

[2020-02-28 18:17] violetagg commented on #1012
@t1mek1ller thanks a lot for analysis. Can you try this PR #1017

[2020-02-28 19:36] #1012 closed

[2020-02-28 19:54] violetagg commented on #1012
the fix is in 0.9.6.BUILD-SNAPSHOT if you can test it

[2020-02-28 19:56] violetagg commented on #1005
@stu-mcd Can you test 0.9.6.BUILD-SNAPSHOT? It might be related to #1017

[2020-03-02 06:37] odbuser2 commented on #938
@hanscrg opened an issue in spring-security to expose these properties but it was declined.  They suggested that it should be exposed by spring-boot.

https://github.com/spring-projects/spring-security/issues/7985

[2020-03-02 18:23] philsttr commented on #710
We hit this problem during a DDoS attack on one of our systems, and have been able to reproduce it fairly reliably in load tests.  Having this problem solved by default, without having to configure a custom resolver would be great!  Looking forward to the fix.

[2020-03-03 08:28] plxz commented on #1012
Tested it with 0.9.6.BUILD-SNAPSHOT and seems to work fine. Thanks!

[2020-03-03 15:32] anilgursel commented on #991
@violetagg any estimation when 1.0.0.M1 would be available?

[2020-03-03 15:49] stu-mcd commented on #1005
Hi. I'll be able to give this a try on either Wed or Thurs. Thanks.

[2020-03-04 05:08] msoub commented on #1013
@violetagg were you able to reproduce the problem?

[2020-03-04 11:08] stu-mcd commented on #1005
Just gave it a quick run. It doesn't fix the problem and there is now a java cast exception

[FAIL-LOG.txt](https://github.com/reactor/reactor-netty/files/4286932/FAIL-LOG.txt)

Sorry, not had the time to look through this fully.

[2020-03-04 13:24] violetagg commented on #1005
@stu-mcd Can you try again the snapshot
I fixed the class cast 280eb7736ade8b59b662473ab414d0014704d4ef
and added check for channel not active aa4eb3083250d00cdf793c016c0757362968efda

[2020-03-04 13:35] violetagg commented on #991
@anilgursel May be end of May, there is no concrete date at the moment.

[2020-03-04 15:15] stu-mcd commented on #1005
That seems to work now. The log it notes the premature close (depending on when the reset occurs) and then the SslProvider being init'ed.
[WORK-log.txt](https://github.com/reactor/reactor-netty/files/4288017/WORK-log.txt)

[2020-03-04 17:19] violetagg commented on #1005
@stu-mcd so is it OK now? Can we close this issue?

[2020-03-05 09:09] stu-mcd commented on #1005
Yes. I left it running overnight and it's all good now.

[2020-03-05 09:09] #1005 closed

[2020-03-05 09:12] violetagg commented on #982
Closing as there is no response from the author. We can reopen it if it is needed.

[2020-03-05 09:12] #982 closed

[2020-03-05 12:13] violetagg commented on #1013
@msoub I believe the issue is in the sample itself.

You are using `Mono.zip` here

https://github.com/msoub/reactor-netty-1013/blob/master/src/main/kotlin/com/edgelab/reactornetty/ReactorNettyApplication.kt#L74

and here you return `Mono.empty()` from time to time

https://github.com/msoub/reactor-netty-1013/blob/master/src/main/kotlin/com/edgelab/reactornetty/ReactorNettyApplication.kt#L99

Acco

[2020-03-05 19:41] violetagg commented on #995
@adriancole PTAL #1019

[2020-03-06 05:16] msoub commented on #1013
Thanks for the detailed answer! Indeed, it makes sense from the Netty's perspective. However, I'm a bit concerned that a Mono not returning a valid value can have such consequences on the application.

[2020-03-06 05:26] violetagg commented on #1013
@msoub why don't you try https://projectreactor.io/docs/core/release/api/reactor/core/publisher/Mono.html#zipDelayError-reactor.core.publisher.Mono-reactor.core.publisher.Mono-

Other than that you have to be careful with operators that cancel the incoming data, because if you do not consume the full incoming data, the connection will be closed and not returned to the pool.

[2020-03-06 05:26] #1013 closed

[2020-03-07 11:24] martin-tarjanyi commented on #560
@violetagg @bclozel
Is it possible to eagerly trigger the slow Netty initialization as part of the application startup, so the first slow web client call wouldn't effect the actual users of the application?

[2020-03-09 12:25] hushrush opened #1021 "cannot find the merge for CVE-2020-5404: Authentication Leak On Redirect With Reactor Netty HttpClient"
Hi there
I wanna know more detail about CVE-2020-5404: Authentication Leak On Redirect With Reactor Netty HttpClient. ，but can not find issuse about it.
also can not find the merge  for it.
it has been fixed in 0.9.5 according to the pivotal com.
so where is the merge and issue about CVE-2020-5404?
thanks.

[2020-03-09 12:34] hushrush commented on #1021
https://pivotal.io/security/cve-2020-5404

[2020-03-09 13:10] hushrush commented on #1021
https://github.com/reactor/reactor-netty/commit/c6f7e48c83b36975024e3bd3f828a8c83c651e41
is it the commit for  CVE-2020-5404?

[2020-03-09 16:13] violetagg commented on #1021
For any security related issues, please use https://pivotal.io/security

[2020-03-09 16:27] violetagg opened #1022 "Support Graceful Shutdown"
The current solution is

Stoping the `ServerSocketChannel` so that no more connections are accepted

[code]

Disposing the `LoopResources` with a delay in order to close the current active connections.

[code]

or

[code]

We need a solution to be able to dispose the `LoopResources` as soon as there is no active connections instead of waiting a fixed time.

[2020-03-09 21:30] maczikasz opened #1023 "How to properly warmup connection pool"
Hey team. I am creating an application that needs to call another microservice, and add the minimum possible amount of latency doing so. So for that I wanted to give netty and the Spring webclient a try.

On the first try i saw that calling the first time the netty version was much slower than the simple RestTemplate based ones, after some debugging and trace logging I realized that the reason thi

[2020-03-10 07:43] cdmatta commented on #1010
The root cause for the memory leak is the following

There is an internal map used for collecting the micrometer meters.

MicrometerHttpMetricsRecorder.java
[code]

MicrometerHttpClientMetricsRecorder.java
[code]

The uri value used to create the MeterKey is NOT templated. Meaning for each different value used in a URI (path param for ex), the keys in the Map will continue to grow thereby resultin

[2020-03-10 11:49] rstoyanchev commented on #999
I do agree that stripping the leading and trailing slash is unusual. However, given that it's existing behavior, and based on the way it's documented I see no room for changing that. I can only imagine an alternative method, something like `fullPath`.

[2020-03-10 22:25] violetagg commented on #999
@adriancole PTAL #1025

[2020-03-11 15:16] #999 closed

[2020-03-12 12:44] violetagg opened #1027 "Connection is not returned to the pool when follow redirect is enabled"

[2020-03-12 21:32] Fetsivalen commented on #35
Hi,
Is there any plans to support half-closed state?
Or maybe some recomended workaraund exists?

[2020-03-16 18:07] #1027 closed

[2020-03-17 10:53] rstoyanchev commented on #1023
Is this with Spring MVC or WebFlux? Could how you describe how you are executing the requests? Do you have anything that ties the problem to the connection pool specifically, or are you just seeing that a warmup helps?

If would be most helpful if you provided an actual sample with exact dependencies.

[2020-03-17 10:54] violetagg commented on #1023
@maczikasz Do you use Spring WebFlux or Spring MVC? From the example I can see that you utilise the WebClient but there is nothing for what you use as a server.

[2020-03-17 10:56] rajeevprasanna commented on #782
how come retry works? when connection pool is not freed up, retry also fails right?

[2020-03-17 11:06] violetagg commented on #1023
Also can you enable the metrics on the client like this:

[code]

add to the pom.xml

[code]

in application.properties add `management.endpoints.web.exposure.include=health,info,metrics,prometheus`

When you execute the first request access the metric below in order to see the connect time

`curl http://localhost:8080/actuator/metrics/reactor.netty.http.client.connect.time`

[2020-03-17 11:23] violetagg commented on #35
@Fetsivalen Did you try the latest release?

[2020-03-17 13:24] #35 closed

[2020-03-17 13:25] violetagg commented on #35
@Melozzola @Fetsivalen tested this with the latest 0.9.x and it is working
the test case a40c949

[2020-03-18 00:40] Fetsivalen commented on #35
@violetagg I missed that option. Thanks, i't looks like it will cover my case.

[2020-03-18 07:48] asdf2014 commented on #641
Hi, @violetagg. The `keepAlive` parameter is currently enabled on my Netty server. Will the problem be triggered after receiving a short TCP connection?

[code]

[2020-03-18 07:52] violetagg commented on #641
@asdf2014 This issue is for `operation timed out`. Please open a new issue and describe your scenario as well as the Reactor Netty version.
Thanks

[2020-03-18 07:53] asdf2014 commented on #641
@violetagg Sure.

[2020-03-18 09:41] violetagg commented on #1016
@evgenyvsmirnov will you be able to test #1030

[2020-03-18 13:56] #995 closed

[2020-03-18 17:04] rstoyanchev commented on #1016
Note that with Reactor operators the issue does not occur:

[code]

[2020-03-18 17:22] violetagg commented on #1016
@evgenyvsmirnov

When `receiverFastpath` is `false` you will enter `reactor.netty.channel.FluxReceive#drainReceiver`
where `reactor.netty.channel.FluxReceive#terminateReceiver` will be invoked and the error will be provided.
Do you see something else?

[2020-03-19 02:51] adriancole opened #1031 "Provide HttpClientResponse.request() api"
Let's add an api that makes it easy to tell which request of caused the current response.

## Motivation
On implicit retry and redirect, which request caused the response could be somewhat unclear. Also, some code the user is unaware of could have modified the request. In tracing, it is helpful to know the exact request line and properties a response hook received. This is not just useful at react

[2020-03-19 07:07] adriancole commented on #1031
FYI right now, we rely on implementation detail that the response is also the request. it may still be nicer to provide a casting getter of the request type.

[2020-03-19 08:20] yechao4j opened #1032 "Connection timeout to Netty Server"
My springcloud gateway project start with default netty configurations. My own global filter costs 500ms, and under hign load test at 300 concurrent threads, then type command like below:
[code]
it seem like Recv-Q is full, then the nginx before the gateway throw errors:
[code]
I don't understand how this happens, maybe my gateway netty configuration wrong?
Here is the minimal reproducible project

[2020-03-19 08:33] violetagg commented on #1032
@yechao4j I would say that the issue is that you block the event loop. Try to use different thread pool for the sleep.

[2020-03-19 09:01] yechao4j commented on #1032
@violetagg  Thread.Sleep is my sampler, in my real production scenario, the filter will get data from other service, sometimes it may costs more than 500ms. Like you say it blocked the event loop. Is there a good way to fix this problem?

[2020-03-19 09:15] violetagg commented on #1032
@yechao4j Check this https://projectreactor.io/docs/core/release/reference/#faq.wrap-blocking

[2020-03-19 09:18] yechao4j commented on #1032
@violetagg  Thanks very much, i try it first.

[2020-03-19 10:07] yechao4j commented on #1032
@violetagg To use `Schedulers.boundedElastic()`, may i need to upgrade reactor-core version to 3.3.3.RELEASE？Cuurent is 3.2.11.RELEASE.

[2020-03-19 10:33] violetagg commented on #1032
@yechao4j it is `Schedulers.elastic()` in the older versions without boundary

[2020-03-19 11:46] evgenyvsmirnov commented on #1016
@violetagg

I set a breakpoint inside «if (err instanceof OutOfMemoryError)» and ran the test with -Xmx30M. You are right that drainReceiver was called (at the last but one line of FluxReceive#onInboundError) but the first condition inside evaluated to true therefore the call returned without subscriber.onError call.

[2020-03-19 11:51] evgenyvsmirnov commented on #1016
@rstoyanchev

I’m ill-informed about under-the-hood mechanics of your example but the discrepancy I spotted is the number of buffers the subscribers request. In my test it is 1 buffer in yours its is 24 (breakpoint inside FluxReceive#request). On top of that there must be some aggregation logic between the FluxReceive and the final consumer which drains the queue but prevents additional requests f

[2020-03-19 13:14] maczikasz commented on #1023
the app in our porduction is based on websockets, but the call is happening inside a kotlin co-routine on the IO dispatcher, the example app is based on spring boot web and webflux, just for easier understanding as the behaviour is exactly the same.

I figured it's the connection pool settings, because if I enable TRACE logs, I see that there is a lot of work being done on the first startup of the

[2020-03-19 13:33] violetagg commented on #1023
It will be interesting to see these logs, the only thing that happens when you hit the request (from connection pool point of view) is the actual connection to the remote peer. So here you may hit some DNS resolution.

So the metrics that are interesting are

curl http://localhost:8080/actuator/metrics/reactor.netty.http.client.connect.time
curl http://localhost:8080/actuator/metrics/reactor.netty

[2020-03-19 14:51] maczikasz commented on #1023
Without warmup:
https://gist.github.com/maczikasz/cc2b0e78f56c836d7dff2bc7dc3addb5

with the respective prom metrics
{"name":"reactor.netty.http.client.connect.time","description":"Time that is spent for connecting to the remote address","baseUnit":"seconds","measurements":[{"statistic":"COUNT","value":2.0},{"statistic":"TOTAL_TIME","value":0.006522804},{"statistic":"MAX","value":0.006108567}],"av

[2020-03-20 07:40] violetagg commented on #1022
@rstoyanchev @wilkinsona PTAL #1034
What do you think about this approach?

[2020-03-20 10:46] violetagg commented on #1032
I'm closing this. If there is an issue in Reactor Netty we can reopen it.

[2020-03-20 10:46] #1032 closed

[2020-03-20 11:32] violetagg commented on #528
I'm closing this. If there is Reactor Netty issue we can reopen it.

[2020-03-20 11:32] #528 closed

[2020-03-20 11:39] violetagg commented on #546
I'm closing this. We rewrote this functionality. If we need to add something in addition to the new functionality, please open a new issue.

[2020-03-20 11:39] #546 closed

[2020-03-20 13:59] deepak-auto commented on #1022
Hello @violetagg,

I am following up on your comment on this [StackOverflow question](https://stackoverflow.com/questions/60746294/how-to-handle-reactor-netty-terminating-a-request-in-spring-webflux?noredirect=1#comment107489187_60746294). It seems like this issue tackles graceful shutdown of the `reactor-netty` server. However, the feature I am looking for is graceful shutdown of a request cancel

[2020-03-20 14:52] violetagg commented on #1022
@deepak-auto let's use [Gitter](https://gitter.im/reactor/reactor-netty) to this in order to not hijack this issue.

[2020-03-20 21:03] martin-tarjanyi commented on #1023
Isn't this issue duplicate of this one?
https://github.com/reactor/reactor-netty/issues/560

[2020-03-20 21:27] maczikasz commented on #1023
possibly yes

[2020-03-21 15:09] codefromthecrypt opened #1036 "Allow decoration of Mono<Connection>"
We'd like a means to decorate the `Mono<Connection>` created in the HttpClient's `MonoHttpConnect.subscribe()` without resorting to static hooks. If we had an explicit hook, context propagation would be easier to follow and likely more performant.

## Motivation
Right now, sleuth resorts to [static hooks](https://github.com/spring-cloud/spring-cloud-sleuth/blob/master/spring-cloud-sleuth-core/src/

[2020-03-23 06:16] yangbongsoo opened #1037 "Wiretap enable option cause Connection reset by peer"
## Steps to Reproduce
I made sample project please git clone and run
https://github.com/yangbongsoo/webclient-test

## Expected Behavior
not only request and response has no problem but also inactivate connection task is fine.

## Actual Behavior
request, response is ok. but when inactivate connection task is progress, the error is happend.
[code]

## Possible Solution
I found wiretap disable can

[2020-03-23 08:07] violetagg commented on #1037
@yangbongsoo When you enable `wiretap` functionality you see the network traffic + additional debug information (for example all state transitions like WRITE, CLOSE, EXCEPTIONS etc.), because of that you see `Connection reset by peer`.

The problem is in the server. The server closes the connection with RST.
try-with-resources statement closes the streams.

https://github.com/yangbongsoo/webclient

[2020-03-23 08:07] #1037 closed

[2020-03-23 09:15] #1022 closed

[2020-03-23 09:21] violetagg commented on #495
Feature is made available as part of #1022

[2020-03-23 09:21] #495 closed

[2020-03-23 09:47] violetagg commented on #1016
quick fix was committed for these releases - e53e712607cbb3e5b3610d45d7181265c17837b1
for the next releases we can revise it + the issue with the exception not propagated.

[2020-03-23 10:48] wilkinsona commented on #1022
This looks good to me, @violetagg. Thank you.

[2020-03-24 04:42] phan-pivotal commented on #639
Waiting for this, too.

[2020-03-24 21:17] GaelGirodon opened #1038 "PrematureCloseException: Connection prematurely closed BEFORE response in load testing"
## Expected Behavior

Reactor Netty (in Spring Cloud Gateway) should be able to handle a high request rate with many concurrent connections.

## Actual Behavior

During a load testing using [vegeta](https://github.com/tsenart/vegeta), when I try to send 500 requests/sec with up to 50 concurrent workers, Spring Cloud Gateway fails handling some of the requests (less than 1%, but this ratio becomes

[2020-03-25 07:03] violetagg commented on #1038
@GaelGirodon We have fixes in 0.9.6.RELEASE related to the connection pool, please test with that version and share the results.

[2020-03-25 07:12] violetagg opened #1039 "Revise when trowing AbortedException, PrematureCloseException and InternalNettyException"
Related to https://github.com/spring-projects/spring-framework/issues/24596

https://github.com/reactor/reactor-netty/commit/5059f86a8e3c6e00d0859d56f869f704019cef61#diff-03cecb2a278ad2453fcf6a85575dae60

[2020-03-25 10:46] GaelGirodon commented on #1038
Thank you for your prompt response! I upgraded to 0.9.6.RELEASE and it seems much better! I don't get this exception anymore but I still have some performance issues with a high rate and many concurrent workers.

Some results of my load testing (mean latency in ms), with a basic route and a route with multiple Gateway filters:

| Req/s / Workers | 1 / 1 |  10 / 1 | 50 / 10 | 100 / 20 | 500 / 50 |

[2020-03-25 10:53] violetagg commented on #1038
@GaelGirodon Please provide some reproducible scenario.

[2020-03-25 11:02] GaelGirodon commented on #1038
@violetagg The load testing results are associated with the scenario from the issue description (see `Steps to Reproduce`) but it may not be very quick to reproduce as it is necessary to setup a load testing environment.

Maybe I should open an issue in the Spring Cloud Gateway repository as they should be able to reproduce this scenario easily.

[2020-03-25 11:35] violetagg commented on #1038
@GaelGirodon

[code]

so the issue is existing if the target server endpoint does nothing?

that would be better

this is with elastic or fixed connection pool?

[2020-03-25 11:45] GaelGirodon commented on #1038
@violetagg

The issue seems to be caused by the gateway not being able to respond fast enough on this endpoint with a high rate and many concurrent workers (too much opened connections?). I'm using the same stub server (a simple "echo" HTTP server written in Go) on each test machine (Camel/CXF/Karaf server and Spring Cloud Gateway server) and I don't have these performance drops with the Camel/CXF

[2020-03-25 11:56] violetagg commented on #1038
Is it possible that you exhaust the system resources?
What's the behaviour if you use fixed connection pool?

[2020-03-25 12:17] GaelGirodon commented on #1038
It's a possibility yes. The VM has 2 vCPU (Intel(R) Xeon(R) Platinum 8160 CPU @ 2.10GHz), 8 GB of RAM and 130 GB of HDD. But the VM with the Camel/CXF/Karaf stack has approximatively the same hardware configuration (a bit older and no Nginx reverse proxy) and I don't have such performance drops on this one.

[code]

Test results (with 500 req/s and 50 workers):

- Mean latency: 52ms
- Results: 495

[2020-03-25 13:48] violetagg commented on #1038
@GaelGirodon I'm trying to minimise the scenario.
If you remove the rewrite filter do you receive the same numbers?
If you remove Nginx do you receive the same numbers?

[2020-03-25 14:39] GaelGirodon commented on #1038
You're right! I should have tried to bypass Nginx before.

I didn't expect Nginx to cause this problem (I mean... it's not Nginx's fault, but having a reverse proxy in front of the gateway, on the same machine, seems to cause this problem). I cannot explain this behavior precisely (too many opened connections within the same machine, I/O limitations?).

| Req/s / Workers | 1 / 1 |  10 / 1 | 50 / 1

[2020-03-25 15:31] jeremy-florte opened #1041 "[TCPCLient - Metrics] Metrics create a Gauge per connection instead of only one before"
Stack Overflow question here: https://stackoverflow.com/questions/60833197/reactor-netty-change-of-behavior-in-connection-pool-metrics

## Expected behavior
When activating metrics on the a TCP Client, we are able to track the total (active and pending) number of connections.

In Spring Boot 2.2.2.RELEASE (Reactor Netty 0.9.2.RELEASE), I had exactly one Gauge, no matter how many calls I do to my a

[2020-03-25 15:40] violetagg commented on #1038
@GaelGirodon Great! May be it is better to install Nginx on a separate host to avoid sharing the system resource like CPU/ulimit.

[2020-03-25 15:40] #1038 closed

[2020-03-25 16:25] alexguzun opened #1042 "Graceful shutdown for TcpServer"
## Motivation
The https://github.com/reactor/reactor-netty/pull/1034/ PR introduced the Gracefull shutdown for `HttpServer`.
I believe the same functionality for `TcpServer` would be very useful.

[2020-03-25 19:10] violetagg commented on #1041
@jeremy-florte There is an issue and I'm working on a fix.

However the code below is not quite correct (except if you want to close the connection always)

[code]

This `response.releaseBody()` returns a Publisher so you need to subscribe in order to trigger the execution.

I can propose the code below (just for this example as I do not know your real scenario)

[code]

Also as a workaround of th

[2020-03-26 07:53] yechao4j opened #1044 "Why Backlog is 0"
When i start Springcloud gateway in 'Alibaba Cloud Elastic Compute Service', i found
[code]
Send-Q is 0, but 'somaxconn' is 262144
[code]
Is anything problem with server?
netty version is 4.1.38.Final, reactor-netty 0.8.10, core 3.2.11

[2020-03-26 08:02] violetagg commented on #1044
@yechao4j version 0.8.10 is almost 1 year old. Please first upgrade to the latest version.

[2020-03-26 08:07] yechao4j commented on #1044
@violetagg need time to upgrade to the latest version, it will be ok ?

[2020-03-26 09:21] jeremy-florte commented on #1041
Hi @violetagg,

Thanks for your reply.
The provided code does not reflect my real app scenario at all (that is a kind of gateway for 5 others API), it was a 'quick & dirty' example to reproduce the issue.

But your point about the releaseBody() is perfectly valid by the way. I never use exchange() in real world app on did not pay attention to the method signature. My bad.

I tried the workaround w

[2020-03-26 09:25] violetagg commented on #1041
@jeremy-florte Enabling metrics on `ConnectionProvider` level gives you information only for the connection pool, while when it is done on `TcpClient`/`HttpClient` level it gives you information on `TCP`/`HTTP` level.

[2020-03-26 09:39] jeremy-florte commented on #1041
The connection pool is the key point of what I wanted to track, so it is in fact a better approach than the one I previously used. I learned by failing ^^

Just a remark about what you said before:

I don't see that. The misuse of releaseBody() gave me a total connections different from 0, most of the times, the max connections configured here, 5.

With releaseBody() used accurately, I get 1 conne

[2020-03-26 10:04] violetagg commented on #1041
@jeremy-florte Do you use 0.9.5.RELEASE or 0.9.6.RELEASE? Please check with 0.9.6.RELEASE.

[2020-03-26 10:24] jeremy-florte commented on #1041
@violetagg no change with the 0.9.6.RELEASE (but nice to known the 0.9.6 is available, I was expecting for it for another issue):

With an invalid releaseBody() usage:

[code]

With a valid one:

[code]

[2020-03-26 11:25] violetagg commented on #1041
@jeremy-florte For the issue in the previous comment follow this https://github.com/spring-projects/spring-framework/issues/24788

[2020-03-26 11:51] jeremy-florte commented on #1041
@violetagg Yes, 'saw it. Many thanks for the quick answers, explanations/workaround, and routing to Spring people for the other issue. You saved my day ^^

[2020-03-27 10:13] jsAlcyon commented on #783
Being a newbie to  ReactorNetty I am fighting with the redesign of  my Netty Tcp server to reactor Netty. The problem I am not able to pass over is how to inject my working pipeline configuration to the  TcpServer.  doOnConnect does not work as you explained because initChannel was already called. Could you provide please a simple example how to do this. Sorry for the low level question but it rea

[2020-03-27 11:30] violetagg commented on #783
@jsAlcyon ask your questions here [Gitter](https://gitter.im/reactor/reactor-netty)

[2020-03-27 20:52] hanscrg commented on #938
@violetagg, I tried to start Spring boot application with arguments like
... org.springframework.boot.loader.JarLauncher -Dreactor.netty.pool.maxIdleTime=60000 -Dreactor.netty.pool.leasingStrategy=lifo
it does not seems to take effective on the Netty client created by Spring Security.  The above mentioned issue is still there. How can we tell Netty actually does set leasingStrategy to lifo? Any lo

[2020-03-28 05:26] violetagg commented on #938
@hanscrg check which Reactor Netty version is used by Spring Security

[2020-03-28 20:36] karlnicholas commented on #589
It certainly seems to be a problem to me. All this webflux is supposed to make my life easier but here is cannot simply define a Flux of Strings to be processed. Seems lacking.

[2020-03-29 05:24] evgenyvsmirnov commented on #1016
It helped. Thanks!

[2020-03-30 09:40] rstoyanchev commented on #589
@karlnicholas thanks for your comment but I can't respond to your similar and yet slightly different use case. Typically it's not helpful to comment on closed issues because some things may have changed, and each case needs to be considered in more detail unless it is 100% identical which is usually not that easy to confirm unless you are the original reporter.

[2020-03-30 14:16] #1041 closed

[2020-03-30 15:31] hanscrg commented on #938
@violetagg, here is the version info,
Springboot 2.2.6,
Spring Secuirty 5.2.2
reactor-netty-0.9.6

[2020-03-30 17:47] violetagg commented on #938
@hanscrg Do you see log similar to this
`Creating a new client pool [PoolFactory {maxConnections=1, pendingAcquireMaxCount=2, pendingAcquireTimeout=100, maxIdleTime=10, maxLifeTime=-1, metricsEnabled=false}] for [/0:0:0:0:0:0:0:0:55712]`

[2020-03-30 21:54] bclozel commented on #1010
FYI Spring Boot is already tagging URL templates at the `WebClient` level (see [here](https://github.com/spring-projects/spring-boot/blob/fd05bc2a4a684504dd4ac6edbc96f622d5bad7fc/spring-boot-project/spring-boot-actuator/src/main/java/org/springframework/boot/actuate/metrics/web/reactive/client/MetricsWebClientFilterFunction.java) and [here](https://github.com/spring-projects/spring-boot/blob/fd05b

[2020-03-31 05:44] Mabintao commented on #934
@violetagg
![image](https://user-images.githubusercontent.com/25863444/77990851-fdc1b900-7354-11ea-9bfb-3f8aead307dc.png)

I set the following properties, but it didn't work for me.
`spring.servlet.multipart.max-file-size`
`spring.servlet.multipart.max-request-size`

When I upload files larger than 30M, I get the error
"Connection has been closed BEFORE response, while sending request body"

[2020-03-31 05:51] violetagg commented on #934
@Mabintao Open a new issue with a reproducible example.

[2020-03-31 13:48] hanscrg commented on #938
@violetagg , Yes, there are logs like below,
09:43:42.972: [APP/PROC/WEB.0] 13:43:42.971 [reactor-http-epoll-11] DEBUG r.n.r.PooledConnectionProvider:254 - Creating a new client pool [PoolFactory {maxConnections=500, pendingAcquireMaxCount=-1, pendingAcquireTimeout=45000, maxIdleTime=-1, maxLifeTime=-1, metricsEnabled=false}] for [xxx:443]

[2020-03-31 14:26] violetagg commented on #938
@hanscrg so it seems your setting is not there `maxIdleTime=-1`
Can you check what are the system properties used for running the application?

[2020-03-31 15:07] hanscrg commented on #938
@violetagg, yes, it is a SpringBoot application deployed to cloud foundry. The manifest already set the Java exec command arguments as below,
[code]
Also the output message from application launch does  show
[code]

Not sure why Netty does not take.

[2020-03-31 15:39] violetagg commented on #938
@hanscrg Can you test locally?

I did very simple test and the system property was read.

<img width="1300" alt="Screenshot 2020-03-31 at 18 35 46" src="https://user-images.githubusercontent.com/696661/78045702-f1525600-737e-11ea-8943-10af7647aa93.png">

[2020-03-31 16:13] violetagg commented on #1042
@alexguzun  PR #1049

[2020-03-31 16:17] hanscrg commented on #938
I printed out the system properties right before SpringApplication.run(), the system properties does get set as below, but somehow it does not take effective in Netty HTTP Client created by Spring Security.

[code]

[2020-03-31 16:20] violetagg commented on #938
@hanscrg Try with debugger to see what settings are used by spring security.

[2020-03-31 19:08] #1042 closed

[2020-04-01 03:06] hanscrg commented on #938
@violetagg, I put a very simple demo project at github below,

https://github.com/hanscrg/Sample-SpringCloudGateway-Netty

It is self contained and can be compiled and run easily with the instruction on the project page. The Netty system properties are defined in build.gradle of gateway project and also printed out before SpringApplication.run() on stdout.  Could you please review why Netty does n

[2020-04-01 07:09] Tiller opened #1050 "[HTTP2] bodyToMono waiting for data frame indefinitely #2"
Hello, I'm back again with another http2 issue :(

## Expected Behavior
Return the request's body

## Actual Behavior
ServerRequest.bodyToMono waits indefinitely for data even though data was sent

## Steps to Reproduce
- create an HTTP2 server (H2C in my case, https://github.com/Tiller/netty-leaks simply start `Application.java`)
- create a controller + endpoint that takes a ServerRequest as a pa

[2020-04-01 07:17] violetagg commented on #1050
@Tiller Please upgrade Netty - https://github.com/reactor/reactor-netty/issues/965#issuecomment-584356912

[2020-04-01 07:26] Tiller commented on #1050
@violetagg thanks, but the same issue appear with netty 4.1.48.Final

[2020-04-01 09:03] violetagg commented on #938
@hanscrg Can you try 0.9.7.BUILD-SNAPSHOT there was an issue with the default configuration in 0.9.x
Fixed with c6a4f7914153ef485da5a626055a42629d860cce

[2020-04-01 09:52] violetagg commented on #1050
@Tiller I'm trying to minimise the reproducible scenario.
According to your description the server should do something like this:

[code]

If yes I cannot reproduce your issue. Can you try it also?

[2020-04-01 10:01] violetagg commented on #1050
This one is also working

[code]

[2020-04-01 10:07] violetagg commented on #1050
If you switch to the code below, what is the result?

[code]

[2020-04-01 10:55] Tiller commented on #1050
I am sorry I am trying to write a shorter example, but I'm not fluent enough with netty/reactor-netty/spring reactor to manage to write it =X I'm still trying though.

Indeed, both your example worked as expected. And if I try to replace my method operationPost with yours, my client receive a response, but with strange data
[code]
(nghttp call confirms the output data)

and the printerr printed no

[2020-04-01 10:59] Tiller commented on #1050
Hmm, switching to:

[code]
produces the same result. Ok with nghttp2, timeout with the nodejs client

[2020-04-01 11:03] violetagg commented on #1050
That's happening when you write directly in the issue and not the IDE.
Happy that you got the idea and confirm that both cases are failing.

[2020-04-01 11:06] Tiller commented on #1050
I tried something new:

[code]
And it works! And it prints:
[code]

However, switching `.next()` to .last()` make the timeout reappear

[2020-04-01 11:36] Tiller commented on #1050
Investigating further:
With nghttp, FluxReceive subscription is completed in `reactor.netty.channel.FluxReceive.terminateReceiver`
With nodejs, it is never completed

[2020-04-01 11:40] violetagg commented on #1050
@Tiller hold for now I think I found the issue but need some time to reproduce it with Reactor Netty only

[2020-04-01 11:43] Tiller commented on #1050
Ok, I'll let you investigate further :)
Just last comment: with nghttp it first closes the inbound, then drainReceiver is called (which allows the completion of the flux), but with nodejs drainReceiver is called first, then the inbound is closed. But as there are no more calls to drainReceiver, it nevers closes the flux

[2020-04-01 14:41] violetagg commented on #1050
@Tiller if you are able to build Reactor Netty locally can you test #1052

[2020-04-01 14:56] Tiller commented on #1050
It works! Thanks :)

[2020-04-01 15:06] Tiller commented on #1050
Just fyi, I tried to send 3 DATA frames with a fragmented body, and I correctly received the whole body with all my chunks reunited

[2020-04-01 17:39] #1050 closed

[2020-04-06 10:10] michaelr524 opened #1054 "Memory leak in HttpClient"
Please check the reproducible example here: https://github.com/michaelr524/reactor-netty-ssl-leak
[code]

* Reactor version(s) used: 0.9.4.RELEASE
* Other relevant libraries versions (eg. `netty`, ...):
* JVM version (`javar -version`):
openjdk version "12.0.2" 2019-07-16
OpenJDK Runtime Environment (build 12.0.2+10)
OpenJDK 64-Bit Server VM (build 12.0.2+10, mixed mode, sharing)
* OS and version

[2020-04-06 10:38] michaelr524 commented on #1054
Moving the creation of the sslcontext builder out of the lambda seems to work around the problem:

[code]

[2020-04-07 19:47] zhangzhijiang opened #1057 "Netty Server handles HTTP 204(no content) with response body"
Hi,
I am working a application using Spring Boot WebFlux to call a third party API. that API returns 204 (No content) with a message in the body for a GET when item not found (see attached screenshot below).
I understand that the third-party API shouldn't return 204 for item not found, even return 204 it must not have a body. but changing that API is not an option. I am trying to see if I can find

[2020-04-08 03:11] thekalinga opened #1058 "Add fluent mechanism to construct encoded uri parameters using QueryStringEncoder"
## Motivation
Currently, when making a HttpClient request, the fluent api expects the URI to be single string. This leads to ugly url string concatanation & also the API does not give a hint whether the underlying library would escape URI appropriately/it expects the user to do the escaping

## Desired solution
Add an overload of uri that allows users to consurtct uri in a fluent manner. One poten

[2020-04-08 07:03] violetagg commented on #1057
@zhangzhijiang
According to the specification

https://tools.ietf.org/html/rfc7231#section-6.3.5

[code]

We cannot read the body.
Even in your example above there is no `Content-Length`/`Transfer-Encoding` headers that will give us information for the body that is coming.

I would say that your remote peer is violating the specification and not only for 204 response code, but also how the respons

[2020-04-08 07:03] #1057 closed

[2020-04-08 07:07] violetagg commented on #1044
Closing this issue. We can reopen it if it is needed.

[2020-04-08 07:07] #1044 closed

[2020-04-08 09:45] violetagg commented on #1054
@michaelr524 Actually that's not a workaround but the way how you should use it.

With your previous code you always was creating a new TcpClient with its own security settings.

[code]

Either use the way above and configure the security directly on HttpClient level or if you insist of using a TcpClient then configure the TcpClient once and then create the HttpClient from TcpClient.

[code]

[2020-04-08 10:33] michaelr524 commented on #1054
Just to clarify a bit:

This also reproduces the issue (without .tcpConfiguration()):
[code]
Now I'm calling SslContextBuilder.forClient() just once and reusing it for all HttpClients.

BTW, I'm using  .tcpConfiguration() in order to set Read/Write timeouts. Is there a way to do the same on the HttpClient level?

[2020-04-08 10:56] violetagg commented on #1054
@michaelr524

See above you can use `HttpClient.from(tcpClient)`

[2020-04-08 11:02] violetagg commented on #1054
@michaelr524
The code below creates an issue, because you create always a new HttpClient

[code]

You can extract this code before the loop and use the configured client in the loop:

[code]

[2020-04-08 12:44] michaelr524 commented on #1054
@violetagg Thanks for clarifying again.
I think that it may help new users if you change the [documentation](https://projectreactor.io/docs/netty/release/reference/index.html#_ssl_andtls) a bit so that they won't use this pattern. It's not obvious from the documentation that a new client is created.
Also, it's not obvious that this client will not be released after the request is complete.
Looks l

[2020-04-08 13:54] violetagg commented on #1054
@michaelr524 Would you like to provide a PR with an update to the documentation?

[2020-04-08 14:13] michaelr524 commented on #1054
Will do

[2020-04-08 15:40] wm240918567 opened #1059 "reactor.netty.pool.maxIdleTime don't take effect"
hi,
  My English is not so good, I wish I could make that clear.
  I set system  property in the main funtion before springapplication.run,
        System.setProperty(ReactorNetty.POOL_MAX_IDLE_TIME, "60000");

  When the.application be started by springapplication.run, I found reactor.netty.pool.maxIdleTime don't take effect,
  Because at the line 332 of TcpResources class ，function ConnectionPro

[2020-04-08 15:54] violetagg commented on #1059
@wm240918567 This was fixed https://github.com/reactor/reactor-netty/commit/c6a4f7914153ef485da5a626055a42629d860cce

Please try 0.9.7.BUILD-SNAPSHOT

[2020-04-08 15:54] #1059 closed

[2020-04-08 16:13] zhangzhijiang commented on #1057
Thanks for looking into this. I understand it is their API violates the HTTP specification. but the interesting thing is that I assume all the other clients are able to deal with this response. even if I use RestTemplate from Spring to call the same API it will not give any error. only use WebClient call first time ok, second time error, third time ok, fourth time error...and so on. we are working

[2020-04-08 16:35] violetagg commented on #1057
@rstoyanchev Can you comment how `RestTemplate` supports that use case?

[2020-04-09 03:27] ashofthedream opened #1060 "WebClient fails with Pool#acquire(Duration) has been pending for more than the configured timeout of 45000ms after 33000 request in loop"
I've tried write a simple load test with WebClient. One thread with simple loop, 100k iterations, but after 2000 or 3000 cycles I receive a message:
[code]
After all 100k iterations, I've received only 33k successful responses, and no one was failed. My code written to wait for all responses and prints success/failed requests after one second of sleep. After 45 seconds, I've received other 67k fai

[2020-04-09 03:34] ashofthedream commented on #1060
When I change code to:
[code]

It also fails after 33-34k requests with `Pool#acquire(Duration) has been pending for more than the configured timeout of 45000ms`

[2020-04-09 06:45] violetagg commented on #1060
@ashofthedream Can you try the current Spring Framework snapshot. This issue might be related https://github.com/spring-projects/spring-framework/issues/24788

[2020-04-09 07:32] radhakrishnanch opened #1061 "reactor.netty.http.client.PrematureCloseException: Connection prematurely closed BEFORE response"
### **Expected Behavior**

WebClient should not pick the inactive channel from the pool for serving new requests.

### **Actual Behavior**

There is a race-condition, sometimes WebClient picks inactive channel from the poll and cause of connection error.
.
### **TCP Client Debug Log**

Below log shows an inactive connection is picked just before unregistering and causes for connection error.

[DEB

[2020-04-09 07:53] violetagg commented on #1061
@radhakrishnanch Please test with 0.9.6.RELEASE. In that version we have fixes related to the connection pool.

[2020-04-09 08:12] radhakrishnanch commented on #1061
@violetagg Thank you for your reply. I will test with 0.9.6.RELEASE and update the observation here.

[2020-04-09 11:43] shahaf-sameach commented on #989
brand new contributor :) can I take this?

[2020-04-09 12:01] violetagg commented on #989
@shahaf-sameach yes go for it. Use branch 0.9.x as a base.

[2020-04-09 21:25] ashofthedream commented on #1060
@violetagg it works much better with latest snapshot, after 100k requests, I've received only
[code]

and all 100k responses

[2020-04-10 06:58] violetagg commented on #1060
@ashofthedream

[code]

This means the remote peer closed the connection.
There might be several causes about this. Check these issues:

https://github.com/reactor/reactor-netty/issues/1008
https://github.com/reactor/reactor-netty/issues/564#issuecomment-576244256

[2020-04-10 06:58] #1060 closed

[2020-04-10 12:31] kiwi-field commented on #934
It's the same with me. What's the solution

[2020-04-10 13:20] violetagg commented on #934
@kiwi-field Open a new issue with a reproducible example.

[2020-04-10 13:21] kiwi-field commented on #934
My parameters are set to

Servlet.Multipart.max-file-size:2MB
Servlet.Multipart.max-request-size: 2MB
Connection has been closed before response does not appear

[2020-04-10 13:28] kiwi-field opened #1062 "[spring cloud gateway] Connection has been closed BEFORE response, while sending request body when uploading large file[16MB,]"
The connection has been closed before response, while sending request body when uploading large file appears when accessing the upload file interface of the project through spring cloud gateway.

spring boot version:2.0.5.RELEASE
jdk:1.8

my project application.yml
![image](https://user-images.githubusercontent.com/30741355/78994275-3857fc80-7b72-11ea-9c92-99003a0a555c.png)

[2020-04-10 13:29] kiwi-field commented on #1062
if My parameters are set to
Servlet.Multipart.max-file-size:2MB
Servlet.Multipart.max-request-size: 2MB
Connection has been closed before response does not appear

[2020-04-10 13:31] kiwi-field commented on #1062
When my parameter is set to this
Servlet.Multipart.max-file-size:10MB
Servlet.Multipart.max-request-size: 10MB
my upload file size I upload is 16MB，
Connection has been closed before response will appear

[2020-04-10 13:33] kiwi-field commented on #1062
![image](https://user-images.githubusercontent.com/30741355/78994515-dc41a800-7b72-11ea-9f83-f66921e63faf.png)

[2020-04-10 13:33] kiwi-field commented on #1062
![image](https://user-images.githubusercontent.com/30741355/78994542-ef547800-7b72-11ea-88a0-27931a8becf9.png)

[2020-04-10 13:36] kiwi-field commented on #934
@violetagg see https://github.com/reactor/reactor-netty/issues/1062

[2020-04-10 14:50] violetagg commented on #1062
This version is too old, please upgrade
https://github.com/spring-projects/spring-boot/releases/tag/v2.0.5.RELEASE

[2020-04-10 15:45] ashofthedream commented on #1060
@violetagg thank you

[2020-04-11 01:06] kiwi-field commented on #1062
Now my microservice version is spring boot version:2.0.5.RELEASE

[2020-04-11 01:07] kiwi-field commented on #1062
It should be a gateway problem

[2020-04-11 01:34] kiwi-field commented on #1062
Do I need to upgrade my gateway and service's spring boot version to 2.2. X

[2020-04-11 12:11] violetagg commented on #1062
@kiwi-field it is better to update both

[2020-04-13 11:15] violetagg opened #1064 "Revise FluxReceive queue low limit"
Related to https://github.com/reactor/reactor-netty/pull/1030#discussion_r395001886

[2020-04-13 12:30] violetagg commented on #722
@hmble2 @timothymathison

After looking at that issue in details I don't think an enhancement is needed in Reactor Netty.

Reactor Netty will send automatically `100 Continue` ONLY when the IO handler asks for the incoming body and there was no response with `100 Continue` before that operation.

https://github.com/reactor/reactor-netty/blob/89ae010a84e25925952e2f82ece7fae8c015742c/src/main/java/r

[2020-04-13 12:30] #722 closed

[2020-04-13 13:02] violetagg commented on #1010
@bclozel Reactor Netty is not always used in Spring Framework context. Thanks for the pointers in WebClient.

[2020-04-14 15:41] simonbasle commented on #1016
the follow-up to the buffer issue will be tracked in #1064

[2020-04-14 15:53] #1016 closed

[2020-04-15 08:34] violetagg commented on #782
All

If you are able to test this PR #1065 it will be great

Thanks

[2020-04-15 08:35] violetagg commented on #981
All

If you are able to test this PR #1065 it will be great

Thanks

[2020-04-15 08:53] violetagg commented on #782
The cases that may lead to this exception are:

1. There is an idle timeout on the target server. The connection may be acquired successfully from the pool, but meantime to be closed by the target server.
With the PR above we will try to re-acquire a new connection in some cases, depending when the connection close happend.
The connection pool may be configured with `pool.maxIdleTime < targetServe

[2020-04-15 08:53] violetagg commented on #981
The cases that may lead to this exception are:

1. There is an idle timeout on the target server. The connection may be acquired successfully from the pool, but meantime to be closed by the target server.
With the PR above we will try to re-acquire a new connection in some cases, depending when the connection close happend.
The connection pool may be configured with `pool.maxIdleTime < targetServe

[2020-04-15 10:33] violetagg commented on #782
The fix will be available in 0.9.7.RELEASE
Meanwhile it can be tested with 0.9.7.BUILD-SNAPSHOT

[2020-04-15 10:33] #782 closed

[2020-04-15 10:34] violetagg commented on #981
The fix will be available in 0.9.7.RELEASE
Meanwhile it can be tested with 0.9.7.BUILD-SNAPSHOT

[2020-04-15 10:34] #981 closed

[2020-04-16 14:50] violetagg commented on #1010
We are going to address this issue with two fixes:
1. PR #1067 - `NoopMeter` is returned as a result when there is `MeterFilter.maximumAllowableTags` configuration on the system and the action `onMaxReached` is `DENY`. Having this filter and not caching `NoopMeter` will prevent OOM.
2. PR #1066 - a new API is added so that when enabling metrics on the server/client, a function for transforming the

[2020-04-16 14:58] ukayani commented on #1010
Thanks for the changes @violetagg
Function to transform the uri is a good solution.

[2020-04-17 12:47] #1010 closed

[2020-04-20 01:41] fcnorman commented on #639
Would really love to see this.

[2020-04-20 01:50] spencergibb commented on #639
Gateway needs this as well

[2020-04-20 14:44] violetagg commented on #1062
I'm closing this issue, we can reopen it if it is needed.

[2020-04-20 14:44] #1062 closed

[2020-04-20 14:45] violetagg commented on #1061
I'm closing this issue. We can reopen it if it is needed.

[2020-04-20 14:45] #1061 closed

[2020-04-21 01:12] kiwi-field commented on #1062
ok，thanks

[2020-04-21 01:23] martinritz opened #1068 "Can 0.9.7 be published soon."
Can 0.9.7 be released soon please. Need the fix related to issue https://github.com/Azure/azure-sdk-for-java/issues/7349

[2020-04-21 07:50] violetagg commented on #1068
@martinritz we will postpone it with one week
the new date is 27.04

[2020-04-21 07:50] #1068 closed

[2020-04-21 18:58] martinritz commented on #782
when will 0.9.7 be released?

[2020-04-21 19:07] violetagg commented on #782
@martinritz 27.04

[2020-04-22 14:26] PyvesB commented on #560
We're also observing initial requests which take several seconds compared to a baseline of a few tens of milliseconds. I tried experimenting locally with latest OpenJDK 14.0.1 with OpenJ9, no noticeable improvement with the sample project shared by @codependent.

[2020-04-23 09:32] Julien-Eyraud opened #1071 "Support for h2c upgrade with body"
In https://tools.ietf.org/html/rfc7540#section-3.2 in order to perform an http2 clear text upgrade, requests that contain a payload body MUST be sent in their entirety before the client can send HTTP/2 frames.

## Expected Behavior
When a client execute a request without prior knowledge of h2c support by the server it send the same request with Upgrade and HTTP2-Settings. If the request contains a

[2020-04-23 10:52] violetagg commented on #1071
@Julien-Eyraud Please review #1072

[2020-04-23 12:00] Julien-Eyraud commented on #1071
This looks good.

[2020-04-24 05:15] yangchenjava opened #1074 "java.io.IOException: Connection closed prematurely"
[code]
this is 0.7.15.release
[code]

this is 0.9.6.release
[code]

## Your Environment

* spring cloud:Finchley.SR4 or Hoxton.SR3, spring cloud gateway
* Reactor version(s) used:0.7.15.release or 0.9.6.release
* JVM version (`javar -version`):jdk1.8.0_161
* OS and version (eg `uname -a`):windows10

[2020-04-24 05:51] violetagg commented on #1074
@yangchenjava please provide a reproducible example. Try to take a tcpdump to see which component closes the connection

[2020-04-24 06:24] #935 closed

[2020-04-24 08:47] yangchenjava commented on #1074
@violetagg It's not going to happen all the time，so I dot kown how to fix it

[2020-04-24 11:35] violetagg commented on #1074
@yangchenjava then try to debug it. (tcpdump might help)
There might be several causes about this. Check these issues:

#1008
#564 (comment)
#1038

[2020-04-24 15:36] #1071 closed

[2020-04-25 09:08] violetagg commented on #568
Bootstrap is not used anymore #1046

[2020-04-25 09:08] #568 closed

[2020-04-25 09:09] violetagg commented on #586
Common abstraction is committed with #1046

[2020-04-25 09:09] #586 closed

[2020-04-25 09:12] violetagg commented on #581
`channelGroup` setting is exposed for both server and client with #1046

[2020-04-25 09:12] #581 closed

[2020-04-25 09:13] violetagg commented on #991
This is addressed with #1046

[2020-04-25 09:13] #991 closed

[2020-04-25 15:05] steven-sheehy commented on #1010
There is still a cardinality explosion here since REMOTE_ADDRESS varies for nearly every request, especially since it includes random client port with IP. In my opinion, it should be removed. I can open another issue.

[2020-04-25 16:26] violetagg commented on #1010
@steven-sheehy yes please open an issue, it is interesting what happens with the connection pooling in such situation.

[2020-04-25 22:38] steven-sheehy commented on #1010
@violetagg It's on the server when receiving requests.

[2020-04-25 23:00] steven-sheehy opened #1075 "Server metrics cardinality explosion"
## Expected Behavior
A reasonable amount of series for every reactor_netty_http_server_* metric.

## Actual Behavior
There is a cardinality explosion with one per `client ip` * `client random port` * `other tags`

<img width="1584" alt="metrics-cardinality" src="https://user-images.githubusercontent.com/17552371/80283745-b4f4ea00-86df-11ea-815a-966ad115cb78.png">

## Steps to Reproduce
- Enable Ht

[2020-04-25 23:00] steven-sheehy commented on #1010
Created issue https://github.com/reactor/reactor-netty/issues/1075 for this

[2020-04-26 06:47] yangchenjava commented on #1074
oh I also run nginx on this gateway server at the same time , I don't know if it's related to this.

[2020-04-26 07:44] violetagg commented on #1075
@simonbasle @rstoyanchev I'm in favour of removing the REMOTE_ADDRESS for the HTTP server metrics, but this is an incompatible change. Wdyt?

[2020-04-26 11:09] violetagg commented on #1074
@yangchenjava What happens if you move Nginx on a separate host?

[2020-04-27 06:54] violetagg commented on #1075
Looking at this issue in more details it is related only to the metrics on a protocol level and not per URI. So I'm thinking of disabling those metrics.

[2020-04-27 08:14] violetagg commented on #1075
@steven-sheehy PTAL #1076

[2020-04-27 08:28] violetagg opened #1077 "Add japicmp to the build"

[2020-04-27 08:30] #1075 closed

[2020-04-28 03:06] anilgursel commented on #639
@violetagg When is 1.0.0.M1 targeted for? Is the HTTP/2 work is already in progress? Wondering if we can help to speed it up.

[2020-04-28 04:20] violetagg commented on #639
@anilgursel I'll start working on HTTP/2 for HTTP client this week.

[2020-04-28 05:00] anilgursel commented on #639
That's great!  We will try once available.

[2020-04-29 08:09] #453 closed

[2020-04-29 10:08] #1077 closed

[2020-04-29 14:23] violetagg commented on #403
UDS for TCP transport #1080

[2020-04-29 19:17] kushagraThapar commented on #782
@violetagg - Unfortunately, I am still seeing this issue with latest reactor-netty release 0.9.7.RELEASE. It happens randomly but not necessarily on load testing. We have different benchmarks for our SDK (Azure Cosmos DB) including (load read testing, load write testing, load read my writes testing, etc). This issue happens only in some cases.

Anyway, I plan to debug this more in details, but was

[2020-04-30 07:05] violetagg commented on #782
@kushagraThapar Here the exception is a bit different the inbound is not closed but canceled.

`at reactor.netty.http.client.HttpClientOperations.onInboundCancel`

Do you use operators as `timeout`, `next`, `first`, `zip`?
These operators cancel the subscription.
For example issue with `Mono.zip` - https://github.com/reactor/reactor-netty/issues/1013#issuecomment-595199043

[2020-04-30 16:13] kushagraThapar commented on #782
@violetagg - Yes indeed, we do use these operators at a lot of places in our code (`next`, `first`, `delayElements`, etc). In fact I have also seen `NotYetConnectedException` sometimes in our code.
What different can we do to avoid these two issues (`NotYetConnectedException` and `SSLEngineClosedAlready` exception)

[2020-04-30 19:45] kushagraThapar commented on #782
So I tried getting rid of some of these operators .. but I still seeing the issue, I am wondering if there is a way to get to know which operator in the chain exactly called the cancel operation on the http client / or underlying channel ?

[2020-05-01 03:44] SudBisht commented on #1008
@YQyangqian  does the above solution solved your issue.

I am also facing that issue:

logs:
`DEBUG [reactor-http-epoll-4] [{92A55C88-993A-41E9-8F4E-4458E44E3C09}] [f9d03fef]  [r.netty.resources.PooledConnectionProvider.debug] - [id: 0xd8a2226c, L:/x.x.111.226:35844 - R:contact-tracer-service/x.x.12.205:8080] Channel acquired, now 1 active connections and 2 inactive connections
DEBUG [reactor-http

[2020-05-01 12:00] SudBisht opened #1085 "Connection has been closed BEFORE response, while sending request body"
1. Getting `Connection has been closed BEFORE response, while sending request body` on every First request after the Server restart each time. subsequent request working fine.
2. Also getting if trying request after a long interval.

Stacktrace:

[code]

## Your Environment

* Reactor version(s) used: 0.9.5
* Other relevant libraries versions (`spring-boot-starter-webflux`:2.1.8.RELEASE, `spring b

[2020-05-01 14:27] violetagg commented on #1085
@SudBisht Please upgrade to the latest release and provide a reproducible example

[2020-05-01 14:28] violetagg commented on #1074
Closing the issue. We can reopen it if this is needed.

[2020-05-01 14:28] #1074 closed

[2020-05-02 06:26] SudBisht commented on #1085
@violetagg
## Updated Version

* Reactor version(s) used: 0.9.6
* Other relevant libraries versions (`spring-boot-starter-webflux`:2.2.6.RELEASE, `spring boot`: 2.2.6.RELEASE, `spring cloud`: Hoxton.SR3):
* JVM version (`11`):
* OS and version (eg `centos 7`):

After version update issue is still there, As I mentioned earlier it's not a frequent issue, coming in very first request after deployment

[2020-05-03 14:13] SudBisht commented on #641
@konstantinshevchuk  did you get any solution?

[2020-05-04 07:18] violetagg commented on #1085
@SudBisht Try to provide a reproducible example. I cannot reproduce it.
Do you have some proxy/LB between SCG and the dummy service?

[2020-05-04 07:26] violetagg commented on #782
@kushagraThapar May be you can try https://projectreactor.io/docs/core/release/reference/index.html#reactor-tools-debug

[2020-05-04 16:16] kushagraThapar commented on #782
@violetagg - sure will do, thanks.

[2020-05-05 18:55] 62mkv opened #1086 "blocking call inside GlobalEventExecutor#addTask"
## Expected Behavior

## Actual Behavior

Occasionally, BlockHound-enabled Spring Boot (w/WebFlux) test suite fails to complete correctly because of such exception w/ the following trace:

[code]

As suggested by @violetagg this call should probably be added into `Hidden` (https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/internal/Hidden.java) class

## Possible Solution

[2020-05-05 19:04] violetagg commented on #1086
@62mkv this ticket should be opened for Netty (https://github.com/netty/netty/) not Reactor Netty

[2020-05-05 19:04] #1086 closed

[2020-05-06 09:18] #403 closed

[2020-05-07 06:50] xhAndroid commented on #800
netty4默认使用堆外内存，要手动释放。byteBuf.release();

[2020-05-07 06:51] xhAndroid commented on #378
netty4默认使用堆外内存，要手动释放。byteBuf.release();

[2020-05-09 14:59] k631583871 opened #1087 "When using uri(Mono<String> uri) to block the current thread"
When using the uri(Mono<String> uri) method, the current thread is blocked until the uri returns
## Motivation
[code]

[code]

 the current thread is blocked until the uri returns
## `Desired solution`

The process of getting the uri is placed inside the HTTP thread without blocking the current thread

[2020-05-11 09:38] violetagg commented on #1087
@k631583871 It is up to the user to decide whether an external pool should be used or not.

[2020-05-11 09:38] #1087 closed

[2020-05-11 09:42] violetagg commented on #1085
I'm closing this as there isn't enough information in order to reproduce the issue. We can reopen it when such information is available.

[2020-05-11 09:42] #1085 closed

[2020-05-11 09:48] violetagg commented on #353
Check this issue against master

[2020-05-11 09:52] Tiller opened #1088 "[HTTP2] Consider X-Forwarded-For header in remote address"
Sending an H2C Prior knowledge query to my reactor-netty server with the header "X-Forwarded-For" doesn't take the header into account when retrieving remote address.

I am not entirely sure whether this is a bug or not, and tbh I'm not even sure the X-Forwarded-Host is part of the http2 "standard", but just in case, I'm opening this feature request!

## Motivation
Similarly to HTTP, I think remot

[2020-05-11 09:53] violetagg commented on #331
Check `channel.write` vs `channelContextHandler.write`
http://normanmaurer.me/presentations/2014-facebook-eng-netty/slides.html#29.0

`ChannelOperationHandler` is not involved in the outbound operations anymore.

[2020-05-11 09:54] bsideup commented on #1087
FTR the observed behaviour is affected by the incorrect provided code:
[code]

This does not specify the scheduler, which is incorrect. If blocking code is used, it must be explicitly offloaded to a blocking-friendly scheduler, e.g. by adding `publishOn(Schedulers.boundedElastic())`, or with:
[code]

[2020-05-11 10:07] violetagg commented on #1088
@Tiller did you specify `HttpServer.forwarded(true)`?
https://projectreactor.io/docs/netty/release/reference/index.html#_obtaining_the_remote_client_address

[2020-05-11 10:45] Tiller commented on #1088
I did not indeed. And it works with it. Thanks and sorry for the ticket!

[2020-05-11 10:45] #1088 closed

[2020-05-12 01:28] philsttr opened #1089 "Server side websocket connection establishment race condition"
I'm using WebFlux as a websocket client/server using reactor-netty.  After I upgraded spring boot from 2.2.2.RELEASE to 2.2.7.RELEASE, some of my websocket request/response integration tests started failing sporadically due to a client side timeouts (meaning the server did not respond to a request sent by the client).

After extensive debugging, I believe I've identified the cause of the sporadic

[2020-05-12 01:56] philsttr commented on #1089
I also had some other integration tests fail that were using HTTP (not websocket) under similar circumstances.  I haven't debugged that case as much, but they look eerily similar.

[2020-05-12 15:35] philsttr commented on #1089
I just noticed that in some of the successful cases, the log events for "Removed handler", "Non Removed handler", and "Added decoder" occur on on the server's http-epoll thread, rather than a boundedElastic thread as seen in the examples above.

In the failure cases, they are always on a boundedElastic thread.

I haven't found out why sometimes they're on an http-epoll thread, and sometimes they'r

[2020-05-12 15:41] violetagg commented on #1089
@philsttr that's interesting as Reactor Netty do not use `Schedulers.boundedElastic`. If you can extract some reproducible example it will be really helpful.

[2020-05-12 16:44] philsttr commented on #1089
Still debugging...

It looks like it's getting scheduled on the boundedElastic scheduler by the [`InMemoryWebSessionStore` from spring-web](https://github.com/spring-projects/spring-framework/blob/v5.2.6.RELEASE/spring-web/src/main/java/org/springframework/web/server/session/InMemoryWebSessionStore.java#L121).

[2020-05-12 17:24] rstoyanchev commented on #1089
So you are [using this](https://github.com/spring-projects/spring-framework/blob/273d952ddfb724b1ef94564512d78c4657948bec/spring-webflux/src/main/java/org/springframework/web/reactive/socket/server/support/HandshakeWebSocketService.java#L150-L160) to transfer  attributes from a `WebSession` into the `WebSocketSession`? I'm just confirming the access to session attributes on a WebSocket handshake i

[2020-05-12 19:01] philsttr commented on #1089
@rstoyanchev I'm not using that, at least not that I'm aware of.

I am using the spring security oauth 2 resource server, and it is authenticating the websocket upgrade request.  It looks like it utilizes the session as part of its authentication flow.

Here's the isolated test case that I'm working on... [websocket-demo.zip](https://github.com/reactor/reactor-netty/files/4617827/websocket-demo.zi

[2020-05-12 22:15] Fetsivalen opened #1091 "[Improvement] send proper WebSocket close code and reason during shutdown of the client and server"
During close web socket server\client currently send WebSocketCloseStatus with code -1.
It seems to be more logical to have default value `1001` (meaning server going away) according to the https://tools.ietf.org/html/rfc6455#section-7.4 .

## Motivation
Using standard closed codes during server/client shutdown will allow "the other side of communication" to react properly on them.

## Desired sol

[2020-05-12 23:22] violetagg commented on #1091
@Fetsivalen Is it possible in your use case to use one of the `sendClose` methods?
https://projectreactor.io/docs/netty/release/api/reactor/netty/http/websocket/WebsocketOutbound.html

[2020-05-13 02:00] yantaowu opened #1092 "reactor.netty.http.client.PrematureCloseException: Connection prematurely closed BEFORE response"
I use spring cloud gateway as our gateway, this exception occurs in our production environment randomly when the request arrived.  I search the related issue on the github and found it had been fixed, but my reactor-netty is the latest release(0.9.7).

## Steps to Reproduce
It is very difficult to reproduce，which only occurs in production environment randomly.
This is the log when the exception oc

[2020-05-13 07:08] violetagg commented on #1092
@yantaowu There might be several causes about this. Can you confirm that you do not have these issues:

https://github.com/reactor/reactor-netty/issues/1008
https://github.com/reactor/reactor-netty/issues/1038
https://github.com/reactor/reactor-netty/issues/564#issuecomment-576244256

[2020-05-13 08:55] Fetsivalen commented on #1091
My case is the same as the original one in Spring Cloud Gateway.
From what I see the only way to use one of the `sendClose` methods is to add  (onTerminate?)  hooks to both sides of the communication.
Here is an example in Spring cloud Gateway (which is actually my case)
https://github.com/spring-cloud/spring-cloud-gateway/blob/master/spring-cloud-gateway-core/src/main/java/org/springframework/clo

[2020-05-13 11:13] wilkinsona opened #1093 "disposeNow(Duration) for an HTTP server doesn't return reliably"
## Expected Behavior

`disposeNow(Duration)` should return once their are no active requests.

## Actual Behavior

`disposeNow(Duration)` continues to block, despite their being no active requests.

## Steps to Reproduce

[code]

The above will hang intermittently. On my most recent attempt, repetition 678 hung while awaiting `disposalLatch`.

## Your Environment

Reactor Netty 0.9.7
Netty 4.1.49

[2020-05-13 17:37] rstoyanchev commented on #1089
The test is green for me (Linux here). Are you able to narrow it down to a specific Boot version? You could further vary specific library versions to see which one might make a difference.

[2020-05-13 18:07] rstoyanchev commented on #1089
The use of `boundedElastic` for the WebSession id [was done](https://github.com/spring-projects/spring-framework/commit/70a3dbff24e7e39b8be9861a6fcb0cd05eb52bb2) in 5.2.2 which was picked up in Boot 2.2.2 but you're saying on 2.2.2 it worked fine.

[2020-05-13 18:54] philsttr commented on #1089
Yeah, the boundedElastic thing might be a red herring. It's just something I noticed in the logs that might be contributing to the out-of-order behavior I am seeing in my original integration tests.   Let me ask another question... should the usage of boundedElastic() in WebSession affect the scheduler on which the  "Removed handler", "Non Removed handler", and "Added decoder" occur?

It's a bit d

[2020-05-14 07:04] yantaowu commented on #1092
Thanks a lot. I will try my best to obtain the tcp dump and have a feedback.

[2020-05-14 23:51] kushagraThapar commented on #782
@violetagg  - I did some digging, and to start with, the problem is occurring because of these two operators we have:
`Flux.mergeSequential` and `Flux.mergeOrdered`
If I take them out then I don't see this issue at all.

But these operators don't mention explicitly how they cancel the subscription or dispose elements that are not required. That being said, I am still not sure how the cancellation