[2019-02-02 06:49] violetagg commented on #597
this log is from Spring Framework

[2019-02-02 19:16] dave-fl commented on #536
@violetagg This is pretty easy to reproduce on Californium 0.85 snapshot.

Create two gateways and a responsive back end.

E.g Gateway 1 -> Gateway 2 -> Back End

Set a timeout of 500ms on Gateway 1.

Setup a gatling script which makes many calls < 500 ms (GET and POST).  And setup a single call that will take longer than 500ms (GET and POST).

You will end up with the following in the gateway 1 l

[2019-02-02 19:17] dave-fl commented on #536
Sample script.

	val scn = scenario("RecordedSimulation")
		.asLongAs(session => (System.currentTimeMillis - start) < duration) {
			exec(http("request_0")
				.get("/api/test/fast").check(status.is(200)))
			.exec(http("request_1")
				.post("/api/test/echo")
				.headers(headers_post)
				.body(rawBody).check(status.is(200)))
			.exec(http("request_2")
				.get("/api/test/medium").check(status.i

[2019-02-03 09:32] tareqhs commented on #413
Hi all,
I'm experiencing this issue with 0.7.x too, even 0.7.14.
Should point out that these failures are near-consistent when we use the same client from different threads - is the client thread-safe ?

[2019-02-03 10:53] violetagg commented on #413
@tareqhs Hi, Please create a new issue with a reproducible example OR scenario description.
Thanks, Violeta

[2019-02-04 15:14] violetagg opened #598 "Possible memory leak in HttpClientOperations.GetOrHeadAggregateOutbound#then"
`doOnDiscard` hook has to be added in order to handle cancel/error scenarios.

Related to https://github.com/spring-cloud/spring-cloud-gateway/issues/810#issuecomment-459927679

[code]

[2019-02-04 17:20] #591 closed

[2019-02-05 07:47] nischit7 opened #600 "A fixed conn provider ends up assigning the same event loop thread always"
### Expected behavior
Irrespective of connection provider type, the incoming requests should be addressed by all available event loop threads.

### Actual behavior
In the below example, check the usage of ConnectionProvider.fixed.
We are running some 1000 odd requests in parallel.
When the logs are printed watch out which thread is used for all requests. You will see its the same thread which is h

[2019-02-05 07:53] nischit7 commented on #600
In the below example, check the usage of ConnectionProvider.fixed.
We are running some 1000 odd requests in parallel.
When the logs are printed watch out which thread is used for all requests. You will see its the same thread which is honoring all 1000 requests. Increase the number 1000 to higher or even increase the loop resources. You will still see its one single thread.
Now change from Connect

[2019-02-05 16:18] violetagg opened #601 "Switch the connection pool to use the oldest Channel instead of the last recent"
Using always the last recent Channel may lead to the problem that some Channels are used very infrequently (the oldest) and thus the connections might already be closed when trying to reuse them.

[2019-02-05 20:10] #601 closed

[2019-02-07 13:44] violetagg commented on #536
@dave-fl Do you have SSL only for the `origin` or also for `gateway2`?

[2019-02-07 16:12] violetagg commented on #598
https://github.com/reactor/reactor-core/issues/1510

[2019-02-08 15:38] violetagg opened #603 "Possible memory leak when the incoming bytes are received but there is no consumer subscribed"
Possible memory leak when the incoming bytes (request body when server/ response body when client) are received but there is no consumer subscribed, one example when this can happen is timeout

Issue is reported originally with issues:
https://github.com/spring-cloud/spring-cloud-gateway/issues/810
https://github.com/spring-projects/spring-framework/issues/22384

[code]

[code]

[2019-02-09 01:16] dave-fl commented on #536
Both. All my tests always have SSL turned on.

[2019-02-09 14:44] Casvad commented on #422
Same problem using Spring 2.1.2.RELEASE which uses reactor-netty-v0.8.4.RELEASE

[2019-02-11 14:17] sdeleuze opened #604 "Listen on 0.0.0.0 by default"
As part of my work on [spring-kotlin-functional](https://github.com/sdeleuze/spring-kotlin-functional), I have been surprised multiple times by the fact that Reactor Netty does not listen on `127.0.0.1` by default when IPV6 is available (my OS is Ubuntu 18.04 LTS).

Without explicit host configuration, it is listening on `http://[::1]:8080/`, and potentially but `http://localhost:8080/` if the rel

[2019-02-11 15:28] mld-ger opened #605 "Cause Exception is Swallowed when ChannelOperationsHandler#channelRead throws"
I had the case that my application throwed an IllegalStateException when ChannelOperationsHandler#channelRead was invoked. The Exception is caught by

[code]

(ChannelOperationsHandler:163)

But the Throwable is never printed since ReferenceCountUtil#safeRelease is invoked without passing the original error.
This behavior is unexpected because the Exception that gets thrown in the end does not ref

[2019-02-11 15:40] timothy-long opened #606 "HttpClientOperations.redirectedFrom doesn't provide the correct redirect count"
Hello all. I was trying to implement a custom "maximum redirect" limit using the `HttpClient.followRedirect(BiPredicate)` method, and discovered that the `.redirectedFrom` array I was accessing through the request/response objects wasn't appearing to be populated correctly.

### Expected behaviour
When calling `HttpClientOperations.redirectedFrom()`, the size of the array should equal the number o

[2019-02-11 17:41] smaldini commented on #604
I don't think its too surprising, I can think of a few servers doing that for security reasons (a few databases come to mind), I wonder whats the default for tomcat but its worth discussing.

[2019-02-11 21:38] violetagg commented on #605
@mld-ger can you provide some stack trace or reproducible example

[2019-02-11 22:53] #600 closed

[2019-02-11 22:55] #606 closed

[2019-02-11 23:03] #555 closed

[2019-02-11 23:24] smaldini commented on #604
Tomcat does actually the same. I'm really not sure that's a neat idea to default open on all network interfaces at our level.

[2019-02-12 12:58] mld-ger commented on #605
Due to lack of time at the moment I can't reproduce it easily, since I'm also not deep enough into the internals of spring to quickly identify how the issue is produced. But I can provide the stacktrace that I have in my application:

[code]
![netty-bug](https://user-images.githubusercontent.com/5991815/52636912-1f03e380-2ece-11e9-94ae-cbd5dfc50012.png)

As you can see in the picture the exception

[2019-02-12 13:50] sdeleuze commented on #604
Do you mean Tomcat will listen only `http://[::1]:8080/` when IPV6 is available, and not on IPV4?

[2019-02-12 14:02] rreimann opened #611 "Provide option to customize log level for ChildObserver#onUncaughtException"
Using Spring WebFlux behind a HAProxy we see loads of "Connection reset by peer" error messages in our logs:
[code]
We identified the [HAProxy as the root cause](https://stackoverflow.com/questions/21550337/haproxy-netty-way-to-prevent-exceptions-on-connection-reset) for these error messages so there's nothing wrong with reactor-netty here.

But since we have no chance to change the HAProxy config

[2019-02-12 14:07] violetagg commented on #611
@rreimann Is that reproducible with the latest `0.8.5.BUILD-SNAPSHOT` (we introduced this change yesterday #610 )

[2019-02-12 14:13] rreimann commented on #611
@violetagg thx for the quick feedback - will check asap and provide feedback.

[2019-02-12 15:16] rreimann commented on #611
👍 can confirm that the fix contained in `0.8.5.BUILD-SNAPSHOT` works as expected. The error is logged on `DEBUG` instead of `ERROR` level now:
[code]
Therefore I'm closing this issue - thanks a lot! 😃

[2019-02-12 15:16] #611 closed

[2019-02-12 19:12] #604 closed

[2019-02-12 19:30] smaldini commented on #604
That commit should actually bind to any local address (so not all public/loopbacks, but loopbacks)

[2019-02-12 20:12] tony-clarke-amdocs commented on #413
@violetagg I am also seeing the same issue. See: https://github.com/spring-cloud/spring-cloud-gateway/issues/473
As for reproducible steps. We are seeing it from Spring Cloud Gateway. Just send many requests through spring cloud gateway and wait anywhere from 1 hour to 12 hours.
See stack trace here: https://github.com/spring-cloud/spring-cloud-gateway/issues/473#issuecomment-461188953
We using 0.

[2019-02-12 21:28] sdeleuze commented on #604
Thanks

[2019-02-13 10:01] fern4n commented on #536
I have a service running Spring Boot v2.1.2.RELEASE (reactor-core v3.2.5.RELEASE & reactor-netty v0.8.4.RELEASE) and it uses WebClient to communicate with other backend services.

I have the same error in my logs:

[code]

[2019-02-13 11:34] kimec opened #612 "how to configure pooled connection idle timeout"
I am using reactor-netty http client (0.7.X series) with connection pooling and would like to configure pooled connection's idle timeout but don't know where.

More precisely, I need to configure reactor-netty's connection pool in such a way that it will automatically close connections that did not see any activity within configurable timeout. These connections are open but no bytes were transferr

[2019-02-15 10:08] Lewik commented on #381
`io.projectreactor.netty:reactor-netty:0.8.4.RELEASE`
No hangs within 1 day.

@yu199195 Could you check?

[2019-02-15 20:09] juanpmarin commented on #399
@smaldini Is there a workaround for this ?

[2019-02-18 02:48] yu199195 commented on #381
@Lewik  yes，We used websocket in production，This happens after a period of running
So，We can only use native netty。
Webflux，Not mature enough， at least for now。

[2019-02-18 08:29] Lewik commented on #381
@yu199195 Check with new version, please.

[2019-02-18 10:08] mld-ger commented on #605
I checked and you end up in `FluxReceive#onInboundError`.

Stacktrace:
[code]

But in there, the original exception is never thrown.

[2019-02-18 14:05] violetagg commented on #605
@mld-ger It is not thrown, but propagated. Did you try to listen for errors? `doOnError` hook?

this row number `onInboundError:351, FluxReceive (reactor.netty.channel)` points to a code that just marks the connection as not persistent.
https://github.com/reactor/reactor-netty/blob/63833122b1de72325767c88bbbc4fc45ddae038e/src/main/java/reactor/netty/channel/FluxReceive.java#L351

Do you enter here

[2019-02-18 17:25] violetagg commented on #581
118c7ba is a test case using `channelGroup` approach

[2019-02-18 18:32] segabriel commented on #581
Great! I look forward to the sooner release with.

[2019-02-18 18:32] violetagg commented on #495
Approach with channel group will be implemented for TCP/HTTP server (as described here for the client):
https://github.com/reactor/reactor-netty/issues/581#issuecomment-457306768

As a workaround for now - `doOnConnection` and `channelGroup.add(connection.channel())` can be used.

This issue will depend on #586

152476f7144e300191b051c5773265a6a5c2f63d  is a test case using `channelGroup` approach

[2019-02-19 08:04] kimec commented on #612
I have created a related SO question [how to configure pooled connection idle timeout in reactor-netty](https://stackoverflow.com/questions/54761291/how-to-configure-pooled-connection-idle-timeout-in-reactor-netty)

[2019-02-19 16:57] violetagg commented on #612
@kimec currently not possible. We plan to have such functionality for 0.9.x

[2019-02-19 22:17] wdroste commented on #422
I also see the same issue in Spring Boot 2.1.2.RELEASE
`2019-02-19 16:10:32.947 ERROR 20234 --- [or-http-epoll-1] io.netty.util.ResourceLeakDetector       : LEAK: ByteBuf.release() was not called before it's garbage-collected. See http://netty.io/wiki/reference-counted-objects.html for more information.
Recent access records:
Created at:
        io.netty.buffer.PooledByteBufAllocator.newDirectBuff

[2019-02-19 22:19] wdroste commented on #422
Same issue in Spring Boot 2.1.2 RELEASE

[code]

[2019-02-19 22:24] spencergibb commented on #422
I'd try with boot 2.1.3.RELEASE as the reactor team has worked hard on these issues.

[2019-02-19 22:25] wdroste opened #613 "Same issue in Spring Boot 2.1.2 RELEASE"
Same issue in Spring Boot 2.1.2 RELEASE

Basic code is feeding bytes into parser.

[code]

Exception:

[code]

_Originally posted by @wdroste in https://github.com/reactor/reactor-netty/issues/422#issuecomment-465334471_

[2019-02-19 22:36] smaldini commented on #613
Is this a post body processor ? It looks like this case is particular looking at the current encoder CharSequenceEncoder @bclozel @rstoyanchev. In effect the encoding does rely on being given to us for a write (via send) but in this example the user is providing what seems to be a post processor to reduce it, therefore taking responsibility of releasing himself.

[2019-02-19 22:40] smaldini commented on #64
Closing for now since we have a new lifecyle API, we might need to re-open in more details but given the API refactor to avoid nesting, it might make less sense. We could still provide an explicit Client API for this tho (we currently do with HttpClient#headers(Consumer<HttpHeaders>))

[2019-02-19 22:40] #64 closed

[2019-02-19 23:01] wdroste commented on #613
@smaldini I'm trying to follow the pattern in XmlEventDecoder.. the long and short of it is this is feeding a hand written aalto xml parser that uses an ES6 generator to do XML parsing in Kotlin coroutines.

[2019-02-19 23:09] wdroste commented on #422
@spencergibb  will give it a try.

[2019-02-20 07:36] Sanych opened #614 "Both transfer-encoding and content-length headers are present in a request"
I have found out the behavior which doesn't meet RFC7230.
According to specification Transfer-Encoding and Content-Length headers can't be present in a request at the same time. I'm referring to [paragraph 3](https://greenbytes.de/tech/webdav/rfc7230.html#message.body.length)

HttpClient.RequestSender#sendForm method leads to the situation when both Transfer-Encoding and Content-Length headers are

[2019-02-20 08:34] Lewik commented on #381
There are no freezes with 0.8.4.RELEASE within about week. There was freezes with previous versions within 1-2 hours. As I (nobody) don't know why freezes happens and how to check this: Personally I will assume that freezes was fixed in 0.8.4.RELEASE. If anybody will face freezes again - please text here. Thanks @violetagg for her patience.

[2019-02-20 11:15] WiedemannA opened #615 "UnresolvedAddressException when using HttpClient"
### Expected behavior
`WebClient` created from `ClientHttpConnector` using `reactor.netty.http.client.HttpClient` doesn't cause `UnresolvedAddressException` when used.

### Actual behavior
Using the HttpClient causes the following exception:
[code]

### Steps to reproduce
The Problem occurs in a spring boot webflux service:
1. We create a TcpClient with the ProxyBuilder to configure a proxy:
[code

[2019-02-20 11:52] violetagg commented on #381
Let's close this. If the issue appears again we will reopen it.

[2019-02-20 11:52] #381 closed

[2019-02-20 12:47] violetagg commented on #615
@WiedemannA I cannot reproduce the issue with the latest Reactor Netty `0.8.5.RELEASE` (Spring Boot `2.1.3.RELEASE`).
https://github.com/violetagg/ReactorNettyIssue615

May be there is a missing configuration?

[2019-02-20 14:11] WiedemannA commented on #615
@violetagg: I've updated our Project to Spring Boot from `2.1.1.RELEASE` to `2.1.3.RELEASE` and that solved the problem.
-> I've debugged the code and in the new version the 'remoteAddress'-Parameter given to 'Bootstrap.doConnect' is already a resolved Address, which fixes the probem...
I didn't think that a minor outdated version could cause the problem :neutral_face:

Huge thank you for the fast

[2019-02-20 14:11] #615 closed

[2019-02-20 16:05] #614 closed

[2019-02-20 19:16] jim2paterson commented on #612
@kimec I responded to your SO post with an approach that worked for me in the 0.7.x branch.  It leveraged existing idle state handlers that netty provides.  I could not figure out how to do that in 0.8.x, so we lost that functionality when we upgraded.

[2019-02-20 19:54] violetagg commented on #612
@jim2paterson @kimec With `0.8.5.RELEASE` we switched the connection pool to use the oldest `Channel` instead of the most recent one - #601

@jim2paterson
You can use the code below when 0.8.x (just copied the code from SO and did it with 0.8.x API)

[code]

[2019-02-20 23:49] jim2paterson commented on #612
@violetagg Thanks for the suggestion but I'd already attempted that on 0.8.3/.4 without success.  The code compiles but does not behave properly. In 0.7.x, you can see established http socket connections being removed after the specified idle time.  I tried it again just now with 0.8.5 and got the following exception dump that ultimately dies with a stack overflow.

Thanks again for the suggestion

[2019-02-21 13:58] rstoyanchev commented on #613
The controller method parses the request body and seems to accumulate into a single String that is then written to the response body? That could explain the involvement of `CharSequenceEncoder` but it has the [necessary checks](https://github.com/spring-projects/spring-framework/blob/25d7f09f8dacbd51d1551b4d7fed1687b068ec11/spring-core/src/main/java/org/springframework/core/codec/CharSequenceEncod

[2019-02-21 21:05] kimec commented on #612
@jim2paterson  @violetagg  thank you both for your replies. Since we are still on 0.7.x, I will try @jim2paterson's advice.

[2019-02-22 07:15] salacr commented on #547
Hi,
I have similar issue so if I can somehow help with investigation please let me know.

[2019-02-22 20:44] wdroste commented on #613
So on 2.1.2 I can get it to error under heavy load. I tried 2.1.3 yesterday and haven't seen the error.. however there were times during the load times I didn't see it at all.. so I thought I had it correctly worked out. I'll be doing more 2.1.3 testing in the coming weeks.

[2019-02-24 19:53] muhmud commented on #536
0.8.5 fixed this for me

[2019-02-25 04:37] nischit7 opened #617 "Webclient doesnt support proxy server"
### Expected behavior
When webclient is intialized with proxy server configuration, HTTP calls should succeed.

### Actual behavior
When one configures spring webclient with proxy server, it throws -
[code]

### Steps to reproduce
Initially I was wondering if this has anything to do with my setup itself. That means, whether wiremock is doing proxy server role properly.
I then tried on spring rest

[2019-02-25 13:34] violetagg commented on #617
@nischit7 I think the issue here is that `WireMock` does not support forward (browser) proxying to an HTTPS target https://github.com/tomakehurst/wiremock/issues/401

Reactor Netty uses the functionality provided by Netty for proxying the requests, that functionality is based on `HTTP CONNECT` method, according to the issue above this is not supported by `WireMock`.

If you need proxy server for t

[2019-02-25 14:45] antongrinenko commented on #603
I have exactly the same issue in my reactive spring boot application.
Lib version: reactor-netty-0.8.5.RELEASE.jar

Waiting for fix...

[2019-02-25 15:42] wingsofovnia opened #618 "Log level WARN is used for RedirectClientException on 302 Found (followRedirect)"
I'm using reactor-netty in conjunction with spring webclient and the service I access responses 302 Found with a new `Location` to follow.

### Expected behavior
(of Netty HttpClient)
1. Make a request and get a 302 Found response with new `Location`
2. Follow `Location`
3. Return response to the caller
4. No suspicious ERROR logs shown

### Actual behavior
(of Netty HttpClient)
1. Make a request

[2019-02-25 15:48] wingsofovnia commented on #618
FYI: Just tested the `0.8.5.RELEASE` and it decreases the `ERROR` level to `WARN`.

Still, `The connection observed an error reactor.netty.http.client.RedirectClientException: null` is not very descriptive and the level should be rather `DEBUG` imho.

[2019-02-25 16:10] #618 closed

[2019-02-25 16:21] violetagg commented on #605
@mld-ger Were you able to check the questions above?

[2019-02-25 17:46] #480 closed

[2019-02-25 18:45] nischit7 commented on #617
@violetagg ... i think you didnt see my comment about squid proxy.
Secondly my connection is not https. Let me update my test case

[2019-02-25 18:48] nischit7 commented on #617
Updated the test case as below.
[code]

[2019-02-25 19:03] nischit7 opened #619 "Webclient doesnt support proxy server"
### Expected behavior
When webclient is intialized with proxy server configuration, HTTP calls should succeed.

### Actual behavior
``
Note: I reported this issue earlier https://github.com/reactor/reactor-netty/issues/617. Probably my test case did not have enough information and hence that issue was marked invalid. I created this issue with more detailed test case information.
``

When one confi

[2019-02-25 19:39] violetagg commented on #619
#617 duplicate

[2019-02-25 19:39] #619 closed

[2019-02-25 21:03] violetagg commented on #617
@nischit7

I ran `Hoverfly` with the command below

[code]

More about `-plain-http-tunneling` here https://github.com/SpectoLabs/hoverfly/issues/650

Then executed `ProxyServerTest#webclientWithHoverflyAsProxyServer` -> it passed

###################

I ran `Squid` with the following option set to `allow` (it is `deny` by default)

[code]

Then executed `ProxyServerTest#webclientWithSquidAsProxyS

[2019-02-25 21:18] #481 closed

[2019-02-26 17:22] nischit7 commented on #617
@violetagg  Thanks a lot for clarifying. In the beginning when you mentioned about CONNECT method, I didnt give enough attention. The moment I saw what you altered Squid proxy config for "allow CONNECT", it enlightened me. I am closing this ticket

[2019-02-26 17:22] #617 closed

[2019-02-27 08:11] kevin70 commented on #388
I'm facing the same issue.

[code]

[2019-02-27 11:07] antongrinenko commented on #564
I have the same issue in my spring boot project:

 ERROR [reactor-http-epoll-1] [reactor.core.publisher.Operators] Operator called default onErrorDropped io.netty.channel.unix.Errors$NativeIoException: syscall:read(..) failed: Connection reset by peer
        at io.netty.channel.unix.FileDescriptor.readAddress(..)(Unknown Source)

If I can help you with some additional debug info fill free to ask.

[2019-02-27 12:34] #553 closed

[2019-02-27 15:15] alexe13 commented on #302
@georgeyanev I was struggling with reconnect too. Finally I made it work using observe() method, see following gist for example: https://gist.github.com/alexe13/c4afef6be7309447b690cfcd2cc60695
I'm not sure if this is the correct way to handle automatic reconnects, but reactor-netty documentation is pretty scarce so that's better than nothing I guess.

[2019-02-28 15:42] violetagg commented on #413
@tony-clarke-amdocs Are you able to test with `0.7.15.BUILD-SNAPSHOT`?

[2019-02-28 15:47] tony-clarke-amdocs commented on #413
Will try and get to it soon. Thanks!

[2019-02-28 19:56] dave-fl commented on #603
Hi @violetagg, I plan to start testing 0.85 release soon.  Hoping that I can test this fix as well.  Feels like one of these will be the last one.

[2019-03-02 11:36] georgeyanev commented on #302
That is interesting, I will try this. After all if there is no response here we have to manage it ourselves.

[2019-03-02 23:19] RayJSeth opened #625 "ipv6 forwarded headers cause NumberFormatException in ConnectionInfo"
When netty handles a request containing an x-forwarded-* header with ipv6 format, no port, and no brackets, the last segment is taken as port and Integer.parse throws NumberFormatException on the hex or compressed 0.

parseAddress should infer when ipv6 but no brackets to prevent parsing last segment.

PR [here](https://github.com/reactor/reactor-netty/pull/626)

### Steps to reproduce

Send reque

[2019-03-03 07:56] igorkatz commented on #564
I have the same issue:

`` io.netty.channel.unix.Errors$NativeIoException: syscall:read(..) failed: Connection reset by peer
	at io.netty.channel.unix.FileDescriptor.readAddress(..)(Unknown Source) ~[netty-transport-native-unix-common-4.1.33.Final.jar!/:4.1.33.Final]
``

I use spring boot 2.1.3.RELEASE that brings netty 4.1.33.Final
The same version is used on the server and client side
The applic

[2019-03-04 07:37] violetagg commented on #625
Fixed by #626

[2019-03-04 07:37] #625 closed

[2019-03-04 07:41] violetagg commented on #605
@mld-ger Closing this. If you are able to provided the information above we will reopen the issue.

[2019-03-04 07:41] #605 closed

[2019-03-04 10:12] andreisilviudragnea opened #628 "WebClient hangs indefinitely"
A minimal example project reproducing this bug can be found here: https://github.com/andreisilviudragnea/reactor-webclient-netty-bug

The Spring `WebClient` sometimes hangs indefinitely because of a possible bug in the [`reactor-netty`](https://github.com/reactor/reactor-netty) and/or [`netty`](https://github.com/netty/netty) projects. The root of this bug is that the `channel.read()` call in [`Fl

[2019-03-04 23:07] dave-fl commented on #603
Tested 0.85 using my standard test.  Leaking after about 30 min under load.

	2019-03-04T18:01:25.91-0500 [APP/PROC/WEB/0] OUT 2019-03-04 23:01:25.896 ERROR 14 --- [or-http-epoll-7] io.netty.util.ResourceLeakDetector       : LEAK: ByteBuf.release() was not called before it's garbage-collected. See http://netty.io/wiki/reference-counted-objects.html for more information.
	2019-03-04T18:01:25.91-050

[2019-03-05 03:03] flisky opened #629 "`Broken pipe` is not throwed with netty-transport-native-epoll dependency"
Note: This issue is also reported in spring-projects/spring-framework#22501

### Expected behavior
The client aborting error should be throwed, and then logged by Spring.

### Actual behavior
The client aborting error is not throwed with `netty-transport-native-epoll` dependency.

### Steps to reproduce
* clone https://github.com/flisky/webflux-demo and run it
* `curl http://localhost:8080/test -m

[2019-03-05 04:58] dave-fl commented on #603
I attempted to use native timeouts via the `ReadTimeoutHandler` but it did not have any impact.

[2019-03-05 20:14] violetagg opened #630 "Possible memory leak when channel inactive on the server and native transport"
Scenario:
- the incoming bytes are received on the server but there is no consumer subscribed
- client closes the connection and the server's response is still ongoing
- native transport is in use

[2019-03-05 21:58] violetagg commented on #629
@flisky The `Broken pipe` is just logged in the log file and not propagated.
Do you expect the same behaviour with the native transport? i.e. to see in the logs exception about channel close?

https://github.com/reactor/reactor-netty/blob/master/src/main/java/reactor/netty/http/server/HttpServerOperations.java#L504
[code]

[2019-03-05 22:46] #630 closed

[2019-03-06 02:20] dave-fl commented on #603
A bit different on one of them.

	2019-03-05T20:56:37.83-0500 [APP/PROC/WEB/0] OUT     Hint: 'reactor.right.reactiveBridge' will handle the message from this point.
	2019-03-05T20:56:37.83-0500 [APP/PROC/WEB/0] OUT     io.netty.handler.codec.http.DefaultHttpContent.touch(DefaultHttpContent.java:88)
	2019-03-05T20:56:37.83-0500 [APP/PROC/WEB/0] OUT     io.netty.handler.codec.http.DefaultLastHttpCon

[2019-03-06 03:10] flisky commented on #629
Yes, I do. Besides logging, maybe this exception should be also throwed out?

And under `netty-transport-native-epoll`, I'm confirmed the https://github.com/reactor/reactor-netty/blob/15934fd42465b38ef94d10acdfa60eb40e2a3d11/src/main/java/reactor/netty/channel/ChannelOperations.java#L186 is not called.

[2019-03-06 11:16] violetagg commented on #302
@georgeyanev Something similar to the snippet above (provided by @alexe13) can be achieve with

https://github.com/reactor/reactor-netty/blob/master/src/main/java/reactor/netty/Connection.java#L282

See the test cases above.

[2019-03-06 11:24] violetagg commented on #564
@antongrinenko What's the Reactor Netty (Spring Boot) version?

@igorkatz Do you see this as an ERROR log or as a DEBUG log? Do you see this on the server or on the client?

[2019-03-06 11:25] violetagg commented on #388
@kevin70 What's the version for Reactor Netty?

[2019-03-06 12:15] igorkatz commented on #564
It was ERROR on the client side.
I understood the problem. I use Swarm to orchestrate my dockerized applications. Swarm has a load balancing (LB) to implement its routing mesh. LB closes inactive connections.  Enabling of keep alive for channels was not enough because it started after connection closing.
Implementation of keep alive on application level for idle connections solved the problem.

[2019-03-06 14:24] rstoyanchev opened #632 "Improve handling for pooled connection when server responds with "Connection: close""
This is based on https://github.com/spring-projects/spring-framework/issues/22464.

Using `WebClient` with Reactor Netty and making two inter-dependent requests to https://nominatim.openstreetmap.org, the second request results in:

[code]

On the first request the server returns:
[code]

The problem goes away if connection pooling is not used with `HttpClient.newConnection()`.

If a server indica

[2019-03-06 15:04] violetagg commented on #629
@flisky
I made some changes to your example:
1. I added a `wire logging` so that I can see the traffic between the peers.
[code]

2. I added logging to your `Publisher`
[code]

So there is a difference between `NIO` and the `native transport` when propagating the closed connection event.

The native transport propagates immediately the event, so that `Reactor Netty` doesn't start sending anything

[2019-03-07 08:13] creatorKoo commented on #612
I really want to this function, especially TcpClient (and HttpClient also).

[2019-03-07 08:49] LyStormrage commented on #476
I had the same problem，it's always nginx server ip address. And I can't customize the format

[2019-03-07 10:50] flisky commented on #629
Thanks for clarifying, and it makes sense.

Anything we can improve here? just curious.

[2019-03-07 12:49] violetagg commented on #629
@flisky yes give us some time for discussion :)

[2019-03-07 15:31] violetagg commented on #628
Waiting for Netty `4.1.34.Final`

[2019-03-07 15:57] joshfix opened #633 "Memory Leak using WebClient"
I am running Spring Boot 2.1.3 (reactory-netty 0.8.5).  I have an app that grabs a file from AWS containing nearly 1.5 million lines and does some processing.  Each line represents a single metadata record.  For each record, I need make a GET call to a remote service to see if that record has already been processed, another GET call to retrieve an HTML page for that record that contains links to e

[2019-03-07 16:02] joshfix commented on #633
Forgot to mention, if I replace all WebClient instances with RestTemplate calls, the problem goes away.  But if I leave in any one single WebClient call, the issue resurfaces.  I have multiple other apps using WebClient and have never experienced this issue before.

[2019-03-07 21:20] dave-fl commented on #633
The leak looks like its in your exchange call.

https://github.com/joshfix/landsat-harvester/blob/master/src/main/java/com/boundlessgeo/stac/harvester/v2/StacClient.java#L96

You must consume the response.

[2019-03-07 21:23] violetagg commented on #633
@joshfix I agree with @dave-fl findings. You just consume the status code and do not dispose/consume the response body

[2019-03-08 14:58] #628 closed

[2019-03-08 14:59] violetagg commented on #628
Netty updated to `4.1.34` for `0.7.x`, `0.8.x` and `master`

[2019-03-08 16:27] violetagg commented on #633
Closing this. @joshfix please fix your example and if you still see memory leaks we will reopen this issue.

[2019-03-08 16:27] #633 closed

[2019-03-08 19:20] violetagg commented on #632
While we are waiting (https://github.com/netty/netty/pull/8924) for Netty 4.1.35.Final, we will provide a workaround in Reactor Netty

[2019-03-11 14:04] rstoyanchev commented on #603
One potential issue based on the sample provided in https://github.com/spring-projects/spring-framework/issues/22384 is that [ByteBufFlux#aggregate](https://github.com/reactor/reactor-netty/blob/6dadb1686c38dba85faef2e5873120e88dc07698/src/main/java/reactor/netty/ByteBufFlux.java#L257-L262) accumulates and retains without any provision for cancellation (e.g. via doOnDiscard) that I can see. That l

[2019-03-11 14:39] violetagg commented on #603
@rstoyanchev According to https://projectreactor.io/docs/core/release/api/reactor/core/publisher/Mono.html#using-java.util.concurrent.Callable-java.util.function.Function-java.util.function.Consumer-

`... and makes sure the resource is released if the sequence terminates or the Subscriber cancels.`

I'll check the sample.

However if it is an issue it belongs to a new issue and not this one.

[2019-03-11 16:03] #155 closed

[2019-03-11 17:50] tony-clarke-amdocs commented on #413
@violetagg So far this looks better. I have no been able to reproduce the problem. So whatever you did it looks better so far :)

[2019-03-11 18:07] violetagg commented on #413
@tony-clarke-amdocs I backported several fixes from 0.8.x to 0.7.x

[2019-03-11 19:27] violetagg opened #636 "Handle "IllegalReferenceCountException: refCnt: 0, decrement: 1" when ByteBufFlux#aggregate"
`IllegalReferenceCountException: refCnt: 0, decrement: 1` can happen under load when there is `cancel` signal to `ByteBufFlux#aggregate`

[code]

[code]

Related to https://github.com/spring-projects/spring-framework/issues/22384

[2019-03-12 14:16] enricosecondulfo opened #639 "Http/2 Client Support"
Are there any examples of connection to a server with http/2 support?

Thanks

[2019-03-12 14:24] violetagg commented on #639
@enricosecondulfo There is not support in 0.8.x

[2019-03-12 19:14] ealexhaywood opened #640 "Does the WebClient not respect the default JVM SSLContext?"
### Expected behavior

When I pass keystore/truststore arguments, such as

`-Djavax.net.ssl.keyStore=$(KEYSTORE) -Djavax.net.ssl.keyStorePassword=$(PASSWORD) -Djavax.net.ssl.trustStore=$(TRUSTSTORE) -Djavax.net.ssl.trustStorePassword=$(TRUSTSTORE_PASSWORD) -Djavax.net.ssl.trustStoreType=$(TRUSTSTORE_TYPE)` in the `_JAVA_OPTIONS` environment variable to the JVM, I expected the `WebClient` to use th

[2019-03-13 11:34] violetagg commented on #640
@ealexhaywood Can you try setting `-Dio.netty.handler.ssl.noOpenSsl=true`

[2019-03-13 14:34] violetagg commented on #104
HTTP/2 for the server is available with Reactor Netty 0.8.x
HTTP/2 for the client will be tracked here #639

[2019-03-13 14:34] #104 closed

[2019-03-13 14:38] violetagg commented on #399
HTTP/2 for the client will be tracked here #639

[2019-03-13 14:40] violetagg commented on #391
HTTP/2 for the client will be tracked here #639

[2019-03-13 14:40] #391 closed

[2019-03-13 14:40] violetagg commented on #639
#104
#391
#399

[2019-03-13 15:06] violetagg commented on #549
The current logging supported for the `HTTP` server with `HTTP/2` configuration is the following:

[code]

In the handler if you do the following:

[code]

You will receive:
[code]

Is that what you want?

[2019-03-13 18:12] ealexhaywood commented on #640
That didn't work :( it still sends credential-less requests.

[2019-03-13 19:06] violetagg commented on #640
Did you at least enable the SSL?

https://docs.spring.io/spring/docs/5.1.1.RELEASE/spring-framework-reference/web-reactive.html#webflux-client-builder-reactor

[code]

[2019-03-13 21:10] ealexhaywood commented on #640
Right, that was kind of my point.  I didn't think I would have to set an SSL context since the JDK's native web clients `URLConnection` and `HttpClient` don't require you to, and was wondering if there was a non-code changing way to do this.

And that did not work.

[2019-03-13 21:12] violetagg commented on #640
@rstoyanchev What do you think? ^^^ Should there be some SSL configuration enabled by default for WebClient?

[2019-03-14 05:57] #636 closed

[2019-03-15 04:45] violetagg commented on #613
The following is reported via Gitter

[code]

[2019-03-15 20:27] konstantinshevchuk commented on #388
Issue is still there:
Spring boot 2.1.3-RELEASE / Reactor-Netty 0.8.5-RELEASE

`io.netty.channel.unix.Errors$NativeIoException: readAddress(..) failed: Operation timed out`

Used NIO 100%  `[reactor-http-nio-7]`

Happens one or two times per hour (Docker). Almost impossible to reproduce locally (MacBook Pro).

Is that platform dependent error?

@violetagg should I create a new issue for this?

[2019-03-15 20:30] konstantinshevchuk opened #641 "io.netty.channel.unix.Errors$NativeIoException: readAddress(..) failed: Operation timed out"
### Following link https://pivotal.io/security should be used to report security related issues

### [Gitter](https://gitter.im/reactor/reactor) should be used for questions and discussions

### Expected behavior

### Actual behavior

### Steps to reproduce

### Reactor Netty version

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

Spring boot 2.1.3-RELEASE / Reactor-Nett

[2019-03-18 01:56] sercasti opened #650 "Very low throughput - Spring Webflux Netty vs Gatling"
### Expected behavior
A vainilla Hello World example of Spring WebFlux with Netty should outperform Spring WebFlux with Tomcat, easily.

### Actual behavior
After 900 active gatling users, netty starts spitting ConnectTimeoutException
[code]
![alt text](https://github.com/sercasti/gatlingStressTest/raw/master/target/gatling/recordedsimulation-20190318004124114/users.png)

Same test against the sam

[2019-03-18 07:32] bsideup commented on #650
Hi @sercasti,

1. `Mono.defer` can be removed, `Mono.fromCallable` already guarantees the laziness
2. you're doing a blocking operation (File I/O) inside a non-blocking Netty's thread
3. `sha512Hex` is a very CPU heavy operation, it is better to do it in a separate thread pool (see `subscribeOn` operator) to avoid Netty's thread starvation

[2019-03-18 11:44] sercasti commented on #650
Thanks for your quick reply!
I'll fix 1. right away
As per 2. and 3., what would you recommend as a dummy operation to generate non blocking load? I'm trying to generate a scenario that will show the benefits of reactive vs blocking

[2019-03-18 13:19] rstoyanchev commented on #650
If you return the file as a `org.springframework.core.io.Resource` you will benefit from zero copy file transfer. Of course the file contents would have to have been encoded already.

To demonstrate the benefits you need to introduce some latency due to I/O (e.g. remote call) in the handling of the request.

[2019-03-18 21:46] gihad commented on #392
@violetagg Is this still being looked at. The low performance is really a barrier for our adoption. I think the comparison against Vertx is a really good point of reference.

Another way is to see Webflux rating high in these benchmarks: https://www.techempower.com/benchmarks/#section=data-r17&hw=ph&test=plaintext&l=zik0vz-1

[2019-03-18 21:53] gihad commented on #650
@sercasti Can you report back with your findings? Back when I was evaluating this the [performance was really low](https://github.com/reactor/reactor-netty/issues/392) compared to Vertx but I'm still hoping it will improve.

[2019-03-18 23:36] sercasti commented on #650
@gihad I keep trying, but getting the same results.
Following the advice from this conversation, I switched to a non blocking expensive computation (5000 digits of Pi) and webflux+tomcat is still outperforming webflux+netty, additionally, netty is throwing i.n.c.ConnectTimeoutException on high load.

https://github.com/sercasti/demoReactive/blob/PI/src/main/java/com/example/demo/controller/Control

[2019-03-19 06:46] bsideup commented on #650
@sercasti but you didn't move the computation to a separate thread pool with `subscribeOn`. CPU heavy computations are as bad as blocking IO.

[2019-03-19 08:15] violetagg commented on #650
@sercasti Let me explain in details what you are observing:
You are using Spring WebFlux with runtime Netty and runtime Tomcat.
When you use Spring WebFlux it is guaranteed that Tomcat will be used with the non-blocking functionality that is provided by Servlet 3.1. However by default Tomcat comes with a thread pool of 200 thread, while Netty will be configured to use threads number equal to the c

[2019-03-19 22:58] dave-fl commented on #650
Your limit will always be how fast your thread pool can complete work + the time for the system to context switch to join on when the work is ready.  You should be publishing on the worker thread pool and not interrupting the event loop.

I would add some logic to allow some results to get cached or perform some non blocking work.  You can use a fixed delay of say 50ms (`Mono.delay`) and return so

[2019-03-19 23:28] crankydillo opened #651 "`doAfterResponse`: response does not have correct context when using default connection pool"
I think [this code](https://github.com/reactor/reactor-netty/blob/master/src/main/java/reactor/netty/resources/PooledConnectionProvider.java#L439) is the culprit.  With this patch:

[code]

my test and all the rest pass, but I'm super new to this and have ~0 confidence this is the correct fix (if it's even broken).

### Expected behavior

`doAfterResponse` should have the same context that `doOnRe

[2019-03-20 09:32] bclozel commented on #640
We could indeed enable security by default on the `WebClient` Reactor connector (we've enabled compression already).

It looks like this won't solve this particular issue; looking at Netty's codebase, it doesn't seem Netty is looking at `javax.net.ssl` system properties when setting up the SSL contexts.

[2019-03-20 14:01] frko commented on #26
Due to the open state I wonder if the feature indeed was landed in version 0.8 or not.

We are quite eager to be able to use this feature within spring-cloud-gateway instead of hystrix or ribbon due to their deprecation with the last spring-cloud release.

[2019-03-20 15:41] violetagg commented on #26
@frko Can't you use the Spring Gateway functionality?
spring.cloud.gateway.httpclient.response-timeout

[2019-03-20 16:15] frko commented on #26
I can but this will leak resources if the underlying connection isn't properly closed.

[2019-03-20 22:50] krm1312 opened #653 "Spring stomp client does not always reconnect to broker if using SSL"
It appears there may be a race in connection pooling logic when an SSL endpoint does not perform any handshake.  This causes spring's stomp client to fail to reconnect under certain conditions.

Details (logs, etc.): https://github.com/spring-projects/spring-framework/issues/22080#issuecomment-474952213

We have:

app -> haproxy -> rabbitmq.

If rabbitmq goes down (all backends), haproxy will stil

[2019-03-21 02:14] dave-fl opened #654 "Latency Increase as Connections Increase"
I am seeing that latency at the 75%, 90% and 99% is increasing compared to some other Netty based frameworks - total throughput here about 30% less.  This seems to be directly related to an increase in load.  As connections increase - the average latency doubles relative to Vert.x.

My setup is not perfect - better hardware would reveal more.  But I believe it is enough to demonstrate.

Container

[2019-03-21 05:30] smaldini commented on #654
These results are aligned with other reports and are considered issues at least on our part. We also have slightly different default setup on the tcp and thread side that could affect it. Thanks for the repos that will help us identitify the gap and see with its related to the same causes of the existing issues.

[2019-03-21 05:38] smaldini commented on #641
Do you have a reproduction use case or a scenario that looks like your problem?

[2019-03-21 13:31] konstantinshevchuk commented on #641
@smaldini
I can show only the WARN line in my log file

`[id: 0xdea62af2, L:/172.19.0.5:53938 - R:comoany-dev.oktapreview.com/15.182.2.60:443] The connection observed an error`

This happens couple of time per hours. No more errors in the log file.

[2019-03-21 17:01] violetagg commented on #654
@dave-fl is this `wrk` or `wrk2`?

[2019-03-21 17:09] spencergibb opened #663 "Add option to allow WebsocketServerOperations to not respond to Ping frames"
This is a use case for Spring Cloud Gateway that uses Spring's WebSockets support to proxy WebSockets. The problem is that the ping frame doesn't get proxied to the backend WebSocket server.

See https://github.com/spring-cloud/spring-cloud-gateway/issues/729 for the original issue.

See https://github.com/reactor/reactor-netty/compare/master...spencergibb:spencergibb-proxy-ping for a POC that wor

[2019-03-21 17:11] spencergibb commented on #663
I'd like a fix to go into 8.x if possible.

[2019-03-21 18:24] violetagg commented on #654
@dave-fl Is it possible it is something in the setup? I have 2 VMs, on the first I have `wrk2` on the second your app and then I receive the following:

Reactor Netty
[code]

Vert.x
[code]

[2019-03-21 22:37] dave-fl commented on #654
@violetagg I used wrk, not wrk2.  I don't believe epoll was enabled for either (as it doesn't appear to be the default).  I can try that.

Ideally this should be tested on proper hardware.  Your run appears like you have less CPU power than the container that I am using (which I don't think was very high) because it seems like I was getting higher throughput than you.

When I run locally these are

[2019-03-21 23:28] dave-fl commented on #654
@violetagg I used wrk, not wrk2. I don't believe epoll was enabled for either (as it doesn't appear to be the default). I can try that.

I have a proper ESXi server at another location which I will access to next week.  I can do some more controlled tests than.  Too many unknowns here.

[2019-03-22 00:35] rstoyanchev commented on #654
@dave-fl, a couple of comments to start. The description of wrk2 explains deficiencies with using wrk for measuring latency especially in the high percentile. To my knowledge Gatling has those addressed. Also for WebFlux a more fair comparison would be to [functional endpoints](https://docs.spring.io/spring/docs/current/spring-framework-reference/web-reactive.html#webflux-fn), vs the annotated pro

[2019-03-22 01:35] dave-fl commented on #654
Ok so I setup two `c5d.2xlarge` instances on EC2.  The latency numbers are all very close.  I believe the limit here was the networking link 10gbe as it appears to have been saturated.

So why is this happening?  It seems that many who are testing this could be bound by CPU.  Top was showing CPU to be around 340 for Vert.X and 540 for Reactor.  Webflux was 795.  I tried both default and epoll.  Di

[2019-03-22 02:10] dave-fl commented on #654
@rstoyanchev Just ran Webflux functions.  A lot better.  CPU still very high (795 in top).  Also, not able to saturate like the others.

	# Webflux Functions
	Running 1m test @ http://10.80.4.16:8080/demo?length=10240
	  16 threads and 200 connections
	  Thread Stats   Avg      Stdev     Max   +/- Stdev
		Latency     2.03ms    4.55ms 206.36ms   99.69%
		Req/Sec     6.44k   387.94     8.00k    81.3

[2019-03-22 05:51] dave-fl commented on #654
Alright last run.  Using wrk2.  Also optimized the Webflux Functions to use buffers and ran on a bigger machine (16 cores, so I wouldn't top out the CPU, I can saturate the NIC now even with Webflux).  You see more CPU usage with Reactor + Larger Deviation.

	# Webflux Function with Buffer (CPU 700, CPU was 900 with String)
	Running 1m test @ http://10.80.4.25:8080/demo?length=10240
	  8 threads a

[2019-03-25 22:23] jim2paterson opened #673 "Trace shows negative number of inactive connections"
### Following link https://pivotal.io/security should be used to report security related issues

### [Gitter](https://gitter.im/reactor/reactor) should be used for questions and discussions

### Expected behavior
Channel pool / connection management debug tracing shows only positive number of inactive connections.

### Actual behavior
Early in the log, we see what looks like the 3 channels being c

[2019-03-25 22:32] jim2paterson commented on #673
[test.zip](https://github.com/reactor/reactor-netty/files/3005774/test.zip)

[2019-03-26 03:17] tonyskulk commented on #564
@igorkatz Glad that you got this to work. Can you specify what exactly you meant by

.

[2019-03-26 06:37] igorkatz commented on #564
See below link for more information:
https://netty.io/4.1/api/io/netty/handler/timeout/IdleStateHandler.html

[2019-03-26 07:26] #651 closed

[2019-03-26 07:29] violetagg commented on #603
https://github.com/reactor/reactor-core/issues/1622

[2019-03-26 07:36] violetagg commented on #603
Reactor Core updated to version 3.2.7.RELEASE

[2019-03-26 07:36] #603 closed

[2019-03-27 12:43] chang-chao opened #688 "disconnecting state is not called on ConnectionObserver of TcpServer"
Only connection status of connected and configured is called on ConnectionObserver of TcpServer, not disconnecting.

while the [Javadoc](https://github.com/reactor/reactor-netty/blob/5a59344236ea6a04383766693d61fc15d23a58e3/src/main/java/reactor/netty/tcp/TcpServer.java#L354) of `TcpServer.observe` says it should be called after disconnected.

[Here](https://github.com/chang-chao/reactor-netty-sam

[2019-03-27 13:26] violetagg commented on #688
@chang-chao Your example is not quite valid:
- You do not have shutdown hook (see below the shutdown hook)
- You keep the channel opened till the end (see #495 and the code below how you can add a channel group in order to close such channel)

[code]

However there is still one issue with `disconnecting` event and I'm going to provide a PR.

Regards,
Violeta

[2019-03-27 13:37] chang-chao commented on #688
@violetagg , thanks for your feedback, I will update my program according to your advice.

[2019-03-27 14:06] violetagg commented on #688
You need to add the channel to the group when `doOnConnection`

[2019-03-27 14:15] chang-chao commented on #688
@violetagg thanks for reminding , it was added in a later commit.

[2019-03-28 06:13] #688 closed

[2019-03-28 15:44] violetagg commented on #673
@jim2paterson The other issue may be related to #692

[2019-03-28 21:34] crankydillo opened #693 "How to time HTTP client events like SSL handshake"
We need to time the following events when using reactor-netty:

- Connection establishment
- DNS lookup
- SSL handshake
- Request send
- Response receive

To see if I could do this, I wrote [this app](https://github.com/crankydillo/reactor-netty/blob/727212895860aa53770f56076406cd3dbf684921/src/main/java/reactor/netty/http/client/App.java#L35) in order to play with various hook points. If a few bu

[2019-03-29 06:46] peopleremote commented on #654
@dave-fl
May us know the rough plan to improve this?

Thanks, Stephen

[2019-03-29 20:06] #673 closed

[2019-03-29 20:10] violetagg opened #694 "HttpClient leaks when sending a GET request with a body"
The `send` method that leaks is

[code]

[2019-03-29 21:15] #653 closed

[2019-03-29 21:37] violetagg commented on #673
Try the latest 0.8.7.BUILD-SNAPSHOT

[2019-03-29 21:37] violetagg commented on #653
Try the latest 0.8.7.BUILD-SNAPSHOT

[2019-03-30 06:42] xyrc opened #696 "Issue #508 has arisen again in the v0.8.5.RELEASE"
[#508](https://github.com/reactor/reactor-netty/issues/508)

![image](https://user-images.githubusercontent.com/29597377/55272598-d8414000-52f9-11e9-8006-8803d37058b7.png)

[2019-03-30 06:45] xyrc commented on #696
in v0.8.3.RELEASE, the code like this:
`if (!channel.isActive()) {
				Operators.error(s, new AbortedException("Cannot publish the content" +
						dataStream + ", the connection has been closed"));
				return;
			}`

[2019-03-30 06:49] xyrc commented on #696
pr [#509](https://github.com/reactor/reactor-netty/pull/509), the code like this:
[code]

[2019-03-30 07:23] violetagg commented on #696
@xyrc Can you give us some reproducible example?

[2019-03-30 07:29] #694 closed

[2019-03-30 08:26] xyrc commented on #696
Use this Test?
[code]
Refer [HttpServerTests.java](https://github.com/reactor/reactor-netty/blob/fc6099b456cd4c8bce401a6a81a8b255699f277d/src/test/java/reactor/ipc/netty/http/server/HttpServerTests.java)

[2019-03-30 08:36] xyrc commented on #696
spring-cloud-gateway version: 2.1.0
reactor-netty version: 0.8.5
[code]

[2019-03-30 08:44] violetagg commented on #696
@xyrc The fix was enhanced with #554 so that we propagate the cancelation to the Publishers. I do not see the problem with the current code

[2019-03-30 08:49] violetagg commented on #696
Ok this must be something else, it seems some error appeared? `Operator called default onErrorDropped`

[2019-03-30 09:00] xyrc commented on #696
Okay, I'll check again. thank you!

[2019-03-30 09:02] #696 closed

[2019-03-31 10:54] violetagg commented on #613
There are fixes in the latest `Reactor Netty` `0.8.7.BUILD-SNAPSHOT` and `Spring Framework` `5.1.6.BUILD-SNAPSHOT`. Try that versions and if you still see memory leaks we will reopen the issue.

[2019-03-31 10:54] #613 closed

[2019-03-31 11:03] violetagg commented on #378
All, try the latest Reactor Netty 0.8.7.BUILD-SNAPSHOT, Reactor Core 3.2.8.RELEASE and Spring Framework 5.1.6.BUILD-SNAPSHOT
Closing this, it there is still memory leaks we will reopen it.

[2019-03-31 11:03] #378 closed

[2019-03-31 14:06] dave-fl commented on #378
Things still leak with the gateway if retry is on and this build.

[2019-03-31 14:11] violetagg commented on #378
@dave-fl Let's track it in the spring gateway issue, if it appear reactor netty we will reopen/create new issue.

[2019-04-01 15:52] jmnght commented on #613
@violetagg These leaks happen only in prod and takes a few days to show up. After I upgraded to netty 0.8.5 and Spring 5.1.5 a few days back, I got this leak once which means it's still not fixed. I will try the newer version and let you know.

[2019-04-01 15:53] violetagg commented on #613
@jmnght we have already Reactor Netty 0.8.6.RELEASE and Spring Framework 5.1.6.RELEASE. At least to test with them, but we have more in the snapshots

[2019-04-01 20:38] ealexhaywood commented on #640
I meant to post back a while back to show how I configured the `WebClient` for TLS, for what it's worth:

[code]

Like I said, not a big deal at all.  Just would be nice to have :)

[2019-04-03 00:54] jim2paterson commented on #673
@violetagg It's definitely fixed in the latest 0.8.7.BUILD-SNAPSHOT.  Thanks!

[2019-04-04 10:05] Bas83 commented on #422
Unfortunately I have a similar error in Spring Boot 2.1.3.RELEASE

Not doing anything fancy. Very basic high-level code.

[code]
and:
[code]

Error:

[code]

[2019-04-04 10:23] violetagg commented on #422
@Bas83 Try with the latest:
- Reactor Core 3.2.9.BUILD-SNAPSHOT
- Reactor Netty 0.8.7.BUILD-SNAPSHOT
- Spring Framework 5.1.7.BUILD-SNAPSHOT

[2019-04-04 10:51] #585 closed

[2019-04-04 10:57] Bas83 commented on #422
@violetagg have there been additional fixes in those versions or is that just to make sure it still exists in the current version? I would love to reproduce it in those versions but since the error is in production it's going to take some time.

[2019-04-04 11:18] violetagg commented on #422
@Bas83 yes there are
- Reactor Core - https://github.com/reactor/reactor-core/issues/1634 ; https://github.com/reactor/reactor-core/issues/1622
- Reactor Netty - #585 #694 #698
- Spring Framework - https://github.com/spring-projects/spring-framework/issues/22720

[2019-04-04 14:36] crankydillo commented on #558
Hi, my project has a need for this fix.  I've been allotted a small amount of time to look into this and started with [this failing test](https://github.com/crankydillo/reactor-netty/blob/980f4f7e46ccc4e29d230eaa65a4f7e941dbbab6/src/test/java/reactor/netty/http/client/HttpClientTest.java#L1256).

I did notice that if I reverted this observer reordering from [this commit](https://github.com/reactor

[2019-04-04 15:13] crankydillo commented on #558
I should not that other tests, unsurprisingly, fail when I change that back.

With this diff from [my branch](https://github.com/crankydillo/reactor-netty/tree/558-fix_doOnReqest_firing_time):
[code]

Failing tests:

![image](https://user-images.githubusercontent.com/335662/55566472-5d916f80-56c1-11e9-95d2-5802992caf89.png)

Note that my newly added `hookFiringOrder` test is failing as well; howev

[2019-04-04 22:42] violetagg opened #700 "Memory leak in ByteBufFlux#aggregate"
Test case c134b5b7e8f68577f9f0b350c21edd3e6b1ce7c4

[code]

[2019-04-05 11:56] violetagg commented on #558
@crankydillo Thanks for the analysis. Please check this PR #701

[2019-04-05 14:20] rstoyanchev commented on #700
This might have something to do with https://github.com/reactor/reactor-core/issues/1649.

[2019-04-05 14:24] rstoyanchev commented on #700
I've been able to detect a leak using a test like this which uses only reactor-core:

[code]

For extra context, the base class https://github.com/spring-projects/spring-framework/blob/master/spring-core/src/test/java/org/springframework/core/io/buffer/AbstractDataBufferAllocatingTestCase.java has the `stringBuffer` method which allocates the buffer and there is a rule that checks for leaks at the

[2019-04-05 16:02] dave-fl commented on #700
@rstoyanchev Do you think any of the `bodyToMono` or body extraction methods could be impacted by this?

[2019-04-05 16:19] rstoyanchev commented on #700
Yes absolutely, the above emulates what `DataBufferUtils#join` does.

[2019-04-05 21:24] dave-fl commented on #700
For some reason I thought that `bodyToMono` or some of the other body extractors did not use join.

[2019-04-07 09:05] #531 closed

[2019-04-07 09:08] violetagg commented on #531
An API is added for controlling the settings of the incoming responses. For the outgoing requests there is no limitation.

[2019-04-07 18:41] violetagg commented on #640
@ealexhaywood Why do you need to do this by yourself? You can delegate that to Netty.

I did the following:

[code]

[code]

[2019-04-08 09:41] #558 closed

[2019-04-08 13:11] crankydillo commented on #558
Thanks @violetagg !

[2019-04-11 07:00] be-hase opened #710 "Sometimes deadlock is occurred due to blocking DNS resolver"
### Expected behavior

Omit

### Actual behavior

In reactor-netty, `Mono#block()` and `Mono#blockOptional()` may occasionally produce deadlock.
(About twice in the last 4 months.)

Related Issue:
https://github.com/reactor/reactor-core/issues/1651
https://github.com/reactor/reactor-netty/issues/569

stack traces:

[code]

[code]

### Steps to reproduce

Prepare an environment to intentionally del

[2019-04-12 17:53] rstoyanchev opened #714 "Provide API to ensure client response is drained"
This is how [consumeAndCancel](https://github.com/spring-projects/spring-framework/blob/44df98c82da75114081ba02364e467004252bb77/spring-webflux/src/main/java/org/springframework/web/reactive/function/BodyExtractors.java#L267-L275) is done in the `WebClient` for example. This isn't too bad but anything using `HttpClient` would needs something similar and arguably Reactor Netty should have official

[2019-04-12 18:02] spencergibb commented on #714
Would be useful for spring Cloud Gateway

[2019-04-12 19:57] smaldini commented on #650
Closing for now unless there are some additional details you want to share @sercasti

[2019-04-12 19:57] #650 closed

[2019-04-12 20:08] gihad commented on #650
I believe the underlining performance issue is still not addressed. See https://github.com/reactor/reactor-netty/issues/392 where Webflux performance is 10x slower then Vertx.

[2019-04-12 20:14] violetagg commented on #650
@gihad This issue is closed based on the scenario that @sercasti tries to measure.
https://github.com/reactor/reactor-netty/issues/650#issuecomment-474239827

[2019-04-13 00:16] smaldini commented on #650
@gihad we found out parts of the problem where some are currently addressed by WebFlux for 5.2 already (content negotiation optimizations, encoder/decoder etc) and we have a few improvements which are coming, some in 0.8 and the rest in 0.9.
One area we are particularly exposed on in benchmarks (like #654)  is single responses as we are doing multiple flushes for what could be one single network f

[2019-04-13 12:40] gihad commented on #650
Thanks @smaldini, this is very encouraging.
Since you guys are looking into performance optimization it seems like a matter of time until the performance is on par.

[2019-04-15 15:31] ealexhaywood commented on #640
@violetagg Did you pass those arguments as a `_JAVA_OPTIONS` environment variable?  Maybe it works as regular commandline argument.

In our environment there is a strong preference to use environment variables for configuration instead of arguments.

[2019-04-15 15:49] violetagg commented on #640
@ealexhaywood JVM options

[2019-04-15 16:24] ealexhaywood commented on #640
Right, which is different from setting the `_JAVA_OPTIONS` variable.

[2019-04-15 16:24] #640 closed

[2019-04-16 05:52] YangYongZhi opened #715 "HTTP request timeout"
### Following link https://pivotal.io/security should be used to report security related issues

### [Gitter](https://gitter.im/reactor/reactor) should be used for questions and discussions
I had deployed an application which used reactor-netty into the kubernetes.
and I also have implemented a HTTP service to response for the health checking has been launched by kubelet.
HTTP url :
-XGET http://[

[2019-04-16 12:47] YangYongZhi commented on #715
Some Progresses:

In order to find out the reason for the connection timeout,  I add some logs in my application when it received a heath request which launched from Kubelet.

 .get("/{firstUrl}", (request, response) -> {
                   String firstUrl = request.param("firstUrl");
                   LOG.debug("The request launched from kubelet :" + firstUrl);
                   return response

[2019-04-16 16:13] GSuaki commented on #388
I was facing the StackTrace below and the tip from @YuryYaroshevich to set `keepAlive(false)` on `HttpClient` worked for me too. Thanks a lot!!

[code]

**Spring boot version**: 2.1.3.RELEASE

My configuration of WebClient now is:

[code]

[2019-04-16 16:14] GSuaki commented on #388
I was facing the StackTrace below and the tip from @YuryYaroshevich to set `keepAlive(false)` on `HttpClient` worked for me too. Thanks a lot!!

[code]

**Spring boot version**: 2.1.3.RELEASE

My configuration of WebClient now is:

[code]

[2019-04-17 15:25] seabamirum commented on #700
I also recently encountered this issue, which led to an OutOfMemoryError on one of our test servers. The LEAK: ByteBuf.release() happened shortly after a warning about a discard hook error.

`2019-04-16 10:33:37,492 WARN  reactor.core.publisher.Operators - Error in discard hook while discarding multiple values
java.util.ConcurrentModificationException: null
        at java.util.ArrayList.forEach(A

[2019-04-18 08:49] #632 closed

[2019-04-18 08:50] violetagg commented on #632
Workaround is removed and Netty updated to 4.1.35.Final

[2019-04-18 11:19] violetagg opened #717 "Switch from Netty Connection Pool to Reactor Pool"

[2019-04-18 17:58] hmble2 opened #718 "Rest endpoint echoing request attribute fails with: Only one connection receive subscriber allowed."
A basic REST endpoint that simply echoes headers (and other request attributes), fails with:
**Only one connection receive subscriber allowed.**

[code]

reactor service signature looks like this (It does nothing but accumulate headers, body, params in the returning Map):

`public Mono<ResponseEntity<Map<String, Object>>> service(@RequestBody(required = false) byte[] rawBody, ServerHttpRequest req

[2019-04-18 21:39] smaldini commented on #654
@dave-fl if you can try this branch locally, we are polishing it but it showed great promise on my machine https://github.com/reactor/reactor-netty/tree/MonoSend-experiment ?

[2019-04-19 00:10] philsttr opened #719 "POSTing empty request body over HTTPS hangs on second attempt"
If I submit two HTTPS POST requests using `HttpClient`, and the second request has an empty request body (content-length: 0), then the client hangs, and does not emit a response.

When I do the same over HTTP, it works. So, this appears isolated to HTTPS.
I only tried this with the JDK SSL Provider.  Did not try with the OpenSSL provider.

I originally reported this against `WebClient` as https://

[2019-04-19 14:34] violetagg commented on #718
@hmble2 Please provide a reproducible scenario. Typically this exception mean that you try to obtain the body more than once.

[2019-04-20 09:11] lubinson opened #721 "Monitor Http Client"
Hi,

I am using reactor http client from spring webclient.
We want to monitor the http client queue to know the current busy status.
So does reactor http client has this queue? and even we can set the size during http client initialization?
Or is there any other proposal to monitor similar stats.

Thanks a lot.

[2019-04-22 12:29] violetagg commented on #721
@lubinson What queue exactly do you want to monitor? (connections, requests, ...?)

[2019-04-22 13:04] hmble2 opened #722 "How to disable Expect: 100-continue default processing by underlying netty"
I have a proxy server that forwards requests to destination services. My server app is built using spring reactive + reactor-netty. I expect my proxy server to not handle Expect http request header ( so that target app can handle it). I have seen that proxy server is responding client with HTTP 100 and still forwarding Expect header to target app. This results in client getting two HTTP 100 (one f

[2019-04-22 14:25] hmble2 commented on #718
@violetagg below sample reproduces the error

[code]

[2019-04-22 15:28] violetagg commented on #718
This issue is related to https://github.com/spring-projects/spring-framework/issues/22284

@rstoyanchev The application does not get the request body but declares
`@RequestBody(required = false) byte[] rawBody` isn't it supposed that the framework will handle this use case?

[2019-04-22 18:33] lubinson commented on #721
@violetagg

The requests queue. Thanks.

[2019-04-23 15:45] jarpz commented on #564
@igorkatz
Hi I would like to implement that solution (https://netty.io/4.1/api/io/netty/handler/timeout/IdleStateHandler.html) but I don't know which PingMessage class comming from. Could you help me?

[2019-04-24 07:22] jkubrynski commented on #476
Is there any progress here? If no, are you open for pull requests?

[2019-04-24 07:27] violetagg commented on #476
@jkubrynski Sure we are OK with pull requests. If you have an idea for a pull request go for it.

[2019-04-25 11:44] #715 closed

[2019-04-25 11:48] YangYongZhi commented on #715
This issue don't relate with react-netty, I find out that this is because of a bug of guava.
The loadingCache has been locked, so that the worker thread of netty has been blocked too.
Sorry.

[2019-04-25 12:05] bsideup commented on #715
@YangYongZhi FYI you can try adding http://github.com/reactor/BlockHound to automatically detect blocked threads that should never be blocked

[2019-04-25 15:29] dave-fl commented on #654
I'm a bit tied up right now, but if someone wants to take the same project and try with this branch.  My tests were run on AWS using c5.2xlarge for the wrk2 machine and c5.4xlarge for the server machine.

[2019-04-28 14:32] igorkatz commented on #564
This is my implementation:

[code]

[2019-04-28 23:23] dave-fl commented on #654
@smaldini @violetagg Just tested this branch.  Huge improvement.  Performance is way up, stddev is very small.  CPU usage is way down.  About 270 during the run (previously was about 480).

When is this going into the main branch :)

	ubuntu@ip-10-80-4-169:~$ wrk2 -c500 -t8 -R120000 --latency 'http://10.80.4.92:8080/demo/10240' -d1m
	Running 1m test @ http://10.80.4.92:8080/demo/10240
	  8 threads

[2019-04-30 08:43] jicui opened #724 "Connection prematurely closed BEFORE response"
we have  the issue "Connection prematurely closed BEFORE response" ,refer to previous I suspect it is a firewall related or connection pool related ,but actually after I try to enable pool or disable pool ,neither helps .

we check the firewall log (Akamai) ,it return status=0 to client ,which indicates that client (reactor-netty) close the connection in some circumstances ,below is the doc from a

[2019-04-30 13:24] violetagg commented on #718
https://github.com/spring-projects/spring-framework/issues/22486

[2019-04-30 13:24] #718 closed

[2019-04-30 16:12] benitocm commented on #654
Hi,
Very informative the numbers.
Did you check how the behavior is if the number of connections are increased up to e.g. 50.000?

[2019-04-30 21:33] dave-fl commented on #654
@benitocm No.  I think the key is that CPU and standard deviation is down.  When a new build is made, I can do some other stuff for gateway too.

At that many connections, some of the native transport settings such as SO_REUSEPORT will likely become important.

[2019-05-01 08:48] benitocm commented on #654
@dave-fl Would it be possible to send you a private message for a couple of questions?  I have done a quick test with wrk and a very simple webflux server (just returning 200 Ok) and I was not able to get good numbers so i would like to discard silly errors and/or environment errors before extracting any conclusion.

[2019-05-01 22:43] dave-fl commented on #654
@benitocm

You can use my example repository. Just make sure to build with the referenced branch.

Also. Don’t run this on the same machine.

Take note of what I tested with. These well performing machines on AWS - C5.4xlarge and C5.2xlarge.

If you have specific questions send them on gitter.

[2019-05-03 09:51] shrykull opened #729 "Reuse Connection Pool with proxied connections"
### Following link https://pivotal.io/security should be used to report security related issues
Not security relevant

### [Gitter](https://gitter.im/reactor/reactor) should be used for questions and discussions
Been there, done that

### Expected behavior
Connection Pool is re-used with a proxied tcpclient

### Actual behavior
Memory leakage with potentially infinitely growing `reactor.netty.reso

[2019-05-03 09:51] shrykull commented on #729
i did a PR for this: https://github.com/reactor/reactor-netty/pull/728

[2019-05-03 11:20] #729 closed

[2019-05-03 11:20] violetagg commented on #729
Thanks for the PR

[2019-05-05 10:13] kimmking commented on #654
Good news @dave-fl
And when is this going into the main branch and ship a new release? @smaldini

[2019-05-06 07:24] #719 closed

[2019-05-06 07:58] smaldini commented on #700
This changeThe above should have a working with the latest 3.2.9.RELEASE/3.3.0.M1 from reactor-core.
We also proceed to use collectList in our code https://github.com/reactor/reactor-netty/commit/8e80029b54c3ef88f1e817d0cb6d65c878dac507

[2019-05-06 07:58] #700 closed

[2019-05-06 07:59] smaldini commented on #572
Core changes to the ChannelOperationHandler have been merged in #725

[2019-05-06 07:59] #572 closed

[2019-05-06 08:01] smaldini commented on #654
Core changes have been merged (#725) and scheduled for 0.8.7.RELEASE/0.9.0.M1 tomorrow.
We have more changes to apply that will likely reduce GC pressure further by using less allocations, and reducing contention on some paths (notably single send). We will open further ticket for those and if the current issue seems not fixed enough we will also reopen it.

[2019-05-06 08:01] #654 closed

[2019-05-07 12:40] jkubrynski commented on #436
Is there any idea of this customization? Should it be on a code-level or just a string format parsed by the AccessLog ?

[2019-05-07 13:15] mp911de opened #735 "NettyOutbound.sendObject(Publisher) stops sending messages after a few messages with version 0.9"
### Expected behavior

 `NettyOutbound.sendObject(Publisher)` should send (consume) messages from the given `Publisher`

### Actual behavior

After switching from version 0.8.6 to 0.9.0.BUILD-SNAPSHOT, `NettyOutbound.sendObject(Publisher)` no longer seems to consume messages. Messages are emitted (visible in `doOnNext()`) but no longer mapped/consumed (by `concatMap`).

### Steps to reproduce

See

[2019-05-08 05:04] smaldini commented on #735
fixed by https://github.com/reactor/reactor-netty/commit/a55c6674c1b497533a96df3e12cb60bbdb6cbfc8

[2019-05-08 05:04] #735 closed

[2019-05-10 13:36] kptfh opened #736 "After upgrade of reactor-netty from 0.8.3 to 0.8.8 got some tests broken in _feign-reactive_ project"
@smaldini  After upgrade of reactor-netty from 0.8.3 to 0.8.8 got some tests broken in _feign-reactive_ project with below mentioned exception.

### Steps to reproduce
Checkout project and run [test ](https://github.com/Playtika/feign-reactive/blob/feature/reactor-netty-0.8.8/feign-reactor-webclient/src/test/java/reactivefeign/webclient/allfeatures/AllFeaturesTest.java)

### Reactor Netty version

[2019-05-10 13:42] violetagg commented on #724
@jicui Can you try the latest 0.8.8.RELEASE?

[2019-05-10 13:45] violetagg commented on #577
@smaldini Is this still valid after 0.8.8.RELEASE?

[2019-05-10 13:46] violetagg commented on #556
@crankydillo Can you test the latest 0.8.8.RELEASE?

[2019-05-10 13:48] violetagg commented on #457
This is fixed with #725

[2019-05-10 13:48] #457 closed

[2019-05-10 13:54] violetagg commented on #392
Hi All,

Can you test with the newest binaries for Reactor Netty and Spring Framework.
Reactor BOM `Californium-SR8`
Spring Framework `v5.1.7.RELEASE`

Thanks,
Violeta

[2019-05-10 13:57] smaldini commented on #736
Confirmed will look at it, thanks and sorry for that unfortunate regression

[2019-05-10 14:03] TomDush commented on #641
Me too. I'm afraid I don't have better reproducible steps.
It happens every time after an idle period.

Java 12
Spring Boot 2.1.4
Reactor-netty: 0.8.6
Ubuntu/Docker/Kubernetes/Azure Container Service

Warn message is with salesforce oauth2:
[code]

[2019-05-10 15:06] benitocm opened #737 "Strange latency numbers when the rate is inscreased"
Hi,
Using the same environment described in https://github.com/reactor/reactor-netty/issues/654  (two AWS instances C5.4xlarge and C5.2xlarge), wrk2 as a test driver and the code similar to the one described in that issue (just testing the webflux option with functional endpoints), I have obtained a weird result in one of the tests.

In the  two tests done here, the server just returns 200 Ok afte

[2019-05-10 15:46] dave-fl commented on #392
@violetagg Spring Cloud Gateway stops working under heavy load under this release.

[2019-05-10 15:47] dave-fl commented on #392
@violetagg Spring Cloud Gateway (Greenwich SR1 and Snapshot) stops working under heavy load under this release.

[2019-05-10 15:51] spencergibb commented on #392
What is "stops working" mean?

[2019-05-10 15:53] dave-fl commented on #392
What I witness is that TPS drops from 1200 to 200 to PCF rebooting the container because it ran out of memory.

[2019-05-11 22:26] dave-fl commented on #392
@spencergibb The issues seems to be related to custom code that I am using to allow the retry filter to work.  Specifically, in my custom code I make use of `DataBufferUtils.join` which seems to be throwing things off (when under load).  Remove it and things function correctly - but of course retry cannot be used.

[2019-05-12 14:31] #736 closed

[2019-05-13 13:39] sdeleuze opened #739 "Consider making netty-codec-http[2] dependencies optional"
While working with `r2dbc-postgresql` and WebFlux i a Gradle project, I faced a very annoying issue where the [exclusions](https://github.com/r2dbc/r2dbc-postgresql/blob/efca10386046e70abec93a35154546ed4cca6802/pom.xml#L87-L99)  of `netty-codec-http` and `netty-codec-http2` in `r2dbc-postgresql` break completely WebFlux since it removes the `netty-codec-http` dependency from the project. We are go

[2019-05-13 13:40] bsideup commented on #739
We plan to shade them, see #734

[2019-05-13 21:43] akiraly opened #740 "Reactor Netty Milestone (Reference) link is wrong on projectreactor.io"
Currently it deeplinks to reactor-core reference guide.

Additionally the javadoc Release link points to 0.8.7 instead of 0.8.8.
Also only the 0.8.7 reference guide is available at https://projectreactor.io/docs/netty/0.8.7.RELEASE/reference/index.html
0.8.8 reference guide is missing.

[2019-05-14 04:56] benitocm commented on #737
Hi,

I have repeated the tests updating to spring version 5.1.7. The numbers seems to improve a little in the second test (110K rps) but the latency keeps in "seconds".

./wrk2 -t8 -c10000 -d90s -R90000 -L  --timeout 10s http://172.31.23.83:8080/reactivews/getokdelay?length=512\&delay=100
Running 2m test @ http://172.31.23.83:8080/reactivews/getokdelay?length=512&delay=100
  8 threads and 10000 co

[2019-05-15 18:59] smaldini opened #741 "Investigate if HttpServer can avoid producing cancel on single mono responses"
We have a reporter in webflux (https://github.com/spring-projects/spring-framework/issues/22952) observing an unnecessary cancel signal for single mono responses.
After initial investigation it appears that both webflux and netty can produce this undesired cancel. In the case of reactor-netty it appears that we will callback cancel after successful single response write in HttpTrafficHandler.

[2019-05-15 19:03] smaldini commented on #737
we're working on more improvements on 0.8.9.BUILD-SNAPSHOT but this is a weird issue hopefully not a regression with this https://github.com/reactor/reactor-core/pull/1674

[2019-05-16 04:25] benitocm commented on #737
Just for me to understand. The usage of CPU should be increased when the rate of requests is increased. The latency will also increase gradually but not in that abrupt leap. Until a certain point when the latency will go up very quickly (ideally similar to a queue system M/M/16)

[2019-05-17 22:37] philwebb opened #744 "HTTP2 request with json not working using Webflux and Netty"
See https://github.com/spring-projects/spring-boot/issues/16897 for details and sample to reproduce.

Make just and endpoint that receive request in the body and you will get the same error that I have :

[code]

[code]

[2019-05-17 22:37] philwebb commented on #744
/cc @belkirdi

[2019-05-17 22:47] philwebb commented on #744
This is the HTTP2 configuration we set

https://github.com/spring-projects/spring-boot/blob/cce8c45ae63d2d10f781963e40b6a65c18abc112/spring-boot-project/spring-boot/src/main/java/org/springframework/boot/web/embedded/netty/SslServerCustomizer.java#L65

[2019-05-20 06:28] violetagg commented on #744
@belkirdi I cannot find Spring Boot version that you are using neither here in this issue nor in the original issue.

I tried the example that you provided and it is working with Spring Boot `2.1.5.RELEASE`

What JDK you are using and what you are using for ALPN?

I tried with JDK 8 and
[code]

[2019-05-20 06:32] belkirdi commented on #744
@violetagg I am using spring 2.2.0.M3 and openjdk 11

[2019-05-21 10:02] 1nDivid opened #746 "Throwing an Exception from an onStatus handler in WebClient leads to a ByteBuf leak"
### Expected behavior
No leak

### Actual behavior
`LEAK: ByteBuf.release() was not called before it's garbage-collected. See http://netty.io/wiki/reference-counted-objects.html for more information.
Recent access records:
#1:
	io.netty.handler.codec.ByteToMessageDecoder.channelRead(ByteToMessageDecoder.java:286)
	io.netty.channel.CombinedChannelDuplexHandler.channelRead(CombinedChannelDuplexHandl

[2019-05-21 10:22] vymarj opened #747 "031 ERROR 8804 — [ctor-http-nio-1]"
### Following link https://pivotal.io/security should be used to report security related issues

### [Gitter](https://gitter.im/reactor/reactor) should be used for questions and discussions

### Expected behavior
client program should wait for whole data to read before exit the client proogram

### Actual behavior
Current Error: 2019-05-20 17:52:18.031 ERROR 8804 — [ctor-http-nio-1] c.a.f.Service.

[2019-05-21 12:40] kptfh commented on #736
@smaldini Do you have snapshot artifact with this issue fixed? I'd like to check all my tests against it to be sure that there are no other issues.

[2019-05-21 12:43] bsideup commented on #736
@kptfh every master build gets deployed to `repo.spring.io/snapshot`, check the README for the details

[2019-05-21 15:49] smaldini commented on #746
Can you please elaborate or complete with a scenario/use case ? Have you tried the snapshot in case (0.9.0.BUILD-SNAPSHOT) ?

[2019-05-22 08:51] razorcd commented on #284
can you give us an update on the issue?
We are looking forward to this fix.

[2019-05-22 10:12] 1nDivid commented on #746
We haven't checked SNAPSHOT yet.
Scenario is simple. We have a lot of http clients to access our microservices some of them using https connection. As i see from log the problem with them.

From previous issues like this one i have checked .onStatus calls (but as i see it reads response always now), .exchange without body read. No problems with it. I have no ideas where i should search cause of fa

[2019-05-22 14:01] anatoliy-balakirev commented on #536
Getting similar error with `reactor-netty` 0.8.5:
[code]
Happens sporadically. Can't find any patterns in logs.

[2019-05-23 07:24] kptfh opened #749 "After upgrade of reactor-netty from 0.8.3 to 0.8.9.BUILD-SNAPSHOT got some tests broken in _feign-reactive_ project"
### Actual behavior
Method that should mirror flux body get hanged and fails with io.netty.handler.timeout.ReadTimeoutException

### Steps to reproduce
Run [shouldMirrorFluxBody](https://github.com/Playtika/feign-reactive/blob/feature/reactor-netty-0.8.8/feign-reactor-webclient/src/test/java/reactivefeign/webclient/allfeatures/AllFeaturesTest.java#L58) test

### Reactor Netty version
0.8.9.BUILD-S

[2019-05-23 15:42] trovanfloyd commented on #284
I'm also interested on this solution to be done :)

[2019-05-27 12:09] namjug-kim opened #751 "IdleStateHandler occur error when write opperation"
### Expected behavior
if 'io.netty.handler.timeout.IdleStateHandle' is added in a web socket channel, it must be able to send Flux data stream.

### Actual behavior
error occur
[code]

### Steps to reproduce
[code]

log
[code]

### Reactor Netty version
0.8.8.RELEASE

### JVM version (e.g. `java -version`)
java : 1.8.0_181

### OS version (e.g. `uname -a`)

[2019-05-27 14:41] sonofelice commented on #436
I also have the same problem. I want to add some info from httpServeletRequest, like the access log of tomcat.How can I customize the log format?

[2019-05-27 14:44] violetagg commented on #751
might be duplicate to #736

[2019-05-27 15:00] sonofelice commented on #436
Is there any progress here?

[2019-05-27 18:28] jkubrynski commented on #436
I offered a PR, but there is no decision on how this customization should look like. Programmatic or string pattern

[2019-05-28 05:08] namjug-kim commented on #751
@violetagg thanks. issue has been resolved.

[2019-05-28 05:08] #751 closed

[2019-05-29 11:35] venkatesh010 opened #752 "Using CustomHostnameVerifier instead of default Hostname Verifier for ssl"
### Expected behavior
Want to avoid hostname verification for ssl using certificates
By default it uses a Default Hostname Verification in Netty
Specified inside class reactor.netty.http.client

### Steps to reproduce
There is a constructor for HttpClientSecure which accepts Netty SslProvider.

But it is not exposed to users

So there is no appropriate way to use a provider with custom hostname ve

[2019-05-29 11:38] venkatesh010 commented on #752
The default hostname verifier is present in
reactor.netty.http.client.HttpClientSecure

[2019-05-29 12:18] venkatesh010 commented on #752
Can't we have any method in Netty HttpClient which exposes a way to configure HttpClientSecure using custom SslProvider

Something like:

Public final HttpClient secure(SslProvider sslProvider){
return HttpClientSecure(this, sslProvider);
}

[2019-05-29 12:28] violetagg commented on #752
@venkatesh010 What about using the code snippet below?

[code]

`handlerConfigurator` will provide you the Netty's SslHandler

[2019-05-29 14:01] flyinprogrammer opened #753 "Consider expanding the HttpClient to support a query parameter and fragment builders."
Today we make it super easy to create an `HttpClient` with headers that are set, or even conditionally set, for the lifetime of the `HttpClient` - which is super cool!

https://github.com/reactor/reactor-netty/blob/master/src/main/java/reactor/netty/http/client/HttpClient.java#L611-L624

However, there are cases where APIs use query parameters to achieve clever things. For example, (and I acknowle

[2019-05-29 21:00] venkatesh010 commented on #752
It worked.
Was trying this from past two days.
It solved my problem of using custom matcher for hostname verification while using netty for two way ssl

for others, here is the code snippet:

[code]

[2019-06-03 07:43] kimmking commented on #654
@dave-fl

[2019-06-03 20:49] smaldini commented on #740
Good catch, the site has been fixed and redeploying for milestone link. The 0.8.x branch do not have reference guide and the old references have been purged to reflect that (they should now 404).

[2019-06-03 20:49] #740 closed

[2019-06-03 21:43] smaldini opened #754 "Routes do not support wildcard anymore"
Since UriTemplate update we seem to not support wildcard paths such as `path/**` anymore.

[2019-06-04 09:38] Ziemowit commented on #724
Hmm we are using the spring-gateway project and we have upgraded to 0.8.8.RELEASE but still from time to time I see in logs:

[code]

Dependency used:

`
      <dependency>
        <groupId>io.projectreactor.netty</groupId>
        <artifactId>reactor-netty</artifactId>
        <version>0.8.8.RELEASE</version>
        <scope>compile</scope>
      </dependency>

      And many netty-* dependencies

[2019-06-04 09:55] fruedaCode commented on #625
If the header value is this one: [2001:db8:a0b:12f0::1]:dba2 it gives a NumberFormatException.
Is there any way to ignore it or any fallback method to get the port?

[2019-06-04 11:21] violetagg commented on #625
@fruedaCode Do you have `reactor.netty.http.server.HttpServer#forwarded` enabled?

[2019-06-04 12:33] sonofelice commented on #436
I did not find your pr link. Would you like put the link here?

[2019-06-04 12:33] sonofelice commented on #436
I did not find your pr link. Would you like put the link here?

[2019-06-04 14:10] fruedaCode commented on #625
I'm using spring boot app and this flag is true:
server.use-forward-headers

On Tue, Jun 4, 2019 at 1:21 PM violetagg <notifications@github.com> wrote:

[2019-06-06 05:34] MilgoTest commented on #639
Any plans to implement HTTP/2 support on client side?

[2019-06-07 12:09] sylvain-rouquette opened #756 "WebClient PrematureCloseException: Connection prematurely closed BEFORE response"
Throught it was related to this issue:
https://github.com/spring-projects/spring-framework/issues/22464#issuecomment-499474686

### Expected behavior
When using the WebClient to get binary content in parallel, I should be getting the byte[] without error.

### Actual behavior
Some WebClient fail with an exception, the connection has been closed prematurely.

### Steps to reproduce

I created a pro

[2019-06-07 19:26] violetagg commented on #756
@sylvain-rouquette
Can you please run wireshark in order to check the communication between the server and the client.

Before that please do the following change:

[code]

Using `wiretap` we will see the communication between the server and the client also in the logs.
(you will need `application.properties` with `logging.level.reactor.netty=debug`)

Then from the logs search for `Connection prem

[2019-06-07 20:05] trevorwhitney opened #757 "Mutual TLS SSL Context Not Working"
### Following link https://pivotal.io/security should be used to report security related issues

### [Gitter](https://gitter.im/reactor/reactor) should be used for questions and discussions

### Expected behavior
When I curl the reactor netty server, it should behave the same way as the raw netty server in that it returns a 200 response with the text "Hello World".

### Actual behavior
While the r

[2019-06-07 20:11] trevorwhitney commented on #757
Also tested again `0.9.0.M1` release and saw the same behavior

[2019-06-08 07:27] violetagg commented on #757
Follow https://github.com/netty/netty/issues/9231

[2019-06-08 17:59] giriganapathy commented on #518
Hello Team,

I am new to Flux, and i am streaming the file using Flux, however, my subsequent requests from browser is getting stuck, and here is my code:

@RequestMapping (value="/downloadReactive", produces=MediaType.TEXT_EVENT_STREAM_VALUE)
	public Flux<DataBuffer> downloadReactiveWay(ServerHttpRequest  request, ServerHttpResponse response) throws Exception {

		Flux<DataBuffer> flux = null;

[2019-06-08 18:48] giriganapathy commented on #518
My issue is exactly same (Spring FrameworkSPR-17506).  Your quick reply is highly appreciated.

[2019-06-10 16:51] martin-tarjanyi opened #760 "WebClient read timeout delivers error long after timeout expires"
### Expected behavior
Error should be delivered not long after connection timeout (300ms) + read timeout (10ms) expires.

### Actual behavior
Seems to be some consistent waiting(?) on WebClient side and the actual latency is ~600ms.

### Steps to reproduce
https://github.com/martin-tarjanyi/webclient-timeout/blob/master/src/main/java/com/example/webclient/timeout/WebClientTimeout.java
1, Run main

[2019-06-10 17:07] trevorwhitney commented on #757
Will do! Thanks!

[2019-06-10 17:08] #749 closed

[2019-06-10 17:08] #744 closed

[2019-06-10 17:14] violetagg commented on #760
Can you test `0.8.9.BUILD-SNAPSHOT`?

[2019-06-10 17:20] martin-tarjanyi commented on #760
Sure, I try it.
https://github.com/martin-tarjanyi/webclient-timeout/commit/14462fe5fa55e3c422a7f083cedac4ee9da4b5f1

Unfortunately, still has the same behavior.

[2019-06-10 17:26] martin-tarjanyi commented on #760
Interestingly, if I call another URL (http://www.mocky.io/v2/5cfe889a320000470045f173?mocky-delay=2000ms) which responds slowly, I see more or less the expected response time.

Although, I would think the timeout behavior should be same regardless of what server I call.

[2019-06-10 17:33] #754 closed

[2019-06-10 21:27] violetagg commented on #625
@fruedaCode please try 0.8.9.RELEASE

[2019-06-10 23:35] violetagg commented on #746
@1nDivid Closing this. Try 0.8.9.RELEASE/0.9.0.M2. If the issue still persist we can reopen the issue.

[2019-06-10 23:37] violetagg commented on #747
@vymarj Closing this as there is not enough information.

[2019-06-10 23:37] #747 closed

[2019-06-11 10:49] 1nDivid commented on #746
Just updated to 0.9.0.M2 and nothing new. Problem still there:

`
LEAK: ByteBuf.release() was not called before it's garbage-collected. See http://netty.io/wiki/reference-counted-objects.html for more information.
Recent access records:
#1:
	io.netty.handler.codec.ByteToMessageDecoder.channelRead(ByteToMessageDecoder.java:286)
	io.netty.channel.CombinedChannelDuplexHandler.channelRead(CombinedChan

[2019-06-11 14:42] violetagg commented on #746
@1nDivid Please do one of the following options:
- Enable `reactor.netty=DEBUG` log level, and run your application with `-Dio.netty.leakDetection.level=paranoid` and then provide us the new logs (there should be more information about the memory leak)
- Or provide some sample that we can use to reproduce/or show us some code so that we know how you use WebClient.

[2019-06-11 14:55] 1nDivid commented on #746
@violetagg Will try to catch details.
Here is simple client code in app (all clients have been written in the same way):

[code]

[2019-06-12 18:58] violetagg opened #761 "Provide samples as part of the project"

[2019-06-14 01:57] Sparta2 opened #762 "The HttpClient always connect to 80 port"
### Expected behavior
The `HttpClient` should connect the port which I specified by `port()`
### Actual behavior
The `HttpClient` always connect 80 port even I call `port(90)`.
The only way to specified port is `uri()` , just like `uri("http://127.0.0.1:90/test")`
### Reactor Netty version
reactor-netty:0.9.0.M2
### JVM version (e.g. `java -version`)
1.8.0_201
### OS version (e.g. `uname -a`)
`Win

[2019-06-14 13:36] violetagg commented on #762
@Sparta2 please provide example

All Reactor Netty tests use the `port()` when connecting.

[2019-06-17 02:53] Sparta2 commented on #762
just like this :
**HttpClient.create()
                .port(90)
                .put()
                .uri("http://172.31.15.54/t")
                .send(ByteBufFlux.fromString(Mono.just("test")))
                .responseContent()
                .aggregate()
                .asString()
                .block();**

then the exception is :
`reactor.core.Exceptions$ReactiveException: io.netty.cha

[2019-06-17 02:56] Sparta2 commented on #762
I didn't start the server so there will be always a exception when connect.I think it is convenient to see which port the client connected...

[2019-06-17 03:16] Sparta2 commented on #762
And i read your `HttpClientTest`. When use the `createHttpClientForContextWithPort` method , the servers were listen 0 port. When use the `createHttpClientForContextWithAddress` method , the `uri` didn't specified the host, just like one of the correct situation above.

[2019-06-17 09:01] spiritme1984 commented on #724
I've also come across with this problem and my project worked on spring cloud gateway with the version of 'reactor-netty' is 0.8.3.RELEASE, I also tried to use the version of 0.8.8.RELEASE and still exist this exception. Is there any solution for this issue?

[2019-06-19 01:33] violetagg commented on #762
@Sparta2

When`baseUrl`/`url` are absolute they will override the `port`/`host` configuration. So in the examples below `port`/`host` configuration will be overridden and the client will try to connect to `172.31.15.54:80`:

[code]

[code]

[code]

[code]

The snippet below will try to connect to `http://localhost:90/172.31.15.54/t` because the url is not absolute:

[code]

[2019-06-19 01:33] #762 closed

[2019-06-19 01:37] violetagg commented on #756
@sylvain-rouquette Closing this as there is not enough information.

[2019-06-19 01:37] #756 closed

[2019-06-19 02:07] Sparta2 commented on #762
Thanks for explanation

[2019-06-19 07:37] sylvain-rouquette commented on #756
sure, I'll update it when I have more time. But 2 weeks and closing the bug is a bit short.

[2019-06-21 15:47] GitHub-Yann opened #763 "ServerHttpResponse already committed (404 NOT_FOUND)"
### Following link https://pivotal.io/security should be used to report security related issues

### [Gitter](https://gitter.im/reactor/reactor) should be used for questions and discussions

### Expected behavior
both requests should be 200 OK .

### Actual behavior
![2019-6-21 20-55-20](https://user-images.githubusercontent.com/9768021/59933979-0d82a780-947d-11e9-9b45-c1f90ca8ae14.png)
some times

[2019-06-21 20:45] duke-cliff commented on #392
@dave-fl Did you get a chance to test against SR8 or Spring Boot 2.1.5 above? Haven't tested on my side. Wondering if there's any improvement from this version as @violetagg replied

[2019-06-21 21:20] violetagg commented on #763
@GitHub-Yann Please try the latest Spring Boot 2.1.6.RELEASE.

[2019-06-21 21:23] violetagg commented on #392
@duke-cliff @dave-fl  I believe we fixed the issues from comment https://github.com/reactor/reactor-netty/issues/392#issuecomment-491338350
Please try the latest Spring Boot 2.1.6.RELEASE which is coming with Reactor Netty 0.8.9.RELEASE

[2019-06-22 02:32] GitHub-Yann commented on #763
@violetagg Thank you for you suggestion, I changed to 2.1.6 , but I still got the error.
below is the log :
![2019-6-22 9-02-24](https://user-images.githubusercontent.com/9768021/59958405-c1fde700-94d8-11e9-9906-84dcff3e4274.png)

from the log , I can see all the requests got the response , but one of the response contains "Content-Length=0" .

[2019-06-22 12:23] martin-tarjanyi opened #764 "First WebClient request always fails after some idle time"
### Expected behavior
WebClient HTTP request succeeds after 5 minutes of idle time.

### Actual behavior
WebClient HTTP request fails after 5 minutes of idle time.
If read timeout is set, then I get ReadTimeoutException.
If not set, I get the following exception:
[code]

### Steps to reproduce
1, Start application: https://github.com/martin-tarjanyi/webclient-bug/blob/master/src/main/java/com/exam

[2019-06-24 16:00] trevorwhitney commented on #757
netty/netty#9231 was closed, and based on Norman's [comments](https://github.com/netty/netty/issues/9231#issuecomment-504918060) it sounds like `netty` might be doing an extra `channelReadComplete` causing the connection to switch an encrypted mode sooner, while `reactor-netty` is not. As this extra call seems unnecessary, I would say this is not in fact a bug and am closing the issue. Thanks all

[2019-06-24 16:00] #757 closed

[2019-06-25 19:08] violetagg commented on #764
@martin-tarjanyi I cannot reproduce this.
Can you do the following:

Enable wire log:
[code]

And in `application.properties` => `logging.level.reactor.netty=debug`

Then reproduce and attach here the log file.

[2019-06-25 19:25] martin-tarjanyi commented on #764
First request: 21:11 - success
Second request: 21:16 - success
Third request: 21:21 - failure

[code]

[2019-06-25 20:01] violetagg commented on #764
@martin-tarjanyi it seems the server closes the connection. Can you take a tcp dump then we will be able to see clearly what's happening.

[2019-06-25 22:52] smaldini opened #766 "Remove SendOptions since new send is flush adaptive"

[2019-06-25 23:00] #766 closed

[2019-06-26 14:24] duke-cliff commented on #741
When will be the release date of 0.9.0? Before this fix, we have to downgrade to 0.8.6.

[2019-06-27 06:09] benitocm opened #768 "Error “reactiveBridge is not installed”"
Hi,

I have a Spring Boot 2.1.5 reactive service. That service basically receives from client devices a high rate of small packets (50 bytes long) through websocket connections and forwards them to another external service through websocket connections.
We are seeing sometims that the following error:
“reactiveBridge is not installed”

The only clue that we have is that it seems more probable to h

[2019-06-27 14:09] simondaudin commented on #746
Hi,
We have the same issue in our environment.

**Reactor-netty 0.8.8-RELEASE**
**Reactor-core 3.2.9-RELEASE**

After setting the debug environment as you mentioned above @violetagg, I managed to get a stacktrace

<details><summary>Stacktrace</summary>
<p>

[code]
</p>
</details>

It seems that it goes through a part of our code.
[code]

I replaced it by

[code]

Since then, it seemed to have gone

[2019-06-27 15:51] fruedaCode commented on #625
The fix is not completely right.
Because if the pattern does not match, your're creating  and returning this at the end of
[code]
[code]
and the address still contains the port....

So the InetSocketAddress is created wrongly and is throwing a NullPointerException later....

You should remove the port part from address parameter.

[2019-06-28 14:37] icecreamhead commented on #746
We also have this issue.
**spring-boot-starter-parent: 2.1.6.RELEASE**
**reactor-netty: 0.8.9.RELEASE**
**spring-webflux: spring-webflux-5.1.8.RELEASE**

[code]

[2019-06-28 15:55] violetagg commented on #746
@simondaudin `reactor.netty.ByteBufFlux#asInputStream` keeps a reference to the byte buffer and releases it when the stream is closed.
https://github.com/reactor/reactor-netty/blob/0.8.x/src/main/java/reactor/netty/ByteBufMono.java#L160-L171
If an error/cancel happens **your code** does not close the stream. (you should use at least `doOnDiscard`)
The code with `byte[]` works because the byte buff

[2019-06-28 18:21] violetagg commented on #746
@1nDivid Can you give us more info what this `it.data.first().toMono()` is doing?

[2019-06-28 18:24] violetagg commented on #625
@fruedaCode fixed with #770

[2019-06-28 18:27] 1nDivid commented on #746
@violetagg yeap of course.
DealResponse is a complex object ({ success: true/false, data: array of <payload> }) and has a field called `data` storing list of Participant objects. We just extracting first inner object (because in this case there is only one in array).

[2019-06-28 18:36] 1nDivid commented on #746
@violetagg and i have tried to enable DEBUG and it was a big mistake.
We are collecting logs into elastic cluster with pretty big rps it is impossible to find anything helpful in this unstoppable flow of logs :(

[2019-06-28 19:25] violetagg commented on #746
@1nDivid and in `DealResponse ` you do not work with `ByteBuf`, correct?
about debugging instead of `reactor.netty=DEBUG` try only this `reactor.netty.channel.FluxReceive=DEBUG`

[2019-06-28 19:41] 1nDivid commented on #746
@violetagg we don't work directly with buffers at all. All calls look like .retrieve().bodyToMono...

[2019-06-29 10:45] dex268 opened #772 "how to custom access log pattern"
As a user of spring cloud gateway, I wonder how to custom access log to print some other http_header, adjust field order and log to different file by host.

[2019-06-29 14:07] 1nDivid commented on #746
@violetagg ok i think we found the problem.
We were throwing exception in `onStatus` handlers and this cause LEAK problem. We have changed `throw` to `Mono.error(Throwable)`  and the problem have been fixed.

[2019-07-01 01:10] #763 closed

[2019-07-02 06:12] benitocm commented on #768
For testing that service, we did a reactive test driver based on the same Spring Boot version. This test drive basically open websocket connections against the service under test and injects the small messages to that service. We have obtained the same error with the following stacktrace:
java.lang.NullPointerException: reactiveBridge is not installed
at java.util.Objects.requireNonNull(Objects.ja

[2019-07-02 08:20] xia-deng opened #774 "Met PrematureCloseException: Connection prematurely closed BEFORE response"
Hi, I met an exception:
reactor.netty.http.client.PrematureCloseException: Connection prematurely closed BEFORE response

I am using spring-boot version: 2.1.6.RELEASE
And the reactor-netty version is: 0.8.9.RELEASE
And the reactor-core version is: 3.2.10.RELEASE
Here is my code:
1.WebClient:
return WebClient.create()
2.using webClient:
`Mono<ClientResponse> resp = webClient.get()

[2019-07-02 11:14] remigiusv commented on #351
I am having same issue of `block()/blockFirst()/blockLast() are blocking, which is not supported in thread parallel-3`

I am inside the Kafka reactive subscription which is NonBlocking thread. So WebClient block inside such subscription is failing with the `java.lang.IllegalStateException: block()/blockFirst()/blockLast() are blocking, which is not supported in thread parallel-3
	at reactor.core.p

[2019-07-02 14:04] violetagg commented on #768
@benitocm Do you cache `ReactorNettyWebSocketSession`?
When sending a close frame, the `reactiveBridge` is removed from the pipeline:
https://github.com/reactor/reactor-netty/blob/master/src/main/java/reactor/netty/http/client/WebsocketClientOperations.java#L205

[2019-07-02 14:43] violetagg commented on #768
@benitocm with #776 I removed the code that removes the reactive bridge from the pipeline.
So now if you use a cached `ReactorNettyWebSocketSession` and try to send something when a connection is closed you should receive an exception pointing that the connection is closed.

[2019-07-02 15:06] violetagg commented on #774
@xia-deng What does the code `verifyResponse`?

Enable logging - `reactor.netty=debug` and send the logs OR provide a reproducible scenario.

[2019-07-02 15:19] violetagg commented on #351
@remigiusv For question use [Gitter/Stackoverflow](https://github.com/reactor/reactor-netty#getting-help)

[2019-07-02 15:34] 17610070778 commented on #351
我是用的是netty，netty的boss线程标记了状态，不可阻塞，所以阻塞会报错。

------------------ Original ------------------
From: remigiusv <notifications@github.com>
Date: Tue,Jul 2,2019 7:14 PM
To: reactor/reactor-netty <reactor-netty@noreply.github.com>
Cc: 17610070778 <1160782779@qq.com>, Mention <mention@noreply.github.com>
Subject: Re: [reactor/reactor-netty] Unwrap Mono String to a String value (#351)

I am having same iss

[2019-07-02 15:37] #768 closed

[2019-07-02 16:09] violetagg commented on #764
@@martin-tarjanyi Were you able to obtain a tcp dump in order to check whether the server closes the connection?

[2019-07-02 16:11] violetagg commented on #772
Duplicate #436

[2019-07-02 16:11] #772 closed

[2019-07-02 16:48] dantesun opened #777 "Returns 'Mono.error(exception)' not working in responseSingle"
[code]
### Expected behavior
`t.printStackTrace()` should be executed. Like the following code:

[code]
### Actual behavior
returns null
### Reactor Netty version
0.8.9.RELEASE
### JVM version (e.g. `java -version`)
jdk8
### OS version (e.g. `uname -a`)
mac os

[2019-07-03 00:16] gtomassi commented on #762
@Sparta2
I just hit this same issue as well and was having a difficult time debugging until I found this post. So thank you!

@violetagg
Appreciate the explanation. As someone that's built/designed/worked with quite a few networking libraries, I'd say that it's very confusing and not intuitive that if someone specifies a host address with no port, and separately specifies a port, they don't get th

[2019-07-03 04:22] dantesun commented on #777
It seems that `flatMap` might be the issue. The following code works:

[code]

[2019-07-03 04:44] dantesun commented on #777
My second try, `Mono.zip` is not working.

[code]

[2019-07-03 06:59] dantesun commented on #777
My third try. The exception is totally ignored.

[code]

[2019-07-03 10:08] violetagg commented on #777
@dantesun If you take a look at the wire log you will see that there is no response body. The server returns only headers.
So your code should utilise `switchIfEmpty`

case 1
[code]

case 2
[code]

case 3
[code]

[2019-07-03 10:08] #777 closed

[2019-07-03 12:46] rstoyanchev commented on #746
@1nDivid we have fixed some issue in the past for `onStatus` handlers that don't consume the body https://github.com/spring-projects/spring-framework/issues/22005, but overlooked the fact the handler could throw the error vs returning it in an `Mono` as expected by the contract. Feel free to create a ticket in https://github.com/spring-projects/spring-framework/issues. Thanks.

[2019-07-03 12:53] #746 closed

[2019-07-03 14:32] violetagg commented on #760
@martin-tarjanyi The unexpected values that you see are because of `elapsed()`. If you take a look at the documentation (https://projectreactor.io/docs/core/release/api/reactor/core/publisher/Mono.html#elapsed--) you will see that the time is measured from the very beginning of the **subscription** and not from the moment when the client tries to connect.
If you want to measure the connect/read ti

[2019-07-03 14:32] #760 closed

[2019-07-03 20:01] martin-tarjanyi commented on #760
@violetagg
I got the following output after running your version:
[code]

If I'm not mistaken this the time which is spent establishing the connection:
`doOnConnect -> doOnConnected 602`

This is still higher than the configured connection timeout (300ms).

Please, tell me if I misinterpret the log.

[2019-07-03 20:39] violetagg commented on #760
@martin-tarjanyi

`doOnConnect` is invoked when we are about to connect, but we need to do some preparations before that (for example creating a connection pool, a new channel, SSL if it is needed etc.)

That's what I'm seeing

[code]

`option(ChannelOption.CONNECT_TIMEOUT_MILLIS, 300)` is the time when we will try to connect i.e.

[code]

[2019-07-05 08:52] icecreamhead opened #778 "LEAK: ByteBuf.release() was not called before it's garbage-collected"
### Expected behaviour
No memory leak

### Actual behaviour
[code]

### Steps to reproduce
Still unknown

### Reactor Netty version
spring-boot-starter-parent: 2.1.6.RELEASE
reactor-netty: 0.8.9.RELEASE
reactor-core: 3.2.10.RELEASE
spring-webflux: spring-webflux-5.1.8.RELEASE

### JVM version (e.g. `java -version`)
11.0.3

### OS version (e.g. `uname -a`)
alpine docker

[2019-07-05 09:35] bsideup opened #779 "Make it possible to instrument task execution"
See https://github.com/spring-cloud/spring-cloud-sleuth/issues/1392

## Context
Since most of tracing solutions rely on `ThreadLocal`s, they have to instrument task execution to handle the thread context switches and populate them. For Reactor, it wraps `ScheduledExecutorService`, but reactor-netty does not use them.

## Requested change
It would help if reactor-netty provides means to instrument

[2019-07-05 09:43] violetagg commented on #778
@icecreamhead
* Enable `reactor.netty=DEBUG` (or at least `reactor.netty.channel.FluxReceive=DEBUG`) log level, and run your application with `-Dio.netty.leakDetection.level=paranoid` and then provide us the new logs (there should be more information about the memory leak)
* Describe your scenario - what are you trying to achieve, whether the issue is on the client or on the server.

[2019-07-05 09:52] icecreamhead commented on #778
I'm already running with debug logging and paranoid leak detection. All I've got is this:
`[id: 0xc6433c7d, L:/10.2.15.177:42254 - R:api-sandbox.starlingbank.com/52.48.181.135:443] Subscribing inbound receiver [pending: 1, cancelled:false, inboundDone: true]`

It's hard to describe the scenario because I'm not sure what exactly triggers this exception to occur. We have a number of netty clients se

[2019-07-05 10:11] machao23 opened #780 "How to switch proxy address?"
I tried to switch the proxy address by rebuilding httpclient, but the proxy address has not changed because the resource pool is used.
Less elegant way is call HttpResources.reset
netty-reacotr version is 0.7.15.RELEASE

[2019-07-05 10:14] violetagg commented on #778
@icecreamhead you should have stacks like these here https://github.com/reactor/reactor-netty/issues/746#issuecomment-500789287
Do you?

[2019-07-05 10:15] icecreamhead commented on #778
Not that I can see. Are they sent via the logger or on stderr?

[2019-07-05 11:45] icecreamhead commented on #778
I've located the extended stacktraces. We appear to have two distinct issues.

[code]

[code]

[2019-07-05 15:51] violetagg commented on #780
@machao23 Yes use `HttpResources.reset`. We do not support 0.7.x anymore. This issue is resolved with 0.8.x versions.

[2019-07-05 15:51] #780 closed

[2019-07-07 12:18] Kirupakaran commented on #764
I'm facing the same exact issue. Tried reactor-netty v0.7.9 and v0.8.5 (spring webflux) but only in Windows and not in linux. I'll upload the logs soon. I've checked the logs and found that this happens when a old tcp connection is being used that was idle for some time. I'll upload the logs as soon as I can.

[2019-07-08 08:03] violetagg commented on #764
@Kirupakaran Try to use Reactor Netty latest releases (for 0.8.x it is 0.8.9.RELEASE)

[2019-07-08 13:16] icecreamhead commented on #778
Hi @violetagg, do you have any ideas about the above?

[2019-07-08 14:30] violetagg commented on #778
@icecreamhead Is it possible to share some code at least?

[2019-07-08 14:35] icecreamhead commented on #778
Yes, I believe I've narrowed down the problem to this request.

[code]

[2019-07-08 14:44] violetagg commented on #778
[code]

When this happens you do not consume the response body which means you do not free the memory.
Is that correct?

[2019-07-08 14:45] icecreamhead commented on #778
Yes. What's the correct way to consume the body?

[2019-07-08 14:54] violetagg commented on #778
Check these links
* https://docs.spring.io/spring/docs/current/spring-framework-reference/web-reactive.html#webflux-client-retrieve (especially `onStatus` part)
* https://docs.spring.io/spring/docs/current/spring-framework-reference/web-reactive.html#webflux-client-exchange (especially `bodyToMono(Void.class)` part)
* https://stackoverflow.com/questions/51312537/what-is-the-proper-way-to-make-an-a

[2019-07-08 15:00] #778 closed

[2019-07-08 15:12] icecreamhead commented on #778
Many thanks!

[2019-07-09 09:58] Delorien84 commented on #741
Hi,
 I do not agree marking this issue as enhancement. From my point of view it is a bug, as it broke all `org.springframework.web.server.WebFilter`  those using `onComplete` callback.

[2019-07-09 23:01] alfred-thomas commented on #741
I agree with @Delorien84 - For us it means we cannot upgrade from Spring Boot 2.1.4 until this has been fixed, unless we start using Undertow instead of Netty

[2019-07-10 20:15] bhochhi opened #781 "Netty with accessEvents with logback-access"
Why netty has no accessEvents but just accessLog implementation? Is there any plan supporting that?

[2019-07-13 08:35] dantesun commented on #779
@bsideup I am not sure if I fully understands your issue. But here is my five cents.

I figured out a way of using the combination of `publishOn`, `subscribeOn` and `Schedulers.single` to make sure all the operators and subscription executed in one same thread for each call.

[code]

[2019-07-15 12:00] BlackHe commented on #247
here is solution  [https://github.com/spring-cloud/spring-cloud-gateway/issues/541#issuecomment-422917867](url)

[2019-07-16 13:55] venkatnpedada opened #782 "javax.net.ssl.SSLException: SSLEngine closed already for gateway requests"
Cloud Gateway version:2.1.3 RELEASE
Reactor Netty version: 0.8.5 RELEASE

In our production system, we are observing "javax.net.ssl.SSLException: SSLEngine closed already" exceptions. The exception encounter rate depending on the route count and traffic.

I'm using the elastic pool(default) and below is the stack trace from logs:

reactor-http-nio-150 HttpClientConnect - [id: 0x21e26b17, L:/127.0.

[2019-07-16 14:05] venkatnpedada commented on #536
Getting similar exception with reactor-netty 0.8.5 &  0.8.6

Cloud Gateway version:2.1.3 RELEASE
Reactor Netty version: 0.8.5 RELEASE

In our production system, we are observing "javax.net.ssl.SSLException: SSLEngine closed already" exceptions. The exception encounter rate depending on the route count and traffic.

I'm using the elastic pool(default) and below is the stack trace from logs:

reacto

[2019-07-16 14:29] violetagg commented on #782
@venkatnpedada Try to use the latest versions - Reactor Netty 0.8.9.RELEASE, Spring Framework 5.1.8.RELEASE, Spring Boot 2.1.6.RELEASE

[2019-07-17 08:13] Nashatyrev opened #783 "TCP: Connection.addHandler weird behavior"
### Expected behavior
When adding Netty handler with `Connection.addHandler` `channelRegistered` and `channelActive` events should be fired, pending inbound messages should be delivered
### Actual behavior
No `channelRegistered`, `channelActive` events received
Without `sleep` the message "aaa" is handled, while with `sleep` the message is lost
`channelInactive` and `channelUnregistered` are recei

[2019-07-17 11:43] Nashatyrev commented on #783
Guys, just would like to know whether I'm doing something wrong or it's just a bug or this is not supposed to work at all this way? Thanks!

[2019-07-17 13:35] violetagg commented on #783
@Nashatyrev
Why do you need this `option(ChannelOption.AUTO_READ, true)`?

`doOnConnected` is invoked when the channel is already registered and active.
https://github.com/reactor/reactor-netty/blob/master/src/main/java/reactor/netty/channel/ChannelOperationsHandler.java#L58

You can try this `doOnConnect(bootstrap -> BootstrapHandlers.updateConfiguration(...))`

If it is about new `LoggingHandler

[2019-07-17 13:42] violetagg commented on #764
Closing the issue as there is no author response.
If there is more information i.e. tcp dump we can reopen it again

[2019-07-17 13:42] #764 closed

[2019-07-17 14:53] Nashatyrev commented on #783
@violetagg Thanks for response!

Because else I would need to manually call `read()`.

Why so? Is the `reactor-netty` not designed to work with this option?

I would like to completely get rid of installing handlers from inside callbacks and do it like in my sample (you may check out my explanation with more details here https://stackoverflow.com/questions/57078441/delayed-pipeline-handler-setup)

[2019-07-17 14:55] Nashatyrev commented on #783
Actually the main question is whether invoking `connection.addHandlerLast` outside of channel initialization callback is the acceptable pattern for `reactor-netty` ?

[2019-07-17 15:48] Kirupakaran commented on #764
@violetagg I'm sorry but my company prevented me from providing the tcp dump as it is a thirdparty service. If I can replicate it, I'll open a new issue with tcp dump.

[2019-07-17 15:50] violetagg commented on #783
That's not true.

Reactor Netty sets `ChannelOption.AUTO_READ=false`explicitly in order to be able to provide Backpressure support. The Reactor Netty's implementation takes care to invoke `read()` when it is necessary. If you observe something else please report an issue.

In order to receive a `Connection` object when invoking `connectNow()` we need either to acquire a connection from the connect

[2019-07-17 15:58] Nashatyrev commented on #783
But I'm still not able to receive data (`channelRead` is not invoked). Also `channelActive` is not invoked, so the handler couldn't know when it may start writing. The `LoggingHandler` just prints `CLOSE`, `INACTIVE`, `UNREGISTERED` events when the connection is closed

[2019-07-17 16:12] Nashatyrev commented on #783
In the sample above I'm expecting that the `LoggingHandler.channelRead("aaa")` is invoked. But it's not.
Is it a bug or invalid use case?

[2019-07-17 16:24] violetagg commented on #783
I'm testing with the code below (I don't know what your code is, do you invoke `connection.inbound().receive()` in order to start receiving data from the server)

[code]

I'm seeing the following output

[code]

[2019-07-18 15:26] darklynx commented on #641
same here :(

[code]

[2019-07-18 16:04] simondaudin opened #784 "File leak in ByteBufFlux#fromPath"
### Expected behavior
ByteBufFlux#fromPath should close the FileChannel opened to feed the returned ByteBufFlux

### Actual behavior
ByteBufFlux#fromPath does not close the opened FileChannel

### Steps to reproduce
With a test
[code]

### Proposition
To close the FileChannel in a third argument of Flux#generate

### Reactor Netty version
v0.8.9.RELEASE, v0.9.0.M1

### System property
[code]

[2019-07-19 09:04] violetagg commented on #783
@Nashatyrev I'm closing this.

As a summary:
- Do not set `auto-read` to `true`.
- For events like `connect`, `register`, `active` you have to use `doOnConnect` and add your handler.
- For other events you can add a handler when you receive `Connection` object and before start reading/writing.

If there are other questions let's discuss on Gitter/Stackoverflow

[2019-07-19 11:13] #784 closed

[2019-07-19 11:15] violetagg commented on #784
Thanks

[2019-07-19 11:38] Nashatyrev commented on #783
@violetagg Thanks a lot for your detailed explanations!
The outcome is that adding `ChannelHandler`s via `Connection` significantly differs from adding them directly to pipeline.
E.g. when adding a handler via `ChannelInitializer` in the sample above it doesn't receive a message:
[code]

[2019-07-19 12:03] violetagg commented on #783
let me reopen that in order to extend the javadoc for `addHandler`

[2019-07-22 12:35] darklynx commented on #612
Any plans / dates when to expect this feature?

[2019-07-22 23:44] ahmedyarub opened #785 "NullPointerException in SendManyInner with Reactor Netty 0.8.9"
### Expected behavior
Spring Cloud Gateway should forward requests without errors.

### Actual behavior
I intermittently get:
j.l.NullPointerException: null
	at r.n.c.MonoSendMany$SendManyInner.cleanup(MonoSendMany.java:338)
	at r.n.c.MonoSendMany$SendManyInner.run(MonoSendMany.java:322)
	at i.n.u.c.AbstractEventExecutor.safeExecute(AbstractEventExecutor.java:163)
	at i.n.u.c.SingleThreadEventExec

[2019-07-23 06:20] violetagg commented on #785
https://github.com/spring-cloud/spring-cloud-gateway/issues/1173

[2019-07-23 13:03] nictas opened #786 "Migration guide from 0.7.x to 0.8.x"
This is more of a question/request, rather than a bug report, which is why I'm not following the template.

In short, I want to migrate a project (https://github.com/cloudfoundry/cf-java-client) to the latest version of reactor-netty, but I can't find a migration guide from 0.7.x to 0.8.x anywhere. I see that you have great notes for almost every release, but there's literally nothing about [0.8.0

[2019-07-23 13:56] violetagg commented on #786
@nictas For the moment we have only [Reference Documentation](https://projectreactor.io/docs/netty/snapshot/reference/index.html)

Unfortunately there is no migration guide. However you can check:

this
https://github.com/reactor/reactor-netty/blob/0.7.x/src/test/java/reactor/ipc/netty/http/HttpTests.java

and this
https://github.com/reactor/reactor-netty/blob/0.8.x/src/test/java/reactor/netty/htt

[2019-07-23 13:56] #786 closed

[2019-07-23 14:00] violetagg commented on #786
cc @twoseat

[2019-07-24 07:58] yechao4j opened #788 "Caching the request body as an attribute in spring gateway leaks the memory"
when i use springcloud gateway, i got memory leak error like:
[code]
springcloud version: Greenwich.SR2
springboot version: 2.1.6.RELEASE
Can anyone help me?

[2019-07-24 08:26] yechao4j commented on #788
the full logs
[gateway.zip](https://github.com/reactor/reactor-netty/files/3425715/gateway.zip)

[2019-07-24 18:54] gtomassi opened #789 "HttpClient Wiretap Specify Log Level"
Many users will want to enable logging at a specified log level. Current implementation defaults to DEBUG always.

Suggested Enhancement:
Overload wiretap with an additional method that supports level as an input (eg wiretap(enable, level))

This is often useful when servers have standard log levels setup but want to temporarily enable logging for traffic without all the overhead of this library's

[2019-07-24 18:55] gtomassi commented on #789
See https://projectreactor.io/docs/netty/release/api/reactor/netty/http/client/HttpClient.html#wiretap-boolean-

[2019-07-24 19:33] violetagg commented on #789
@gtomassi [HttpClient.wiretap(boolean)](https://projectreactor.io/docs/netty/release/api/reactor/netty/http/client/HttpClient.html#wiretap-boolean-)
is exposed for a convenience as it is used the most.

If you need more fine tuned wiretap you can use the methods on the tcp level

`httpClient.tcpConfiguration(tcpClient -> tcpClient.wiretap(...));`

[TcpClient wiretap methods](https://projectreactor

[2019-07-24 22:16] darklynx commented on #612
@kimec I managed to configure `WebClient` (via underlying `TcpClient`) to remove idle connections on timeout from connection pool in **reactor-netty 0.8.9**

My solution is partially based on the official documentation about [IdleStateHandler](https://netty.io/4.0/api/io/netty/handler/timeout/IdleStateHandler.html) extended with my research on how to properly apply it when creating an instance of

[2019-07-25 05:34] creatorKoo commented on #612
@darklynx wow, It is a good alternative solution.
And I find something weakness that. That solution must be idle timeout over than read timeout.
For example, set idle timeout 5 and read timeout 10, then connection close 5. Not 10.

I try to find avoid this problem, but currently not.

[2019-07-25 08:17] darklynx commented on #612
I'm sure you can still combine it with [ReadTimeoutHandler](https://netty.io/4.0/api/io/netty/handler/timeout/ReadTimeoutHandler.html) and [WriteTimeoutHandler](https://netty.io/4.0/api/io/netty/handler/timeout/WriteTimeoutHandler.html), adding them before [IdleStateHandler](https://netty.io/4.0/api/io/netty/handler/timeout/IdleStateHandler.html). Of course, the configured timeouts of `IdleStateHa

[2019-07-25 12:32] yechao4j commented on #788
After refactoring code, i cached request body in filter
[code]
and get cache request body in other filter, read DataBuffer into String
[code]
and it also cause the leak error:
[code]

[2019-07-25 12:42] violetagg commented on #788
@smaldini @rstoyanchev @spencergibb
When the buffer in this attribute is released?
`DataBuffer buffer = exchange.getAttributeOrDefault(CACHED_REQUEST_BODY_ATTR, null);`

[2019-07-25 12:44] yechao4j commented on #788
[gateway.zip](https://github.com/reactor/reactor-netty/files/3431599/gateway.zip)
the latest full log

[2019-07-25 12:45] yechao4j commented on #788
in this filter
[code]

[2019-07-25 12:47] violetagg commented on #788
@yechao4j can you check whether you have this filter in your filer chain?

[2019-07-25 13:21] yechao4j commented on #788
I release DataBuffer manually in my code,   and alse the same error:
[code]
it seems like memory leak happens when NettyDataBuffer.read??

[2019-07-25 15:24] violetagg commented on #788
@yechao4j Can you provide some reproducible scenario?

[2019-07-25 21:35] nnanda2016 commented on #536
This is happening in reactor-netty 0.8.9 version as well. (BOM: Californium-SR9)

[2019-07-25 21:37] nnanda2016 commented on #782
@violetagg  This is happening with Reactor-Netty 0.8.9 (BOM: Californium-SR9). I just saw this in our production system

[code]

[2019-07-26 01:36] yechao4j commented on #788
@violetagg  My usage scenario is very simple, my gateway receives rest request from client, and load balance to backgroud service. Before forwarding i need do authorization, so i need to get token from body via multipart/form-data or application/json or application/x-www-form-urlencoded, so i cached reqeust body in first filter, and read it out in the next authenticate fliter, finally release it.

[2019-07-26 02:26] yechao4j commented on #788
The lastest logs:
[code]

[2019-07-26 13:16] #783 closed

[2019-07-26 13:29] violetagg commented on #789
I'm closing this, we can reopen it if the current API is not sufficient.

[2019-07-26 13:29] #789 closed

[2019-07-26 13:50] violetagg commented on #782
@nnanda2016 Is it possible to provide some reproducible scenario/logs/tcp dump

[2019-07-26 13:52] violetagg commented on #774
Closing this as there is no response from the author.

[2019-07-26 13:52] #774 closed

[2019-07-26 13:54] violetagg commented on #724
We need a reproducible scenario in order to investigate further.

[2019-07-26 13:54] #724 closed

[2019-07-26 13:56] violetagg commented on #721
We are working on metrics. Do you think this will serve your use case?
#790

[2019-07-26 13:59] violetagg commented on #693
we are working on metrics do you think this will serve your use case
#790

[2019-07-26 14:01] violetagg commented on #612
This depends on #717, #723

[2019-07-26 15:07] violetagg commented on #788
@yechao4j except from the attribute, do you obtain the body also via `getBody`?

@smaldini @rstoyanchev @spencergibb
There is a retained slice here
https://github.com/spring-cloud/spring-cloud-gateway/blob/master/spring-cloud-gateway-core/src/main/java/org/springframework/cloud/gateway/support/ServerWebExchangeUtils.java#L358
The author has `so i need to get token from body via multipart/form-data

[2019-07-26 16:16] darklynx commented on #612
@violetagg is this what we should expect in reactor 0.9.x? from the beginning? will the pool support configuration to remove idle sockets/connections?

[2019-07-26 18:13] #717 closed

[2019-07-29 06:17] violetagg commented on #157
Metrics support using micrometer #790

[2019-07-29 06:17] #157 closed

[2019-07-29 06:18] violetagg commented on #721
Metrics support based on micrometer #790

[2019-07-29 06:18] #721 closed

[2019-07-29 13:09] violetagg commented on #612
#792

With this the connections with idle time > from the configuration will be removed from the pool on acquire i.e. if the acquired connection is with idle time above the configuration the connection will be closed and another one will be acquired.

[2019-07-29 13:11] violetagg opened #793 "UDP tests fail with Netty >= 4.1.37"
https://travis-ci.org/reactor/reactor-netty/builds/551743903

[code]

[2019-07-29 13:15] bsideup commented on #793
Maybe related:
https://github.com/netty/netty/issues/9212

[2019-07-29 13:59] bsideup commented on #793
For `UdpClientTest.smokeTest`, here is the observation:
with .36, `server.address().getPort()` returns non-zero port (both Linux and Mac)
with .37 and higher, it always returns 0 on Linux, but non-zero on Mac

The test fails because it creates a client with `UdpClient.create().port(serverPort)`, and `serverPort=0`, means the client never connects to the started server.

/cc @normanmaurer

[2019-07-29 16:05] crankydillo commented on #693
Hi @violetagg, short story: my team does hope this will serve our needs.

Long story:
We are actually logging some things (such as HTTP request send) using a transactional logging API.  I don't think micrometer will help with that, but we are pretty sure we have most of those cases covered via existing hook points.  The only one we couldn't get working is connection establishment, and we may use m

[2019-07-29 16:22] violetagg commented on #693
Currently as part of the metrics we have only connect time.
But as a result of switching to Reactor Pool, we will extend the current metrics with more information about the connection pool -> https://github.com/reactor/reactor-pool/blob/master/src/main/java/reactor/pool/PoolMetricsRecorder.java.

[2019-07-29 18:17] crankydillo commented on #693
Cool.  I'm going to close this for now since we have a lot of what we need, and may be able to leverage your micrometer work for the rest.  If we have a tangible need, I'll create a new issue.  Thanks again!

[2019-07-29 18:17] #693 closed

[2019-07-29 18:58] violetagg opened #794 "Add maximumAllowableTags for metrics with uri"
Even the URI itself can be unbounded in cardinality when path variables are used (e.g. /books/{bookId} with many different values of bookId). Is there any way in Reactor Netty to specify a template URI with path variables? Regardless, allowing high cardinality for tag values is not good as it will use increasingly more memory in the application and the metrics backend will also suffer. Micrometer

[2019-07-29 19:19] #612 closed

[2019-07-29 21:19] ahmedyarub commented on #785
what information do you need?

[2019-07-30 01:30] smaldini opened #795 "[HttpServer] Outbound send shouldn't subscribe if connection is disposed"
since #741 has been fixed, we need to revisit how to prevent subscribing to passed publisher for prematurely cancelled flows. The fix is deferring the cancel therefore the Publisher can be called but we be able to add a predicate to MonoSend to do a late check (in that case we shouldn't call subscribe if body has been sent already).

[2019-07-30 01:47] #741 closed

[2019-07-30 08:21] thsnoopy opened #796 "Got Connection prematurely closed BEFORE response"
### Expected behavior
When using the WebClient to `POST` something in parallel, I should be getting successful results.

### Actual behavior
 Intermittently, I got an error with `reactor.netty.http.client.PrematureCloseException: Connection prematurely closed BEFORE response`. In my experience, it arises with 20 percent probability.

### Steps to reproduce
I googled and searched related issue and

[2019-07-30 08:24] thsnoopy commented on #796
Added full error log with `Connection prematurely closed BEFORE response`
Download : https://github.com/thsnoopy/reactor-netty-report/blob/master/out.log

[2019-07-30 10:12] kevinwan1986 commented on #378
hi,I have the same problem.I can provide more information.
Request eth node.
1. First，error is as follows.
2019-07-20 00:10:15.417 ERROR 1 --- [ scheduling-4] c.b.scannerj.quartz.EthQuartzService : scheduled error
com.blockchain.scannerj.exception.ServerSideException: sequenceProcessBlock error blockNum:8184101
at com.blockchain.scannerj.service.impl.EthBlockServiceImpl.sequenceProcessBlock(EthBlo

[2019-07-30 12:26] violetagg commented on #378
@kevinwan1986 this issue is already closed, please create a new one

[2019-07-30 13:50] violetagg opened #797 "Extend TCP|HTTP metrics"
- Connection Pool
- Native Memory
- DNS resolver

[2019-07-30 14:34] michaelmcfadyen opened #798 "Ability To Override Metrics Registration"
### Expected behavior
Currently, all metrics generated are registered in the Micrometer MeterRegistry. This couples reactor-netty to Micrometer and not all projects using reactor-netty will be using Micrometer.

Would it be possible to provide an abstraction that allows users to override the default behaviour and register metics using a different metrics library?

### Actual behavior
Metrics regis

[2019-07-30 20:22] normanmaurer commented on #793
Please open an issue in the netty issue tracker

[2019-07-31 01:54] ffroliva commented on #498
I am facing this error. Please have a loot at my code:

https://github.com/ffroliva/mimecast-backend
https://github.com/ffroliva/mimecast-frontend

[2019-07-31 03:18] kevinwan1986 opened #800 "io.netty.util.internal.OutOfDirectMemoryError"
### Reactor Netty version
reactor-netty:0.8.2.RELEASE
reactor-core: 3.2.2.RELEASE
### JVM version (e.g. `java -version`)
jdk 1.8
### OS version (e.g. `uname -a`)
aws docker

I am using reactor-netty request eth node.
### 1.First，ETH node returns null,java.lang.NullPointerException.**
Did this error not release the memory?

2019-07-20 00:10:15.417 ERROR 1 --- [ scheduling-4] c.b.scannerj.quartz.Eth

[2019-07-31 04:23] yechao4j commented on #788
@violetagg  i refactoring my `CacheRequestBody` code in another way, like below:
[code]
then the leak error logs never happend in my test enviroment, it seems like i have resolved it.
Maybe the root cause of memory leak is `DataBufferUtils.retain(dataBuffer);`  or `retainedSlice`, but not be released in other place.

[2019-07-31 04:30] yechao4j commented on #788
The `DataBuffer` is so complicated, and most people may not understand how to use it, how to retain, and how to release it.

[2019-07-31 05:51] violetagg commented on #498
@ffroliva Please create a new issue, this one is closed already

[2019-07-31 05:56] violetagg commented on #788
It will be really helpful if you can provide some sample so that we can track this down.

[2019-07-31 06:12] violetagg commented on #800
I see you use a pretty old version, but we have a lot of fixes.
Any chance to try the latest available?

[2019-07-31 06:44] kevinwan1986 commented on #800
Hi,my maven dependencies：spring-boot-starter-webflux 2.1.6-->spring-boot-starter-reactor-netty 2.1.6->reactor-netty:0.8.2.RELEASE.
I will upgrade to 0.8.10.RELEASE.
Whether the latest version is compatible with the old version?

[2019-07-31 07:07] violetagg commented on #800
it should be

[2019-07-31 07:33] yechao4j commented on #788
OK，i will provide a minimal, runnable project in next few days

[2019-07-31 08:43] Nyamkhuub commented on #752
@violetagg  can I see your pom.xml, please?

[2019-07-31 09:06] violetagg commented on #752
@Nyamkhuub pom.xml?

What is your problem? Something with versions?

[2019-07-31 09:47] Nyamkhuub commented on #752
@violetagg
Which dependency contains HttpClientProperties class?
I confused. I am using org.springframework.cloud.gateway.config. But, If I'm used this dependency, My project failed.

[2019-07-31 10:03] Nyamkhuub commented on #752
@violetagg

I am using Admin server with Eureka. So all services deployed on the secure (SSL) tomcat server. Then, All services throw SSL exceptions.
For Example:

General SSLEngine problem ...

<img src="https://i.imgur.com/WpY5sxY.png"/>

well, I follow this documentation <a href="https://codecentric.github.io/spring-boot-admin/current/#_using_mutual_tls">here</a>

[code]
But doesn't working. So

[2019-07-31 10:16] violetagg commented on #752
Most probably @venkatesh010 uses https://github.com/spring-cloud/spring-cloud-gateway/blob/master/spring-cloud-gateway-core/src/main/java/org/springframework/cloud/gateway/config/HttpClientProperties.java
in order to instrument the HttpClient used by the gateway

If you are not using gateway you do not need to use this.

[code]

also you can change `trustManager` with `trustedX509Certificates`.

[2019-07-31 12:11] simondaudin opened #801 "ByteBufFlux#asByteBuffer does not release underlying ByteBuf(s)"
### Expected behavior
ByteBufFlux#asByteBuffer should release every underlying ByteBuf

### Actual behavior
ByteBufFlux#asByteBuffer does not release underlying ByteBuf and may cause `LEAK: ByteBuf.release() was not called before it's garbage-collected`

### Steps to reproduce
The following test should cause `LEAK: ByteBuf.release() was not called before it's garbage-collected.`
[code]

### Reacto

[2019-07-31 22:09] smaldini opened #802 "Switch PrematureCloseException to non singleton"
Currently PrematureCloseException is a singleton which causes issues with Reactor `checkpoint` operator used by Spring Webflux and ourselves for operator debugging.

/cc @rstoyanchev @bsideup

[2019-07-31 22:15] #802 closed

[2019-07-31 22:51] smaldini opened #803 "NIO transport shouldn't be forced it SslContext is JDK based"
Right now, our client/tcp factories force NIO transport if SSL context is JDK based. There is no apparent reason to keep that behavior that relate to reactor netty 0.6 or 0.7.

[2019-07-31 22:56] #803 closed

[2019-08-01 12:45] violetagg commented on #801
@simondaudin Do you use this API in the context of Reactor Netty (when reading the incoming data and transforming it to byte buffer) or outside Reactor Netty?

[2019-08-01 13:03] simondaudin commented on #801
The one case that has been troubling me, was to convert a file as Flux<ByteBuffer>, as the following :
[code]

I also use it after reception of a request like
[code]
This one part, however, does not seem to bring any problem.

[2019-08-01 14:24] violetagg commented on #801
@simondaudin Yes that's the point when this API is used in the context of Reactor Netty:

When you read the incoming data i.e. `HttpServerRequest.receive().asByteBuffer()`, Reactor Netty will release the buffer
https://github.com/reactor/reactor-netty/blob/master/src/main/java/reactor/netty/channel/FluxReceive.java#L209

How do you use this `ByteBufFlux.fromPath(path).asByteBuffer()`. In the conte

[2019-08-01 14:49] simondaudin commented on #801
@violetagg Yes it is used in the context of Reactor Netty:
[code]
Between the step 1 and 2, there was sometimes some operations like `Flux.subscribeOn`, or `Flux.publishOn`, so I tried to remove every sensible operations to have a simple data flux, but I still have some `LEAK: ByteBuf.release()`

I must add that, in my case, instead of using those methods, I can read my file with a FileChannel and

[2019-08-01 14:52] simondaudin commented on #801
I guess one of the mistake is to convert ByteBuf -> ByteBuffer -> ByteBuf

[2019-08-01 14:57] violetagg commented on #801
yes that's my next question: why do you perform all these transformations.

if you stick with the original ByteBuf from `ByteBufFlux.fromPath(path)` we will release the ByteBuf when writing the response.

[2019-08-01 16:09] simondaudin commented on #801
We had some API to process our data that was using Flux<ByteBuffer> and I was trying to make it match those.
I guess that, in my case, it was a misuse of those API.
I understand that `ByteBufFlux` APIs should to be used with Reactor Netty mechanisms.

[2019-08-01 16:13] violetagg commented on #801
the current implementation of `ByteBufFlux.asByteBuffer()` is so that the one that provides the publisher should take care to release the buffers as it is in `HttpServerRequest.receive().asByteBuffer()`

[2019-08-01 17:36] harish0000 commented on #796
this will help
https://github.com/spring-projects/spring-framework/issues/22464

[2019-08-01 18:28] violetagg commented on #796
@harish0000 As I wrote here https://github.com/spring-projects/spring-framework/issues/22464#issuecomment-499474686
The cause for this particular issue is reactor/reactor-netty#632 and it is fixed (a header Connection with more than one value)

[2019-08-01 18:29] violetagg commented on #796
@thsnoopy Thanks for the reproducible scenario. We are working on a fix.

[2019-08-02 05:57] thsnoopy commented on #796
@violetagg Thank you for investigating.

[2019-08-02 06:29] harish0000 opened #804 "wiretap is not enable ,but still printing Read/Write bytes log"
I have configured the pooled HttpClient as below
[code]

Logging as below
[code]

### Expected behavior
As i didn't enable wiretap ,it should not print the logs

### Actual behavior
wiretap is not enabled but its still printing the Read/Write bytes

**Example**

### Reactor Netty version :
spring-boot-starter-webflux: 2.1.6.RELEASE)  0.8.9.RELEASE

### JVM version :
openjdk version "11.0.4"

### O

[2019-08-02 09:36] yechao4j commented on #788
https://github.com/yechao4j/memory-leak-demo

[2019-08-02 12:14] violetagg commented on #804
#805 this should fix the issue

[2019-08-02 18:02] violetagg commented on #785
Were you able to replicate the problem

[2019-08-02 19:00] ahmedyarub commented on #785
We could replicate another error related to sending a PUT packet without a body. It's not a bug in Reactory Netty. I think that the error I mentioned before happens only when there is a lot of traffic, which we can see only in production. Next week we will be deploying again and I'll post the updates here.

[2019-08-05 11:52] #801 closed

[2019-08-05 18:35] #804 closed

[2019-08-05 22:46] smaldini opened #807 "CloseFuture memory leak with MonoSendMany"
Since the introduction of MonoSendMany - terminal condition (complete or error) have potentially exposed a listener leak on closeFuture.

[2019-08-06 01:08] kevinwan1986 commented on #800
Hi,I have upgraded， but there are still errors。

### first,NullPointException

com.blockchain.scannerj.exception.ServerSideException: sequenceProcessBlock error blockNum:8290805
at com.blockchain.scannerj.service.impl.EthBlockServiceImpl.sequenceProcessBlock(EthBlockServiceImpl.java:129)
at com.blockchain.scannerj.quartz.EthQuartzService.processBlock(EthQuartzService.java:109)
at com.blockchain.sc

[2019-08-06 09:55] wangpeng3477 opened #809 "MonoSendMany NPE"
In a production environment, my program will report the following error，which I suspect caused a memory leak.
Anybody know how to do that?
I use the spring cloud gateway Greenwich.SR2,
spring boot 2.1.6.RELEASE ,
reactor-netty 0.8.9.RELEASE.

[code]

[2019-08-06 10:41] violetagg commented on #809
@wangpeng3477 Can you provide some reproducible example or at least to describe your scenario.

[2019-08-06 16:36] #807 closed

[2019-08-06 17:15] smaldini commented on #785
Thanks a lot for the report @ahmedyarub , it seems that issue has been fixed (close listener could trigger an interruption of sending operation before it starts and caused this issue). Let's open a new one for the PUT issue - it doesn't seem unfamiliar so we'll be looking closely to it :)

[2019-08-06 17:15] #785 closed

[2019-08-06 17:17] smaldini commented on #785
See https://github.com/reactor/reactor-netty/commit/d7267e1638a52edc5012c0422b9982a9ac9a0d8e

[2019-08-06 17:42] ahmedyarub commented on #785
It doesn't look like the error was related to the PUT method itself. The endpoint was replying erratically (it is based on Spring Boot 1.5.x). For the time being we solved the problem by asking all our clients to follow the specifications of our SDK requiring them to send all the data in the body.
Thanks

[2019-08-06 18:10] violetagg opened #810 "Refactor NettyOutbound#sendFile and ByteBufFlux#fromPath in order to encapsulate file sending functionality"

[2019-08-06 19:07] smaldini commented on #796
@thsnoopy just a quick heads up - we root caused the issue to two things :
- the exception is not very self descriptive, but its a valid one
- the root cause of the exception : a connect timeout due to too many concurrent connection open/acquired.

We are going to change the default connection pool for our clients in 0.9, and document how to set those up. What happens right now is there is no limi

[2019-08-06 19:10] smaldini commented on #796
For reference https://github.com/reactor/reactor-netty/issues/578

[2019-08-06 22:18] smaldini commented on #788
Using the project I cannot seem to reproduce the issue with "filter 2", the "filter 1" is causing some issues so I'm ignoring it for now. Is there any missing configuration or what kind of request are you using to trigger the failure (so far i used http post).

[2019-08-07 02:36] wangpeng3477 commented on #809
Hello this is my example
https://github.com/wangpeng3477/spring-cloud-gateway-example

[2019-08-07 03:12] wangpeng3477 commented on #809
And this phenomenon, I don't know if it's caused by this
https://github.com/spring-cloud/spring-cloud-gateway/issues/1145

[2019-08-07 13:37] nictas opened #811 "Chaining methods in NettyOutbound has weird results"
This is a continuation of a discussion that started on [Gitter](https://gitter.im/reactor/reactor-netty).

I'm trying to migrate an [existing project](https://github.com/cloudfoundry/cf-java-client) from Reactor Netty 0.7.x to 0.8.10. In it, there's this class that's supposed to generate multipart upload requests with a **body** with the following structure:
[code]
Each "part" has a dedicated sect

[2019-08-07 16:04] violetagg commented on #793
This issue is caused by https://github.com/netty/netty/commit/e17ce934da501788c3737631a02d02ee89ebf9df
PR is proposed https://github.com/netty/netty/pull/9436

[2019-08-07 19:03] violetagg commented on #809
@wangpeng3477 Can you test the current 0.8.11.BUILD-SNAPSHOT version. We have a fix that might be relevant #807? It is available from https://repo.spring.io/snapshot/

[2019-08-07 19:13] violetagg commented on #800
@kevinwan1986 This NPE is very strange. Any chance to provide some reproducible example?

[2019-08-08 03:10] wangpeng3477 commented on #809
@violetagg
[code]
I test the environment online, but the records of the leaked log, how should I set io.netty.leakDetection.targetRecords

[2019-08-08 03:38] wangpeng3477 commented on #809
Do I have to update other packages?
The other versions of netty I'm using are as follows
![image](https://user-images.githubusercontent.com/12760152/62673401-e7837900-b9d0-11e9-9a33-6febf0c4f546.png)

[2019-08-08 05:11] violetagg commented on #809
@wangpeng3477 this version of Netty is OK

[2019-08-08 05:50] aukhatov opened #813 "How can I write a log outgoing a raw HTTP Request Body?"
Hello guys!
I have a little trouble. Can you help me?
I want to write a log my HTTP Requests in raw format. These requests provided by [spring webflux ](https://docs.spring.io/spring/docs/current/spring-framework-reference/web-reactive.html#webflux-client)`org.springframework.web.reactive.function.client.WebClient` over `reactor.netty.http.client.HttpClient`.

## What I tried do...

### Building W

[2019-08-08 06:05] violetagg commented on #813
@aukhatov Something like this? https://stackoverflow.com/questions/55275393/spring-webflux-reactor-netty-http-request-response-hex-dump/55281347#55281347

[2019-08-08 06:08] aukhatov commented on #813
Hello @violetagg !
Unfortunately this approach doesn't work (((

[2019-08-08 06:16] aukhatov commented on #813
I **updated** the issue description.

[2019-08-08 06:23] violetagg commented on #813
This is the body provided by Spring WebFlux. May be you need different body encoder.
Ask your question here https://stackoverflow.com/tags/spring-webflux

[2019-08-08 06:23] #813 closed

[2019-08-08 07:25] wangpeng3477 commented on #809
@violetagg
With debug, what should I pay attention to? The log volume is a bit too much

[2019-08-08 07:54] violetagg commented on #809
there should be more detailed records like this

[code]

[2019-08-08 07:56] wangpeng3477 commented on #809
Is this?
[code]

[2019-08-08 08:01] wangpeng3477 commented on #809
This doesn't happen every time. I may need to simulate it offline

[2019-08-08 09:49] wangpeng3477 commented on #809
@violetagg
Now also has this error, whether also can cause the memory leak
[code]

[2019-08-08 10:30] violetagg commented on #809
This doesn't help much. Try to search for something with hints like these:
`Buffered ByteBuf in Inbound Flux Queue`
`Buffered ByteBufHolder in Inbound Flux Queue`
`Unbounded receiver, bypass inbound buffer queue`

[2019-08-08 17:34] iamankur82 commented on #782
I am also observing the same issue on Reactor-Netty 0.8.10. It is on production server so i am not able take debug logs/tcp dumps.
Once error occurs on a channel, then it keeps on coming on the same channel for hours. More than 2500 errors occurred for same channel across 2 hours. This stopped only when java process was stopped and started again.

`08/08/2019   05:45:05.456   +0530 | 1565223305456

[2019-08-08 18:24] nnanda2016 commented on #782
For now, I have applied a retry for this exception and it is helping. At least since 07/25 (when I restarted my process) my app has not failed with this exception.

[code]

While I feel is reactor-netty is not refreshing the connection pool once such exceptions happen. Till now, I found `retry` being the only way to refresh the connection pool. This is okay, but there should be a better mechanism.

[2019-08-08 20:51] violetagg commented on #782
@iamankur82 Can you provide some reproducible example/describe the scenario.
From your logs I can say the following:
The connection is not removed from the pool because it is not closed. Typically when you receive `SSLEngine closed already` this means that the connection will be closed, but in your case it is not.

`[id: 0xb2c5cd59, L:/:53826 - R::443]`
The log above: when you have `-` between loc

[2019-08-08 23:00] nnanda2016 commented on #782
@violetagg I will give it a try; only thing is, with retry, it has not happened again in my app. I can give it a try in one of our lower env, but I donno when it will break. I will report in this issue if I see the app breaking with SSLException

[2019-08-08 23:34] thsnoopy commented on #796
@smaldini
Thank you for detailed explanation!

I have one more question. Is this symptom also happen with `GET` request? Actually, I only got this error with `POST` request in my production service not `GET` request.
But theoretically, if the `GET` response with more slow response time, then can a similar error occur?

[2019-08-09 20:30] #578 closed

[2019-08-11 07:35] violetagg commented on #793
The fix will be in Netty 4.1.39.Final

[2019-08-11 14:56] patpatpat123 commented on #639
Hello,

Cheering for you here. Any update?
Just saying, but our team refactored 20+ micro services from Webflux http to Webflux http2 + https with ssl.

Then, we started to refactor our gateway service, which is in front of our 20+ micro services, to realize http2 is not possible :'D

Thank you!

[2019-08-12 00:58] kevinwan1986 commented on #800
@violetagg
I have set the -Dio.netty.leakDetectionLevel=PARANOID and got the following error message。

2019-08-11 10:03:56.066 ERROR 1 --- [or-http-epoll-4] io.netty.util.ResourceLeakDetector : LEAK: ByteBuf.release() was not called before it's garbage-collected. See http://netty.io/wiki/reference-counted-objects.html for more information.
Recent access records:
#1:
io.netty.handler.codec.ByteToMe

[2019-08-13 01:45] yechao4j commented on #788
@smaldini  I can reproduce it after few hours under pressure, and using post request.

[2019-08-13 02:07] yechao4j commented on #788
I first wrote "filter 1" and found memory leak error, then i ask violetagg for hlep, he told me using

[2019-08-13 23:22] smaldini commented on #793
Fixed by https://github.com/reactor/reactor-netty/commit/db90c6d291b4f61a1d55a4ad5c14266a53149471

[2019-08-13 23:22] #793 closed

[2019-08-14 08:32] machao23 opened #814 "How to post http request with proxy?"
Our requirement is to specify the proxy address for each request instead of creating the http client.
Is reactor-netty support it?

[2019-08-14 11:52] #814 closed

[2019-08-14 11:54] violetagg commented on #814
Use send(Function) in order to add ProxyHandler to the Netty pipeline

[2019-08-15 10:10] nictas opened #816 "followRedirect is not actually true by default"
## Expected Behavior
The Javadoc of `reactor.netty.http.client.HttpClient.followRedirect(boolean)` says that the default value is true and therefore redirects should be followed automatically.

## Actual Behavior
Redirects are not actually followed by default and one must call `.followRedirect(true)` explicitly.

## Steps to Reproduce
[code]
The piece of code above prints the following:
[code]

##

[2019-08-15 10:19] violetagg commented on #816
Good catch
Would you like to create a PR?

[2019-08-15 10:20] nictas commented on #816
Yes. Just let me know which of the two possible solutions to implement. Change the Javadoc or change the default value?

[2019-08-15 11:39] violetagg commented on #816
Change javadoc to point that it is false by default and do the PR against 0.8.x branch

[2019-08-15 12:06] violetagg commented on #816
I’m keeping this opened in order to merge it to master

[2019-08-15 12:11] nictas opened #818 "Following of redirections forwards headers from the original request"
## Expected Behavior
When an HTTP server returns 30x and redirects me to another URL, I expect that the headers from the original request would **not** be forwarded by default. Additional details about my scenario:
I'm calling the `/v2/apps/<GUID>/droplet/download` endpoint of Cloud Foundry with an `authorization` header. It redirects me to another URL that also includes a query parameter with cre

[2019-08-15 13:32] #816 closed

[2019-08-15 18:06] venkatesh010 commented on #752
Good to close this

[2019-08-15 18:06] #752 closed

[2019-08-16 14:09] c5ms opened #819 "How to stop a httpSerevr ? DisposableServer.dispose[Now] doesn't work"
I need start a HttpServer  and control this server instance stop .
but I can not stop the server
[code]

[2019-08-16 14:34] violetagg commented on #819
https://github.com/reactor/reactor-netty/issues/495#issuecomment-464837492

[2019-08-16 14:34] #819 closed

[2019-08-19 22:58] gurudatta11 opened #820 "Spring WebClient unable to send files using InputStreamResource from reactor netty 0.8.7.RELEASE"
**Use case is:**
 send files via Streaming using _InputStream_, since _spring webclient_ is not working with _InputStreamResource_, made some modifications created _MultiPartInputStreamFileResource_ (code in attachment)
Using _ByteArrayInputStreamResource_ is not an option for us, it will load everything into memory (causing memory issues) instead of streaming.
Works till 2.1.4.RELEASE of spring-b

[2019-08-20 13:18] violetagg commented on #809
@wangpeng3477 Were you able to reproduce the memory leak with more hints in the logs?

[2019-08-20 13:20] violetagg commented on #800
@kevinwan1986 In addition to `-Dio.netty.leakDetectionLevel=PARANOID` you need also to put `logging.level.reactor.netty=debug`

[2019-08-21 17:09] AndreasMager opened #821 "reactiveBridge is not installed"
I am using spring-boot and found the following stacktrace repeating in the log on a dying machine.

#768 seem to be similar.

[code]

* Reactor version(s) used: reactor-netty-0.8.10.RELEASE.jar!
* Other relevant libraries versions (eg. `netty`, ...): netty 4.1.38 spring-boot 2.1.7

* JVM version (`javar -version`):
openjdk version "11.0.2" 2019-01-15
OpenJDK Runtime Environment 18.9 (build 11.0.2+

[2019-08-21 17:56] violetagg commented on #821
@AndreasMager Can you provide a [complete, minimal, verifiable sample](https://stackoverflow.com/help/minimal-reproducible-example) that reproduces the problem?

[2019-08-22 03:42] sms0070 commented on #782
Hi ,
Is there any update on this?
We are also facing the same issue.

[2019-08-22 07:26] kevinwan1986 commented on #800
[LEAKLOG.txt](https://github.com/reactor/reactor-netty/files/3528774/LEAKLOG.txt)
The uri=/tssss is my local service.The message it returns is ‘{"jsonrpc":"2.0","id":null,"result":null}
’.It tried to transcode the result, which resulted in a null pointer.
Memory leak after several visits.

[2019-08-22 09:40] AndreasMager commented on #821
The Problem occurs when the session is closed and a thread tries to send a message.
Here is the sample https://gitlab.com/amager/websocktest/-/jobs/277733341

[2019-08-26 07:09] venkatnpedada commented on #782
@violetagg We have tried with `FIXED` connection pool also, but we faced the same issue at a certain load. The issue is occurring even with the latest version `0.8.9`

[2019-08-27 15:28] violetagg commented on #820
Update: Enabling the `wiretap` on the HTTP client, I can see the log below.
There is no final boundary.

[code]

[2019-08-27 19:33] violetagg commented on #820
@smaldini If I comment the `WriteTimeoutHandler` (`com.example.demo.config.HttpConfiguration` from the demo project) and it is working. It might be something related to `reactor.netty.channel.MonoSendMany.SendManyInner#unvoid`

[2019-08-28 05:45] #821 closed

[2019-08-28 07:51] AndreasMager commented on #821
Thank you @violetagg

[2019-08-28 13:37] violetagg commented on #809
@wangpeng3477 Closing this one, if you can provide more information, we can reopen it.

[2019-08-28 13:37] #809 closed

[2019-08-28 16:26] violetagg commented on #811
@nictas
The code below works for me (using `send` instead of `sendObject`).
I see the following response:

[code]

[code]

[2019-08-28 20:34] #820 closed

[2019-08-29 08:49] violetagg commented on #800
@kevinwan1986 Can you show me some code? How do you read the incoming data and write the outgoing data?

[2019-08-29 12:08] violetagg commented on #796
@thsnoopy with your example I'm reproducing it with `GET` also.
I'm closing this - in 0.9.x I switched the connection pool by default to be fixed with max connections `500` - #578

[2019-08-29 12:08] #796 closed

[2019-08-29 12:24] violetagg commented on #782
@venkatnpedada @sms0070 try to isolate the scenario and provide a reproducible example. Also if you can try 0.8.11.BUILD-SNAPSHOT, we have some fixes there that might be relevant.

[2019-08-29 15:54] nictas commented on #811
Yes, the workaround seems to work (at least the unit tests in https://github.com/cloudfoundry/cf-java-client pass)! Big thanks! I'll run some load tests to make sure that everything is working as it should and I'll update this ticket again afterwards.

I assume that you'll still fix the chaining though, right? It's still weird that I'm allowed to do:
[code]
But not:
[code]

[2019-08-29 16:05] violetagg commented on #811
We do not intend to change anything for 0.8.x.
For 0.9.x we are going to change NettyOutbound - the send* operations will return `Mono<Void>` and not NettyOutbound.

[2019-08-29 18:31] violetagg commented on #788
@yechao4j Can you test with the latest 0.8.11.BUILD-SNAPSHOT?

[2019-08-30 00:49] kushagraThapar commented on #782
With some load testing, I am seeing the same issue on 0.9.0.M3.
Haven't debugged the issue, but I guess its happening when I dispose the connection after receiving the response.

Here is the stack trace:

`The connection observed an error
javax.net.ssl.SSLException: SSLEngine closed already
	at io.netty.handler.ssl.SslHandler.wrap(SslHandler.java:834)
	at io.netty.handler.ssl.SslHandler.wrapAndFlu

[2019-08-30 05:35] violetagg commented on #782
@kushagraThapar Are you able to extract a reproducible example. Can you test the current 0.9.0.BUILD-SNAPSHOT as we have fixes that might be related?

[2019-08-30 12:36] violetagg opened #825 "Connection hangs when the compression predicate throws RuntimeException"
The issue is related to https://github.com/spring-cloud/spring-cloud-gateway/issues/1111

Connection also may hang when trying to release the message in `FluxReceive.drainReceiver`.
One use case when this can happen is to release the message in I/O Handler.

[2019-08-30 21:28] violetagg opened #828 "Revise HttpClient follow redirect"

[2019-08-31 05:37] violetagg opened #829 "Revise UriEndpointFactory/UriEndpoint"

[2019-09-01 19:21] #533 closed

[2019-09-02 06:11] kevinwan1986 commented on #800
public Mono<Tuple2<Block, List<Tuple2<Transaction, TransactionReceipt>>>> getBlockDetail(int blockNumber){
		Mono<Block> blockMono = getBlock(BigInteger.valueOf(blockNumber));
		Mono<Tuple3<Block, Transaction, TransactionReceipt>> empty = blockMono.map(block -> Tuples.of(block, new Transaction(), new TransactionReceipt()));

		return blockMono.flatMapIterable(block->block.getTransactions().stream(

[2019-09-02 06:42] kevinwan1986 commented on #800
[leak.zip](https://github.com/reactor/reactor-netty/files/3564747/leak.zip)
@violetagg
Please download the Maven project leak.
Run the project and visit http://127.0.0.1:8080/testLeak,About ten times, you will see a memory leak.

[2019-09-02 07:04] #825 closed

[2019-09-02 11:20] violetagg opened #830 "Add UDP Metrics"

[2019-09-03 03:22] ahmedyarub opened #833 "Data After End of Packet is Considered Another Packet"
We have been getting random 405 Method Not Allowed errors from an endpoint only when we use a Spring Cloud Gateway based proxy. After very lengthy investigation I could capture the some sample packets and reproduce the behavior. The packets, for a reason beyond my understanding, have additional data after the last \r\n. In Spring Cloud Zuul, the proxy would simply ignore these additional data. Spr

[2019-09-03 16:58] ahmedyarub commented on #833
Let me explain with more details then:
The data comes from one of our clients, it passes through some proxy before reaching our API Gateway. The corrupted data is either coming from the client or from our proxy, we are still investigating that. However, we still have this very bad security vulnerability where a packet from Client A that has additional data after the last CRLF in the packet would b

[2019-09-04 06:50] violetagg commented on #811
I'm closing this one. If there is a problem with the workaround we can reopen it.

[2019-09-04 06:50] #811 closed

[2019-09-04 09:39] violetagg commented on #800
@kevinwan1986 Updating everything to `Spring Boot 2.1.7.RELEASE` - I do not see memory leak. This is the pom.xml that I used

[code]

[2019-09-04 09:57] violetagg commented on #800
The NPE is thrown in your code because null values are not allowed.
Try to switch to something like this

[code]

[2019-09-05 05:26] ikolomiets opened #836 "Got io.netty.util.IllegalReferenceCountException upon subscriber processed shutdown"
While running variation of netifi-quickstart-java got the following exception in the publisher application just after stoping subscriber app (another JVM):

[code]

* Reactor version(s) used: 0.8.8
* JVM version (`javar -version`): 12.0.2
* OS and version (eg `uname -a`): Mac OS

[2019-09-05 13:26] violetagg commented on #836
@ikolomiets Can you try the latest Reactor Netty release 0.8.11.RELEASE?

[2019-09-05 15:31] ikolomiets commented on #836
Unfortunately this exception is not reliably reproducible (so far it came only once). This issue is mostly "FYI". In case it will continue to show up, I will check the latest Reactor Netty per your advise.

[2019-09-05 16:09] violetagg commented on #836
I’m asking because recently we fixed similar issue #826

[2019-09-05 20:34] thanhngo219 opened #837 "Memory is leaking when the response body is not consumed"
I have batch process to call to some rest api to get/update information. After 1-2k records, it threw leak error.

## Expected Behavior
No leak error

## Actual Behavior
`2019/09/05 15:11:42.302 [rxnetty-nio-eventloop-4-4] ERROR io.netty.util.ResourceLeakDetector - LEAK: ByteBuf.release() was not called before it's garbage-collected. See http://netty.io/wiki/reference-counted-objects.html for more

[2019-09-05 21:17] griswold commented on #782
@violetagg thanks so much for all your help on this so far.

I have been trying to create a minimal repo to reproduce this issue and have struggled. For us, we only see the issue under fairly heavy and sustained load. I will keep working to see if I can get something working.

As you noted above, it appears that a channel is entering a state where the channel itself is open and active, but the `SS

[2019-09-05 22:14] thanhngo219 commented on #837
This is sample code.
[code]

[2019-09-06 04:59] violetagg commented on #837
Memory leak is caused by your code. You do not consume the response body.
See this https://github.com/reactor/reactor-netty/issues/778

[2019-09-06 05:37] bipin-naggarro opened #838 "Netty giving SSL handshaking error while connecting to SNI enabled end points"
## Expected Behavior

I expect Netty to successfully complete SSL handshaking and establish HTTPS connection
## Actual Behavior

Netty fails during SSL handshaking

## Steps to Reproduce

We are using Netty version 4.1.5.Final .  Please advise if SNI issue is resolved in any version .

I am using following dependencies .
<netty.version>4.1.5.Final</netty.version>

<dependency>
            <groupId

[2019-09-06 06:07] smaldini commented on #838
is this a Netty issue or a reactor-netty issue ? in any case the netty version seems outdated.

[2019-09-06 06:20] bipin-naggarro commented on #838
@smaldini I am using Netty libraries . can you please advise which version of Netty could fix this issue . I think if Netty supply host name during handshaking then SNI will be identified and appropriate certificate will be validated .

[2019-09-06 06:28] smaldini commented on #838
You should try 4.1.39 (https://netty.io/news/2019/08/13/4-1-39-Final.html)
If you still face an issue after upgrade please open in the netty project tracker https://github.com/netty/netty/

[2019-09-06 06:28] #838 closed

[2019-09-06 06:33] smaldini commented on #833
Hey @ahmedyarub I'm not sure I understood the vulnerability (or what if Client A and B are different machines or different request). Would it be possible to contact us directly so we triage it as a security issue which I would kindly ask to submit to the email address provided by https://pivotal.io/security.
If you feel the issue is more a bug and we are not dropping/ignoring packets until the nex

[2019-09-06 13:43] thanhngo219 commented on #837
Hi @violetagg .
I tried to consume the body in case status != 2xx and it works. Sample code but
[code]
Thank you! It works. I have another question. In case we call to many apis, we have consume all the body if it is not 2xx. Do you have any best practices in this?

[2019-09-06 15:15] ahmedyarub commented on #833
Spring Cloud Gateway is basically a proxy based on Webflux and Reactor Netty that receives HTTP requests, and then builds new ones after being modified by the filters. The end of the headers section of the HTTP packet is marked by an empty line. When the Content-Length is 0 or doesn't exist, the empty line is considered the to be the end of the HTTP request.
The problem that happened with us is th

[2019-09-06 16:12] violetagg commented on #837
duplicate of #778

[2019-09-06 16:16] violetagg commented on #837
`onStatus` https://docs.spring.io/spring/docs/current/spring-framework-reference/web-reactive.html#webflux-client-retrieve

[code]

`bodyToMono(Void.class)` https://docs.spring.io/spring/docs/current/spring-framework-reference/web-reactive.html#webflux-client-exchange

[code]

[2019-09-06 16:16] #837 closed

[2019-09-07 03:08] phantomedc commented on #560
i am facing a similar problem, webclient will hang on after being idle for several minutes
i reproduced this problem in my dev envrionment,I did 4 requests at ```2019-09-06 00:10:14.739```(t1)、```2019-09-06 00:19:51.274```(t2)、```2019-09-06 00:30:37.992```(t3)、```2019-09-06 00:33:13.314```(t4)，
the request1(at t1), request2(at t2)  webclient didn't idle too long time, the requests were processed f

[2019-09-07 03:15] phantomedc opened #839 "Spring Webclient Read Timeout after being idle for several minutes"
i reproduced this problem in my dev envrionment,I did 4 requests at ```2019-09-06 00:10:14.739```(t1)、```2019-09-06 00:19:51.274```(t2)、```2019-09-06 00:30:37.992```(t3)、```2019-09-06 00:33:13.314```(t4)，
the request1(at t1), request2(at t2)  webclient didn't idle too long time, the requests were processed fine, but request3(at t3), webclient was idle 10minutes, webclient got **Read Timeout**, the

[2019-09-08 06:52] violetagg commented on #839
@phantomedc Reactor Netty version? Can you take a tcpdump?

[2019-09-09 02:06] phantomedc commented on #839
[code]
the first request was processed fine
but the second one read timeout:
[code]
Thanks for your reply!

[2019-09-09 07:51] phantomedc commented on #839
i found it may related to the loadbalance device,
when i connect to the nginx directly,
![image](https://user-images.githubusercontent.com/15801693/64512207-79580c00-d318-11e9-8c02-914f1eca1fd5.png)
reactor-netty will receive a FIN flag after being idle for a while(15 seconds in my case):
[code]
[code]
but when the whole link is:
![image](https://user-images.githubusercontent.com/15801693/64512165

[2019-09-09 20:45] ahmedyarub commented on #833
Is it clear for you? Do you need more information?

[2019-09-09 23:16] hitendrapratap commented on #782
We are facing the similar issue. Reactor Netty 0.8.9.RELEASE, Spring Framework 5.1.8.RELEASE, Spring Boot 2.1.6.RELEASE

[2019-09-10 06:43] gnilron commented on #782
We also have the same issue, we tried switching to fixed pool without success, we think of testing 0.9.0.RC1 if that could make sense

[2019-09-10 13:31] dilipsundarraj1 commented on #587
@nidhi7 Did this fix work ? I still face this issue, webClient continuously retrying when the response is "CONNECTION_RESET_BY_PEER".
I am using the below versions of webflux and reactor netty versions.

[code]

[2019-09-10 20:29] nidhi7 commented on #587
Yes it was fixed as far as I remember. I don't use it currently so wouldn't be able to verify quickly. You might want to run the above test and verify.

[2019-09-11 05:31] machao23 opened #840 "How to add GlobalTrafficShapingHandler in httpClient？"
I am a new beginer, I cant find any clue in refernce, thanks

[2019-09-11 07:49] violetagg commented on #840
@machao23 This belongs to [Gitter](https://gitter.im/reactor/reactor-netty) or [StackOverflow](https://stackoverflow.com/questions/tagged/reactor-netty)

[2019-09-11 07:49] #840 closed

[2019-09-11 08:13] violetagg commented on #587
@dilipsundarraj1 This was fixed and a test was added so that this issue does not happen again. If you have a reproducible scenario please open a new issue.

[2019-09-11 08:15] violetagg commented on #836
@ikolomiets I'm closing this for now. If you see this with the latest binaries we can reopen it.

[2019-09-11 08:15] #836 closed

[2019-09-11 08:17] violetagg commented on #800
@kevinwan1986 I'm closing this as I cannot reproduce it with the latest binaries.

[2019-09-11 08:17] #800 closed

[2019-09-11 09:36] violetagg commented on #839
@phantomedc If we do not receive FIN for us this connection is still alive. Then the ReadTimeoutHandler will close it because of the timeout.

[2019-09-11 09:55] phantomedc commented on #839
yes, it seems not reactor netty's bug, i'm gonna close this issue

[2019-09-11 09:55] #839 closed

[2019-09-12 05:33] #830 closed

[2019-09-12 13:23] maczikasz opened #843 "HttpClient fails with SSL after redirect"
Hi,

I have an that need to run a http request against a webservice on www.example.com. This will result in a few redirects.

At some point these redirects go out of domain (www.different-example.com), then the certificates from the new server, will be for the new domain, but the httpclient still tries to verify the original hostname against it, which will obviously fail with the following message

[2019-09-12 19:34] violetagg opened #844 "reactor.netty.udp.UdpClientTest fails with Netty version >= 4.1.40.Final"
reactor.netty.udp.UdpClientTest > smokeTest FAILED

It is related to epoll

[2019-09-12 21:38] #843 closed, assigned to nobody

[2019-09-13 09:41] rstoyanchev opened #846 "ConnectionProvider dispose leaves behind threads"
The [ReactorResourceFactory](https://github.com/spring-projects/spring-framework/blob/master/spring-web/src/main/java/org/springframework/http/client/reactive/ReactorResourceFactory.java) in the Spring Framework provides an option to use resources independent of the global ones and to clean those up when the ApplicationContext is closed. This is useful for example in a Spring MVC app using the `We

[2019-09-13 19:57] rahulmakwana32 commented on #782
Debug Loggers and tcpdump should help to understand the actual cause this error message and in turn can help in finding resolution.

[2019-09-15 07:08] Jovons commented on #639
I think H2 is coming soon. saw some code there, just all commented. Really wish it is not H2 only, it should support H2C as well! Not all H2 connections are in non-trust-worthy network. For micro-services it is import for us to debug H2C messages between services.

[2019-09-15 18:54] #846 closed

[2019-09-16 13:51] violetagg commented on #828
There is no need to change the current behaviour
https://tools.ietf.org/html/rfc7231#section-6.4.2
https://tools.ietf.org/html/rfc7231#section-6.4.3
https://tools.ietf.org/html/rfc7231#section-6.4.7
https://tools.ietf.org/html/rfc7538#section-3

[2019-09-16 13:51] #828 closed

[2019-09-17 00:08] philsttr opened #847 "PooledConnectionProvider not allowing more than 2 connections"
Starting with the Dysprosium-M3 release, when executing multiple http requests in parallel, the `PooledConnectionProvider` is only utilizing 2 connections, therefore not allowing sufficient parallelism.

Prior to Dysprosium-M3, the `PooledConnectionProvider` properly utilized up to its max connections.

So, this is a regression.

## Expected Behavior
Executing multiple http requests in parallel, I

[2019-09-17 08:04] bclozel commented on #846
See c720de50f925c511e1b8edfed5adf4fa88d0439c for the fix.

[2019-09-18 08:03] shanzhaigegeyml opened #849 "how can I release the connection to channelPool create by ConnectionProvider, but close the connection"
how can I release the connection to channelPool create by ConnectionProvider, but close the connection

## Motivation

## Desired solution

## Considered alternatives

## Additional context

[2019-09-18 08:19] violetagg commented on #849
@shanzhaigegeyml This belongs to [Gitter](https://gitter.im/reactor/reactor-netty) or [StackOverflow](https://stackoverflow.com/questions/tagged/reactor-netty)

I do not know your scenario and when you want to close the connection, but you can invoke `Connection#dispose`

[2019-09-18 08:19] #849 closed

[2019-09-18 08:28] shanzhaigegeyml commented on #849
the method Connection#dispose will close the connection  on tcp protocol.  I want to release the connection to ConnectionProvider 's channelPool,  so the next time I can get it from ConnectionProvider 's channelPool, but not to create a new tcp connection.

[2019-09-18 10:30] bclozel opened #850 "Specify fire-and-forget `dispose()` behavior in javadoc of classes that have a `disposeLater()`"
The `Disposable.dispose` javadoc currently mentions:

Several classes inheriting that javadoc are implementing this method in a way that:
1. resources are marked as disposed
2. the method returns
3. resources are actually disposed asynchronously, later

This can be misleading as the javadoc and the `void` return type might lead users to think that resources are disposed right away. See `Connection

[2019-09-18 10:43] simonbasle commented on #850
(NB: I moved this issue from core)
this is specific to these classes that have a `Mono<Void> disposeLater()` method. The javadoc of `#dispose()` is in some instances plain inherited from `Disposable#dispose` which might mislead people into thinking the method only returns when resources are effectively disposed, so the javadoc should be overridden.

[2019-09-19 12:51] #850 closed

[2019-09-20 15:49] violetagg commented on #797
Resolved via #832 #854 #856

[2019-09-20 15:49] #797 closed

[2019-09-21 06:47] #794 closed

[2019-09-23 12:47] violetagg commented on #573
@aftersss It would be great if you can contribute such feature?

[2019-09-23 15:40] sbrannen opened #860 "Global resource cleanup slow on Mac OS"
## Overview

When using global HTTP resources for event loops and pooling on Mac OS, cleanup of those resources takes considerably longer on Mac OS than it does on Linux.

For example, after [this commit](https://github.com/spring-projects/spring-framework/commit/ca2b2f5533a15dd37eb89ed46c8214a525b4cdc8#diff-15a8a733a495dd20deafdac8e3b046f8) in the Spring Framework, the [WebClientDataBufferAllocat

[2019-09-23 21:02] violetagg commented on #860
@sbrannen There is a problem with the test

When you initialise the `WebClient`, actually you still don't know the `bufferFactory`, so you do not create a `WebClient` with custom `ConnectionProvider` and `LoopResources`, but with the global ones. At the end, you dispose `ConnectionProvider` and `LoopResources` that have never been used and because of that their disposal finishes immediately.

Here

[2019-09-23 21:18] violetagg commented on #798
This feature was provided with #859

[2019-09-23 21:18] #798 closed

[2019-09-23 21:51] violetagg commented on #860
The log below is an execution on Ubuntu - again `2s` quiet period

[code]

[2019-09-24 00:20] aftersss commented on #573
OK, I will create a PR in the next month(recently I am a little busy, sorry ^_^).

[2019-09-24 09:30] violetagg commented on #573
@aftersss Thanks

[2019-09-24 11:30] sbrannen commented on #860
Oops. That's actually my fault: I missed that the `bufferFactory` was `null` at that point while migrating from JUnit 4 to JUnit Jupiter.

Thanks for finding that! I've fixed that now.

I've moved our "destroy" invocation to an `@AfterAll` method so that we are only hit with the 2s penalty once for the entire test class instead of for each test method.

This is acceptable and *much* better than th

[2019-09-24 11:49] violetagg commented on #860
@sbrannen we can expose an API and then use https://netty.io/4.1/api/io/netty/util/concurrent/EventExecutorGroup.html#shutdownGracefully-long-long-java.util.concurrent.TimeUnit-
with the provided quiet period and timeout

[2019-09-24 11:49] sbrannen commented on #860
Closing since the bug in Spring's test suite has been fixed in https://github.com/spring-projects/spring-framework/commit/38052e77b710a0fa373483bc6e55d68c26e6ec38.

[2019-09-24 20:19] smaldini commented on #833
@violetagg and/or me will try to contact you offline for more precision if its sensitive. What I'm failing to look at is how 2 different clients can be a problem, unless its one client doing 2 different requests (or a pooled client) ? In the case the 2 clients mean 2 consecutive connection users producing 3 http messages should not be a security issue, but just an issue (client side first then ser

[2019-09-25 03:04] ahmedyarub commented on #833
It is a security issue because the second part of the packet sent by the first client is appended to the packet of the second client. This means that an attacker can craft malicious packets which would augment the packets sent by another client. The other client might be authenticated and have different permissions than the first client. This way, the first client will be able impersonate any othe

[2019-09-26 02:22] Liyixin95 opened #861 "[Question]About the ConnectionObserver"
Why not use a specific call back method such as `onConnected `and `onConfigured `and so on.Then the `onStageChange` could be split into several specific method and remove the overhead of `State`
judgment.

[2019-09-26 03:36] violetagg commented on #861
The idea was to be able add more states in the future.
Also while `ConnectionObserver.State` represents the states on TCP level, we have additional states for the HTTP client and the HTTP server.
https://github.com/reactor/reactor-netty/blob/master/src/main/java/reactor/netty/http/client/HttpClientState.java#L26
https://github.com/reactor/reactor-netty/blob/master/src/main/java/reactor/netty/http/

[2019-09-26 04:05] Liyixin95 commented on #861
The more state been add, The more overhead of judgment will be cast...And I think put all the branch in one method is less efficient...I could provide a PR and some benchmark if you don‘t mind.

[2019-09-26 05:25] violetagg commented on #861
yes sure go ahead

Thanks
Violeta

[2019-09-27 15:45] #737 closed

[2019-09-27 15:47] benitocm commented on #737
I think I will not be able to try to reproduce this problems so I will close it for now.

[2019-09-30 02:20] Liyixin95 commented on #861
@violetagg I have tried the specify call back method these days.Changing the `onStateChange` to the specify one in the runtime is quite easy but it's very complex in set up time...I guess you may not like this huge modify...

[2019-09-30 02:20] #861 closed

[2019-09-30 05:07] violetagg commented on #861
Ok I understand

Thanks

[2019-10-01 08:51] polsson12 commented on #782
When is a pull request scheduled to be created of out this commit?
Do you know which version this commit can be relased in?

I'm working in a project where we are very eager to to have a fix for `SSLEngine closed already` error.

[2019-10-01 19:42] violetagg commented on #307
Duplicate #717

[2019-10-01 19:42] #307 closed

[2019-10-01 19:48] violetagg commented on #26
https://projectreactor.io/docs/netty/release/reference/index.html#_lifecycle_callbacks
https://projectreactor.io/docs/netty/release/reference/index.html#_lifecycle_callbacks_2

[2019-10-01 19:48] #26 closed

[2019-10-01 19:49] violetagg commented on #37
https://projectreactor.io/docs/netty/release/reference/index.html

[2019-10-01 19:49] #37 closed

[2019-10-02 06:08] violetagg commented on #739
Shading is not an option, most probably we will separate the project to submodules.

[2019-10-08 09:41] Tiller opened #863 "[HTTP2] LEAK: ByteBuf.release() was not called before it's garbage-collected"
## Expected Behavior
No Leak

## Actual Behavior
Application logs some leakage warnings

[code]

## Steps to Reproduce
- Clone https://github.com/Tiller/netty-leaks
- Run Application.java
- Make GET calls to /tap/operation using H2C Prior knowledge
- - You can use nghttp2 in the console, and execute `while true; do nghttp "http://localhost:8080/tap/operation" ; sleep 2 ; done` (you can speed up th

[2019-10-08 11:22] Tiller commented on #863
Don't know if related to the first one, but I just got a new leak detected...

[code]

[2019-10-08 14:03] smaldini commented on #863
First things first, I suppose the 0.9.0.RELEASE does the same ?

[2019-10-09 02:05] xuxiao1987 commented on #577
hi，Has the problem been solved?

[2019-10-09 07:18] Tiller commented on #863
Well, I tried to blindly update to 0.9.0.RELEASE and I got some `java.lang.ClassCastException: class io.netty.handler.codec.http2.Http2MultiplexHandler$Http2MultiplexHandlerStreamChannel cannot be cast to class io.netty.channel.socket.SocketChannel (io.netty.handler.codec.http2.Http2MultiplexHandler$Http2MultiplexHandlerStreamChannel and io.netty.channel.socket.SocketChannel are in unnamed module

[2019-10-09 07:34] Tiller commented on #863
In the meantime, I extracted a sample code on which I am able to reproduce the leaks.
https://github.com/Tiller/netty-leaks
Then in the console, I ran 4 instances of
[code]
And got the first leakages in a couple of minutes

Note that on the git repository there probably are some useless code (`connection.channel().localAddress();` for example), but it was just to reproduce the calls I made in my m

[2019-10-09 07:52] Tiller opened #864 "[HTTP2] ClassCastException on request"
## Expected Behavior
No exception

## Actual Behavior
[code]

## Steps to Reproduce
- Clone https://github.com/Tiller/netty-leaks
- Checkout branch `release`
- Run Application.java
- Make a GET call to /tap/operation using H2C Prior knowledge
- - You can use nghttp2 in the console, and execute `nghttp "http://localhost:8080/tap/operation" `

## Your Environment
OS: Xubuntu 19.04 64bits 5.0.0-31-ge

[2019-10-09 07:54] Tiller commented on #863
@smaldini I tried again to update to 0.9.0.RELEASE and got nowhere, even by updating spring boot version, so I opened bug #864

[2019-10-10 08:21] Tiller opened #865 "[HTTP2] bodyToMono waiting for data frame indefinitely"
## Expected Behavior
Return an empty mono, or an error mono

## Actual Behavior
ServerRequest.bodyToMono waits indefinitely for data

## Steps to Reproduce
- create an HTTP2 server (H2C in my case, https://github.com/Tiller/netty-leaks )
- create a controller + endpoint that takes a ServerRequest as a parameter
- call bodyToMono on the ServerRequest then map it to a ServerResponse
- with an http2

[2019-10-11 10:01] #864 closed

[2019-10-11 10:14] violetagg commented on #864
@Tiller Can you try 0.9.1.BUILD-SNAPSHOT?

[2019-10-11 13:02] Tiller commented on #864
It seems to be fixed, thanks

[2019-10-11 13:13] Tiller commented on #863
Reproduced instantly on the environment:

OS: Xubuntu 19.04 64bits 5.0.0-31-generic
JVM: openjdk version "11.0.4" 2019-07-16
Reactor: 3.3.0.RELEASE
Spring-boot: 2.2.0.RC1
Reactor-netty: **0.9.1.BUILD-SNAPSHOT**
Netty: 4.1.39.Final

[2019-10-13 23:05] fjacobs commented on #865
HTTP2 is unsupported https://github.com/reactor/reactor-netty/issues/639

[2019-10-15 08:43] AntonGabov opened #866 "[HttpServer] HttpPredicate$UriPathTemplate can cause OOM"
## Expected Behavior
`HttpPredicate$UriPathTemplate` shouldn't cause OOM.

## Actual Behavior

`HttpPredicate$UriPathTemplate` keeps track of all incoming uris in variable `HashMap<String, Matcher> matchers`, which leads to OOM.

## Steps to Reproduce

Try to use small java heap to get the OOM faster. Also run java app with parameters: `-XX:+HeapDumpOnOutOfMemoryError` and `-XX:HeapDumpPath=<your_

[2019-10-15 13:19] Akashaj1990 commented on #547
Hi Team,

I am facing the same issue, did anyone find the resolution ?

Thanks
Akash

[2019-10-16 07:55] yu199195 opened #867 "Why use only one of netty's work threads"
Hi，I am using webflux, and his bottom layer USES reactor-netty. I have customized the configuration of netty，Why only the same work thread handles each request？

This is my code ：

[code]

[2019-10-16 09:04] aschei opened #868 "Update nettyVersion to at least 4.1.42.Final to get rid of CVE-2019-16869"
## Expected Behavior

reactor-netty should not be vulnerable to https://nvd.nist.gov/vuln/detail/CVE-2019-16869.

## Actual Behavior

reactor-netty is reported vulnerable to https://nvd.nist.gov/vuln/detail/CVE-2019-16869.

## Steps to Reproduce

* Depend on io.projectreactor.netty:reactor-netty:0.9.0.RELEASE.
* Run [org.owasp.dependencycheck](https://jeremylong.github.io/DependencyCheck/dependenc

[2019-10-21 13:13] DenisTunin opened #871 "NPE in bootstrap config localhost TcpClient"
## Expected Behavior

Should return new ChannelBindException with message

## Actual Behavior

NullPointerException when executed `ChannelBindException(bootstrap.config().localAddress().toString(), -1, cause)`
## Steps to Reproduce

[code]

* Reactor version(s) used:
* Other relevant libraries versions (eg. `netty`, ...):
Spring-boot 2.2.0.RELEASE, reactor-netty 0.9.0.RELEASE, netty-* 4.1.42.Final

[2019-10-22 07:44] AugustoSansoni commented on #639
Do you have any plan about the date next version of reactor netty will be published with this enhancement ?

[2019-10-22 14:10] violetagg commented on #871
@DenisTunin With the provided test case it is expected that `localAddress` is NULL. You didn't configure any `localAddress`

`io.netty.bootstrap.AbstractBootstrapConfig#localAddress`
[code]

The correct test case is the following

[code]

[2019-10-22 14:51] hmble2 opened #872 "Calling traditional SOAP/WSDL Service over netty/rector"
My Service provides and consumes a bunch of services most of them are REST and using reactor on the top of netty working just fine which I absolutely love :). Recently, learnt that it needs to consume/call additional SOAP/WSDL service. Could calling SOAP/WSDL over netty is possible (wants to avoid Servlet Container if possible) ? What are the options. Thanks !

[2019-10-22 14:56] mp911de commented on #403
Domain sockets kind-of work when supplying a custom `LoopResources` implementation that sets the appropriate `Class<? extends Channel>`.

With the default setup, connect fails with `Address family not supported by protocol` as the socket channel class defaults to a regular `[Epoll|KQueue]SocketChannel`.

[2019-10-22 14:57] mp911de commented on #403
See also mirromutth/r2dbc-mysql#80 and r2dbc/r2dbc-postgresql#181 as pre-requisites for GCP MySQL/Postgres usage via R2DBC.

[2019-10-23 11:55] rstoyanchev commented on #549
@violetagg, sorry for missing this. Yes that seems fine. We [currently use](https://github.com/spring-projects/spring-framework/blob/82f64f6a8d7478852cc68801ce6bac2d1e987e0c/spring-web/src/main/java/org/springframework/http/server/reactive/ReactorServerHttpRequest.java#L180) `channel().id().asShortText()` so it seems like it should be a transparent change for us.

[2019-10-23 23:50] #865 closed

[2019-10-24 04:29] anilgursel opened #876 "Memory leak if a timeout is triggered while still reading response body"
On a stream that uses `timeout` operator with `HttpClient`, if timeout is triggered while `FluxReceiver` is still reading the response bytes, intermittent leaks happen.  Please see below reproducer and the logs:

[code]

I see the following in console.  Not with every run though.  One out of every 5 runs or so.

[code]

I can reproduce the leak with Spring `Webclient` as well.  But, again, it does

[2019-10-24 04:33] smaldini commented on #876
I thought we got rid of this one, must be a regression. We'll investigate /cc @violetagg

[2019-10-24 05:23] zzd0058 opened #877 "Websocket server send close with code and reason ,but the client cannot receive the real 'code and reason'"
I am provide the demo with spring-cloud-gateway
spring boot version : 2.1.3.REALEASE
reactor-netty version: 0.8.5.REALEASE
server:
[code]
when server receive message what startwith 'dd' then command 'close' with 'code' and 'reason'
but client receive
code=1005 reason ='' and wasClean=false

I find the code of reactor-netty ：
WebsocketClientOperations
[code]
this method is wrong ,because the server

[2019-10-24 06:16] violetagg commented on #877
Can you check this feature?
https://github.com/reactor/reactor-netty/issues/533

[2019-10-24 06:25] violetagg commented on #877
`sendCloseNow` and `sendClose` has different purposes.

The first (`sendCloseNow`) is invoked when the server receives `Close` frame from the client. According to the specification https://tools.ietf.org/html/rfc6455#page-36

[code]

Here we mark that Close frame was sent
https://github.com/reactor/reactor-netty/blob/master/src/main/java/reactor/netty/http/server/WebsocketServerOperations.java#L23

[2019-10-24 06:37] zzd0058 commented on #877
thanks,i'll try it

[2019-10-24 06:59] violetagg commented on #844
Fixed with 777274a31143cdc8c8bfe39752e55221c94fada3 and 218af7a26fead75eb3b8fad091e4ba02b7441d03

[2019-10-24 06:59] #844 closed

[2019-10-24 07:01] violetagg commented on #868
Fixed with #842 , 777274a31143cdc8c8bfe39752e55221c94fada3 and 218af7a26fead75eb3b8fad091e4ba02b7441d03

[2019-10-24 07:01] #868 closed

[2019-10-24 07:06] violetagg commented on #871
I'm closing this one, we can reopen it if it is necessary.

[2019-10-24 07:06] #871 closed

[2019-10-24 10:32] violetagg commented on #549
Available since 0.8.x version

[2019-10-24 13:48] aschei commented on #868
Thanks for fixing! When will there be a release containing the fix? I currently depend on 0.9.0.

[2019-10-24 13:59] violetagg commented on #868
@aschei In the next days

[2019-10-24 16:37] #863 closed

[2019-10-25 00:26] smaldini commented on #866
Preliminary fix on - https://github.com/reactor/reactor-netty/commit/fe6653fac44df16664bdd0628ad56cd142175bca

I think it's worth opening a separate issue to improve the fix with an LRU cache while we have the Oom covered now. If you don't agree feel free to reopen this one.

[2019-10-25 00:26] #866 closed

[2019-10-29 02:17] LeePepe opened #879 "I can not get custom reason phrase"
## Motivation

My server has a custom reason phrase for HttpStatus 400. For example, 400 "Not Found User". And I want to get the reason phrase.
But I found there are no way to get it. I only can get "Bad requst"
## Desired solution

I found the problem is in [HttpClientOperations](https://github.com/reactor/reactor-netty/blob/master/src/main/java/reactor/netty/http/client/HttpClientOperations.java

[2019-10-29 06:57] violetagg commented on #879
@LeePepe For which version do you need this enhancement?

[2019-10-29 07:24] LeePepe commented on #879
Sorry, this is my first time to open a issue. I don't know what you mean and I don't know why my issue has this label.

[2019-10-29 07:27] violetagg commented on #879
@LeePepe I mean the version of Reactor Netty

We have 0.8.x and 0.9.x. Which one do you use?

[2019-10-29 07:32] LeePepe commented on #879
@violetagg I use spring boot 2.1.0.RELEASE. So I don't know how to know the version of Reactor Netty. But I found in 0.9.1 and 0.8.x it is same.`return HttpResponseStatus.valueOf(responseState.response.status().code());`

[2019-10-29 07:34] violetagg commented on #879
@LeePepe Spring Boot 2.1.0.RELEASE uses 0.8.x and Spring Boot 2.2.0.RELEASE - 0.9.x

[2019-10-30 08:56] xiazuojie opened #881 "Potential out of memory error if writing too fast and having slow receiver"
Currently it does not check whether channel is writable before invoking ChannelHandlerContext.write(). Instead, it checks whether channel is writable **after** writing to it, and flushes the channel in case it's not writable.

In the case of writing fast and having slow receiver, flushing may not make a channel writable immediately. However, the code always writes incoming messages to the channel.

[2019-10-31 08:27] simondaudin opened #883 "reactor-netty 0.9 OSGI bundle issue reactor.blockhound is not optional"
## Expected Behavior
When using reactor-netty bundle in OSGI environment, reactor.blockhound bundle would not be required as it is an optional dependency from reactor-netty.

## Actual Behavior
`reactor.blockhound,reactor.blockhound.integration` are packages required at runtime. As reactor.blockhound is not exporting those packages, it is currently impossible to run reactor-netty >= 0.9 in OSGI en

[2019-10-31 11:34] violetagg commented on #883
@simondaudin Would you like to create a PR?

[2019-10-31 11:42] simondaudin commented on #883
@violetagg Sure, I will submit a PR soon.

[2019-10-31 12:28] #883 closed

[2019-10-31 12:57] zzd0058 commented on #877
hello,Could you tell give me some suggestions? how to close websocketServer to notify client the 'close code and reason',I update version to 0.9.0.realease cannot work!

[2019-10-31 13:16] violetagg commented on #877
@zzd0058 Here are very simple tests that demonstrate that.

[code]

[2019-11-03 22:13] simbo1905 commented on #375
If anyone is looking for how to make an Echo TCP echo client-server with reactor-netty here is is what I was able to figure out https://gist.github.com/simbo1905/213e1bf966dc80e04349977a1bcb7b00

I worked that out by looking at the completed branch of the workshop repo at https://github.com/violetagg/reactor-netty-workshop

[2019-11-04 00:35] zhouzhou19950825 opened #886 "How to obtain content in Httpserver"
You want to get the request body in Httpserver.route, but you can only get the request header at present. The reason is that the decode in Httpobjectdecoder needs to be parsed twice, the first time the request header is parsed, the second time the request body is parsed. However, the request has been returned before parsing the request body, so the request body cannot be obtained.

At present, you

[2019-11-04 09:03] violetagg commented on #886
@zhouzhou19950825 I'm not quite sure that I understand your request.

You have the request provided and you can use `request.receive()` in order to obtain the body.
https://projectreactor.io/docs/netty/release/reference/index.html#_routing_http

[2019-11-04 10:07] zzd0058 commented on #877
It's a demo, A is a WebsocketClient,B is spring-cloud-gateway,C is websocketServer.
So,A establishes a connection with C through the proxy B,But now ,I found that when C close the channel of websocket and send CloseWebSocketFrame with some ‘reason and closeCode’ to A.
In theory, A should receive the 'reason and code' from C,but it doesn't receive it instead of '1005'.
Can you give me some solution

[2019-11-04 10:14] violetagg commented on #877
@spencergibb do you forwards Close web socket frames?

/cc @smaldini

[2019-11-04 12:56] VsKrishna87 opened #887 "Proxy settings via system properties not working with Spring WebClient"
My following WebClient is working fine with internet connection but not through our proxy connection.
[code]
Event though, the same client is working through proxy, if I set it as mentioned below,
[code]
But if I set the same Proxy details either using `System.setProperty("http.proxyHost","ourproxy.com");` `System.setProperty("http.proxyPort","8080");` or JVM run-time arguments `-Dhttp.proxyHost=o

[2019-11-04 16:38] violetagg commented on #887
Only this is supported (system properties are not supported)

[code]

You can easily add/remove proxy configuration using the system properties in your code.

[2019-11-04 16:58] shakuzen opened #888 "UdpClient stops sending Publisher elements"
## Expected Behavior
In versions 0.8.6 and before, the behavior was that messages from a publisher would continue to be sent, even without anything listening on the UdpClient's specified port. This is useful when sending to something that may not be listening initially but will eventually.

## Actual Behavior
Since version 0.8.7, the UdpClient will stop sending if there is no listener.

## Steps t

[2019-11-04 17:37] #879 closed

[2019-11-04 18:57] violetagg commented on #876
fixed with #882

[2019-11-04 18:57] #876 closed

[2019-11-04 20:26] violetagg commented on #833
@ahmedyarub
https://github.com/spring-cloud/spring-cloud-gateway/commit/0d2b87af30a86e10ce1e42bd1415f9c90ce8c5e5#diff-5b9ae149fff7a5250b6aec43cc2bd370

#875

[2019-11-05 00:45] zhouzhou19950825 commented on #886
Thanks,I got it wrong. It's settled now

[2019-11-05 00:45] #886 closed

[2019-11-05 10:33] zzd0058 commented on #877
any solution?

[2019-11-07 06:07] Incarnation-p-lee commented on #782
any update about this issue ? I can see one branch with commit try to fix it but not released yet since 11-7-2019. Or should we have a try for `0.9.x` ?

[2019-11-07 08:21] Ishukumar91 opened #890 "How to add custom SSLContext for TCPClientSpec"
I am developing a websocket server with STOMP and rabbitmq as a message broker. Its a secured application. My requirement is to establish a secured connection with rabbitmq through websocket. I have created a required configurations in my project and creating TCPClientspec with host, port and ssl option something like below:

{
...
return tcpClientSpec
                .env(environment)

[2019-11-07 13:32] violetagg commented on #890
@Ishukumar91 can you provide more complete example?

[2019-11-07 13:43] violetagg commented on #877
@zzd0058 Please create an issue for Spring Cloud Gateway and link this one.

[2019-11-07 13:43] #877 closed

[2019-11-08 00:06] gtomassi commented on #782
Same issue here.

Similar behavior to the others that have commented:
- Hard to replicate
- Occurs only under heavy load

Additional info:
- Once it starts, even if the load declines it continues to occur
- Confirmed on 0.8.12.RELEASE & 0.8.13.RELEASE

[2019-11-08 04:40] leonchen83 opened #891 "http request contains absolute URI can't match route path"
## Expected Behavior

[code]
above http request should match route path`/api/v1/customer/ping` but actually not.
base on [request-uri](https://www.w3.org/Protocols/HTTP/1.1/rfc2616bis/draft-lafon-rfc2616bis-03.html#request-uri), this is legal http request

## Actual Behavior

[code]
## Steps to Reproduce

[code]

## Possible Solution

HttpPredicate line 230
[code]
template.matches(key.uri())) this