[2020-10-02 14:45] jtorkkel opened #1321 "HTTP_server metrics is are not recording "error" when calling HTTP client close to socket"
Current behavior:
No metrics related to http_server_reqests_seconds_count recorded

If tcp.metrics(true) then the following metrics can be seen
reactor_netty_tcp_server_errors_total{app="xxx",host="yyy",remote_address="127.0.0.1:45935",uri="tcp"} 1.0
reactor_netty_tcp_server_errors_total{app="xxx",host="yyy",remote_address="127.0.0.1:45951"uri="tcp"} 1.0
but remote_address should be removed.

Expe

[2020-10-02 14:46] jtorkkel opened #1322 "HTTP server metrics not recorded when ReadTimeoutHandler enabled"
Enable ad timeout (and or write timeout) for HTTP server, when timeout expire metrics should record the timeout.

Current behavior:
No metrics related to http_server_reqests_seconds_count recorded
tcp.metrics(true) not showing anything related to error.

Expected behavior:
http_server_requests_seconds_count{app="xxx",exception="asyncTimeout",host="YYY",method="GET",outcome="SERVER_ERROR",status="5

[2020-10-02 15:03] violetagg commented on #1320
@jtorkkel And why you enable the metrics on the TCP level and not on the HTTP level (where this use case was explicitly fixed by the linked issue)?
Note that with the upcoming 1.0.0 release you won't be able to do that exactly because of that configuration that you have in the example.

[2020-10-02 15:36] violetagg commented on #1322
@jtorkkel `http_server_requests_seconds_count` is not provided by Reactor Netty.
Here you can find all metrics that Reactor Netty HttpServer exposes
https://projectreactor.io/docs/netty/release/reference/index.html#_metrics_4

If I have the following configuration (note how I enable the metrics)

[code]

And controller

[code]

And send a request to this endpoint but delay explicitly the request b

[2020-10-02 15:53] violetagg commented on #1321
@jtorkkel `http_server_requests_seconds_count` is not provided by Reactor Netty.

Here you can find all metrics that Reactor Netty HttpServer exposes
https://projectreactor.io/docs/netty/release/reference/index.html#_metrics_4

Follow the snippet below in order to enable Reactor Netty HttpServer metrics

[code]

[2020-10-03 14:12] jtorkkel commented on #1320
@violetagg,
Few reason:
1. I did not managed to enable them, thanks for the tip how to enable them. This did not work. factory.addServerCustomizers(server -> server.metrics(true, s -> s).tcpConfiguration    ....
2. in the past we had cardinality issues in reactor_netty_http_client and thus we use end up using reactor_netty_tcp_client ... tcp level expose less duplicate metrics, http metrics has sa

[2020-10-05 08:39] sandeepbyathagururajarao commented on #1318
@violetagg How to set value of maxIdleTime in a spring boot application?

[2020-10-05 08:49] violetagg commented on #1318
@sandeepbyathagururajarao The easiest way is via system property
https://projectreactor.io/docs/netty/release/reference/index.html#_connection_pool

`reactor.netty.pool.maxIdleTime`

[2020-10-05 09:16] sandeepbyathagururajarao commented on #1318
@violetagg
Will try this change and test. Thanks for reply.

[2020-10-05 09:39] sandeepbyathagururajarao commented on #1318
@violetagg
I have set -Dreactor.netty.pool.maxIdleTime=6000. This is 6 sec and tomcat connection timeout is set to 60000 (1 min)
Still facing same issue.

[2020-10-05 12:26] violetagg commented on #1318
@sandeepbyathagururajarao Can you provide some reproducible example?

[2020-10-06 05:29] violetagg commented on #1320
@jtorkkel

Is it working now?

You mean http client or http server metrics are exposed by micrometer?

Yes it is missing in HTTP because TLS handshake is done once when a connection between a client and a server is established. When you do not have `remote_address` in the metrics you can see some time but you will not know with which clients the handshake is OK and with which not.

If we remove th

[2020-10-06 06:43] ankitjindalstanza commented on #388
How Can I do this? Couldn't find an option?

		HttpClient httpClient = HttpClient.create();

	    ReactorClientHttpConnector connector =
	            new ReactorClientHttpConnector();

	        Builder builder = WebClient.builder().clientConnector(connector);
	        return builder.build();

[2020-10-06 06:50] violetagg commented on #388
You can disable the pool like this:

[code]

However I do not recommend disabling the pool nor setting `keepAlive` to false, except you have very good reason to do that.

[2020-10-06 07:28] ankitjindalstanza commented on #388
But the issue is I am getting below error intermittently non my prod environment interestingly working fine for beta:

[2020-10-06 11:38:52.666] [reactor-http-epoll-2] ERROR [] [] [] [] [Mono.FlatMap.41:314] - | onError(io.netty.channel.unix.Errors$NativeIoException: readAddress(..) failed: Connection reset by peer)
[2020-10-06 11:38:52.667] [reactor-http-epoll-2] ERROR [] [] [] [] [Mono.FlatMap.4

[2020-10-06 07:34] violetagg commented on #388
@adammichalik Create a new issue related to your use case, the Reactor Netty version that is in use etc.

[2020-10-06 07:40] adammichalik commented on #388
I believe you meant @ankitjindalstanza ;)

[2020-10-06 07:49] violetagg commented on #388
@adammichalik excuse me

[2020-10-06 08:18] ankitjindalstanza commented on #388
@violetagg shall I Open a different ticket?

[2020-10-06 08:35] violetagg commented on #388
@ankitjindalstanza yes

[2020-10-07 07:43] sandeepbyathagururajarao commented on #1318
@violetagg Looks like your suggestion is working out. I have not observed the issue since 2 days. Will observe more and update you. Thanks a lot in helping me fix the issue.

[2020-10-07 16:41] violetagg commented on #539
#1307 #1317 #1324

[2020-10-07 16:41] #539 closed

[2020-10-08 00:52] elhay-av commented on #1008
For me, the case was sending a file as a request body.
**And the solution** was adding permissions to this file.

[2020-10-08 05:45] violetagg commented on #1314
@blacelle I'm closing this one, if you are able to provide more isolated reproducible scenario this will help.

[2020-10-08 05:45] #1314 closed

[2020-10-08 08:46] violetagg commented on #1058
I'm closing this issue as `uri(URI)` provides the requested functionality. Reactor Netty users can choose which library to use in order to construct the needed URI (for example #1323 where `QueryStringEncoder` is used).
If there is a broader interest for something like `uri(UriBuilder)` we can reopen the issue and discuss the further steps.

[2020-10-08 08:46] #1058 closed

[2020-10-08 20:52] crankydillo opened #1327 "ConnectionObserver#currentContext visible in doOnChannelInit should have the context of the subscription that drove it."
We feel that `doOnChannelInit` should have access to the client 'request' subscription that drove it firing.  The only place we saw to look was in `ConnectionObserver#currentContext`.  Seems like it could go there; however, ultimately, we just need it somewhere:)

I added the following to `TcpClientTests` to show what we are thinking:

[code]

[2020-10-09 10:13] hero6-coder commented on #388
Hi, who also meet this situation? I have struggled with it more than 1 day and finally I found that grpc library caused the conflict with reactor netty (both 2 framework are in io package). So if you find the grpc in the pom, consider using it beside reactor netty

[2020-10-09 12:50] violetagg opened #1328 "HTTP/2: Metrics for active streams"

[2020-10-09 12:51] #1169 closed

[2020-10-09 12:53] violetagg commented on #1316
@xinghui322 I'm closing this. If you are able to provide some reproducible example we can reopen it.

[2020-10-09 12:54] violetagg commented on #1302
@agilekevin I'm not able to reproduce this behaviour. If you are able to provide a reproducible example, we can reopen the issue.

[2020-10-09 12:54] #1302 closed

[2020-10-09 20:18] ukayani opened #1331 "Intermittent PrematureCloseException occurs with HTTP client"
In our production service we are seeing intermittent PrematureCloseException when using the HTTP client.

The request being made is a simple HTTP GET request, however we also see this for POST requests as well:

[code]

In the logs what i see is:

1. connection is used for a successful exchange
1. connection is released back to pool
1. connection is acquired again (within a few hundred microsecond

[2020-10-12 11:59] kaladhar-mummadi opened #1333 "Regression: HttpSeverOperations overrides content-length to 0 on HTTP HEAD #171"
Original Issue: https://github.com/reactor/reactor-netty/issues/171
Regression is caused by the fix provided for `Transfer-Encoding & Content-Length headers are being sent in response headers.` #1153
https://github.com/reactor/reactor-netty/commit/317355f66edefaf48d4f09f3727c57b03fe73a3d

Reactor-Netty: version: 0.9.11.RELEASE

[2020-10-12 12:17] violetagg commented on #1333
@kaladhar-mummadi Can you provide a reproducible example?

[2020-10-12 12:31] kaladhar-mummadi commented on #1333
@violetagg  Just realized #171 is describing , content-length being overridden.
But in my case not setting `content-length` or setting `transfer-encoding` header is overridden by `content-length:0`. in `HttpSeverOperations:newFullBodyMessage`
When I set `content-length:<some_number>`, behavior is as expected.

[code]

[code]

[2020-10-12 13:23] violetagg commented on #1333
@kaladhar-mummadi In RFC https://tools.ietf.org/html/rfc7231#section-4.3.2 we have the following

[code]

I tried the examples above where I replaced `HEAD` with `GET` and these are the results:

Example 1:

[code]

Example 2:

[code]

[2020-10-12 14:00] kaladhar-mummadi commented on #1333
@violetagg Yes, aware of that section in RFC 7231.
But in variable response body case we would want to send `transfer-encoding:chunked` in both GET and HEAD requests.
[code]

Results:
[code]

[2020-10-13 10:09] violetagg commented on #1333
@kaladhar-mummadi https://github.com/spring-projects/spring-framework/issues/25908

[2020-10-13 13:17] deepakThedeveloper opened #1334 "io.netty.util.IllegalReferenceCountException: refCnt: 0, decrement: 1"
I am getting above error when trying to communicate between two microservice via spring webclient -- zuul gateway -- webflux.

Surprising thing is this error comes when I am routing the request via zuul. If there is two independent service communicating directly without any gateway I am not getting above error.

reactor-netty version 0.8.5 I am using.

Can I get some help please. I have gone throu

[2020-10-13 13:19] violetagg commented on #1334
@deepakThedeveloper

This version is too old and we may have fixed that already.

Try to upgrade

[2020-10-13 14:27] deepakThedeveloper commented on #1334
I have upgraded it to 0.9.12.RELEASE.
earlier error is gone but getting new error.

ClassNotFoundException: reactor.util.retry.Retry

I also checked in 0.9.12 jar and there I am also not able to see Retry class

[2020-10-13 16:11] anilgursel commented on #1327
I think the propagation of context is broken in two places:

1. In `SimpleDequePool`, `primary.subscribe(alreadyPropagated -> { }, alreadyPropagatedOrLogged -> { });`
2. Context not being passed to `PendingConnectionObserver`.

Sending a PR to tackle the second one for your review.

[2020-10-13 17:45] violetagg commented on #1327
@crankydillo @anilgursel Do you want to have the PR and continue using `Hooks.onLastOperator` or should we wait for Reactor Pool to start propagating the Context?

/cc @simonbasle

[2020-10-13 19:06] anilgursel commented on #1327
We already use `Hooks.onLastOperator` for tracing in general.  So, if the PR can be merged, it should help with our immediate issue.  We can re-visit later when Reactor Pool starts propagating the Context. (I need to see why the PR build failed though).

[2020-10-14 08:07] violetagg commented on #1322
@jtorkkel I'm closing this. We can reopen it if there is an issue with Reactor Netty metrics.

[2020-10-14 08:07] #1322 closed

[2020-10-14 08:09] violetagg commented on #1321
@jtorkkel I'm closing this. We can reopen it if there is an issue with Reactor Netty metrics.

[2020-10-14 08:09] #1321 closed

[2020-10-14 08:10] violetagg commented on #1320
@jtorkkel I'm closing this as there is not author response.

[2020-10-14 08:10] #1320 closed

[2020-10-14 16:09] #1333 closed

[2020-10-14 16:18] violetagg commented on #1333
@kaladhar-mummadi There are two fixes:
- Spring Framework 5.2.10.BUILD-SNAPSHOT https://github.com/spring-projects/spring-framework/issues/25908
- Reactor Netty 0.9.13.BUILD-SNAPSHOT #1337

If you can test it, it will be great

[2020-10-14 17:40] violetagg commented on #1327
@crankydillo @anilgursel #1335 is available in the current `1.0.0-SNAPSHOT`

[2020-10-14 17:54] anilgursel commented on #1327
Thank you @violetagg !

[2020-10-16 15:22] violetagg commented on #1327
https://github.com/reactor/reactor-pool/issues/103
has been fixed

[2020-10-16 15:22] #1327 closed

[2020-10-18 14:27] violetagg commented on #1331
@ukayani

4. LB responds with an HTTP 201 with a body (json)

Why the LB responds with PSH?

[2020-10-18 16:26] ukayani commented on #1331
Yeah i find that strange as well that it doesn't react to the FIN. The LB in question is an AWS ALB, so unfortunately its a black box. I can try reaching out to AWS support to find out why it behaves this way.

It's worth noting that the majority of the premature close events occur with the `Close with FIN` case rather than the `Close with RST` case (from above).

[2020-10-19 06:45] violetagg commented on #1331
@ukayani

Can you provide also more detailed log related to `Close with FIN`?

In addition to Reactor Netty logs enable those for Spring Gateway.

This log is interesting because it will tell you the inbound and outbound connections
https://github.com/spring-cloud/spring-cloud-gateway/blob/4b6644f936dd94020a1ec8e749b765aa1de1f30e/spring-cloud-gateway-server/src/main/java/org/springframework/cloud/

[2020-10-19 10:11] JamesChenX opened #1343 "Provide a callback-like parameter to indicate the data has been flushed for "send" method in NettyOutbound"
## Motivation

We need to send our custom "close" frame over TCP connection and then close the TCP connection once we make sure that the close frame is flushed.
In netty, we can use io.netty.channel.ChannelOutboundInvoker#writeAndFlush(java.lang.Object)
[code]
but in reactor netty, there is no callback or mono that we can use for that.

## Desired solution

Provide a mono or a callback that indica

[2020-10-19 11:56] violetagg commented on #1343
@JamesChenX `NettyOutbound#send...` is exactly what you need

let's take `sendObject` (this is relevant for all `send` methods)
https://projectreactor.io/docs/netty/release/api/reactor/netty/NettyOutbound.html#sendObject-java.lang.Object-

[code]

[2020-10-19 12:13] JamesChenX commented on #1343
@violetagg Thank you for confirmation. I was not sure whether `send` is equivalent to `writeAndFlush` because it isn't easy to figure it out from source code.

[2020-10-19 12:13] #1343 closed

[2020-10-19 16:07] ukayani commented on #1331
I will try to get these logs soon.

Yes, that is interesting. I did briefly look at the routing filter to see if there is some case where it would decide to terminate abruptly but i didn't see anything obvious.

I'm not setting any explicit timeout handlers on the client that SCG is using to do the proxy calls. As for the SCG gateway server, i'm also not setting anything explicitly for that.

I th

[2020-10-20 05:51] violetagg commented on #1318
@sandeepbyathagururajarao I'm closing this. If there are issues with the proposed solution, we can reopen it.

[2020-10-20 05:51] #1318 closed

[2020-10-20 05:52] violetagg commented on #1334
@deepakThedeveloper Were you able to upgrade and test the latest releases?

[2020-10-20 06:16] deepakThedeveloper commented on #1334
@violetagg thanks for your guidance. Yes I was able to upgrade it and things are working now. Besides reactor upgrade there was another oauth issue in my application so was not able to communicate to remote service.  Will close the thread now. Sorry for the delay in informing

[2020-10-20 06:16] #1334 closed

[2020-10-20 16:14] gonwan opened #1345 "Enable KeepAlive in TcpServer by Default"
See: https://github.com/spring-cloud/spring-cloud-gateway/issues/1985

Suggesting to enable KeepAlive in TcpServer by default, to fix endless increasing TCP connections.

[2020-10-20 16:14] ukayani commented on #1331
Hi @violetagg, sorry for the delay.

I've capture some more detail regarding the inbound connection. Below are the logs from the premature close event which includes the trace for the NettyRoutingFilter.
 From what I see, the inbound connection does not close, it continues to be used even after this event.
 In the below logs:
 - the inbound connection from ALB1 is `0x36a1b83b` (zzz port 4378)
 - t

[2020-10-21 13:07] violetagg commented on #1331
@ukayani Do you have some custom filters? We need to understand what causes connection close.

[2020-10-21 20:36] davide1995 opened #1348 "Getting a "org.springframework.data.mapping.MappingException: Couldn't read column id from Row" exception, caused by "io.netty.util.IllegalReferenceCountException: refCnt: 0" or by "java.lang.IndexOutOfBoundsException: readerIndex(93) + length(1) exceeds writerIndex(93): PooledSlicedByteBuf(ridx: 93, widx: 93, cap: 93/93, unwrapped: PooledUnsafeDirectByteBuf(freed))" when reading a table with more than 32 rows"
Hello, everyone.
I am experiencing an error when I try to read a table in a MySQL database containing more than 32 rows. Up to 32 everything works correctly. Error as in the title.

**Expected Behavior**
More than 32 rows should be handled correctly

**Actual Behavior**
I happened to observe these two exceptions (sometimes the first, sometimes the latter):

[code]

[code]

**Steps to Reproduce**
I

[2020-10-22 06:31] violetagg commented on #1348
@davide1995 This is not related to Reactor Netty but more to R2DBC/MariaDB driver. Report this issue to the corresponding project.

[2020-10-22 06:31] #1348 closed

[2020-10-22 13:53] ukayani commented on #1331
@violetagg I do have some custom filters in the chain. There is one in particular that modifies the response body returned from ALB2.

The flow goes as follows:
1. NettyRoutingFilter calls service X
2. Response returned is parsed into a JSON AST
3. Make some additional calls via a webclient to get data
4. Zip this data into the original response from service X
5. Response is written back to client

[2020-10-22 15:15] MarcelCoding opened #1349 ""Infinity" Memory Usage"
If I serve e.g. 10MB a `.webp` file via the reactor-netty http server,
the used memory is not cleaned up again.
The problem only exists if compression is enabled.

Http Server started, with any request:
![grafik](https://user-images.githubusercontent.com/34819524/96891533-0ca2c100-1489-11eb-9d3c-9316cfc9bd74.png)

While processing the request:
![grafik](https://user-images.githubusercontent.com/34

[2020-10-22 22:01] davide1995 commented on #1348
Thanks for that. For those who come here with the same problem this is the link to follow:
https://github.com/mariadb-corporation/mariadb-connector-r2dbc/issues/7

[2020-10-23 11:41] evgenyvsmirnov opened #1350 "Reactor hangs once in a while under stress"
Greetings!
I've implemented a simple spring-based webflux application with a controller which returns an OK-response with the same 10-byte plain-text body whatever GET request it receives and put it under stress using a multithreaded client (JMeter-based). After a period of correct functioning the server could sporadically fail to return a response making the client's thread to wait forever (until

[2020-10-23 12:02] violetagg commented on #1350
@evgenyvsmirnov Can you provide the reproducible example?

[2020-10-23 12:33] violetagg commented on #1349
@MarcelCoding By default Netty uses memory pooling. Is it possible that you actually see this? Do you have OOM or Out of Direct memory?

If you minimise the heap (-Xmx) and the direct memory (-Dio.netty.maxDirectMemory) do you see OOM or Out of Direct memory?

[2020-10-23 17:34] MarcelCoding commented on #1349
@violetagg
I tested it again and found that it stops at about 700 MB by default.
But with the options `-Xmx100M` and `-Dio.netty.maxDirectMemory100M` the limit is about 120MB.
I think the remaining 20MB come from Gradle.

Thank you for the enlightening answer.
But I still have one question:
Does Netty clean the memory only when spaces is needed?

[2020-10-23 18:47] MarcelCoding opened #1351 "Multipart Form Data support"
Added support for multipart form data on the server side.

## Motivation
I am currently developing an application that needs to process the upload of files via http.

## Desired solution
Implement a getter for the `io.netty.handler.codec.http.HttpResponse` to use the `io.netty.handler.codec.http.multipart.HttpPostRequestDecoder`. While currently I am using a Delegate for the `io.netty.handler.code

[2020-10-24 06:16] evgenyvsmirnov commented on #1350
Yes. Please checkout below a test controller which simulates behavior of a real application alongside a make-shift
payload generator. The latter is way more convenient for debug and development than a JMeter script.

A test controller:
[code]
A payload generator:
[code]

[2020-10-25 10:37] nkonev commented on #1350
Is it correct to use ServerWebExchange in potentially other thread provided by Scheduler ?

[2020-10-25 12:26] userquin opened #1352 "Add HTTP2 server push capabilities"
A simple usage will be to serve modulepreload or preload links for browser clients. I currently working on using `vite`, an ES6 native module builder to avoid bundlers such as webpack.

In this situation, we need to push resources on request before the own content will be delivered to the client, and so, the response time also reduces.

I have 2 samples to be shown, using apache http server and sp

[2020-10-25 12:26] userquin commented on #1352
@bclozel

[2020-10-25 18:16] #1352 closed

[2020-10-29 15:38] violetagg commented on #1349
@MarcelCoding These links are interesting (by default Reactor Netty uses `PooledByteBufAllocator`)
https://netty.io/wiki/using-as-a-generic-library.html#performance
https://netty.io/wiki/reference-counted-objects.html
https://livebook.manning.com/book/netty-in-action/chapter-5/147

[2020-10-29 15:38] #1349 closed

[2020-10-29 15:56] hcl78184889 opened #1358 "The number of TCP connections still increase after update spring boot version unless restart spring gateway."
spring boot 2.3.3
spring cloud Hoxton.SR7

![tcp connections](https://user-images.githubusercontent.com/6574953/97598875-60da1200-1a42-11eb-821f-6efd7447c236.png)

Source code:

[gateway.zip](https://github.com/reactor/reactor-netty/files/5459663/gateway.zip)

It looks like be the react netty issue，also can refer to  below issue for detail:
https://github.com/spring-projects/spring-boot/issues/239

[2020-10-29 16:13] violetagg commented on #1358
@hcl78184889 I see the `gateway` project but how this can be reproduced?

[2020-10-29 16:19] hcl78184889 commented on #1358
When many people visit, greater than 10000 connections every day. On our prod env, this issue occur.

[2020-10-29 16:21] hcl78184889 commented on #1358
What other information do you need. Let me try to provide

[2020-10-29 16:29] violetagg commented on #1358
By default Reactor Netty runs with a connection pool per remote address with a limit with max connections 500 and I do not see any http client configuration.

In one of the other issues that you opened you mention the code below (https://github.com/spring-projects/spring-boot/issues/22245#issue-652170800). Is this still relevant?

[code]

[2020-10-29 16:34] MarcelCoding commented on #1349
Thanks!

[2020-10-29 16:48] hcl78184889 commented on #1358
We use JS(vue) link the gateway server on prod. Before only a test code

[2020-10-29 16:57] hcl78184889 commented on #1358
self.$http.post('/sms/verifyIdyCode', params).then(function (res) {
            if("0000" === res.data.code){
              self.loginApply(params);
            }else{
              self.topTips= 'top:555px';
              self.errorTips = '验证码错误';
            }
          }).catch(function (err) {
            self.topTips= 'top:555px';
            self.errorTips = err && err.data && err.data.desc

[2020-10-29 17:16] violetagg commented on #1358
Should not be an issue and we have tests that test for connection leaks.
Most probably your use case is different or the issue is somewhere else. In order to investigate further we need a reproducible example.

[2020-10-29 18:37] hcl78184889 commented on #1358
If my filters has some issue or yml config?

[2020-10-29 18:45] hcl78184889 commented on #1358
Maybe the issue is the websocket. Could you check websocket.

[2020-10-29 18:46] hcl78184889 commented on #1358
On my prod env, websocket gateway has many tcp connections.

[2020-10-29 18:49] hcl78184889 commented on #1358
Below is the test code:
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>websocket通讯</title>
</head>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script>
    var socket;
    function openSocket() {
        if(typeof(WebSocket) == "undefined") {
            console.log("您的浏览器不支持WebSocket");
        }else{
            console.log("您的浏览器支持WebSocket");

[2020-10-29 23:07] darshan4545 commented on #641
any update on this issue ??

[2020-10-31 11:20] srikanthperesandra opened #1359 "LEAK: ByteBuf.release() was not called before it's garbage-collected. See https://netty.io/wiki/reference-counted-objects.html for more information. Recent access records"
I am using Webclient inside custom filter implemented in Spring Cloud Gateway. I am consuming body even in both success and error scenarios to avoid ByteBuf leak but still I get this error.

### Technology Framework Version
Spring Cloud version: Hoxton.SR5
Spring boot Version: 2.3.4

### The following code is related to Webclient creation.
    @Bean
    public WebClient customWebClient() {

[2020-10-31 11:27] srikanthperesandra commented on #1359
I also tried with and without -XX:+UseG1GC still no success.

[2020-11-01 00:14] chhaviLife360 commented on #641
I am facing the same issue, we are using `spring boot 2.2.0` and below java version-
[code]

reactor.core.Exceptions$ReactiveException: io.netty.channel.unix.Errors$NativeIoException: readAddress(..) failed: Connection reset by peer
	at reactor.core.Exceptions.propagate(Exceptions.java:336) ~[reactor-core-3.3.0.RELEASE.jar!/:3.3.0.RELEASE]
	at reactor.core.publisher.BlockingSingleSubscriber.blocki

[2020-11-02 09:55] violetagg commented on #1359
@srikanthperesandra from the stack it seems this happens during tests?

[code]

[2020-11-02 10:47] violetagg commented on #1359
@srikanthperesandra Here is a PR against Spring Gateway for the memory leak above
https://github.com/spring-cloud/spring-cloud-gateway/pull/2019

[2020-11-02 12:03] srikanthperesandra commented on #1359
Thanks @violetagg as I understand this is spring cloud gateway issue and I see this in new Hoxton release. Thanks for creating PR.

Regarding your question,  _it seems this happens during tests_?
When we deployed our gateway in to EC2 and we run End to End loadtest with 5000 requests per minute,  it runs for 30 mins and then spring boot restarts. The leaks are reported even with leak detection lev

[2020-11-02 12:07] violetagg commented on #1359
@srikanthperesandra Will you be able to verify that the PR fixes your issue?

[2020-11-02 12:18] srikanthperesandra commented on #1359
The latest release was Hoxton.SR8 https://mvnrepository.com/artifact/org.springframework.cloud/spring-cloud-dependencies and I have same issue. I will wait for Hoxton.SR9 which will have your latest fix I guess and will updated you accordingly.

[2020-11-02 12:40] gonwan commented on #1358
@hcl78184889 Will you try the workaround here? https://github.com/spring-cloud/spring-cloud-gateway/issues/1985

[2020-11-02 16:49] SlandShow commented on #1304
@violetagg can you pls verify reactor-netty **0.7.10.RELEASE** version? Looks like we faced the same issue...

[2020-11-02 16:57] violetagg commented on #1304
@SlandShow 0.7.10.RELEASE is not the latest released version from 0.7.x branch, so there is a chance this is fixed.
Version 0.7.x is not supported anymore.

[2020-11-02 19:34] violetagg commented on #1358
@hcl78184889 Please specify which TCP connections are increasing - TCP1 or TCP2?

client --TCP1--> Spring Gateway --TCP2--> target service

[2020-11-03 01:30] hcl78184889 commented on #1358
TCP1

[2020-11-03 02:32] kaladhar-mummadi commented on #1333
Sorry for the delay. Took the latest release and its working as expected.
Thanks

[2020-11-03 04:36] anilgursel opened #1360 "Add hooks for address resolver to propagate trace context"
We would like to be able to trace address resolution while establishing a connection.  Accordingly, proposing to add new hooks to be called around `resolve`.

PR will be submitted shortly.

[2020-11-03 05:25] hcl78184889 commented on #1358
@gonwan ，thanks，这个问题困扰太久了

[2020-11-03 07:50] violetagg commented on #1358
@hcl78184889 Then apply the configuration from https://github.com/spring-cloud/spring-cloud-gateway/issues/1985 and tell us the result

[2020-11-03 07:55] hcl78184889 commented on #1358
@violetagg ，OK, thanks. Let me try.

[2020-11-03 08:47] violetagg commented on #641
@chhaviLife360 Your exception is `Connection reset by peer` and the issue is for `Operation timed out`.
Please update to the latest Spring 2.2.x  as 2.2.0 is more than a year old.

[2020-11-03 09:59] evgenyvsmirnov commented on #1350
@violetagg, good day. Were you able to reproduce the issue? Does the test looks legit in your eyes?

[2020-11-03 10:02] SlandShow commented on #1304
@violetagg but anyway, we are faced with the next issue:
```ERROR [lettuce-epollEventLoop-6-2] io.netty.util.ResourceLeakDetector - LEAK: ByteBuf.release() was not called before it's garbage-collected```

So, our set-up:
1. lettuce `5.1.6.RELEASE` version
2. Spring boot `2.0.6.RELEASE`
3. Netty `4.1.29.Final`
4. Project reactor `io.projectreactor.ipc:reactor-netty:jar:0.7.10.RELEASE`

Mb you know

[2020-11-03 11:12] violetagg commented on #1345
@gonwan In which version do you need this feature? 0.9.x or 1.0.0

[2020-11-03 13:38] rstoyanchev commented on #1350
@evgenyvsmirnov can you clarify why you are implementing a custom Publisher rather than relying on Reactor operators? The issue here could easily be related to your own code.

[2020-11-03 15:11] evgenyvsmirnov commented on #1350
@rstoyanchev I need it as a part of an adapter to a custom http api. This api is a part of a legacy code which can't be revamped because it is beyond my control.
Is the example above legitimate? I'm able to reproduce the issue with TestController and the JMeter test (didn't provide it for the sake of simplicity). If TestController (but it is really basic) has a flaw your expertise would be valued.

[2020-11-04 00:34] hcl78184889 commented on #1358
![image](https://user-images.githubusercontent.com/6574953/98055339-3b04a100-1e78-11eb-8cf7-bf83ccca2971.png)
@violetagg @gonwan , now, I think the issue is solved. Very thanks.

[2020-11-04 01:08] ctlove0523 commented on #67
v1.0.0 version already released,from release notes i can't find any new features and improvements about reactor-netty support multiple connectors, the new version support this feature？

[2020-11-04 06:40] violetagg commented on #67
@ctlove0523 No this feature wasn't able to be part of the 1.0.0 GA and was left for post 1.0.0 GA
We will try to schedule this for some of the next SPs.

[2020-11-04 06:52] violetagg commented on #1358
@hcl78184889 Thanks. I'm closing this issue as duplicate to #1345. I'll try to schedule #1345 for next 0.9.x release.

[2020-11-04 06:52] #1358 closed

[2020-11-04 06:54] hcl78184889 commented on #1358
@violetagg , OK

[2020-11-04 09:00] chowtin opened #1363 "reactor netty 0.9.10.RELEASE http-server hangs"
reactor-netty http-server stop sending response to client.

Http-server is based on spring-cloud-gateway 2.2.4.RELEASE.
request is forward to one controller in-process.

Client side, implemented in C++.
Send thousands of message to http-server via a single TCP Connection

## Expected Behavior

http-server should write all response to the wire instead of keeping response in memory.

## Actual Behav

[2020-11-04 09:09] violetagg commented on #1363
@chowtin Please provide a reproducible example.

[2020-11-04 15:06] darshan4545 commented on #641
@violetagg using latest version and still getting this error

[2020-11-04 15:26] violetagg commented on #641
@darklynx Any chance for a reproducible example?

[2020-11-04 17:01] gonwan commented on #1345
@violetagg Maybe add a complete fix in 1.0.x branch?
The default value of Tcp KeepAlive is 7200 seconds under Linux. That's a bit too long. Enabling KeepAlive might be considered as a quick fix, since no code change required for users.
Better to expose API to customize read/write timeout values in TcpServer, and let spring-cloud-gateway make it configurable and provide reasonable timeout default v

[2020-11-04 17:28] violetagg commented on #1345
@gonwan Yes it will be TCP server API for keepAliveTimeout, by default it will not be enabled by Reactor Netty but Spring Gateway can add something by default and also will be able to expose a configuration for that

[2020-11-05 11:13] violetagg commented on #476
Fixed with #1357

[2020-11-05 11:13] #476 closed

[2020-11-05 11:14] violetagg commented on #436
Fixed with #1357

[2020-11-05 11:14] #436 closed

[2020-11-05 12:54] #1360 closed

[2020-11-05 14:44] jtorkkel opened #1366 "HTTP server connection Pool metrics"
HTTP server Connection Pool metrics missing.

SpringBoot 1 / Jetty (and Tomcat) provides HTTP server connection pool metrics
 - jetty_threads_busy
- jetty_threads_config_max
- jetty_threads_config_min
- jetty_threads_current
- jetty_threads_idle
- jetty_threads_jobs

In Springboot 2 WebFlux provides Pooled ConnectionProvider metrics
https://projectreactor.io/docs/netty/release/reference/index.html

[2020-11-05 15:21] violetagg commented on #1366
@jtorkkel

These are not connections but threads?
Reactor Netty uses event loop, it works with a very few threads (typically equal to the number of cores).

HTTP server does not use connection pool. Can you clarify a bit?

[2020-11-05 20:24] nnl-1 opened #1368 "EPOLL + blocking HTTP - timeouts, closed connection, huge amount of time to process"
I have a chain of REST API calls using reactive webclient.
Both non-blocking and blocking calls (in separate thread) work fine w/o epoll (my local machine - nio).
Non-blocking call works fine with epoll (google cloud run) but blocking call either hangs with 'connection closed' or just executes minutes (instead of seconds for non-blocking call).

After moving to separate elastic scheduler + custom

[2020-11-06 07:27] violetagg commented on #1368
@nnl-1 You are updating only Reactor Netty version, however Reactor Netty requires a concrete Netty version and when it is related to the natives (epoll) it is even more important to run Reactor Netty with the corresponding Netty version.

Either use a new Spring Boot version where Reactor Netty and Netty are compatible or update also Netty version.

[2020-11-06 08:28] nnl-1 commented on #1368
@violetagg thanks for reply, where I can find compatibility info? What version of spring-boot & reactor-netty I should use in this case?

[2020-11-06 08:48] violetagg commented on #1368
@nnl-1
Spring Boot dependencies:
- 2.2.2.RELEASE
https://github.com/spring-projects/spring-boot/blob/3ce438d6a3122539b86a70261bd572ef771d6c03/spring-boot-project/spring-boot-dependencies/pom.xml#L174
https://github.com/spring-projects/spring-boot/blob/3ce438d6a3122539b86a70261bd572ef771d6c03/spring-boot-project/spring-boot-dependencies/pom.xml#L163
- 2.2.11.RELEASE
https://github.com/spring-projec

[2020-11-06 09:38] nnl-1 commented on #1368
@violetagg Ok, I've updated spring-boot to 2.2.11 - no help - the same error.

[2020-11-06 10:04] violetagg commented on #1368
@nnl-1

I did some modifications to the example in order to be able to run it

[code]

And added logging here:

[code]

I tried the following request `curl http://localhost:8080/exec?url=http://example.com` and I'm able to see the following in the logs:

[code]

I'm testing a VM with Ubuntu 18.04

How to reproduce the issue?

[2020-11-06 10:25] violetagg commented on #1350
@evgenyvsmirnov Do you see the issue often with the example above? I'm trying to reproduce it on a VM with Ubuntu 18.04 but I'm not able to see any hanging.

[2020-11-06 10:32] violetagg commented on #1331
@ukayani Excuse me for the delay here.

So you use `Mono.zip`
Which API do you use exactly?
https://projectreactor.io/docs/core/release/api/reactor/core/publisher/Mono.html#zip-reactor.core.publisher.Mono-reactor.core.publisher.Mono-

Typically if some of the Publishers return `error` or `empty`
[code]

Cancel in terms of WebClient call means closing the connection because we do not now in what ki

[2020-11-06 10:44] evgenyvsmirnov commented on #1350
@violetagg no just once in a while. Is the TestController legit in your eyes? Could I have missed something in the reactive streams specification.

[2020-11-06 11:08] violetagg commented on #1350
@evgenyvsmirnov Well the interesting part is how do you handle the cancellations and I do not see any code related to that.

[2020-11-06 11:12] evgenyvsmirnov commented on #1350
It is really extraneous to the issue. It is just a simulation not a production code. Neither the test nor the server never close connections.

[2020-11-06 11:14] violetagg commented on #1350
well in the results that you shared you have the following `cancelReceiver invoked: 3195454`

[code]

[2020-11-06 11:14] evgenyvsmirnov commented on #1350
If the test had closed the connection I would have seen an error but I haven't.

[2020-11-06 11:20] violetagg commented on #1350
this means there is no subscription and thus `countDown` will never be invoked

Let's do the following
If you are able to reproduce it at least once, print the stack trace  for this method `reactor.netty.channel.FluxReceive#cancelReceiver` so that we can see from where the `cancel` signal comes.

[2020-11-06 11:22] evgenyvsmirnov commented on #1350
Agreed!

[2020-11-06 11:56] #350 closed

[2020-11-06 12:20] evgenyvsmirnov commented on #1350
@violetagg The test didn’t hang, but I see ton of them (exactly as the aforementioned log suggests). Look! Is it an intended behavior that cancelReceiver is invoked after a successful write owing to channelInactive? Could it be the cause?
Looks like a race condition between complete/cancel somewhere.

[code]

[2020-11-06 13:10] violetagg commented on #1350
That's very interesting - `channelInactive` is invoked when the channel is closed. In you case (I don't know why the rows are different) `inbound.cancel` is invoked because the `receiver` is `null`
https://github.com/reactor/reactor-netty/blob/f9977793f01e0a54ed57fee460a4ea6d8d765663/src/main/java/reactor/netty/channel/ChannelOperations.java#L388
If there are no error most probably the `receiver`

[2020-11-06 13:15] evgenyvsmirnov commented on #1350
probably because of my counters.

An interesting observation: if «scheduler.schedule(() -> … « inside TestController#test is removed (at the very beginning of) the problem seems to vanish. Could it be the clue to the cause?

[2020-11-06 13:16] violetagg commented on #1350
yes with the scheduler you delay the subscription for the incoming data

[2020-11-06 13:21] violetagg commented on #1350
Here

[code]

try to add `doOnCancel`

[2020-11-06 13:23] evgenyvsmirnov commented on #1350
Ok. I will. But it doesn't add up to me: there were no cancellation because all requests were served.

[2020-11-06 13:25] evgenyvsmirnov commented on #1350
terminateReceiver is called from drainReceiver you mean to say it is invoked from within netty event loop?

[2020-11-06 13:29] violetagg commented on #1350
`drainReceiver` is always in an event loop

[2020-11-06 14:05] evgenyvsmirnov commented on #1350
@violetagg, the test hang.

Let us recap.
FluxReceive#cancelReceiver() looks like this:
[code]

A TestController snippet:
[code]

Sampler1000 output:
[code]

FluxReceive counters:
[code]

[2020-11-06 16:26] nnl-1 commented on #1368
@violetagg Ubuntu 16.04.1 - works as expected.
But in gcr it doesn't work on:
Linux cs-903866143123-default-boost-b6d44 5.4.49+ #1 SMP Sun Oct 18 19:43:35 PDT 2020 x86_64 GNU/Linux

What could I do to trace the reason?

[2020-11-06 18:14] ukayani commented on #1331
No problem.

I'm actually not using the zip operator, sorry for the confusion.
In step 4, what i mean is that i'm doing a logical zip in my code.

For example:
I have a response with a list of user ids, i fetch data for all user ids (in a single batch call) and manually "zip" the additional data to each user. I also do a `.onErrorResume` operation to swallow any error signals and return the origin

[2020-11-07 14:26] violetagg opened #1370 "Performance regression in Spring Cloud Gateway"
Related to https://github.com/spring-cloud/spring-cloud-gateway/issues/1956

[2020-11-07 14:51] johndudo commented on #1370
when are you going to release 0.9.14.RELEASE, before  0.9.14.RELEASE come out,  use 0.9.7 instead?  Is 0.9.7 stable?

[2020-11-07 15:07] violetagg commented on #1370
The issue is a regression caused by #1185 that is released with 0.9.10.RELEASE

@johndudo For the moment 0.9.14.RELEASE is scheduled for 07.12
The regression is introduced in 0.9.10.RELEASE so you can either use 0.9.7.RELEASE or 0.9.9.RELEASE

[2020-11-07 15:13] violetagg commented on #1350
@evgenyvsmirnov Do you think you can verify this PR reactor/reactor-netty#1371 ?
I think that this is the issue for hanging that you observe - a race between `cancel` and `subscribe`.

[2020-11-07 15:17] JamesChenX opened #1372 "FluxReceive should check the reference count of the bytebuf and only tries to release it quietly if it isn't 0"
## Expected Behavior
1. FluxReceive should check the reference count of the bytebuf and only tries to release it if it isn't 0.
2. Then, releases the bytebuf **quietly** even if Netty throws IllegalReferenceCountException (refCnt: 0, decrement: 1) because it's meaningless to log the exception infinitely while we have infinite inbound WebSocket message to handle.
Of course, allowing developers to s

[2020-11-07 15:21] evgenyvsmirnov commented on #1350
@violetagg I believe its just the thing! It accounts for why the issue vanishes when the scheduler is not used in TestController#test. Let me incorporate the fix into my project and test. Will inform you shortly. Thanks!

[2020-11-07 15:57] violetagg commented on #1372
@JamesChenX So even when you use `retain` you see the issue. Is that correct?
Or you see the issue only if you not `retain` ?

[2020-11-07 16:12] JamesChenX commented on #1372
@violetagg I can see the IllegalReferenceCountException for both cases randomly. And **the reason for that is FluxReceive tries to release the bytebuf while I do the same work too** (because I need to make sure the bytebuf is released after we have retained it). And if we don't release it manually, we won't get the exception but we have to do this for the reason mentioned above.

For details:
1. I

[2020-11-07 17:02] evgenyvsmirnov commented on #1350
@violetagg not 100 percent sure. Need to give it an acid test on the aforementioned 1 processor/12 core server. Will do it on Monday.

[2020-11-07 18:24] violetagg commented on #1372
@JamesChenX I think that there is some misunderstanding about `retain`/`release`. `retain` increases the counter, `release` decreases the counter.

The `release` invoked in Reactor Netty releases the first counter as Reactor Netty is the last component in the Netty chain
https://netty.io/wiki/reference-counted-objects.html

If a component invoked in `onNext` DO NOT consume the buffer directly, but

[2020-11-08 08:43] kosmosimonyi opened #1373 "reactor.netty.tcp.TcpClient add secure after connecioin sucess,like MySQL protocol ssl after connection succes."
## Motivation

## Desired solution

## Considered alternatives

## Additional context

[2020-11-08 08:50] kosmosimonyi commented on #1373
I hope add secure after connecion success,I can specified a SslProvider because I devolope a MySQL reactive driver.  MySQL
 protocol demand add ssl after client receiver MySQL handshake packet .

[2020-11-08 09:52] #1373 closed

[2020-11-08 10:06] violetagg commented on #1363
@chowtin I found a regression in 0.9.10.RELEASE that can cause hanging.
Will you be able to check this PR #1371?

[2020-11-08 11:06] JamesChenX commented on #1372
@violetagg Thanks for your detailed reply and I have understood why reactor-netty behaviors in that way and continue with our project. Thanks.

[2020-11-08 15:26] JamesChenX commented on #1372
@violetagg I am sorry to reopen the ticket again because after I dive into the bug the whole day, I confirm that **the bytebuf is released by FluxReceive unexpectedly if the downstream code executes in another thread even we still use the Flux/Mono model**.

The following image shows how the bug occurs.
![image](https://user-images.githubusercontent.com/44962329/98469047-5ecd3b80-2218-11eb-9f16-e3

[2020-11-08 15:39] violetagg commented on #1372
@JamesChenX
Check the very simple example below where `release` is not needed because of the network operation:

[code]

This is a very simple `echo` example.
In this example you can see that only `retain` is invoked but not `release`, if you read again the wiki that I mentioned, when you delegate the work to Netty to send the data to the network you do not need to `release`, you delegate this wor

[2020-11-08 16:08] JamesChenX commented on #1372
I know when the bytebuf should be released (it should be released after the bytebuf has been flushed to another server. In other words, it must be released in `doOnTerminate` just below step 3 in the image below)
but we also delegate the release job to RSocket.
But the problem is if we try to delegate the bytebuf to RSocket, it will throw because the bytebuf has been released by FluxReceive as I h

[2020-11-08 17:06] violetagg commented on #1372
@JamesChenX From your explanation your case is exactly similar to the `echo` example above. You have to `retain` and then leave the release to RSocket.

[2020-11-08 22:55] JamesChenX commented on #1372
@violetagg Thanks for your support. With your suggestion, I have fixed the bug finally by the following code: **We retain once and release it once rather than releasing it to 0**. And no exception will be thrown currently.
![image](https://user-images.githubusercontent.com/44962329/98486222-02d5d780-2257-11eb-8958-7abd982efa11.png)

I think this issue and the code can help other developers if they

[2020-11-08 22:55] #1372 closed

[2020-11-09 06:48] violetagg commented on #1316
This issue might be related to a regression in 0.9.10.RELEASE.
Fixed with #1371

[2020-11-09 11:10] evgenyvsmirnov commented on #1350
@violetagg seems it helped. Thanks a lot!

[2020-11-09 12:34] hragarwalee commented on #612
@violetagg I'm facing an issue to set idle timeout & lifo strategy for an spring boot application through application.yaml, can you please help here?

[2020-11-09 12:51] violetagg commented on #612
@hragarwalee Programatically you should do it like this
https://speakerdeck.com/violetagg/how-to-avoid-common-mistakes-when-using-reactor-netty?slide=92

For anything else specific to Spring Boot: use the corresponding support channels for Spring Boot.

[2020-11-09 13:39] kimec commented on #612
Hi @violetagg , regarding the slide 92 you linked: does one still have to pass the custom provider to the `HttpClient`? To me it seems like the reference to `provider` should be passed to `HttpClient.create(ConnectionProvider connectionProvider)` and that is not happening on the slide. Is it a typo? I haven't seen the presentation, so it is hard to guess the context just from the slide (whether it

[2020-11-09 13:55] violetagg commented on #612
@kimec Yep it is a typo, you have to pass that to `HttpClient.create`

[2020-11-09 15:06] ctlove0523 commented on #1267
Thank you

[2020-11-09 16:30] nnl-1 commented on #1368
@violetagg
any thoughts on how to catch the reason?

[2020-11-09 23:38] dazito opened #1374 "IllegalReferenceCountException: refCnt: 0, decrement: 1 on large payloads"
I am using a Socks5 proxy but this issue also occurs with a direct connection (no proxy).
This issue seems to be related with https://github.com/netty/netty/issues/9882 for in this case it happens all the time for the same URL.
I upgraded spring boot webflux version from `2.3.3.RELEASE` to `2.3.5.RELEASE` but I am still getting this issue.

## Expected Behavior

Every time I make a GET request to

[2020-11-10 03:30] ctlove0523 opened #1375 "open new issue about:reactor.netty.http.client.PrematureCloseException: Connection prematurely closed BEFORE response"
## Expected Behavior

I use Spring Coud Gateway as my API gateway, i call proxy service's api through Spring Cloud Gateway when proxy service return response i expected i can get right response.
## Actual Behavior
when load is small it works well,but when load become bigger and bigger(200 workers),i get an exception:
[code]

## Steps to Reproduce

1、create a proxy service and the service just only

[2020-11-10 07:22] violetagg commented on #1374
@dazito The `release` here is correct
https://github.com/reactor/reactor-netty/blob/5711e2782535a813bbfd22cc5af2def5d7cb9bbc/reactor-netty-core/src/main/java/reactor/netty/channel/FluxReceive.java#L340

Having an exception at that point mean that Spring Framework does not use correctly `retain`/`release`.

@rstoyanchev Can you please help here?

[2020-11-10 07:24] violetagg commented on #1366
@jtorkkel In order to address this enhancement we need an answers to the questions above.

[2020-11-10 07:29] violetagg commented on #1375
@ctlove0523 So when you apply the configuration for leasing strategy and idle timeout, do you see the issue?

[2020-11-10 10:56] rstoyanchev commented on #1374
Generally we retain immediately in `getBody()` of `ReactorClientHttpResponse`. For this scenario the buffers are collected into a List via `DataBufferUtils#join` so there is on `release` anywhere, unless the accumulated buffers exceed the [maxInMemorySize](Cambridge CB4 3NZ) which 256K by default, which would raise an error and cause all of them to be released via `doOnDiscard`. Perhaps then the d

[2020-11-10 11:42] dazito commented on #1374
@rstoyanchev no, I am not customizing the maxInMemorySize. It does make sense that the default ones may not be enough.

You mean something like:

[code]
And then pass it to the WebClient like:
[code]
Right?

[2020-11-10 11:54] rstoyanchev commented on #1374
Yes that should do it.

[2020-11-10 12:08] dazito commented on #1374
Thanks @rstoyanchev
I will try it out and report back later today.

Is it possible to make the exception message more clear on what is the underlying issue? That would be very nice to have as from the exception message it looked like a netty internal issue.

[2020-11-10 12:17] ctlove0523 commented on #1375
@violetagg
In my test, when i configure for leasing strategy and idle timeout the error still appears.

[2020-11-10 12:35] violetagg commented on #1375
@ctlove0523 Any chance to provide reproducible example?

[2020-11-10 12:36] violetagg commented on #1368
@nnl-1 If you make the blocking call to make just 1 remote call as the non blocking call, is the result the same?

[2020-11-10 12:53] rstoyanchev commented on #1374
I was able to reproduce the issue by using WebClient with `retrieve().bodyToMono(String.class)` against content that exceeds the configured maxInMemorySize. So making sure you don't hit the limit should make it go away.

That said the IllegalReferenceCountException should not be happening. There is now an issue for that in the Spring Framework https://github.com/spring-projects/spring-framework/is

[2020-11-10 12:54] ctlove0523 commented on #1375
@violetagg ok, I will write a example for reproduce this issue.In addition,i use okhttp to perform request to the same proxy service,it works well。

[2020-11-10 13:15] violetagg commented on #1374
@rstoyanchev I don't think this is the proper log as we do not log exceptions here

[code]

https://github.com/reactor/reactor-netty/blob/594c14641e3dea4be8ef9ba6ec4af812a848e1a1/reactor-netty-core/src/main/java/reactor/netty/resources/DefaultPooledConnectionProvider.java#L223-L229

https://github.com/reactor/reactor-netty/blob/594c14641e3dea4be8ef9ba6ec4af812a848e1a1/reactor-netty-core/src/main/j

[2020-11-10 13:25] nnl-1 commented on #1368
@violetagg same error with just 1 blocking call. No error with non-blocking call.

{
  "textPayload": "reactor.core.Exceptions$ReactiveException: java.util.concurrent.TimeoutException: Did not observe any item or terminal signal within 25000ms in 'Mono.flatMap ⇢ at org.springframework.web.reactive.function.client.DefaultWebClient$DefaultResponseSpec.bodyToMono(DefaultWebClient.java:465)' (and no f

[2020-11-10 14:45] rstoyanchev commented on #1374
Right, in my case I reproduced it with simple client code that calls `.block()` at the end, and that `WebClientResponseException` stacktrace is to System.out but just happens to be interspersed with log messages.

@dazito check your code downstream from the `.map(..)`. You're likely suppressing or ignoring the root cause exception that flows downstream and only seeing the `IllegalReferenceCountExc

[2020-11-10 15:44] violetagg commented on #1374
OK
Closing the issue

[2020-11-10 15:44] #1374 closed

[2020-11-10 17:23] violetagg commented on #1345
@gonwan I'm gonna expose this API - #1376. Can you take a look and see whether this is what you expect from this feature request?

[2020-11-10 20:05] dazito commented on #1374
@rstoyanchev I double checked my code and I am not catching neither ignoring any exception on my downstream. On my logs I see no `WebClientResponseException` showing up.

I also set log level to debug for `io.netty`  and `reactor.netty` as:
[code]
I can also confirm that increasing the default memory size fixed the issue :+1:

[2020-11-10 20:13] nnl-1 commented on #1368
@violetagg probably GCR just takes all the cpu alloc from my container in such cases - https://cloud.google.com/run/docs/tips/general#avoiding_background_activities
we could close it I think.
thanks

[2020-11-10 20:33] rstoyanchev commented on #1374
It's getting dropped somewhere though. If you put a `doOnError` though before the `.map(..)` you'll probably see the error signal passing through. If you showed more of your downstream chain or how you subscribe then maybe we can figure out why the error wasn't showing.

[2020-11-10 20:43] rstoyanchev commented on #1368
A couple of things don't seem right. First `WebClient` is created for every call and that's not ideal. Second the call to `put` can block if the queue is full but a WebFlux server handler should not be blocked. As Reactor Netty is used for both server and client they actually share resources, so exhausting the server resources also impacts the client.

[2020-11-10 21:25] nnl-1 commented on #1368
@rstoyanchev what do you suggest regarding creating webclient?
You're right about put though.
tx

[2020-11-10 21:32] rstoyanchev commented on #1368
Simply create a `WebClient` instance once and re-use it.

[2020-11-11 05:13] violetagg commented on #1368
https://cloud.google.com/run/docs/tips/general#avoiding_background_activities

Yes as described - a background process after response returned

[code]

[2020-11-11 05:13] #1368 closed

[2020-11-11 05:21] launceviya commented on #1375
？？？？

[2020-11-11 06:57] 501658362 commented on #1267
hi, i got same problem, how do i disable that

[2020-11-11 07:00] violetagg commented on #1267
@501658362 I do not recommend disabling the pooling but to find the original cause for the problem, however here you can check how to disable it https://projectreactor.io/docs/netty/release/reference/index.html#_connection_pool

[2020-11-11 09:23] maddenj-ie opened #1379 "HttpClient using H2 protocol results in error when a response has header Content-Encoding:gzip"
Original issue created on Spring Framework:
https://github.com/spring-projects/spring-framework/issues/26056

[2020-11-11 10:51] violetagg commented on #1316
`0.9.14.RELEASE` is available and contains a fix for a problem that might be the cause for this issue.
I'm closing this issue. If it is not fixed we can reopen it.

[2020-11-11 10:51] #1316 closed

[2020-11-11 10:51] violetagg commented on #1363
`0.9.14.RELEASE` is available and contains a fix for a problem that might be the cause for this issue.
I'm closing this issue. If it is not fixed we can reopen it.

[2020-11-11 10:52] violetagg commented on #1350
@evgenyvsmirnov `0.9.14.RELEASE` is available

[2020-11-11 10:52] #1350 closed

[2020-11-11 10:53] violetagg commented on #1370
`0.9.14.RELEASE` is available with the fix from the PR #1371

[2020-11-11 12:11] chowtin commented on #1363
Sure, you can close it now.

After this change, `HttpTrafficHandler::run` can be called, thus `pipeplined` request is processed.
this issue is resolved per the observation.

Also tested with netty based single-tcp-connection http-client, Above issue was disappeared.

===

but single-tcp-connection http-client based on cpp-boost still have issues when requests bursts up to 100k.
I 'm not sure wheth

[2020-11-11 12:22] northernbird commented on #560
Hello, I would like to know the current status of this issue too.

[2020-11-11 12:28] violetagg commented on #1363
@chowtin thanks for testing it!

[2020-11-11 14:01] odravison commented on #68
This feature was implemented?

[2020-11-11 14:09] violetagg commented on #68
@odravison No it is not. Are you interested in providing a PR?

[2020-11-11 14:19] odravison commented on #68
Maybe I do this soon. Just let me get a free time to do so.

Do you know if this feature (query parameters) was implemented on HttpClient module?

[2020-11-11 14:23] odravison commented on #753
@violetagg , That is what I need. Do you know if still need help with this?

[2020-11-11 14:28] violetagg commented on #68
@odravison There is similar feature request for query params on the client https://github.com/reactor/reactor-netty/issues/753

[2020-11-11 14:31] violetagg commented on #753
@odravison we have `uri(URI)` isn't this helpful?

[2020-11-11 14:32] violetagg commented on #68
@odravison Also can you clarify the use case? Is it for routing? If yes can't you use the current API for custom predicates for routing?

[2020-11-11 15:44] maddenj-ie commented on #1379
I've created a basic application which only uses the HttpClient that I think also exhibits the behaviour .

[code]

With compression disabled
[code]

With compression enabled
[code]

[2020-11-11 19:00] #1370 closed

[2020-11-12 02:27] gonwan commented on #1345
@violetagg Yes, LGTM with both branches. Thank you.

[2020-11-12 08:24] #1345 closed

[2020-11-12 10:04] violetagg commented on #1331
@ukayani I will need some reproducible example for further investigation or if you want to try to debug - we need to understand why connection close is invoked.

[2020-11-12 18:47] brunoaduarte commented on #981
The problem still occurs on 0.9.7.RELEASE

[2020-11-12 19:03] FireMasterK opened #1380 "Unicode characters encoded incorrectly on a fetch request"
## Expected Behavior
Unicode characters are encoded correctly on a fetch request.

## Actual Behavior
The character gets converted to a .
![image](https://user-images.githubusercontent.com/20838718/98983984-935a3380-2547-11eb-8b98-79e949c8b79d.png)

## Steps to Reproduce
Run the code below, then open http://127.0.0.1:8080/test on your browser (tested on Brave)
It will display `’` correctly.
Now,

[2020-11-13 06:29] violetagg commented on #981
@brunoaduarte Open a new issue and test with the latest available release. You may see the same exception but the reason to be different.

[2020-11-13 07:31] violetagg commented on #1380
@FireMasterK You are using the method with `Charset.defaultCharset()`
Can you try the other method where you can provide the encoding?

`ByteBufFlux.fromString(Flux.just("’"), StandardCharsets.UTF_16, ByteBufAllocator.DEFAULT)`

[2020-11-13 09:08] violetagg commented on #1379
@maddenj-ie Will you be able to test #1381 ?

[2020-11-13 09:36] FireMasterK commented on #1380
That seems to fix it! Is there a way to set the default encoding in that case?

[2020-11-13 09:40] violetagg commented on #1380
@FireMasterK This is a programatic API you can use either the method that does not specify the encoding or the method that does.

[2020-11-13 10:21] maddenj-ie commented on #1379
Hi @violetagg

Using my HttpClient app the output looks good to me.

[code]

I've also tested the SNAPSHOT using my original Spring Boot applications and the error is no longer present.

Thanks for fixing so quickly.

[2020-11-13 11:36] #1379 closed

[2020-11-13 11:39] violetagg commented on #1379
@maddenj-ie Thanks for testing it!

[2020-11-13 12:06] FireMasterK commented on #1380
Thanks! I also found another fix: use `-Dfile.encoding=UTF-8` as a JVM argument.

[2020-11-13 12:06] #1380 closed

[2020-11-13 15:33] violetagg commented on #1359
@srikanthperesandra `Hoxton.SR9` is available for testing https://spring.io/projects/spring-cloud

[2020-11-15 23:43] Mert-Z opened #1382 "SSL configuration in TcpClientConfig cannot be applied to HttpClient"
After upgrading Spring Boot from `2.3.5.RELEASE` (reactor-netty `0.9.13.RELEASE`) to `2.4.0` (reactor-netty `1.0.1`), Spring WebFlux WebClient started throwing SSLHandshakeException errors when making an HTTPS request to a server which is deployed with a self signed certificate although WebClient is configured with [InsecureTrustManagerFactory](https://netty.io/4.1/api/io/netty/handler/ssl/util/In

[2020-11-16 09:32] #1382 closed

[2020-11-16 15:26] violetagg commented on #67
Having this recent issue https://github.com/netty/netty/issues/10781#issuecomment-723176224 and that by default Reactor Netty Servers/Clients share the `LoopResource`s and that Reactor Netty Server is 1:1 with `ServerTransport` (similar to `ServerBootstrap`), I tend to resolve this issue with `won't fix`. However I will keep it open for some time in case any requirements/discussions appear.

Havin

[2020-11-17 04:50] brunoaduarte opened #1385 "SSLEngine closed already."
After some time running it will fail most of times with `SSLEngine closed already.` on first post attempt. How can i avoid this?

## Expected Behavior

## Actual Behavior

## Steps to Reproduce

[code]

[code]

[code]

## Possible Solution

## Your Environment

* Reactor version(s) used:
* Other relevant libraries versions (eg. `netty`, ...):
`reactor netty 0.9.14.RELEASE`
* JVM version (`java -ve

[2020-11-17 05:22] brunoaduarte commented on #1385
`reactor.netty.pool.maxIdleTime=6000` seems to have fixed the issue

[2020-11-17 12:55] violetagg commented on #560
Hi All,

We did several improvements for Reactor Netty version **1.0.x**

In order to remove Spring Framework from the scenario, I transformed the example above to pure Reactor Netty and identified 4 different scenarios. Below you can find them and the results for this particular URL. **Environment:** Mac OS, JDK 8, Transport NIO, Boring SSL 2.0.34.Final:

**Scenario 1:** HttpClient configured wit

[2020-11-17 12:58] violetagg commented on #1023
@maczikasz I think this is duplicate to #560
See my last comment there

[2020-11-17 20:58] ukayani commented on #1331
I understand, it is not easy to debug without a reproducible example. I did try reproducing this problem on a local machine but was unsuccessful. I haven't had time to dive deeper into this yet but i'll hopefully get some time to try and debug better. Do you have any suggestions for how to trace/debug the connection close? The debug logs don't tell me much in terms of why the close is triggered.

[2020-11-18 06:38] violetagg commented on #1331
@ukayani Something that you might checked already but ... what about TCP keepalive? Can you check in the logs when the connection was created and closed and then the TCP keepalive value?

[2020-11-18 09:31] rstoyanchev commented on #560
Maybe worth a mention in the docs, e.g. under [SSL and TLS](https://projectreactor.io/docs/netty/release/reference/index.html#_ssl_and_tls).

[2020-11-18 21:04] eriklumme opened #1388 "NoClassDefFoundError for reactor.util.context.ContextView using an HttpClient with reactor-netty-core and reactor-netty-http"
Consider the following piece of code

    HttpClient.create().get().uri("https://www.google.com").response().block();

And using the `1.0.1` versions of `reactor-netty-core` and `reactor-netty-http`, running the code produces the error below.
If both dependencies are changed out for the `0.9.14.RELEASE` version of `reactor-netty`, the code works.

    java.lang.NoClassDefFoundError: reactor/util/c

[2020-11-19 06:14] nagyzsolthun commented on #887
`tcpConfiguration` is deprecated. What is the recommended approach for adding proxy config?

https://projectreactor.io/docs/netty/release/api/index.html?deprecated-list.html states:
_Apply a TcpClient mapping function to update TCP configuration and return an enriched HttpClient to use._

Can you please provider an example? Similar to
[code]

[2020-11-19 06:36] violetagg commented on #1388
@eriklumme Reactor Netty 1.0x depends on Reactor Core 3.4.x so if you didn't update Reactor Core then you have to update it. Reactor Netty 1.0.x does not work with previous versions of Reactor Core.
It will be easier for you if you use Reactor BOM https://github.com/reactor/reactor/releases

[2020-11-19 06:47] violetagg commented on #887
@nagyzsolthun Everything that you was able to configure via `tcpConfiguration` you can configure now (since Reactor Netty version 1.0.0) directly on HttpClient level.

[code]

[2020-11-19 06:47] eriklumme commented on #1388
@violetagg thanks, sorry, that was my bad. I have a parent POM which in turn uses Spring Boot's BOM, and I didn't notice that it defined the Reactor Core version as 3.3.11.RELEASE.

[2020-11-19 06:47] #1388 closed

[2020-11-19 06:54] violetagg commented on #1388
@eriklumme Reactor Netty 1.0.0 has some incompatibilities that affect how the configuration is done. You may have issues with old versions of Spring Framework/Spring Boot. I would recommend to switch to Spring Boot 2.4.0.

[2020-11-19 13:10] violetagg commented on #1385
@brunoaduarte Do you see this with any URL or with just a specific URL. It seems you reproduce it very easy, can you provide a reproducible example?

[2020-11-19 13:19] violetagg commented on #1375
@ctlove0523 Were you able to identify a reproducible example?

[2020-11-19 13:27] ctlove0523 commented on #1375
Ok,this is a example code can reproduce this issue,you can get from [here](https://github.com/ctlove0523/reactor-test). This weekend i will try reproduce and get a tcp dump file.

[2020-11-19 13:33] violetagg commented on #1375
@ctlove0523 There you have many routes, which one reproduces the problem?

[2020-11-19 13:36] maczikasz commented on #560
Hi @violetagg is there a reason you say "For testing purposes OpenSSL can be preloaded like this", I would love to preload that in our production instances. Of course normally I would not have OpenSSL on my compile classpath so I would need to somehow tell netty to basically "preload your SSL engine, whatever that is", is there a way to do that?

[2020-11-19 17:19] Qianjianguo commented on #1359
Is this issue has been solved？It seems we have meet the same problem.

[2020-11-19 18:29] violetagg commented on #1359
@Qianjianguo The PR was committed and is available with `Hoxton.SR9`, so you need to test `Hoxton.SR9` version.

[2020-11-19 18:37] violetagg commented on #560
@maczikasz We may add a configuration property fo preloading the `OpenSSL`. Basically loading the class below will load the natives:
https://github.com/netty/netty/blob/c1ba23933cd3e7c723fe33d58173b58da80ac3bb/handler/src/main/java/io/netty/handler/ssl/OpenSsl.java#L136

If you do not have OpenSSL then use `-Dio.netty.handler.ssl.noOpenSsl=true` thus you will use JDK provider.

[2020-11-20 06:11] 90K2 opened #1389 "HTTPS proxy support"
`reactor\netty\tcp\ProxyProvider.java`

	public enum Proxy {
		HTTP, SOCKS4, SOCKS5
	}

Why would you not add HTTPS support for proxy ? 🙄

[2020-11-20 06:28] violetagg commented on #1389
@90K2 Type `HTTP` is for both HTTP and HTTPS. What is the problem that you observe about HTTPS?

[2020-11-20 16:45] devansh-dalal commented on #617
Any resolution for this now yet?
Is there a way to run wiremock proxy server with https on https?

[2020-11-20 17:49] MarcelCoding opened #1390 "Add Reactor ChannelGroup"
## Motivation
A easy to use ChannelGroup with reactor utility functions. (Accessing all active connections)

## Desired solution
Add a custom ChannelGroup extension/implementation.

## Additional context
If you want, I can do that.

[2020-11-20 17:55] violetagg commented on #1390
@MarcelCoding
In Reactor Netty 0.9.x you have this for TcpServer/HttpServer
https://github.com/reactor/reactor-netty/blob/197581fcad1315f268409f0d1f40a53e99312651/src/main/java/reactor/netty/tcp/TcpServer.java#L563
https://github.com/reactor/reactor-netty/blob/197581fcad1315f268409f0d1f40a53e99312651/src/main/java/reactor/netty/http/server/HttpServer.java#L668
In Reactor Netty 1.0.x we have it for

[2020-11-20 17:57] MarcelCoding commented on #1390
@violetagg yeah but no reactor channel group implementation (Mono Flux methods)

[2020-11-22 01:17] ctlove0523 commented on #1375
@violetagg The route with id “test_route” can reproduce issue and you need pull the latest code.The follow this tcpdump file when issue occur.
![image](https://user-images.githubusercontent.com/9432235/99891241-b2249c80-2ca2-11eb-8e49-7460cff5fd45.png)

10.71.53.153 is http client（Spring Cloud Gateway) address and 172.16.0.79 is proxy service address. whole tcpdump file
[gateway.zip](https://githu

[2020-11-23 09:04] violetagg commented on #1390
@MarcelCoding Can you describe in more details the use case?

[2020-11-23 14:30] MarcelCoding commented on #1390
@violetagg I mean a class witch extends the Netty Channel Group and add extra methods to send data with the Reactors Flux and Mono. And maybe also add special methods/implementations to work with http and websockets for broadcasts.

[2020-11-23 14:46] violetagg commented on #1390
@MarcelCoding For websockets  what's the problem with using the current API. You can connect which will give you a `Connection`, then using `Mono.when/whenDelayError` you can invoke `Connection.outbound().send*()`

[2020-11-23 15:30] MarcelCoding commented on #1390
Ok, then i use the default Netty methods.

Another related question:
I look up a bit and i don't found a way to check if a channel in a `ChannelGroup` is a Http or a Websocket Connection.

[2020-11-23 15:38] violetagg commented on #1390
Because it is not intended to use the send methods in `ChannelGroup`.

Please describe in more details what you want to achieve in order to be able to suggest you a solution.
For example if you are on the client side and you try to use the send methods from `ChannelGroup` you will use connections that are in the connection pool without any acquiring before that.

[2020-11-23 16:08] MarcelCoding commented on #1390
I have an http server that accepts websocket connections, what I want to do is send notifications to all connected clients.

[2020-11-23 18:01] bclozel commented on #67
While discussing this in the context of spring-projects/spring-boot#12035, I was wondering how should we handling this particular case: two servers running on different ports, but sharing the same Micrometer meter registry. Given the metrics share the same name, we'd end up with two different servers publishing different values to the same metric name?

When it comes to metrics like `Gauge`, addin

[2020-11-24 09:06] dwlabcube commented on #1201
@jayzch
i am experiencing the same issue. When the response body of the Server is empty, spring gateway throws prematurelyclosed exceptions. i am using java 11, spring 2.4.0, spring cloud gateway 2020.0.0-M5.

could you solve the issue somehow?

[2020-11-24 09:07] chowtin commented on #1363
Tried 0.9.14.
CPP client send 500k message via a single tcp-connection,  reactor-netty based server acked ~ 36k messages.
All remaining messages are left in memory.  (from heapdump, io.netty.handler.codec.DefaultHeadersImpl keeps increasing.)

I suspect `HttpTrafficHandler::Queue<Object> pipelined` is not processed.

[2020-11-24 09:08] violetagg commented on #1390
`reactor.netty.http.server.HttpServerResponse#sendWebsocket(...)` will notify you when the upgrade is successful.
You can use `reactor.netty.http.server.HttpServerResponse#withConnection` to access the connection and also `Connection#onDispose()` will notify you when the connection is closed

Can you try those?

[2020-11-24 09:11] violetagg commented on #1363
Can you provide some reproducible example?

[2020-11-24 09:13] violetagg commented on #1201
@dwlabcube Can you provide a reproducible example?

[2020-11-24 09:36] dwlabcube commented on #1201
@violetagg
sure.

azttached demo.zip
[demo.zip](https://github.com/reactor/reactor-netty/files/5588804/demo.zip)

use apache benchmark:
abs -kc 100 -t 30 http://localhost:8080/performance/test/get

I use
openjdk version "11.0.2" 2019-01-15
OpenJDK Runtime Environment 18.9 (build 11.0.2+9)
OpenJDK 64-Bit Server VM 18.9 (build 11.0.2+9, mixed mode)

[2020-11-24 10:36] simonbasle opened #1392 "Reintroduce OSGI and adapt OSGI Bundle-Version to new Europium scheme"
Since OSGI support was only removed in reactor-netty, the 2020.0.x cycle should continue to have direct support. However, due to the versioning scheme change, the `Bundle-Version` must be forced (see reactor/reactor#689 for context).

Reintroduce OSGI bnd configuration that was removed in [this commit](https://github.com/reactor/reactor-netty/pull/1084/files#diff-49a96e7eea8a94af862798a45174e6ac43

[2020-11-24 11:50] violetagg commented on #1392
@swimmesberger Reactor Netty version 1.0.0 was separated on different modules, so I recommend that you use directly `reactor-netty-core` and `reactor-netty-http`, the old `reactor-netty` is kept only for a migration path and it will be an empty bundle that will just import and export the packages from `reactor-netty-core` and `reactor-netty-http`.

[2020-11-24 12:57] swimmesberger commented on #1392
@violetagg we will do that when the new version is compatible with OSGi

@simonbasle thanks for keeping OSGi compatibility for now. I completely understand that you want to use a custom versioning scheme that does not fit into the opiniated view of OSGi but I'm still if the new versioning scheme carries some kind of semantic that could be generalized for the BND plugin to always generate semantic

[2020-11-24 13:23] simonbasle commented on #1392
@swimmesberger it caries the same information as before for modules, and has some calver component to it for release trains, see https://spring.io/blog/2020/04/30/updates-to-spring-versions (maybe not clear enough in the blog post, but module versions are still not strictly semantic versioning)

[2020-11-24 20:47] MarcelCoding commented on #1390
Thanks, this works the way I wanted it to. If you have no questions, I'll close this issue.

[2020-11-24 22:01] #1390 closed

[2020-11-24 22:03] violetagg commented on #1359
I'm closing this. We can reopen it if it is needed.

[2020-11-24 22:03] #1359 closed

[2020-11-25 14:52] dvoloshyn opened #1394 "HttpClient cannot be configured with both HTTP11 and H2"
## Expected Behavior

HttpClient should be able to automatically select HTTP2 for https if supported or HTTP1.1 for both http and https.

## Actual Behavior

When I configure HttpClient with .protocol(HTTP11, H2) it fails when connecting to http URLs with IllegalArgumentException("Configured H2 protocol without TLS. Use H2 Clear-Text protocol via HttpClient#protocol or configure TLS via HttpClient

[2020-11-25 16:49] violetagg commented on #1201
Thanks I can reproduce it.

[2020-11-25 16:50] violetagg commented on #1375
Thanks I can reproduce it. And I think this is the same issue described here #1201.

[2020-11-25 16:52] violetagg commented on #1331
I think this is the same issue described here #1375 and #1201.

[2020-11-25 17:03] ukayani commented on #1331
Thanks for the update @violetagg ! Hopefully a fix for that resolves the issue. In my case, the response body is not empty however.

[2020-11-25 17:10] violetagg commented on #1331
So you never return `Mono.empty`?

[2020-11-25 17:24] ukayani commented on #1331
The responses from proxied services are not empty in the scenario where this exception occurs. As for returning mono.empty, i don't do that in my rewrite filter. The rest of the filter chain is the standard chain for SCG.

[2020-11-26 03:58] jayzch commented on #1201
@violetagg Why did  not you reproduce it before ?  I just want to get the different point.

[2020-11-26 22:20] vchekan opened #1397 "Deprecation notices are not clear"
`TcpClient.bootstrap()` method has been deprecated. But deprecation notice says "Use the methods exposed on {@link TcpClient} level". The problem is, this function is already at TcpClient level, so the notice does not make sense to me.
https://github.com/reactor/reactor-netty/blob/b63bd55785556588df7f761d6df6519017dac701/reactor-netty-core/src/main/java/reactor/netty/tcp/TcpClient.java#L135

Anoth

[2020-11-27 05:38] violetagg commented on #1397
@vchekan We added a lot of new features so it is not feasible to add examples to that particular function. What we can do is to make the java doc for these new features such that you can find the one that you need and also to add an example in the reference documentation.
The one that you are asking for is

https://projectreactor.io/docs/netty/release/api/reactor/netty/transport/Transport.html#wir

[2020-11-27 13:09] warmuuh opened #1398 "expose pending tasks of eventloops as metrics"
expose pending tasks of eventloops as metrics both for server and client.
Currently, some metrics are provided (reactor.netty.http.[client|server]). it would be nice to also see pending tasks as this is an important metric about the health of the system.

see https://gitter.im/reactor/reactor-netty?at=5fc0ec2466dcfa77e2a78389 for related question

## Motivation
a current solution seems to be possi

[2020-11-30 01:06] darshan4545 commented on #641
https://github.com/spring-cloud/spring-cloud-gateway/tree/master/spring-cloud-gateway-sample

using same above code

[2020-11-30 10:59] simpleusr opened #1400 "set timeout in Spring WebFlux webclient - Deprecated"
Hi

We are trying to configure connect / read timeout settings on the reactive http client.

Previously this was possible using TcpClient as below

https://stackoverflow.com/questions/48992992/set-timeout-in-spring-webflux-webclient

Currently this seems to be deprecated

    @Deprecated
	public static HttpClient from(TcpClient tcpClient) {
		Objects.requireNonNull(tcpClient, "tcpClient");
		retur

[2020-11-30 15:27] violetagg commented on #1400
@simpleusr You should use the methods on HttpClient level directly. See the code below.

[code]

[2020-11-30 15:27] #1400 closed

[2020-11-30 16:45] jGleitz commented on #1394
We are also hitting this bug. For us, it means that updating to Spring Boot 2.4.0 is effectively a breaking change. We will avoid updating until this bug is fixed.

Is there anything we can do to help to get this fixed? From my point of view, @dvoloshyn’s analysis is spot-on and creating a fix should therefore be easy.

[2020-11-30 17:13] violetagg commented on #1394
@jGleitz What do you mean with breaking change? HTTP/2 for the HttpClient first support is in Reactor Netty 1.0.0/Spring Boot 2.4.0?

[2020-11-30 18:35] jGleitz commented on #1394
@violetagg interesting.

We have this piece of code to configure the `ExchangeFunction` that will be used throughout our applications:

[code]

With Spring 2.3.x, this code worked, at least insofar as we could make connections to HTTP endpoints with and without `TLS`. Does “HTTP/2 for the HttpClient first support is in Reactor Netty 1.0.0/Spring Boot 2.4.0?” mean that the client was never actually

[2020-11-30 18:56] violetagg commented on #1394
In versions prior Reactor Netty 1.0.0/Spring Boot 2.4.0, HTTP/2 for the HttpClient is not supported. It is only supported for HttpServer.

I will strongly recommend if you do not use HTTP/2 to remove it, otherwise every time the client will try to do an application negotiation for the protocol that will be used.

[2020-11-30 19:28] jGleitz commented on #1394
Can you please elaborate on why I would not want this? I was under the impression that a client that supports HTTP/2 will not cause significant overhead against a server that does not support HTTP/2, because the server will simply ignore the `Upgrade` header and communication will continue over HTTP/1.1. Likewise, if the server supports HTTP/2, it will upgrade the connection together with the resp

[2020-11-30 19:42] violetagg commented on #1394
The current implementation is
- HTTP/1.1 with TLS or HTTP/2 with TLS, then we have application negotiations which protocol the server supports
- HTTP/1.1 without TLS or HTTP/2 clear text - here an `Upgrade` header will be used and depending on what is supported by the server, the header will be ignored for HTTP/1.1 or the header will be taken into consideration and we will continue the communicati

[2020-12-01 02:13] pavelkuchin opened #1401 "Stuck Active Connections"
We are having an issues with stuck active connections. At some arbitrary moments number of active connections starts growing till exhaustion of connection pool. Usually it happens few times a day and gets back to normal after service restart. We can't reproduce the issue with integration or load tests and can't correlate it with load. Once number of active connections is growing CPU consumption sp

[2020-12-01 04:20] violetagg commented on #1401
@pavelkuchin Please provide some code how the client is configured and used.
Tell us whether you use `exchange` or `retrieve`. With `exchange` if you do not consume the response body you can cause memory leak and connection leak.

[2020-12-01 07:09] yangbongsoo commented on #1401
@violetagg  Hello I have question about `exchange` use.
for example, response is success but response status code is 500  and has a response body,
in below code, `result.getBody();` method doesn't called. that cause memory leak?

or in onErrorResume, that cause memory leak?
thanks in advance :)

[code]

[2020-12-01 09:56] #1392 closed

[2020-12-01 10:39] violetagg commented on #1392
@swimmesberger The artefacts are available from the Spring snapshot repository (https://repo.spring.io/snapshot/io/projectreactor/netty/). It will be great if you can test them.

[2020-12-01 10:44] rstoyanchev commented on #1401
Yes it can. I suggest using `.retrieve().toEntity(String.class)`. This automatically turns 4xx-5xx status codes into a `WebClientResponseException` which includes the body content. You can add an additional `.onStatus` handler to reject any other 2xx-3xx status codes besides OK if necessary.

[2020-12-01 16:00] violetagg commented on #1394
@dvoloshyn @jGleitz PTAL #1403

[2020-12-01 16:29] pavelkuchin commented on #1401
Hi Violeta, thanks for getting back so quickly. Here is one example but all our clients are using `retrieve` method:
[code]
and here is initial client configuration:
[code]
After experiments we got this, but neither from the settings helped:
[code]

[2020-12-01 16:33] pavelkuchin commented on #1401
Here are some logs which I think might be related to the problem:
[code]

[2020-12-01 17:11] pavelkuchin commented on #1401
It turned out that one of our clients (one out of 7) uses exchange, and in case of some errors response body might not be used. Can it be that leak in one client affects all others? I'll migrate the client to use `retrieve` and try with the change.

[2020-12-01 17:13] violetagg commented on #1401
If you use the default `HttpResources`, this means that all clients share the event loop and connection pool.

[2020-12-02 13:49] hisener opened #1405 "HTTP Client throws `AnnotatedConnectException`s after 1.0.1 upgrade"
We started seeing `io.netty.channel.AbstractChannel$AnnotatedConnectException: finishConnect(..) failed: Connection refused: localhost/127.0.1.1:54117` on Travis CI while upgrading Reactor BOM `Dysprosium-SR14` -> `2020.0.1` (reactor-netty `0.9.14` -> `1.0.1`). Both reactor-netty versions pull Netty 4.1.53.Final version so I assume it's related `reactor-netty`.

It happens when there are multiple

[2020-12-02 14:31] JamesChenX opened #1406 "onCloseState in WebsocketServerOperations#sendCloseNow should emit 1006 if the session is closed without a close frame"
## Expected Behavior

onCloseState in reactor.netty.http.server.WebsocketServerOperations#sendCloseNow should emit 1006 (NO_CLOSE_FRAME) instead of -1 if no close frame.
[code]

## Actual Behavior

org.springframework.web.reactive.socket.CloseStatus throw "java.lang.IllegalArgumentException: Invalid status code" because reactor.netty.http.server.WebsocketServerOperations#sendCloseNow tries to crea

[2020-12-02 15:26] JamesChenX opened #1407 "Exception in reactor.netty.channel.ChannelOperations#onError should be logged on the error level"
## Motivation

We cannot even know what happened even if an exception has occurred because reactor.netty.channel.ChannelOperations#onError suppress the exception and only log the exception on the debug level (it's unreasonable) while it should be logged on the error level.

## Desired solution

reactor.netty.channel.ChannelOperations#onError should log the exception on the error level.

## Conside

[2020-12-02 15:48] #1394 closed

[2020-12-02 16:05] jGleitz commented on #1394
Thanks for the fast turnaround! :+1:

Are there plans regarding when to release version `1.0.2`?

[2020-12-02 16:21] violetagg commented on #1394
@jGleitz The tentative date is next Monday

[2020-12-02 16:44] violetagg commented on #1407
@JamesChenX Please describe in more details the use case, whether it happens on the server or on the client. If possible provide some code and logs.

[2020-12-02 20:46] pavelkuchin commented on #1401
Hi Violeta, thank you so much for helping with this. It seems it was related to `exchange` call and responses without valid json so their processing was failing without releasing body. I knew that `exchange` may cause memory leak but our memory metric didn't show any signs of leak and instead we got the stuck active connections which I didn't anticipate. Closing the issue now.

[2020-12-02 23:15] JamesChenX commented on #1407
**Background**
When our server tried to emit (flush) a ByteBuf instance to a client WebSocket session (via org.springframework.web.reactive.socket.WebSocketSession#send), the session was closed unexpectedly and there was no any log produced (the log level is INFO) on our servers, and no any exception was passed to our code (We have tried to log any exception if we can get one).
After debugging, I

[2020-12-03 00:13] pavelkuchin commented on #1401
Unfortunately I have to reopen this one, we got the issue back today even although we don't have `exchange` calls anymore.

[2020-12-03 08:36] violetagg commented on #1401
@pavelkuchin Will you be able to provide some logs?

[2020-12-03 09:20] violetagg commented on #1406
@JamesChenX Is it possible to provide a reproducible example?

[2020-12-03 09:23] violetagg commented on #1385
@brunoaduarte I'm closing this, if you can provide more information, we can reopen it.

[2020-12-03 09:23] #1385 closed

[2020-12-03 09:24] violetagg commented on #1389
@90K2 I'm closing this, if you can provide more information, we can reopen it.

[2020-12-03 09:24] #1389 closed

[2020-12-03 09:46] JamesChenX commented on #1406
I can create a new project to reproduce the bug but it's exaggerated.
**And the bug can always happen in the scenario when a TCP connection is closed by the peer without the WebSocket close frame and it's easy to understand.**

The key point for the issue is: reactor-netty should not create a new WebSocketCloseStatus with the status code "-1" in any scenario because "-1" WebFlux will convert WebSo

[2020-12-03 11:12] violetagg commented on #1405
@hisener As a workaround please use `HttpClient.resolver(DefaultAddressResolverGroup.INSTANCE)`

[2020-12-03 11:38] violetagg commented on #1406
@JamesChenX I was asking because we invoke that method with NULL only in two cases, so most probably you case is related to `onInboundCancel`

https://github.com/reactor/reactor-netty/blob/95b7abb684eba610d52b13f75de62b33cacb756d/reactor-netty-http/src/main/java/reactor/netty/http/server/WebsocketServerOperations.java#L185

https://github.com/reactor/reactor-netty/blob/95b7abb684eba610d52b13f75de6

[2020-12-03 13:12] JamesChenX commented on #1406
I know you want to know why it happened. And I have mentioned the reason: **The bug can always happen in the scenario when a TCP connection is closed by the peer without the WebSocket close frame and it's easy to understand.**

I can reproduce the bug every time if I want by the following steps:
1. Set up a WebSocket server based on reactor-netty
2. Open a browser to connect it.
3. Then, close the

[2020-12-04 00:49] pavelkuchin commented on #1401
Sorry @violetagg the only logs we found are above. Is there any way we can enable more logs for this part?
Currently we are using HttpClient.wiretap and logging on DEBUG level for reactor.netty package. I haven't see any connected warnings or errors in logs.

[2020-12-04 04:54] yinjianfei opened #1408 "report leak when client readtimeout."
## Expected behavior

No leak

## Actual behavior

[code]
## Steps to reproduce
call /leak/test serval times with set client side readtimeout to 1ms.

## Reproducable code

[code]
[code]
logs with setting **-Dio.netty.leakDetectionLevel=paranoid**, **reactor.netty=debug** at: https://github.com/yinjianfei/webflux-leak-test/blob/main/console.log
code repo at: https://github.com/yinjianfei/webflux-l

[2020-12-04 10:09] violetagg commented on #1408
@yinjianfei `id 'org.springframework.boot' version '2.1.4.RELEASE'`
This Spring Boot version is too old. In the newer versions there are memory leak fixes in Reactor Core, Reactor Netty and Spring Framework.
Please upgrade and check again whether memory leak will appear.

[2020-12-04 10:53] yinjianfei commented on #1408
@violetagg  thanks for your quick response

but unfortunately ,just change 2.1.4.release to 2.4.0 , still exists memory leak.

[code]

[2020-12-04 11:26] violetagg commented on #1408
@rstoyanchev Can you take a look at this?

[code]

Also from the code above I do not see how this `java.lang.IllegalStateException: Only one connection receive subscriber allowed.` can happen

[2020-12-04 11:28] violetagg commented on #1408
@yinjianfei I do not see where in the code you define the read timeout functionality.

[2020-12-04 11:33] yinjianfei commented on #1408
@violetagg
i am using jmeter as my http client .
![image](https://user-images.githubusercontent.com/12878463/101158883-79ec6900-3667-11eb-899f-d36b3811e341.png)

[2020-12-04 14:08] sneakythr0ws opened #1410 "'io.netty.util.IllegalReferenceCountException: refCnt: 0, decrement: 1' using Spring WebClient"
Hi!
Using  Spring WebClient with 1000 RP**M** sometimes I see netty errors in log.

## Actual Behavior

[code]

[code]

## Steps to Reproduce

[code]

## Your Environment

[code]
## Workaround
retry...

[2020-12-04 14:21] violetagg commented on #1410
@sneakythr0ws Is it possible that you see this issue #1374

[2020-12-05 10:21] yinjianfei commented on #1408
@violetagg any update from your side?  do i need provide more information?

[2020-12-05 14:40] MarcelCoding commented on #1351
I can do that if you want.

[2020-12-05 14:52] violetagg commented on #1351
@MarcelCoding Yes please go ahead

[2020-12-07 12:52] violetagg opened #1412 "Update to Netty v4.1.55.Final"
https://github.com/netty/netty/pull/10844
https://github.com/netty/netty/pull/10846

[2020-12-07 12:54] violetagg commented on #1406
@JamesChenX In order to proceed with a fix for this issue we need a new version of Netty - https://github.com/netty/netty/pull/10846

[2020-12-07 13:11] JamesChenX commented on #1406
Very appreciate your support. I will keep an eye on the issue and test it again once the new version of reactor-netty published. Thanks!

[2020-12-07 13:24] rstoyanchev commented on #1408
@yinjianfei I have re-created the issue in the Spring Framework issue tracker where I believe the root cause is. Please subscribe to https://github.com/spring-projects/spring-framework/issues/26232 and give it a try when a fix is available.

In the mean time I think this can be closed.

[2020-12-07 13:35] violetagg commented on #1408
Thanks @rstoyanchev
@yinjianfei I'm closing this issue, follow the issue in Spring Framework

[2020-12-07 13:35] #1408 closed

[2020-12-07 19:00] pavelkuchin commented on #1401
If it helps, the stuck connections seems to be in CLOSE-WAIT state.

[2020-12-09 11:04] #1412 closed

[2020-12-09 15:54] sukawanth opened #1415 "Reactor netty metrics shows remote_address with random ports"
Hi, we are using spring cloud gateway 2.2.3 and we have enabled reactor netty metrics. In our lab we are seeing that netty produces huge number of metrics even when there are limited number of connections which we verified using netstat.

Any clue what could be causing this issue...?

attachment: metrics exported from prometheus.
[metrics_prometheus.txt](https://github.com/reactor/reactor-netty/fi

[2020-12-09 16:22] violetagg commented on #1415
@sukawanth The information for the remote address is taken from the connection so can you verify how many connections from IP `10.233.117.0` were opened?
It is possible that the connection is opened and short after that closed and because of that you do not see a large number of remote connections on Spring Gateway?

[2020-12-09 18:21] violetagg commented on #1406
@JamesChenX PTAL #1416

[2020-12-10 09:42] ctlove0523 opened #1417 "Expose more convenient way to selectively perform access logs"
## Motivation
Before open this issue,i read issue about access log #1357 and #436,but what i want is not log some api,for example, access log  not log this API。
[code]
## Desired solution
If use tomcat,i can do like this:
[code]
can reactor-netty support method like this or other methods?

[2020-12-10 10:46] liuzhongkai opened #1418 "How to switch WebSocketClientHandshaker version"
I now use spring-boot-starter-webflux:2.4.0->reactor-netty:1.0.1, the WebSocketClient handshake fails, and the reactor-netty uses WebSocketVersion.V13, can this be dynamic?

[2020-12-10 10:47] liuzhongkai commented on #1418
This is the log

[2020-12-10 10:48] liuzhongkai commented on #1418
This is the log
8:18:48.397 [main] DEBUG reactor.util.Loggers$LoggerFactory - Using Slf4j logging framework
18:18:48.444 [main] DEBUG io.netty.util.internal.logging.InternalLoggerFactory - Using SLF4J as the default logging framework
18:18:48.446 [main] DEBUG io.netty.util.internal.PlatformDependent - Platform: MacOS
18:18:48.449 [main] DEBUG io.netty.util.internal.PlatformDependent0 - -Dio.netty.

[2020-12-10 11:12] violetagg commented on #1418
@liuzhongkai Do you provide request header `sec-websocket-version`?

[2020-12-10 11:14] #1406 closed

[2020-12-10 11:29] violetagg commented on #1406
@JamesChenX This change is available from 1.0.3-SNAPSHOT and Spring's maven repository https://repo.spring.io/snapshot . If you can test it, it will be great. You need also to update Netty to version 4.1.55.Final.

[2020-12-10 11:38] violetagg commented on #1091
@JamesChenX your comment was fixes with #1406

[2020-12-10 11:39] violetagg commented on #1091
@Fetsivalen Closing this issue. If the suggested solution is not enough we can reopen it.

[2020-12-10 11:39] #1091 closed

[2020-12-10 12:32] violetagg commented on #1418
@liuzhongkai Sorry for the client `WebSocketVersion.V13` currently is hardcoded. We need to expose a configuration for the version via `WebsocketClientSpec`.

[2020-12-10 18:47] violetagg commented on #67
I'm closing this issue. We can reopen it in case there are any requirement.

[2020-12-10 18:47] #67 closed

[2020-12-10 18:51] violetagg commented on #1410
@sneakythr0ws Were you able to check the mentioned issue?

[2020-12-11 02:40] liuzhongkai commented on #1418
Hi, that can only wait for the next version at the moment, looking forward to

[2020-12-11 03:10] sxganapa commented on #813
I need to log  the input request  coming to Netty 2.4  server. What property I need to add to application.conf or logback.xml

[2020-12-11 05:27] JamesChenX commented on #1406
@violetagg I have tested it with 1.0.3-SNAPSHOT and it works as expected now. Thanks for your support.

[2020-12-11 07:29] violetagg commented on #1363
@chowtin We will need some reproducible example in order to proceed with the investigation. I'm closing this issue. We can reopen it when we have more information how to reproduce this.

[2020-12-11 07:29] #1363 closed

[2020-12-11 07:33] violetagg commented on #813
@sxganapa What about something like this

[code]

In the example `httpServer.wiretap(true)` enables the hex dump. If you do not want a hex dump but plain text then you can use `httpServer.wiretap("category", LogLevel.DEBUG, AdvancedByteBufFormat.TEXTUAL)`

[2020-12-11 07:55] mp911de opened #1420 "TransportConnector.connect(…) fails if netty-transport-native-unix-common is not on the class path"
## Expected Behavior

`TransportConnector.connect(…)`  should not fail with `NoClassDefFoundError`

## Actual Behavior

[code]

## Steps to Reproduce

Try to establish a connection and exclude `netty-transport-native-unix-common` or `netty-transport-native-epoll` in the project

## Possible Solution

Guard the `instanceof DomainSocketAddress` check against absence of `DomainSocketAddress`.

[2020-12-11 08:04] mp911de commented on #1420
Yes, I removed it intentionally to actually reduce the dependencies to the least possible amount. To some extent, we also want to guard R2DBC drivers against the absence of native transports and that's where the issue originated.

It would be good to use native transports when these dependencies are on the classpath, but Reactor Netty should not break if these aren't available.

[2020-12-11 08:09] violetagg commented on #1420
This shouldn't be a problem because we do that for you:
https://github.com/reactor/reactor-netty/blob/29d07fd6dd16be573dcbb3b87c0b993156fb4507/reactor-netty-core/src/main/java/reactor/netty/resources/DefaultLoopNativeDetector.java#L29-L41

https://github.com/reactor/reactor-netty/blob/29d07fd6dd16be573dcbb3b87c0b993156fb4507/reactor-netty-core/src/main/java/reactor/netty/resources/DefaultLoopEpoll

[2020-12-11 08:52] violetagg commented on #1420
We cannot work properly without `netty-transport-native-unix-common`

Let say you want to use UDS and `netty-transport-native-unix-common` is missing from the class path, if we do the recommended solution above how we have to react on `instanceof DomainSocketAddress` throwing an exception?
We cannot ignore it because thus UDS will not work. We need somehow to understand the whether the provided `S

[2020-12-11 08:54] sneakythr0ws commented on #1410
Yes. As I understand It will be fixed in spring 4.3.2. Thank you

[2020-12-11 08:54] #1410 closed

[2020-12-11 10:09] mp911de commented on #1420
What I'm proposing is making the `instanceof` check conditional based on the presence of `netty-transport-native-unix-common`. If `netty-transport-native-unix-common` is not on the classpath, then the outcome of this check will be always `false`. It would be something like:

[code]

[2020-12-11 11:35] simonbasle commented on #1417
Currently, it is technically possible to "filter" access logs: one needs to set up an access log `Function` that returns `null` for the cases where no access log should be performed.

This has two caveats (other than being completely undocumented):
 - setting up a `Function<AccessLogArgProvider, AccessLog>` doesn't automatically enable access logging (one needs to ALSO set the `reactor.netty.http.

[2020-12-11 11:43] simonbasle commented on #1417
One promising solution that we're exploring with @aneveu is to expose convenience factory methods for the `Function` to be passed to `HttpServerConfiguration#accessLog(Function)`. These functions can themselves be considered factories, and the entry point would be `AccessLog` public class. We'd have:
 1. a `defaultFactory()` that just mimics the default behavior (provided access logs are switched

[2020-12-11 11:48] violetagg commented on #1417
@simonbasle If you have access log viewer where you defined which fields will be shown, how will behave this log viewer if we change format depending on the URL?

[2020-12-11 11:53] violetagg commented on #1417
Isn't it possible to do it like this https://github.com/reactor/reactor-netty/blob/master/reactor-netty-core/src/test/java/reactor/netty/transport/logging/ReactorNettyLoggingHandlerTest.java

[2020-12-11 13:59] simonbasle commented on #1417
the consequences of having heterogeneous patterns for access logs are ultimately the responsibility of the user, but maybe that use case is too niche to justify offering convenience methods. that said, we'd need method 3. in any case, to enable both filtering AND (preferably homogeneous) configuration of the log format.

maybe we don't need 1. for now, although I get the feeling that it is always

[2020-12-11 16:20] aneveu opened #1422 "Mocked appender are never removed from Logger in ReactorNettyLoggingHandlerTest"
Mocked appender declared into `setup` method, which is called with `@beforeEach`, are never removed from the `root` `Logger`into `ReactorNettyLoggingHandlerTest`.

## Possible Solution

Remove mocked appenders created in each method from logger into a teardown method, annotated with`@afterEach`.

[2020-12-11 22:44] pavelkuchin commented on #1401
@violetagg we were able to localize the issue to one client and when enabled full debug logging it revealed an exception logged on debug level. So far I haven't seen the exception for other clients.
[code]
Can it be cause of stuck connections and if yes than how to avoid it?

[2020-12-12 06:06] anilgursel opened #1423 "HttpClient runOn should not create default resources"
When loopresources is passed with `runOn`, HTTP client should not create default resources.  Here is a reproducer:

[code]

## Expected Behavior

No `reactor-http-nio-*` threads.

## Actual Behavior

It creates both `test-nio-*` threads and `reactor-http-nio-*` threads.

## Possible Solution
I will submit a PR shortly.

[2020-12-12 06:38] anilgursel opened #1425 "Concurrent HTTP client creation leads to multiple LoopResources creation"
When multiple HTTP clients are create concurrently and there is no Reactor Netty server instance created prior to clients,  there multiple loop resources are created (all but one is disposed though).  When doing a JFR analysis, one would expect the number of reactor-http-nio-* thread count to be equal to `LoopResources.DEFAULT_IO_WORKER_COUNT`; however, with the concurrency problem it can go `num

[2020-12-12 10:31] Zhengxiuhang commented on #1299
@uzdz may be you can try custom socket options `keepalive` as true from lettuce

here is my code

[code]

[2020-12-12 13:32] violetagg commented on #1401
@simonbasle @pavelkuchin

Here
https://github.com/reactor/reactor-netty/blob/3fc0c956bb711af2d8abcf8174a84bba8a22a0fd/src/main/java/reactor/netty/channel/ChannelOperations.java#L429-L432

Reactor Netty first will invoke `onInboundComplete();` in order to notify the subscriber and then will emit `listener.onStateChange(this, ConnectionObserver.State.DISCONNECTING);` in order to return the connectio

[2020-12-14 08:44] simonbasle commented on #1401
The `Operators.reportBadRequest()` method only _logs_ this exception. But at the same time, if there is no `request` there would be no progress of the `Publisher`, making it hang.

The report seems to be originating from the `onComplete` of a `flatMap`'s inner (+ `concatMap` is involved). If that inner is the one supposedly using the `Connection`, I'd say that bad request is definitely the cause o

[2020-12-14 10:47] aneveu opened #1428 "Provide a way to configure `AccessLog` programatically"
Should we allow the users to configure `AccesLog` programmatically?

## Motivation
Actually in order to enable `AccessLog`, one needs to activate it through the `ACCESS_LOG_ENABLED` system property declared in server configuration whereas the `accessLog` method just provides configuration option, which might be confusing for the user.

## Desired solution
The user could used different combination

[2020-12-14 13:54] #1423 closed

[2020-12-14 14:16] violetagg commented on #1428
@aneveu What about 2 methods?

`accessLog(boolean)` this enables/disables the default (access log with Common Log Format)
`accessLog(boolean, AccessLogFactory)` this enables/disables access log with Custom Log Format

[2020-12-14 14:34] pavelkuchin commented on #1401
Thanks a lot @violetagg, @simonbasle I think we found what causing it. We are using some library to convert response to internal format, and the library has a bug, for some specific input it falls into infinite loop. Even although we are using retrieve method the infinite loop technically happens on reactor-netty-epoll thread and blocks reactor-netty from closing connection and further execution o

[2020-12-14 14:57] eutiagocosta opened #1430 "LEAK: ByteBuf.release() was not called before it's garbage-collected."
## Expected Behavior
The problem occurred when I use Webclient to retrieve the status and data from the server. The routine is called several times to send several large payloads. Using kotlin coroutines I need to manipulate the http response to get the reason for the failure.

## Actual Behavior
[code]

## Steps to Reproduce

[code]

## Possible Solution

## Your Environment

* openjdk version: 1

[2020-12-14 15:56] simonbasle commented on #1430
It appears if the response code is `OK` you call `response.releaseBody()`, but you never subscribe to the returned `Mono<Void>`. I have little experience with Kotlin Coroutines but shouldn't you at least convert that `Mono` to a coroutine and suspend on it?

[2020-12-14 17:16] eutiagocosta commented on #1430
so, I think I don't need this, because when the return is successful and I invoke releaseBody to release the return, however I will test by adding ```response.bodyToMono<Void>()```

[2020-12-14 17:20] violetagg commented on #1430
@eutiagocosta Let me explain the difference between:

- `response.releaseBody().subscribe()` - this releases the response body WITHOUT closing the connection
- `response.bodyToMono<Void>().subscribe()` - this releases the response body and CLOSES the connection

[2020-12-14 17:45] simonbasle commented on #1428
given that #1417 overlaps a bit with that one, we might want to only introduce `.accessLog(boolean)` in this iteration, then use #1421 to add the variant with a factory and deprecate the old `Function`-based variant.

[2020-12-14 21:31] jamesward opened #1431 "Document How To Switch DNS Resolver"
I ran into an issue with the Netty DNS resolver (that became the default in https://github.com/reactor/reactor-netty/pull/1252) when running in gvisor:
[code]

And it took me some digging to figure out how to switch it back:
[code]

It'd be nice to have this documented somewhere (but maybe here is sufficient).

[2020-12-15 06:52] preethirajaram commented on #887
Hi,
I tried the above code with below combination,
1. reactor-netty version 1.0.0 and spring-security-test

httpClient = HttpClient.create()
    .tcpConfiguration(client -> client.option(ChannelOption.CONNECT_TIMEOUT_MILLIS,
            Properties.getConnectionTimeOut())
            .doOnConnected(conn -> conn
                    .addHandlerLast(new ReadTimeoutHandler(Properties.getReadTimeOut()))

[2020-12-15 07:35] rstoyanchev commented on #1428
I'm wondering if when the intent is to disable, would an `AccessLogFactory` even need to be provided or would be `null` in that case? If so then perhaps just `accessLog(AccessLogFactory)` is enough with a separate method to disable it, or alternatively maybe the `AccessLogFactory` could have some special instance for no access log.

[2020-12-15 07:59] violetagg commented on #1428
@rstoyanchev The idea is when you are in the cloud, you take the enable/disable information from the active profile.
So you will have something like this
`accessLog(envEnable/Disable, AccessLogFactory)`

But we may want to have `Supplier`in case it is disabled we will not invoke that `Supplier` at all
`accessLog(boolean, Supplier<AccessLogFactory>)`

Wdyt?

[2020-12-15 08:08] violetagg commented on #887
@preethirajaram

This is not related to Reactor Netty

[2020-12-15 08:53] rstoyanchev commented on #1428
For property based initialization, `accessLog(boolean)` should be sufficient right? For `(boolean, AccessLogFactory)` something would need to provide a factory and if it is provided then it implied "enabled".

[2020-12-15 08:54] simonbasle commented on #1428
No, I don't think a `Supplier` is necessary at all. A `Function` is already lazy by nature.

For the second method, I wonder: customizing the access log seems to imply one _has_ to use the programmatic approach, right? So the profile requirement would not really apply there?

Unless you really anticipate people will mix the two approaches and provide a factory while delegating to the "profile" to

[2020-12-15 09:01] violetagg commented on #1428
@rstoyanchev @simonbasle Let say we have this:

[code]

How you propose to control enable/disable access log except having a property in my cloud profile that controls that.
Should I change the code every time when I want to enable/disable?

[2020-12-15 09:09] simonbasle commented on #1428
Wouldn't it be possible to do this:

[code]

That's not terrible boilerplate to write for the percentage of users that want to conditionally enable while programmatically customize the access log.

If we look at `HttpServer`, eg. `forwarded` configuration, we see similar patterns:
 - `forwarded(boolean)` for conditional enabling, with default handler
 - `forwarded(BiFunction)` for fine tuning (no

[2020-12-15 09:11] simonbasle commented on #1428
`wiretap` is the same: there is the base, property-friendly `wiretap(boolean)`, but then you have `wiretap(String, LogLevel)`, right?

[2020-12-15 09:13] violetagg commented on #1428
`forwarde(BiFunction)` has a different meaning than `accessLog(...)` because `forwarde(BiFunction)` says enable/disable  based on request/response

the API closer to this is
`metrics(.....)`

[2020-12-15 09:38] #1422 closed

[2020-12-15 10:47] yuchonghua commented on #67
Is there a better spring cloud gateway multi port support solution？

/ping @violetagg

[2020-12-15 14:58] simonbasle commented on #1428
Ok so that's the API we're settling on:

 - `accessLog(boolean)` allows to programmatically enable/disable access logging with default factory (takes precedence over `ACCESS_LOG` constant from sysprop
 - `accessLog(boolean, AccessLogFactory)` (to be added via #1417) to programmatically customize the factory BUT potentially ignore that factory if the `boolean` part is `false` (takes precedence over

[2020-12-15 15:05] OlegDokuka commented on #1401
Hi, @pavelkuchin!

Can you try to build a custom build for reactor-core which should be based on the following repo -> https://github.com/reactor/reactor-core/pull/2219. In this repo, you may find an experimental debug-tool addition that collects `Stats` and provides more insights on what happened within the pipeline. That said if `.timeout` appears in your `WebClient` pipeline, the `StatsCollecto

[2020-12-15 15:31] violetagg commented on #1401
@pavelkuchin I would also want to ask if you add `HttpClient.responseTimeout` do you still see connections leak?
This will not solve the cause but at least there will be no connections leak.

[2020-12-15 16:23] violetagg commented on #67
@yuchonghua Spring Cloud Gateway is Spring Boot application. (see https://github.com/spring-projects/spring-boot/issues/12035)

[2020-12-15 18:32] osi opened #1433 "Event loop task duration tracking"
Similar to #1398, it would be nice to be able to track the duration of event loop tasks.

Reactor is able to do this for its schedulers via `Schedulers.enableMetrics`.

Additionally, it would be nice to set a threshold for the duration of any given task, and be able to log an event with details about that task (for identifying specific instances in the metrics)

[2020-12-15 19:31] TheConen commented on #233
How do I use this new human readable logging? I'm using Spring with WebFlux and setting

`logging.level.reactor.netty.http.client.HttpClient =  DEBUG`

in my `application.properties` gives me the Hex debug with `wiretap(true)` on my `WebClient`. What do I need to change to get the new human readable logging?

[2020-12-15 21:08] violetagg commented on #233
@TheConen You can use the code below. I'm in a process of adding an example to the reference documentation #1397

`wiretap(java.lang.String category, io.netty.handler.logging.LogLevel level, AdvancedByteBufFormat format)`

[2020-12-15 22:07] TheConen commented on #233
Thank you, I got this to work with using
```wiretap("reactor.netty.http.client.HttpClient", LogLevel.DEBUG, AdvancedByteBufFormat.TEXTUAL)```

Full code example in case anyone else finds this and needs it:

[code]
In `application.properties`:
`logging.level.reactor.netty.http.client.HttpClient =  DEBUG`

[2020-12-15 22:10] TheConen commented on #1397
@vchekan See https://github.com/reactor/reactor-netty/issues/233#issuecomment-745597979 for an example of how to enable the new human-readable logging

[2020-12-16 00:22] pavelkuchin commented on #1401
Wow, thanks @OlegDokuka! I'm not sure it will help in this particular situation but I'll give it a try!

Thanks for the suggestion @violetagg, unfortunately `HttpClient.responseTimeout` doesn't help.

Just to give a little bit more context, It turned out to be an accidental ReDoS. The WebClient is requesting data from ML endpoint and some results are causing regexp parser inside the validation lib

[2020-12-16 07:33] violetagg commented on #233
@TheConen The first argument is any logger that is convenient to you it is not needed to be exactly `reactor.netty.http.client.HttpClient`

[2020-12-16 09:29] violetagg commented on #1415
@sukawanth Were you able to check the suggestions in my previous comment?

[2020-12-16 10:54] violetagg commented on #1375
@johanhaleby And your use case is related to a response with an empty body?

[2020-12-16 12:01] johanhaleby commented on #1375
@violetagg Yes, the server returns with status code 204 (no content).

[2020-12-16 20:18] pavelkuchin commented on #1401
Offloading helped to resolve the issue. Thank you @violetagg, @simonbasle, @OlegDokuka!

[2020-12-16 20:18] #1401 closed

[2020-12-17 06:43] anupam-contaque opened #1434 "NullPointerException on connectionInfo.getScheme() in HttpServerOperations for Unix Domain Sockets"
`ConnectionInfo` in `HttpServerOperations`  is annotated as `@Nullable` but there isn't any null check before calling `getScheme()`

https://github.com/reactor/reactor-netty/blob/380a10adb86cf5711bb68b25c715ead9abf9afae/reactor-netty-http/src/main/java/reactor/netty/http/server/HttpServerOperations.java#L375

See https://github.com/spring-projects/spring-boot/issues/24529#issuecomment-747158696

[2020-12-17 12:17] violetagg commented on #1434
@anupam-contaque PTAL PR #1436

[2020-12-17 14:03] #1434 closed

[2020-12-18 09:31] #1431 closed

[2020-12-18 10:06] kevinten10 commented on #1433
Full monitoring may cause redundant information and excessive performance loss.

Is it more reasonable to perform sampling of this part of the function?

like: `sample(() -> Schedulers.enableMetrics,
       (Predicate) () -> { /* Trigger threshold */ });`

[2020-12-18 10:08] violetagg commented on #1431
@jamesward PTAL https://projectreactor.io/docs/netty/snapshot/reference/index.html#_host_name_resolution_2
If we need to extend that part we will do it. Thanks.

[2020-12-18 16:27] jamesward commented on #1431
Wonderful! Thank you.

[2020-12-18 17:44] #1418 closed

[2020-12-18 20:35] osi commented on #1433
Sampling may be fine. My goal is to identify work taking place on an event loop thread that is effectively blocking the loop due to how long it takes. (even if the work is fully non-blocking).

[2020-12-19 20:15] BenyahyaF45 commented on #1431
![Captureh](https://user-images.githubusercontent.com/62762887/102698646-3b49d780-423f-11eb-9625-9b693c153252.PNG)
Plz can someone help me to resolve this error i dont know where is the probleme here?

[2020-12-19 22:35] jamesward commented on #1431
@BenyahyaF45 Did you try the workaround above?

[2020-12-20 21:43] BenyahyaF45 commented on #1431
@jamesward  this solution ??
![Capture](https://user-images.githubusercontent.com/62762887/102725140-bfba5a00-4314-11eb-8b06-714a89fb3343.PNG)

[2020-12-20 21:45] BenyahyaF45 commented on #1431
@jamesward i dont see another solution and this does not work for me

[2020-12-21 10:13] violetagg commented on #1430
@eutiagocosta Were you able to test some of the suggestions?

[2020-12-21 12:36] eutiagocosta commented on #1430
Yes, ```response.bodyToMono<Void>().subscribe()``` works to me, sorry for the delay, but only on monday i have a lot of traffic to be able to simulate, can close this topic. Thanks

[2020-12-21 12:47] violetagg commented on #1430
@eutiagocosta I'm closing this one.

[2020-12-21 12:47] #1430 closed

[2020-12-21 19:57] jamesward commented on #1431
@BenyahyaF45 This:
[code]

[2020-12-22 09:00] #1428 closed

[2020-12-22 10:12] violetagg commented on #1431
@BenyahyaF45 I suggest to open Netty issue for the resolution problem.

[2020-12-24 07:12] ctlove0523 opened #1441 "Is it possible to close connection when server receive SYN from client?"
I have a tcp server and i want to control concurrency of establish connection between client to my server,like one second only process 100 establish connection request,the 101 request will be refused.So I need close connection in second step of 3-way-handshake.
![](https://camo.githubusercontent.com/9fa277572eb26f706f221812d4fb67f03b9e654a4a2b94ea8abcfb1ae95bef8b/687474703a2f2f75706c6f61642e77696b

[2020-12-25 20:29] dushkin commented on #1397
So, I still cannot understand how to deal with "reactor.netty.http.client.HttpClient:tcpConfiguration(). It's deprecation notice says "Use HttpClient methods for TCP level configurations".... Any advise will be blessed :)

[2020-12-28 05:54] yangbongsoo opened #1443 "SSLSessionContext Memory leak issue"
Hello. I have a question about SSLSessionContext.

at first, my server heap memory limit is 2G and my server memory went up little by little.

<img width="1434" alt="스크린샷 2020-12-28 오후 2 39 48" src="https://user-images.githubusercontent.com/7060510/103192033-91430d00-491a-11eb-8a50-5c6e64997ed6.png">

and then I got a error message as below.
[code]

As the limit (2G) approached, a few seco

[2020-12-28 21:36] philsttr opened #1445 "WebSocket client hangs if server terminates connection after accepting upgrade request but before sending response"
If a misbehaving server reads the http websocket upgrade request, but closes the connection before sending a response, then the reactor netty websocket client will hang indefinitely.

## Expected Behavior
reactor netty ends the stream with a `WebSocketHandshakeException` or other exception

## Actual Behavior
reactor netty hangs indefinitely with no exception

## Steps to Reproduce

[code]

## You

[2020-12-29 07:15] violetagg commented on #1397
@dushkin Everything that you can configure via `HttpClient.tcpConfiguration()`, now you can configure using directly methods exposed by `HttpClient`.

For example:

Instead of
[code]

You can call

[code]

Which configuration are you looking for?

[2020-12-29 14:44] fbaierl opened #1447 "[Android] java.net.UnknownHostException after upgrading from v0.9.10.RELEASE to v1.0.2"
I know that Android is not officially supported by this library, but I thought I'd report this error nevertheless. Basically, after upgrading reactor-netty from version 0.9.10.RELEASE to version 1.0.2, I am getting the following error message:

`java.net.UnknownHostException: failed to resolve 'api.jikan.moe' after 4 queries`

This only happens on my Android device and **does not happen during uni

[2020-12-29 14:56] AsCat commented on #1375
@ctlove0523
Can you help test it with this [RP](https://github.com/spring-cloud/spring-cloud-gateway/pull/2093)

[2020-12-29 14:58] AsCat commented on #1201
@jay

Can you help test it with this [PR](https://github.com/spring-cloud/spring-cloud-gateway/pull/2093)

[2020-12-29 15:00] AsCat commented on #1331
@ukayani
Can you help test it with this [PR](https://github.com/spring-cloud/spring-cloud-gateway/pull/2093) ?

[2020-12-29 15:13] ctlove0523 commented on #1375
Ok，I will test this PR later

[2020-12-29 15:58] ukayani commented on #1331
@AsCat i can give it a test in a few days.

[2021-01-04 09:36] violetagg commented on #1447
@fbaierl  Can you provide some reproducible example?
As a workaround you can switch to the blocking JVM built-in resolver. See here
https://projectreactor.io/docs/netty/snapshot/reference/index.html#_host_name_resolution_2

[2021-01-04 12:39] idikshit opened #1449 "Silent discard of HTTP request"
I was trying to figure out a way to silently discard an incoming HTTP Request without sending back any response. Is there any way I can achieve this?. Thanks in advance.

[2021-01-05 08:25] violetagg commented on #1449
@idikshit Please ask questions either on [Gitter](https://gitter.im/reactor/reactor-netty) or [stackoverflow.com](https://stackoverflow.com/questions/tagged/reactor-netty)

[2021-01-05 08:25] #1449 closed

[2021-01-05 10:31] violetagg commented on #1441
@ctlove0523 I don't know for a Netty event that can be used for this scenario. The closest event is `io.netty.channel.ChannelInboundHandler#channelActive` and we already expose that via `ConnectionObserver`, state https://projectreactor.io/docs/netty/release/api/reactor/netty/ConnectionObserver.State.html#CONNECTED

`TcpServer.childObserve((connection, state) -> ...)`

[2021-01-05 14:03] #1397 closed

[2021-01-05 14:42] violetagg commented on #1397
@vchekan @dushkin @TheConen I updated the various javadoc (see #1450 ). For example: https://projectreactor.io/docs/netty/snapshot/api/reactor/netty/http/client/HttpClient.html#tcpConfiguration-java.util.function.Function-
https://projectreactor.io/docs/netty/snapshot/api/reactor/netty/tcp/TcpClient.html#bootstrap-java.util.function.Function-
I updated also the reference documentation:
https://pro

[2021-01-05 17:39] philsttr commented on #1445
Thanks Violeta!

[2021-01-06 08:54] ctlove0523 commented on #1441
@violetagg thanks,i realize this needs netty support and i will go to the netty community for help.

[2021-01-06 08:54] #1441 closed

[2021-01-06 10:27] #1417 closed

[2021-01-07 09:54] bilak commented on #1443
Hi, I've seen simillar issue in our microservices. There was an issue with caching of ssl context in jdk. Try to start your services with this parameters `-Djavax.net.ssl.sessionTimeout=900 -Djavax.net.ssl.sessionCacheSize=1000`. This changed something for us, but we can still see some memory leaks somewhere. Not easy to track them.

[2021-01-07 14:54] yangbongsoo commented on #1443
@bilak thanks to reply. I also though that problem was by jdk. so I updated jdk version to 275.
Because they updated the default SSL session cache size to 20480 (https://bugs.openjdk.java.net/browse/JDK-8210985).

But even if I upgrade jdk version, the problem was not solved.
I'm not sure It is jdk issue. so I wrote this issue.

I couldn't find jvm option in google search. how did you find this?
`

[2021-01-07 16:08] bilak commented on #1443
@yangbongsoo everything depends on traffic in your service. If there is a lot o ssl calls potentialy the cache could be a problem. Try to lower the time and you will se if that helps a bit.
I have problem with jvm setup because I'm working in Kubernetes cluster and that's giving me headakes. Don't know how to properly setup the jvm flags and we have there some leaks that are being solved also by s

[2021-01-07 17:14] violetagg commented on #1415
Closing this issue as there is no response from the author.

[2021-01-07 17:14] #1415 closed

[2021-01-08 12:50] violetagg commented on #1425
We will address this issue with #1455

[2021-01-08 12:50] violetagg commented on #1023
We will address this issue with #1455

[2021-01-08 12:50] violetagg commented on #560
We will address this issue with #1455

[2021-01-08 15:04] rschlick commented on #1431
Hello @violetagg,

I had the same problem of DNS resolution when upgrading to Spring Boot 2.4 (and Netty 4.1.xx).
I fixed the issue with the workaround given by @jamesward

Example of stacktrace:

[code]

[2021-01-08 15:27] violetagg commented on #1431
@rschlick Please create a new issue with a reproducible example.

[2021-01-10 09:55] lmhmhl opened #1457 "Translate the guide in to Chinese"
It seems like there is no chinese version guide, I can volunteer to translate the guide into chinese version.

[2021-01-11 07:02] #560 closed

[2021-01-11 07:02] #1023 closed

[2021-01-11 07:02] #1425 closed

[2021-01-11 08:38] simonbasle commented on #1457
hi @lmhmhl and thanks for the offer. we don't produce nor host documentation in any other language than English.

[2021-01-11 08:38] #1457 closed

[2021-01-12 16:40] violetagg commented on #1375
@ctlove0523 The PR was applied to Spring Gateway. What's the result of your testing?

[2021-01-12 16:41] violetagg commented on #1201
The mentioned PR was applied to Spring Gateway.

[2021-01-12 16:42] violetagg commented on #1331
The mentioned PR was applied to Spring Gateway.

[2021-01-12 16:47] ukayani commented on #1331
I will update to latest and report back. Thanks for the update.

[2021-01-13 00:45] ctlove0523 commented on #1375
@violetagg when i apply this issue to Spring Cloud Gateway,it works well,problem disappeared,so i close this issue.Thanks everyone for your help.

[2021-01-13 00:45] #1375 closed

[2021-01-13 02:31] AsCat commented on #1375
good news, thanks for the tests !  @ctlove0523

[2021-01-13 03:13] lmhmhl opened #1462 "volunteer want to do some thing for this community."
I am new here, and want to do some contribution to this community, does there have some work for volunteer to do? Thx.

[2021-01-13 04:16] linux-china opened #1463 "Netty Codec QUIC support"
Netty Codec Quic  0.0.3 has been released  https://netty.io/news/2021/01/11/quic-0-0-3-Final.html
and examples are here https://github.com/netty/netty-incubator-codec-quic/tree/main/src/test/java/io/netty/incubator/codec/quic

I did some testing, and all good.  Any plan to integrate QUIC into Reator Netty?

I can do some testing to use QUIC as RSocket  transport.

[2021-01-13 08:01] violetagg commented on #1463
@linux-china I'll take a look at it

[2021-01-13 08:44] simonbasle commented on #1462
hey @lmhmhl, thanks for the offer! 💪

we do have a few issues marked as [`good first issue`](https://github.com/reactor/reactor-netty/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%22good+first+issue%22) and [`help wanted`](https://github.com/reactor/reactor-netty/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%22help+wanted%22). The two labels overlap a bit, the first one s

[2021-01-13 08:46] simonbasle commented on #1462
Note that similar labels can be found in other projects, like reactor-core.

There isn't always a lot of entry-level issues these days, but we try to identify them so watch the labels if no issue currently makes a good candidate for you.

[2021-01-15 11:36] violetagg commented on #1462
@lmhmhl If you decide to contribute to some of the issues mentioned above just drop a comment to the particular issue.
I'm closing this issue you can use [Gitter](https://gitter.im/reactor/reactor-netty) for further questions/discussions.

[2021-01-15 11:36] #1462 closed

[2021-01-18 08:16] violetagg commented on #1447
@fbaierl I'm closing this. If you can provide a reproducible example we can reopen it.

[2021-01-18 08:16] #1447 closed

[2021-01-18 08:20] violetagg commented on #577
We did several improvements in the API and the internal implementation in 0.8.x, 0.9.x and 1.0.x
I'm closing this one.

[2021-01-18 08:20] #577 closed

[2021-01-18 08:22] violetagg commented on #556
We did several improvements in the API and the internal implementation in 0.8.x, 0.9.x and 1.0.x
I'm closing this one.

[2021-01-18 08:22] #556 closed

[2021-01-18 08:29] violetagg commented on #1405
@@hisener I'm closing this one, please follow the Netty's issue.

[2021-01-18 08:29] #1405 closed

[2021-01-18 08:31] violetagg commented on #392
We did several improvements in the API and the internal implementation in 0.8.x, 0.9.x and 1.0.x
I'm closing this one.

[2021-01-18 08:31] #392 closed

[2021-01-18 08:51] violetagg commented on #1407
@JamesChenX
https://github.com/reactor/reactor-netty/blob/8a87ab297166d03cd1ab492842f11b421589f106/reactor-netty-core/src/main/java/reactor/netty/channel/ChannelOperations.java#L233-L243

`onOutboundError(t)` is not invoked only in case of `isDisposed()`

https://github.com/reactor/reactor-netty/blob/8a87ab297166d03cd1ab492842f11b421589f106/reactor-netty-core/src/main/java/reactor/netty/channel/Ch

[2021-01-18 08:51] #1407 closed

[2021-01-18 08:58] violetagg commented on #1099
@spiritme1984 Is it possible to test with the latest releases for Reactor Netty and Spring Gateway?

[2021-01-18 09:07] fbaierl commented on #1447
I cannot provide a reproducable example at this moment, since it only seems to happen on Android 7.x devices (works in emulator).

[2021-01-19 05:19] rishuzz opened #1469 "io.netty.channel.unix.Errors$NativeIoException: readAddress(..) failed: Connection reset by peer"
**We are using Spring Cloud gateway (Hoxton.SR8) which internally using Netty (0.9.6.RELEASE)
In commercial environments we are seeing below issue when spring cloud gateway proxying request to target system**

_2021-01-19 05:11:16.803 DEBUG 1 --- [or-http-epoll-2] o.s.c.g.h.RoutePredicateHandlerMapping : Route matched: SG-test-controller
2021-01-19 05:11:16.803 DEBUG 1 --- [or-http-epoll-2] o.s.c.

[2021-01-19 08:13] violetagg commented on #1469
@rishuzz Reactor Netty 0.9.6.RELEASE is almost a year old. Please upgrade to the latest releases for Spring Gateway/Reactor Netty

[2021-01-19 09:50] dandamudi1414 commented on #1469
Hi @violetagg  ,

is there a known bug in this version  **0.9.6.RELEASE** ??

[2021-01-19 10:26] violetagg commented on #1469
@dandamudi1414 We have fixes related to connection closed prematurely although I cannot claim that they will solve the issue above as the report contains only exception and not reproducible scenario.

[2021-01-19 10:58] dandamudi1414 commented on #1469
@violetagg  - thanks for the reply and can you please let us know which version having the above fix? Or I need to use latest only and not sure Spring cloud gateway using latest

[2021-01-19 11:09] violetagg commented on #1469
@dandamudi1414 I would recommend to update to the latest Spring Gateway/Spring Boot

[2021-01-20 06:39] zkcarterlau commented on #1099
Did you solve it?I met the same problem when I set springcloud-geteway as an upstream behind the nginx.And The nginx periodically reports "upstream time out" in its error log.

[2021-01-20 06:49] violetagg commented on #1099
@zkcarterlau What versions do you use, do you have reproducible example?

[2021-01-20 08:18] rishuzz commented on #1469
@violetagg Thank you for the reply,  We tried upgrading SCG to v2.4.2 and that updated Netty dependencies to :

- **reactor-netty-core** : 1.0.3
- **io.netty** : 3.10.6.FINAL
- **spring-boot-starter-reactor-netty**: 2.4.2

but we are still seeing exactly same error, Do we need upgrade to some specific version of SCG ?

[2021-01-20 08:25] violetagg commented on #1469
@rishuzz

We do not support Netty version 3. Why do you specify this version?

It is always better to use the dependency specified by SCG instead of updating only some dependencies

[2021-01-20 08:29] rishuzz commented on #1469
@violetagg  I updated  SCG to v2.4.2 internally that updated all Netty dependencies, I didn't update Netty dependecies specifically.

[2021-01-20 08:49] violetagg commented on #1469
@rishuzz Then please check your dependencies for mismatch. `Spring Boot`  version `2.4.2` comes with `Reactor Netty` `1.0.3` and `Netty` version `4.1.58.Final`

https://github.com/spring-projects/spring-boot/releases/tag/v2.4.2

[code]

[2021-01-20 10:14] rishuzz commented on #1469
@violetagg I updated the POM, and below is dependency tree for Netty in my project , and that issue still exist with these dependencies too.

[INFO] |     +- org.springframework.boot:spring-boot-starter-reactor-netty:jar:2.4.2:compile
[INFO] |     |  \- io.projectreactor.netty:reactor-netty-http:jar:1.0.3:compile
[INFO] |     |     +- io.netty:netty-codec-http:jar:4.1.58.Final:compile
[INFO] |

[2021-01-20 10:46] violetagg commented on #1469
@rishuzz OK can you describe your scenario or add some reproducible example?

[2021-01-20 12:44] rishuzz commented on #1469
Hi  @violetagg , The issue is SCG trying to reach out to a route ( target tomcat) and it's failing with the above error ( connection reset by peer) but when we check connectivity it's fine between the systems ..!

It working fine in the lower environments ( dev and QA )

[2021-01-20 12:51] violetagg commented on #1469
@rishuzz `Connection reset by peer` means the remote peer closes the connection for some reason.
You wrote:

When you face this issue what are the logs on the remote peer?
If you cannot provide example can you at least provide tcp dump?

[2021-01-20 13:11] rishuzz commented on #1469
@violetagg  below is excerpt of tcp dump, we are seeing **flag[R]** from target system, this might be the cause of issue ?
but ping to target url happening successfully

***target-IP*** > ***src-IP***: **Flags [R]**, cksum 0x9099833 (correct), seq 1169897592, win 0, length 0

[2021-01-20 13:16] violetagg commented on #1469
Yes this definitely is the reason for the `connection reset by peer`. Did you check the logs on the remote peer?

[2021-01-20 13:23] rishuzz commented on #1469
@violetagg Actually we did , but it seems requests are not reaching to target tomcat.. might be firewall issue ?
we are looking into it, will post our findings here.
Thank you @violetagg

[2021-01-20 16:28] lackovic commented on #233
Can you make some examples? I tried with `org.apache.logging.log4j.Logger` and `java.util.logging.Logger` but neither of them produced any output.

[2021-01-20 16:43] TheConen commented on #233
The way I understood it is that it is supposed to be the category/package where you want to enable logs - I wanted to enable logs for the HttpClient, so it is `reactor.netty.http.client.HttpClient`. But honestly, I have no idea, I did some trial and error, found something that worked for me and was happy with it. I was very confused about that, too, because the documentation doesn't mention what a

[2021-01-20 17:23] violetagg commented on #233
@lackovic @TheConen
Let's take the example from the documentation
https://projectreactor.io/docs/netty/snapshot/reference/index.html#_wire_logger_2

The code is here
https://github.com/reactor/reactor-netty/blob/8a87ab297166d03cd1ab492842f11b421589f106/reactor-netty-examples/src/main/java/reactor/netty/examples/documentation/http/client/wiretap/custom/Application.java#L27

If I configure here http

[2021-01-20 17:31] TheConen commented on #233
I'm using Spring Boot and Lombok, so I don't have a XML configuration where I define logger names. For me it came down to `category` / `logger-name` being equal to the package name of the HttpClient if I want to log HttpClient stuff.

[2021-01-20 17:35] violetagg commented on #233
@TheConen for Spring Boot you have `logging.level.logger-name=DEBUG` in your `application.properties file.

[2021-01-20 17:47] TheConen commented on #233
Ah, I see - I was using
`logging.level.reactor.netty.http.client.HttpClient =  DEBUG`
and
`.wiretap("reactor.netty.http.client.HttpClient", LogLevel.DEBUG, AdvancedByteBufFormat.TEXTUAL);`

So if I were to use
`logging.level.mylogger =  DEBUG`
and
`.wiretap("mylogger", LogLevel.DEBUG, AdvancedByteBufFormat.TEXTUAL);`

I would get the exact same result - a log of all HTTP requests made on that Http

[2021-01-20 18:13] violetagg commented on #233
yep

[2021-01-20 18:16] TheConen commented on #233
Thanks a lot, now I actually understand what I did - seems like I initially got it to work by chance and trial and error.

[2021-01-20 19:35] lackovic commented on #233
@TheConen @violetagg that was helpful, thank you both (I am also using _Spring Boot_ and _Lombok_).

[2021-01-21 09:26] rschlick commented on #1431
@violetagg It's hard to provide you an reproductible example. The DNS resolution fails sometimes, sometimes not.
We have this problem since Spring Boot 2.4 (and Netty 4.1.xx) and I think many people using Spring Boot will have this problem.
For now, WebClient is able to resolve DNS on my local Windows 10 machine, but fails in Docker container **_adoptopenjdk:11.0.7_10-jre-hotspot_**

[2021-01-21 09:27] violetagg commented on #1443
@yangbongsoo Can you provide more information how you configure the server and the client? Can you check this one also https://github.com/reactor/reactor-netty/issues/1054? If you switch to OpenSsl is there any difference?

[2021-01-21 09:41] violetagg commented on #1431
@rschlick Can you enable the tracing for the failed DNS resolutions, so that at least we have some logs in order to investigate that?

https://projectreactor.io/docs/netty/release/reference/index.html#_host_name_resolution_2

[code]

[code]

and in the `application.properties` enable the DEBUG level for that particular logger -> `logging.level.somelogger=DEBUG`

[2021-01-21 09:43] violetagg commented on #1431
@rschlick Provide the full logs related to the failed resolution not only the exception, also please try to take a tcp dump.

[2021-01-21 13:12] rschlick commented on #1431
@violetagg Thanks for your help.
What I understand:

On my windows local machine, the default dns resolver is not working, I must use : `.resolver(DefaultAddressResolverGroup.INSTANCE)`
On the docker container, the DefaultAddressResolverGroup is not working but the default one (without specificate any resolver) it's working.

So now, with .resolver(spec -> spec.trace("somelogger", LogLevel.DEBUG))

[2021-01-21 18:00] leleueri opened #1471 "'$PERSISTENT_CHANNEL' Exception when ReactorNetty is used in multi classloader project"
Hi,

I'm currently using reactor-netty (0.9.11.RELEASE) through SpringData R2DBC (v 1.1.0-RELEASE).
I'm facing an issue in my projet with the ReactorNetty class.

Here is some Context. My application use a plugin system, each plugin has this own classloader that inherit from the "main classloader". The main classloader uses netty in order to expose HTTP Endpoint. I need to implement two different

[2021-01-22 07:48] kushagraThapar opened #1472 "PooledConnectionProvider is creating multiple channel pools for same http client and address"
After upgrading from reactor-netty 0.9.15.RELEASE to 1.x.x (tested 1.0.3) as well, we are seeing `PooledConnectionProvider` is creating multiple channel pools from same http client and for same remote addresses.

## Expected Behavior
For the same remote address and from the same client, existing channel pools should be re-used.

## Actual Behavior
In latest version of reactor-netty, `PooledConnect

[2021-01-22 09:35] yangbongsoo commented on #1443
@violetagg

the jdk8-275 version also increases steadily to 3.84G.

![스크린샷 2021-01-22 오후 3 08 09](https://user-images.githubusercontent.com/7060510/105472464-51840100-5cdf-11eb-948e-d2bc91ef7210.png)

However, it is maintained without further increase from 3.84G.

![스크린샷 2021-01-22 오후 3 08 24](https://user-images.githubusercontent.com/7060510/105472473-53e65b00-5cdf-11eb-8104-d4264

[2021-01-22 10:41] violetagg commented on #1472
@kushagraThapar You are setting the observer every time when you send a request. For us this is a different observer, we do not check that configuration in 0.9.x, it is checked only in 1.0.x as we consider this incompatible change.
You need to move that to the main client configuration.

[code]

[2021-01-22 11:41] violetagg commented on #1472
@kushagraThapar PTAL #1473 - a test for the various configurations that can affect the connection pool creation.

[2021-01-22 12:42] violetagg commented on #1443
@yangbongsoo Actually you are observing exactly what was the issue here https://github.com/reactor/reactor-netty/issues/1054#issuecomment-610861166

So either configure the security directly with `HttpClient.secure` or use `HttpClient.from`

[2021-01-22 12:54] yangbongsoo commented on #1443
thank you to advise.
I'll do stress test using below code.
after that I'll report to you.
[code]

[2021-01-22 17:57] kushagraThapar commented on #1472
@violetagg - thanks for adding the tests cases, it helps in understanding this behavior.
However, as you see, in the `observe` API call, we update the time metrics for each request, I am not sure how can I set this configuration when setting up the client as I don't have access to `request` object during client creation.

[2021-01-25 03:28] cea5 opened #1474 "when to add MQTT broker/client feature?"
## Motivation
[https://github.com/netty/netty/tree/4.1/codec-mqtt](https://github.com/netty/netty/tree/4.1/codec-mqtt)
netty supports mqtt

[2021-01-25 09:09] dwlabcube commented on #1201
hey mates
i don't want to be unpolite, but if the next milestone release with this fix included could be released as soon as possible i'd be super happy about it :-)

[2021-01-25 11:04] dnedealcov commented on #233
I'm struggling to get a whole body from the requests/responses since earlier netty.HttpClient versions.

The below indeed return a body and some details.
[code]

But for a reason the logger splits in to parts large bodies. Is there a way to set the logger to return the whole body?

Thank you!

[2021-01-25 12:11] violetagg commented on #233
This feature is `wire` logger because it logs immediately the packages received from the wire, it is not meant to collect and store the data in the memory and then to log it.

[2021-01-25 12:18] dnedealcov commented on #233
This is strange because in earlier builds (before 1.0.3) you could provide your own logger class and override the format() method, to have your own formatted output. But, for a reason I do not understand you could format only the first part for the message received, while the second was formatted by the default logger.
What I'm trying to say is that you could listen to the wire, gather the data an

[2021-01-25 12:21] dnedealcov commented on #233
And one more thing, HttpClient uses a Logger class of its own, which uses a ByteBuf (buffer), so why not have an Api to modify the buffers size/capacity?

[2021-01-25 12:33] violetagg commented on #233
@dnedealcov Which release do you mean? - 0.9.x releases? or 1.0.0-1.0.2 releases?
Also did you use `wiretap` or you were adding your own `LoggingHandler`?

If you were adding your own `LoggingHandler` then you can still do that using `doOnChannelInit` callback.

[2021-01-25 13:01] dnedealcov commented on #233
0.9.7.RELEASE to be exact.

Client:
`public HttpClient httpClient() {
    return HttpClient.create()
        .tcpConfiguration(
            tc -> tc.bootstrap(
                b -> BootstrapHandlers.updateLogSupport(b, new BPSHttpLogger(HttpClient.class))));
  }`

Logger:
`public class MyHttpLogger extends LoggingHandler {

  public MyHttpLogger(Class<?> clazz) {
    super(clazz);
  }

  @Override

[2021-01-25 13:19] violetagg commented on #233
@dnedealcov Yep definitely you have to use `doOnChannelInit` callback (The code below is adding a handler to the bootstrap).
https://projectreactor.io/docs/netty/release/api/reactor/netty/tcp/TcpClient.html#bootstrap-java.util.function.Function-

[code]

so you have to do

[code]

[2021-01-25 13:25] violetagg commented on #1201
@dwlabcube This issue is marked `for/spring-cloud-gateway` because the fix is in `Spring Cloud Gateway`.
https://github.com/spring-cloud/spring-cloud-gateway/pull/2093

Please communicate with Spring Cloud Gateway for the release dates.

I'm closing this issue.

[2021-01-25 13:25] #1201 closed

[2021-01-25 13:29] violetagg commented on #1331
@ukayani I'm closing this issue, we can reopen it if the fix in Spring Cloud Gateway is not enough.

[2021-01-25 13:29] #1331 closed

[2021-01-25 14:47] PyvesB opened #1477 "Chunk data from parallel requests is occasionally swapped around"
We've built an application using the spring-webflux framework which listens to inbound HTTP requests and forwards the received bodies to several destinations on the outbound. You can view it as a "one to many" data mapper. On the inbound, we're using a WebFlux handler and on the outbound we're using the reactive WebClient, both of which are built on top of reactor-netty. The handled payloads typic

[2021-01-25 14:53] OlegDokuka commented on #1477
No conclusion just thoughts - sounds like something related to ByteBuff and can actually be a netty issue itself.

[2021-01-25 16:09] violetagg commented on #1477
@PyvesB Is it possible for you to test with the latest releases so that we are sure this is not fixed (Netty/Reactor Netty)

[2021-01-25 16:11] OlegDokuka commented on #1477
I would also check with different netty version to reduce the scope

[2021-01-25 17:25] PyvesB commented on #1477
As part of our investigation we did actually update the aforementioned dependencies several times, I only indicated the latest versions we were running. Here are the three version pairs we tried, all of which had the problem:
Netty: 4.1.45.Final, 4.1.51.Final, 4.1.54.Final
Reactor-Netty: 0.9.5.RELEASE, 0.9.11.RELEASE, 1.0.1

Admittedly, we never performed a detailed analysis as described here with

[2021-01-25 17:29] violetagg commented on #1472
@kushagraThapar Can you use Reactor Context + Netty attributes?

[code]

With
`.contextWrite(Context.of("key", "value1"))`
`.contextWrite(Context.of("key", "value2"))`

you can propagate the request
then on CONNECT/AQUIRE you can add a channel attribute and then access it when you need it

[code]

More about Reactor Context
https://projectreactor.io/docs/core/release/reference/#context

[2021-01-25 17:48] violetagg commented on #1477
@PyvesB As you reproduce this with `1.0.1`, I do not see anything relevant to this use case in the fixes for `1.0.2`/`1.0.3`.
For Netty I cannot comment there are a lot of fixes and the current version is `4.1.58.Final`.
For `0.9.x` releases -> I don't think it is relevant but there is a regression in `0.9.10` that is fixed in `0.9.14` (`1.0.1`)

[2021-01-25 19:08] kushagraThapar commented on #1472
Thanks @violetagg , it looks very promising, I will use it and will let you know if I run into any issues.
Hopefully, this should solve our problem.

[2021-01-26 07:58] violetagg commented on #1472
@kushagraThapar LGTM

[2021-01-26 09:23] kushagraThapar commented on #1472
Thanks @violetagg  - we are good with this, closing this issue, thanks again for your help!

[2021-01-26 09:23] #1472 closed

[2021-01-26 09:42] violetagg commented on #1474
@cea5 I'll check that

[2021-01-26 09:43] violetagg commented on #1469
@rishuzz Were you able to verify whether it is an issue with the firewall?

[2021-01-26 09:44] violetagg commented on #1443
@yangbongsoo I'll be interested in the results when you have them. Thanks.

[2021-01-26 10:03] qimeinajie commented on #1062
@kiwi-field I have the same problem, may I ask how to solve it

[2021-01-26 10:07] qimeinajie commented on #1062
@kiwi-field 帅哥帅哥，请问下最后是如何解决的，升级版本就可以了么？我升级到2.2.X之后又有其他的问题

[2021-01-26 10:15] qimeinajie commented on #1062
@violetagg I have the same problem, may I ask how to solve it

[2021-01-26 10:20] qimeinajie commented on #1062
@violetagg The problem is that a client request is content-type multipart/form-data and contains files. When forwarded to an upstream service, the server returns a status code of 400, while Springcloud-gateway returns a status code of 500

[2021-01-26 10:21] violetagg commented on #1062
@qimeinajie Please create a new issue and describe the problem there.

[2021-01-26 10:28] qimeinajie opened #1478 "form-data Connection has been closed BEFORE response, while sending request body"
#1062 Like this。

springboot version is 2.1.7.RELEASE
spring cloud version is Greenwich.SR3

The problem is that a client request is content-type multipart/form-data and contains files. When forwarded to an upstream service, the server returns a status code of 400, while Springcloud-gateway returns a status code of 500

[2021-01-26 10:31] violetagg commented on #1478
@qimeinajie What is your target server (Tomcat/Spring MVC/Spring WebFlux etc.)? What the configuration on the target server for the multipart upload? (for example Tomcat has default upper limit)

[2021-01-26 10:37] qimeinajie commented on #1478
target server Tomcat,springboot version is 2.1.4
![image](https://user-images.githubusercontent.com/14105573/105834113-07fc2480-6005-11eb-9544-e760dd9e97cc.png)

[2021-01-26 10:40] violetagg commented on #1478
So `spring.servlet.multipart.max-file-size=10MB`, what's the size of the file that you try to send to Tomcat? Are there any exceptions on Tomcat server?

[2021-01-26 10:46] qimeinajie commented on #1478
@violetagg Limit is playing a role, also take the initiative to throw exceptions, the target service is normal, back to 400, the question now is whether springcloud - gateway forwarding the request, but returned to the 500, so the problem is to find you, or I should go to https://github.com/spring-cloud/spring-cloud-gateway/issues to create issue over there

[2021-01-26 10:49] violetagg commented on #1478
So your question is why SCG does not return 400 back to the client but transforms it to 500, is that correct?

[2021-01-26 10:50] qimeinajie commented on #1478
@violetagg Yes

[2021-01-26 10:51] violetagg commented on #1478
Then we should discuss this with SCG

[2021-01-26 11:02] elibus commented on #641
Same problem here. We have two servers calling a load balancer VIP and they both get a connection timeout error about once a day. We have noticed that this happens at about the same time.

[2021-01-26 18:03] violetagg commented on #1478
@qimeinajie I was able to track this from SCG to Tomcat and then to what happens in Reactor Netty.
I'm working on a PR for Reactor Netty. Once I'm ready I'll provide a PR.

[2021-01-26 23:08] guicalman commented on #233
@dnedealcov Thank you so much for this answer, I am trying to add a custom LoggingHandler, but I couldn´t find the way of using the doOnChannelInit callback, could you please help me, giving an example of the syntax to replace the deprecated code show bellow.

`HttpClient httpClient = HttpClient
                .create()
                .tcpConfiguration(
                        tc -> tc.bootstrap

[2021-01-27 02:04] JonathanGiles opened #1479 "Allow setting HttpHeaders on send without copying"
In my use case, I have a HTTP header class in my library that contains all headers I want to send on an outgoing request, but I am manually copying them into the request by calling `HttpClientRequest.addHeader(CharSequence, CharSequence)`. This feels like unnecessary work, as I would much rather wrap my HTTP header class with an adapter that extends from `io.netty.handler.codec.http.HttpHeaders`,

[2021-01-27 02:41] qimeinajie commented on #1478
Thank you very much and good luck，I will wait patiently for your good news

[2021-01-27 05:05] dandamudi1414 commented on #1469
@violetagg  - Yes and our network team is checking on this and seems to be an issue with the firewall
Thank you once again

[2021-01-27 06:22] violetagg commented on #1469
@dandamudi1414 Thanks. Let me close this, if it is needed we can reopen it.

[2021-01-27 06:22] #1469 closed

[2021-01-27 06:45] violetagg commented on #233
@guicalman With the example below

[code]

I receive such log (the logger is the one that I specified above `reactor.netty.mylogger`)

[code]

[2021-01-27 06:54] asarkar commented on #233
Something tells me that so many comments on a closed ticket = documentation needs update.

[2021-01-27 06:55] violetagg commented on #1479
@JonathanGiles We need to guarantee that the headers and their values are validated. When you provide `io.netty.handler.codec.http.HttpHeaders` we do not know the exact implementation behind it, because of that we always copy the headers and validate them.

[2021-01-27 06:57] violetagg commented on #233
@asarkar We love PRs ;)

[2021-01-27 08:18] JonathanGiles commented on #1479
Thanks for getting back to me so quickly! Could you speak to what validation entails in this context, and why this is necessary? I would have assumed that Netty itself would perform this validation, but my understanding is extremely limited in this area, so I look forward to learning more! Thanks.

[2021-01-27 08:45] violetagg commented on #1479
@JonathanGiles

When we create the Netty request we enable the headers validation
https://github.com/reactor/reactor-netty/blob/91c651c15e8c39140c784078b4f3a32d4490efb4/reactor-netty-http/src/main/java/reactor/netty/http/client/HttpClientOperations.java#L148

https://github.com/netty/netty/blob/1e87c711b4404299fe140eabffa9be3e2ada6565/codec-http/src/main/java/io/netty/handler/codec/http/DefaultHtt

[2021-01-27 10:13] PyvesB commented on #1477
@violetagg @OlegDokuka I spent some time updating dependencies and temporarily pulled out the single-threading workaround from our application. I can confirm that the problem still occurs with reactor-netty 1.0.3 and netty 4.1.58.Final.

[2021-01-27 12:05] violetagg commented on #1477
@PyvesB From the logs that you have can you tell us the channel ids for both requests and the even loop names?
i.e.
`... [reactor-http-nio-3] ... - [id: 0x9bd2b9b0, ...] ...`

[2021-01-27 13:00] violetagg commented on #1478
@qimeinajie Will you be able to test the current Reactor Netty 1.0.4-SNAPSHOT. It is available from https://repo.spring.io/snapshot

[2021-01-27 13:34] violetagg commented on #344
In the documentation it is specified that `OpenSsl` will be preferred when available on the system
https://projectreactor.io/docs/netty/release/reference/index.html#_ssl_and_tls_3

[2021-01-27 13:34] #344 closed

[2021-01-27 13:38] violetagg commented on #421
#1480 Schedules the channel.read operation once the headers are sent, so that error responses can be received immediately instead of waiting to send the whole body.

[2021-01-27 13:38] #421 closed

[2021-01-27 13:45] violetagg commented on #81
This issue is not relevant anymore as we did a refactoring around writing/flushing in 0.8.x and 0.9.x.
Flushes are scheduled now.
However if this is still not enough there is an API for explicit flushing
https://projectreactor.io/docs/netty/release/api/reactor/netty/NettyOutbound.html#send-org.reactivestreams.Publisher-java.util.function.Predicate-

[2021-01-27 13:45] #81 closed

[2021-01-27 14:10] violetagg commented on #1471
@leleueri I'm wondering whether we can use `io.netty.util.AttributeKey#valueOf(java.lang.String)`

[2021-01-27 14:28] PyvesB commented on #1477
Request 1: `... [or-http-epoll-2] ... - [id: 0x4840d836, ...] ...`
Request 2: `... [or-http-epoll-1] ... - [id: 0x50755c4a, ...] ...`

We didn't have those logs enabled at the time. Here's the new log message we get using the latest dependency versions I mentioned in my previous message.
[code]

[2021-01-27 14:59] guicalman commented on #233
@violetagg Thank you so much for the example, it worked perfectly fine for me!!!

[2021-01-27 15:20] guicalman commented on #233
@violetagg I have an additional question. Now I am getting in the logs the jsons as Content-Encoding: gzip. Is ther a way to define de expected content encoding type, at the moment of creating httpClient?

[2021-01-27 15:25] violetagg commented on #233
@guicalman Please ask your questions on [Gitter](https://gitter.im/reactor/reactor-netty)

[2021-01-27 15:32] violetagg commented on #1477
But this is the server `io.netty.handler.codec.http.HttpServerCodec`. Did I understand wrong that the problem is with the client?

[2021-01-27 15:46] PyvesB commented on #1477
Nope, you understood correctly, I just pulled out the wrong log line. This one should be correct:
[code]

[2021-01-27 15:54] violetagg commented on #1477
OK thanks
From the logs it appears that we have two different connections: `id: 0x4840d836` and `id: 0x50755c4a`. The connections do not share one and the same SslHandler, every time when we establish a connection to the remote peer we add to the channel pipeline a new SslHandler instance.
If you are can enable `reactor.netty.tcp.ssl.client.debug` this will add wire logger for the SSL traffic so t

[2021-01-27 19:57] alechenninger opened #1482 "When Expect: 100-continue is set, HttpClient responds with 100 continue from server instead of sending body after 100 continue"
## Expected Behavior

When making a request with HttpClient that includes Expect: 100-continue header
The request should only send the header
And when the server responds with 100 continue
It should send the body
And the client should return the servers response

## Actual Behavior

The client sends both the header and the body, and returns the servers initial 100 continue response as the client-s

[2021-01-28 07:15] violetagg commented on #233
I updated the documentation with various lifecycle callbacks supported by the servers/clients #1481
https://projectreactor.io/docs/netty/snapshot/reference/index.html#_lifecycle_callbacks_4

For any further questions please use [Gitter](https://gitter.im/reactor/reactor-netty)
Or a clarification in the documentation is needed please open another issue.

[2021-01-29 07:55] dnedealcov commented on #233
Hi @violetagg ,

[code]

Maybe I'm missing something, but the above does not work for me, as if the logger is not registered in the pipeline?

`29-01-2021 09:51:22.754 [reactor-http-nio-2] DEBUG r.n.http.client.HttpClientOperations.debug` and not .mylogger

[2021-01-29 08:03] leleueri commented on #1471
Hi @violetagg ,

I missed this one, indeed having a static method that checks first is the AttributeKey exists before creating a new one will be better.

I will try it and open a PR if it is ok.

[2021-01-29 08:13] violetagg commented on #233
@dnedealcov Please ask your questions on [Gitter](https://gitter.im/reactor/reactor-netty)

[2021-01-29 08:16] violetagg commented on #1471
This will be great!

[2021-01-29 13:21] PyvesB commented on #1477
We did manage to gather the data, but it was somewhat tricky to do in our production environment, hence the delay in my response. :)

After adding the wire logger and performing a tcpdump in parallel, the encrypted bytes logged by Java for a request that got a 400 error back are identical to the TCP payloads captured by the tcpdump.

[2021-01-29 14:04] violetagg commented on #1477
@PyvesB just if you are able to confirm... Do you see for these two connections (eventually in the logs)

`... [reactor-http-nio-2] DEBUG reactor.netty.tcp.SslProvider - [id: 0xf956eac5] SSL enabled using engine ...`

[2021-01-29 15:59] PyvesB commented on #1477
Yep, I can see them, `SSL enabled using engine SSLEngineImpl and SNI ***`

How can I tell for sure? Though we haven't overridden reactor-netty defaults in this area.

[2021-01-30 01:25] JamesChenX opened #1485 "WebsocketServerOperations emits a close frame with an invalid status code -1 when a ws client closes without a status code"
## Expected Behavior

WebsocketServerOperations should create a WebSocketCloseStatus with a status code 1005 (meaning `NO_STATUS_CODE`) when receives an empty close frame (because it's possible for a WebSocket client to close without a status code)

## Actual Behavior

WebsocketServerOperations create a WebSocketCloseStatus with a status code -1 when receives an empty close frame (because a WebSoc

[2021-01-30 10:25] idikshit opened #1486 "Application fails to handle traffic when HTTP2 Cleartext response is sent from Server"
Hi, we are using Spring Cloud Gateway with Reactor Netty, we are running load test with HTTP2 ClearText traffic to test a scenario where the request is rejected at the server instead of routing the request to back end service. According to our observations the Memory and CPU usage of the application spiked and application performance degraded.
We tested the similar scenario with HTTP 1.1 enabled a

[2021-02-01 07:33] violetagg commented on #1486
@idikshit Please provide more information for the load test. Do you use H2C prior-knowledge or H2C upgrade?

[2021-02-01 07:53] idikshit commented on #1486
@violetagg We are using H2C prior-knowledge for load test.

[2021-02-01 07:59] violetagg commented on #1486
and can you provide more information for the load test so that I will be able to reproduce the issue?

[2021-02-01 08:12] idikshit commented on #1486
@violetagg We are using httpgo client to send traffic at 5k TPS with appropriate request body which are rejected at Server, we see the performance of the above attached application good for nearly 15-20 min, then there is a sudden memory spike and the performance of the application degrades.

[2021-02-01 12:05] violetagg commented on #1486
Can you tell me what you mean with `appropriate request body`?

[2021-02-01 12:18] #1485 closed

[2021-02-02 09:50] qimeinajie commented on #1478
Thank you very mush!
But I still have some problems：
I added some configuration to the pom.xml file
        <dependency>
            <groupId>io.projectreactor.netty</groupId>
            <artifactId>reactor-netty</artifactId>
            <version>1.0.4-SNAPSHOT</version>
        </dependency>

The following error was reported when the container started

java.lang.IllegalStateException: Failed to

[2021-02-02 09:51] qimeinajie commented on #1478
![image](https://user-images.githubusercontent.com/14105573/106582689-3b97fb00-657f-11eb-8f60-4cf55caad404.png)

[2021-02-02 10:20] violetagg commented on #1478
@qimeinajie It seems that you use older Spring Boot with newer Reactor Netty.
Reactor Netty 1.0.x is compatible with Spring Boot 2.4.x.
Which Spring Boot version do you use?

[2021-02-02 12:06] idikshit commented on #1486
@violetagg We are sending json request body for each request according to the API operation (Ex - PUT, PATCH, POST). The requests having no json request body (Ex - GET API operation) work fine but the application crashes for the API operations having request body... the memory spikes and application crashes. We have used a work-around and we release the request body resources every time we return

[2021-02-02 13:54] violetagg commented on #1479
@JonathanGiles Were you able to look at those?

[2021-02-02 20:28] JonathanGiles commented on #1479
Thanks for clarifying with the many useful links. I understand the point you are making - that deferring the validation to netty, by copying all headers into its implementation, provides safety to the user. It is unfortunate as the copying is an extra cost that I would rather not pay, but so be it. Thanks for your help!

[2021-02-03 07:08] #1479 closed

[2021-02-03 07:22] JamesChenX opened #1489 "Add an option to allow developers to enable thread affinity of Netty if net.openhft.affinity is on classpath"
## Motivation

1. Make full use of CPUs cache
2. Reduce context switching

## Desired solution

Add an option to allow developers to enable thread affinity of Netty if net.openhft.affinity is on classpath

[code]

Reference: https://github.com/netty/netty/wiki/Thread-Affinity
## Considered alternatives

No.

## Additional context

No.

[2021-02-03 08:02] violetagg commented on #1489
@JamesChenX You should be able to use the current API

[code]

https://projectreactor.io/docs/netty/release/api/reactor/netty/transport/Transport.html#runOn-io.netty.channel.EventLoopGroup-

[2021-02-03 08:06] JamesChenX commented on #1489
OK, it's fine for us to use the APIs, and I just wanted to confirm whether you will do it so that we don't reinvent the wheel. Thanks.

[2021-02-03 08:20] JamesChenX commented on #1489
@violetagg . One more enhancement point, we would like to specify the number of select (acceptor) threads and the number of workers while using thread affinity. But there is no way for that now, could you provide a method like `.runOn(acceptorEventLoopGroup, workerEventLoopGroup)`?

[2021-02-03 08:34] violetagg commented on #1489
@JamesChenX You can do it like this:

[code]

[2021-02-03 08:39] JamesChenX commented on #1489
@violetagg it can work but the code isn't that elegant compared to `runOn(acceptorEventLoopGroup, workerEventLoopGroup)`. Anyway, thanks for your continuous support!

[2021-02-03 08:39] #1489 closed

[2021-02-04 09:55] violetagg commented on #1443
@yangbongsoo Let me close this one. If there is still an issue, we can reopen it.

[2021-02-04 09:55] #1443 closed

[2021-02-04 10:16] idikshit commented on #1486
@violetagg Could you please confirm if it is an issue/ bug?

[2021-02-04 11:31] violetagg commented on #1486
@idikshit I tried to reproduce that but without success, can you provide some setup for the client that I can use to reproduce this?

[2021-02-04 13:26] violetagg commented on #1482
@alechenninger I agree that we have an issue with returning 100 continue response as HttpClientResponse instead of the real response. I'm working on a fix about that.

However reading the specification there is not explicitly written that the client need to wait for the server response.
https://tools.ietf.org/html/rfc7231#section-5.1.1

[code]

[2021-02-06 09:32] idikshit commented on #1486
@violetagg We are using Kubernetes environment to deploy our application, please find the attached zip file for vegeta client setup in Kubernetes environment and appropriate commands to reproduce the issue.
[vegeta_demo.zip](https://github.com/reactor/reactor-netty/files/5936565/vegeta_demo.zip)

[2021-02-06 10:28] guyeu opened #1497 "Build Source Error, No matching variant of project :reactor-netty-core was found."
[code]

[2021-02-06 10:42] violetagg commented on #1497
@guyeu Do you build with JDK 8?

[2021-02-07 02:07] guyeu commented on #1497
Actually I'm using JDK 15, don't you support JDK 8+?

[2021-02-07 03:38] guyeu commented on #1497
Now I'm using JDK 8, there is new problem:

[code]

This is test failure stacktrace:

[code]

Maybe I shouldn't compile this project using mac m1. I'll close this issue, but may update my process here if I built it success.

[2021-02-07 03:38] #1497 closed

[2021-02-08 01:22] edgarSang opened #1498 "Connection prematurely closed BEFORE response - server sent RST"
Sometimes an "Connection prematurely closed BEFORE response " error occurs.

My reator-netty version is 0.8.16 ~ (I tested it with various versions. In the 0.8.xx version,Since 0.8.16)

And Spring version is 5.1.14
(call API with webclient)

## Expected Behavior
Api call From my server(TOMCAT) to Remote Api Tomcat server. status 200 ok

## Actual Behavior
When my tomcat server request to API serve

[2021-02-08 03:36] zhchen-zhchen opened #1499 "connection closed after request is handled"
## Expected Behavior

## Actual Behavior

I am adding the connection provider to configure `maxIdleTime` and `maxLifeTime`. I expected to see some trace logs about the connections that would be terminated after the threshold I set. But during the debugging, it seems the connection is disconnected after getting the response from the remote peer.

## Steps to Reproduce

[code]

## Trace Log
[code]

[2021-02-08 07:15] violetagg commented on #1498
@edgarSang Reactor Netty `0.8.23.RELEASE` is the latest release for 0.8.x. Also 0.8x is not supported anymore. Please Upgrade either to the latest 0.9.x release or 1.0.x release.
https://github.com/reactor/reactor-netty/releases

[2021-02-08 07:30] violetagg commented on #1499
@zhchen-zhchen I do not see anything wrong with the logs. I see the connection is returned to the pool and is in inactive state.
`Channel cleaned, now 0 active connections and 1 inactive connections`

`maxIdleTime` property will be checked when Reactor Netty acquires a connection from the pool. If this timeout is reached we will close the connection.
`maxLifeTime` property will be checked on relea

[2021-02-08 07:37] zhchen-zhchen commented on #1499
@violetagg Thanks for the prompt reply.

Does the connection seem to be closed when I request again (with flag `F`)?
[code]

When I change Provider from `elastic` to `fixed` with `1` connection, those `Flags [F.],` disappeared and seems the connection is reused.

[2021-02-08 08:04] violetagg commented on #1499
@zhchen-zhchen Yes that's correct.
When you use `elastic` the pool does not wait for a free connection, if there aren't free connections in the pool, but creates immediately a connection. This means that it may happen that we will have a lot of idle connections if at some point the demand for connections drops.
With `fixed` with `1` the pool will always wait for a free connection so the connection

[2021-02-08 09:17] zhchen-zhchen commented on #1499
@violetagg
Thanks very much for the explanations. Please allow me to ask few questions

I tried under the `elastic` configuration.

When I continuously sent multiple requests (3-5), I found they use the same connection (I didn't see the `F`flag from TCP dump)

If I made the request and tried to make the request again after a few seconds.

The TCP dump of the second request shows `F` flag.

If that

[2021-02-08 09:25] violetagg commented on #1499
@zhchen-zhchen Let's discuss your questions on [Gitter](https://gitter.im/reactor/reactor-netty). Wdyt?

[2021-02-08 09:35] zhchen-zhchen commented on #1499
@violetagg Thanks

[2021-02-08 10:12] zhchen-zhchen commented on #1499
@violetagg sorry for the mistake. let me close this issus.

[2021-02-08 10:12] #1499 closed

[2021-02-08 11:16] patpatpat123 opened #1500 "Webflux Webclient - Error when sending HTTP2 requests as client to a HTTP2 enabled server"
Small question regarding an issue while sending HTTP2 request to a server that is HTTP2 enabled please

**Caused by: io.netty.handler.codec.http2.Http2Exception: First received frame was not SETTINGS. Hex dump for first 5 bytes: 485454502f**

The setup:
On server side, a Spring Webflux application 2.4.2, where http2 with mTLS is enabled. The java version is 11.
[code]

I know it is HTTP2 successfu

[2021-02-08 12:48] violetagg commented on #1471
@leleueri Were you able to take a look at this?

[2021-02-08 13:33] violetagg commented on #1500
@patpatpat123 Can you provide a reproducible example? Or at least can you enable the wire log in order to see what kind of response was returned by the server?
This error is returned either the server does not support HTTP/2 or for some reason it returned HTTP/1.x response

[2021-02-08 13:40] patpatpat123 commented on #1500
Hello @violetagg ,

Thank you for taking a look at this.
Yes, both clients and servers are 2.4.2. I tried with 2.5 M1, still reproducible.

And I am very sure the server is HTTP2 enabled, other clients such a curl, go clients, call it on a daily basis, and I got their confirmation they see HTTP2, so do I in my server log.

Will try to add an example!

Good day

[2021-02-08 14:39] #1482 closed

[2021-02-08 14:44] violetagg commented on #1478
@qimeinajie Were you able to test the fix?

[2021-02-08 17:41] vipul-mykaarma commented on #1498
we are still facing the same issue in 1.0.3

[2021-02-08 17:46] violetagg commented on #1498
@vipul-mykaarma Do you have the use case above?

[2021-02-08 18:43] violetagg commented on #65
@nebhale @simonbasle I believe this can be achieved with the lifecycle callbacks.
https://projectreactor.io/docs/netty/snapshot/reference/index.html#_lifecycle_callbacks_4

[2021-02-08 18:43] #65 closed

[2021-02-08 18:48] violetagg commented on #101
@rstoyanchev I believe we do that
https://github.com/reactor/reactor-netty/blob/12522fff9aacabc7aabadb7c0ed156aa542e6bcc/reactor-netty-http/src/main/java/reactor/netty/http/server/HttpServerOperations.java#L685-L693

[2021-02-08 18:48] #101 closed

[2021-02-08 19:23] violetagg commented on #360
I cannot reproduce this with the current `1.0.4-SNAPSHOT` version. Test case will be added with PR #1501 in order to ensure that `DisposableServer.isDisposed()` works as expected.

[2021-02-08 19:23] #360 closed

[2021-02-08 20:46] leleueri commented on #1471
Sorry @violetagg, I was quite busy last week, I will try to look at it this week.

[2021-02-08 21:21] violetagg commented on #1471
Thanks

[2021-02-09 01:36] edgarSang commented on #1498
@violetagg Why did this happen? Just version? Even with a TCP dump I can't understand. Any explanation would be appreciated.

[2021-02-09 05:27] vipul-mykaarma commented on #1498
@violetagg In our use case the error comes at high load out of 15,000 requests fired in 5 requests we see the error

[2021-02-09 06:13] vipul-mykaarma commented on #1498
Stack Trace : nested exception is reactor.netty.http.client.PrematureCloseException: Connection prematurely closed BEFORE response
	at org.springframework.web.reactive.function.client.ExchangeFunctions$DefaultExchangeFunction.lambda$wrapException$9(ExchangeFunctions.java:137)
	Suppressed: reactor.core.publisher.FluxOnAssembly$OnAssemblyException:
Error has been observed at the following site(s):

[2021-02-09 06:26] violetagg commented on #1498
@vipul-mykaarma Please open a new issue and we will track your use case there

[2021-02-09 06:27] violetagg commented on #1498
@edgarSang In your tcp dump do you see RST? I asked you to upgrade because we have several fixes related to this exception.

[2021-02-09 08:37] violetagg commented on #1486
@idikshit I'll take a look at this. Thanks a lot.

[2021-02-09 10:10] patpatpat123 commented on #1500
Hello @violetagg ,

https://github.com/patpatpat123/http2notworkingmaybe

In this repo, there is a minimal reproducible example.
Unfortunately, I am not able to provides the secrets, such as the server's server keystore, server trust store, keystore used by server to talk to client.

Vice versa, not able to provide the client keystore, client trust store, keystore used by client to talk to server.

[2021-02-09 10:11] vipul-mykaarma opened #1502 "Connection prematurely closed BEFORE response in ver : 1.0.3"
sometimes we get the following error: Connection prematurely closed BEFORE response.
In our production environment.

## Expected Behavior
We should consistently get a response from 3rd party API's that we hit using Web client

## Actual Behavior

It's our hunch that under high load we observe the following error(the error is intermitted thus we believe that its under high load)  :  Connection prem

[2021-02-09 10:13] vipul-mykaarma commented on #1502
On a side note : We also took advantage of the micrometer metrics exposed by netty-reactor . Our max connections never cross 70 .based on 2-3 days of data. (we recently switched from traditional rest template to spring-web client

[2021-02-09 11:49] violetagg commented on #1502
@vipul-mykaarma Do you think you will be able to take a tcp dump, so that we can see which party closes the connection?
In most cases `Connection prematurely closed BEFORE response` means the remote party closed the connection for some reason.

[2021-02-09 11:51] violetagg commented on #1500
@patpatpat123 Thanks! I'll take a look.

[2021-02-09 11:56] vipul-mykaarma commented on #1502
@violetagg  tcp dump from our end or 3rd party end ?

[2021-02-09 14:29] vipul-mykaarma commented on #1502
[code]

[2021-02-09 14:29] vipul-mykaarma commented on #1502
tcp dump of one of the failed messages @violetagg

[2021-02-09 20:43] leleueri commented on #1471
Hi @violetagg

I have just create the PR #1503 .
I tried to write a simple Unit Test to validate the fix but unfortunately I was no able to write it. :(

I tested this fix on my project and the issue is solved.

[2021-02-10 00:58] edgarSang commented on #1498
[code]

[code]

This is My error log and TCP client setting in my front tomcat server.

[2021-02-10 07:51] violetagg commented on #1471
@leleueri Thanks for the PR! I added one suggestion there.

[2021-02-10 08:02] violetagg commented on #1498
@edgarSang I meant whether you have some logs on the target server -> `[id: 0x1f81d3ea, L:0.0.0.0/0.0.0.0:51648 ! R:[apiserver]v1/bbb/www:80]`. So that we can understand why the target server closes the connection (as it is in the tcp dump, the RST is sent by the target server)

[2021-02-10 08:27] nikban95 opened #1505 "Capability to log response headers in access logs"
Capability to log response headers in access logs

## Motivation
Currently below fields can be logged in access logs:
zonedDateTime, remoteAddress, method, uri, protocol, user, status, contentLength, duration, requestHeader
As responseHeader is also an important usecase to log.

This jira is to add the capability to log responseHeader

[2021-02-10 08:38] violetagg commented on #1500
@patpatpat123 Thanks again for the example!

Here are the findings:

Reactor Netty provides two types of `SslContext` configuration:

https://projectreactor.io/docs/netty/release/api/reactor/netty/tcp/SslProvider.SslContextSpec.html

You can provide either `SslContext` or `SslContextBuilder`.

When you provide `SslContextBuilder`, if it is needed we are able to extend the configuration based on th

[2021-02-10 08:39] leleueri commented on #1471
@violetagg I made the change and override my last commit.

[2021-02-10 09:36] #1471 closed

[2021-02-10 14:11] #1505 closed

[2021-02-10 14:54] violetagg commented on #1502
@vipul-mykaarma I'm sorry, I was not clear. I need [tcp dump](https://en.wikipedia.org/wiki/Tcpdump). We need to see which peer sends `[RST]` signal.

[2021-02-10 16:27] benjaminknauer commented on #1023
Copy & paste from #1455 for better google experience for people with the same issue:

Hi there :wave:

We upgraded Spring Boot to 2.4.2 with reactor-netty 1.0.3 but still encounter this issue.
Here is our upgraded configuration:

[code]

Our call with WebClient:
[code]

With debugging enabled via application.yaml:
`logging.level.reactor.netty: debug`

We now see this during application startup:
[c

[2021-02-10 16:40] violetagg commented on #1023
https://github.com/reactor/reactor-netty/pull/1455#issuecomment-776842252

[2021-02-10 21:14] patpatpat123 commented on #1500
A big thank you @violetagg , learned something new.

I chose to use the SslContextBuilder, and indeed, issue is now resolved.
I couldn't image a SslContext was static even if I provide my own http2 HttpClient!

Many thanks and good day.

[2021-02-10 21:14] #1500 closed

[2021-02-11 06:31] dineshbhagat commented on #1004
Updated url: https://github.com/reactor/reactor-netty/blob/master/reactor-netty-http/src/test/java/reactor/netty/http/client/HttpClientProxyTest.java

[2021-02-11 06:51] violetagg commented on #1500
@patpatpat123 It is nice that it is working now.

[2021-02-11 06:55] vipul-mykaarma commented on #1502
@violetagg
we tried to get tcp dump for one of the failed calls but couldnt get RST OR R. flag

2021-02-10 ; 11:20:05.387 ;  WARN ; 1 --- [r-http-epoll-95] ; r.netty.http.client.HttpClientConnect    ;  ; [id: 0x767dab8c, L:/172.18.0.4:48020 ! R:3pa.dmotorworks.com/207.186.166.144:443] The connection observed an error
reactor.netty.http.client.PrematureCloseException: Connection prematurely closed

[2021-02-11 06:55] vipul-mykaarma commented on #1502
[code]

[2021-02-11 07:00] violetagg commented on #1502
@vipul-mykaarma You have FIN from the target server. Can you check in more details why the remote peer decided to close the connection?

[code]

[2021-02-11 07:23] vipul-mykaarma commented on #1502
@violetagg I am not sure what's the ask here? . Do you want me to check in logs of target server ? It would be tough to get third party api logs

[2021-02-11 07:30] violetagg commented on #1502
@vipul-mykaarma You need to understand somehow why the remote peer closes the connection.

[2021-02-11 07:46] violetagg commented on #284
@rstoyanchev I think that this PR #1480 will address this issue. We instruct Netty to read once we send the headers.

[2021-02-11 08:27] vipul-mykaarma commented on #1502
@violetagg I read from net that Finish flag used to indicate the sender’s intention to terminate the connection to the receiving host. Sounds to me that this flag coming in tcp dump is normal or do you suggst otherwise? i.e. this flag shouldn't have come

[2021-02-11 08:45] violetagg commented on #1502
@vipul-mykaarma And in the tcp dump you see a response from the target server or not? Because the exception says connection closed before response, so it seems Reactor Netty didn't receive a response.
One good request/response would look like this: response is received and the connection is closed
![Screenshot 2021-02-11 at 10 41 10](https://user-images.githubusercontent.com/696661/107616000-dc5c7

[2021-02-11 09:39] patpatpat123 opened #1508 "Reactor Netty Http client over .protocol(HttpProtocol.H2) is blocking"
Hello Reactor Netty Team,

I might have found a blocking call using the reactive http client provided by Netty.
For a Spring Webflux 2.4.2 project, we perform regression testing with blockhound enabled.

During our regression, blockhound barked with the following:

[code]

Therefore, we started to investigate (and investigating blocking call is not easy, but that is a topic for another day 😛)

We

[2021-02-11 09:48] violetagg commented on #1508
@patpatpat123 I've already proposed a change to Netty https://github.com/netty/netty/pull/11009
As a workaround you can add your own BlockHound integration see the issue https://github.com/netty/netty/issues/11004

Closing this issue and marking `for/netty`

[2021-02-11 09:48] #1508 closed

[2021-02-11 09:54] violetagg commented on #1508
@patpatpat123 Another workaround would be to use the new functionality for `warmup` that will load the DNS resolver before the first request. https://projectreactor.io/docs/netty/release/reference/index.html#_eager_initialization_4

[2021-02-11 10:19] benjaminknauer opened #1509 "First Request is extremy slow (13 sec) with Spring Boot (MVC) and WebClient"
Hi there :wave:

we have a problem with the combination of Spring Boot MVC (tomcat) and the WebClient.

The first request that is triggered via the WebClient is excruciatingly slow. It takes about 13! Seconds. The next request is then very quick.

We have already initialized the WebClient with the new warm-up functionality. Unfortunately that didn't help.

On the first request this happens:
[code]

[2021-02-11 10:42] patpatpat123 commented on #1508
Indeed!

[code]

Is not blocking anymore! (although a bit scary to now see ```.block()``` is the code 😛

The fix you have provided here https://github.com/netty/netty/pull/11009 is much cleaner.
We are looking forward to seeing this new version!

Thank you for the help provided

[2021-02-11 11:04] violetagg commented on #1508
I would recommend to use always `block` with a proper timeout.

The fix in Netty does not remove the blocking call bu t allows a blocking call inside thread marked as non-blocking.

[2021-02-11 12:15] wilkinsona commented on #1509
Thanks for the sample, @benjaminknauer. I wanted to check this from a Spring Boot perspective but the sample doesn't reproduce the behaviour you have described:

[code]

The first request after launch was a little slower, but nowhere near 13000ms:

[code]

Pool creation took ~60ms:

[code]

I tested on macOS.

[2021-02-11 13:17] benjaminknauer commented on #1509
I am very sorry that I caused you an effort. We were able to trace the problem back to our network. Without an active VPN and outside of our network, the first call is also quite fast.

Thank you for the help!

[2021-02-11 13:17] #1509 closed

[2021-02-11 13:19] violetagg commented on #1509
@benjaminknauer

I tested the sample but it is not reproducible

**Debian**

[code]

**Windows 10 Pro**

[code]

Mac OS

[code]

[2021-02-11 13:20] violetagg commented on #1509
@benjaminknauer oops you already found it.

[2021-02-11 21:25] atokle commented on #1397
Are there any option to log request/responses TEXTUAL but drop headers to avoid that sensitive data like Authorization header is logged?

[2021-02-12 10:16] idikshit commented on #1486
@violetagg Is there any update regarding this ticket?

[2021-02-12 12:50] theghost5800 opened #1510 "Reactor netty client doesn't return response/fail after CloudFoundry gorouter request timeout"
I am from SAP and we develop product which is working in CloudFoundry environment and make requests to CC api using [official cf java client](https://github.com/cloudfoundry/cf-java-client). The issue is related with http requests made by reactor-netty client, sometimes requests pass global set limit(15 minutes) of gorouter and return response with error code 502 due to timeout. Gorouter is main c

[2021-02-12 13:24] violetagg commented on #1510
@theghost5800 Is it possible that you observe this known issue #1371 fixed in [0.9.14.RELEASE](https://github.com/reactor/reactor-netty/releases/tag/v0.9.14.RELEASE)

[2021-02-15 14:05] violetagg commented on #1478
@@qimeinajie I'm closing this. You can check 1.0.4 release.

[2021-02-15 14:05] #1478 closed

[2021-02-15 14:50] boyan-velinov commented on #1510
@violetagg  Are you sure that this is fixed with 0.9.14.RELEASE?

I have tried with both 0.9.14.RELEASE and 0.9.16.RELEASE (standardly released with OSS CF Java client) and still observe the same behavior.

[2021-02-15 15:03] violetagg commented on #1510
Ok can you provide tcp dump so that we can see the communication between the peers?

[2021-02-16 11:04] JamesChenX opened #1511 "Add support for redirecting HTTP to HTTPS"
## Motivation

This should be a very common use case that a user sends an HTTP request to a Web server that uses TLS and the server better redirect HTTP to HTTPS rather than responding with an error message which is confusing for users.

## Desired solution

reactor-netty should use OptionalSslHandler instead of SslHandler so it's possible to redirect HTTP to HTTPS,
And the reference code to redir

[2021-02-16 13:58] boyan-velinov commented on #1510
I prepared the tcp dumps as using with 0.9.14.RELEASE from Junit environemtn and setting up: https://projectreactor.io/docs/netty/release/api/reactor/netty/http/client/HttpClient.html#wiretap-boolean

The attached file [failed-after-1min-502.txt](https://github.com/reactor/reactor-netty/files/5989032/failed-after-1min-502.txt)
 demonstrates the communication with a CF app that returns HTTP status

[2021-02-16 14:10] violetagg commented on #1510
@boyan-velinov I'm sorry, I was not clear. I need [tcp dump](https://en.wikipedia.org/wiki/Tcpdump). We need to see what kind of response was sent by Gorouter. Unfortunately I do not have an infrastructure where I can reproduce this.

[2021-02-17 08:25] violetagg commented on #1511
@JamesChenX I suppose that this one can be used for this purpose https://github.com/netty/netty/blob/4.1/handler/src/main/java/io/netty/handler/ssl/OptionalSslHandler.java

[2021-02-17 08:32] JamesChenX commented on #1511
@violetagg Yes, we need to use `OptionalSslHandler` instead of `SslHandler` (used by reactor.netty.tcp.TcpServer#secure currently) to implement redirecting HTTP to HTTPS.

I just think this is a very common feature and it's would be good news if reactor-netty can do this for developers and there are other developers who want this feature too.

[2021-02-17 10:16] rstoyanchev opened #1512 "Inbound completes quietly when connection aborted"
If the connection is closed from the client side before the server has finished reading the request body, currently [the inbound is completed](https://github.com/reactor/reactor-netty/blob/c1c2858c2529c0154da88aa88c896631b48a00e3/reactor-netty-core/src/main/java/reactor/netty/channel/ChannelOperations.java#L452). That makes it challenging for an application handler to  differentiate between comple

[2021-02-19 08:29] shj95 opened #1513 "Reuse of WebClient Connection causes memory LEAK"
Previously discussed from https://gitter.im/reactor/reactor-netty?at=602f5b67a37fc1784c2f55d1

## Expected Behavior
No LEAK
## Actual Behavior
[code]
and
[code]

## Steps to Reproduce

I've created minimal reproducible project.
https://github.com/shj95/webflux-leak-test

## Possible Solution

[code]

## Your Environment

* Reactor version(s) used: 1.0.3
* Other relevant libraries versions (eg. `ne

[2021-02-19 09:46] violetagg commented on #1498
@edgarSang Were you able to check the target server?

[2021-02-19 09:46] violetagg commented on #1502
@vipul-mykaarma Were you able to check the target server?

[2021-02-19 15:24] #1512 closed

[2021-02-19 15:37] violetagg commented on #1512
@PyvesB If you are able to test 1.0.5-SNAPSHOT it will be great. Thanks.

[2021-02-19 17:14] PyvesB commented on #1512
Thanks @violetagg, will check it out early next week.

[2021-02-20 09:01] iblogc commented on #413
Hi, is this set in the container or on the host？

[2021-02-21 03:18] hc-codersatlas commented on #1511
How would this work with. Reactor Netty only allowing a single port i.e. can't run 80 and 443 at the same time? You'd have to run 2 different instances so it wouldn't really matter if `SslHandler` is optional or not?

[2021-02-21 05:16] JamesChenX commented on #1511
@hc-codersatlas We don't need to listen to two ports and one HTTP server is enough because:
After a TCP established between the client and the server:
For the cases:
1. The client sends a TLS client hello to the server, then the server can just try to set up SSL and uses HTTPS.
2. The client sends an HTTP request to the server, the server can just respond with a status of 308 (redirect) to notify

[2021-02-21 05:54] edgarSang commented on #1498
@violetagg I have to talk to someone from another company. mmm

[2021-02-22 01:00] alset0326 opened #1515 "UDP File Description Leak at DNS check in ConnectionProvider.newConnection() mode"
## Expected Behavior

The UDP socket should be closed after DNS check.
## Actual Behavior

The UDP socket not close after DNS check and cause `Too many open files` err. This bug might occurred in the new DNS module after version 1.0.0. I only test on the newest version 1.0.4

Keep the socket open might work on the default HttpResources but not work in the `ConnectionProvider.newConnection()` mode.

[2021-02-22 01:02] alset0326 commented on #1515
I also create a repo to reproduce the issue. Just run `./gradlew test` to reproduce it

[https://github.com/alset0326/reactor-netty-issue1515-reproducer](url)

[2021-02-22 13:20] PyvesB commented on #1512
@violetagg I can confirm that this works as expected. 👍🏻

[2021-02-22 13:29] violetagg commented on #1513
@shj95 I created a new issue in `Spring Cloud Sleuth` for `java.lang.IllegalStateException: Only one connection receive subscriber allowed.` as it is not related to the memory issue reported here.
https://github.com/spring-cloud/spring-cloud-sleuth/issues/1854

[2021-02-22 13:31] violetagg commented on #1512
@PyvesB thanks a lot!

[2021-02-23 06:57] shj95 commented on #1513
@violetagg
I don't think it's related to `Spring Cloud Sleuth`.

https://github.com/shj95/webflux-leak-test/blob/b1a67a3c1ad07a3986f88f425358ecf261ccc7da/error.log#L99-L166
I have same error log without adding sleuth dependency.

This error may not be related to memory leak, but it seems to be thrown in reactor.

[2021-02-23 07:25] violetagg commented on #1513
@shj95 thanks

[2021-02-23 13:57] zipper01 commented on #388
Hi, my question is how to catch this? we cannot control the client behavor (e.g. power outrage), but I need to release session resources when this prompts out. It does not goes to the pipeline, I don't know how to catch it. My Netty version: 4.1.58.Final.

[2021-02-23 15:35] Purfakt commented on #887
Hi,

I see that the issue is still open. I currently have this configuration:

[code]

When I run this behind the corporate proxy, I get:

[code]

What is weird to me is that at the first line of the exception I see `endpoint:80` but I am trying to reach an https endpoint. It's maybe important to note that running the code on my local machine without the corporate proxy and the default webClient w

[2021-02-23 16:37] violetagg commented on #887
@Purfakt Please use [Gitter](https://gitter.im/reactor/reactor-netty) for questions

[2021-02-24 06:44] violetagg commented on #1510
@@boyan-velinov Were you able to obtain a tcp dump? I'm interested in the response sent by Gorouter.

[2021-02-24 06:50] violetagg commented on #1511
@JamesChenX Are you interested in providing a PR? One interesting aspect of this feature would be: how Reactor Netty is expected to handle POST/PUT requests on behalf of the application i.e. before redirection what should be done with the incoming data.

[2021-02-24 08:07] JamesChenX commented on #1511
@violetagg OK, I can give a PR during 01/3~15/3 when I am available.
Here are some details:
1. Use 308 instead of 301 because:

According to https://tools.ietf.org/html/rfc7238 (The Hypertext Transfer Protocol Status Code 308 (Permanent Redirect))

2. It's reasonable for real applications to redirect any kind of HTTP request to HTTPS no matter its method, we redirect HTTP request of any kind of me

[2021-02-24 08:43] violetagg commented on #1511
@JamesChenX thanks 👍

[2021-02-24 09:07] violetagg commented on #1486
@idikshit Can you test the current `1.0.5-SNAPSHOT`?
maven repo https://repo.spring.io/snapshot

[2021-02-24 09:41] boyan-velinov commented on #1510
@violetagg Indeed not :(
Retrieving tcpdump from gorouter side is a hard task that requires manual efforts.
Meanwhile in our CF, it was decided that gorouter timeout will be extended from default value of 15min to 1hour. With this change, the current issue becomes not so important for us.
It is because the specifics of our project where we need HTTP calls to be finished within 30min. Only possible

[2021-02-25 07:20] violetagg commented on #1510
@boyan-velinov One difference between `curl` and `Reactor Netty client` is that `curl` enables TCP `keep-alive` by default. This means that TCP stack will send probes to the remote peer when there's no traffic.
Can you try to execute `curl 'https://<route-to-your-cf-application>' -v --no-keepalive` and tell us what response is returned by Gorouter.

[2021-02-25 09:54] ankur-bhargava commented on #1502
Hi @violetagg  even i am getting the same exception( **reactor.netty.http.client.PrematureCloseException: Connection prematurely closed BEFORE response**) quite often in our application. even after getting the exception we are getting a proper response, but we have to remove this exception from the logs.

we are using spring boot - 2.3.4-Release and java 11, reactor-netty is 0.9.7-RELEASE.

I have

[2021-02-25 10:01] ankur-bhargava opened #1522 "Getting a Premature connection close exception quite often"
Hi @violetagg  i am getting the PrematureCloseException exception  **reactor.netty.http.client.PrematureCloseException: Connection prematurely closed BEFORE response** quite often in our application. even after getting the exception we are getting a proper response, but we have to remove this exception from the logs.

return webClient.post().uri(url).body(BodyInserters.fromValue(request)).retrieve

[2021-02-25 11:03] violetagg commented on #1502
@ankur-bhargava Please do not cross post, I will reply in the issue #1522 that you opened.

[2021-02-25 11:08] violetagg commented on #1522
@ankur-bhargava The components versions that you use are too old, there are fixes in the resent versions that might be related to the issue that you observe.
Please upgrade to the latest components versions and retest your scenario.

[2021-02-25 11:11] violetagg commented on #1502
@vipul-mykaarma I'm gonna close this, if you are able to provide more information we can reopen it.

[2021-02-25 11:11] #1502 closed

[2021-02-25 11:25] vipul-mykaarma commented on #1502
unfortunately, to get anything from 3rd party is a difficult ask. will get back to you

[2021-02-25 11:29] ankur-bhargava commented on #1522
@violetagg  sorry i have mentioned the incorrect version of reactor-netty, we are using 0.9.12.RELEASE.

We are using a high load around 500-600 tps.

**as per the documentation(in the below link) it is due to too many concurrent connections opened/acquire, so just by adding connection timeout in post call will resolve my issue?**

sample - webClient.post().uri(url).body(BodyInserters.fromValue(re

[2021-02-25 11:39] violetagg commented on #1522
@ankur-bhargava Please take a look at this video https://youtu.be/LLSln1_JAMY?t=1923 for the various timeouts in Reactor Netty.
Also please note that in Reactor Netty 0.9.10 there was a serious regression that was later fixed in 0.9.14, so I recommend an upgrade even though that you are on 0.9.12 at the moment.

[2021-02-25 11:49] ankur-bhargava commented on #1522
Thanks, i will upgrade it to latest one more then 0.9.14 and let you know if it is still persist.

can you please answer one last question:
webClient.post().uri(url).body(BodyInserters.fromValue(request)).retrieve() .**bodyToMono(response)**
Here what is the value of **default request timeout** inside library ?

[2021-02-25 12:10] violetagg commented on #1522
@ankur-bhargava

There is only `CONNECT_TIMEOUT` by default (30000ms), all other timeouts are not specified.

[2021-02-25 12:39] violetagg commented on #1515
@alset0326 Why do you need to use different `HttpClient` instances? Every `HttpClient` has its own resolver.

[2021-02-25 14:08] patpatpat123 opened #1523 "Spring Webflux - Setup to wait longer for a slow service not taking effect"
Hello Reactor Netty Team,

Just wanted to raise a small issue, a small observation please.
We are the client, and we use a Webflux WebClient in order to query a third party API ( they are the server ).
The API is well known to be flaky, and very slow. On a lucky day, this flaky third party API will response within 2-3 secs.

But usually, it will take 5 to 8 seconds. But to be fair, the processing

[2021-02-25 14:17] violetagg commented on #1523
@patpatpat123 Please take a look at this video https://youtu.be/LLSln1_JAMY?t=1923 for the various timeouts in Reactor Netty.

From my point of view you do not need
- `conn.addHandlerLast(new ReadTimeoutHandler(10))`
- the timeout here
`webClient.post().uri(uri).body(BodyInserters.fromValue(b)).exchangeToMono(response -> Mono.just(getResponse(response)).metrics().timeout(Duration.ofSeconds(10L));`

[2021-02-25 14:21] alset0326 commented on #1515
@violetagg That can do. But the leak still exist. Is there any method to close the udp socket? the method `provider.disposeLater()` do nothing at all.

[2021-02-26 08:41] idikshit commented on #1486
@violetagg We are unable to resolve all the dependencies after migrating from 0.9.9.RELEASE to 1.0.5-SANPSHOT for io.projectReactor.netty.reactor-netty.