[2020-05-15 00:24] YQyangqian commented on #1008
not actually, just as said, maxLifeTime is quite new that reactor-netty has not exposed for us to change.
my solution is that let the peer close the connection in 900s. then the gateway will be notified to close the connection.

[2020-05-15 00:26] cj848 commented on #639
I am curious as to how this is progressing. I am looking forward to resolving this issue quickly.

[2020-05-15 17:38] violetagg commented on #1089
@philsttr I would say that the logs below should not be a problem.

[code]

These handlers are removed just before the handshake
https://github.com/reactor/reactor-netty/blob/aeae1c7107cc6b452194da55dd20772f45426eab/src/main/java/reactor/netty/http/server/WebsocketServerOperations.java#L87-L88
so we should not receive any frame until we send that the connection is upgraded.

I'm still debugging an

[2020-05-15 19:22] violetagg commented on #1089
@philsttr will you be able to test PR #1096

[2020-05-15 19:53] philsttr commented on #1089
Yes, I can test it early next week. I’m off today.

Thanks for investigating!

[2020-05-16 04:19] izeye opened #1097 "Source line numbrers are outdated in reference documentation"
Source line numbrers seem to be outdated in the reference documentation.

For example, see https://projectreactor.io/docs/netty/release/reference/index.html#server-tcp-level-configurations-channel-options

[2020-05-16 04:46] violetagg commented on #1097
@izeye This was fixed with 5dccb280b00e1dae9ee49c835ec0bc110f773455 and the fix will be available with the next 0.9.8.RELEASE

[2020-05-16 04:46] #1097 closed

[2020-05-16 05:13] izeye commented on #1097
@violetagg Sorry for the noise. I should have checked before opening this.

Actually, I wanted to fix it, but I wasn't sure how to avoid this sort of out-of-sync.

[2020-05-16 05:25] violetagg commented on #1097
Yes it is very inconvenient.
In master currently we are rewriting some of the APIs and I moved those setting to the beginning of the file so hopefully there will be less cases like this.
Please note that the documentation in master needs some rework that we will do before milestone publishing.

[2020-05-17 10:59] seal90 opened #1098 "Support for Unix domain socket"
## Motivation

I want rsocket to support unix domain socket to transmit data
## Desired solution

## Considered alternatives

## Additional context

[2020-05-17 12:11] violetagg commented on #1098
@seal90 UDS support will be available in version 1. 0.x
See #403

[2020-05-17 12:11] #1098 closed

[2020-05-18 05:24] spiritme1984 opened #1099 "Nginx report error "connect() failed (110: Connection timed out) while connecting to upstream""
Describe the bug
My project use springcloud gateway as api gateway. Before gateway is Nginx server. The request flow is "request -> nginx -> springcloud gateway -> Haproxy -> service". The Nginx report error "connect() failed (110: Connection timed out) while connecting to upstream" by high concurrencys (4000 QPS). But if we remove the gateway this error was missing.

Environment
Cpu : 8C
Memory :

[2020-05-18 05:40] violetagg commented on #1099
@spiritme1984 Do you have Nginx and Spring Gateway on one and the same host? Check this https://github.com/reactor/reactor-netty/issues/1038

[2020-05-18 05:46] violetagg commented on #1091
@rstoyanchev @spencergibb We have API for sending a custom close frame but I cannot see how this API can be used in Spring Gateway use case. Can you please take a look?

[2020-05-18 05:52] violetagg commented on #639
Hopefully this week I'll prepare a draft PR for this enhancement.

[2020-05-18 05:54] spiritme1984 commented on #1099
I'm afraid not. They are on the different hosts.

[2020-05-18 05:59] violetagg commented on #782
@simonbasle @bsideup Can you tell us how cancelation happens in case of `Flux.mergeSequential` and `Flux.mergeOrdered`

[2020-05-18 06:02] violetagg commented on #1099
@spiritme1984 that's good. What's the connection pool type that you use - elastic or fixed?

[2020-05-18 06:04] Dariusz91 commented on #1039
Hello @violetagg, any news about this issue? We've been experiencing a problem similar to the one described in https://github.com/spring-projects/spring-framework/issues/24596.

We are using Spring Boot Webflux 2.2.5.RELEASE and reactor-netty 0.9.6.RELEASE. Sometimes our client is closing connection because of timeout and we're getting something like this in our logs:

[code]
and:
[code]

[2020-05-18 06:09] spiritme1984 commented on #1099
Both of them I'd tried and seems there is no help for this error.

[2020-05-18 06:24] violetagg commented on #1039
@Dariusz91 For the moment this is scheduled for [0.9.8.RELEASE](https://github.com/reactor/reactor-netty/milestone/69)

[2020-05-18 06:33] violetagg commented on #1099
@spiritme1984 so without Nginx you are able to execute your load test successfully? Are the number as expected or you notice some peaks in the response times? Is it possible that you configured Nginx with some aggressive timeouts?

[2020-05-18 07:35] spiritme1984 commented on #1099
@violetagg Thanks for reply. I haven't tested without Nginx since our Nginx is work for all services but only pary of them go throuth the gateway. I've checked the response times and it was tens of milliseconds in normal but  thousands of milliseconds in high concurrencys, even a few requests were timeout(gateway timeout is 30S). But none error log came out(except timeout exception). Also I set Ng

[2020-05-18 08:34] violetagg commented on #1099
Are you able to test this?

[2020-05-18 14:35] wilkinsona commented on #1093
Here are some logs taken from an iteration that hung:

[code]

And here are the logs for the preceding iteration that succeeded:

[code]

[2020-05-18 16:42] Fetsivalen opened #1100 "add ability to configure response timeout for the web-socket handshake operation"
Currently, there is a way to configure timeout via reactor timeout according to https://github.com/reactor/reactor-netty/issues/26
and this timeout will work as the response timeout for the handshake operation but at the same time, it will abort established web-socket connection.

## Expected Behavior
1. should be the ability to configure the separate timeout for the Handshake operation which won'

[2020-05-18 16:53] philsttr commented on #1089
@violetagg , It look like PR#1096 fixes the problem.   I ran the integration tests repeatedly overnight with the fix, and the problem never occurred.   Thank you!

[2020-05-18 17:10] violetagg commented on #1089
@philsttr that's great! thanks for testing it.

[2020-05-18 17:46] #1089 closed

[2020-05-18 17:49] violetagg commented on #1089
Fixed in 0.8.x with bae8fd072017ff81a83e6897b7869c87a6f6261c and then forward merge to 0.9.x and master

[2020-05-18 22:38] philsttr commented on #1089
@violetagg I'm sorry, but I think I spoke too soon.  Further iterations of the integration tests with your changes applied resulted in reproducing the original problem.    I don't know why it didn't occur last night.  I left it going this morning and it eventually reproduced the problem.  The logs look exactly the same, but I'll post it here in case you notice anything I didn't....

[code]

[2020-05-19 02:14] spiritme1984 commented on #1099
Yes. After we remove Nginx server and Jmeter's test result as below:

A :
Jmeter : Number of threads 2000
connection pool : elastic
Type of error :
1. Non HTTP response code: org.apache.http.conn.HttpHostConnectException/Non HTTP response message: Connect to 172.30.44.231:8766 [/172.30.44.231] failed: Connection timed out (Connection timed out)
2. Non HTTP response code: java.net.SocketException/N

[2020-05-19 04:14] violetagg commented on #1089
@philsttr thanks for verifying!

[2020-05-19 08:50] simonbasle commented on #782
for `mergeOrdered`:
 - each source is internally subscribed by the operator
 - upon cancellation of the main, all these inner subscriptions are also cancelled
 - the `values` array that holds the next value from each source until all sources have produced (and so the order can be decided) is nulled out, but the values themselves are not _discarded_ (as per `doOnDiscard`)

for `mergeSequential`:
 -

[2020-05-19 14:58] violetagg commented on #1100
@Fetsivalen With the current API you are able to do that:

On the server side:
https://projectreactor.io/docs/netty/release/api/reactor/netty/http/server/HttpServerResponse.html#sendWebsocket-java.util.function.BiFunction-
With `.sendWebsocket` you will receive `Mono<Void>` that completes when the handshake completes.

So you can have something like

[code]

On the client side:
https://projectreac

[2020-05-19 15:11] violetagg commented on #1091
@Fetsivalen According to Spring Framework javadoc you can call close on the session
https://docs.spring.io/spring-framework/docs/current/javadoc-api/org/springframework/web/reactive/socket/WebSocketSession.html#close--
I think this can be used.
Wdyt?

[2020-05-19 16:41] violetagg commented on #1099
@spiritme1984 Do you have any custom filters on Spring Gateway, any blocking code etc.?

[2020-05-19 21:24] Fetsivalen commented on #1091
Hi @violetagg
Thanks for the suggestion
Actually I've reworked a bit Spring Cloud Gateway's implementation (will open PR once it will reach production)
So in my case, when Gateway bypassed closed code and reason from client to the server and visa versa this method definitely works great. (omitted metrics and my custom code in the example).
[code]
But the use-case I've raised here is a bit differen

[2020-05-19 21:47] Fetsivalen commented on #1100
Hi @violetagg ,

Seems like this solution will fix my test.
I've missed it since I tried to find a way to do it through [Spring Framework's client](https://docs.spring.io/spring-framework/docs/current/javadoc-api/org/springframework/web/reactive/socket/client/ReactorNettyWebSocketClient.html)
And there is only `execute` method.

By the way as far as I understand in production usage `block` and sim

[2020-05-19 21:50] Fetsivalen commented on #1100
By the way it'll be nice to have API like:
[code]
which seems like a more obvious one (at least for me)

[2020-05-20 04:09] spiritme1984 commented on #1099
I remove all custom filters but DynamicRouterFilter. Don't find any blocking code. You can check it on sample project. I suppose mayby somewhere in reactor-netty block the connection at high concurrencys.

[2020-05-20 04:30] violetagg commented on #1100
@Fetsivalen I used `block` as it was in a test and I wanted just to show that you can use the operators from Reactor.

you can do the following without `block`

[code]

[2020-05-20 08:26] wilkinsona commented on #1093
I've added some logging for the request:

[code]

Here's the resulting output for the iteration that hung:

[code]

And here's the output for the preceding iteration that completed successfully:

[code]

[2020-05-20 10:29] voodemsanthosh commented on #640
I have tried by providing solution and getting below error for localhost

io.netty.handler.codec.DecoderException: javax.net.ssl.SSLHandshakeException: no cipher suites in common

[2020-05-20 10:42] voodemsanthosh opened #1102 "Spring webflux WebClient with Keystore/Truststore"
Hello Spring Guys,

I am trying to create a webclient object to use my keystore and truststore to call external API with https.

I am following below example to create Webclient.
            https://github.com/reactor/reactor-netty/issues/640#issuecomment-478738139

on my success build, using http://localhost:8080 getting below error,

`
Caused by: io.netty.handler.ssl.NotSslRecordException: not a

[2020-05-20 10:47] violetagg commented on #1102
@voodemsanthosh You are trying `http://localhost:8080` or `https://localhost:8080`

`http` vs `https`

[2020-05-20 10:51] violetagg commented on #1091
@Fetsivalen

How will you distinguish between a normal shutdown and accidental shutdown?

[2020-05-20 12:58] violetagg commented on #1093
@wilkinsona Can you test with Reactor Core 3.3.6.BUILD-SNAPSHOT?

[2020-05-20 13:51] wilkinsona commented on #1093
Unfortunately, it's still reproducible with 3.3.6 snapshots. It hung on repetition 677. Here's a thread dump:

[code]

[2020-05-20 15:05] violetagg commented on #1093
@wilkinsona I think I found one issue. Can you test this PR #1103 ?

[2020-05-20 15:17] adrian-tarau opened #1104 "TcpResources prints WARN messages when resources are replaced"
The code suggests that the resources (LoopResources & ConnectionProvider) can be replaced and one would not expect to see these actions reported as "problematic".

## Expected Behavior
One would expect to see an INFO message, might be useful to know that the default was replaced

## Actual Behavior
The replacement action is logged with a WARN message, which suggests something might be wrong.

## S

[2020-05-20 16:13] wilkinsona commented on #1093
It's looking hopeful. I've managed two complete runs (2000 repetitions in total) without a hang. I'll try another run with 10000 repetitions and cross my fingers.

[2020-05-20 16:22] violetagg commented on #1104
@adrian-tarau Please check these two issues #416 and #487

[2020-05-20 16:54] wilkinsona commented on #1093
The fix looks good to me. Testing with 10000 repetitions completed successfully.

[2020-05-20 17:04] violetagg commented on #1093
Ok let me commit it so that I can remove the extra logging and also you can test again with the official SNAPSHOT and hope you'll be able to enable again the test in Spring Boot.

[2020-05-20 17:15] Fetsivalen commented on #1091
I'm not sure that I got the context you ask this question with.
But I'll try to explain a few flows I see.

When you're closing connection intentionally you should send close CloseFrame manually according to the use case.

When service is restarting\shutting down based on some automation redeploy flow or because of some liveness prob in Kubernetes (or similar in other platforms), you should notify

[2020-05-20 17:29] #1093 closed

[2020-05-20 20:13] adrian-tarau commented on #1104
Well, I agree with @nebhale ... WARN means something went wrong but the system can recover. It should be INFO. Fine to inform about resource change, but this is not an "issue", right?

[2020-05-21 03:31] voodemsanthosh commented on #640
Sorry my bad. I have set `server.ssl` properties in config file which forcing to enable localhost also   secure.

[2020-05-21 03:33] voodemsanthosh commented on #1102
Sorry my bad. I have set server.ssl properties in config file which forcing to enable localhost also secure. Now my issue got resolve with help of https://github.com/reactor/reactor-netty/issues/640#issuecomment-478738139.

we are good to close this issue. Thank you @violetagg

[2020-05-21 04:48] jblashka opened #1105 "Can't customize SNI values in client requests"
## Motivation
I'm trying to use a customized reactor netty httpclient within a spring cloud gateway application but it doesn't look like there's a way to set the SNI value to something *different* than the hostname specified in the server list. I have a gateway in front of a set of load balancers that handle traffic for multiple services and the load balancer expects SNI to be set for the relevant

[2020-05-21 05:23] #1102 closed

[2020-05-21 05:40] violetagg commented on #1105
@jblashka For which version do you need this enhancement?

[2020-05-21 05:46] violetagg commented on #1104
@adrian-tarau Well it depends because you make a change to the global resources which means that this will affect servers and clients running on this JVM.
Usually people instead of changing LoopResources/ConnectionProvider for a particular server/client, they change them on a global level. Because of that we decided to print this message with a warning so that you think whether you really need thi

[2020-05-21 07:14] violetagg commented on #1091
@Fetsivalen

If you use Spring Boot hooks for system will be shut down can you close the session there or it is too late.

[2020-05-21 13:02] Fetsivalen commented on #1091
Hi @violetagg
I  tried a few combinations and this one as part of example from [this comment](https://github.com/reactor/reactor-netty/issues/1091#issuecomment-631090653)

[code]
seems to be the closest to the hook.
And with it got next exception in my shutdown test. So Think it's too late
[code]
Maybe it is worth to mention that my project also have "gracefull shutdown"
according to https://githu

[2020-05-21 13:33] jblashka commented on #1105
I'm using reactor-netty 0.9.6.RELEASE at the moment because that's the version of the dependency pulled in with spring-cloud-starter-gateway 2.2.2.RELEASE

[2020-05-21 15:44] acgrimes opened #1107 "On Server side not able to retrieve a domain object from a HttpServerRequest/ByteBufFlux object using subscribe or doOnNext"
This is a client/server environment. For this application the client sends a request object to the server. The server needs to do some business logic on the request object that may or may not involve a database. Based on the request received a different response is returned to the client. The server receives the domain request object contained in a HttpServerRequest that holds a ByteBufFlux publis

[2020-05-21 18:42] violetagg commented on #1107
@acgrimes The snippet below does NOT have subscribe so receiving the request body will not be triggered

[code]

Has to be rewritten either as:

[code]
This structure means: Send this response immediately, I'll subscribe for the request and when it comes I will handle it
Do you want this? The request body may come in a later stage.

or:

[code]

This means invoke send operation when I receive the

[2020-05-21 19:14] acgrimes commented on #1107
Yes, I want the case where the response comes immediately with the request arriving later. But when I add subscribe() as here:
.post("/echo",
        (request, response) -> {
            request.receive()
                   .aggregate()
                   .doOnNext(onSuccess)
                   .doOnError(onError)
                   .doOnTerminate(onCompletion)
                   .subscribe();

[2020-05-21 21:03] violetagg commented on #1107
@acgrimes That's as expected as I wrote
"Do you want this? The request body may come in a later stage."
According to the specification (https://tools.ietf.org/html/rfc7230#section-6.3)

[code]

As you send the full response, we can only drop the incoming data and close the connection. We don't know what's the size of the incoming data.

If you want enable the Reactor Netty logs + add to the config

[2020-05-21 21:18] violetagg commented on #1107
What you can do is the following:

In your send operation use Flux.concat()
Where the first Publisher will be what you have now and the second publisher will be what you want to send as a result of the request

[2020-05-21 21:36] violetagg commented on #1107
[code]

[2020-05-22 01:58] acgrimes commented on #1107
Thanks, this code gives me access to the request object and it can be passed to a service for processing, but when I run this code nothing gets returned to the client. This confuses me since I can write very similar code using Spring WebFlux, get access to the request, process it and return a response to the client. Here is a code snippet that we use in Spring, which is using Reactor Netty.
With S

[2020-05-22 11:13] rstoyanchev commented on #1107
@acgrimes the WebFlux snippet doesn't look similar to me. It's echoing the request body in the response body.

[2020-05-22 12:50] #1039 closed

[2020-05-22 13:07] Fetsivalen commented on #1100
@violetagg sorry for long response on this.

I've tested your suggestion and it worked just fine
when i reworked [spring boot client](
https://github.com/spring-projects/spring-framework/blob/master/spring-webflux/src/main/java/org/springframework/web/reactive/socket/client/ReactorNettyWebSocketClient.java) to look like this
[code]

I just wonder will you accept a PR  to have a method in [Websocke

[2020-05-22 13:18] violetagg commented on #1100
@Fetsivalen I think that using Reactor Core operators for timeout give you many more options and I don't think that we need to replicate Reactor Core functionality in Reactor Netty.
https://projectreactor.io/docs/core/release/api/reactor/core/publisher/Mono.html#timeout-java.time.Duration-

[2020-05-22 13:43] acgrimes commented on #1107
But that is exactly what I am trying to do with Reactor-Netty. Get the request body out of the request, do some processing on it and return a reactive response with or without request content. I haven't been able to put together Reactor-netty code that does both of those things. The reactor code I have tried either returns a response to the client without letting me retrieve the request body, or a

[2020-05-22 13:48] violetagg commented on #1107
@acgrimes Then that's what I proposed you at the beginning

[code]

In the `flatMap` you can transform the request content as you like and return a response

[2020-05-22 14:46] Fetsivalen commented on #1100
@violetagg  I've not meant to repeat timeout logic
my idea was to have shortcut methods like
[code]
and similar one for handle
wdyt?

[2020-05-22 14:51] violetagg commented on #1100
@Fetsivalen I understood but then somebody will come and ask for a new method with `timeout + fallback` or `timeout + scheduler` or any other combination that currently Reactor Core provides.

[2020-05-22 15:21] Fetsivalen commented on #1100
ok so I will open a ticket in spring project then
Thanks for the help!

[2020-05-22 15:21] #1100 closed

[2020-05-22 16:09] acgrimes commented on #1107
Ok, let me try that. Thanks, for your patience while I try to understand how this is working.

[2020-05-22 17:05] dzikoysk commented on #3
Any updates on this issue? It's been 3 years and as far as I see it's only moved to a next milestones. Is it  possible to receive multipart file? 🤔

[2020-05-22 20:17] #1107 closed

[2020-05-23 01:16] adrian-tarau commented on #1104
There is no other running in **my** JVM :)
I do not understand "changing LoopResources/ConnectionProvider for a particular server/client" ... Is there another way to configure the resources? Other than JVM properties, which allow (globally) to set up (some?) parameters ...

[2020-05-23 05:18] violetagg commented on #1107
great that it's working!

[2020-05-23 05:24] violetagg commented on #1104
@adrian-tarau Yes. If you want to configure the server/client with another `LoopResources` you can use one of the `runOn` methods. If you want to configure another `ConnectionProvider` for the client then you can invoke `HttpClient.create(ConnectionProvider)`.
If you use this in the context of Spring Framework then you can use `ReactorResourceFactory`.
https://docs.spring.io/spring/docs/current/sp

[2020-05-24 01:08] adrian-tarau commented on #1104
Ok, sounds good, thanks.

[2020-05-24 01:08] #1104 closed

[2020-05-24 10:50] violetagg commented on #3
@dzikoysk So far it is not planed for 1.0.0. Depending on the other requests this can be considered for post 1.0.0 GA.

[2020-05-25 05:52] violetagg commented on #1092
@yantaowu I'm closing this. We can reopen it if it is needed.

[2020-05-27 19:01] ndhilliprasad commented on #560
Are there any workaround for this.

[2020-05-28 04:15] ndhilliprasad commented on #1023
Could you one help with work around solution for this?

[2020-05-28 05:39] meladEzzat opened #1123 "reactor.netty.http.client.PrematureCloseException: Connection prematurely closed DURING response Suppressed: reactor.core.publisher.FluxOnAssembly$OnAssemblyException: Assembly trace from producer [reactor.core.publisher.FluxLift] :"
Using Spring Boot 2.1.9-RELEASE, I consistently get the following exception when requesting a large data list from other microservices

[code]
 I tried to use

[code]

But i didnt work

[2020-05-28 12:16] violetagg commented on #1123
@meladEzzat Consider upgrading to the latest Spring Boot (2.1.14). If you have a reproducible example please provide it.

[2020-05-28 13:54] echoesbr commented on #1023
Having the same issue here. Similar setup reported by @maczikasz.

[2020-05-29 05:47] harshSE commented on #344
Hi, when we say  [netty-tcnative](http://netty.io/wiki/forked-tomcat-native.html) boosts TLS/https performance by multiple factors, is it include **netty-tcnative-boringssl-static** ?

[2020-05-29 09:51] violetagg commented on #344
yes

[2020-06-01 08:48] shikouchen opened #1130 "LEAK: ByteBuf.release() was not called before it's garbage-collected."
## Expected Behavior

The problem occurred when I used `Webclient` to retrive data from the remote server by http requests.

I checked memory usage of the system, it showed the memory usage was around 50%.
The remote server which received requests from other clients showed fine as well. So it might not be problems on the remote server side.

I use same spring-boot and netty version for two microse

[2020-06-01 09:11] violetagg commented on #1130
@shikouchen There were fixes in Reactor Core (https://github.com/reactor/reactor-core/releases/tag/v3.3.5.RELEASE) related to leaks. Can you upgrade to Spring Boot 2.2.7 and test again?

[2020-06-02 12:17] et00448 opened #1132 "query string encoding twice by netty when exists equal character inside"
Hello

I am using spring-cloud Hoxton.SR4 with spring boot (spring-boot-starter-parent) 2.2.5.
I have an encoding problem with query params containing the equal character "=" due to reactor.netty.http.client.HttpClientConnect.

For instance,  the whole string (passed throw spring cloud gateway inside query string) :
http://xx.xx.xx.xx/foo?test_egal==%223

become twice URIencode to the backend :
te

[2020-06-02 12:48] violetagg commented on #1132
@et00448 Can you elaborate more why you think it is an issue in Reactor Netty and explicitly in `reactor.netty.http.client.HttpClientConnect`?
Reactor Netty has API only for `uri` and `path`.

Very basic test shows that there is no encoding issue:

[code]

The result from `System.out` is:

[code]

[2020-06-02 19:19] kushagraThapar commented on #782
@violetagg So based on these operators which cancel the upstream operations, I want to know what can be done in the reactor netty client to handle these cancellations ?

Since this issue will be faced by all end users who cancel the operation manually and there are still remaining elements in the buffer (or to process) - Wouldn't the end user see this exception in that case?

Because in cases like

[2020-06-03 12:00] iceqing commented on #1092
same problem
[code]

[2020-06-03 12:31] wu560130911 opened #1133 "http client use regular expression have performance problems"
https://github.com/reactor/reactor-netty/blob/master/src/main/java/reactor/netty/http/client/UriEndpointFactory.java#L33

per request need RE have performance problems, can provide method with URI object instead of uri string ?

[2020-06-03 13:53] sanjosva commented on #796
I get same error when using the WebClient to POST something in parallel(I am using spring-boot-starter-webflux:jar:2.2.4(which comes with the reactor-netty:jar:0.9.4.RELEASE). the webclient is in an async executer.
I get this error when the http request is very large. for small ones, no issues. is it because the other/main thread that was working completed?

[2020-06-03 15:23] violetagg commented on #796
@sanjosva Please create a new issue with a reproducible example against the latest released version.

[2020-06-03 15:45] violetagg commented on #1133
@wu560130911 Do you always request different endpoints or just one? Can you specify once [baseUrl](https://projectreactor.io/docs/netty/release/api/reactor/netty/http/client/HttpClient.html#baseUrl-java.lang.String-) and then in `uri` just the path to the resource?

[2020-06-03 16:14] violetagg commented on #1092
@iceqing Did you check https://github.com/reactor/reactor-netty/issues/1092#issuecomment-627792713? If nothing from the links helps then create a new issue with a reproducible example.

[2020-06-03 17:02] sukawanth opened #1134 "Reactor Netty handles multiple connections in the same thread even if threads are available. Not in Round-Robin fashion"
We are trying to handle huge number of requests with minimum number of connections (Http2). Reactor netty as said should follow round-robin approach for assigning threads from the thread pool to new channels. But we see that the same thread is being used for new connections.

Lets assume we only create two connections and we send 10k request from each connection even if the threads are available,

[2020-06-04 01:47] wu560130911 commented on #1133
I'm using like that.
https://github.com/spring-cloud/spring-cloud-gateway/blob/master/spring-cloud-gateway-core/src/main/java/org/springframework/cloud/gateway/filter/NettyRoutingFilter.java#L131
`Flux<HttpClientResponse> responseFlux = getHttpClient(route, exchange)
				.headers(headers -> {
					headers.add(httpHeaders);
					// Will either be set below, or later by Netty
					headers.remove(Htt

[2020-06-04 04:26] yantaowu commented on #1092
@violetagg I obtain the tcp dump，if we can check the connection state before sending request，maybe resolve the problem。
log and tcp dump：

2020-06-04 06:58:09.151 WARN  [reactor-http-epoll-8] [HttpClientConnect] [id: 0x483deb13, L:/172.18.206.6:39284 ! R:172.18.207.2/172.18.207.2:8151] The connection observed an error
reactor.netty.http.client.PrematureCloseException: Connection prematurely closed

[2020-06-04 04:41] violetagg commented on #1092
@yantaowu So the one with port 8151 is that the server? Why this RST is sent?

[2020-06-04 05:44] yantaowu commented on #1092
@violetagg The one with port 8151 is server. According to the dump, I think the server close the connection first, then the client with port 39284 send a request to the server, since the connection is closed, so return the RST to client.

[2020-06-04 06:03] violetagg commented on #1092
@yantaowu Why has the server closed the connection? Are there any logs on the server?

[2020-06-04 06:09] yantaowu commented on #1092
@violetagg There are no logs on the server. I have a question, why sending a request to the server on the closed connection. Could we check the connection state before sending the request?

[2020-06-04 06:16] yantaowu commented on #1092
@violetagg The post request with path "/route" that is the request to the server, but the connection has been closed  before sending at this time.

[2020-06-04 06:17] yantaowu commented on #1092
@violetagg The post request with path "/route"  is the request to the server, but the connection has been closed before sending at this time.

[2020-06-04 06:31] yangbongsoo commented on #1092
when I made poor server that send response header only(not response body)
the result is `Connection prematurely closed DURING response`
cf ) https://github.com/reactor/reactor-netty/issues/1037#issuecomment-602444231

so I think that PrematureCloseException is not always a reactor-netty problem.

[2020-06-04 06:35] violetagg commented on #1092
@yantaowu The connection state is checked several times before issuing the request.

1. before acquiring from the pool
https://github.com/reactor/reactor-netty/blob/1cab53a2503ff06399ed1bc4e92aa6f4d5d01dc2/src/main/java/reactor/netty/resources/PooledConnectionProvider.java#L686
2. after acquiring from the pool
https://github.com/reactor/reactor-netty/blob/1cab53a2503ff06399ed1bc4e92aa6f4d5d01dc2/s

[2020-06-04 06:59] yantaowu commented on #1092
Thank you very much.

[2020-06-05 01:21] lesongjia commented on #1130
@violetagg I have the same issue. And I tried upgraded to Spring Boot 2.2.7 with openjdk11. The error still occurs and our JVM metrics show the direct buffer keep grows over time.

[2020-06-05 02:30] kitepad opened #1135 "Build failed from source"
I downloaded 0.97 release source from repository and unzip into directory. I got build fail message after execute build which following build guide. My os is win 10, jdk is openjdk 11。
Error message as below:

D:\reactor-netty-0.9.7.RELEASE>gradlew.bat build

D:\reactor-netty-0.9.7.RELEASE\src\main\java\reactor\netty\http\client\HttpClientConnect.java:325: warning: [deprecation] retry(Predicate<?

[2020-06-05 04:15] violetagg commented on #1130
@lesongjia Will you be able to provide a reproducible example?

[2020-06-05 06:06] violetagg commented on #1135
@kitepad Will you be able to test this PR #1136 ?

[2020-06-05 08:43] kitepad commented on #1135
Tested. It's ok with updated errorprone.gradle

[2020-06-05 11:34] violetagg commented on #1135
@kitepad Thanks for testing the fix. It will be available in 0.9.8.RELEASE.

[2020-06-05 11:34] #1135 closed

[2020-06-05 12:35] #1133 closed

[2020-06-05 12:39] violetagg commented on #1133
@wu560130911 The new API will be available with 0.9.8.RELEASE

@rstoyanchev @spencergibb From performance point of view it will be better to switch to this new API.

[2020-06-05 14:40] spencergibb commented on #1133
What release train will this be part of? And which boot version will consume it.

[2020-06-05 17:00] violetagg commented on #1133
Reactor Bom : Dysprosium-SR8, Spring Boot : 2.2.8.RELEASE

[2020-06-05 17:20] lesongjia commented on #1130
@violetagg We see this in our testing env and prod. With Spring Boot 2.2.7 and also with advanced leak detection option. We have find more useful logs:

` "LEAK: ByteBuf.release() was not called before it's garbage-collected. See https://netty.io/wiki/reference-counted-objects.html for more information.
Recent access records:
#1:
	Hint: 'reactor.right.reactiveBridge' will handle the message from t

[2020-06-06 03:59] kitepad opened #1140 "Suggest : Provide build task to package single jar for easy"
## Motivation

When we use reactor-netty without gadle/maven and other build tools, we have to manage runtime dependencies.
## Desired solution

Would you provide official build task to produce minimal reactor-netty single jar includes minimal required third-party packages (for example, netty/log/reactor-core)?

## Considered alternatives

## Additional context

[2020-06-06 09:28] violetagg commented on #1130
@lesongjia Can you also enable Reactor Netty logs?

either `logging.level.reactor.netty=debug` or at least `logging.level.reactor.netty.channel.FluxReceive=debug`

[2020-06-08 07:50] et00448 commented on #1132
Hi,

You are right.
The problem was due to malformed URL received by spring cloud gateway.
Indeed existing "=" character inside the URI received generated a double URL encode in spring cloud gateway.
We solve this issue by reurlencode each incoming stream.

Thank'you for your quick answer !
best regards

[2020-06-08 07:50] #1132 closed

[2020-06-08 08:18] lombook opened #1141 "reactor.netty.http.client.PrematureCloseException: Connection prematurely closed BEFORE response"
hello, I've seen this issue before，recently upgrade reactor-netty to 0.9.7.release ,but i still face this issue.

spring-boot-dependencies: 2.3.0.RELEASE
netty: 4.1.49.Final
JVM version : jdk 1.8

scene:
 Mono<ClientResponse> resp = webClient.post()
            .uri(url)
            .headers(c -> this.processHeader(c, token, headers))
            .body(Mono.just(requestBody), requestBodyClass)

[2020-06-08 08:32] violetagg commented on #1141
@lombook Check this https://github.com/reactor/reactor-netty/issues/1092#issuecomment-627792713 and try to obtain tcp dump

[2020-06-08 16:33] mkozioro opened #1143 "Setting h2c max content length on HttpRequestDecoderSpec does not work"
Setting h2c max content length does not change anything. I'm setting it in a way:
[code]

Support for that functionality was added in https://github.com/reactor/reactor-netty/pull/1072/

## Expected Behavior

Curl request should not return 413 error.

## Actual Behavior
I'm receiving 413 error.

## Steps to Reproduce

[code]

## Possible Solution

## Your Environment

* Reactor version(s) used: 0.

[2020-06-08 17:32] mkozioro commented on #1143
It works properly, but must be set differently. I found working:

[code]

Maybe there is some better way to set this.

[2020-06-08 17:32] #1143 closed

[2020-06-08 17:43] violetagg commented on #1143
@mkozioro You observe this behaviour because by default there is a customiser that configures the http request decoder.
https://github.com/spring-projects/spring-boot/blob/13564b4a13021b39be604f73467b2e94fa672d42/spring-boot-project/spring-boot-autoconfigure/src/main/java/org/springframework/boot/autoconfigure/web/embedded/NettyWebServerFactoryCustomizer.java#L78-L81

So what happens
- You configu

[2020-06-08 20:02] lesongjia commented on #1130
@violetagg After I turn on the debug log for reactor netty, I saw the logs on one thread and one channel when this issue happened. The logs shows within 10 min, there were multiple request handled and I do think our 1 min timeout was triggered within this. And what is interested to me is the last few logs before the leak log says
[code]
Also notice, there is a 4 mins gap between the `onStateChange

[2020-06-09 05:00] violetagg commented on #1130
@lesongjia Is it possible to share also how you use `WebClient`?

[2020-06-09 09:16] meiyuisgithub commented on #641
请教下大佬，gateway代理前端工程，页面暂停操作一段时间就会出现io.netty.channel.unix.Errors$NativeIoException: readAddress(..) failed: Connection reset by peer报错：

2020-06-09 09:42:05.828 [reactor-http-epoll-1] ERROR o.s.w.s.a.HttpWebHandlerAdapter - [23b53156-170] 500 Server Error for HTTP GET "/gbd/index.html"
io.netty.channel.unix.Errors$NativeIoException: readAddress(..) failed: Connection reset by peer
        Suppressed

[2020-06-09 14:08] lesongjia commented on #1130
@violetagg Sure

[code]

[2020-06-09 17:06] ssalamov opened #1144 "LEAK: ByteBuf.release() was not called before it's garbage-collected."
Dear friends, could you please help me in this issue. For any suggestion would be grateful.

Currently we are experiencing memory leak in our system. As we see from logs suspicious "LEAK: ByteBuf.release()" messages. When we enabled PARANOID flag these messages appeared more frequently.

We use these libraries:

spring-boot version: 2.2.7
reactor-core version: 3.3.5
reactor-netty version: 0.9.7

A

[2020-06-09 17:07] violetagg commented on #1140
@kitepad

Can you tell us more about this, what these tools are?

[2020-06-09 18:29] violetagg commented on #1144
@ssalamov Can you provide more information how you configure/use WebClient?

[2020-06-09 18:57] ssalamov commented on #1144
We use below configuration:

[2020-06-09 19:03] ssalamov commented on #1144
Previously in one place we used onStatus filter before consuming response. However after fixing it still we see leak error messages.

[2020-06-09 19:07] ssalamov commented on #1144
Other example:

[code]

[2020-06-09 23:28] lesongjia commented on #1130
We do use `onErrorMap` later subscribe the Mono `makeRawRequest` returned. For example:

[code]

[2020-06-10 07:58] sukawanth commented on #1134
Hi Sorry for the late reply...  we couldn't reproduce in the latest version and found out that the root cause of this issue is the actuator was also using reactive netty thread. Solved this issue by allocating seperate loop resource.
Thanks for your support

[2020-06-10 07:58] #1134 closed

[2020-06-11 04:27] kushagraThapar commented on #782
@violetagg @simonbasle - I think the issue might be related to `takeUntil` . I found one place where we use it to wait for a number of documents from backend, and as soon as we get that many documents from backend, we proceed.

But I saw that `takeUntil` and `takeWhile` both cancel the operation which might be the root cause here. What other alternatives can we use ?

[2020-06-11 08:35] simonbasle commented on #782
There is no real alternative to cancelling a subscription when you're only interested in a subset of the elements. Even if you could request the exact desired amount (which is not the case with `takeUntil`), you'd still have to cancel in order to free the source rather than let it hang waiting for more request...

[2020-06-11 09:56] ssalamov commented on #1144
@violetagg thank you. I will paste here result logs.
Other style of calling rest API:

[2020-06-11 11:18] sukawanth opened #1146 "Reactor netty doesnt handle 1k request in one connection"
We are using spring cloud gateway as a HTTP2 proxy, with reactor netty to receive request and uses "Spring WebClient + reactor Jetty" to forward the request to the other hop.

We are sending 4k requests over four connections to proxy. Sometimes only header Frame is sent to jetty client but it fails to receive the request content.

We are running the proxy in a Kubernetes environment with 4VCPU and

[2020-06-11 14:54] violetagg commented on #906
@estigma88 Please report this in a separate issue as it is not the same problem

[2020-06-11 15:05] violetagg commented on #1123
@meladEzzat Closing this issue, if there is more information we can reopen it.

[2020-06-11 15:05] #1123 closed

[2020-06-11 15:09] violetagg commented on #1146
@sukawanth If it is possible please upgrade to the latest released versions.
Can you apply BlockHound so that we are sure there is no blocking call?
https://github.com/reactor/blockHound/

[2020-06-11 15:11] kitepad commented on #1140
For example, sbt. Maybe eclipse jdt is a simple build tool to help me build some small java based microservices as uber-jar. In my eclipse project, I like add needed jar file with dependencies by my self without maven/gradle.

[2020-06-11 15:12] lesongjia commented on #1130
Thanks for the explanation @violetagg. Our fix looks good in non-prod env. Once all clear in our production env. I will follow up here with a summary.

[2020-06-11 15:25] kushagraThapar commented on #782
Thanks @simonbasle for the explanation, @violetagg - is there a way to handle this scenario in reactor-netty http / tcp client?
As this is causing the cancellation to happen, which in turn then causes the SSLException issue.
The errors generated in this case is also causing OutOfMemoryError for some of our customers.

[2020-06-11 15:31] violetagg commented on #782
@kushagraThapar Create a new issue with a reproducible example in order to see why a cancellation causes OOM. Let's discuss there also the SSLException when you cancel (close the connection) and what's your expectation for this use case.

[2020-06-11 16:06] estigma88 opened #1148 "Blockhound detects a blocking call for HTTPs connections"
Hi all, I am getting blocking call using Blockhound over
java.base/sun.security.ssl.X509TrustManagerImpl.checkServerTrusted.

[code]

* Reactor version(s) used: 0.1.9.RELEASE
* Other relevant libraries versions (eg. `netty`, ...): Netty 4.1.49.Final
* JVM version (`java -version`):
openjdk version "11.0.7" 2020-04-14
OpenJDK Runtime Environment (build 11.0.7+10-post-Ubuntu-2ubuntu218.04)
OpenJDK 6

[2020-06-11 16:07] estigma88 commented on #906
Created https://github.com/reactor/reactor-netty/issues/1148

[2020-06-11 17:28] sukawanth commented on #1146
Hi, we upgraded Netty to 4.1.50.Final and Reactor Netty to 0.9.8.RELEASE. and still the problem persists.

We are using Vegeta to do HTTP2 load testing and as I mentioned earlier we created 4 connections 20 seconds apart and running 1k traffic on each. We see four connections taking equal amount of load and suddenly one thread starts dangling and requests only on the particular thread starts to ti

[2020-06-12 04:29] cjr333 opened #1150 "Spring Boot with Reactor Netty Performance Issue right after application started"
I wrote a spring boot application and sample api. I found out the performance between 1st race(right after application started) and 2nd race(I think it is warmed up) was remarkably different. I guess it is caused some resources initialization - threads, direct byte buf, etc. But I can't find out exact cause and solution. I'm looking forward to your help and I want to know how many people had same

[2020-06-12 05:56] machao23 opened #1151 "NPE in ByteBufFlux.aggregate"
The ByteBufFlux.aggregate() method sometimes throws NullPointerExceptions (on line 265 in version 0.8.10.RELEASE), when handling IOException: Connection reset by peer. I do not know for sure which call generates the NPE, but it looks like the request field in this class can be null sometimes.

## Environment
Reactor version(s) used: 0.8.10.RELEASE
Other relevant libraries versions (eg. netty, ...)

[2020-06-12 10:22] ssalamov commented on #1144
Hi @violetagg, after enabling fore-mentioned log levels I see leak errors almost in each rest api call by web client:

[2020-06-13 07:06] violetagg commented on #1151
@machao23 0.8.10.RELEASE is a year old. Please upgrade and if the issue still exists we can reopen the issue.

[2020-06-13 07:06] #1151 closed

[2020-06-13 07:08] violetagg commented on #1150
@cjr333 Would you be able to give us a reproducible example (please use the latest releases)?

[2020-06-13 07:19] violetagg commented on #1146
We use Netty defaults
max concurrent streams -  Integer.MAX_VALUE
initial window size - 65535

Is it possible for you to provide a reproducible example?

[2020-06-13 10:09] ginkel opened #1152 "Apparent file descriptor leak after upgrading from 0.9.7.RELEASE to 0.9.8.RELEASE"
Yesterday I upgraded one of our services from reactor-netty 0.9.7.RELEASE to 0.9.8.RELEASE as well as Project Reactor from Dysprosium-SR7 to Dysprosium-SR8.

The service is deployed in multiple roles, the one affected by the regression is doing HTTP scraping and upload using WebClient (the ones just exposing REST services via WebFlux seem unaffected).

This morning the instance crashed (killed by

[2020-06-13 10:14] violetagg commented on #1152
@ginkel May I ask you to make a test (if possible) with reactor-netty 0.9.8 and Dysprosium-SR8 and Netty v4.1.49.Final?

[2020-06-13 10:20] ginkel commented on #1152
Sure, although netty was already at version 4.1.50.Final before the problems manifested:

[code]

Still makes sense to do the test?

[2020-06-13 10:23] violetagg commented on #1152
@ginkel No
Then try reactor-netty 0.9.8 and Dysprosium-SR7 to be sure it is Reactor Netty

[2020-06-13 10:30] violetagg commented on #1152
Also is it possible to extract some reproducible example?

[2020-06-13 10:31] ginkel commented on #1152
Already done ;-) That's the last segment in the dashboard panel where reactor-netty is at 0.9.7 and Reactor is at Dysprosium-SR8. A slightly newer version of the dashboard better shows this:

![image](https://user-images.githubusercontent.com/174129/84566460-96bb7a00-ad71-11ea-9df8-c0b6c0c3fd68.png)

The problem does not occur with Reactor Dysprosium-SR8 and reactor-netty 0.9.7, but does occur wit

[2020-06-13 10:41] violetagg commented on #1152
Then can you use a profiler on your side to identify the acquisition point?

[2020-06-13 13:17] ginkel commented on #1152
There you go: https://github.com/tgbyte/reactor-netty-issue-1152-reproducer

The unit test `de.tgbyte.issue1152reproducer.ReproducerTest#test` won't complete for a while and you can watch the file descriptors being consumed using `lsof -p <pidoftest> | wc -l` while it's running. When you downgrade to 0.9.7.RELEASE the issue goes away.

[2020-06-13 18:36] kaladhar-mummadi opened #1153 "Transfer-Encoding & Content-Length headers are being sent in response headers."
When a string is sent in the response body, `GET` request has only `Content-Length` whereas  `HEAD` request has both `Transfer-Encoding` and `Content-Length`.

## Expected Behavior
Should remove `Transfer-Encoding` header for HEAD request too, as it is being done for `GET` request.

## Actual Behavior
Both `Transfer-Encoding` and `Content-Length`  are being sent.
### Worth noting
[https://tools.ie

[2020-06-14 11:18] violetagg commented on #1152
@ginkel Will you be able to test this fix #1154

[2020-06-14 20:08] peterjurkovic opened #1155 "Make PooledConnectionProviderMetrics configureable"
Currently the `PooledConnectionProviderMetrics` exposes metrics per id, name, remote address and name. Due to the visibility and the way how it's been implemented it is not possible to override it. The issue is `remoteAddress` tag. If an application sending requests to N remote addresses It also generates a lot of data. We have a use case where an actuator metrics endpoints generates body size up

[2020-06-15 08:06] cjr333 commented on #1150
Thank you for your immediate reply.
I simplified my app and push on my github repository. It is very simple and only have one api "/sample". ( https://github.com/cjr333/spring-boot.git )
First I tested with Spring boot 2.2.4 and get same result. And then I updated Spring boot to the latest release(2.3.1) and tested, but also get same result.
When I benchmark java apps performance, the overhead of

[2020-06-15 11:09] violetagg commented on #1140
@kitepad With the current approach if a security vulnerability appears in some of the third party dependencies you are able to update it independent from Reactor Netty.
If we provide such "fat" jar, Reactor Netty will be responsible for the security vulnerabilities that may appear in the third party dependencies. We can not take such a responsibility, but you can build such jar at your own risk.

[2020-06-15 11:09] #1140 closed

[2020-06-15 11:41] violetagg commented on #1105
@jblashka You can specify custom SNI with the following

[code]

[2020-06-15 11:48] evgenyvsmirnov opened #1157 "Requests to spring-web server get stuck"
Please have a look at the following controller:

[code]

It responds via «exchange.getResponse().writeWith» for the sake of the real controller behavior simulation.

Here is a makeshift throughput test which starts 120 threads, each emits 5000 requests one by one:

[code]

pom.xml is the following
[code]

**Expected behavior:** every thread sends 5000 requests and receives 5000 responses.
**Actual

[2020-06-15 13:28] #1152 closed

[2020-06-15 13:54] ginkel commented on #1152
I'll give it a try later today and will let you know about the result. Is the fix already available in some SNAPSHOT artifact that I could easily reference during the build?

[2020-06-15 14:04] violetagg commented on #1152
@ginkel yes 0.9.9.BUILD-SNAPSHOT

[2020-06-15 15:22] lesongjia commented on #1130
After we fixed `Mono.zip` with `Mono.zipDelayError` referring to #1013, the direct buffer leak on JVM is fixed. However, the LEAK logs are still sometimes happened in prod env but not in non-prod. Plus, I believe our underlying problem on the service that could cause by a memory leak stop to happen as well. Therefore, we are lower the priority of the issue.

One point to help others with the same

[2020-06-15 19:43] ek-ex opened #1158 "Persistent HTTP connections"
In AWS, I'm calling a service ELB behind a R53. I have updated the R53 entry to point to a new ELB after a new deployment, however is still calling the old service.

My thinking is that somehow, once it establishes the connection to the service, the connection is never renewed or expired, or there is a DNS caching configured somewhere?

If I halt momentarily the traffic, the connection will expire

[2020-06-15 20:26] violetagg commented on #1158
@ek-ex you can configure max life time for the connections in a connection pool
https://projectreactor.io/docs/netty/release/reference/index.html#_connection_pool

[code]

Use [Gitter](https://gitter.im/reactor/reactor-netty) or [StackOverflow](https://stackoverflow.com/questions/tagged/reactor-netty) for questions

[2020-06-15 20:26] #1158 closed

[2020-06-15 23:00] philsttr opened #1159 "HTTP client request timeout"
I'd like the http client to allow specifying a request timeout (i.e. the time it takes to receive a response after sending a request).  Something similar to the [java http client's request timeout](https://docs.oracle.com/en/java/javase/11/docs/api/java.net.http/java/net/http/HttpRequest.Builder.html#timeout(java.time.Duration)).

This is for use in WebFlux's WebClient, originally requested in htt

[2020-06-16 12:44] rstoyanchev opened #1161 "FluxReceive queue not cleaned in case of inbound error after all data read"
Originally reported in https://github.com/spring-projects/spring-framework/issues/25216.

In the sample provided there https://github.com/EtienneMiret/reactor-netty-oom the server closes connections at random points with `socket.setSoLinger (true, 0)`. Meanwhile the client delays the start of reading with:

[code]

So in some cases `FluxReceive#onInboundError` is called before a subscription and w

[2020-06-17 01:31] bearRunning commented on #641
同问  你的问题解决了么

[2020-06-17 03:15] jayzch commented on #1152
When it will be release?

[2020-06-17 03:18] violetagg commented on #1152
@jayzch The release is scheduled for Monday 22.06

[2020-06-17 12:36] #1153 closed

[2020-06-17 13:36] cpp03 opened #1163 "Increasing number of open file descriptors"
Each HTTP request sent using _HttpClient_ opens a new file descriptor which seems to be never closed. This eventually causes `java.io.IOException: Too many open files in system`.

It might be related to: https://github.com/netty/netty/issues/9419.

## Expected Behavior

Resources are released when the are no longer needed.

## Actual Behavior

The number of created sockets increases with each HTTP

[2020-06-17 14:13] violetagg commented on #1163
@cpp03 Please try 0.9.9.BUILD-SNAPSHOT it might be this issue #1152

[2020-06-17 14:33] cpp03 commented on #1163
@violetagg In the 0.9.9.BUILD-SNAPSHOT version the issue no longer occurs. Thank you!

[2020-06-17 14:42] violetagg commented on #1163
@cpp03 thanks for testing it.

Closing as a duplicate for #1152

[2020-06-17 14:42] #1163 closed

[2020-06-17 19:57] ehongyu commented on #1092
I wish I could get a tcpdump, but this annoying issue only happened once in a while on the production box and our company's production box is beyond our reach.

[2020-06-18 09:07] violetagg commented on #1105
@jblashka I'm closing the issue, if this approach of configuring SNI is not enough we can reopen this issue.

[2020-06-18 09:07] #1105 closed

[2020-06-18 19:24] violetagg commented on #1141
@lombook Closing this issue, if you have more information we can reopen it.

[2020-06-18 19:24] #1141 closed

[2020-06-18 20:11] lfmunoz opened #1164 "HTTP client unable to specify which IP to bind to, please provide example and documentation"
Reactor Netty suppose to make using Netty easier but I cannot figure out how to bind different IP addresses to different HTTP clients which I would think it is a common thing to do.

I am unable to find examples or documentation on this.

I know that in regular Netty you usually do that with a bootstrap but with reactor I have no idea how to do because when you create a bootstrap you have to speci

[2020-06-18 23:11] kushagraThapar opened #1165 "SSLException on request cancellation"
In our SDK we are seeing `javax.net.ssl.SSLException: SSLEngine closed already` exceptions.
We are using fixed channel pool - ConnectionProvider with 1000 as pool size.

## Expected Behavior
On cancel operation, channel should be closed / disposed quietly since the operation has been cancelled. Whether that channel is reusable or not can be a point of discussion.

## Actual Behavior
Combination of

[2020-06-18 23:11] kushagraThapar commented on #782
@violetagg - I have opened new issue with repro code : https://github.com/reactor/reactor-netty/issues/1165

[2020-06-19 05:09] marcbarb opened #1166 "Trouble getting Webclient to work with SSL"
The problem I'm having is similar to issue #640 and I used the code that @Violetagg used with JVM arguments for all my keystore and truststore parameters as well as the noOpenSsl=true flag, but I always get a bad certificate error.  I have tracked down with a breakpoint at line 861 of sun.security.ssl.ClientHandshaker in the serverHelloDone method that the sslContext.getX509KeyManager() returns a

[2020-06-19 05:13] violetagg commented on #1166
@marcbarb Is it possible that you face something similar #1102

[2020-06-19 05:15] violetagg commented on #1164
@lfmunoz The way that you are using for specifying the bind address for the client is correct.
Would you like to contribute an example to the documentation?

[2020-06-19 05:19] marcbarb commented on #1166
No, I am using https.  Here is the code that calls a server created from the example at:

https://www.baeldung.com/x-509-authentication-in-spring-security

[code]

[2020-06-19 05:27] violetagg commented on #1164
[code]

Not `bind`, but `localAddress`

[2020-06-19 07:54] iceqing commented on #1092
X-B3-TraceId: 183a4835e96dd39f

[code]

client:

![image](https://user-images.githubusercontent.com/39587710/85109934-bc022980-b244-11ea-8ce8-89985aeeba6c.png)

server:
![image](https://user-images.githubusercontent.com/39587710/85109977-cb817280-b244-11ea-988b-88f2618b8448.png)

[2020-06-19 08:09] violetagg commented on #1092
@iceqing So do you have some logs on the server that indicate why the server closes the connection?

[2020-06-19 09:46] nitinkalenk commented on #1060
which snapshot version are we talking about here?.I m getting this exception on Spring boot 2.2.0.RELEASE

[2020-06-19 09:50] violetagg commented on #1060
@nitinkalenk check the linked Spring Framework issue

[2020-06-19 10:10] ramk90 opened #1167 "Spring Flux - ConnectTimeoutException"
I got the following issues only when we increased the request throughput higher. I have just started with Spring flux and looking for some understanding on the following case

io.netty.channel.ConnectTimeoutException: connection timed out:
at io.netty.channel.nio.AbstractNioChannel$AbstractNioUnsafe$1.run(AbstractNioChannel.java:267)
at io.netty.util.concurrent.PromiseTask$RunnableAdapter.call(Pro

[2020-06-19 10:37] violetagg commented on #1167
@ramk90 Please specify the versions that you use and also the settings for the connection pool and connection timeout

[2020-06-19 14:32] marcbarb commented on #1166
To give more information, I do have a certificate installed for localhost.  I installed the certificate from the information at: https://www.baeldung.com/x-509-authentication-in-spring-security into the java truststore.  If I had not done that I don't think I could have had the server return data and things work by calling the same server with an AsyncRestTemplate.  The following code works for me

[2020-06-19 16:18] violetagg commented on #1161
We cannot clean the queue with inbound data because we have use cases where the subscription is delayed. If we clean the queue such subscribers will not be able to consume the data.

[2020-06-19 16:18] #1161 closed

[2020-06-19 17:04] #639 closed

[2020-06-19 17:41] violetagg opened #1169 "HTTP/2 HttpClient follow ups"
1. Http2StreamBridgeHandler is public https://github.com/reactor/reactor-netty/pull/1147#pullrequestreview-429059344
2. Do we need additional setting for max connections for HTTP/2 pool https://github.com/reactor/reactor-netty/pull/1147#pullrequestreview-429068237
3. Metrics for active streams
4. Server push
5. Extended testing
...

[2020-06-20 00:34] marcbarb commented on #1166
I am trying to access the site with a client certificate.  It seems that delegating the creation of the SSLContext to Netty loads the truststore, but not the key store.  If I load and add a keystore things work:

[code]

[2020-06-20 04:49] violetagg commented on #1166
@marcbarb That's exactly what the author did in https://github.com/reactor/reactor-netty/issues/640#issuecomment-478738139, right?

Are we OK with this issue? Should I close it?

[2020-06-20 06:18] violetagg commented on #1144
@ssalamov Will you be able to test with the recommended components here https://github.com/spring-projects/spring-framework/issues/25216#issuecomment-646862428

[2020-06-20 06:19] violetagg commented on #1130
Will you be able to test with the recommended components here spring-projects/spring-framework#25216 (comment)

[2020-06-20 17:11] marcbarb commented on #1166
Not exactly.  He set a keystore and truststore.  I only had to set a keystore.  It looks like Netty sets the truststore.  It would have been nice if Netty set the keystore also, but I'm OK with closing this.

[2020-06-21 06:59] ginkel commented on #1152
Just tested 0.9.9.BUILD-SNAPSHOT. The file descriptor leak is gone. Thanks for the speedy fix and sorry that it took a while to verify it!

[2020-06-21 08:15] #1166 closed

[2020-06-22 09:29] mp911de opened #1170 "Connection reuse leads to Connection prematurely closed BEFORE response"
## Actual Behavior
Reusing pooled connections cause `Connection prematurely closed BEFORE response`

## Steps to Reproduce
The issue happens in the scope of a CI build of Spring Data Elasticsearch (https://github.com/spring-projects/spring-data-elasticsearch/)

## Possible Solution
Using `HttpClient.newConnection().compress(true)` is a workaround.

## Your Environment

* Reactor version(s) used: 3

[2020-06-22 11:51] violetagg commented on #1170
@mp911de @rstoyanchev @simonbasle The connection is closed by Spring Framework WebClient's new change for disposing the connection when a cancellation happens
https://github.com/spring-projects/spring-framework/issues/25216#issuecomment-646704948

[code]

[2020-06-22 13:48] violetagg opened #1171 "GitHub Actions on MAC with NIO transport fail"
The last successful run was:

https://github.com/reactor/reactor-netty/actions/runs/129752458

[code]

After that it fails:

https://github.com/reactor/reactor-netty/actions/runs/130954788

[code]

There are no changes in Reactor Netty between these two runs.

[2020-06-22 15:23] rstoyanchev commented on #1170
So there must be a cancel before the response content is subscribed to? Is it known where the cancel signal comes from and what was the outcome before?

[2020-06-22 15:36] violetagg commented on #1170
I see this unfortunately I do not know what the test is suppose to do

[code]

[2020-06-22 15:45] rstoyanchev commented on #1170
@mp911de can you clarify the scenario?

[2020-06-22 16:21] nhomble commented on #887
@violetagg just curious, do we ever see the system properties to be pulled in by reactor-netty or do you expect frameworks like spring's webclientbuilder to expose this?

[2020-06-22 17:21] mp911de commented on #1170
Cancellation happens by `MonoNext` when the first element gets emitted. We found out that this case correlates with preceding `HEAD` requests of which we don't consume the response body. Cancellation leads to `response.getConnection().dispose()` in `ReactorClientHttpConnector`. Consuming the body (e.g. `ClientResponse.toBodilessEntity()`) causes the issue to disappear.

[2020-06-23 03:21] deepakkapoor23 commented on #1152
I am still seeing this issue even after reverting reactor-netty back to 0.9.7.RELEASE version. What is the latest stable version to use?

[2020-06-23 13:19] rstoyanchev commented on #503
@violetagg the [following test](https://github.com/spring-projects/spring-framework/blob/97efacc9a40cb3fd9851953b9dab76020fdc21a3/spring-webflux/src/test/java/org/springframework/web/reactive/function/client/WebClientDataBufferAllocatingTests.java#L142-L148) can be used to debug the issue here. The scenario is this:

1) An error response that is consumed with an onStatus handler which uses `bodyTo

[2020-06-23 14:49] violetagg commented on #1152
All

Reactor Netty 0.9.9.RELEASE is available

Thanks a lot for testing this fix.

[2020-06-23 15:58] rstoyanchev commented on #887
@nhomble I would say no. It's not customary to check System properties in the Spring Framework. Typically external properties from different sources (environment, properties file, etc) are injected into classes that can then configure things accordingly.

[2020-06-23 17:20] nhomble commented on #887
I totally agree @rstoyanchev the properties wouldn't come directly from system properties. I was thinking reactor-netty could consider using the system properties directly but integration with spring should rely on configuration properties.

I have this working in my project with the config prop approach, but I wanted to make sure I am not duplicating any enhancements either reactor or spring woul

[2020-06-23 18:31] ek-ex commented on #436
Could you also include the request headers to this enhancement ? Thank you

[2020-06-23 19:51] rstoyanchev commented on #1170
This can be closed now, following https://github.com/spring-projects/spring-framework/commit/21d069695f301851254ff2d03b44478303f24806

[2020-06-23 19:52] SkotnikovD commented on #640
Seemes like a good solution, but what should I provide in <path> if my app is spring boot app and it's paked in jar? How to reference my keystore with relevant path?Seems like classpath:client.jks doesn't work. But it worked in @ealexhaywood manual setup solution.

[2020-06-23 20:50] #1170 closed

[2020-06-24 07:04] itzikiusa opened #1178 "ByteBuf.release() - LEAK"
Hi,
i'm using Java 8
reactor netty v. 0.9.9.RELEASE
spring boot frame work v.2.3.1.RELEASE and spring cloud Hoxton.SR5
getting this error when trying to upload an image
under Ubuntu

[code]

[2020-06-24 07:20] violetagg commented on #1144
@ssalamov Additional fix in Spring Framework was made https://github.com/spring-projects/spring-framework/commit/21d069695f301851254ff2d03b44478303f24806

Also I see you use `.followRedirect(true);`, I would recommend to check the javadoc below and see whether we need some adjustments

https://projectreactor.io/docs/netty/release/api/reactor/netty/http/client/HttpClient.html#followRedirect-boolean

[2020-06-24 07:20] #1144 closed

[2020-06-24 07:25] violetagg commented on #1130
Additional fix in Spring Framework was made spring-projects/spring-framework@21d0696

I'm closing this one for now, if the issue appears even with the new Spring Framework version we can reopen it.

[2020-06-24 07:25] #1130 closed

[2020-06-24 07:39] violetagg commented on #1092
From the linked issue https://github.com/spring-cloud/spring-cloud-gateway/issues/1148

It appears that the server is Tomcat with configurations

[code]

and

[code]

These two configurations might be a cause for a connection close.

I would recommend to configure `maxIdleTime` on the client side having in mind the `keepAliveTimeout` on Tomcat. Without such configuration Reactor Netty can receive

[2020-06-24 07:39] #1092 closed

[2020-06-24 08:27] violetagg commented on #1178
@itzikiusa Please run with `-Dio.netty.leakDetectionLevel=` and either `logging.level.reactor.netty=debug` or `logging.level.reactor.netty.channel.FluxReceive=debug` so that we will be able to see more information where exactly the problems appears.

[2020-06-24 09:08] itzikiusa commented on #1178
will add this options and try to reproduce

[2020-06-24 09:21] jcubells opened #1180 "Impossible to get custom reasonPhrase when returning Mono"
## Motivation

I have a problem very similar to https://github.com/reactor/reactor-netty/issues/879 but in 0.9.x

My server sends a 404 exception with a custome reasonPhrase "404: /unknown-route not found"

When returning a Flux, I get the correct reasonPhrase, but when returning a Mono, the reasonPhrase gets overridden by default one ("404: Page not found")

## Desired solution

The behaviour wit

[2020-06-24 10:13] violetagg commented on #1180
@jcubells Can you test PR #1181

[2020-06-24 10:42] rstoyanchev commented on #1178
If you could also please use Spring Framework 5.2.8 snapshots as well to see if it helps.

[2020-06-24 12:27] AndreasKl commented on #1178
Today we rolled back our cloud gateway dependency update due to a native memory leak (resulting in OOM kills). The working version was  Spring Cloud Gateway 2.2.2 with reactor-netty 0.9.7 when we switched to Spring Cloud Gateway 2.2.3 with reactor-netty 0.9.8 the pattern below started to happen. We will investigate what causes this native buffer leak, but maybe you are aware of a change that could

[2020-06-24 12:33] itzikiusa commented on #1178
@AndreasKl
version 0.9.8.RELEASE had connection leak

[2020-06-24 13:35] jcubells commented on #1180
@violetagg It works perfectly for me thanks

[2020-06-24 14:06] #1180 closed

[2020-06-24 16:33] ttddyy commented on #710
We have hit probably the same issue in our scale testing environment.
I didn't look deep but the symptom seems same.
We have migrated our remote call service from using `RestTemplate` to `WebClient` with `block()` calls, in order to keep the API same.
I am now trying to set async dns resolver, but it would be nice if it has already done by default in reactor-netty level. Especially, it seems react

[2020-06-25 08:08] #1171 closed

[2020-06-25 08:10] violetagg commented on #1171
New release for GitHub Actions Virtual Environments fixes the issue
https://github.com/actions/virtual-environments/releases/tag/macos-10.15%2F20200618.1

[2020-06-25 09:28] #1164 closed

[2020-06-25 09:30] violetagg commented on #1164
@lfmunoz Thanks for the PR. The change 160172f04cd2decc330427c2a2b8e10ddbec06fd was applied to 0.9.x branch and then forward merge to master

[2020-06-25 14:17] matiwinnetou opened #1184 "Stack-overflows in reactor-netty"
While executing a long running (ca 1 hour) job we often run into an error:

[code]

[2020-06-25 14:18] matiwinnetou commented on #1184
Important to add here is that it does not always happen, it happens sometimes. There are times when our job runs successfully and this doesn't happen at all.

[2020-06-25 14:20] matiwinnetou commented on #1184
There is actually another incarnation of this error that it happens at the end of the processing:

[code]

what is worth to add is that I added ReactorDebugTools and also .init() before app starts but it did not help to find out more about the issue.

[2020-06-25 14:24] matiwinnetou commented on #1184
Full dependency report:
[code]

[2020-06-25 14:30] violetagg commented on #1184
@matiwinnetou Can you provide the code? We need to see how you create your flow.

[2020-06-25 14:45] matiwinnetou commented on #1184
@violetagg providing code maybe hard.. it is not open source project.
[code]

[2020-06-25 20:23] violetagg commented on #1184
@matiwinnetou Please check whether you have recursive creation of publishers

[2020-06-25 20:29] matiwinnetou commented on #1184
@violetagg can you elaborate please, what does it mean recursive creation of publishers? What is publisher in this case?

I have a job which consumes from cassandra ads via Flux<StoredAd> using reactive spring data and making a call to REST API and checking whether a certain ad is still alive. For this I use standard http reactive client.

What do you mean then when you say recursive creation of p

[2020-06-25 20:48] matiwinnetou commented on #1184
[code]

[2020-06-25 20:51] violetagg commented on #1184
@matiwinnetou check this https://github.com/reactor/reactor-core/issues/1441

[2020-06-26 03:05] smaldini commented on #1184
This might be different and I'm not sure why the debugging agent didn't help but a stackoverflow error is a pretty special case. So this looks like a case where then/concat + flatMapMany is involved.
If you Step debug in the lines it traverses (onComplete in Concat or FlatmapMany), try to look for the parent (you can watch stepNames().forEach(System.out::println) in your IDE ). Each stage should b

[2020-06-26 07:06] matiwinnetou commented on #1184
@smaldini debugging this is not easy, it takes about 30 - 45 minutes for it to blow up and there are cases where it runs successfully (if one is lucky). Since we have in our docker container only 512kb stack size, I am increasing this at the moment first to 1mb and then 2mb if this doesn't help. Java doesn't have @tailrec like scala :(. You may ask why am I increasing stack size, it is because sin

[2020-06-26 07:36] matiwinnetou commented on #1184
Increasing stack size from 512kb to 1mb helped, job run fine:

[code]

I will do more tests.

[2020-06-26 08:22] matiwinnetou commented on #1184
Second run also successful, increasing stack size from 512kb to 1mb may have really helped.
[code]

[2020-06-26 09:16] matiwinnetou commented on #1184
Job run just fine 3rd time in a row, this never happened so far. Closing.

[2020-06-26 09:16] #1184 closed

[2020-06-26 20:21] smaldini commented on #1184
i'm still very surprised something did add a lot of operators to get to that stage and we should identify it (recursive reactive api call, chained many data operations ?)

[2020-06-28 11:44] matiwinnetou commented on #1184
@smaldini yes indeed, if you want to reproduce this I suggest to run a few tests yourself with -xss512k, reduced stack size

[2020-06-28 18:15] saralpa commented on #796
Hello All,

I also got similar issue today. I am using latest version of azure-storage-blob :
compile group: 'com.azure', name: 'azure-storage-blob', version: '12.7.0'
which internally uses :
compile group: 'io.projectreactor', name: 'reactor-core', version: '3.3.7.RELEASE'

I am sending approx 7000 request in parallel to azure destination.
Please find attached logs
![Exception](https://user-image

[2020-06-29 03:12] lombook opened #1187 "SslHandshakeTimeoutException"
reactor-netty-0.9.7.REALSE
springboot  2.3.0.REALSE

Is this a bug? Is there a solution?
try set work count , but it doesn't work.
any reply will be appreciated. thanks.

Caused by: io.netty.handler.ssl.SslHandshakeTimeoutException: handshake timed out after 10000ms#012	at io.netty.handler.ssl.SslHandler$5.run(SslHandler.java:2054)

[2020-06-29 07:44] violetagg commented on #1187
@lombook You do not specify whether this is server or client, but let's say it is a client then look at the javadoc (10s is default)

https://projectreactor.io/docs/netty/release/api/reactor/netty/http/client/HttpClient.html#secure-java.util.function.Consumer-

You can either specify it via builder or system property.

[code]

[2020-06-29 07:44] #1187 closed

[2020-06-29 08:07] violetagg commented on #796
@saralpa This issue's been closed already, create a new issue and provide tcp dump so that we can see which peer closes the connection.

[2020-06-29 08:13] violetagg commented on #1167
@ramk90 Closing this issue, We can reopen it when you provide more information.
For questions please use [Gitter](https://gitter.im/reactor/reactor-netty) or [StackOverflow](https://stackoverflow.com/questions/tagged/reactor-netty)

[2020-06-29 08:13] #1167 closed

[2020-06-29 08:21] violetagg commented on #1146
@sukawanth You have many components involved in your scenario, without some small reproducible example we cannot proceed with the investigation. I'm closing this issue, we can reopen it when you provide more details.

[2020-06-29 08:21] #1146 closed

[2020-06-29 08:31] tyousyun85 opened #1188 "reactor.netty.http.client.HttpClilent: LEAK: ByteBuf.release() was not called before it's garbage-collected"
## backgroud
Hi, we are using the spring cloud gateway to recieve the request from caller and forward it to backend service.
The request body will be cached in memory and parts of response body will be read and wrapped to caller.

## Environment
java version "1.8.0_144"
reactor-core-3.3.7.RELEASE.jar
reactor-extra-3.3.3.RELEASE.jar
reactor-netty-0.9.6.RELEASE.jar
spring-cloud-starter-gateway-2.2.1

[2020-06-29 08:51] violetagg commented on #1188
@tyousyun85 Can you provide the logs with this channel id `0x130c3e1d`

`Hint:[id:0x130c3e1d,L:/xx.xx.xx.xx:49273 -R:xxx.xxx.com.cn/xx.xx.xx.xx:80] Buffered ByteBufHiolder in Inbound Flux Queue`

[2020-06-29 11:58] violetagg commented on #1188
@tyousyun85 According to the log below, you subscribe for the inbound which has 1 element pending

[code]

Can you set some `log` where you consume the incoming data, it seems that for some release the incoming data is not consumed even though there is a subscriber.

[2020-06-29 17:25] gtomassi commented on #1054
@michaelr524 @violetagg
Furthermore, if HttpClient has a life cycle and should be re-used then it is unclear from any documentation how to shut one down and cleanup any backing resources?

Whether or not to re-use HttpClient(s) and clean them up has been a big question for us for over a year now and so I'm happy to finally see an answer to that question, but we're still unclear how to clean up an

[2020-06-30 10:31] tyousyun85 commented on #1188
Sorry, it is hard to get the log you want. But we can share the way to receive and send response data.
Actually, we use the reactor.netty.Connection.receive method to receive the response data and use the org.springframework.http.server.reactive.ReactorServerHttpResponse.writeWithInternal method to send the response data to caller.
We think there are may be tow point would produce leak:
One point

[2020-07-01 06:16] violetagg commented on #1188
@tyousyun85 You are using SCG but you still need to call `inbound().receive()` by yourself?
In SCG we have a cleanup mechanism for error/cancel use cases. Take a look here https://github.com/spring-cloud/spring-cloud-gateway/blob/223165882707f2b9242e27c2d3851a9d76b04b6f/spring-cloud-gateway-core/src/main/java/org/springframework/cloud/gateway/filter/NettyRoutingFilter.java#L154 and here https://gi

[2020-07-01 07:46] violetagg commented on #503
@rstoyanchev This PR https://github.com/reactor/reactor-netty/pull/1185 should fix the issue. Can you please verify it?

[2020-07-01 08:26] violetagg commented on #1165
@kushagraThapar From the reproducible example I do not see how this `SSLEngine closed already` can cause an OOM.
The exception is thrown right after acquiring from the pool and before sending any request. However I see that you use `responseConnection` and I do not see how you handle cancellations. Recently there was similar issue with Spring WebClient, you might want to look at it https://github.

[2020-07-01 10:04] tyousyun85 commented on #1188
@violetagg
Thank you for your replying.
1. Yes, we are using SCG to forward request  as you shown. But we add a filter between NettyRoutingFilter and NettyWriteResponseFilter. In some conditions, this filter will do nothing.And in other conditions. this filter will warp the response body as bellow :
[code]

2.  Because we don't know how large the  Direct Memory size is suitable. So we set a smalle

[2020-07-01 15:26] Nikhilkoneru commented on #907
Even I had the same issue. Try this, it fixed my issue. The problem is not with connection timeout its with read timeout
@Bean
    public WebClient webClient(){
        HttpClient httpClient = HttpClient.create()
                .tcpConfiguration(tcpClient -> {
                    tcpClient = tcpClient.option(ChannelOption.CONNECT_TIMEOUT_MILLIS, 60000);
                    tcpClient = tcpClient.d

[2020-07-01 15:36] violetagg commented on #887
@nhomble I prefer to have only an explicit configuration using the API instead of system properties to avoid mixture of priorities .... or should it be a choice  between those two configurations or a merge of those two?
2. Also let say that we have more than one client in one JVM, then should these system properties apply to all clients or only to some of them ...

[2020-07-01 15:58] violetagg commented on #1054
@gtomassi

Where did you find a suggestion for creating a new instance every time? I should fix that. The documentation shows how you can make one request.
I'll update javadoc so that it says that invoking `create` you will receive a new `HttpClient`.

I'm opened for suggestions (better if it is a PR) how to improve the reference documentation so that it is clear that with invoking `HttpClient.cre

[2020-07-02 00:14] kushagraThapar commented on #1165
@violetagg Thank you for looking at the issue.
OOM doesn't happen directly or soon, but after a very long running operation under heavy work load. We use 1000 as the number of connections for the fixed Connection pool.

Regarding cancellations, what should be the recommended way to handle cancellations. I think that is one part of the problem, or in fact could be the major issue here.

[2020-07-02 00:37] violetagg commented on #1165
@kushagraThapar You do not subscribe for the inbound but you "wrap" the connection that Reactor Netty provides.
https://github.com/kushagraThapar/reactor-netty-ssl-error/blob/1d87eac3e0646160de0d62fcc689e68b2dc8cdc6/src/main/java/com/example/ReactorNettyClient.java#L99
If a cancellation is received before you are able to subscribe for the body, the cancellation is not propagated to Reactor Netty a

[2020-07-02 06:16] nhomble commented on #887
Great points @violetagg. For (1) I think the client builder could support both styles and to avoid the merging/ambiguity problem the builder could either take the config as-is in```TcpConfiguration``` with ```.proxy(Consumer<..>)``` or explicitly ```.proxyWithSystemProperties()``` for lack of a better name.

For (2), I think we can continue to be flexible by not assuming system properties are a so

[2020-07-02 06:36] nhomble opened #1190 "PatternSyntaxException on nonProxyHosts"
I am porting my existing application that defines nonProxyHosts with the patterns described in [Oracle: Networking Properties](https://docs.oracle.com/javase/7/docs/api/java/net/doc-files/net-properties.html) but the netty client is throwing parsing errors.

## Expected Behavior

The clients proxy selector should understand ```*``` as a wildcard despite not being a normal regex like ```.*```

An e

[2020-07-02 10:12] violetagg commented on #1148
@estigma88 Please follow this issue https://github.com/netty/netty/issues/10384

[2020-07-02 14:52] violetagg commented on #887
@nhomble

I like the idea and will reopen the issue. So if somebody wants can provide a PR.

[2020-07-02 15:15] violetagg commented on #887
https://docs.oracle.com/javase/7/docs/api/java/net/doc-files/net-properties.html

[2020-07-02 17:54] nhomble commented on #887
@violetagg thanks - do you have any thoughts around reconciling the http and https settings? The proxy enum only has http. Similar to the socket enums, should we introduce a new enum for http**s**? Then I think it's clean to call the systemProperties method on the builder for that type.

[2020-07-02 18:53] violetagg commented on #1190
@nhomble
https://projectreactor.io/docs/netty/release/api/reactor/netty/tcp/ProxyProvider.Builder.html#nonProxyHosts-java.lang.String-

[code]

This is not just a pattern but gives you the possibility to create a regular expression for hosts that will bypass the proxy.
Reactor Netty will use the regular expression that is provided by the user.

[2020-07-02 19:02] violetagg commented on #887
@nhomble Netty provides only one type of `HttpProxyHandler` and it uses `CONNECT` method.
https://netty.io/4.1/api/io/netty/handler/proxy/package-summary.html

[2020-07-02 19:08] nhomble commented on #1190
I agree the docs make it clear that netty expects a regular expression, so maybe this is less of a bug in the code but I think a bug in the expectations many people would have when configuring their proxies. To quote from the oracle doc
[code]

won't work because of the dangling metacharacter ```*``` in the beginning

[2020-07-02 19:10] kushagraThapar commented on #1165
@violetagg - Thank you for these wonderful insights and the explanation, it makes sense.
I updated my example with the same logic that is used in https://github.com/spring-projects/spring-framework/commit/21d069695f301851254ff2d03b44478303f24806

I am still facing the issue, though one interesting thing I noticed is - for my scenario, the cancellation is happening before the response comes on the

[2020-07-02 19:19] violetagg commented on #1190
@nhomble yep as it is not a valid regular expression.
If we provide an API like this will it solve your issue `Builder nonProxyHosts(Predicate<SocketAddress> nonProxyHostsPredicate);`

[2020-07-02 19:24] violetagg commented on #1165
@kushagraThapar Yes as I wrote with this concrete example I do not see how this `SSLEngine closed already` can cause an OOM.
The issue with `responseConnection`, cancellation and the possibility of not draining the incoming data is something that I saw while reviewing the example.

[2020-07-02 19:37] kushagraThapar commented on #1165
@violetagg - I agree and it is possible that `SSLEngine closed already` might not be causing OOM directly, but rather could a be side effect of this issue.
Since this exception happens on all connections eventually (1000 connections in the fixed connection pool), causing the logger to print too many exception stack traces can also lead to using too much heap memory and thus causing the OOM.

Thoug

[2020-07-03 07:06] violetagg commented on #1031
@adriancole I'm looking at this one. I think that the only methods that are interesting are
reactor.netty.http.client.HttpClientRequest#isFollowRedirect
reactor.netty.http.client.HttpClientRequest#requestHeaders
https://projectreactor.io/docs/netty/release/api/reactor/netty/http/client/HttpClientRequest.html

So instead of exposing the request we can expose only these two methods.

@rstoyanchev @s

[2020-07-03 07:15] adriancole commented on #1031
let's say if you have a redirect and its requestline changes from POST to GET and a different path. i that's readable sounds good however achieved.

[2020-07-03 07:21] violetagg commented on #1031
@adriancole We do not change the method when redirecting, we already have
https://projectreactor.io/docs/netty/release/api/reactor/netty/http/client/HttpClientInfos.html#resourceUrl--
https://projectreactor.io/docs/netty/release/api/reactor/netty/http/client/HttpClientInfos.html#redirectedFrom--

[2020-07-03 07:22] adriancole commented on #1031
ok cool. I know some clients can change whole requestline on redirect, good to know this doesn't

[2020-07-03 08:23] simonbasle commented on #1031
so in a nutshell, adding `HttpClientResponse#isRequestRedirected` and `HttpClientResponse#getRequestHeaders` ?

Note I'm using `getRequest` as a prefix for the headers, unlike the other accessors right now. I feel this one is the only one that only makes sense from a request perspective, and thus should be a bit more differentiated in the API.

[2020-07-03 16:10] nhomble commented on #1190
@violetagg thanks, I think that moves us in the right direction and this is definitely extensible. Is it worthwhile for the project to own some parser to translate the nonProxyHosts pattern into a predicate?

[2020-07-03 17:32] violetagg commented on #1190
@nhomble May be as part of the #887 ?

[2020-07-04 16:42] gongmingbin opened #1194 "HttpClient with websocket can not pass Host Header since 0.9.7"
## Expected Behavior
httpClient pass Host Header to Sever
## Actual Behavior
httpClient lost Host Header since 0.9.7
## Steps to Reproduce

[code]
Run the test with 0.9.6.RELEASE, Test pass. But run the test with 0.9.7.RELEASE, Test failed!
## Possible Solution

## Your Environment

* Reactor version(s) used:
* Other relevant libraries versions (eg. `netty`, ...):
* JVM version (`javar -version`):

[2020-07-06 06:43] avijha19 opened #1195 "Spring Cloud Gateway: Netty Byte Buff Leak Errors: ERROR io.netty.util.ResourceLeakDetector.reportTracedLeak - LEAK: ByteBuf.release() was not called"
I am getting

[code]

## Expected Behavior
No leak
## Actual Behavior
Ecxception:
ERROR io.netty.util.ResourceLeakDetector.reportTracedLeak - LEAK: ByteBuf.release() was not called before it's garbage-collected. See https://netty.io/wiki/reference-counted-objects.html for more information.
Recent access records:

## Steps to Reproduce
When I use Spring cloud Gateway filter  to log request and resp

[2020-07-06 07:13] violetagg commented on #1148
@estigma88 The fix will be available with Netty 4.1.51.Final

[2020-07-06 09:36] violetagg commented on #1194
@gongmingbin @Unthrottled We do not preserve the custom HOST header as a result of #1047
In addition to that we have this fix in Netty 4.1.48.Final https://github.com/netty/netty/issues/10101

I prepared a PR #1197 that fixes this issue and also keeps a correct behaviour for the issue from #1047.

PTAL

[2020-07-06 10:38] davesargrad commented on #756
I agree with @sylvain-rouquette . I am also seeing this, problem, and I see other GIT reports that seem to pertain to the use of the netty http library that suggest this is a real bug.

Strikes me as odd that this would be closed and marked as not a bug.

![image](https://user-images.githubusercontent.com/48793689/86584680-4770ff80-bf53-11ea-96e0-9b7f15da20e1.png)

[2020-07-06 11:23] violetagg commented on #756
@davesargrad we need at least a tcp dump in order to proceed with the investigation. When such is provided we can try to identify the issue. For example this issue #1170 or this issue #1092
Closing a bug does not mean that we cannot reopen it when more information is available.
Also we ask people to open a new issue when they face this exception because even that the exception seems to be the same

[2020-07-06 14:27] violetagg commented on #1165
@kushagraThapar Will you be able to test PR #1198 ?

[2020-07-06 16:14] kushagraThapar commented on #1165
@violetagg - Thanks for the PR, I can definitely try it out. Will post the update once I am able to test it, hopefully today.

[2020-07-07 00:16] kushagraThapar commented on #1165
@violetagg - I was able to test the PR and it definitely fixes the issue in the example test application, thank you so much for that.

However, in my SDK, I am still seeing the issue with the fix PR version. Here are some interesting observations from my debugging today in SDK code.

1. When calling `doOnCancel()` on http client - the response was always already subscribed before cancellation happ

[2020-07-07 09:04] kiranmaiem opened #1199 "Sending HTTP2 empty DATA frame with length 0 and EndStream flag true"
Hi,

We observe that when sending HTTP2 response , most of the times HEADER FRAME and DATA FRAME1 are sent and the stream ends with DATA FRAME2 of 0 length and with end stream flag true.

Is there a way to avoid empty data frame and end the stream by setting "end stream flag" to true in DATA FRAME1 itself?

[2020-07-07 14:04] violetagg commented on #1199
@kiranmaiem Is that related to http server or http client. Which version do you use 0.9.x or the current development branch 1.0.0?

[2020-07-07 18:33] #1031 closed

[2020-07-07 19:14] violetagg commented on #1199
@kiranmaiem I created one very basic test, when you send `Mono` you can see that we send the data with one DATA FRAME. When the `Publisher` is `Mono` we can send the data and mark end of stream with one DATA FRAME.
If in the example below you change `res.sendString(Mono.just("Hello"))` with `res.sendObject(Unpooled.wrappedBuffer("Hello".getBytes(Charset.defaultCharset())))` you will see that we ag

[2020-07-07 19:59] violetagg commented on #1165
@kushagraThapar Thanks. I committed an additional fix to the PR, if you can test it, it will be great!

[2020-07-07 20:03] gtomassi commented on #1054
@violetagg
It is not a question that invoking create would produce a new instance, but rather when/why to do it. As it reads to me, the HttpClient is ambiguous in many scenarios, for instance a very common use case is when someone needs to change headers on each request when querying a single server or API (CONTENT_LENGTH, AUTHORIZATION, CONTENT_TYPE, etc). The same applies for numerous other type

[2020-07-07 20:37] kushagraThapar commented on #1165
Definitely, let me test it out .. will update you with the results.

[2020-07-08 06:44] vioao commented on #1060
Seems the problem is still on spring-boot-starter-parent 2.3.0.RELEASE

[code]

Error:
[code]

[2020-07-08 06:52] violetagg commented on #1060
@vioao This was closed with a fix in Spring Framework (see the linked issue). If you experience a similar issue please open a new issue with a reproducible example.

[2020-07-08 07:04] violetagg commented on #1178
@itzikiusa I'll close this. If you are able to provide more information we can reopen the issue.

[2020-07-08 07:12] itzikiusa commented on #1178
@violetagg
the issue did not reoccur till yesterday

this is the stack trace(after adding the requested envars)

[code]

[2020-07-08 07:15] violetagg commented on #1195
@avijha19 So your main goal is to log the request/response? Do you have some special requirement for that or you can use  what Spring Gateway provides? See the documentation:
https://cloud.spring.io/spring-cloud-gateway/reference/html/#wiretap

[2020-07-08 07:19] violetagg commented on #1178
@itzikiusa And the versions for the components? (Reactor Netty/Netty, Spring Framework)
Also do you have more stacks because in this stack I see only Netty code.
You run with `-Dio.netty.leakDetectionLevel=paranoid` and `logging.level.reactor.netty=debug`, don't you?

[2020-07-08 07:22] itzikiusa commented on #1178
@violetagg
Spring boot version - 2.3.1.RELEASE
reactor-netty version - 0.9.9.RELEASE

this are the envars added -
```-Dio.netty.leakDetectionLevel=advanced -Dlogging.level.reactor.netty.channel.FluxReceive=debug`

[2020-07-08 07:24] violetagg commented on #1188
@tyousyun85 do you think you can isolate some reproducible example. `OutofDirectMemoryError` this definitely is interesting and there might be some relation to the 'LEAK:ByteBuf.release()' and 'onNextDropped'

[2020-07-08 07:26] violetagg commented on #1178
@itzikiusa OK and is there some other stacks in the logs?

[2020-07-08 07:32] itzikiusa commented on #1178
@violetagg no, around it there are only other incoming requests debug, like this:
[code]

[2020-07-08 07:33] czlovewyw opened #1200 "socket handle not release"
we bulid a api gateway with spring cloud gateway,when it runs on windows,it looks very well,but when wu use it on centos,we find the process take up too many handles,and with the request comes,the handles is increasing fast.
now the pid is 27523,we use command to count the number of handle:
[code]
and use command we find almost all the handles are socket handles:
[code]
after a lot of tests,we fin

[2020-07-08 07:38] violetagg commented on #1200
@czlovewyw Please update to 0.9.9.RELEASE, this issue was a regression in 0.9.8 which we fixed in 0.9.9.
https://github.com/reactor/reactor-netty/releases/tag/v0.9.9.RELEASE

[2020-07-08 07:38] #1200 closed

[2020-07-08 07:42] violetagg commented on #1178
@itzikiusa Then can you share at least more details about your scenario. You write that the error appears in scenario with uploading an image?

[2020-07-08 08:24] itzikiusa commented on #1178
As far as i can see, this error came from simple GET request, not related to image upload
this is the request which came to server:
```[07/Jul/2020:17:02:19 +0000] "GET /games/koala/1.0.0/blocked/country/57/80100167/BE/UNKNOWN HTTP/1.1" 200 19 "-" "Apache-HttpClient/4.5.6 (Java/1.8.0_252)" 8ms`

[2020-07-08 08:58] kiranmaiem commented on #1199
@violetagg we are using Spring cloud gateway which uses reactor netty and we see this behavior. I will check gateway code to see how the response is returned and get back.

[2020-07-08 09:00] tyousyun85 commented on #1188
Hi @violetagg ,
  we find out the relationship of 'outofDirectMemoryError' and 'LEAK'.
  Because we use  DataBufferutils.read(new ByteArrayResource(body),bufferFactory,body.length) to cache request body. This way can let the buffer be created in sending request to server. And org.springframework.core.io.buffer.DataBufferUtils.ReadableByteChannelGenerator.accept  has a problem :
[code]
So we modifi

[2020-07-08 14:17] khalDrogo91 commented on #587
I am also getting this issue with spring boot starter webflux 2.3.1.realese.

Do we need to override something to avoid internal retry mechanism?

[2020-07-08 14:24] violetagg commented on #587
@khalDrogo91 Can you provide a reproducible example?

[2020-07-08 16:02] kushagraThapar commented on #1165
@violetagg - for some reason I am not able to build the latest changes in the PR. I tried multiple times, and the build is not completing..

Here are the commands I tried :

[code]

I am seeing a lot of test failures as well , which I don't remember seeing last time (but I could be wrong)

[code]

Please let me know if there is a faster way to build the library locally ?

[2020-07-08 16:07] violetagg commented on #1165
@kushagraThapar can you try just `./gradlew publishToMavenLocal` this will just build the artefact and publish it to the local maven repo

[2020-07-08 17:21] avijha19 commented on #1195
Yes I can use that, but we have some custom requirement, where based on path pattern, we don't have to log, so wanted to use custom global filter. Please confirm. Can I release databuffer at the same time when i read that

[code]
Response Buffer

[code]

[2020-07-08 17:51] khalDrogo91 commented on #587
@violetagg  added more details to below link.
https://stackoverflow.com/questions/62800602/io-netty-channel-unix-errorsnativeeceptionioexception-readaddress-failed-conn

[2020-07-08 18:07] kushagraThapar commented on #1165
@violetagg - I verified and this fix works well :)
I am not seeing the issue anymore at all.

Thank you so much for your efforts and fixing this issue.

Let me know once this gets released, I will update the azure java sdks to the released version.

[2020-07-08 18:32] violetagg commented on #587
@khalDrogo91 So from that link I get that the problem is not that it goes in a loop, but that the request will be retried. Is that correct?

[2020-07-08 18:35] violetagg commented on #587
@khalDrogo91 You can use this https://projectreactor.io/docs/netty/release/api/reactor/netty/http/client/HttpClient.html#disableRetry-boolean-

[2020-07-08 19:53] avijha19 commented on #1195
Any way when I used
logging.level.reactor.netty=TRACE

[code]

I got `2020-07-08 12:52:22.788 TRACE [,,,] 40212 --- [ctor-http-nio-3] reactor.netty.channel.ChannelOperations  : [id: 0xf3471aeb, L:/0:0:0:0:0:0:0:1:8082 - R:/0:0:0:0:0:0:0:1:57468] Disposing ChannelOperation from a channel

java.lang.Exception: ChannelOperation terminal stack
	at reactor.netty.channel.ChannelOperations.terminate(Chan

[2020-07-08 20:04] avijha19 commented on #1195
Actually following works
[code]
but still want to use the global filter

[2020-07-08 23:59] avijha19 commented on #1195
@violetagg as mentioned in https://github.com/reactor/reactor-netty/issues/1178, we might have issue in 0.9.8 of netty so now using 0.9.9 version....

[2020-07-09 05:36] jayzch opened #1201 "When responsebody is empty, Connection has been closed BEFORE response."
When responsebody is empty with  lot of pressure measurement,  then spring cloud gataway will throw Exception.
Connection has been closed BEFORE response.

[code]

reactor.netty.http.client.PrematureCloseException: Connection has been closed BEFORE response, while sending request body 	Suppressed: reactor.core.publisher.FluxOnAssembly$OnAssemblyException:  Error has been observed at the following

[2020-07-09 05:45] violetagg commented on #1201
@jayzch Please elaborate more on the scenario. Thanks.

[2020-07-09 05:59] jayzch commented on #1201
when the http request response the empty body  with status 200, the error happens.

[2020-07-09 08:36] #1165 closed

[2020-07-09 08:38] violetagg commented on #1165
@kushagraThapar Thanks for testing the fix. It will be available with next release 0.9.10.

[2020-07-09 13:47] khalDrogo91 commented on #587
@violetagg it worked like a charm.
Really appreciate your help on it.

[2020-07-09 15:48] violetagg commented on #1195
@avijha19 I commented in Spring Gateway issue as I think this one here is related more to your usage of the Spring Gateway functionality.

[2020-07-09 15:56] violetagg commented on #1188
@tyousyun85 It is interesting so you have a filter between `NettyRoutingFilter` and `NettyWriteResponseFilter` that will try to read the incoming data. I would like to mention here that by specification only one subscriber is allowed to subscribe to the incoming data so I kind of don't know how your scenario will work as `NettyWriteResponseFilter` will also try to read the incoming data
https://gi

[2020-07-09 16:03] violetagg commented on #1201
@jayzch So let me summarise:
1. you use Spring Gateway,
2. you issue a POST request (does this post request has a body?)
3. Gateway receives a response 200 OK as a result and the exception appears

Is that correct?

The exception above says the following: the connection was closed while still sending the request body.

Did you check whether your endpoint consumed the request body?

[2020-07-09 16:37] kushagraThapar commented on #1165
@violetagg - can you please let me know the tentative release date for 0.9.10.RELEASE ?
Also, once this is out, do we need to upgrade reactor-core versions as well (as part of compatible changes) ?

[2020-07-09 16:50] violetagg commented on #1165
@kushagraThapar the current plan is for 20.07. We will release both reactor core + netty.

[2020-07-09 17:04] avijha19 commented on #1195
Thanks @violetagg

[2020-07-09 18:41] violetagg commented on #1178
@itzikiusa In the stack above I do not see Reactor Netty classes. This GET request above does not give much information as I don't have your application and cannot try to reproduce the problem or at least understand the scenario.

Either try to create some simple reproducible scenario or try to describe exactly what your application is doing.

[2020-07-10 06:22] jayzch commented on #1201
1.Yes. Spring Cloud Gateway
2.HTTP POST ,request with body  but response empty
3. Gateway receives a response 200 OK  , then  Gateway receiveing  single thread is ok, but multithreading (100  thread) caused exception

[2020-07-10 06:51] violetagg commented on #1201
@jayzch Are you able to provide some reproducible example? Do you have some timeout configured? Unfortunately I'm not able to reproduce the issue so it might be something specific for your use case.

[2020-07-10 06:58] jayzch commented on #1201
When response with empty body  , Gateway receiveing  multithreading request caused exception

[code]

When response with body ,It works well.
[code]

[2020-07-10 07:11] violetagg commented on #1201
@jayzch There is no difference in the two snippets above or?
What is inside `dataReportService.reportData(uploadDataRequest)`?
Is the request body consumed in every scenario?

By specification we have the following
https://tools.ietf.org/html/rfc7230#section-6.3

[code]

[2020-07-10 07:26] jayzch commented on #1201
There is no difference in the two snippets.

I have try many times.

only difference is  empty response or not.

there are others   snippets   the same as the problem.

If response is empty, every now and them throw  exception.

logger_name: org.springframework.boot.autoconfigure.web.reactive.error.AbstractErrorWebExceptionHandler
message: [05bd2cff-148514]  500 Server Error for HTTP POST "/mult-u

[2020-07-10 07:34] violetagg commented on #1201
and is the request body consumed in every scenario?

[2020-07-10 07:42] jayzch commented on #1201
yes

[2020-07-10 10:31] violetagg commented on #1201
@jayzch I'm trying to reproduce with this

**Spring Gateway app**

**application.yml**

[code]

**Application.java**

[code]

The target server is using Spring WebFlux

**Application.java**

[code]

**MyController.java**

[code]

Then I use `wrk2` for generating load

**post.lua**

[code]

[code]

I do not see any exception in Spring Gateway

[2020-07-10 10:39] jayzch commented on #1201
try this

MyController.java

@RestController
public class MyController {

	@PostMapping("upload")
	public ResponseEntity<String> post(@RequestBody String body) {
		System.out.println("BODY: " + body);
		return new ResponseEntity<>(HttpStatus.OK);
	}
}

[2020-07-10 10:42] violetagg commented on #1201
@jayzch I don't get it

[2020-07-10 10:44] jayzch commented on #1201
return new ResponseEntity<>(HttpStatus.OK);

		return new ResponseEntity<>("", HttpStatus.OK);

[2020-07-10 10:48] jayzch commented on #1201
@violetagg  sorry，I write  some mistake。I have correct it

[2020-07-10 10:50] violetagg commented on #1201
@jayzch OK

With this change

[code]

I do not see issues

[code]

I'm using Java 8 on Mac OS

[2020-07-10 15:12] echoesbr commented on #1060
Hi @violetagg,

will this issue and this [one](https://github.com/reactor/reactor-netty/issues/564#issuecomment-576244256) be fixed in Spring Framework?

I've been experiencing the same behaviour you described about the remote peer closing the connection. In my case, new downstream pods are created and traffic directed to them. I've applied the LIFO approach with a `maxIdleTime` of 30s, but withou

[2020-07-10 15:22] violetagg commented on #1060
@echoesbr the fix for this one should be available already with 5.2.6 and above (see the linked issue).
The other one in Reactor Netty is in 0.9.5 and above.

[2020-07-10 16:13] ericbottard commented on #1150
@cjr333  Could you please elaborate how you measured response time (ie what tool and config was used), that would be great.

[2020-07-10 19:14] itzikiusa commented on #1178
it there any other log i can add to view the full trace?

[2020-07-10 21:46] skorhone commented on #1195
There's just so many issues with this code. Trash it, there's nothing useful in it. I just recently spent a day and a half writing algorithm for capturing request and response contents. I have background in writing extremely scalable applications and I still found task very difficult (reactor is fairly new to me, but events and threading I've used for ovee two decades). We had requirements that co

[2020-07-10 22:21] avijha19 commented on #1195
@skorhone, thanks for the feedback, till now its working good in my local except the exception, could you please share the other default implementation to capture request response as string as you have mentioned for spring cloud gateway. Thanks in advance.

[2020-07-10 22:42] skorhone commented on #1195
@avijha19 Read: https://cloud.spring.io/spring-cloud-static/spring-cloud-gateway/2.1.0.RELEASE/single/spring-cloud-gateway.html#_modify_request_body_gatewayfilter_factory

This filter converts request body to e.g string. It passes that string to a callback that you need to define. From callback you return whatever you want to pass upstream. If you don't wish to modify content, return Mono.just() w

[2020-07-11 00:44] tyousyun85 commented on #1188
Thank you very much for your detailed explanation,it helps a lot for us.
1. ResponseFilter is the middle fileter between NettyRoutingFilter and  NettyWriteResponseFilter.
We use the ConnectionDecator to extend the connection and overwrite the inbound method in ResponseFilter.
(We also use a NettyRoutingFilterDecator to extend NettyRoutingFilter,but I think we could ignore this first)
[code]
Our sc

[2020-07-13 09:37] tluo-github opened #1202 "Spring Cloud Gateway: onInbound autoRead no keep-alive RST Error"
Jmeter <--> gateway <--> microservice (have a endpoints sleep 10s)

The request is sent to the gateway, which forwards the request to the microservice, which sleeps for 10 seconds. Jmeter then forces the request to end and send RST. I'm getting  **java.io.IOException: Connection reset by peer**

## Expected Behavior

No error

## Actual Behavior

<img width="1436" alt="no-keepalive" src="https://u

[2020-07-13 09:56] violetagg commented on #1202
@tluo-github Reactor Netty 0.7.x is not supported anymore. The current maintenance versions are 0.8.x and 0.9.x.
Please upgrade your versions and check again the behaviour.

With these versions we have this behaviour:
https://github.com/reactor/reactor-netty/blob/749023760ec10eb28d9b2fb0b208ec09cd283e9c/src/main/java/reactor/netty/http/server/HttpServerOperations.java#L491-L495

And also `Connecti

[2020-07-13 10:22] tluo-github commented on #1202
@violetagg  think you

I agree with **Connection reset by peer**  should be logged with DEBUG log level.

I will use sprinng initiaizr spring cloud gateway ,reactor-netty 0.9.8 ,i'm get

[code]

I created two global filters: RequestLoggingBeginFilter,RequestLoggingEndFilter,and A global exception handler is implements WebExceptionHandler.This error will cause the RequestLoggingEndFilter filter and

[2020-07-13 10:30] violetagg commented on #1202
@tluo-github This is pos termination, so it means that your request/response finished already and after that `Connection reset by peer` is received. It should not harm or it is in your use case?

I think we may introduce something like this one here in order to distinguish between this exception and the other exceptions
https://github.com/reactor/reactor-netty/blob/749023760ec10eb28d9b2fb0b208ec09

[2020-07-13 10:37] tluo-github commented on #1202
@violetagg
I have a URL concurrency control on the global filter line at the Gateway, in which case I can't catch exceptions and I can't free the concurrency。

This exception does not enter  TcpServerBind.java->onUncaughtException()

[2020-07-13 10:40] tluo-github commented on #1202
@violetagg
reactor-netty : 0.9.8

[code]

Keepalive will now also report error exceptions

[2020-07-13 12:08] violetagg commented on #1202
@tluo-github

As I wrote this is a post termination so it is only a log message.

I prepared a PR #1203 so that we will use DEBUG log level for `Connection reset by peer`.
Will you be able to test it?

[2020-07-13 12:14] violetagg commented on #1194
As discussed in #1197 I'm going to revert #1047

[2020-07-13 12:42] violetagg commented on #1194
@gongmingbin Will you be able to verify the change? Please try 0.9.10.BUILD-SNAPSHOT.

[2020-07-13 13:09] violetagg commented on #1188
(We also use a NettyRoutingFilterDecator to extend NettyRoutingFilter,but I think we could ignore this first)

I think this whole discussion should be moved in SCG issue tracker as there SCG maintainers can help better.
Wdyt?

[2020-07-13 13:11] violetagg commented on #1195
I think this whole discussion should be moved in SCG issue as there SCG maintainers can help better.
Wdyt?

[2020-07-13 13:14] violetagg commented on #1178
@itzikiusa You already have this `-Dio.netty.leakDetectionLevel=advanced` `-Dlogging.level.reactor.netty.channel.FluxReceive=debug` and there is no Reactor Netty code in the stack.
I do not claim that the problem is not in Reactor Netty, but in order to proceed with the investigation we need somehow to try to reproduce this.

[2020-07-13 17:45] violetagg commented on #503
I'm closing this issue as a fix is provided with #1185

[2020-07-13 17:45] #503 closed

[2020-07-13 19:18] violetagg commented on #1148
Netty updated to 4.1.51.Final 6851e4615556480bdefbe503e51d7c94430c89f5

[2020-07-13 19:18] #1148 closed

[2020-07-14 01:30] tluo-github commented on #1202
@violetagg

The log level changed from WARN to DEBUG, but it didn't solve my problem. After reporting an error, you will no longer enter the global filter and global anomaly.

Whether the root cause of the problem is  netty  aoturead.

[2020-07-14 07:11] rstoyanchev commented on #503
The workaround has been removed in Spring Framework master and 5.2.x.

[2020-07-14 08:58] tyousyun85 commented on #1188
Ok, we don't clear how the problem is produced. So we report issue just by the LEAK log.
Thank for your help! (Could we can contact you  if we find more accurate information?)

[2020-07-14 09:55] nitinkalenk commented on #796
@violetagg any other issue opened for this?.

[2020-07-14 11:45] violetagg commented on #796
@nitinkalenk please open new issue

[2020-07-14 11:54] violetagg commented on #1188
@tyousyun85 The leak might be related to the usage of SCG components. Please clarify with SCG maintainers how these components can be used in your scenario. We need something more isolated, with so many third party components as in your scenario it is hard to find the component that leaks the memory.

[2020-07-14 13:21] rstoyanchev commented on #1157
I am wondering why the need for a custom `Publisher` since Reactor likely has what you need and will give you Reactive Streams compliance. Writing your own is not as trivial as it seems.

I would also ask about the reason for `subscribeOn(Scheduler)` since that is not obvious from the sample, as well as why write directly to `ServerWebExchange` instead of returning the data to be serialized by Web

[2020-07-14 13:40] violetagg commented on #1157
@evgenyvsmirnov I tried your example with the changes below and it is working:

`Mono.defer`

[code]

Or with `Mono.just`

[code]

Or trying to be compliant with Reactive Streams specification

[code]

[code]

[2020-07-14 16:25] evgenyvsmirnov commented on #1157
@rstoyanchev, @violetagg I wasn't intent on sending a response in such a weird way, but I have a strong reason for it. The custom publisher is used as a part of the adapter to a legacy third party code which has its own HTTP request/response API notably it employs OutputStream (it is beyond my control – have to deal with it). Therefore I have implemented a custom OutputStream which blocks a client

[2020-07-14 16:31] evgenyvsmirnov commented on #1157
And one more thing. Probably it is extraneous to the issue. There are no intricate constructions there and it is not a part of an aforementioned adapter, just DataBufferUtils (https://github.com/spring-projects/spring-framework/issues/25093) but I came across the issue with it during the same throughput tests.

[2020-07-14 16:33] violetagg commented on #1157
@evgenyvsmirnov I was able to reproduce it and as I wrote above (the third example) you do not follow the specification. When I add a barrier that guarantees that we have only one ‘onNext’ followed by ‘onComplete’ then the problem is not reproducible anymore

[2020-07-14 17:33] evgenyvsmirnov commented on #1157
@violetagg , thanks a lot! The test has a flaw but in a different way. Now I understand why the test with transfer-encoding: chunked gets the body twice. I believe there is no issue with "Once a terminal state has been signaled (onError, onComplete) it is REQUIRED that no further signals occur." as you have mentioned, but it violates the following clause:

**The Subscription MUST allow the Subscri

[2020-07-15 07:12] HrFlorianHoffmann opened #1207 "Missing dependency reactor.util.retry.Retry in v0.9.8.RELEASE and later"
We observed a seeming regression error when upgrading from Spring Boot 2.2.7.RELEASE to 2.2.8.RELEASE, and thereby from [reactor-netty v0.9.7.RELEASE to v0.9.8.RELEASE](https://github.com/reactor/reactor-netty/compare/v0.9.7.RELEASE...v0.9.8.RELEASE).

After the upgrade, specific Spring integration tests fail with a `NoClassDefFound` runtime error, caused by the dependency `reactor.util.retry.Retr

[2020-07-15 07:20] violetagg commented on #1207
@HrFlorianHoffmann please use release `0.9.9` as there is a problem with opened FDs in `0.9.8`
About the dependency please update Reactor Core to the latest version.
You can do this easily with updating `reactor-bom` to `Dysprosium-SR9` thus you will update both Reactor Netty and Reactor Core to the latest releases

[2020-07-15 07:41] violetagg commented on #1194
I'm closing this, if there is an issue with the revert we can reopen it.

[2020-07-15 07:41] #1194 closed

[2020-07-15 09:05] HrFlorianHoffmann commented on #1207
Thanks for the info, @violetagg!

Looks like Spring doesn't use `reactor-bom` but includes the parts individually:

[code]

I'll check in with them.

[2020-07-15 09:08] violetagg commented on #1207
@HrFlorianHoffmann that's interesting

https://github.com/spring-projects/spring-framework/blob/5.2.x/build.gradle#L31

[2020-07-15 09:08] #1207 closed

[2020-07-15 09:26] tyousyun85 commented on #1188
OK, we think you are right and Thanks again!

[2020-07-15 09:43] HrFlorianHoffmann commented on #1207
So they are using the reactor-bom, but the repackaging reduces the dependency tree to the effectively used libraries and thus hides that fact. Your link points to Spring Boot 2.3.x, by the way. Ours is 2.2.x, which still uses Maven instead of Gradle. But looks like the upgrade to Dysprosium-SR9 [has already been accounted for](https://github.com/spring-projects/spring-boot/blob/9558779dd411f02a471

[2020-07-15 10:49] violetagg commented on #1188
@tyousyun85 OK. Let me close this one, if the issue appears to be in Reactor Netty, we can reopen it.

[2020-07-15 10:49] #1188 closed

[2020-07-15 11:03] violetagg commented on #1207
@HrFlorianHoffmann You can easily update to the BOM even as of today if you use the dependency management that Spring Boot provide. It's just one property to your pom.xml file

[code]

[2020-07-15 13:01] violetagg commented on #1202
@tluo-github Can you provide some reproducible example because I'm not able to reproduce it.

[2020-07-15 15:16] gabac commented on #1166
@violetagg Do you know why netty respects the JVM param for the trustStore but not for the keyStore and we have to manually configure this?

[2020-07-15 15:19] violetagg commented on #1166
@gabac Please use Netty support channels for Netty related questions.

[2020-07-15 15:21] gabac commented on #1166
@violetagg Sorry I was under the impression that this has to do with the webclient in combination with netty.

[2020-07-15 16:58] marcbarb commented on #1166
No, but i did see in the code that it does use the default trust store if
you don't supply one. There is no code to do the same thing with the key
store

On Wed, Jul 15, 2020, 11:22 AM Cyril Gabathuler <notifications@github.com>
wrote:

[2020-07-16 07:30] hotkeeper opened #1210 "Spring Boot Gateway reactor-netty TLSv1.3"
We are using Spring Boot Gateway depending on reactor-netty as an API gateway server.
We enabled TLS but netty is serving only TLSv1.2 and not TLSv1.3 if we try to enable it by adding:
server.ssl.enabled-protocols:TLSv1.3
We get an exception:
io.netty.handler.codec.DecoderException: javax.net.ssl.SSLHandshakeException: No appropriate protocol (protocol is disabled or cipher suites are inappropriat

[2020-07-16 08:10] violetagg commented on #1210
@hotkeeper Reactor Netty does not provide this property `server.ssl.enabled-protocols:TLSv1.3` so I cannot comment about it.

Quick test with Reactor Netty shows that TLSv1.3 is working as expected:

[code]

`curl https://localhost:9090 -k -v --tlsv1.3`

[code]

[2020-07-16 08:10] #1210 closed

[2020-07-16 08:46] tluo-github commented on #1202
@violetagg

example: https://github.com/tluo-github/issues_1202

Step 1. Run demo
Step 2. Run gateway
Step 3. Run jmeter import `HTTP Request.jmx`
Step 4. Jemeter stops three seconds after initiating the request

[2020-07-16 09:41] #1190 closed

[2020-07-16 18:08] alzimmermsft opened #1213 "Allow for a Pluggable HTTP Proxy Handling Function"
I have a requirement to support both Basic and Digest authentication when using an HTTP proxy. The `HttpProxyHandler` provided by Reactor Netty only supports Basic authentication. In order to support Digest authentication I'm required to create a custom `ProxyHandler`/`ChannelDuplexHandler` implementation and hook it into the correct location in the pipeline.

## Motivation

Adding support for add

[2020-07-16 18:18] violetagg commented on #1213
@alzimmermsft Can't you use the API for providing `Consumer<HttpHeaders>`?
https://projectreactor.io/docs/netty/release/api/reactor/netty/tcp/ProxyProvider.Builder.html#httpHeaders-java.util.function.Consumer-
Here is a test that uses this functionality
https://github.com/reactor/reactor-netty/blob/858870723821c31a2430201b328eb8b1b3d81951/src/test/java/reactor/netty/tcp/ProxyProviderTest.java#L207

[2020-07-16 18:46] alzimmermsft commented on #1213
I'll try this out, one issue I'm seeing with this route is the requirement to update the `Proxy-Authorization` header when the proxy requires Digest authentication to be recalculated. Though I'm not certain if that scenario warrants a new TCP connection and SSL session.

[2020-07-16 18:58] violetagg commented on #1213
@alzimmermsft We use it as a Supplier so we should invoke `get()` when we create a new proxy handler.
https://github.com/reactor/reactor-netty/blob/858870723821c31a2430201b328eb8b1b3d81951/src/main/java/reactor/netty/tcp/ProxyProvider.java#L372-L379

[2020-07-16 19:02] violetagg opened #1215 "Deprecate reactor.netty.bytebuf.allocator.tiny.cache.size metric"
Tiny cache size is deprecated in `Netty 4.1.52.Final` and returns always 0

Related to netty/netty#10267

[2020-07-17 10:47] violetagg commented on #1202
@tluo-github I tested this example on Mac OS, NIO transport, jdk1.8.0_261, JMeter 5.3 and I did not see any issues

![Screenshot 2020-07-17 at 13 41 29](https://user-images.githubusercontent.com/696661/87778547-0c64ab00-c834-11ea-9a21-c305a6d485b6.png)

[2020-07-17 15:46] alzimmermsft commented on #1213
Finished my investigation, this solution would work, thank you for the quick responses @violetagg.

[2020-07-17 15:46] #1213 closed

[2020-07-18 08:06] violetagg commented on #1159
@philsttr I'm looking at this and even as of today you can use `ReadTimeoutHandler`. Depending on when you add this handler, you can achieve different behaviour.
The behaviour that you described here as a desired behaviour can be achieved with adding this handler with `doAfterRequest` event. Check this PR #1216 that add a test in order to demonstrate it.

[2020-07-20 21:16] philsttr commented on #1159
Thanks for pointing me in that direction @violetagg !

Indeed, your solution will handle the default request timeout for an `HttpClient`.  And this works with WebFlux's `WebClient`, since I can pass a custom `HttpClient` to a WebClient's `ReactorClientHttpConnector`.

However, I didn't see an simple way to have request-specific timeouts (e.g. override the default) via `WebClient`.  Perhaps that co

[2020-07-20 21:32] igr opened #1217 "Getting a lot of `PrematureCloseException : Connection prematurely closed BEFORE response`"
version: **v0.9.7**

We are receiving a lot of:

[code]

The client is built like this:

[code]

and the filter is:
[code]

Errors are happening randomly, but **all the time**.

DEBUG LOG:

[code]

[2020-07-21 02:59] CantosSong commented on #1217
Webclient needs to actively close TCP.
You can set the TCP timeout.

[2020-07-21 05:47] violetagg commented on #1217
@igr Are you able to test Reactor Netty latest release (0.9.10.RELEASE)

[2020-07-21 05:50] igr commented on #1217
Yes. I think Ive tried 0.9.9 with the same results; however let me try the latest one.

[2020-07-21 07:35] violetagg commented on #1159
@philsttr @simonbasle PTAL #1216
@rstoyanchev May be an API for the request setting will be needed on WebClient level.

[2020-07-21 17:00] igr commented on #1217
I got only 4 errors in 1.5 hour tests - significantly less then yesterday, when I got maybe 200s of them:

[code]

[2020-07-21 17:08] igr commented on #1217
However, we are still registering the very same issues in the Sentry.io.

I wish there is more I can tell. I can't figure is the issue is with the client or the server is really closing connections. We will rewrite our client with old RestTemplate, and try the same.

[2020-07-21 18:11] violetagg commented on #1217
@igr If it is possible, can you give the logs per channel id? Let say not only when the connection is closed but also the previous logs. Take one channel id let say `id: 0x70d20cd1` and the logs for this id. You can remove the information that is confidential.

[2020-07-22 06:17] #1159 closed

[2020-07-22 06:17] violetagg commented on #1159
Thank you all for the review

[2020-07-22 06:18] violetagg commented on #1199
@kiranmaiem I'm closing this issue, if the problem appears to be in Reactor Netty we can reopen it.

[2020-07-22 06:18] #1199 closed

[2020-07-22 06:22] violetagg commented on #1091
@Fetsivalen Were you able to resolve this requirement with a shutdown hook?

[2020-07-22 09:14] Fetsivalen commented on #1091
Hi @violetagg
For now, in our infrastructure, this requirement was resolved in client implementation (not a good solution actually), and that's why I switched to another stuff.
I'm going to revisit it next week, will let you know once I will dig into it.

[2020-07-22 09:52] igr commented on #1217
Here
[code]

[2020-07-22 11:59] SidneyLann commented on #573
When this feature will be released?

[2020-07-22 13:24] violetagg commented on #573
@SidneyLann For the moment it is scheduled for 1.0.0 GA. I don't think I'll be able to include it in M2.

[2020-07-22 16:00] violetagg commented on #1217
@igr Can you tell us what's the time between these

[code]

and also what time did you configure for `ReadTimeoutHandler` and `IdleStateHandler`?

[2020-07-22 16:29] igr commented on #1217
The first column @violetagg is the timestamp. Please see the first message, have all my timings there

[2020-07-22 17:00] violetagg commented on #1217
@igr What's the point to have ReadTimeoutHandler + IdleStateHandler with different time?

[code]

So from the logs there is 5min delay. Did you check whether the server sent the response successfully?

[2020-07-22 17:14] igr commented on #1217
Don't know about the timing, I was trying different options I saw online as I am desperate :) Would you be so kind to propose what would be better values instead?

I am not able to see the response, unfortunately. Our code gets exception, and we throws it further. The upstream is not under my control.

[2020-07-22 18:58] violetagg commented on #1217
@igr So from the logs I see the following Netty pipeline

[code]

From Netty javadoc https://netty.io/4.1/api/io/netty/handler/timeout/IdleStateHandler.html
`Triggers an IdleStateEvent when a Channel has not performed read, write, or both operation for a while...`
So basically you need another handler (see the full javadoc there is an example) that will do something when such an event is sent. Fro

[2020-07-22 21:06] igr commented on #1217
Thats the thing, I don't see any other exception, like ReadTimeoutException.

Ok, thank you. I believe you can close the issue now.

[2020-07-23 07:18] violetagg commented on #1217
@igr I'm closing this issue, if it appears to be Reactor Netty problem, we can reopen it.

[2020-07-23 07:18] #1217 closed

[2020-07-23 12:49] maczikasz commented on #560
Any idea if this gets done any time soonish?

[2020-07-24 06:18] violetagg commented on #1201
@jayzch I'm closing this. If you are able to provide a reproducible example we can reopen the issue.

[2020-07-24 09:06] Hinsteny opened #1220 "Websocket handshake 404"
reactor-netty(in spring-cloud-gateway) with istio do websocket forwarding will occured an  exception -- `Invalid handshake response getStatus: 404 Not Found`;

Websocket service calling chain, as blew

clinet ---> nginx ---> spring-cloud-gateway(reactor-netty) [ _**istio-sidecar**_] ---> background-service [_**istio-sidecar**_]

istio 1.6.1

## Expected Behavior

- [ √] clinet ---> nginx [ _**isti

[2020-07-24 09:07] johnny commented on #21
I cannot reproduce this issue anymore. Has this been closed?

[2020-07-24 09:13] violetagg commented on #21
@Johnny I have to check this, we didn't work on that.

[2020-07-24 09:20] violetagg commented on #1220
@Hinsteny Do you think it might be related to this issue https://github.com/spring-cloud/spring-cloud-gateway/issues/1834 ?

[2020-07-24 15:08] CantosSong opened #1221 "reactor.netty.http.client.PrematureCloseException: Connection prematurely closed BEFORE response"
version 0.9.10.RELEASE

tomcat
[code]

reactive
[code]
ab -c 100 -n1000 http://127.0.0.1:8888/test

ab -c 100 -n1000 http://127.0.0.1:8888/test1

[code]

sample
https://github.com/CantosSong/reactor-netty-demo-exception

[2020-07-24 15:14] CantosSong commented on #1221
The client needs to actively close the connection, in a certain idle time.
Or have the ability to reconnect

[2020-07-24 15:38] igr commented on #1217
Ok, just to share: after switching to RestTemplate, we are getting the following errors:

[code]

However, not the same volume of it.

[2020-07-24 15:43] jonnysco opened #1222 "Default client ConnectionProvider pool does not respect system variable reactor.netty.pool.maxConnections"
## Expected Behavior

When the system variable `-Dreactor.netty.pool.maxConnections=777` is supplied to the jvm the default client connection pool should respect the setting provided if it is greater than the default `500`. This only occurs if the `HttpClient.client()` builder is invoked without specifying a `ConfigurationProvider` instance.

## Actual Behavior
The default pool is always 500 max c

[2020-07-24 16:04] violetagg commented on #1222
@jonnysco This works as expected and it is documented here
https://projectreactor.io/docs/netty/release/reference/index.html#_connection_pool

`DEFAULT_POOL_MAX_CONNECTIONS` is taken into consideration only if the ConnectionProvider builder does not specify maxConnections.
https://github.com/reactor/reactor-netty/blob/24864fbcee726d5f4647bd6e4d225c3bc7a88920/src/main/java/reactor/netty/resources/C

[2020-07-24 16:16] violetagg commented on #1217
@igr So with the latest Reactor Netty you said you see 4 errors, what's the number with RestTemplate < 4 or > 4?

[2020-07-24 16:27] igr commented on #1217
Unfortunately, I don't have precise numbers as I don't have much insight in our infrastructure. I am collecting errors with Sentry and I am seeing that after switching to RestTemplate we now have 504s.

Before we had _maybe_ 4x more PrematureCloseException's. But, as said, I can't be very exact with the numbers; moreover, I've been changing the reactor client configuration on a daily basis.

For n

[2020-07-24 16:52] violetagg commented on #1217
@igr ok we can reopen this if it is Reactor Netty issue.

[2020-07-25 10:59] CantosSong commented on #1221
Ubuntu 20.04
CPU 4C8T

When I set maxConnections(8), no error

set maxConnections(9),problem remains

[code]

[2020-07-25 14:46] CantosSong commented on #1221
gateway example:
ab -c 100 -n1000 http://127.0.0.1:8888/test2

the same problem exists.

from the phenomenon, for the tomcat server/nginx server timeout, it will take the initiative to disconnect, at this time the client will appear error.

[2020-07-27 03:56] asarkar opened #1223 "Misleading statement about Gradle support for Maven BOMs"
"Gradle has no core support for Maven BOMs"
https://projectreactor.io/docs/netty/release/reference/index.html#_gradle_installation

This hasn't been true since Gradle 5, which was released in Nov, 2018.

[code]

[2020-07-27 07:52] violetagg commented on #1223
@asarkar Would you like to make a PR?

[2020-07-27 07:53] violetagg commented on #1178
@itzikiusa I'm closing this. If there is more information how this can be reproduced we can reopen the issue.

[2020-07-27 07:53] #1178 closed

[2020-07-27 07:55] violetagg commented on #1157
@evgenyvsmirnov I'm closing the issue, if Reactor Netty problem is discovered we can reopen it.

[2020-07-27 07:55] #1157 closed

[2020-07-27 07:57] violetagg commented on #1195
@avijha19 I'm closing this. If Reactor Netty problem is discovered we can reopen it.

[2020-07-27 07:57] #1195 closed

[2020-07-27 09:38] jonnysco commented on #1222
@violetagg
The document does specify the default of 500 using a "fixed" pool, not that the 500 specifically is immutable. It can be overridden by code using the ConnectionProvider builders (which do respect `reactor.netty.pool.maxConnections`), but not through configuration.

E.g. Setting the following system variables should be expected to override the pool defaults.
[code]

I'd expect the follow

[2020-07-27 09:58] violetagg commented on #1222
@jonnysco Users have different requirements for the default implementation: some of them want the system property to be applied only if it is bigger than the default setting (500 max connections), other - to apply system property always when it exists, etc.

Because of that Reactor Netty provides one default that is not controlled by the system property and in addition gives the possibility to con

[2020-07-27 11:06] jonnysco commented on #1222
@violetagg Thanks that explains the motivations behind it. (The PR changes the behaviour to be as you describe in your first user scenario, but the second is always ignored under the default config).

Coming at the netty client config from the Spring Boot examples as a "correct setup" for a single client instance, it falls into this tar pit of the fixed immutable 500 cap.

In prod deploys it's not

[2020-07-27 11:50] violetagg commented on #1222
@jonnysco Would you like to provide a PR to the documentation?

For Spring Boot you can use `ReactorResourceFactory` to Reactor Netty resources.

[2020-07-27 19:45] sephiroth-j opened #1224 "TLSv1.3 not working with HTTP/2 for HttpServer using JDK as SSL Provider"
If an HttpServer is configured to use TLSv1.3 and HTTP/2, connections using HTTP/2 and TLSv1.3 can not be established. TLSv1.3 works only without HTTP/2. If TLSv1.2 and TLSv1.3 are configured, only TLSv1.2 can be used. If only TLSv1.3 is configured, no connection can be established at all.

## Expected Behavior
Connecting to an HttpServer using HTTP/2 and TLSv1.3 should be possible.

## Actual Beh

[2020-07-27 19:51] sephiroth-j opened #1225 "Invalid code example for HttpServer with HTTP/2 in reference guide"
[The listing with the example code for an HTTP Server with HTTP/2 in chapter 5.8](https://projectreactor.io/docs/netty/release/reference/index.html#_http2) is invalid because the SSL context of the `SslContextSpec` is not set.

**actual**
[code]

**expected**
[code]

[2020-07-27 19:57] violetagg commented on #1225
@sephiroth-j Would you like to provide a PR?

[2020-07-27 20:03] violetagg commented on #1224
@sephiroth-j Can you add the dependency below and tell me whether the example is working with it?

[code]

[2020-07-27 20:06] sephiroth-j commented on #1225
Sure.

[2020-07-27 20:23] sephiroth-j commented on #1224
@violetagg Yes, it works with that dependency.

[code]

[2020-07-27 20:57] violetagg commented on #1225
Fixed with #1226

[2020-07-27 20:57] #1225 closed

[2020-07-28 04:30] asarkar commented on #1223
@violetagg Sorry, not at this time.

[2020-07-28 04:40] violetagg commented on #1223
OK no problem.

[2020-07-28 07:24] scj7508 opened #1227 "How to properly use connection pool for Httpclient?"
Even though I create individaul ConnectionProvider , I found the channel will auto dispose later which I think the channel should be cached .  how to properly use connection pool  for Httpclient in a springmvc applicatoin?

[code]

![image](https://user-images.githubusercontent.com/16132707/88631834-5fb4e400-d0e5-11ea-9f17-00ab029a3217.png)
![image](https://user-images.githubusercontent.com/161327

[2020-07-28 08:54] violetagg commented on #1227
@scj7508 You see this behaviour because you always **preset** the **global** `ConnectionProvider`. When you invoke `HttpResources.set` we dispose the current `ConnectionProvider` and set the new one. You should have the following warning in the logs

[code]

In Reactor Netty there is a notion for global resources and local resources.

If you want to set a `ConnectionProvider` as a global you need

[2020-07-28 08:54] #1227 closed

[2020-07-28 09:24] scj7508 commented on #1227
Thank you very much

[2020-07-28 09:25] scj7508 commented on #1227
@violetagg thank you

[2020-07-28 10:20] violetagg commented on #1223
@asarkar @simonbasle PTAL #1229

[2020-07-28 13:12] violetagg commented on #1224
The issue here is related to `io.netty.handler.ssl.SslProvider.JDK` usage and that by default when the `SslContextBuilder` does not provide any HTTP/2 relevant configuration Reactor Netty applies such. The cipher suite is as defined here https://tools.ietf.org/html/rfc7540#section-9.2.2 (specific to TLSv1.2) and here https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handle

[2020-07-28 13:20] #1223 closed

[2020-07-28 19:08] violetagg commented on #1224
@sephiroth-j If we expose a configuration like the one below, will it serve what you need?

[code]

[2020-07-28 21:23] sephiroth-j commented on #1224
Maybe.

The question is, why does it work without code changes with netty-tcnative-boringssl-static but not with the pure JDK (`io.netty.handler.ssl.SslProvider.JDK`)? And does it allow the use of HTTP/2 with TLSv1.2 and TLSv1.3?

This seems to me to be another workaround that additionally requires code changes by the clients. In my opinion, this would be worse than including netty-tcnative-boring

[2020-07-28 22:51] JamesChenX commented on #1091
Hi @violetagg
I think the status code -1 is error-prone and I encounter a bug related to this ticket.
The code in reactor.netty.http.server.WebsocketServerOperations#sendCloseNow try to create a WebSocketCloseStatus with a status code -1 while Spring WebFlux will just throw an exception "Invalid status code" because it's an invalid status code. As a result, the code in sendCloseNow can never work

[2020-07-29 00:42] asarkar commented on #839
@benweet With 0.9.8.RELEASE, there's no `runOn` method on the `HttpClient`.

[2020-07-29 07:15] jun-lee opened #1230 "Disposing PooledConnections that are not actively used under LRU policy."
## Motivation

My application is using **HttpClient** to access a massive number of endpoints to provide a **Link Preview** service. Over time, Netty-related resources are taking a lot of memory as shown below. Mostly by the PooledConnections, they have never been destroyed once they have been initialized for a unique endpoint with the InetSocketAddress as a key, and redundant data like HeaderEnti

[2020-07-29 07:36] violetagg commented on #1230
@jun-lee Do you think that this feature request will serve your requirement?
https://github.com/reactor/reactor-pool/issues/86

For which version do you need this feature: 0.9.x or 1.0.0?

/cc @simonbasle

[2020-07-29 07:43] jun-lee commented on #1230
@violetagg Thanks for the link. Yes, that's exactly what I'm expecting. And I'm using 1.0.0-M1 because of the Multi Content-Length issues.

[2020-07-29 07:46] violetagg commented on #1230
@jun-lee Multi Content-Length issues?

[2020-07-29 07:48] jun-lee commented on #1230
@violetagg this one https://github.com/netty/netty/pull/10349

[2020-07-29 07:54] violetagg commented on #1230
@jun-lee all Reactor Netty releases depend on the latest released Netty version at that point of the release.
So 0.8.20 and 0.9.10 releases use 4.1.51.Final
https://github.com/reactor/reactor-netty/releases/tag/v0.9.10.RELEASE
https://github.com/reactor/reactor-netty/releases/tag/v0.8.20.RELEASE

[2020-07-29 08:00] jun-lee commented on #1230
@violetagg Sorry, after checking my code again. This is not related to 1.0.0-M1, but somehow, I was using spring boot 2.4.0-M1, therefore, 1.0.0-M1 was used.

[2020-07-29 08:02] violetagg commented on #1230
@jun-lee Ok so we are targeting 1.0.0? I need this in order to be able to fix the version where this feature request is needed.

[2020-07-29 08:21] angcap opened #1232 "Add a system property for the lifetime timeout, similar to idle timeout and acquire timeout"
Following https://github.com/reactor/reactor-netty/issues/938,
in order to externally control the behaviour of reactor netty used as underlying system by framework libraries,
adding a system property for the lifetime timeout, similar to idle timeout and acquire timeout could help solve timeout issues on cloud platforms.

## Motivation

Following https://github.com/reactor/reactor-netty/issues/938,

[2020-07-29 08:39] jun-lee commented on #1230
@violetagg Yes, we are.

[2020-07-29 09:37] violetagg commented on #1230
This is depending on reactor/reactor-pool#86

[2020-07-29 09:39] violetagg commented on #1232
@angcap Would you like to provide a PR?

[2020-07-29 09:43] violetagg commented on #1220
@Hinsteny Were you able to check whether the proposed fix in Spring Gateway issue fixes your issue?

[2020-07-29 13:53] violetagg commented on #1221
@CantosSong Specifying `server.tomcat.connection-timeout=1` means `1ms`. This means that both `connectionTimeout` and `keepAliveTimeout` will have value `1ms`.
http://tomcat.apache.org/tomcat-9.0-doc/config/http.html#Standard_Implementation

[code]

It happens that we have more than `1ms` between the requests and Tomcat closes the connection.

If you really need that kind of timeout (`1ms`) then y

[2020-07-30 01:11] cjr333 commented on #1150
@ericbottard
I used gatling open source version for measurement.  (https://gatling.io/)
100 clients were used so each client made 30 requests per sec.

[2020-07-30 09:48] CantosSong commented on #1221
I'll test it.

maybe idle timeout needs to have a default value.

[2020-07-30 09:52] violetagg commented on #1221
@CantosSong We cannot provide a default that will satisfy every use case. There might be use cases that they don't want an idle timeout.

[2020-07-30 09:56] bclozel opened #1233 "disposeNow is swallowing ArithmeticException"
While working on migrating Spring Boot to the latest reactor SNAPSHOTs, I've noticed something that might be worth calling out somewhere in the migration/release notes or improving in the `server.disposeNow(Duration)` implementation.

Somewhere in Spring Boot we were using `server.disposeNow(Duration.ofMillis(Long.MAX_VALUE));`.
I agree that it's a bit unusual but bear with me. Due to https://gith

[2020-07-30 09:56] CantosSong commented on #1221
understand. thanks

[2020-07-30 10:10] angcap commented on #1232
sure, where i should start? 0.9.x branch?

[2020-07-30 10:13] violetagg commented on #1232
@angcap Great! Yep make the change against 0.9.x branch.
Thanks

[2020-07-30 10:46] wilkinsona opened #1235 "Excessive server logging when a client fails an SSL handshake"
## Expected Behavior

No exceptions are logging when a client fails an SSL handshake

## Actual Behavior
Error level logging is written:

[code]

## Steps to Reproduce
Please see [this Spring Boot issue](https://github.com/spring-projects/spring-boot/issues/19198) for a sample that reproduces the exception.

## Your Environment
* Reactor version(s) used: 0.8.x and 0.9.x

[2020-07-30 18:57] sephiroth-j commented on #1224
I have debugged the initialization process a few times but I have not found the place where TLSv1.3 gets disabled yet. The list of TLS protocols stays the same even at the point where the JDK SSL Engine will be created by Netty.

@violetagg Regarding your proposal two days ago. While debugging I noticed that either `reactor.netty.tcp.SSlProvider` or `reactor.netty.http.server.HttpServerBind` alway

[2020-07-30 19:47] sephiroth-j commented on #1224
[code]
That's it!

So basically all that needs to be done is to add the ciphers for TLSv1.3 if it is supported. These are TLS_AES_128_GCM_SHA256 and TLS_AES_256_GCM_SHA384 ([[1]](https://docs.oracle.com/en/java/javase/11/docs/specs/security/standard-names.html#jsse-cipher-suite-names), [[2]](https://github.com/netty/netty/blob/4.1/handler/src/main/java/io/netty/handler/ssl/SslUtils.java#L107)).

[2020-07-30 19:54] violetagg commented on #1224
Yes the configuration is updated if `DefaultConfigurationType` is not specified.
You can specify `DefaultConfigurationType.NONE` and provide HTTP/2 configuration by yourself or you can use the other method for configuring security which takes `SslContext` instead of builder.

[2020-07-30 19:55] violetagg commented on #1224
yes basically that's the issue

[2020-07-30 20:24] sephiroth-j commented on #1224
And why are the ciphers overwritten at all? They do not have to be set. If they are left empty (`null`), [`io.netty.handler.ssl.JdkSslContext` will take of setting appropriate defaults, taking TLSv1.3 into account.](https://github.com/netty/netty/blob/4.1/handler/src/main/java/io/netty/handler/ssl/JdkSslContext.java#L249-L256).

[2020-07-31 04:51] violetagg commented on #1202
@tluo-github I'm closing this one. If the issue appears to be in Reactor Netty we can reopen it.

[2020-07-31 04:51] #1202 closed

[2020-07-31 08:47] sephiroth-j commented on #1224
It works with netty-tcnative-boringssl-static because OpenSSL supports TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256 and TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256 from `Http2SecurityUtil.CIPHERS`, while JDK does not.

The cipher issue also applies to HTTP/2-Clients.
https://github.com/reactor/reactor-netty/blob/0.9.x/src/main/java/reactor/netty/http/client/HttpClientSecure.java#L83-L85

[2020-07-31 09:27] sephiroth-j commented on #1224
@violetagg May I suggest to remove the call of `SslContextBuilder.ciphers()` along with the usage of the unstable and obviously incomplete API `Http2SecurityUtil` in `SslProvider` and `HttpClientSecure`? I would provide a PR if you agree.

[2020-07-31 09:40] violetagg commented on #1224
@sephiroth-j Yes sure, but we need to take care for this requirement
https://tools.ietf.org/html/rfc7540#section-9.2.2
https://tools.ietf.org/html/rfc7540#appendix-A

[2020-07-31 10:10] #739 closed

[2020-07-31 10:12] violetagg commented on #739
Reactor Netty is separated on two modules:
- `reactor-netty-core` - contains the core functionality + TCP + UDP
- `reactor-netty-http` - depends on `reactor-netty-core` and provides HTTP

[2020-07-31 16:04] smaldini commented on #1159
I would rather call it a responseTimeout - the java client has it on the http request builder but its documentation mentions it is a response timeout. Request timeout in our http client might be open to different reading, write timeout or read timeout IMO.
Good report @philsttr tho, we are also starting work around webclient here and we came across the same issue.

[2020-08-01 20:42] sephiroth-j commented on #1224
regarding [RFC 7540 Section 9.2.2](https://tools.ietf.org/html/rfc7540#section-9.2.2)
First, the first sentence clearly states "should not", so it is not a hard requirement. So forbidden ciphers can be used for negotiations. The RFC is aware of this here as well.

Second, the hard requirement for the TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256 cipher is met because it is part of [the standard ciphers us

[2020-08-03 08:10] violetagg commented on #1159
@philsttr @simonbasle @rstoyanchev I agree with @smaldini that `responseTimeout` is more accurate name. Wdyt?

[2020-08-03 08:16] #989 closed

[2020-08-03 11:44] #1155 closed

[2020-08-03 12:15] yechao4j opened #1245 "found a problem: java.util.ConcurrentModificationException: null"
When i run this code in my springcloud gateway project:
[code]
then my springcloud gateway will print error all the time like below,  i think this is a fatal bug?

[code]
My reactor-netty version: 0.8.10.RELEASE, reactor-core version: 3.2.11.RELEASE
@violetagg  Please help!

[2020-08-03 12:15] violetagg commented on #1232
Fixed with #1234

[2020-08-03 12:15] #1232 closed

[2020-08-03 12:49] violetagg commented on #1245
@yechao4j The projects versions that you are using are at least one year old. Is it possible to run against the latest releases?
https://github.com/reactor/reactor/releases/tag/Californium-SR20

[2020-08-03 17:56] #1233 closed

[2020-08-04 09:56] yechao4j commented on #1245
@violetagg It's any difficult for me to upgrade reactor to the lastest releases in my production environment, it there any update about this issue in the later releases?

[2020-08-04 09:59] violetagg commented on #1245
@yechao4j There are too many changes in order to be able to track this one in particular, also we have fixed security issues so I would recommend an upgrade to the latest versions.

[2020-08-04 18:53] violetagg commented on #1159
I create this PR #1246

[2020-08-05 08:38] violetagg commented on #1224
@sephiroth-j I will check the PR later today

[2020-08-05 11:00] jkuhnv opened #1247 "Graceful shutdown and connection kept alive"
We experience 500 Internal server errors when sending requests to an application during graceful shutdown In our spring boot application. We are able to reproduce this behavior in a browser when the request is sent with "Connection: keep-alive" header.

The conditions are following:
- browser tab1: a long time taking request
- browser tab2: many short time taking requests

## Expected Behavior
All

[2020-08-06 07:59] violetagg commented on #1054
@michaelr524 @gtomassi I changed the examples for HttpClient (See here https://projectreactor.io/docs/netty/snapshot/reference/index.html#_ssl_andtls)

Any suggestions for further improvements are welcome.

[2020-08-06 08:44] violetagg commented on #1220
@Hinsteny I'm closing this issue. If the problem appears in Reactor Netty we can reopen it.

[2020-08-06 08:44] #1220 closed

[2020-08-06 08:45] violetagg commented on #1221
@CantosSong I'm closing this issue. If the problem appears in Reactor Netty we can reopen it.

[2020-08-06 18:55] simplynaveen20 commented on #1159
Thank you @violetagg  for the PR to fix this. Do we know when  is 0.9.11 release schedule which have the responseTimeout api, it will be better alternative then using ReadTimeoutHandler / WriteTimeoutHandle , which have problem as mentioned in this issue _"They apply even when an HTTP request is not being processed. For example, they could cause a connection sitting in the connection pool to be cl

[2020-08-06 19:12] violetagg commented on #1159
@simplynaveen20 the current plan for 0.9.11 release is to be available before 15.09

[2020-08-07 10:50] ShahzebAnsari opened #1251 "Reactor context is getting empty in the middle of request processing"
I want to add some custom data like request header in access log of spring cloud gateway. but can't use MDC in reactive environment.

So, I have tried a solution. In which I have added my request header in reactor context, then I used **MdcContextLifter** and **MdcContextLifterConfiguration** classes to update MDC whenever request changes the thread. So that Mdc data always in correct thread. But

[2020-08-07 17:29] violetagg commented on #1159
@simplynaveen20 We are going to make a release next Monday (10.08)

[2020-08-07 18:58] violetagg commented on #710
Reactor Netty now uses Netty DNS Resolver #1252

[2020-08-07 18:58] #710 closed

[2020-08-07 18:59] violetagg commented on #538
Reactor Netty now uses Netty DNS Resolver #1252

[2020-08-07 18:59] #538 closed

[2020-08-07 19:00] violetagg commented on #569
Reactor Netty now uses Netty DNS Resolver #1252

[2020-08-07 19:00] #569 closed

[2020-08-07 19:01] violetagg commented on #501
There is an API for providing custom DNS resolver in addition to that Reactor Netty now uses Netty DNS Resolver #1252

[2020-08-07 19:01] #501 closed

[2020-08-07 19:04] PyvesB commented on #538
Thanks for looking into this @violetagg !

[2020-08-07 19:13] vmadd03 commented on #1130
Hi ... we saw the same "**LEAK: ByteBuf.release() was not called before it's garbage-collected"** issue...can you guys tell me to fix this....we are using same reactor netty and making webclient calls

[2020-08-07 19:17] violetagg commented on #1130
@vmadd03 Please create a new issue, specify the components versions and if possible provide a reproducible example.

[2020-08-07 19:31] vmadd03 opened #1254 "LEAK: ByteBuf.release() was not called before it's garbage-collected. #1130"
We implemented a Kafka Consumer which uses spring cloud stream to process the messages and in turn the listener makes an external api call via WebClient.

When there are more messages in Kafka topic (~20K) and when multiple instances of listener is brought up we see that almost 60 to 70% of messages are failing with timeout issue in webclient and in the application logs i see the **Leak issue**

H

[2020-08-07 19:49] violetagg commented on #1254
@vmadd03 So you consume the response body only if it is an error?

[code]

[2020-08-07 19:55] vmadd03 commented on #1254
I dont need a response in case of successful processing...i need the response in case of error so that i can record it in the db on what actual reason the failure is

[2020-08-07 19:57] violetagg commented on #1254
Ok but you need either to consume the body or to release it.
https://docs.spring.io/spring/docs/current/spring-framework-reference/web-reactive.html#webflux-client-exchange

[code]

[2020-08-07 20:00] violetagg commented on #1130
Issue #1254 was created for the comment above

[2020-08-07 20:15] vmadd03 commented on #1254
let me do that change and test it and will keep you posted here @violetagg

[2020-08-07 20:19] violetagg commented on #1254
Also please test with the latest releases as the versions that you are using are 1 year old and we have memory leak fixes both in Reactor Netty and Spring Framework

[2020-08-07 21:19] simplynaveen20 commented on #1159
Thank you very much for this. I will try it out and share feedback if any .

[2020-08-08 20:25] unoexperto commented on #628
@violetagg Was this issue fixed ?

[2020-08-09 08:07] violetagg commented on #628
@unoexperto This issue was identified to be in Netty not Reactor Netty, see the linked issues.

[2020-08-09 13:19] anshlykov opened #1255 "UdpServer.wiretap(String category, LogLevel level) the log level is always debug"
`UdpServer.wiretap(String category, LogLevel level)` the log level is always debug

## Expected Behavior

The log level is identical to the method parameter.

## Actual Behavior

The log level is always `DEBUG`.

## Steps to Reproduce

[code]

[2020-08-09 13:54] #1255 closed

[2020-08-10 09:39] jkuhnv commented on #1247
What I forgot to mention is that our service runs in kubernetes where the current behavior prevent us doing safe rolling update.

When searching the internet, it looks like when a pod receives a term signal, kube-proxy doesn't change routing rules for active connections (my understanding is that this might be the case for keep-alive connections) and requests may still reach the pod already in shut

[2020-08-10 19:42] violetagg commented on #1224
@sephiroth-j What about if we add to the existing list with ciphers also those for TLSv1.3.
Then when the filter is invoked it will decide whether to include them or not.
https://github.com/reactor/reactor-netty/blob/a4f8630e19d88495a323cd3e8f875c817a1ec47a/src/main/java/reactor/netty/tcp/SslProvider.java#L378
https://github.com/netty/netty/blob/4b7dba14c429b70c75d8fea65cc3a5359ea14927/handler/src

[2020-08-11 03:11] anilgursel opened #1257 "Target host should not be resolved when proxy is configured"
When HTTP client is configured with proxy, it should not try to resolve the target host.  Resolving the target address should be proxy's responsibility:

[code]

## Expected Behavior

Target host should not be attempted to be resolved.

## Actual Behavior

- 0.9.x:
  - Metrics disabled: Works as expected and does not attempt to resolve the target host.
  - Metrics enabled: throws `UnknownHostExcep

[2020-08-11 08:01] rstoyanchev commented on #1254
@vmadd03 I suggest using `retrieve()` with [onStatus handlers](https://docs.spring.io/spring/docs/current/spring-framework-reference/web-reactive.html#webflux-client-retrieve) to customize the body of error responses. Note that `ClientResponse` provides a method to obtain an Exception with the body which you can simply map to what you need.

[2020-08-11 08:05] bsideup commented on #1251
Hi @ShahzebAnsari,

Consider trying the context loss detection mechanism that should point to the problematic piece in the chain:
https://bsideup.github.io/posts/daily_reactive/context_loss_detection/

[2020-08-11 09:48] #1230 closed

[2020-08-11 10:48] violetagg commented on #1054
I changed the examples in the reference documentation so that now the HttpClient is created separate from the request.
If we need more improvements we can reopen this one.

[2020-08-11 10:48] #1054 closed

[2020-08-11 12:09] #1222 closed

[2020-08-11 12:19] violetagg commented on #1222
@jonnysco I updated the documentation https://projectreactor.io/docs/netty/snapshot/reference/index.html#_connection_pool

[2020-08-11 12:48] violetagg opened #1261 "When removing the proxy configuration, return the correct resolver"
When adding proxy configuration the resolver is changed as follows:
- 0.9.x - https://github.com/reactor/reactor-netty/blob/72528d28731345d1d96cc746d2a4ab27a750b0b9/src/main/java/reactor/netty/channel/BootstrapHandlers.java#L492-L510

- 1.0.0 - https://github.com/reactor/reactor-netty/blob/5be51c788c4a393a468ea23da84b212da1406ea5/reactor-netty-core/src/main/java/reactor/netty/transport/ClientTrans

[2020-08-11 14:27] vmadd03 commented on #1254
Thank you @violetagg ...after we started consuming the response in exchange we havent see the memory leak issue anymore.

@rstoyanchev we will refactor the code to start using retrieve.

[2020-08-11 14:43] violetagg commented on #1254
@vmadd03 That's great! I'm closing this one.

[2020-08-11 14:43] #1254 closed

[2020-08-12 05:51] jkuhnv commented on #1247
This is a nice article about how it works in k8s related to a pod shutdown
https://freecontent.manning.com/handling-client-requests-properly-with-kubernetes/
At the end, there are following steps what should an application do:
- stop accepting new connections
- close all keep-alive connections that aren’t in the middle of a request
- wait for all active requests to finish, and then
- shut down com

[2020-08-12 06:00] violetagg commented on #1247
@jkuhnv I'm working on this. I can reproduce it.

[2020-08-12 08:19] #1247 closed

[2020-08-12 08:22] violetagg commented on #1247
@jkuhnv If you are able please test 0.9.12.BUILD-SNAPSHOT

[2020-08-12 12:23] yn425611317 opened #1263 "websocket broadcast"
Does reactor-netty have a websocket broadcast api? In netty, there is a DefaultChannelGroup.writeAndFlush() method sent to each socketchannel.

[2020-08-12 12:55] violetagg commented on #1263
@yn425611317 No
For questions use [Gitter](https://gitter.im/reactor/reactor-netty) or [stackoverflow.com](https://stackoverflow.com/questions/tagged/reactor-netty)

[2020-08-12 12:55] #1263 closed

[2020-08-12 13:18] jkuhnv commented on #1247
Looks good! 👍

[2020-08-12 13:20] peterjurkovic opened #1265 "Expose also the oritinal request in redirect request consumer"
The current behavior of the client is when a follow-redirect is enabled and the `hostname` changes, sensitive headers like `Authorization` or `Cookie` are being stripped. Witch makes sense from a security point of view. However there is a couple of use-cases when an application needs to re-inject them. With the current client is almost not possible.

## Current solution
There is an option to pass

[2020-08-12 15:11] #1257 closed

[2020-08-12 15:35] kmariappan2016 commented on #887
I am using spring webflux latest and the reactor netty as well.But its not using Proxy

[2020-08-12 15:47] violetagg commented on #1265
@peterjurkovic `Using BiConsumer<HttpClientRequest, HttpClientRequest> (originalRequest, newRequest)` you need the original or previous request?

[2020-08-12 15:57] peterjurkovic commented on #1265
whatever is easier, both would resolve this issue :+1:

Yep, this would also fine :+1:

[2020-08-12 21:46] violetagg commented on #887
@kmariappan2016 You means that proxy functionality is not working?

[2020-08-13 02:45] kmariappan2016 commented on #887
Yes. I have configured the proxy like the following and still its not taking the proxy.
HttpClient httpClient = HttpClient.create()
				.tcpConfiguration(tcpClient -> tcpClient.option(ChannelOption.CONNECT_TIMEOUT_MILLIS, 2000)
						.doOnConnected(conn -> conn.addHandlerLast(new ReadTimeoutHandler(2000, TimeUnit.MILLISECONDS)))
						.proxy(proxy -> proxy.type(ProxyProvider.Proxy.HTTP).host("ourp

[2020-08-13 04:32] wutingting1993 opened #1267 "Connection has been closed BEFORE response, while sending request body"
## Environment

* Reactor version(s) used:
[code]
[code]
* JVM version (`javar -version`):`1.8.0_141`
* OS and version (eg `uname -a`): `CentOS release 6.9 (Final)  Linux 2.6.32-696.10.1.el6.x86_64`
* CPU: 4
* Memory: 3.87 GiB

## Code
[code]

## Log
[code]

## Description
My service is a service similar to api gateway, which mainly forwards requests to downstream servers. There are many downstrea

[2020-08-13 05:00] wutingting1993 commented on #1267
When disable connection pool , the error disappeared.

[2020-08-13 05:02] violetagg commented on #887
@kmariappan2016 Create this as a separate issue and let's investigate there. Ok?

[2020-08-13 05:08] violetagg commented on #1267
@wutingting1993 Can you obtain a tcp dump? What's your target server, is there on the server some configuration for keepalive timeout?

[2020-08-13 06:07] wutingting1993 commented on #1267
![image](https://user-images.githubusercontent.com/12660487/90099943-2d0a1d00-dd6e-11ea-9674-a4e58e90bdad.png)
[code]

## Target server
The target server is uncertain and determined by user configuration. At present, the target server (`endpoint_server:8080`) in question has very high concurrency.

## is there on the server some configuration for keepalive timeout?
no server configuration , keep a

[2020-08-13 07:09] violetagg commented on #1267
@wutingting1993 From the tcp dump you can see that the server initiates the connection close. You need to find why the server closes the connection.

[2020-08-13 07:37] kmariappan2016 opened #1269 "Spring WebClient is not using Proxy for the latest version of 5.3.4.RELEASE"
I am using WebClient for the Oauth2 Protected Resource and its not using proxy server to connect the resource URL.
If I use org.springframework.security:spring-security-oauth2-client:5.3.0.RELEASE, I can able to connect using proxy,but the Access Token is not attached so that I am getting 401 UnAuthorized

Seems spring-security-oauth2-client:5.3.4.RELEASE is bypassing proxy settings.

I am not sur

[2020-08-13 07:39] kmariappan2016 commented on #887
Create a new issue,seems that any version above  spring-security-oauth2-client:5.3.0.RELEASE is bypassing proxy server settings.

[2020-08-13 07:39] violetagg commented on #1269
This issue is related to this comment https://github.com/reactor/reactor-netty/issues/887#issuecomment-673216210

[2020-08-13 07:46] violetagg commented on #1269
@kmariappan2016 In the mentioned commend you have the following configuration for the HttpClient

[code]

Please enable the wire logging as shown above.
Also in the `applications.properties` add `logging.level.reactor.netty=debug`

When you run your scenario you should be able to see in the logs the logger `reactor.netty.proxy`.

Tell me whether you have this, also whether you see the wire logging

[2020-08-13 08:05] kmariappan2016 commented on #1269
I have enabled the wiretap and executed  and logs as below. I am not seeing the reactor.netty.proxy

2020-08-13 04:00:57,187 [qtp976017492-525] DEBUG reactor.netty.resources.DefaultLoopKQueue  - Default KQueue support : false
2020-08-13 04:00:57,200 [qtp976017492-525] DEBUG reactor.netty.resources.DefaultLoopEpoll  - Default Epoll support : true
2020-08-13 04:00:57,325 [qtp976017492-525] DEBUG rea

[2020-08-13 08:09] kmariappan2016 commented on #1269
If I use the spring-security-oauth2-client-5.3.0.RELEASE , I can able to see the proxy listed in logs, but if I use spring-security-oauth2-client-5.4.0.RELEASE,its not

2020-08-13 04:07:51,128 [reactor-http-epoll-1] DEBUG reactor.netty.proxy  -

[2020-08-13 08:13] violetagg commented on #1269
@kmariappan2016 do you see any other wire logging from Reactor Netty. Is it possible that spring-security-oauth2-client-5.4.0.RELEASE doesn't take into account your custom HttpClient?

[2020-08-13 08:14] violetagg commented on #1269
@kmariappan2016 I think you should address this issue to spring-security-oauth2-client

[2020-08-13 08:14] kmariappan2016 commented on #1269
May Be, I think I need to raise PMR to spring security

[2020-08-13 08:18] wutingting1993 commented on #1267
@violetagg

I didn't see `Connection` header in response. How will netty handle this situation?

![image](https://user-images.githubusercontent.com/12660487/90110781-5633a900-dd80-11ea-8427-1d70e775b73a.png)

[2020-08-13 08:24] kmariappan2016 commented on #1269
Thanks for the support. I raised the issue to Spring security Oauth

[2020-08-13 08:26] violetagg commented on #1267
@wutingting1993 Take a look here https://tools.ietf.org/html/rfc7230#section-6 and here https://tools.ietf.org/html/rfc7230#section-6.3

[2020-08-13 08:29] violetagg commented on #1269
@kmariappan2016 Ok let's close this one, if it appears Reactor Netty issue we can reopen it.

[2020-08-13 08:29] #1269 closed

[2020-08-13 08:50] wutingting1993 commented on #1267
@violetagg
thanks for you help.

[2020-08-13 08:50] #1267 closed

[2020-08-13 12:41] violetagg commented on #1224
@sephiroth-j We will have updated ciphers for Netty 4.1.52.Final
https://github.com/netty/netty/pull/10480

[2020-08-13 16:41] sephiroth-j commented on #1224
@violetagg Oh, good, I will check this once Netty 4.1.52.Final is released. Then this ticket and the PR will be done with an update on the dependencies.

[2020-08-13 16:44] violetagg commented on #1224
@sephiroth-j I'll close the PR but I'll keep the ticket opened and I'll close it once we update to Netty 4.1.52.Final

[2020-08-13 16:49] sephiroth-j commented on #1224
@violetagg okay

[2020-08-14 02:18] jayzch commented on #1201
https://github.com/reactor/reactor-netty/issues/1092#issuecomment-638632329

[2020-08-15 08:21] HarshaVardhanAcharyAthaluri opened #1271 "java.lang.VerifyError: class reactor.ipc.netty.http.client.MonoHttpClientResponse overrides final method subscribe.(Lorg/reactivestreams/Subscriber;)V"
`
		<dependency>
			<groupId>org.springframework.boot</groupId>
			<artifactId>spring-boot-starter-webflux</artifactId>
			<exclusions>
				<exclusion>
					<artifactId>spring-boot-starter-reactor-netty</artifactId>
					<groupId>org.springframework.boot</groupId>
				</exclusion>
			</exclusions>
		</dependency>`

`

`

[2020-08-15 09:17] violetagg commented on #1271
@HarshaVardhanAcharyAthaluri Please specify Reactor Core version and Reactor Netty version.

[2020-08-15 09:26] HarshaVardhanAcharyAthaluri commented on #1271
spring-boot-starter-reactor-netty-2.2.2.RELEASE

[2020-08-15 09:29] HarshaVardhanAcharyAthaluri commented on #1271
spring-boot-starter-reactor-netty-2.2.2.RELEASE

internally using
reactor-netty  - 0.9.2.RELEASE as a compile time dependency

[2020-08-15 09:33] violetagg commented on #1271
@HarshaVardhanAcharyAthaluri you have some dependency mismatch because this package `reactor.ipc.netty` was used till 0.7.x version and we changed it to `reactor.netty` with version 0.8.x

[2020-08-15 16:47] shs96c opened #1272 "Unix Domain Sockets work in 1.0.0-M1 but not in 0.9.11.RELEASE"
When obtaining an M1 snapshot of `reactor-netty` from https://repo.spring.io/libs-snapshot, connecting using a `DomainSocketAddress` works fine. The same code with the latest public version of `reactor-netty` (0.9.11.RELEASE as I write this) throws an exception.

Example code:

[code]

## Expected Behavior
Connecting using a unix domain socket should be fine.

## Actual Behavior
An exception is th

[2020-08-16 16:52] RajyalaxmiK commented on #636
Hey,
I faced a big problem with Spring Boot 2.2.2.Release and Cloudfoundry with Reactor,

Thank god, after 10 days I found the solution & its worked.
Below are the dependencies I used

		<dependency>
			<groupId>org.cloudfoundry</groupId>
			<artifactId>cloudfoundry-client-reactor</artifactId>
			<version>4.1.0.RELEASE</version>
		</dependency>
		<dependency>
			<groupId>org.cloudfoundry</groupId>

[2020-08-17 07:20] violetagg commented on #1245
@yechao4j I'm closing this. If the problem appears with the latest versions we can reopen the issue.

[2020-08-17 07:20] #1245 closed

[2020-08-17 08:55] violetagg commented on #1272
Unfortunately the implementation comes with backwards incompatible changes and I do not see how we can backport this to the released versions
our RC1 is the next month so the release of the new functionality is not far away

[2020-08-17 08:55] #1272 closed

[2020-08-17 13:16] violetagg commented on #1271
@HarshaVardhanAcharyAthaluri Were you able to resolve the dependency mismatch?

[2020-08-17 13:33] HarshaVardhanAcharyAthaluri commented on #1271
Yes @violetagg thank you so much for your help

[2020-08-17 13:46] violetagg commented on #1271
@HarshaVardhanAcharyAthaluri OK, closing this one

[2020-08-17 13:46] #1271 closed

[2020-08-17 14:45] izeye opened #1274 "NPE in DefaultHeaders.remove0() when using WebClient"
`NullPointerException`  is thrown from `io.netty.handler.codec.DefaultHeaders.remove0()` when using `WebClient` as follows:

[code]

## Expected Behavior

`WebClient` works without NPEs.

## Actual Behavior

`NullPointerException`  is thrown as mentioned above.

## Steps to Reproduce

1. `git clone https://github.com/izeye/spring-boot-throwaway-branches.git`
2. `cd spring-boot-throwaway-branches/`

[2020-08-17 16:09] simonbasle commented on #1245
Note that it could be related / another symptom of reactor/reactor-core#2318, which is fixed in the latest snapshots

[2020-08-18 08:31] #1274 closed

[2020-08-18 15:40] #233 closed

[2020-08-20 11:03] violetagg commented on #1251
@ShahzebAnsari Were you able to use the context loss detection mechanism?

[2020-08-20 11:13] #573 closed

[2020-08-20 16:01] violetagg commented on #641
@sivapolisetty Do you experience this with the latest release?

[2020-08-20 16:12] sivapolisetty commented on #641
Yes @violetagg .
Spring boot 2.3.2-RELEASE / Reactor-Netty 0.9.10-RELEASE.
Docker/Openshift environment. Getting "logger_name":"reactor.netty.http.client.HttpClientConnect","thread_name":"reactor-http-epoll-4","level":"WARN","level_value":30000,"stack_trace":"io.netty.channel.unix.Errors$NativeIoException: readAddress(..) failed: Operation timed out\n"

Not able to reproduce on Mac

[2020-08-21 06:32] violetagg commented on #641
@sivapolisetty Is it possible to take a tcpdump?

[2020-08-23 16:11] xinghui322 opened #1286 "LEAK: ByteBuf.release() was not called before it's garbage-collected."
## Expected Behavior

No memory Leak.
## Actual Behavior

I use SCG to route my requests, and with a certain number of concurrent requests (about 20 QPS), I found the following error log, no other errors.
[code]
Here are some reactor-netty debug logs before the leak happens:
[code]
## Steps to Reproduce

Here is the reproducible example [spring-leak-demo](https://github.com/xinghui322/spring-leak-

[2020-08-23 17:52] violetagg commented on #1286
@xinghui322 Enable `logging.level.reactor.netty=debug` (or `logging.level.reactor.netty.channel.FluxReceive=debug`) in `application.properties` and add `-Dio.netty.leakDetectionLevel=paranoid`, you should be able to see more detailed stack when the leak happens.

[2020-08-24 03:25] xinghui322 commented on #1286
Here are the detailed logs .
[code]

[2020-08-24 03:26] wutingting1993 commented on #1286
@violetagg I have the same issue

Maven: io.projectreactor.netty:reactor-netty:0.9.7.RELEASE
Maven: io.projectreactor:reactor-core:3.3.5.RELEASE

[code]

**LEAK: ByteBuf**

[code]

[2020-08-24 05:35] violetagg commented on #1251
@ShahzebAnsari I'm closing this one. If you have more information we can reopen it.

[2020-08-24 05:35] #1251 closed

[2020-08-24 05:42] violetagg commented on #1286
@wutingting1993 Not always one and the same exception means one and the cause of the problem. Please upgrade to the latest version as we have fixes and if the issue appears again then create a separate issue for your use case.

[2020-08-24 05:46] violetagg commented on #1286
@xinghui322 `lettuce-epollEventLoop-5-12` this is not Reactor Netty thread, is it possible that the leak is in the lettuce component?

/cc @mp911de

[2020-08-24 05:50] wutingting1993 opened #1287 "LEAK: ByteBuf.release() was not called before it's garbage-collected."
### Environment
`spring-boot  2.3.2.RELEASE`

### Code
[code]

### Exception
[code]

[2020-08-24 05:51] violetagg commented on #1286
@xinghui322 Also from this log

[code]

Take the id `0x74d4f43c ` and provide only the logs with that particular id

[2020-08-24 05:57] violetagg commented on #1287
@wutingting1993 Do you have any exception when requesting the remote system? Do you have any additional functionality for the error/cancel situations?

Consider checking this https://github.com/reactor/reactor-netty/issues/1254#issuecomment-670688250 and this https://github.com/reactor/reactor-netty/issues/1254#issuecomment-671793828

[2020-08-24 05:59] violetagg commented on #1287
@wutingting1993 This is interesting

[code]

Why do you configure a connection pool when you mark always the connection as non persistent?

[2020-08-24 06:03] wutingting1993 commented on #1287
yes,  Due to the influence of the downstream server, I had to  mark always the connection as non persistent. some  downstream server don't response with `connection `header, it caused `PrematureCloseException`.

[2020-08-24 06:11] wutingting1993 commented on #1287
remote system has no exception. no others function when  error/cancel situations.

`id: 0x752bd9bb` : According to the log, the remote system responded normally
[code]

[2020-08-24 06:11] violetagg commented on #1169
#1273

[2020-08-24 06:14] violetagg commented on #1287
@wutingting1993 Are these all logs related to id `0x752bd9bb`?

[2020-08-24 06:15] wutingting1993 commented on #1287
@violetagg

yes,` LEAK: ByteBuf.release()` and these all logs related to id `0x752bd9bb`.

[2020-08-24 06:16] violetagg commented on #1287
@rstoyanchev Can you take a look? I do not see a subscription for the body.

[code]

[2020-08-24 06:18] xinghui322 commented on #1286
The log of leak may also happen in reactor-http-epoll thread.

[2020-08-24 06:21] xinghui322 commented on #1286
With another same log.
[code]

[2020-08-24 06:24] wutingting1993 commented on #1287
@violetagg

I haven't see too~

but I have do `subscription `. Is my usage wrong？？
[code]

[2020-08-24 06:26] violetagg commented on #1287
@wutingting1993 How do you use please of code? In some controller?

[2020-08-24 06:30] violetagg commented on #1286
@xinghui322 Is this all related to `0x210328c4`?

[2020-08-24 06:31] wutingting1993 commented on #1287
that all.

[code]

[code]

[2020-08-24 06:34] xinghui322 commented on #1286
Yes

[2020-08-24 07:26] violetagg commented on #1286
@rstoyanchev @spencergibb I see here the incoming request was buffered `Buffered ByteBufHolder in Inbound Flux Queue`, but I do not see any subscription although I see a response is returned. Can you take a look?

[2020-08-24 16:36] xinghui322 commented on #1286
Here's the detailed log with spring web debug log enabled:
[code]
 `POST /login-status` is defined through mvc, like the code below.
[code]
I tried to remove the controller, unfortunately I can still see the leak log.
[code]

[2020-08-24 17:03] rstoyanchev commented on #1287
As explained on the Javadoc of `exchange()` this could lead to leaks if not handled correctly and this code is not protected against error/cancel signals. Could you try using `retrieve().toFlux(DataBuffer.class)` instead?

[2020-08-24 18:54] #1265 closed

[2020-08-25 01:28] wutingting1993 commented on #1287
@rstoyanchev

what is right way protected against error/cancel signals when use `exchange()`? it's hard for me to use `retrieve()`, Because no matter what the httpstatus code is, I need to respond to my client with the result of the downstream service response.

[2020-08-25 07:18] violetagg commented on #990
This has been fixed with #1290 for 0.9.x version, and #1282 for 1.0.0 version

[2020-08-25 07:19] #990 closed

[2020-08-25 08:07] violetagg commented on #259
If an extended support is needed there is a possibility for a custom handler to be provided instead of the default one. See #990

[2020-08-25 08:07] #259 closed

[2020-08-25 13:45] rstoyanchev commented on #1287
Understood, but `retrieve()` does provide access to every part of the response. You can use `onStatus` handlers for dealing with error status codes and you have `toEntity` methods for access to status and headers.

The only reason to ever use exchange is if you need to access the status and headers before the body has been read. However, when you do that you also need to make sure the body is cons

[2020-08-25 14:50] rstoyanchev commented on #1287
Indeed it looks like the body is not consumed. We only see the logs for the client connection to the remote. The only thing I can imagine is that there is a subscription from the server response side also never happens. @wutingting1993 do you have logs for the server handling of that request? Is it possible that the server response was cancelled?

[2020-08-25 15:10] violetagg commented on #1286
@xinghui322 is it possible to isolate some small reproducible example?

[2020-08-25 16:16] nmina commented on #59
I know this is quite old but I'm trying to implement the same concept. Basically an HTTP REST service which needs to connect to a backend server via TCP. I have the following implementation currently but I'm not sure if it's optimal:

**Spring Controller:**
[code]

**SampleTcpClient:**
[code]

My concerns from the code above are:
1. inbound.receive() can only be executed once. Otherwise it'll thro

[2020-08-26 17:50] xinghui322 commented on #1286
Yes, here is the reproducible example [spring-leak-demo](https://github.com/xinghui322/spring-leak-demo).
It is easy to reproduce use jmeter,  just post any uri with body.

[2020-08-27 08:00] violetagg commented on #1286
@xinghui322 Thanks I can reproduce it.
I have one question. You intentionally do not consume the POST body, is that correct?

[2020-08-27 09:12] xinghui322 commented on #1286
@violetagg I think there are at least two situations that may not consume the post body.
 1. POST multipart with no params like below, this will also cause the memory leak.
[code]

2. Someone who can use this bug to attack the application server, this will cause the service to run out of memory.

[2020-08-28 02:44] ryzencool commented on #1062
Did you solve this problem? @kiwi-field, I upgrade version to latest, but still throw this exception.

[2020-08-28 03:44] wutingting1993 commented on #1287
yes，Is it possible that the server response connection was closed or lost for some reason leading to cancellation of the reading of the content from the remote. I handled this situation. **but leak issue not solved, I think the problem I encountered is the same as** https://github.com/reactor/reactor-netty/issues/1287， when exception,  the request body not consumer, leak issue occured, is that a b

[2020-08-28 10:42] rstoyanchev commented on #1287
Could you share what you did for that?

I think you mean #1286. Once that's resolved you can give it another try and see if it resolves this as well.

[2020-08-28 15:09] Lovnx commented on #1267
The connection observed an error

[2020-08-28 15:10] Lovnx commented on #1267
https://blog.csdn.net/rickiyeat/article/details/107900585

[2020-08-28 16:36] #1286 closed

[2020-08-28 18:05] violetagg commented on #1286
@xinghui322 Try 0.9.12.BUILD-SNAPSHOT. With the reproducible example that you provided I do not see memory leak anymore.

[2020-08-28 18:08] violetagg commented on #1287
@wutingting1993 Try 0.9.12.BUILD-SNAPSHOT
However #1286 is related to the buffering the incoming data on the server, while here the client received the data but I do not see any subscription that will consume that data (data in the client buffer).

[2020-08-31 05:28] xinghui322 commented on #1286
Thanks for the fix, the memory leak has gone.

[2020-08-31 06:33] wutingting1993 commented on #1287
@violetagg @rstoyanchev
It's ok, thanks for you help.

[2020-08-31 06:33] #1287 closed

[2020-08-31 12:06] martinkrc opened #1296 "Connection prematurely closed BEFORE response"
We're experiencing the "Connections prematurely closed" error frequently in production - most of communication succeeds but some portion of requests fails with the mentioned error.

## Expected Behavior
When a connection is successfully used to exchange request/response with the server, Reactor/Netty should not cause failures.

## Actual Behavior
As the situation appears to me, sometimes the serve

[2020-08-31 12:12] violetagg commented on #1296
@martinkrc Is it possible to try the latest releases?

[2020-08-31 12:26] martinkrc commented on #1296
Do you recommend any specific version? The trouble is that we already did an upgrade (from 0.8.8 to 0.9.7) recently hoping for improvements, but it didn't help and we don't want to waster release effort - the issue can't be reproduced in our test env. Do you see any ticket post 0.9.7 which could be fixing the problem?

[2020-09-01 05:52] violetagg commented on #1296
@martinkrc
I'm thinking about this
https://github.com/reactor/reactor-netty/issues/1165
https://github.com/reactor/reactor-netty/pull/1183
Although the root cause might be different in your case

The current releases are Reactor Netty 0.9.11, Spring Boot 2.3.3, Spring Framework 5.2.8

[2020-09-01 05:57] violetagg commented on #1296
@martinkrc One additional question: Is there any kind of timeout on the target server?
keep alive timeout/idle timeout etc. that closes the connection when it was not used for a particular time?

[2020-09-02 16:37] uzdz opened #1299 "readAddress(..) failed: Connection reset by peer"
Hello developer:
At present, when my program uses lettuce, the following exception will be thrown in the next request after a long time of no operation.

Here is my client configuration and exception information.For security, IP information has been erased.

[code]

[code]

However, after an exception occurs, the following log will be output. It seems that a reconnection operation has occurred, an

[2020-09-02 16:41] violetagg commented on #1299
@uzdz May be you need to open an issue in Lettuce project. I do not see here any Reactor Netty code.

[2020-09-03 03:38] uzdz commented on #1299
This is the reply from lettuce. Can you ask the reason for this error? I might be able to find out for myself.

[code]

[2020-09-03 06:38] deanjoson commented on #540
When I modified the configuration file, the problem was solved. The main reason is the retrial mechanism。
Put the Retry filter at the end。

before:
[code]

after:
[code]

[2020-09-05 12:29] #1299 closed

[2020-09-08 07:05] violetagg commented on #1296
@martinkrc Were you able to try the latest versions?

[2020-09-08 08:45] martinkrc commented on #1296
@violetagg Need more time, I managed to reproduce the issue somehow locally, but not in a reliable way yet. Next steps would be trying a newer version, but don't have capacity for it at the moment.
Meanwhile we're trying to find out the answer for your additional question - about timeout on the target server.

[2020-09-08 19:08] agilekevin opened #1302 "POST body intermittently not sent"
About 2% of the time, POST requests do not send their body.

I'm using reactor-netty within Spring Cloud Gateway to modify headers and proxy requests to downstream services.  I do not inspect or attempt to modify the body in any way.

The body is very small, 5-10 lines of xml.

I've verified by the wiretap tracing that the body arrives successfully TO the gateway in the case where it is not sent.

[2020-09-08 19:13] agilekevin commented on #1302
I should add that this behavior is consistent across multiple downstream services, so I don't think it's the service rejecting the connection, etc.

The downstream service reports a pretty consistent error: IOException connection closed before body could be read (UT000128)

[2020-09-08 20:11] agilekevin commented on #1302
Also, the packet capture shows the first packet above, and the downstream service replies with `ack`, and the `ack` is ack'd.  Then my service even sends a `fin` which gets `fin ack`'d.  So I don't think it's something outside the system closing the connection.

[2020-09-09 05:51] jacob2221 opened #1303 "Spring Cloud Gateway - Response time increases with increase in size of request/response"
Hi,

We have a spring cloud gateway application using Hoxton.SR8 release and Spring boot 2.3.3.RELEASE. Observing that with increase in size of request/response, the response time is increasing.

- We do not have any custom filters defined.
- Only access logging is enabled.
- Logback async appenders are being used for both application and access logging.

Below are the logs being seen in applicati

[2020-09-09 07:18] violetagg commented on #1303
@jacob2221 Are you able to provide a reproducible example?

[2020-09-09 09:50] jacob2221 commented on #1303
@violetagg Sample applications available at https://github.com/jacob2221/gateway-netty-test. Also JSON used for testing available in "test-json.txt". For the first request, I usually get "Premature closure of connection" exception due to a JSON parsing warning in downstream app but thereafter downstream response comes fine

[2020-09-09 14:36] SentryMan opened #1304 "HTTPClient Docker Memory Leak"
We're trying to use reactive in our microservice, but we're seeing the docker memory go up until the instance is killed. We were able to identify our API Calls as the culprit.

## Expected Behavior

The memory usage should be similar or less than using the ``RestTemplate`` or the deprecated ``AsyncRestTemplate``.

## Actual Behavior

When we make API calls with anything that uses netty's ``HttpCli

[2020-09-09 15:13] yate commented on #94
@violetagg is this still an option? I don't see it anymore in https://github.com/reactor/reactor-netty/blob/master/reactor-netty-http/src/main/java/reactor/netty/http/client/HttpClient.java

[2020-09-09 16:52] violetagg commented on #94
If you specify `Content-Length` it will disable the chunked transfer
https://github.com/reactor/reactor-netty/blob/3528badfa032195e8325f35ba351e993cf186a9a/reactor-netty-http/src/main/java/reactor/netty/http/client/HttpClient.java#L67-L69

[2020-09-09 18:28] sephiroth-j commented on #1224
@violetagg [Netty 4.1.52.Final has been released](https://github.com/netty/netty/releases/tag/netty-4.1.52.Final). I have tested reactor-netty 0.9.10 and 0.9.11 with netty-4.1.52.Final and it works in both combinations.

[2020-09-10 15:19] violetagg commented on #1224
@sephiroth-j Thanks for testing it.

Netty version updated for 0.8.21.BUILD-SNAPSHOT, 0.9.12.BUILD-SNAPSHOT and 1.0.0-SNAPSHOT

[2020-09-10 15:19] #1224 closed

[2020-09-10 15:52] #1215 closed

[2020-09-11 06:32] Lovnx opened #1306 "How to monitor connection pool?"
I want to monitor behaviour of connection pool, Is there any metrics enable switch?

## Motivation

## Desired solution

## Considered alternatives

## Additional context

[2020-09-11 06:37] violetagg commented on #1306
@Lovnx Check this https://projectreactor.io/docs/netty/release/reference/index.html#_metrics_2
For further questions consider using [Gitter](https://gitter.im/reactor/reactor-netty) or [stackoverflow.com](https://stackoverflow.com/questions/tagged/reactor-netty)

[2020-09-11 06:37] #1306 closed

[2020-09-11 17:58] #1261 closed

[2020-09-12 07:30] violetagg commented on #1304
@SentryMan [Reactor Netty version: 0.9.8](https://github.com/reactor/reactor-netty/releases/tag/v0.9.8.RELEASE) has FDs leak. Can you try the latest available release (0.9.11)?

[2020-09-12 07:41] violetagg commented on #1304
@SentryMan `The Exchange Strategy Hello World` uses `exchange` and I would strongly recommend you to switch to `retrieve`.
https://docs.spring.io/spring/docs/current/spring-framework-reference/web-reactive.html#webflux-client-exchange

[code]

https://github.com/spring-projects/spring-framework/issues/25751

[2020-09-12 13:28] SentryMan commented on #1304
Thanks for responding, It appears that upgrading to 0.9.11 solved it.

[2020-09-12 13:28] #1304 closed

[2020-09-12 15:35] violetagg commented on #1304
Duplicate for #1152

[2020-09-16 17:09] kaladhar-mummadi commented on #641
@violetagg experienced same `java.io.IOException: Operation timed out`.
Attached the tcpdump log. Please let me know if more details are needed.
Also trying to understand why this happens. Does this mean that underlying socket connection is closed but channel is trying to retransmit on the same socket ?
<img width="1080" alt="Screen Shot 2020-09-16 at 10 05 28 AM" src="https://user-images.githubus

[2020-09-17 15:20] skorhone commented on #1303
It's most certainly the downstream application that is spending time on processing your input / output. Processing 9mb json on jvm that hasn't been warmed up, will definitely take some time.

Enable access logs on your downstream service and check how long it takes to actually process your request.

[2020-09-18 09:05] wutingting1993 opened #1310 "OutOfDirectMemoryError: failed to allocate 524483910 byte(s) of direct memory (used: 3271557127, max: 3795845120)"
**when I use spring-boot 2.3.4 download with a big file (example 40M), OutOfDirectMemoryError occured.**
but when I use vertx, that works well, vertx version is 3.5.3

If it does not reproduce, please try a few more times. All the configurations are default and have not been changed。

### Codes
[code]

[code]

### Exception
[code]

### Netty version ( spring-boot 2.3.4)
[code]

[2020-09-18 09:30] violetagg commented on #1303
@jacob2221 I do not see what you are describing. I see the response time is similar regardless whether the application is requested via gateway or direct.
What is the response time when you request the application directly not via Gateway?

[2020-09-18 09:42] violetagg commented on #1310
@wutingting1993 Enable logging for Netty (io.netty=DEBUG) and tell us what's the configuration for `maxDirectMemory` when you run with Spring and when with Vert.x

[2020-09-18 09:48] wutingting1993 commented on #1310
@violetagg

please check error log again, I already Enable logging for Netty (io.netty=DEBUG) .

and when I change code as follows, it seems solved. Is there any difference between these two ways.
#### **as is**
`body(clientResponse.bodyToMono(byte[].class), byte[].class)`

#### **to be**
`body(BodyInserters.fromDataBuffers(clientResponse.body(BodyExtractors.toDataBuffers())))`

[2020-09-18 10:10] wutingting1993 commented on #1310
maxDirectMemory is 16777216 when you run with Spring and when with Vert.x

[2020-09-18 11:25] violetagg commented on #1310
That's very interesting because in the exception above it is `(used: 3271557127, max: 3795845120)`

Also I was asking for Netty logs not Reactor Netty (I do not see above logs from Netty)

[2020-09-18 11:27] violetagg commented on #1310
This should be reported to Spring Framework as it is not an API provided by Reactor Netty

[2020-09-18 11:39] wutingting1993 commented on #1310
Sorry for give you error size.max size is 3795845120.  and there is no other logs

[2020-09-18 11:47] violetagg commented on #1302
@agilekevin Is it possible to provide a reproducible example. I tried with very simple POST, but I do not see issues.

[2020-09-18 12:44] rstoyanchev commented on #1310
When you extract to `byte[]` you are making a copy of the buffers from the client, which are then copied yet again to the buffers of the response. That's 3 times the memory vs passing them as is as DataBuffer's.

[2020-09-18 16:04] #1235 closed

[2020-09-20 12:35] mplain commented on #640
I tried that, and trustStore gets loaded, however keyStore does not
SSLContextImpl.engineInit() loads system properties if it receives null for trustManager, but it does not do so for keyManager

[2020-09-21 01:20] wutingting1993 commented on #1310
@rstoyanchev

thanks for you explain.

[2020-09-21 01:20] #1310 closed

[2020-09-21 15:07] agilekevin commented on #1302
The problem doesn't occur with simple requests, just at load.  And no, I haven't put together a load test for it.

I see the problem across several services.  I looked for special characters in the body as a potential issue, but found none.

We did change from Spring Cloud Gateway to Ambassador, running on the same k8s cluster, which makes the issue go away.  That (plus the pcaps) I think does a g

[2020-09-22 12:11] jacob2221 commented on #1303
On my system, I see around 1 to 1.5 seconds being added to response time when going via gateway vs direct. Again that could be due to my system specs or the fact that I am running both gateway and downstream on same machine. Closing issue for now. Will observe this in our deployed environments and will get back in case of any issues. Thanks for your time!

[2020-09-22 12:11] #1303 closed

[2020-09-22 12:56] sdeleuze commented on #21
Indeed I can't reproduce it anymore so closing this issue.

[2020-09-22 12:56] #21 closed

[2020-09-23 02:17] Lovnx commented on #1287
@wutingting1993
Have you upgraded to 0.9.12?

[2020-09-23 02:19] wutingting1993 commented on #1287
yes, upgrade, works well.

[2020-09-23 02:23] Lovnx commented on #1287
Thanks, I will try.

[2020-09-23 07:24] violetagg commented on #1296
@martinkrc I'm closing this, if you have additional information we can reopen it.

[2020-09-23 07:24] #1296 closed

[2020-09-23 07:47] violetagg commented on #629
@flisky With all transports, Reactor Netty sends `cancel` signal. This is the behaviour since version `0.8.15` and `0.9.3` (#940).
You can attach a callback for the cancel signal.

[2020-09-23 07:47] #629 closed

[2020-09-23 08:08] violetagg commented on #353
@filiphr @rstoyanchev This is not applicable any more - the implementation was changed

[2020-09-23 08:08] #353 closed

[2020-09-23 08:14] violetagg commented on #6
Adding Netty encoders/decoders is documented in the reference documentation.
https://projectreactor.io/docs/netty/release/reference/index.html
For Spring related encoders/decoders consult with Spring documentation
https://docs.spring.io/spring/docs/current/spring-framework-reference/web-reactive.html#spring-webflux
Closing this issue.

[2020-09-23 08:14] #6 closed

[2020-09-24 13:50] winster commented on #741
Does this deserve an attention?
https://github.com/reactor/reactor-addons/issues/236
No one is looking at it there. Hence posting here.

[2020-09-24 14:15] blacelle opened #1314 "LEAK: ByteBuf.release() was not called before it's garbage-collected. reactor.right.reactiveBridge"
I get the following leak in my application. I don't manage neither Netty, nor Reactive manually, then I'm unsure how to investigate this issue. The app rely on SpringBoot, Azure KeyVault, and SpringCloudConfig (I suspect one of them to be guilty).

[code]

Netty: 4.1.51
Reactor: 3.3.9
Reactor-Netty: 0.9.11
Azure-security-KeyVault: 4.2.1

[2020-09-24 14:39] violetagg commented on #1314
@blacelle

Please specify in more details your scenario

[2020-09-24 14:49] violetagg commented on #741
@winster What do you mean? This issue is fixed.

[2020-09-24 15:02] blacelle commented on #1314
@violetagg Thanks for the quick response.

I'm not sure which details would be the most relevant. Our application is a roughly standard SpringBoot application. it has some specificities:

- We rely on Azure keyVault SDK. This SDK previously fixed some memory leak in their usage of Netty.
- We refresh our Environment every 15 minutes, leading to a refresh of properties from Azure keyVault on this f

[2020-09-24 18:55] lborisevich-clgx commented on #1060
@violetagg still seeing the 45000ms issue with Reactor Netty 0.9.12 and Spring Webflux 5.2.9.RELEASE, are there any configurations I should do? I need to send millions of requests as fast as I can, so after some time it starts failing with this error

[2020-09-25 05:10] violetagg commented on #1060
@lborisevich-clgx This issues was identified to be Spring Framework issue. It was fixed.
Please open a new issue with a reproducible code so that we can investigate further the cause for your use case.

[2020-09-25 05:53] xinghui322 opened #1316 "Socket timeout errors occurred since version 0.9.10.RELEASE"
When we tested with the latest version, I found some timeout errors that the previous version did not have. And I found that the `0.9.9.RELEASE` version had no timeout error, and `0.9.10.RELEASE` started to have timeout errors.

## Expected Behavior

No timeout
## Actual Behavior
I run a load test with [wrk2](https://github.com/giltene/wrk2), the result shows several timeout errors.
[code]
**If I

[2020-09-25 06:22] violetagg commented on #1316
@xinghui322 You wrote that you see the issue with 0.9.10, but then in the environment you wrote 0.9.12.
Which version did you test? 0.9.10 or 0.9.12?

[2020-09-25 06:31] violetagg commented on #1314
@blacelle Please try to provide some reproducible scenario as there are many components involved.

[2020-09-25 07:32] winster commented on #741
Yes, the issue in reactor-netty is fixed. But there are other components in reactor where it is still open.
reactor-extra - https://github.com/reactor/reactor-addons/issues/236
reactor-core - https://github.com/reactor/reactor-core/issues/2396

I commented here to know in case are these issues related.

[2020-09-25 08:53] xinghui322 commented on #1316
I've tested both versions， they have the same problem

[2020-09-25 08:57] violetagg commented on #1316
@xinghui322 Can you provide a reproducible example?

[2020-09-27 10:39] violetagg commented on #1036
@adriancole You have [mapConnect](https://projectreactor.io/docs/netty/release/api/reactor/netty/http/client/HttpClient.html#mapConnect-java.util.function.BiFunction-)
so you can decorate `Mono<Connection>`
what else is needed?

[2020-09-30 12:20] JakubJecminek commented on #1314
we also experience this problem with reactor-netty 0.9.12. Our app is based on spring cloud gateway (spring boot version 2.3.3)

[2020-09-30 12:53] violetagg commented on #1314
@JakubJecminek You may observer a memory leak but the cause in your case might be different. Please create a new issue with a reproducible example.

[2020-10-01 16:38] sandeepbyathagururajarao opened #1318 "SSLEngine closed already"
I have writing a SpringBoot WebFlux app (WebClient) which is talking to another external application by making http calls.
I see many errors in my log files during load testing which says its a warning, don't know if it is.
This issue simulates only after 3-4 hrs of continuous load on the application.
All the errors are on same id "0x86e4c395"

Environment:
**Spring boot - 2.3.3.RELEASE
spring-boo

[2020-10-01 17:19] violetagg commented on #1318
@sandeepbyathagururajarao What's the purpose of

[code]

for handling response timeout, connection idle in the pool or else ....

[2020-10-02 04:50] sandeepbyathagururajarao commented on #1318
Yes, The idea behind the code is to handle read and connection timeouts.

[2020-10-02 07:09] violetagg commented on #1318
@sandeepbyathagururajarao Connect timeout you already specified with `.option(ChannelOption.CONNECT_TIMEOUT_MILLIS, 60000);`

for response timeout I would recommend you to use the new API that we exposed `HttpClient.responseTimeout` (#1159)

Another question is there a possibility that the target server closes the connection on some let say configured keep alive timeout?

[2020-10-02 09:09] sandeepbyathagururajarao commented on #1318
@violetagg We are not closing any connection programatically. We are using embedded tomcat as our server
Thanks for the suggestion related to responseTimeout. I will use the same in my code.

[2020-10-02 09:16] violetagg commented on #1318
@sandeepbyathagururajarao If you use Tomcat then you should know that `connectionTimeout` value is applied to `keepAliveTimeout` setting also

http://tomcat.apache.org/tomcat-9.0-doc/config/http.html#Standard_Implementation

[code]

[code]

[2020-10-02 09:51] sandeepbyathagururajarao commented on #1318
@violetagg Do you suggest me not to use connectionTimeout in embedded tomcat of my SpringBoot app. Or should i set it to -1?

[2020-10-02 11:02] violetagg commented on #1318
@sandeepbyathagururajarao

Yes, having `keepAliveTimeout`, Tomcat closes the connection asynchronous i.e. even when we obtain the connection from the pool and it is not closed, in the next moment it might be closed by Tomcat because of that setting.

So you have two solutions:
If you decide to stay with the default `keepAliveTimeout` or any other value different than `-1`, then you have to configu

[2020-10-02 11:56] sandeepbyathagururajarao commented on #1318
@violetagg Thank you. Will try the changes and keep you posted.

[2020-10-02 14:44] jtorkkel opened #1320 "http server tcp.metric(true) should not expose remote_address"
tcp.metrics(true) currently expose remote_address. This result OOM and cardinality issues.

reactor_netty_tcp_server_data_received_bytes_count{app="xxx",host="YYY",remote_address="127.0.0.1:45935",uri="tcp"} 2.0
reactor_netty_tcp_server_data_received_bytes_sum{app="xxx",host="YYY",remote_address="127.0.0.1:45935",uri="tcp"} 1292.0
reactor_netty_tcp_server_data_received_bytes_count{app="xxx",host="