[2021-07-31 09:05] msojka411 commented on #1758
Thanks, Upgrading spring to Ilford Release Traing helped. Now memory leaks don't show again.

[2021-07-31 09:05] #1758 closed

[2021-08-02 06:10] anthonywanted commented on #1637
@koldat Such a magic

[2021-08-02 11:44] techdeba901 opened #1761 "Multipart(one part is JSON and other part is binary) data is getting truncated while reading it by using Flux<DataBuffer>"
I am using Webflux and Netty in my spring boot application.  I am sending the multipart data as a request to my controller class.  Flux<DataBuffer> is the request body from ServerHttpRequest in my controller class. We are trying to get the data as byte[] format from Flux<DataBuffer> and then constructing the data as string format. The issue we are facing is the data is truncated.

Please find the

[2021-08-02 13:50] 1ssqq1lxr opened #1762 "Why is reactor netty 1.0.9 introduced and the reactor core version used is 3.1.16 instead of 3.4.8 in reactor netty core"
Why is reactor netty 1.0.9 introduced and the reactor core version used is 3.1.16 instead of 3.4.8 in reactor netty core？

[2021-08-02 14:26] jndietz opened #1763 "DNS not resolved with WebClient in reactor-netty"
## Expected Behavior
I am expecting that `reactor-netty` will be able to resolve a DNS.

## Actual Behavior
The DNS resolution fails when validating a JWT against Okta (or calling any other downstream service) with the following exception:

[code]

The IP above is a CenturyLink DNS server.

## Steps to Reproduce
I have created a sample test project that will validate a JWT against Okta.  It is a s

[2021-08-02 20:24] violetagg commented on #1761
@techdeba901 Reactor Netty does not support multipart on the server, so most probably you use functionality provided by Spring Framework.

[2021-08-02 20:26] #1761 closed

[2021-08-02 20:31] violetagg commented on #1762
@1ssqq1lxr  Can you specify where you see version 3.1.16?
https://repo1.maven.org/maven2/io/projectreactor/netty/reactor-netty-core/1.0.9/reactor-netty-core-1.0.9.pom

[2021-08-03 02:37] 1ssqq1lxr commented on #1762
In the spring environment, the dependent reactor netty version will change. What is the situation?

[2021-08-03 02:37] 1ssqq1lxr commented on #1762
In the spring environment, the dependent reactor netty version will change. What is the situation?

[2021-08-03 02:46] 1ssqq1lxr commented on #1762
![image](https://user-images.githubusercontent.com/19258331/127949524-ad86ad3a-454d-4e53-b582-0a5deaad5a1a.png)

[2021-08-03 12:04] simonbasle commented on #1762
this doesn't seem logical. maybe an intellij cache issue? or Maven/Gradle issue? Spring Boot references the reactor-bom, but the BOM in which reactor-netty 1.0.9 was released is also correct:  https://repo1.maven.org/maven2/io/projectreactor/reactor-bom/2020.0.9/reactor-bom-2020.0.9.pom

are you sure you haven't configured / forced an old version of a reactive library that would bring this old rea

[2021-08-03 13:37] crankydillo commented on #556
Hi @violetagg .  Apologies for this ridiculously late response, but we are not currently suffering from this.  We're using 1.0.3 and 1.0.8 currently.

[2021-08-04 09:40] AmandeepSingh97 commented on #1759
Thanks for sharing @violetagg
I still have a small clarification
If we have multiple entries for the localhost in /etc/hosts file, all of which resolve to the same host (127.0.0.1) is the retry still an expected behaviour ?

[2021-08-05 14:26] mkluzacek opened #1764 "Connection prematurely closed BEFORE response on half closed connection"
When using webclient and calling rest api on another server(using tomcat) the webclient sometimes doesnt acknowledge the connection finish from the server and later try to reuse the already closed connection.
The connection is closed by the tomcat server after 60s (default keep alive settings). Most of the times the connection gets closed correctly on the client side but sometimes it just sends [A

[2021-08-06 08:51] yikuo123 opened #1765 "setting `proxyWithSystemProperties()` without defining jvm arguments like `HTTP_PROXY_HOST/HTTPS_PROXY_HOST/SOCKS_PROXY_HOST` causes `UnresolvedAddressException`"
setting `proxyWithSystemProperties()` without defining  jvm arguments like `HTTP_PROXY_HOST/HTTPS_PROXY_HOST/SOCKS_PROXY_HOST` causes `UnresolvedAddressException`

## Expected Behavior

just works as no proxy set

## Actual Behavior

throws UnresolvedAddressException

## Steps to Reproduce

[code]
if there is no proxy defined by jvm arguments, requesting a url with webClient causes UnresolvedAddre

[2021-08-06 09:19] 1ssqq1lxr commented on #1762
I rely on the parent dependency of springboot, and the version of reactor used changes with the version of springboot

[2021-08-06 10:02] tbartlomiejczyk opened #1766 "NPE happens when http client metrics enabled"
NPE warning is logged:

An exception was thrown by reactor.netty.http.client.HttpClientMetricsHandler$$Lambda$990/0x0000000800924840.operationComplete()

java.lang.NullPointerException: null
	at java.base/java.util.Objects.requireNonNull(Objects.java:221) ~[na:na]
	at io.micrometer.core.instrument.ImmutableTag.<init>(ImmutableTag.java:35) ~[micrometer-core-1.7.0.jar:1.7.0]
	at io.micrometer.core.i

[2021-08-09 05:33] violetagg commented on #1759
@AmandeepSingh97 It is not related to the entries in `/etc/hosts` that will be resolved to `127.0.0.1`. It is the opposite whether you have many entries for `localhost`. In the mentioned issue there are two entries for `localhost` - the first `127.0.1.1` and the second `127.0.0.1`. If you are in the latter use case we will try with both `127.0.1.1` and `127.0.0.1`.

[2021-08-09 05:51] Azbesciak commented on #1746
@violetagg ? Did you see my question about the exact required run configuration? Unfortunately, as you see above I was not able to receive the required result with described steps. I can also send you directly some code parts with requests - it is probably redundant (the exact code, requests, and keys), but...

[2021-08-09 09:19] ctlove0523 commented on #1766
@tbartlomiejczyk
I download your project “netty-http-client-metrics-npe” and run test org.example.npeexample.NPETest#test,but i can't reproduce this issue,i got an “Connection prematurely closed BEFORE response” exception

[2021-08-09 10:03] simonbasle commented on #1762
But which version of Spring Boot are you using? You need to perform a fuller dependency analysis, but I'm pretty sure the issue isn't on reactor-netty/reactor-core/reactor-bom side given the above.

[2021-08-09 11:17] tbartlomiejczyk commented on #1766
@ctlove0523
Look for warning in the logs. Should be before “Connection prematurely closed BEFORE response”.

[2021-08-09 12:45] violetagg commented on #1754
@rey5137 I'm closing this. If we need something in Reactor Netty we can reopen it.

[2021-08-09 12:45] #1754 closed

[2021-08-09 13:42] AmandeepSingh97 commented on #1759
@violetagg
We have a situation in which our /etc/hosts file contains 2 entries with localhost 127.0.0.1.
The doOnChannelInit is being called exact same number of times as the repeated entry for localhost (with the same IP).

Is this the expected behaviour? If not let us file a bug.

[2021-08-09 13:49] violetagg commented on #1759
@AmandeepSingh97 Is it possible to paste here the entries from the `/etc/hosts`
and the logs like the following:

[code]

[2021-08-09 16:00] #1765 closed

[2021-08-09 16:35] violetagg commented on #1765
@yikuo123 If you are able to test 1.0.10-SNAPSHOT, it will be great! Thanks.

[2021-08-09 18:49] violetagg commented on #1766
@tbartlomiejczyk  @ctlove0523 I can reproduce it on Windows 10 OS (the OS specified by @tbartlomiejczyk).

[2021-08-10 01:05] ctlove0523 commented on #1766
@violetagg

My OS is Microsoft Windows [Version 10.0.19041.985],Java version is Java8，but i can not reproduce this issue,Java version affect this?

[2021-08-10 03:00] yikuo123 commented on #1765
I have tested 1.0.10-SNAPSHOT for a while and it works great! Thanks very much.

[2021-08-10 06:06] violetagg commented on #1765
@yikuo123 Thanks for testing it!

[2021-08-10 06:18] violetagg commented on #1766
@ctlove0523 I'm testing with `11.0.12`

[2021-08-10 06:34] violetagg commented on #1766
@tbartlomiejczyk @ctlove0523 this PR should fix the NPE #1769

[2021-08-10 07:01] #1766 closed

[2021-08-10 08:35] violetagg commented on #1762
@1ssqq1lxr I generated a new Spring Boot application (v2.5.3) via start.spring.io. The dependencies seem to be OK - Netty is 4.1.66.Final and Reactor Core is 3.4.8

![Screenshot 2021-08-10 at 11 26 52](https://user-images.githubusercontent.com/696661/128834564-fc148c0e-d99b-41fa-ae39-7fc9bf23767f.png)

Then I created a simple maven project with the pom.xml below and the dependencies seem OK again

[2021-08-10 09:30] abelyliu commented on #1302
I have the same problem，use below code can recurring problems
https://github.com/abelyliu/spring-gateway-demo
@violetagg
I tried the following two environments
Darwin 1s-iMac.local 20.5.0 Darwin Kernel Version 20.5.0: Sat May  8 05:10:33 PDT 2021; root:xnu-7195.121.3~9/RELEASE_X86_64 x86_64
Linux fedora 5.13.8-200.fc34.x86_64 #1 SMP Wed Aug 4 19:59:54 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

[2021-08-10 09:49] violetagg commented on #1302
@abelyliu Please create a new issue.

[2021-08-10 11:40] AmandeepSingh97 commented on #1759
Working case

- logs:
`2021-08-10 16:02:34,959 [main] DEBUG TcpResources - [http] resources will use the default LoopResources: DefaultLoopResources {prefix=reactor-http, daemon=true, selectCount=16, workerCount=16}
2021-08-10 16:02:34,961 [main] DEBUG TcpResources - [http] resources will use the default ConnectionProvider: reactor.netty.resources.DefaultPooledConnectionProvider@188598ad
2021-08-1

[2021-08-10 11:57] violetagg commented on #1759
@AmandeepSingh97 Ok. Netty does not remove the duplicated entries.

[2021-08-10 12:58] AmandeepSingh97 commented on #1759
Is this a fit for a bug? Or is there a major reason we do not remove duplicates?

[2021-08-10 15:16] abelyliu opened #1770 "Request body loss"
This is same to https://github.com/reactor/reactor-netty/issues/1302
## Expected Behavior

The body is sent downstream

## Actual Behavior

The body is omitted, exception is
`Resolved [org.springframework.http.converter.HttpMessageNotReadableException: I/O error while reading input message; nested exception is org.apache.catalina.connector.ClientAbortException: java.io.EOFException]`.
A pcap shows

[2021-08-10 17:04] violetagg commented on #1759
@AmandeepSingh97 We do not remove the duplicating entires because we don't know what was the intention of the system administrator that configured the `/etc/hosts` file. Whether this is a mistake or it is added intentionally.

[2021-08-10 18:46] violetagg commented on #1770
@abelyliu In your example the client is configured with **1 ms read timeout**, so it drops the connection almost immediately
https://github.com/abelyliu/spring-gateway-demo/blob/d6c20a3d618bd1e0f845b24fbe05752e11e29030/client/src/main/java/Main.java#L7

Isn't it expected that `Tomcat` complains with `ClientAbortException`? Basically you say that you will send some body and expect the server to rep

[2021-08-10 19:01] violetagg commented on #1764
@mkluzacek You have to configure proper timeout for the connections in the connection pool. Please take a look at this documentation https://projectreactor.io/docs/netty/release/reference/index.html#connection-pool-timeout

[2021-08-11 03:23] abelyliu commented on #1770
Thanks for your reply, I totally agree with you. I saw gateway data packet and rst packet in the same second in my production environment, so I created this demo, maybe it's just a bad Internet connection, I don't care about the reason, I wonder about the gateway's behavior, for backend, it doesn't know body loss by gateway or client. Should I create this issue in spring cloud gateway project？
Eng

[2021-08-11 06:14] violetagg commented on #1770
@abelyliu  You should try to obtain a tcp dump (Wireshark etc.), basically Tomcat throws `ClientAbortException` when the client drops the connection, whether this is Spring Cloud Gateway or the original client you will be able to see in the tcp dump.

[2021-08-11 08:07] abelyliu commented on #1770
I use Wireshark to analyse this, at  backend module AbstractMessageConverterMethodArgumentResolver.java:197,  evaluate and log `((ServletServerHttpRequest) inputMessage).getURI().getQuery()`, the `http://127.0.0.1:10000/test?i=263` is a exception request, I found the gateway drop the body. In my opinion, gateway needs to send a complete request or not send, now only send headers.

<img src="https:

[2021-08-11 08:33] violetagg commented on #1770
@abelyliu can you point in the RCF where it is either the whole request with body or nothing?
What will happen if the body is huge?

[2021-08-11 08:49] abelyliu commented on #1770
Yes, I wonder about the gateway's behavior, maybe I shouldn't be here create the issue, thanks.

[2021-08-11 08:49] #1770 closed

[2021-08-12 08:57] violetagg commented on #1477
I'm closing this issue as `cannot reproduce`

[2021-08-12 08:57] #1477 closed

[2021-08-12 10:05] violetagg commented on #1746
@Azbesciak It seems that Spring Boot 2.5 has a property `spring.netty.leak-detection=paranoid` https://github.com/spring-projects/spring-boot/issues/27104
This property overrides the setting `-Dio.netty.leakDetectionLevel=paranoid`, so you need to specify the property above.

[2021-08-12 10:55] OlegDokuka commented on #1746
Looking into the stack trace one more time and then spending some time looking at resilience4j operators impl, I suspect that the root cause is in the resilience4j and the fact that `RateLimitSubscriber` may drop buffer silently without calling the Reactor onDiscurd API completely -> https://github.com/resilience4j/resilience4j/blob/master/resilience4j-reactor/src/main/java/io/github/resilience4j/

[2021-08-12 10:59] Azbesciak commented on #1746
@OlegDokuka did you see https://github.com/reactor/reactor-netty/issues/1746#issuecomment-883873831?

[2021-08-12 11:00] OlegDokuka commented on #1746
@Azbesciak yeah, noticed that after, thus removed my comment then. My bad

[2021-08-12 11:02] Azbesciak commented on #1746
Ok, did not notice that you removed.
@violetagg I will check it in next 2 days, hope yesterday. Thanks.

[2021-08-12 11:02] OlegDokuka commented on #1746
@Azbesciak Let me write a test around the same set of operators as in your original issue, to see if a leak may happen on that level. I lean toward the probability that something is on the reactor-core side rather than on the reactor-netty one

[2021-08-12 13:22] violetagg commented on #1764
@mkluzacek You need to set `maxIdleTime` this is related to idle connections, the same that you have on the Tomcat (`keepAliveTimeout` - `The number of milliseconds this Connector will wait for another HTTP request before closing the connection. The default value is to use the value that has been set for the connectionTimeout attribute. Use a value of -1 to indicate no (i.e. infinite) timeout.`, w

[2021-08-12 13:37] mkluzacek commented on #1764
OK i see now. I ll try setting the `maxIdleTime`.
But should not the `maxLifeTime` work as well? It is bit unnecessary as it could close connection that is completely fine, but should solve this problem nonetheless, or am I missing something?

[2021-08-12 13:42] mkluzacek commented on #1764
Still got the error even with `maxIdleTime` set to 45 secs. Double checked that the configuration is set correctly using the `JAVA_OPTS` and it sets the value correctly.

[2021-08-12 14:50] AmandeepSingh97 commented on #1759
Thanks for confirming and your help on this issue @violetagg
We have changed our test assertions accordingly

[2021-08-12 15:21] #1759 closed

[2021-08-12 16:53] Azbesciak commented on #1746
Yes, it is stream+json

[2021-08-12 19:22] rstoyanchev commented on #1746
@Azbesciak I have a potential fix in the Spring Framework. If you're able to give 5.3.10-SNAPSHOT a try that would be great.

[2021-08-13 07:49] mkluzacek commented on #1764
Unfortunately I am not able to reproduce it with a simple example project. Must be some combination of dependencies and other factors that are causing it.
Still thanks for the help.

[2021-08-13 07:49] #1764 closed

[2021-08-13 08:03] violetagg commented on #1762
@1ssqq1lxr  I'm closing this, we can reopen it if it appears Reactor Netty issue.

[2021-08-13 08:03] #1762 closed

[2021-08-13 08:04] 1ssqq1lxr commented on #1762
ok

---Original---
From: "Violeta ***@***.***&gt;
Date: Fri, Aug 13, 2021 16:03 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [reactor/reactor-netty] Why is reactor netty 1.0.9 introduced and the reactor core version used is 3.1.16 instead of 3.4.8 in reactor netty core (#1762)

@1ssqq1lxr  I'm closing this, we can reopen it if it appears Reactor Netty issue.

—
You are rece

[2021-08-13 10:52] twz007 opened #1771 "WebClient blocked the main thread causing timeout"
## Expected Behavior

non blocking or tell me the reason of block
## Actual Behavior

hello,I'm new to reactor framwork. In the process of using reactor recently, I created an HttpServer and used WebClient to call a rest service when processing the request, but the request was blocked, and then I tried to make the method asynchronous, and the result worked.
## Steps to Reproduce

[code]
then i sen

[2021-08-13 14:31] arun-a-nayagam commented on #907
Hi,
We are facing the same issue. Is the solution to set reactor.netty.ioWorkerCount to a higher value like 128?
Also, how to set this value (reactor.netty.ioWorkerCount=128)?
We are using Java SpringBoot Webflux code using webclient.

[2021-08-14 13:10] Azbesciak commented on #1746
Unfortunately, it did not change a lot - only that I noticed that it is easier to invoke leak, but it is just personal observation.
I set `spring.netty.leak-detection: paranoid` and it worked, thanks @violetagg :)
Below logs with `paranoid` and my service dependencies

[leak_log.txt](https://github.com/reactor/reactor-netty/files/6986510/leak_log.txt)
[dependencies.txt](https://github.com/reactor/

[2021-08-14 16:11] violetagg commented on #907
@santitigaga @arun-a-nayagam  Please open a new issue with a reproducible example.

[2021-08-15 15:26] greg007r opened #1772 "Reactor Netty websocket channel closed prematurely"
I have a long running websocket client implemented in java Spring reactor with Netty (spring-boot-starter-parent 2.5.3) targeting Binance ws api. According to specs, the weboscket channel is kept open 24 hours.

The websocket is unexpectedly and prematurely closed after around 3 minutes :

[code]

I tried to reproduce the issue using another technology like javascript but everything runs fine. It

[2021-08-16 05:38] violetagg commented on #1772
@greg007r Instead of `wss://stream.binance.com:9443/ws` can you try with `wss://echo.websocket.org` or similar server that just echos the incoming data (e.g. https://github.com/reactor/reactor-netty/blob/7608571fb944a173481828b077d25776e08dd0eb/reactor-netty-examples/src/main/java/reactor/netty/examples/documentation/http/server/routing/Application.java#L34-L35)

[2021-08-16 09:26] violetagg commented on #1771
@twz007 Thanks for getting in touch, but it feels like this is a question that would be better suited to [Gitter](https://gitter.im/reactor/reactor-netty) or [Stack Overflow](https://stackoverflow.com/questions/tagged/reactor-netty). As mentioned in [README](https://github.com/reactor/reactor-netty/#getting-help), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update t

[2021-08-16 09:26] #1771 closed

[2021-08-16 09:44] violetagg commented on #1746
@Azbesciak This is the last component that accessed the buffer (see below). I cannot comment the code with package `uniopti.route.spring.response`, but `io.netty.buffer.ByteBufInputStream` this is not created with `releaseOnClose`, the code must ensure buffer release. Also I don't know whether you have some cleanup for these buffers when error/cancel happens. Such cleanups can be achieved with `do

[2021-08-16 11:28] Azbesciak commented on #1746
Thank you @violetagg and sorry - I had some plug-in I've forgotten about...
The problem was in it, in `DataBuffer.asInputStream()` without arguments - by default it does not release resources.

[2021-08-16 11:34] #1746 closed

[2021-08-16 11:38] violetagg commented on #1763
@jndietz Can you use `nslookup` and show us the results with/out VPN

[2021-08-16 11:52] #1669 closed

[2021-08-16 12:01] violetagg commented on #1584
@crankydillo I cannot reproduce this with the provided test case. I'm closing this issue, we can reopen it if you can provide some reproducible example.

[2021-08-16 14:18] OlegDokuka commented on #1772
@greg007r as of [Binance Websocket API docs](https://binance-docs.github.io/apidocs/spot/en/#websocket-market-streams) you have to send PONG message back on every incoming PING. If it is not done, Binance closes the connection prematurely.

Also, it feels like this is a question that would be better suited to [Gitter](https://gitter.im/reactor/reactor-netty) or [Stack Overflow](https://stackoverfl

[2021-08-16 16:19] greg007r commented on #1772
Thank you for your feedback, I already investigated the PING/PONG frames that should be managed transparently by the `ReactorNettyWebSocketClient having wsclient.setHandlePing(Boolean.FALSE) `configured.
So, as far as I know, I should not take care of this. I don't think this is the root cause. If I choose another service having less payload over time the connection is kept 10 min instead of 3 min

[2021-08-16 16:27] OlegDokuka commented on #1772
@greg007r I would suggest doing a TCP dump to see who is closing the connection.

Also, I will try to replace EmitterProcess with DirectProcessor just to ensure that the problem is not related to backpressure

[2021-08-16 16:35] jndietz commented on #1763
@violetagg

`nslookup` returns the following result:

[code]

[2021-08-16 18:03] greg007r commented on #1772
I replaced EmitterProcessor by DirectProcessor as explained and did a wireshark TCP dump.
![Screenshot from 2021-08-16 18-58-02](https://user-images.githubusercontent.com/5181148/129601453-9680dba4-49e5-4c5f-a61e-93774a7d7804.png)
I don't understand why I'm not facing the same issue using javascript WebSocket or plain java 14 java.net.http.WebSocket
Those two websocket client implementations runs

[2021-08-16 18:22] greg007r commented on #1772
Also, I adapted the way I initialize the ReactorNettyWebSocketClient using the new WebsocketSpec Builder
to be sure the ping handling properly initialized :

`	WebsocketSpec.Builder builder = WebsocketClientSpec.builder()
		.handlePing(false)
		.maxFramePayloadLength(Integer.MAX_VALUE);
ReactorNettyWebSocketClient wsclient = new ReactorNettyWebSocketClient(httpClient, builder);`

[2021-08-17 07:35] violetagg commented on #1763
@jndietz Please enable `io.netty=debug` logs and execute the code below and provide the logs. Also please specify you Java vendor.

[code]

[2021-08-17 08:35] violetagg commented on #1772
@greg007r Can you try the code below. I tried to do the example with Reactor Netty only.

[code]

[2021-08-17 09:29] RitikaDangal opened #1774 "Connection reset by peer exception"
We have a micro service based spring boot architecture where we are using spring webclient (which internally uses reactor netty) for internal communication between services.
The issue that we faced on production was, we were getting random "connection reset by peer" exception in our services. No logs for the same request could be found in the called service.
This is how we were initialising our we

[2021-08-17 09:38] violetagg commented on #1774
@RitikaDangal  Please capture the traffic with Wireshark and share it. Is it possible that some network component (e.g. firewall etc.) closes the connection because of inactivity? If you configure `maxIdleTime` for the connection pool, do you see the issue? (https://projectreactor.io/docs/netty/release/reference/index.html#connection-pool-timeout)

[2021-08-17 10:03] JamesChenX opened #1775 "Provide a util method to configure the prefix for metrics"
## Motivation

It's cumbersome to create a new class extending `MicrometerChannelMetricsRecorder` just for a custom prefix.

## Desired solution

[code]

## Considered alternatives

## Additional context

[2021-08-17 10:11] violetagg commented on #1775
@JamesChenX Would you like to provide a PR?

[2021-08-17 10:18] violetagg commented on #1757
@walfen @bclozel How should we proceed here? We need a complete minimal sample that reproduces the problem (with vanilla Reactor Netty if possible).

[2021-08-17 10:24] JamesChenX commented on #1775
@violetagg Sure.

[2021-08-17 11:25] greg007r commented on #1772
@violetagg I tested and got the channel closed after 2min

`11:44:05.296 [reactor-http-epoll-2] INFO TRACE - request(1)
11:44:06.217 [reactor-http-epoll-2] DEBUG reactor.netty.resources.PooledConnectionProvider - [id:17cab690-1, L:/192.168.1.5:50178 ! R:stream.binance.com/52.193.213.21:9443] Channel closed, now: 0 active connections, 0 inactive connections and 0 pending acquire requests.
11:44:06.

[2021-08-17 11:31] violetagg commented on #1772
@simonbasle Can you recommend the best way for avoiding EmitterProcessor here:

[code]

[2021-08-17 12:03] simonbasle commented on #1772
@violetagg @greg007r I don't understand the intent behind this `EmitterProcessor`, other than complicating the code...

@greg007r you have it subscribe to `monoExec`, then subscribe to the processor, THEN when said processor is subscribed to you subscribe to `monoExec` again in a `doOnSubscribe`?? This makes absolutely no sense to me, except for seeking complication for the sake of complexity...

[2021-08-17 12:29] greg007r commented on #1772
My bad ... you are right, so now the issue is reproducible with this simple code :

`public class SocketTest {
	public static void main(String[] args) throws InterruptedException {
		CountDownLatch latch = new CountDownLatch(1);
        new ReactorNettyWebSocketClient(HttpClient.create(),
        		WebsocketClientSpec.builder()
        		.handlePing(false)
        		.maxFramePayloadLength(Integer.

[2021-08-17 12:36] violetagg commented on #1772
@greg007r Can you also specify your Java version and vendor because somehow I cannot reproduce this ... neither on Mac OS nor on Ubuntu

[2021-08-17 12:42] greg007r commented on #1772
@violetagg Do you mean that the websocket keeps running after 10 min for you ?
This is my setup linux mint :
Linux  4.15.0-153-generic #160-Ubuntu x86_64 x86_64 x86_64 GNU/Linux
openjdk version "14" 2020-03-17
OpenJDK Runtime Environment AdoptOpenJDK (build 14+36)
OpenJDK 64-Bit Server VM AdoptOpenJDK (build 14+36, mixed mode, sharing)

[2021-08-17 13:03] greg007r commented on #1772
@violetagg I did recompile and execute on jdk11 ... issue still there

[2021-08-17 13:07] violetagg commented on #1772
@greg007r I need to find a way to reproduce this ....
Currently I cannot reproduce it on
Ubuntu: `Linux 5.8.0-55-generic #62~20.04.1-Ubuntu SMP Wed Jun 2 08:55:04 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux`
Java: `adopt-openjdk-14.0.2` and `adopt-openjdk-11.0.11`

[2021-08-17 14:01] crankydillo commented on #1584
Hi @violetagg .  This still fails with me.  I pushed my code to [this branch]().  Running this:

[code]

[code]

[code]

If time allows, I'll try to test this on a Linux box.

[2021-08-17 15:20] violetagg commented on #1584
@crankydillo reopening - I pushed to Github actions

with Zulu - it failes only on Mac and Windows with NIO
with Adopt - it fails for almost all OS/transport variations

#1777

[2021-08-17 16:16] greg007r commented on #1772
@violetagg Thank you so much for your support and indeed it seems to work for you
I switched to Ubuntu and java 11 to stick to your happy scenario but it is still not working for me :-(
Now having :
Linux greg-P7xxDM2-G 5.11.0-31-generic #33-Ubuntu SMP Wed Aug 11 13:19:04 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
openjdk version "11.0.11" 2021-04-20
OpenJDK Runtime Environment (build 11.0.11+9-Ubunt

[2021-08-17 16:38] RitikaDangal commented on #1774
@violetagg  I have tried capturing the traffic using Wireshark but did not see anything there. All was at network layer.
Will configure maxIdleTime and monitor for a day or two.
Thanks

[2021-08-18 06:45] greg007r commented on #1772
I finally managed to find the root cause.
After some investigation, I got the returned code 1006 meaning the connection was closed abnormally by the client as documented in the rfc  https://datatracker.ietf.org/doc/html/rfc6455#section-7.4.1
[code]
At that time, I switched from WIFI connection to LAN connection and the issue vanished immediately.
My WIFI router was not able to handle the huge payl

[2021-08-18 07:04] violetagg commented on #1772
@greg007r nice that you found the issue!

[2021-08-18 07:04] #1772 closed

[2021-08-18 19:17] davide1995 opened #1779 "java.lang.OutOfMemoryError: GC overhead limit exceeded using Spring WebClient with netty HttpClient and SslContext"
## Context
I am working on a project involving the real-time operation of an application. One of the many functionalities is to invoke an endpoint every x seconds and store the return value for a possible future control.

## Technical Context
The problem with the garbage collector occurs when I secure the HttpClient via an SslContext:
`httpClient.secure(t -> t.sslContext(sslContext))`
Now you may

[2021-08-19 07:25] violetagg commented on #1779
@davide1995 On every request you always create a new `WebClient`, which means that you do not reuse neither `SslContext` nor the connection pool nor any other resource that otherwise will be shared when one and the same instance for `WebClient` is used. This is similar to the report here #1054

[2021-08-19 10:36] violetagg commented on #1584
@crankydillo What you are observing is described here: https://docs.oracle.com/javase/8/docs/technotes/guides/net/articles/connection_release.html

In your PR #1586 you are suggesting to drain the incoming data.

According to the specification https://datatracker.ietf.org/doc/html/rfc7230#section-6.3, one can either read the entire request body and preserve the connection or just close the connect

[2021-08-19 12:04] davide1995 commented on #1779
@violetagg Hi. Thank you very much for your prompt reply. I will try to adapt my solution according to the issue you linked and comment this issue regarding the situation

[2021-08-20 15:52] jndietz commented on #1763
@violetagg

I modified it a bit to handle exceptions:

[code]
Attached is the log output.
[netty debug output.txt](https://github.com/reactor/reactor-netty/files/7022716/netty.debug.output.txt)

[2021-08-20 17:34] violetagg commented on #1763
@jndietz Please report this to Netty as the example above does use Netty only code.

[2021-08-20 17:34] #1763 closed

[2021-08-21 12:42] davide1995 commented on #1779
Well, I moved the creation of the `SslContext` out of the method and it works. I no longer have any memory leak problem.

Actual code:
[code]

What continues to irritate me is why even if I keep creating a new `WebClient` each time, it is not removed by Java's garbage collector. The fact is that you also do not provide a method such as `close()` available to call on the `WebClient`. I agree that t

[2021-08-21 13:11] violetagg commented on #1779
@davide1995 please create a feature request for `close`. I still think that you have to share the `WebClient`, but that's up to you.

[2021-08-21 13:11] #1779 closed

[2021-08-23 08:27] violetagg commented on #1774
@RitikaDangal Were you able to verify the `maxIdleTime` configuration?

[2021-08-23 08:28] violetagg commented on #1584
@crankydillo I'm closing this one, we can reopen it if it is needed.

[2021-08-23 08:28] #1584 closed

[2021-08-23 09:09] RitikaDangal commented on #1774
@violetagg Will get back to you with an update by the end of this week.

[2021-08-23 15:43] crankydillo commented on #1584
Hey Violeta.  I don't think we need a change here.  I believe we experienced this while performing some header-related performance testing.  However, I'm still think think clients should not get a premature close exception in this case.  It still seems like you could avoid reading the entire stream, send a 413, and close the connection.  However, I'm not crystal clear on the HTTP spec wrt sending

[2021-08-24 09:08] bclozel commented on #1757
@violetagg as @walfen underlined, reproducing the issue with the autodesk API seems like a lot of work and I can't spend that much time on this right now (not only we need to follow the tutorial, but also set up a complete environment to have a project resource available). I'm not sure if there would be a way to reproduce this particular problem in a much simpler fashion. What if wire logging is e

[2021-08-24 09:14] violetagg commented on #1757
This will show us what content is coming and not where the memory is.

@walfen @bclozel OK. I'm closing this one.

[2021-08-24 09:14] #1757 closed

[2021-08-25 12:02] violetagg commented on #359
@angry-cellophane These are some random ideas. Do you need something concrete?

[2021-08-27 13:03] siavashta opened #1789 "HTTP2: Use/Create new connections when maximum active streams is reached"
the netty reactor does not use/create a new connection when the max concurrent stream is reached.

gitter discussion: https://gitter.im/reactor/reactor-netty?at=6126f8df5cfd665e52edf858

Netty throws `Max active streams is reached.; nested exception is java.io.IOException: Error while acquiring from reactor.netty.internal.shaded.reactor.pool.SimpleDequePool@8ae0ed. Max active streams is reached.`

[2021-08-27 13:37] agaoglu opened #1790 "WeakHashMap access in PooledConnectionProvider.acquire should be synchronized"
## Expected Behavior

Normal cpu usage

## Actual Behavior

High cpu usage. Especially in threads named parallel-xx. A thread dump shows something like:

[code]

Looks like thread parallel-7 is blocked on the ConcurrentHashMap in PooledConnectionProvider, because the lambda in acquire uses a WeakHashMap which is notorious for endless loops as far as a google search shows.

## Steps to Reproduce

O

[2021-08-30 06:24] RitikaDangal commented on #1774
@violetagg We used the following connection provider and the issue is now resolved.

		ConnectionProvider provider = ConnectionProvider.builder("fixed")
				.maxConnections(500)
				.maxIdleTime(Duration.ofSeconds(20))
				.maxLifeTime(Duration.ofSeconds(60))
				.pendingAcquireTimeout(Duration.ofSeconds(60))
				.evictInBackground(Duration.ofSeconds(120)).build();

		this.webClient = WebClient.bu

[2021-08-30 06:24] #1774 closed

[2021-08-31 09:19] bromine0x23 opened #1791 "Want guidelines to implement an application layer protocol library"
I want to implement a reactor-netty based application layer protocol library that provides classes similar to `HttpServer` and `HttpClient`, but there are so many classes and methods involved that it's confusing me.

Are there any guidelines here for doing this job? Maybe a startup step, or some architecture notes.

Implementing the protocol handler is not difficult for me, the main question is ho

[2021-08-31 09:53] violetagg commented on #1791
@bromine0x23 Unfortunately for the time being we cannot provide you such guidelines.

Let's discuss this on [Gitter](https://gitter.im/reactor/reactor-netty).

[2021-08-31 09:56] violetagg commented on #1791
Closing this in favour of #916

[2021-08-31 09:56] #1791 closed

[2021-08-31 10:51] agaoglu commented on #1790
I tried the latest release (reactor-core 3.4.9, reactor-netty 1.0.10), and confirm it still has the same issue

[2021-08-31 14:07] stahmureszadeh-r7 commented on #1789
Copying the possible solution (Least stream used strategy) from @violetagg on gitter discussion

the first acquire will choose the connection with least number of streams, if all connections in the http2 pool are full then we will ask the http1 pool for a connection (regardless whether it is an idle connection or the pool will create a new one)

[2021-09-02 13:51] crankydillo commented on #1789
Hey Violeta,

I know you must like getting 'when will this be done' questions on an open source project, but.. Our current thinking is addressing this will be pretty critical to our needs.   We're still sorting that out, but we're also wondering where this lands in your work plans.  I know you have added it to the 1.0.x backlog.  Is that backlog sorted in the order you think they should be worked?

[2021-09-02 14:46] violetagg commented on #1789
yeah ... I'll try to 1.0.11 but cannot promise ... most probably 1.0.12

[2021-09-02 16:10] crankydillo commented on #1789
No promises required!   Just getting a sense of your plans/timelines:)

[2021-09-03 07:18] ctlove0523 opened #1792 "Change some log level to WARN"
initial issue from spring cloud gateway[issue 2356](https://github.com/spring-cloud/spring-cloud-gateway/issues/2356).

[2021-09-06 05:59] jinliang9780 commented on #1062
@kiwi-field 请问你解决了吗?我spring boot更新到2.3.12,spring cloud 2.2.9还是报Connection has been closed BEFORE response, while sending request body

[2021-09-06 11:03] altfatterz opened #1795 "reactor-netty-http dependency update io.netty 4.1.66.Final+"
JFrog XRay reported High Security vulnerability for using 4.1.65.Final for issue already fixed in 4.1.66.Final

https://github.com/netty/netty/pull/11429

Could you upgrade to at least to io.netty 4.1.66.Final ?

[2021-09-06 11:06] violetagg commented on #1795
@altfatterz Please check https://github.com/reactor/reactor-netty/releases, the latest 1.0.10 and 0.9.22.RELEASE depend on 4.1.66.Final

[2021-09-06 11:06] #1795 closed

[2021-09-07 08:32] violetagg commented on #1775
Closing this issue as the functionality can be implemented with the current API
`.metrics(boolean, () -> ChannelMetricsRecorder)`

[2021-09-07 08:32] #1775 closed

[2021-09-07 11:05] #1790 closed

[2021-09-07 17:07] #1792 closed

[2021-09-08 12:48] jdolan-chwy commented on #628
I'm seeing an eerily similar issue with Spring Boot 2.5.4 (latest), which uses Netty 4.1.67. I have integration tests that hit a MockServer running on localhost. No matter how I configure the WebClient connection pool, it's still possible to hit these deadlocks. Eventually, requests will just stop being sent. I'm guessing because of max connections per host or something? But the pending connection

[2021-09-08 13:05] violetagg commented on #628
@jdolan-chwy Please use [Gitter](https://gitter.im/reactor/reactor-netty) for questions. Also it will be very helpful if you provide a full example and not only some parts of the code.

[2021-09-09 16:12] #3 closed

[2021-09-09 16:12] #1351 closed

[2021-09-09 19:22] violetagg commented on #359
Let me close this one as there is no demand for this one. If there is a concrete requirement we can reopen it.

[2021-09-10 07:19] philip-jvm commented on #1789
We are also experiencing this.
As a workaround for thousands of concurrent streams we are using HTTP11 with a large ConnectionProvider#maxConnections
Thanks for all the work on this project!

[2021-09-10 11:42] crankydillo opened #1800 "HTTP client metrics - HTTP2 pool name should include underlying connection provider name"
We leverage almost all of your micrometer-collected metrics.  We name the connection providers and this gives us a nice view of what's going on for our various clients (since you set create tag name=connProviderName).  We're just starting with HTTP2 and would like to have a view of both the underlying pool (that we named) and HTTP2 pool that sits on top of it.  However, the HTTP2 connection provid

[2021-09-10 11:53] violetagg commented on #1800
@crankydillo Currently HTTP/2 pool does not expose any metrics. There is an enhancement for reporting active streams but it is still not implemented #1328. What kind of other metrics do you need from HTTP/2 that cannot be obtained from the HTTP/1.1 pool?

[2021-09-10 11:57] crankydillo commented on #1800
I just pretty much wrote the same thing for my team:)  The only value I can currently think of is that it helps to verify your implementation!  Anyhow, I'm personally fine with this being tied to #1328.  If someone on my team feels differently, we'll report back.

[2021-09-10 12:02] violetagg commented on #1800
Ok let me close this as duplicate, we can reopen it, if it is needed.

[2021-09-10 12:35] crankydillo commented on #1800
Hmm, I viewed #1328 as related, but orthogonal.  But I can drop a comment there that reflects the desire above.

[2021-09-10 12:37] crankydillo commented on #1328
When this work is done, please consider tagging the HTTP2 pools with names similar to how you do for a 'normal' connection pool (using the connection provider name).

[2021-09-12 15:03] xiguayizu commented on #1389
I also encountered this problem. How can I contact you?
I give you my test account and password.

javax.net.ssl.SSLException: failure when writing TLS control frames
	at io.netty.handler.ssl.SslHandler.setHandshakeFailureTransportFailure(SslHandler.java:1870) [netty-handler-4.1.55.Final.jar:4.1.55.Final]
	at io.netty.handler.ssl.SslHandler.access$600(SslHandler.java:167) [netty-handler-4.1.55.Fina

[2021-09-12 15:44] xiguayizu opened #1801 "https proxy error"
## Expected Behavior

It can use https proxy

## Actual Behavior

error:
io.netty.handler.proxy.HttpProxyHandler$HttpProxyConnectException: http, basic, /52.28.250.157:40100 => whatismyip.akamai.com:80, status: 407 Proxy Authentication Required

## Steps to Reproduce

[code]

## Possible Solution

[code]

## Your Environment

[code]

java version "1.8.0_231"
Java(TM) SE Runtime Environment (build

[2021-09-12 15:45] xiguayizu commented on #1801
io.netty.handler.proxy.HttpProxyHandler$HttpProxyConnectException: http, basic, /52.28.250.157:40100 => whatismyip.akamai.com:80, status: 407 Proxy Authentication Required
	at io.netty.handler.proxy.HttpProxyHandler.handleResponse(HttpProxyHandler.java:200)
	at io.netty.handler.proxy.ProxyHandler.channelRead(ProxyHandler.java:258)
	at io.netty.channel.AbstractChannelHandlerContext.invokeChannelRea

[2021-09-13 07:57] violetagg commented on #1801
@xiguayizu  Can you tell us the result from the command below (I added `--proxytunnel` to the curl command)

`curl http://whatismyip.akamai.com -m 10 --connect-timeout 10 --speed-limit 1 -x 52.28.250.157:40100 --proxy-user a547922:17e11114 --proxytunnel`

[2021-09-14 13:32] crankydillo opened #1808 "HTTP2 - Round-robining streams across a minimum setting of connections"
We leverage L4 load balancers for distributing load, resiliency needs, etc.  We are thinking 2 additions (likely opt-in) to the HTTP2 pool could help us in this regard:

1. The HTTP2 pool maintains a minimum number of connections before opening additional streams.
2. As it opens additional streams, it round-robins between the connections in the HTTP2 pool.  A fancier technique where it chooses the

[2021-09-14 19:06] agaoglu opened #1809 "PooledConnectionProvider leaks metrics"
## Expected Behavior

PooledConnectionProvider to pool metrics too

## Actual Behavior

Leaking metrics and memory leading to OOME after some time. I think it generates a new metric for each connection attempt and does not drop an older one.

## Steps to Reproduce

Not really sure but my application is trying to pull live data from a few dozen sources, retrying connections when necessary. And some

[2021-09-14 19:11] violetagg commented on #1809
@agaoglu Can you provide some reproducible example?

[2021-09-14 19:15] violetagg commented on #1808
@crankydillo Can you elaborate more on this `The HTTP2 pool maintains a minimum number of connections before opening additional streams.`

[2021-09-14 19:28] agaoglu commented on #1809
of course. i'll be out of town for a few days though. next week i hope.

[2021-09-15 13:23] xiguayizu commented on #1801
so sorry， the ip and password was changed.

address: 65.2.65.42
port: 40100
user: a547922
pass: c86856f8

shell return ip:
[code]

[2021-09-15 13:29] violetagg commented on #1801
@xiguayizu I didn't get it did you receive a response with `--proxytunnel`

[2021-09-15 13:31] xiguayizu commented on #1801
After I ran, he returned to this
[code]

[2021-09-15 14:08] xiguayizu commented on #1801
ok... sorry
shell
[code]

java
[code]

error
[code]

[2021-09-15 14:13] crankydillo commented on #1808
Currently, you only get a new connection from the underlying pool if requests are made in parallel in certain ways or if you have exhausted the max streams on a connection.  In the latter case, that can result in max streams requests all getting sent to one server that sits behind an L4 load balancer.  What we want is to specify at the client level that the some minimum number of connections shoul

[2021-09-15 14:14] crankydillo commented on #1808
If the above doesn't help, my precise definition of that prhase is:

Up to some number (the minimum) the client will open a new connection when creating a new stream as opposed to creating an additional stream on a connection that is already in the HTTP/2 pool.

[2021-09-15 14:59] xiguayizu commented on #1801
[code]
`shell is ok. `

`code socks5 proxy is ok `
`code https proxy is faild`
[code]

err:
[code]

[2021-09-18 19:46] agaoglu commented on #1809
pushed to https://github.com/agaoglu/reactor-netty-1809

While trying to simplify, I noticed that the problem is triggered by wiretapping the connection. No problems without it.

[2021-09-19 17:25] violetagg commented on #1809
@agaoglu You are creating the `TcpClient` every time. We try to share as much as possible resources but some of them we cannot share (for example the non default `wiretap`, `doOnDisconnected` callback etc. - most probably you do not want to create these objects every time), this will lead to your observation that every `TcpClient` has it own connection pool. When a connection pool is created, not

[2021-09-19 21:11] agaoglu commented on #1809
Thanks for the heads up, we'll reuse the configuration wherever we can. Still, is there a way to destroy a tcpclient and release its resources?

Also a bit unrelated but the id label for these metrics looks a bit arbitrary. Is there a way to read it or correlate it to something else?

[2021-09-20 15:26] dnagarajan89 opened #1813 "HTTP/2 call throws IllegalArgumentException with reactor-netty client v1.0.11"
The reactor-netty client v1.0.11(coupled with netty v4.1.68.Final) throws the following error upon making more than one request with the same client.

`Caused by: java.lang.IllegalArgumentException: Too many permits returned: returned=1, would bring to 501/500
	at reactor.netty.internal.shaded.reactor.pool.AllocationStrategies$SizeBasedAllocationStrategy.returnPermits(AllocationStrategies.java:142

[2021-09-20 16:17] v-saurabhsingh commented on #764
reactor.core.Exceptions$ErrorCallbackNotImplemented: java.io.IOException: An existing connection was forcibly closed by the remote host
Caused by: java.io.IOException: An existing connection was forcibly closed by the remote host
	at java.base/sun.nio.ch.SocketDispatcher.read0(Native Method) ~[na:na]
	at java.base/sun.nio.ch.SocketDispatcher.read(SocketDispatcher.java:43) ~[na:na]
	at java.base/su

[2021-09-20 16:19] v-saurabhsingh commented on #764
I am getting this if I shut down connected client

*********************************** Server Implementation ***************************************

TcpServer tcpServer = TcpServer.create()
				.doOnBind(tcpServerConfig-> log.info("doOnBind {}",tcpServerConfig))
				.doOnBound(disposableServer-> log.info("doOnBound {}",disposableServer))
				.doOnUnbound(disposableServer-> log.info("doOnUnbound {

[2021-09-20 16:47] v-saurabhsingh opened #1814 "Reactor Netty TCP server Exception if client shut down Interruptedly"
## Expected Behavior
 How can I handle this exception

## Actual Behavior
This exception occurs when client shut down

[code]

## Server Implementation

[code]

## TCP Client Implementation

[code]

* Reactor version(s) used: bom 2020.0.11
* JVM version (`java -version`): 11
@rmorgan @violetagg

[2021-09-20 17:06] violetagg commented on #1814
@v-saurabhsingh When the client closes the connection, the server can just clean up the resources utilised for that connection. What do you mean with `How can I handle this exception`. From the provided logs it seems that the event connection closed is sent and you can cleanup all resources that needs to be cleanup `org.reactor.tcp.Server                   : in doOnError: An existing connection wa

[2021-09-21 04:34] v-saurabhsingh commented on #1814
```org.reactor.tcp.Server : in doOnError: An existing connection was forcibly closed by the ...```
[code]
 I already provided doOnError callback then why I am getting this exception
 I have handled all callbacks so I am not able to get in which event I am getting this exception. How can I avoid this exception.
I can not rely on client. Client is not in my hand that is remote TCP client. It can be

[2021-09-21 06:23] violetagg commented on #1814
@v-saurabhsingh Is your concerns that this log appears in the logs? `2021-09-20 21:44:17.521 ERROR 6368 --- [actor-tcp-nio-2] reactor.core.publisher.Operators reactor.core.Exceptions$ErrorCallbackNotImplemented: java.io.IOException: An existing connection`

[2021-09-21 06:25] v-saurabhsingh commented on #1814
yes That is concern and Also want to know event on that it  occurs

[2021-09-21 06:27] v-saurabhsingh commented on #1814
1:44:17.521 ERROR 6368 --- [actor-tcp-nio-2] reactor.core.publisher.Operators         : Operator called default onErrorDropped

[2021-09-21 07:49] simonbasle commented on #1814
`doOnError` have their use (ie. they can observe errors in intermediate steps, that are later recovered from with an `onErrorResume`) but the `ErrorCallbackNotImplemented` "warning" isn't concerned with upstream doOnError. It points to a bad practice in the final `subscribe`.

In 3.3.x, it used to throw the exception and now it is just passed to the `onErrorDropped` hook, which logs by default. So

[2021-09-21 07:55] #1814 closed

[2021-09-21 10:15] violetagg commented on #1809
@agaoglu I added PR #1816 that will take into consideration the wiretap configuration.

When you connect to the remote peer you receive a `Connection`. In order to destroy this connection you have `Connection#dispose...` methods.

For the connection pool, as you use the global connection provider, I would recommend to utilise the functionality for eviction of idle connections and/or disposal of in

[2021-09-21 10:52] #1809 closed

[2021-09-21 13:51] AmandeepSingh97 opened #1818 "HTTP/2 maxLifeTime of the connection"
While testing with maxLifeTime settings restrictions in the connection provider, it is observed that HTTP2 connections are not recycled when the connection is actively used for serving requests.

## Expected Behavior

HTTP/2 connection should not accept new streams after the maxLifeTime has been reached.

## Actual Behavior

HTTP/2 connection is actively used if there are incoming streams and maxL

[2021-09-23 23:58] KimJejun opened #1822 "Turn off netty client DNS connect retry."
Turn off netty client DNS connect retry.

[StackOverflow](https://stackoverflow.com/questions/69218709/how-can-i-turn-off-netty-client-dns-connect-retry?noredirect=1#comment122351702_69218709)

## Motivation

I'm using Netty-httpClient for Spring webClient.

When I connect  `www.naver.com` and set the host like this.

[code]
And run httpClient.get() result like this.

[code]

see that. I don't wan

[2021-09-25 14:40] ssalamov opened #1825 "Memory leak when Circuit Breaker is being opened in reactive WebClient"
Dear friends, could you please help me with this issue - for any suggestion I'd be grateful.

Currently we are experiencing memory leak in our system. As you see from screenshots within ~45 minutes performance tests run almost in each instance memory (committed heap, used heaps) heats max. We simulated Circuit Breaker (later CB) to be opened with one of the downstream API. Here are the code bases

[2021-09-25 15:10] violetagg commented on #1825
@ssalamov

I cannot comment about this integration, please reach its community.

[2021-09-28 11:25] AlexieKA opened #1828 "SLEngine closed already"
Our application is sending a large number of messages in parallel over HTTPS. Below is the HTTP client creation code (kotlin):

[code]

Source code for sending:

[code]

We faced with a floating-issue that mainly occurs with high load:

[code]

Extended logs for the problem channel below (real IP and URL are replaced):

[code]

In my opinion, the following situation occurs:

- Our application init

[2021-09-29 04:51] violetagg commented on #1825
@ssalamov Based on your findings in https://github.com/resilience4j/resilience4j/issues/1546 I'm gonna close this issue. If it appears to be an issue in Reactor Netty, we can reopen it.

[2021-09-29 04:51] #1825 closed

[2021-09-29 10:44] Lu95 opened #1829 "Multipart/form-data post response is cut off after 2048 bytes"
When making a post request to an endpoint and receiving a response as multipart/form-data, the response gets cut off after 2048 bytes. The AdaptiveRecvByteBufAllocator seems to be always returning a buffer with 'initialSize' bytes.

## Expected Behavior
The whole response is read.

## Actual Behavior
The response is cut-off after 2048 bytes.

## Steps to Reproduce
https://github.com/Lu95/reactor_b

[2021-09-29 11:12] violetagg commented on #1829
@Lu95 The example is not correct

Instead of

https://github.com/Lu95/reactor_bug/blob/eb0a54548a785ba7219a92513da980548fa73f83/src/main/java/com/example/reactor_bug/Client.java#L60
[code]

Do the following

[code]

[2021-09-29 11:12] #1829 closed

[2021-09-29 15:14] #1822 closed

[2021-09-30 15:48] violetagg commented on #1828
@AlexieKA Is the connection closed at some point or it stays always opened?

[2021-09-30 19:30] Tkhengare commented on #1318
I have writing a SpringBoot (WebClient) which is talking to another external application by making http calls.
Exception :
[...] The connection observed an error

io.netty.handler.timeout.ReadTimeoutException: null
 I have set System.setproperty("reactor.netty.pool.maxIdelTime", "5000" But didn't resolve the issue.

[2021-09-30 19:46] nitinb-kr commented on #1375
@ctlove0523 Hello , I am having similar issue when I connect from my laptop the api is working fine(calling from spring cloud gateway) but on using the Virtual desktop system given by the client it gives a timeout issue
![intellijconsole](https://user-images.githubusercontent.com/83672553/135520505-1c36157d-b0c7-49b4-b02a-3c5aef3d5e84.png)
![postmanop](https://user-images.githubusercontent.com/836

[2021-09-30 20:05] crankydillo commented on #1808
@violetagg There is another aspect of this that we need to get clarity on.  We are hoping that new connections will be gated by this minimum pool size until max streams is reached.

For example, if we have:

[code]

We will get ~100 socket connections created because of the concurrency level in flatMap.  However, we'd like to guarantee that socket connections will remain below the min-pool size fe

[2021-10-01 08:41] AlexieKA commented on #1828
The connection is closed and the errors end.

[2021-10-04 13:32] Albertoimpl opened #1837 "Support for trailing headers"
As of today, there is no way to pass through trailing headers into any response, because of that `Http2StreamFrameToHttpObjectCodec` will not be able, when encoding the last content, to send the End of stream.

This is a problem when using `gRPC` since the protocol relies on trailing headers.

## Considered alternatives
Not really an alternative but, adding a new `DefaultHttp2HeadersFrame` when `m

[2021-10-05 11:42] gmc-hue commented on #898
I have the same issue, active connections are not closed. Making the above changes didnt resolve the issue

[2021-10-05 11:52] violetagg commented on #898
@gmc-hue Please create an issue with a reproducible example.

[2021-10-05 13:04] gmc-hue opened #1840 "Active connections not released from tcpclient connection pool"
Bean Config:
  @Bean
    public ConnectionProvider provider() {
        return ConnectionProvider.builder(FIXED_POOL)
                .maxConnections(100)
                .maxIdleTime(Duration.ofMillis(6000))
                .maxLifeTime(Duration.ofMillis(10000))
                .pendingAcquireTimeout(Duration.ofMillis(10000))
                .evictInBackground(Duration.ofMillis(20000))

[2021-10-05 13:11] gmc-hue commented on #898
@violetagg , created new issue https://github.com/reactor/reactor-netty/issues/1840.

[2021-10-05 19:00] violetagg commented on #1840
@gmc-hue You never send/receive anything, you just connect and specify that the connection is not persistent. You need to invoke `connection.dispose` - see here there is an example (the second one) https://projectreactor.io/docs/netty/release/reference/index.html#_writing_data_2

Also please check this discussion with is relevant for TCP (this is not the case for HTTP):
https://github.com/reactor/

[2021-10-06 11:11] violetagg commented on #1840
What do you mean? What to be handled?

This connection will be closed and removed from the pool so in the pool there will be a slot for a new connection

[2021-10-06 16:37] #1837 closed

[2021-10-07 05:25] shirapur-sid opened #1843 "TCP connection retry option is not available,only way to reset the connection is using doOnDisconnected"
My application is sending data to NLB(AWS network load balancer) , for NLB once the client creates the connection the connection is set to one specific target and it will stay connected for whole life cycle, in case if the target dies the client keeps sending data to target. Target returns RST to client and then client retries the connection.
When the target  sednds RST to client , client (doOnDis

[2021-10-07 11:10] violetagg opened #1844 "Ensure #1807 and #1799 are covered with the new Http 2 connection pool"
This is related to #1813

[2021-10-08 08:42] sodaRyCN opened #1846 "what's recommand configuration about connection pool"
ConnectionProvider have some configuration. but no docs  explain recommand configuration.

maxConnections have to be cpu core multiple? or set 100/1000 by empirical estimation?

what's the relationship  between maxIdleTime and maxLifeTime. e.x: one connection inactive time over maxIdleTime  and  total time less than maxLifeTime, the connection will close ?  what's about less than maxIdleTime  and

[2021-10-08 08:49] violetagg commented on #1846
@sodaRyCN Thanks for getting in touch, but it feels like this is a question that would be better suited to [Gitter](https://gitter.im/reactor/reactor-netty) (real time discussions) or [Stack Overflow](https://stackoverflow.com/questions/tagged/reactor-netty). As mentioned in [README](https://github.com/reactor/reactor-netty/#getting-help), we prefer to use GitHub issues only for bugs and enhanceme

[2021-10-08 08:49] #1846 closed

[2021-10-08 08:59] #1463 closed

[2021-10-08 14:18] simondaudin opened #1847 "HttpClient metrics are bound to micrometer via PooledByteBufAllocator"
Hello :hand:
I want to use reactor-netty given metrics and integrate them within our metrics system, without using micrometer. We chose ot to have micrometer in our depencies.

## Expected Behavior
I should be able to use reactor-netty metrics without depending on micrometer.

## Actual Behavior
The initialization failed in `ByteBufAllocatorMetrics.registerMetrics` (or UnpooledByteBufAllocator) du

[2021-10-09 10:06] #1847 closed, assigned to nobody

[2021-10-10 23:47] 1ssqq1lxr opened #1849 "RST Problem solving"
Hello, I use the server developed by reactor netty. During pressure measurement, when a large number of connections are connected in an instant, the server returns RST errors to a small number of clients, and the server has no exception log. How should I deal with this situation?

Connection reset by peer: /127.0.0.1:1884

Using native netty does not have this problem

[2021-10-11 22:09] patpatpat123 opened #1851 "[Enhancement request] Support JSON structured logging with AdvancedByteBufFormat"
Hello Reactor Netty Team,

I would like to just start an enhancement request, hopefully this is not a trouble and you can find the time to consider this in an upcoming release.

Currently, the class ```AdvancedByteBufFormat``` support those format:

[code]

Those format are already great, thanks for the work.
May I ask if it is also possible to **enable structured JSON** please?

When using log ag

[2021-10-13 14:08] HaloFour opened #1854 "ContextView in default implementations before ContextAwareHttpServerMetricsRecorder"
I am attempting to make use of the new APIs `ContextAwareHttpServerMetricsRecorder` to capture and record HTTP server metrics.  I am finding that the `ContextView` being passed to any of the methods is always empty.  This seems to be the result of the default implementation of `ConnectionObserver#currentContext` returning `Context.empty()` and some of the delegating implementations aren't implemen

[2021-10-14 05:42] nullptr6 commented on #1054
@violetagg
Could you please elaborate more why the httpClient is not released after request is completed? I have to build a new HttpClient every time, because the ssl certificate may be refreshed any time, so I have to build a sslcontext and httpClient each time. What's the best way to shut down this client? Thanks

[2021-10-15 18:12] vetler opened #1857 "Connection prematurely closed BEFORE response when using HttpClient with Wiremock proxy"
## Expected Behavior
Issuing a GET request using HttpClient against an endpoint provided by WireMock should complete successfully.

## Actual Behavior
[code]

## Steps to Reproduce

Here's a test to reproduce it:
https://github.com/vetler/reactor-netty-httpclient-bug-1/blob/main/src/test/java/TestIt.java

## Possible Solution

## Your Environment
See repository linked above.

* Reactor version(s)

[2021-10-16 00:59] ctlove0523 commented on #1851
@patpatpat123
In current framework,i think this need [Netty](https://github.com/netty/netty) first support.

[2021-10-16 03:12] ctlove0523 commented on #1851
@patpatpat123 yes

[2021-10-16 03:50] patpatpat123 commented on #1851
Understood, let me see the about the forward from Simon as well, to see if there are any update on that front

[2021-10-16 06:30] linux-china opened #1858 "QuicOperations should extend ChannelOperations<UdpInbound, UdpOutbound>"
Now the QuicOperations is different with UdpOperations, HttpOperations,  and not `extends ChannelOperations<UdpInbound, UdpOutbound>` .

To implement the QUIC transport for RSocket with following code:

[code]

receive() in QuicDuplexConnection as following:

[code]

`QuicOperations.inbound() ` can not receive any ByteBuf because it use reactor.netty.Connection default method as following:

[code]

[2021-10-16 21:08] linux-china commented on #1858
@violetagg  Got, and I will take a look.   rsocket-transport-quic is here  https://github.com/linux-china/rsocket-transport-quic/blob/master/src/main/java/io/rsocket/transport/quic/server/QuicServerTransport.java   Still not lucky to make it work on server side.  Maybe I did some stupid things :).

![Snip20211016_31](https://user-images.githubusercontent.com/46711/137602104-5650b2f3-6380-44e2-9eb7

[2021-10-18 08:56] #1857 closed, assigned to violetagg

[2021-10-18 10:57] vetler commented on #1857
Thank you @violetagg!

[2021-10-18 13:22] #1843 closed, assigned to nobody

[2021-10-19 03:56] ctlove0523 commented on #1851
I think @patpatpat123 want reactor netty directly output json format log

[2021-10-19 06:18] avijha19 opened #1859 "Log Remote IP address in the access log for spring cloud gateway"
If a server is running behind a load balancer, the remote client IP address is not logged in access log. I'd like to have an option to log the IP address stored in X-Forwarded-For header if it exists, otherwise the client IP address.

Duplicate
https://github.com/reactor/reactor-netty/issues/476

I would like to print X-Forwarded-For header in spring cloud gateway.

[2021-10-19 13:15] Pieter-Beckers opened #1861 "Proxy settings via system properties not working with nonProxyHosts and wildcard"
## Expected Behavior
Usage of below example should work.

## Actual Behavior

It gives the following exception `java.util.regex.PatternSyntaxException: Dangling meta character '*' near index 0
*.local.com|10.*`

## Steps to Reproduce

If we setup a WebClient with ReactorClientHttpConnector and httpClient with proxyWithSystemProperties, an exception is thrown if the nonProxyHosts has a wildcard.

[

[2021-10-20 03:38] patpatpat123 commented on #1851
Thank you all for your time and consideration

[2021-10-22 11:49] jan-schumacher opened #1863 "Spring Stomp Websocket over RabbitMQ LEAK: ByteBuf.release() was not called before it's garbage-collected"
I recently got this Exception while using ReactorNettyTcpClient with RabbitMQ as Stomp Broker Relay.
[code]

Since i have no clue of whats going on behind the scene in spring, I hope you guys can help a bit.

This is my configuration:

[code]

## Your Environment

* Reactor version(s) used: 1.0.11
* Other relevant libraries versions (eg. `netty`, ...):
org.springframework.boot:spring-boot-autoconf

[2021-10-26 21:05] philsttr opened #1865 "Limit lifetime of HTTP server persistent connections"
## Motivation

I would like the reactor-netty HTTP server to be able to limit the lifetime of persistent non-websocket connections. (aka keep-alive connections)

Limiting the lifetime of persistent connections on the server side can force clients to reconnect periodically.  This will help distribute persistent connections evenly among server instances after rolling or A/B deploys.   Without this f

[2021-10-29 09:18] #1865 closed, assigned to violetagg

[2021-10-29 13:10] IreneGhafari-TomTom opened #1868 "Connection prematurely closed DURING response"
Hi,

I am using Spring WebClient to get an xml. I then stream the output to JAXB.
If the xml is huge, I will get this error :
`reactor.netty.http.client.PrematureCloseException: Connection prematurely closed DURING response`
This is my webclient instantiation:
[code]
For trying to solve this issue, I tried to set `keepalive` configuration to the `TcpClient` by adding:
[code]

But I didn't have any

[2021-10-29 18:07] irene-gh-tomtom commented on #1868
yes you are right. I knew the Reactor Netty version is old, but its the one that Spring boot is using. We only have spring boot dependencies in our pom.
[code]
would it be enough if I only add the latest version of Netty to my pom. would it replace the one Spring is using by default?
[code]

[2021-10-29 18:50] violetagg commented on #1868
@irene-gh-tomtom But if you use Spring Boot 2.5.4 then the mentioned `wiretap` functionality should exist. https://github.com/spring-projects/spring-boot/releases/tag/v2.5.4

[2021-10-29 18:58] irene-gh-tomtom commented on #1868
yes you are right, I saw in the link you sent. But when I hover over the imported `HttpClient` in the code, I see this in the dialog opened:   `Maven: io.projectreactor.netty:reactor-netty:0.9.0.RELEASE` . That's strange. I don't know how is it overriden

[2021-10-30 03:32] sweetcczhang opened #1869 "reactor-netty http server out of directMemoryError"
hello, I use reactor-netty as a http  server ,but there may be some problems ,it is frequently  out of direct memory,
the code :

[code]

error:

[code]

reactor-netty version:1.0.5
openJdk:1.8
runtime environment : docker

Is it my mistake?

[2021-10-31 13:46] rajatbehl opened #1870 "Connection is getting Closed while forwarding request from Spring Cloud APIGateway to backend services."
Getting issue with Spring Cloud APIGateway while forwarding request to backend services.

Spring Gateway version: 3.0.3 Spring Boot version: 2.5.3 Reactor core versoin: 3.4.8 Reactor netty core: 1.0.9
The connection observed an error reactor.netty.channel.AbortedException: Connection has been closed. Here we are forwarding request for url "/v1/kyc/upload" from Spring Cloud API Gateway micro servic

[2021-10-31 15:19] violetagg commented on #1870
@rajatbehl `AbortedException: Connection has been closed` Typically is cause by a client closing a connection. If that's not the case please provide reproducible example and/or tcp dump so that we can track which peer closes the connection.

[2021-10-31 20:56] irene-gh-tomtom commented on #1868
@violetagg Hi again :) I upgraded to Spring boot 2.5.6 now properly. and I set the `wiretap` like you mentioned. I get these logs now. What I realized is that, it closes the channel after almost 2 minutes 15 seconds, everytime.

[code]
Thank you  :)

[2021-11-01 07:22] irene-gh-tomtom commented on #1868
I forgot to say, now I have tried to set every timeout, but I still get the error. my WebClient is like this:

[code]

[2021-11-01 07:32] violetagg commented on #1849
@@1ssqq1lxr I'm closing this one, if you are able to provide the requested information we can reopen it.

[2021-11-01 07:32] #1849 closed

[2021-11-01 07:37] 1ssqq1lxr commented on #1849
ok， thanks

---Original---
From: "Violeta ***@***.***&gt;
Date: Mon, Nov 1, 2021 15:32 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [reactor/reactor-netty] RST Problem solving (#1849)

@@1ssqq1lxr I'm closing this one, if you are able to provide the requested information we can reopen it.

—
You are receiving this because you were mentioned.
Reply to this email directly, vi

[2021-11-01 07:44] violetagg commented on #1868
@irene-gh-tomtom Do you have any proxy/load balancer between the client and the server. It will help a lot if you are able to capture the traffic with Wireshark and share it thus we will be able which peer closes the connection.

[2021-11-01 07:49] irene-gh-tomtom commented on #1868
I am not sure where is this destination API hosted. but I get this error both from localhost, and when I run it on cloud.
I will install Wireshark and try to come back with logs.
Is it possible that the serving endpoint is closing the channel?

[2021-11-01 09:14] violetagg commented on #1868
@irene-gh-tomtom

From the code that you shared in the comments above nothing implies that the client closes the connection.

[2021-11-01 09:19] irene-gh-tomtom commented on #1868
@violetagg I installed the `Wireshark`, and logged the traffic. when I save it, i can not open. it says I don't have enough permission. I even have to run the `Wireshark` with `sudo`. Would you know how can i open the file? I am on Ubuntu

But while running `Wireshark`, I remember what you said and just realized I am on vpn. So I turned off the vpn and it went fine locally.

Now I am trying to see

[2021-11-01 09:44] violetagg commented on #641
@sonik-24 Any reproducible example? If yes can you open a new issue?

[2021-11-01 09:45] violetagg commented on #641
Closing this issue as there is no enough information in order to proceed with the investigation

[2021-11-01 09:45] #641 closed

[2021-11-01 09:48] violetagg commented on #907
Closing this issue as there is no enough information in order to proceed with the investigation

[2021-11-01 09:48] #907 closed

[2021-11-01 09:49] violetagg commented on #1099
Closing this issue as there is no enough information in order to proceed with the investigation

[2021-11-01 09:49] #1099 closed

[2021-11-01 09:58] violetagg commented on #1869
@sweetcczhang Are you able to provide some reproducible example. From the code above I can see only some HttpServer configurations but it is not obvious what happens with the request data.

[2021-11-04 13:25] IreneGhafari-TomTom commented on #1868
Thanks a lot @violetagg for all the help. It was a proxy issue. I got to also fix the maven issue I had :)  May I close this?

[2021-11-04 13:25] #1868 closed

[2021-11-05 02:02] epicoxymoron opened #1872 "Implement additional metrics from reactor-pool"
[reactor-pool supports](https://github.com/reactor/reactor-pool/blob/main/src/main/java/reactor/pool/InstrumentedPool.java) metrics beyond those which reactor-netty understands: `#getMaxAllocatedSize()` and `#getMaxPendingAcquireSize()`.  It would be great if these could be made available to [reactor-netty's ConnectionPoolMetrics](https://github.com/reactor/reactor-netty/blob/main/reactor-netty-co

[2021-11-05 07:49] violetagg commented on #1872
@epicoxymoron Do you configure the `ConnectionProvider` by yourself? Basically `#getMaxAllocatedSize()` is `maxConnections` configuration https://github.com/reactor/reactor-pool/blob/1fc4387fa7863c65b53b9bebc19a8f306465dd47/src/main/java/reactor/pool/AbstractPool.java#L99.
`#getMaxPendingAcquireSize()` is `pendingAcquireMaxCount` configuration https://github.com/reactor/reactor-pool/blob/1fc4387fa

[2021-11-05 12:59] rajatbehl commented on #1870
@violetagg
Please follow the link to have tcpdump taken at both api-gateway and second microservice on 30th oct for the issue mentioned above at "2021-10-30 12:33:09"

I am not able to upload zip file directly, please use this link https://we.tl/t-BFiodxJPs3 to download tcpdump

[2021-11-05 13:39] violetagg commented on #1870
@rajatbehl Try to extract only the relevant part from the tcp dump i.e. for the concrete destination/source address and where you have RST/FIN

[2021-11-05 15:07] epicoxymoron commented on #1872
Yes, I do.  I understand where the values are coming from.

My problem is that I want to monitor saturation as a percentage of `(establishedConnections / maxAllowedConnections)` to get a sense of if I'm nearing any pool limits.  I can currently monitor `pendingAcquireSize` to see if my pool is _fully_ saturated, but I would only notice that once it's too late; I'd like the early warning that we're

[2021-11-05 15:12] epicoxymoron commented on #1872
I'll add one more bit: the tags for the `maxAllowedConnections` gauge should match those of the other gauges.  Reproducing those values from application code feels a little daunting, whereas you have ready access to those already.

[2021-11-05 15:34] violetagg commented on #1872
@epicoxymoron Ok I understand, adding this to `1.0.x` backlog and marking it as `help wanted`.

[2021-11-05 15:36] violetagg opened #1873 "Upgrade to Netty 5"

[2021-11-08 03:21] rajatbehl commented on #1870
@violetagg I have updated the tcp dump with relevant part. API Gateway is running on host "10.0.25.39" and kyc service is running on host 172.20.0.13, you can use below filters to debug this issue
Use "ip.dst == 172.20.0.13" as filter in api-gateway.pcap and "ip.src == 10.0.25.39" as filter in kyc.pcap
[tcpdump.zip](https://github.com/reactor/reactor-netty/files/7494046/tcpdump.zip)

[2021-11-08 08:48] violetagg commented on #1869
@sweetcczhang Were you able to test with the extended logging from my previous comment.

I've edited your comment to improve the formatting.

[2021-11-08 08:54] violetagg commented on #1863
@jan-schumacher Were you able to test with the extended logging from my previous comment?

[2021-11-08 09:32] violetagg commented on #1870
@rajatbehl there are many requests can you be more specific which one is the problematic one?

[2021-11-08 12:22] rajatbehl commented on #1870
@violetagg Can you please check for request for which SYN is sent to host "172.20.0.13" at "12:31:10", we got reactor.netty.channel.AbortedException: Connection has been closed exception for this request at "12:33:09" at both api gateway and kyc service.

[2021-11-08 13:34] FARHANE commented on #796
I have the same issue with netty 4.1.69 and reactore 1.0.12

[2021-11-08 13:46] violetagg commented on #796
@FARHANE This issue has been closed already. Please create a new issue with a reproducible example and there we will investigate your particular use case.

[2021-11-08 14:57] julianfruth opened #1874 "Memory Leak in reactor-netty when using Spring WebClient with Spring Cloud Stream"
When I used the Spring WebClient with the rector-netty HttpClient in a Spring Cloud Steam environment, the HttpClient produces memory leaks (LEAK: ByteBuf.release() was not called before it's garbage-collected). I replaced the reactor-netty HttpClient with the Apache CloseableHttpAsyncClient and the problem disappeared.

## Expected Behavior
There shouldn't be memory leaks when uploading files to

[2021-11-08 15:22] violetagg commented on #1874
@julianfruth We need from you to reproduce with

- `_reactor.netty.channel.LeakDetection` to `DEBUG` (e.g. `application.properties` -> `logging.level._reactor.netty.channel.LeakDetection=DEBUG`)
- and JVM property `-Dio.netty.leakDetectionLevel=paranoid` (if the property does not give any results, try with `application.properties` -> `spring.netty.leak-detection=paranoid`)

[2021-11-08 15:43] julianfruth commented on #1874
This are the Logs with the options set:

[code]

[2021-11-08 16:09] violetagg commented on #1874
The problematic code is

[code]

Can you elaborate more on the code `de.datev.dss.smexecutor.configuration.MdcContextLifter` and how it handles the composite byte buffer (when does the code release the buffer)?

[2021-11-08 16:15] julianfruth commented on #1874
I removed the MdcContextLifter the problem is still there - here are the logs without the MdcContextLifter:

2021-11-08 17:11:21,501 ERROR io.netty.util.ResourceLeakDetector, request_id="", thread_id="reactor-http-nio-3", message="LEAK: ByteBuf.release() was not called before it's garbage-collected. See https://netty.io/wiki/reference-counted-objects.html for more information.
Recent access record

[2021-11-08 16:18] violetagg commented on #1874
Right! When `d` is released?

[code]

[2021-11-08 16:21] violetagg opened #1875 "Move to Gradle 7, remove the optional dependencies from the generated pom"

[2021-11-08 16:42] julianfruth commented on #1874
In the minimal example to reproduce the problem d is never realeased at. The production code looks a bit differnt d is there uploaded to another service.

The real code does something like this:
[code]

[2021-11-08 16:58] violetagg commented on #1874
@julianfruth So this particular problem is **IN** the example as it never releases the buffer, so it is normal that you see a memory leak.

Please follow the instructions and provide the logs for the other use case (the production one). Please check in the production code that the buffer is released.

[2021-11-08 17:03] violetagg commented on #1874
Taking a second look at the code basically you don't release there the buffer also.

From Spring Framework javadoc I see

https://docs.spring.io/spring-framework/docs/current/javadoc-api/org/springframework/core/io/buffer/DataBuffer.html#asInputStream--

[code]

The underlying **buffer will not be released*** when the input stream is closed.

[2021-11-08 17:03] #1874 closed

[2021-11-08 21:14] trivedishalini opened #1876 "reactor.netty.http.client.PrematureCloseException: Connection prematurely closed DURING response"
Getting issue with reactor.netty while forwarding request to backend services. Even though backed service sending back response but reactor.netty prematurely closed connection which causing failure of services.

**Below are version details**

Spring Boot version: 2.1.4.RELEASE
 Reactor core versoin: 3.3.5.RELEASE
Reactor netty : 0.9.7.RELEASE
Reactor extra : 3.3.3.RELEASE
java8
windows

**Error in

[2021-11-09 08:51] violetagg commented on #1876
@trivedishalini You components' versions are too old. Please upgrade and test again.

In the mentioned PR (that is rejected) there is a link to a fix in Spring Cloud Gateway. The fix is available in Spring Cloud Gateway v2.2.7.RELEASE onwards.
https://github.com/reactor/reactor-netty/pull/1442#issuecomment-752662290
https://github.com/spring-cloud/spring-cloud-gateway/pull/2093
https://github.com/

[2021-11-10 07:50] violetagg commented on #1858
@linux-china Let's continue the discussion about integration in RSocket here https://github.com/rsocket/rsocket-java/issues/1019
If something is needed on Reactor Netty side we can address it.

[2021-11-10 07:50] #1858 closed

[2021-11-10 07:53] huzhixiang commented on #1375
I got the same problem "reactor.netty.http.client.PrematureCloseException: Connection prematurely closed BEFORE response"；how to fix it ? Do you find the answer?

[2021-11-10 07:59] violetagg commented on #1375
@huzhixiang Open a new issue where we will track your particular use case. Please provide a reproducible example.

[2021-11-10 10:59] lion7 commented on #1190
@violetagg this issue still seems to be present in version 5.3.10.

For example the code following code wil fail:
`HttpClient.create().proxyWithSystemProperties()`
When the JVM is started with `java -Dhttp.nonProxyHosts=*.googleapis.com -jar example.jar`.

The exception:
`java.util.regex.PatternSyntaxException: Dangling meta character '*' near index 0 in '*.googleapis.com'`

To me it seems that th

[2021-11-10 11:48] #1875 closed

[2021-11-11 08:12] violetagg commented on #1863
@jan-schumacher I'm closing this. If you are able to provide the requested information, we can reopen it.

[2021-11-11 08:12] #1863 closed

[2021-11-11 17:36] julianfruth commented on #1874
Thank you. Releasing the DataBuffer solved the problem.

[2021-11-12 11:10] rajatbehl commented on #1870
@violetagg Did you got a chance to look into this issue. Please let me know if you need anything from my side.

[2021-11-15 07:57] violetagg commented on #1876
@trivedishalini Were you able to upgrade and test?

[2021-11-15 07:58] violetagg commented on #1869
@sweetcczhang I'm closing this one. If you are able to provide the requested information, we can reopen it.

[2021-11-15 07:58] #1869 closed

[2021-11-15 23:08] efksusz opened #1885 "Sending several message one by one results in AbortedException: Connection has been closed BEFORE send operation"
## Expected Behavior
We have a Spring Boot based micro service that is in this case receiving text messages from Angular app. Message is sent by POST in a body. Then the message is just passed through to another "3rd party backed" by POST in body. When we sent few text messages one by one we receive an error.

## Code example
We have just simple RouterFunction that is passing request to handler me

[2021-11-16 08:20] violetagg commented on #1885
@efksusz Please provide either reproducible example or tcp dump.

[2021-11-17 13:31] optimisticninja opened #1887 "TLS_ECDHE_ECDSA_WITH_AES_*_GCM_SHA* cipher suites not being utilized with HttpClient"
## Expected Behavior

HttpClient should be able to use `TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384` and `TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256` cipher suites on TLSv1.2

## Actual Behavior

For `TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384`

[code]

For `TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256`

[code]

## Steps to Reproduce

Take a look at the controller test.

[tls-cipher-suite-demo.zip](https://githu

[2021-11-17 14:13] violetagg commented on #1887
@optimisticninja Is it possible that you see this issue #1543?

[2021-11-17 14:22] gp0014 commented on #1359
I got the similar error, could someone help me to investigate the issue.

**Technology Framework Version**
Spring Cloud version: Hoxton.SR12
Spring boot Version: 2.3.12.RELEASE
Reactor Netty Version: 0.9.20.RELEASE

**Stack Trace after enabling paranoid leak detection**
[code]

[2021-11-17 14:31] optimisticninja commented on #1887
Plausible, but I don't think so as I see the following in the logs which includes said cipher suites:

`2021-11-17 07:20:09.241 DEBUG 561240 --- [    Test worker] io.netty.handler.ssl.JdkSslContext       : Default cipher suites (JDK): [TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384, TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256, TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256, TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384, TLS_

[2021-11-17 14:53] optimisticninja commented on #1887
@violetagg Sorry for the confusion, thank you!

[2021-11-17 14:53] #1887 closed

[2021-11-17 14:58] violetagg commented on #1887
Mark as a duplicate for #1543

[2021-11-18 03:47] childewuque commented on #781
Thanks
It would be better if we could configure instead of coding

[2021-11-19 10:01] niklaspeura commented on #796
@FARHANE were you able to fix the issue?
My application is also throwing `reactor.netty.http.client.PrematureCloseException: Connection prematurely closed BEFORE response` while making 38 GET calls with WebClient.
I'm using Spring Boot 2.5.4, setting compression to true seemed to fix it for me for now.

[2021-11-21 10:28] jiangxiaoqiang commented on #1876
I am facing the same problem with spring boot 2.3.10.RELEASE

[2021-11-22 04:59] genki98 opened #1889 "doOnNext() get called different times in ReactorServerHttpReqeust.getBody()"
I implemented filter and request decorator to log request body in Webflux.
(I referred this post. https://piotrminkowski.com/2019/10/15/reactive-logging-with-spring-webflux-and-logstash/)

Most of cases, it works fine, but I found out sometimes doOnNext() get called 2 times, so the request body gets logged as 2 split logs. I added log() in the code and the log of flux looks differently like below.

[2021-11-22 09:11] violetagg commented on #1889
@genki98 you cannot control it like this. If you need to control it and log always the whole body you need to aggregate. Please be cautious with aggregation when this is in memory aggregation, you may hit OOM.

Please ask you questions on [Gitter](https://gitter.im/reactor/reactor-netty)/[StackOverflow](https://stackoverflow.com/questions/tagged/reactor-netty)

[2021-11-22 09:11] #1889 closed

[2021-11-22 12:42] violetagg commented on #1876
@jiangxiaoqiang Please open a new issue where we will track your particular use case. Please provide reproducible example. Thanks!

[2021-11-22 12:44] violetagg commented on #1876
@@trivedishalini I'm closing this one. If you have the issue after the upgrade, we can reopen it.

[2021-11-22 12:44] #1876 closed

[2021-11-22 12:47] violetagg commented on #796
@niklaspeura You should open a new issue with a reproducible example. There we will track your particular problem. This issue has been closed already.

[2021-11-22 19:56] ruslan-belinskyy commented on #1525
now link above (https://projectreactor.io/docs/netty/release/reference/index.html#_metrics_5) leads to:
[code]
and this method doesn't provide metrics needed (at least in my case), because when you'll debug metrics recorder will be `null` here:
https://github.com/reactor/reactor-netty/blob/6dcc3d6361737da3b4e97ed2e5df9f58546b7a28/reactor-netty-core/src/main/java/reactor/netty/transport/TransportCo

[2021-11-22 20:50] ruslan-belinskyy commented on #1525
Just small clarification for above, had to spent a day to find this out but might be helpful (or someone will clarify if i'm wrong).
When it comes to HttpClient metrics can be enabled for pool:
[code]
And HttpClient has other metric recorders like mentioned above which will be triggered depending which httpClient method you'll call:
https://projectreactor.io/docs/netty/release/api/reactor/netty/ht

[2021-11-23 02:43] patpatpat123 commented on #1525
Thanks!

[2021-11-23 09:44] Johannes-Rost opened #1891 "WebsocketServerOperations sends WebSocketCloseStatus 1005 which is not accepted by CloseWebSocketFrame"
## Expected Behavior
No exception should occur when WebsocketServerOperations closes a Frame.

## Actual Behavior
reactor.netty.http.server.WebsocketServerOperations#onInboundNext sends a WebSocketCloseStatus.EMPTY (1005) which is not accepted by CloseWebSocketFrame created in reactor.netty.http.client.WebsocketClientOperations#sendClose(int, java.lang.String), because it is not considered valid b

[2021-11-23 11:55] sweetcczhang commented on #1869
Are there some way to aggregate data not in memory?

[2021-11-24 05:08] DoneBugZhang opened #1894 "The netty channel in the httpClient instance is disconnected(the request has not been responded)"
## Expected Behavior

We use gateway but after route the request to the target service, occasionally the netty channel in the httpClient instance is disconnected(the request has not been responded). We want to find out what actually produce this problem and a way to conque it;

## Actual Behavior

My team just switched from zuul1 to gateway.What bothers me is that when we route the request to the

[2021-11-24 05:09] DoneBugZhang commented on #1894
2021-11-22 13:20:07.293 INFO 1 --- [or-http-epoll-2] c.d.j.g.filter.pre.token.TokenFilter : 1294852170286793088 请求开始，uri=/es-agent/business/businessLogQuery/byid
2021-11-22 13:20:07.297 DEBUG 1 --- [or-http-epoll-2] r.n.resources.PooledConnectionProvider : [id: 0x6cf04de8] Created a new pooled channel, now 0 active connections and 0 inactive connections
2021-11-22 13:20:07.298 DEBUG 1 --- [or-http

[2021-11-24 05:10] DoneBugZhang commented on #1894
As I mentioned, we found that the channel keeped by thread "or-http-epoll-2" was closed after [request_sent] without get response

[2021-11-24 07:37] violetagg commented on #1891
@Johannes-Rost
https://github.com/reactor/reactor-netty/blob/a4ec7de39f38d2556ef228ed790abbcc3d1a2516/reactor-netty-http/src/main/java/reactor/netty/http/client/WebsocketClientOperations.java#L211-L214

This is an API that is called by those using Reactor Netty. It is never called by Reactor Netty itself.

According to the specification this status code cannot be sent as a status code for the clos

[2021-11-24 07:37] #1891 closed

[2021-11-24 08:08] violetagg commented on #330
Depends on #1873

[2021-11-24 08:08] violetagg commented on #306
Depends on #1873

[2021-11-24 08:53] Johannes-Rost commented on #1891
@violetagg I have seen the specification, nevertheless Reactor Netty is using the status code 1005 and in the case auf Spring Cloud Gateway it also calls the code you mentioned.

https://github.com/reactor/reactor-netty/blob/23cba2ed12efc02fbc174b75f225d3a2a78b0805/reactor-netty-http/src/main/java/reactor/netty/http/server/WebsocketServerOperations.java#L150-L157

`reactor.netty.http.server.Websoc

[2021-11-24 09:04] violetagg commented on #1891
@Johannes-Rost

https://github.com/reactor/reactor-netty/blob/23cba2ed12efc02fbc174b75f225d3a2a78b0805/reactor-netty-http/src/main/java/reactor/netty/http/server/WebsocketServerOperations.java#L246-L265

This is the actual method implementation, as you can see Reactor Netty does not create a close frame with an invalid status code.
The second parameter that is `WebSocketCloseStatus.EMPTY` is used

[2021-11-24 09:26] Johannes-Rost commented on #1891
@violetagg I am not sure wether any specification is violated, but I think something is wrong here.
We have been seeing this exception sporadically in our logs recently and I took a look at the stack trace. Since it looks to me like Reactor Netty is using the status code itself (Line 156 of `WebsocketServerOperations`) and then rejecting it elsewhere (Line 213 of `WebsocketClientOperation`, respec

[2021-11-24 09:41] violetagg commented on #1891
@Johannes-Rost From the stack trace we have

[code]

I searched Spring Cloud repository and the only usage of `org.springframework.web.reactive.socket.WebSocketSession;` is here
https://github.com/spring-cloud/spring-cloud-gateway/blob/d94450561604a8bb6f1e263180c744c0ca57944a/spring-cloud-gateway-server/src/main/java/org/springframework/cloud/gateway/filter/WebsocketRoutingFilter.java#L200-L234

`

[2021-11-24 10:02] Johannes-Rost commented on #1891
@violetagg If I understand it correctly `WebsocketServerOperations#onInboundNext` receives an `CloseWebSocketFragment` which is empty. Therefore the status code of the `CloseWebsocketFrame`created is `-1` which in turn leads to calling `sendCloseNow` with `WebSocketCloseStatus.EMPTY`.

The actual `Sink` behind `WebsocketServerOperations#onCloseState` in this case is `org.springframework.web.reacti

[2021-11-24 10:16] violetagg commented on #1891
@Johannes-Rost Yes that's correct. The API (`reactor.netty.http.websocket.WebsocketInbound#receiveCloseStatus`) used in
https://github.com/spring-projects/spring-framework/blob/259bcd60fbbc5cdb8b230595a5004707f4c6ff23/spring-webflux/src/main/java/org/springframework/web/reactive/socket/adapter/ReactorNettyWebSocketSession.java#L127-L131
is only for notifying the applications for the type of the co

[2021-11-24 10:25] Johannes-Rost commented on #1891
@violetagg Should I file a bug for Spring Cloud Gateway or is this handled somehow via the `for/spring-cloud-gateway`tag?

[2021-11-24 10:26] violetagg commented on #1891
@Johannes-Rost Yes you have to file the issue. This label is just to specify that the issue is in an external project.

[2021-11-24 11:43] violetagg commented on #1891
@Johannes-Rost I created a PR #1896 in order to clarify in the javadoc that some status codes must not be used as such in a websocket close frame.

[2021-11-25 07:29] violetagg commented on #1894
@DoneBugZhang What is the Reactor Netty issue?

[2021-11-25 08:19] violetagg commented on #1870
@rajatbehl I cannot find anything with time "12:31:10". Is this time UTC or some other time zone?

[2021-11-25 08:45] rajatbehl commented on #1870
@violetagg Please check in IST time zone and we will check if original client closes the connection.
We are still facing this issue on production, please let me know if you need any help on this.

[2021-11-25 09:01] violetagg commented on #1870
@rajatbehl Please take a look whether this is the correct record. If yes, isn't the original client that is closing the connection? (this is the tcp dump from the gateway)
![Screenshot 2021-11-25 at 10 58 49](https://user-images.githubusercontent.com/696661/143411030-84de218d-77f2-4916-b78f-d36f97ad8899.png)

[2021-11-25 19:14] jarpz commented on #1746
Hi I'm getting the same in an intermittent way.. I got these errors on the docker environment. Also, I run the same service on a local environment with constraints of memory XX:MaxRam, Xmx, ``-Dio.netty.leakDetectionLevel=paranoid ; _reactor.netty.channel.LeakDetection = DEBUG``   and can not get any evidence of this error.

Also doing profiling over the service I don't have evidence of memory lea

[2021-11-26 07:02] violetagg commented on #1746
@jarpz The issue in this ticket was in the authors's code.

Please open new issue where we will investigate your particular problem.
Please provide e reproducible example and logs where the memory leak detection is enabled.

[2021-11-26 07:04] violetagg commented on #1885
@efksusz I'm closing this one. We can reopen it when the requested information is available.

[2021-11-26 07:04] #1885 closed

[2021-11-26 07:07] violetagg commented on #1872
@epicoxymoron PTAL PR #1897

[2021-11-26 16:38] jarpz opened #1900 "LEAK: ByteBuf.release() was not called before it's garbage-collected"
Hi I'm getting the same in an intermittent way.. I got these errors on the docker environment running on K8s clusters. Also, I run the same service on a local environment with constraints of memory XX:MaxRam, Xmx, ``-Dio.netty.leakDetectionLevel=paranoid ; _reactor.netty.channel.LeakDetection = DEBUG``   and can not get any evidence of this error.

Also doing profiling over the service I don't hav

[2021-11-27 10:21] rajatbehl commented on #1870
@violetagg Yes, this is the correct record which means client is closing the connection before complete payload could be sent to API Gateway and then to KYC and which is why we are getting "reactor.netty.channel.AbortedException: Connection has been closed" exception at both API Gateway and KYC service.

Thanks @violetagg for helping to identify the issue. I will check what we can do here to avoid

[2021-11-27 16:22] unoexperto commented on #1374
I'm having the same issue (https://github.com/mariadb-corporation/mariadb-connector-r2dbc/issues/24) using version 4.1.70.

Interestingly enough inside `AbstractByteBuf.ensureAccessible()` call `((UnpooledSlicedByteBuf) this).buffer.refCnt()` that works via `ReferenceCountUpdater` returns 0 but underlying `volatile int refCnt` field has 1. How is that possible ?

[2021-11-29 06:57] #1870 closed

[2021-11-29 06:59] violetagg commented on #1894
@DoneBugZhang Closing this. We can reopen it when you provide the requested information.

[2021-11-29 06:59] #1894 closed

[2021-11-29 07:01] violetagg commented on #1900
@jarpz In order to investigate this issue you need to provide reproducible example or code snippets and also log file where the following is enabled `-Dio.netty.leakDetectionLevel=paranoid`, `_reactor.netty.channel.LeakDetection=DEBUG`

[2021-11-30 07:09] violetagg commented on #1513
@shj95 I cannot reproduce this with the latest released versions thus I'm closing the issue. If you still observe the issue with the latest versions we can reopen it.

[2021-11-30 07:09] #1513 closed

[2021-11-30 09:50] #1872 closed

[2021-11-30 11:29] SanderKleykens commented on #1861
`reactor.netty.transport.ProxyProvider#createHttpProxyFrom` gets the nonProxyHosts system property and then plugs it into `reactor.netty.transport.ProxyProvider.Builder#nonProxyHosts`, which expects a regex.
The pattern used in `http.nonProxyHosts` is not compatible with regex as @Pieter-Beckers said.

Instead, `reactor.netty.transport.ProxyProvider#createHttpProxyFrom` should use `reactor.netty.t

[2021-11-30 22:12] alexdefreitas99 commented on #796
Any way to fix it or any notices? i'm having the same problem. This occurs many and unexpected times, and i cannot reproduce the scenario in my localhost.

[2021-12-01 08:28] salman-khandu opened #1908 "reactor netty http client redirection not working properly"
I am using a reactor netty HTTP client with WebClient. I am calling URL e.g http://www.domain1.com/pages/data.aspx?dd=true&dd=20 which has the following redirect ( checked with browser all call)

1) http://www.domain1.com/pages/data.aspx?dd=true&dd=20 - Gives 301 with URL in location header https://www.domain1.com/pages/data.aspx?dd=true&dd=20
2) https://www.domain1.com/pages/data.aspx?dd=true&dd=

[2021-12-01 13:33] #1861 closed

[2021-12-01 14:38] rabiprof opened #1910 "[inputs.statsd] Splitting '|', unable to parse- while publishing HttpClient metrics"
In our project , we have enabled metrics for webclient, beow is the sample config
val webclient = Webclient.create().metrics(true,{
//tags
})

It is throwing below errors in the telegraf log:

"[inputs.statsd] Splitting '|' unable to parse metrics : reactorNettyHttpClientAddressResolve.remoteAddress.xyz.com:80.SUCCESS.p99:406.43|g"
"[inputs.statsd] Splitting '|' unable to parse metrics : reactorNe

[2021-12-01 14:48] jarpz commented on #1900
Hi @violetagg .
We set detection and log levels and got these logs

[code]

[2021-12-02 02:45] rajeevprasanna commented on #388
i am getting this issue in production. is there any proper fix without disabling connection pool?

[2021-12-02 07:16] shakuzen commented on #1910
How are you configuring your `StatsdMeterRegistry`? If you are using the telegraf `flavor`, we are replacing `:` characters already. See [this line](https://github.com/micrometer-metrics/micrometer/blob/008d47999be9e4dea7eeae4916924175355d4655/implementations/micrometer-registry-statsd/src/main/java/io/micrometer/statsd/internal/TelegrafStatsdLineBuilder.java#L93) in `TelegrafStatsdLineBuilder`.

[2021-12-02 07:39] violetagg commented on #1900
@jarpz Please provide reproducible example or code snippets. From the log above it doesn't seem that `_reactor.netty.channel.LeakDetection = DEBUG`

[2021-12-02 08:41] violetagg commented on #1908
@salman-khandu Please do the following:

In `application.properties` add `logging.level.reactor.netty=DEBUG`

Enable wire logging:
Change the snippet
`return HttpClient.create().option(ChannelOption.CONNECT_TIMEOUT_MILLIS, 30000)`
to
`return HttpClient.create().option(ChannelOption.CONNECT_TIMEOUT_MILLIS, 30000).wiretap(true)`

Then please provide the generated logs.

[2021-12-02 09:24] salman-khandu commented on #1908
@violetagg Attached logs with above configuration
[webclient.log](https://github.com/reactor/reactor-netty/files/7640683/webclient.log)

Thank you

[2021-12-02 09:42] violetagg commented on #1908
@salman-khandu You exceeded the limit of 50 redirections.
In order to control the redirection process instead of
https://projectreactor.io/docs/netty/release/api/reactor/netty/http/client/HttpClient.html#followRedirect-boolean-
use
https://projectreactor.io/docs/netty/release/api/reactor/netty/http/client/HttpClient.html#followRedirect-java.util.function.BiPredicate-

https://projectreactor.io/doc

[2021-12-02 09:52] salman-khandu commented on #1908
@violetagg
When I see redirection in a browser it shows 3 redirections. I do not understand why it says 50 redirections exceeded.

Thank you

[2021-12-02 10:05] violetagg commented on #1908
@salman-khandu Reactor Netty follows the `Location` header. The `Location` header is set by the server. According to your log you have:

[code]

So basically the server returns always these two URL.

May be there is difference in the configuration of your browser and the client that you use in the application.

I'm closing this as it is not Reactor Netty issue.

[2021-12-02 10:05] #1908 closed

[2021-12-02 10:14] violetagg commented on #1910
@rabiprof I'm closing this one, if it appears an issue with Reactor Netty, we can reopen it.

[2021-12-02 10:14] #1910 closed

[2021-12-02 10:18] rabiprof commented on #1910
@shakuzen we are using mix of Dropwizard and micrometer core , so we have a custom StatsdMeterRegistry and we are not using micrometer-registry-statsd lib

[2021-12-02 11:18] shakuzen commented on #1910
It sounds like you'll want to do something similar in your custom MeterRegistry implementation to what we do in micrometer-registry-statsd, then. Instrumentation (like `MicrometerHttpClientMetricsRecorder` here in reactor-netty) shouldn't need to know about all the constraints that might be imposed by different MeterRegistry implementations. I think it's therefore not necessary and not appropriate

[2021-12-02 12:24] ramonli opened #1913 "Reactor-netty will task very long time to flush"
In my case, reactor-netty will take about 3~4 seconds to finish the flush. I just saw the result, but have no ides of what cause this. As I am a newbie of webflux and its dependent reactor-netty,  and no any result found after google, I have to look for help here.

**My Environment:**
- spring cloud gateway: 3.0.4
- reactor-netty: 1.0.12
- netty: 4.1.69.Final
- JVM: 1.8.0_201

**My  Code:**
[code]

[2021-12-02 16:11] #1800 closed

[2021-12-03 01:15] ctlove0523 opened #1915 "program use HttpClient listen more udp port"
When use HttpClient do request if the host is a name,no matter name can resolveed or not the program listen max six udp port in windows system,four udp port in Linux system.

## Steps to Reproduce
[code]
## netstat cmd result:

Linux：
![image](https://user-images.githubusercontent.com/9432235/144527563-0e52303b-94a7-4e0a-a5a8-6629a326cbad.png)

Windows:
![image](https://user-images.githubuserconte

[2021-12-03 07:05] tzssangglass opened #1916 "request help: how to handle the cross request"
## Motivation

hi, developers, I ran into a particular problem while working on a project with reactor-netty.

![runner2](https://user-images.githubusercontent.com/30819887/144559802-9a8a922e-7866-4cc1-bf37-1b7eaa151624.png)

I would like to know if there is a way to do what is represented in the picture.

thanks.

## Desired solution

## Considered alternatives

## Additional context

[2021-12-03 09:24] simonbasle commented on #1916
As stated in the contributing guidelines, [StackOverflow](https://stackoverflow.com/questions/tagged/reactor-netty) is the right place to ask questions, but here I go:

There's no direct explicit support for this _using the `NettyOutbound`_. This is more of an application-level concern: nothing prevents you from having a "client" on the server side that call the "service". That can be part of A's

[2021-12-03 09:24] #1916 closed

[2021-12-03 10:05] ctlove0523 commented on #1915
netty

[2021-12-03 10:05] #1915 closed

[2021-12-03 13:52] owennewo opened #1918 "maxLifeTime not honoured"
I'm making use of WebClient that is backed by ReactorClientHttpConnector

I'm talking to a local docker/nginx container with `keepalive_time 2s;`.  This causes a goaway frame to be sent to connections older than 2s.  This server is supposed to represent a GCP service that does something similar after 3600s.

I'm making about 20 req/s to this service and when server sends goaway frame I'm seeing a

[2021-12-03 14:02] violetagg commented on #1918
@owennewo Isn't this issue duplicate for this #1818?

[2021-12-03 17:05] owennewo commented on #1918
Duplicate of #1818
Thanks @violetagg

[2021-12-03 17:05] #1918 closed

[2021-12-04 16:26] rabiprof commented on #1910
@shakuzen Generally tags does not contain any special characters like( [ ] , : ; " | * & \ / ? $ £ ( ) { } ^ ~) ,
When someone is using any default Instrumentation to publish metrics they need to know all the special characters are getting used to build tags for their their custom MeterRegistry and this is not always backward compatible.

[2021-12-05 15:17] ShijunDeng opened #1920 "Allow to config dns bind address in reactor.netty.transport.NameResolverProvider.NameResolverSpec"
## Motivation
Both `io.netty.resolver.dns.DnsAddressResolverGroup` （by [DnsNameResolverBuilder](https://github.com/netty/netty/blob/1e189654f913b13be3616c552a04459465b752b3/resolver-dns/src/main/java/io/netty/resolver/dns/DnsNameResolverBuilder.java#L46)）and [io.netty.resolver.dns.DnsNameResolver](https://github.com/ShijunDeng/netty/blob/743067c1797ea59b9562c8249d789a8279e781c0/resolver-dns/src/ma

[2021-12-06 01:12] ctlove0523 commented on #1920
@violetagg
I want set dns server address too,can you assign this to me?

[2021-12-06 12:27] shakuzen commented on #1910
Users of a `MeterRegistry` or libraries writing instrumentation don't need to care about sanitization because the `MeterRegistry` takes care of it for them. People developing `MeterRegistry` implementations need to care about this.

The change you proposed is not backwards compatible because it changes the tag value to something other than it's always been. This would affect everyone, even if ther

[2021-12-07 01:48] ramonli commented on #1913
Please help.

[2021-12-07 09:38] violetagg commented on #1913
@ramonli I will take a look at this.

[2021-12-07 13:54] #1920 closed

[2021-12-08 08:02] violetagg commented on #1851
@patpatpat123 @ctlove0523 I started looking at this one.

Did you try to search for OSS projects that already provide this functionality?

This cannot be introduced as part of the wire logger functionality, because the current wire logger works only with `ByteBuf`. It is not possible to make a json with the various HTTP components.

This can be implemented either as a separate API or a separate Ne

[2021-12-08 08:45] patpatpat123 commented on #1851
Hello @violetagg ,

Many thanks for looking into this.
What I was proposing as enhancement request, was a native support to convert to JSON, within netty, without having to incorporate yet another layer.

But your explanations are very clear, and this enchantment request is more of a good to close.

Thank you again for your time.

[2021-12-08 08:45] #1851 closed

[2021-12-08 17:48] #1789 closed

[2021-12-08 17:48] #1818 closed

[2021-12-08 17:48] #1844 closed

[2021-12-08 18:12] violetagg commented on #1818
A change about this issue is available in 1.0.14-SNAPSHOT. It will be great if you are able to test it.

[2021-12-08 18:13] violetagg commented on #1789
A change about this issue is available in 1.0.14-SNAPSHOT. It will be great if you are able to test it.

[2021-12-09 06:37] AmandeepSingh97 commented on #1818
Sure @violetagg Me and my team will test it out and get back with the results.

[2021-12-09 13:38] #1328 closed

[2021-12-09 15:49] dnagarajan89 commented on #1818
@violetagg Thanks for addressing this issue. We have validated with the test case that we have as well as the [reproducer](https://github.com/AmandeepSingh97/reactor-netty/blob/http2maxlifetime/reactor-netty-http/src/test/java/reactor/netty/http/client/ConnectionPoolTests.java#L433) that is shared in this issue earlier and we observed that the HTTP/2 connection is now respecting the maxLifeTime co

[2021-12-09 18:19] violetagg commented on #1818
thanks

[2021-12-09 23:07] rtonini-r7 commented on #1789
@violetagg We have tested this change locally and no longer get `Max active streams is reached`.  Thanks!

[2021-12-10 08:16] violetagg commented on #1913
@ramonli Do you have any blocking functionality? What is the thread doing during this 4s?

[2021-12-10 10:13] sebphil commented on #1190
I have the exact same issue that @lion7 mentioned. I'm using reactor-netty-core:1.0.13

I believe the problem lies in how `ProxyProvider.createHttpProxyFrom(Properties properties)` handles the http.nonProxyHosts system property. Since netty uses the "standard" name for this property, as described in the Oracle docs, I think netty should assume the "standard" format is used too. It means that the n

[2021-12-10 10:17] violetagg commented on #1190
@sebphil Can you try the current 1.0.14-SNAPSHOT?
See #1861

[2021-12-10 11:02] sebphil commented on #1190
Thank you for your quick reply. 1.0.14-SNAPSHOT effectively solves this issue.

[2021-12-11 05:19] swallretu commented on #508
@violetagg @bclozel Hi i still hit this issue when i use springboot dependency management with reactor-netty 0.8.6.RELEASE version, my springboot version is 2.1.4 with springcloud Greenwich.SR1, could i know in which reactor-netty version this issue had been fixed and released? blow this my issue
`reactor.netty.channel.AbortedException: Connection has been closed
	at reactor.netty.channel.ChannelO

[2021-12-12 14:10] qqeasonchen opened #1929 "Async httpclient"
Can an asynchronous non-blocking httpclient method be provided here? After the response is returned, the requester will be notified according to the requestID instead of blocking the thread while the network IO is waiting.

[2021-12-13 09:10] violetagg commented on #1900
@jarpz I'm closing this one. When you are able to provide the requested information, we can reopen it.

[2021-12-13 09:10] #1900 closed

[2021-12-13 09:13] violetagg commented on #1929
@qqeasonchen Thanks for getting in touch, but it feels like this is a question that would be better suited to [Gitter](https://gitter.im/reactor/reactor-netty) or [Stack Overflow](https://stackoverflow.com/questions/tagged/reactor-netty). As mentioned in [README](https://github.com/reactor/reactor-netty/#getting-help), we prefer to use GitHub issues only for bugs and enhancements. Feel free to upd

[2021-12-13 09:13] #1929 closed

[2021-12-13 11:49] violetagg commented on #1929
link to the discussion https://gitter.im/reactor/reactor-netty?at=61b714c58f98cb0811be2bb7

[2021-12-14 06:15] rishisc opened #1932 "OOME: unable to create new native thread"
Hi,
I am using spring cloud gateway which runs over reactor netty after certain period if I dont restart server it goes down with the below stack trace.

	at java.lang.Thread.start0(Native Method)
	at java.lang.Thread.start(Thread.java:717)
	at java.util.concurrent.ThreadPoolExecutor.addWorker(ThreadPoolExecutor.java:957)
	at java.util.concurrent.ThreadPoolExecutor.ensurePrestart(ThreadPoolExecuto

[2021-12-14 07:42] violetagg commented on #1932
@rishisc Please upgrade your Spring Framework/Spring Gateway versions.
This issue seems similar to this one fixed in Spring Framework version 5.3.3 https://github.com/spring-projects/spring-framework/issues/26347
Closing as no issue with Reactor Netty.

[2021-12-14 07:42] #1932 closed

[2021-12-14 09:00] #1398 closed

[2021-12-14 09:27] rishisc commented on #1932
I tried upgrading Spring Framework/Spring Gateway versions still facing same issue

[2021-12-14 09:31] violetagg commented on #1932
@rishisc Please address this with Spring Framework/Spring Gateway maintainers

[2021-12-15 07:45] NickWwtrade opened #1936 "TCP Connection has been closed BEFORE send operation"
Hi, I have a TCP server with netty. If I directly send the message to the client, it works. However, If I add the logic of reading the data from the database(sync operation), it says the connection has been closed BEFORE sending operation. It seems the connection has been closed before I find the data and reply to the client. How can I solve it?

[code]

[2021-12-15 19:29] shirapur01 opened #1937 "Connection provider properties are not taking effect"
I have enabled the connection provider properties , but I dont see them taking effect

TcpClient tcpClient = TcpClient.create()

create(ConnectionProvider.builder("builder")
.maxConnections(2)
.pendingAcquireTimeout(Duration.ofSeconds(60))
.maxIdleTime(Duration.ofSeconds(10))
.maxLifeTime(Duration.ofSeconds(10))
.build())
.host(statsdConfig.host())
.port(statsdConfig.port())
.handle((in, out) -> o

[2021-12-16 08:01] violetagg commented on #1936
@NickWwtrade Thanks for getting in touch, but it feels like this is a question that would be better suited to [Gitter](https://gitter.im/reactor/reactor-netty) or [Stack Overflow](https://stackoverflow.com/questions/tagged/reactor-netty). As mentioned in [README](https://github.com/reactor/reactor-netty/#getting-help), we prefer to use GitHub issues only for bugs and enhancements. Feel free to upd

[2021-12-16 08:01] #1936 closed

[2021-12-16 08:10] violetagg commented on #1937
@shirapur01 This was discussed several times. Please check the issues below:
#1937
https://github.com/reactor/reactor-netty/issues/532#issuecomment-847942949
These are relevant only for `TcpClient`

[2021-12-16 08:10] #1937 closed

[2021-12-16 08:58] simonbasle commented on #1937
To sum things up, `TcpClient` connections are not returned to the pool automatically by Reactor-Netty. This responsability lies with the user/framework because they're the only one to know if the actual protocol is compatible with reusing connections.

For comparison, `HttpClient` knows that connections can be recycled and so it makes use of this configuration to automatically release.

[2021-12-17 12:34] sebphil opened #1940 "Add support to authentification in http proxy configuration created from system properties"
When using HttpClient.proxyWithSystemProperties, it is not currently possible to define a proxy configuration to a proxy server that requires authentification.

## Motivation

I'm running a program that needs to make http calls through a corporate proxy. That proxy requires basic authentification (username/password). All the proxy settings that I need to use (host, port, username, password and non

[2021-12-17 18:23] chris-fung commented on #388
Still facing the same problem here.  Does anyone fix this?

[2021-12-17 20:17] srnagar opened #1941 "`maxConnections` value of a HttpClient returns -1"
`HttpClient` returns maxConnections as `-1` even when the `maxConnections` property is set to a non-negative number.

## Expected Behavior

The maxConnections() method should return the actual value that was configured when the client was created.

## Actual Behavior

Always returns `-1`

## Steps to Reproduce

[code]
Running the above code prints the following results:

[code]

## Possible Soluti

[2021-12-18 23:52] kdevkr opened #1942 "allowDuplicateContentLengths for Reactor Netty 0.9.x users"
https://github.com/spring-cloud/spring-cloud-gateway/issues/2465#issuecomment-997227058

Due to the above problem, I would like to activate the allowDuplicateContentLengths option to treat the content-length header with the same value as a single value.

I checked **v0.9.25.RELEASE**, that the last planned release of Reactor Netty in the **Dysprosium** Release Train.
but, this feature add from [v1

[2021-12-19 18:09] ebradshaw opened #1943 "Calling HttpResources.reset() breaks Http2Resources"
## Issue

Http2 requests via the HttpClient leverage the Http2Resources static get() interface, which on the first call atomically instantiates Http2Resources by wrapping HttpResources.get().   This all works fine until HttpResources is reset, which leaves Http2Resources holding on to a broken/disposed HttpResources instance.   In particular, the reset HttpResources object holds on to a disposed A

[2021-12-20 06:56] violetagg commented on #1942
@kdevkr Reactor Netty 0.9.x series has reached EOL, please upgrade to a newer version.

[2021-12-20 06:56] #1942 closed

[2021-12-20 09:27] violetagg commented on #1913
@ramonli I'm closing this one. When you have the requested information, we can reopen it.

[2021-12-20 11:00] #1941 closed

[2021-12-20 11:36] violetagg commented on #1941
@srnagar see PR #1945
The fix is available in 1.0.15-SNAPSHOT.

[2021-12-20 18:08] srnagar commented on #1941
@violetagg thanks for the quick fix!

[2021-12-21 09:00] sodaRyCN opened #1951 "when httpclient set protol h2c and http11, then get connection prematurely closed before response or while sending request body."
**Expected Behavior**
the following two process both are ok, when netty httpclient set protocol h2c and http11.
1.grpc client ----> spring-cloud-gateway (use netty httpclient) ----> grpc server
2.normal http client ----> spring-cloud-gateway (use netty httpclient) ----> normal http server

In process 1:
when set netty httpclient protocol only H2C，the above process is ok.
but set netty httpclient p

[2021-12-21 09:33] violetagg opened #1952 "Integration with the new Micrometer 2.0.x Observation API"
https://github.com/micrometer-metrics/micrometer/wiki/Migrating-to-new-2.0.x-Observation-API
https://micrometer.io/docs/tracing

[2021-12-21 19:41] ffroliva commented on #1534
I spent hours trying to understand this issue...

I tried this approach and it worked for me!!!

Thank you very much!!!

[2021-12-22 07:20] shakuzen opened #1953 "Transitive dependency on netty-codec-http in reactor-netty-core"
## Expected Behavior
reactor-netty-core does not have HTTP-related dependencies. We want to avoid security scanners picking up HTTP-related CVEs, so we are using reactor-netty-core.

## Actual Behavior
Recently we had [an issue reported](https://github.com/micrometer-metrics/micrometer/issues/2929) due to the inclusion of netty-codec-http classes.
reactor-netty-core has a transitive dependency on

[2021-12-22 09:01] violetagg commented on #1953
@shakuzen It will be backwards incompatible if we do that in 1.0.x as the current `ProxyProvider` needs `HttpHeaders`
https://github.com/reactor/reactor-netty/blob/main/reactor-netty-core/src/main/java/reactor/netty/transport/ProxyProvider.java#L407-L417

I'm adding this to 2.0.x Backlog where we will be able to do an incompatible change.

[2021-12-22 09:14] davidyangss opened #1954 "Hot thread(reactor-http-epoll) appears when WebClient requests back-end services"
🐞 Hot thread(reactor-http-epoll) appears when WebClient requests back-end services
- Problem Description
I implemented an application using WebFlux. This application provides REST service, and then calls (WebClient) backend service to get the result, and return the result.
But, when I stress test, I found a hot thread appeared. Its name is similar to reactor-http-epoll.
Through log analysis, I cam

[2021-12-22 09:24] violetagg commented on #1954
@davidyangss Can you provide a complete minimal sample (something that we can unzip or git clone, build, and deploy) that reproduces the problem.

[2021-12-22 09:27] violetagg commented on #1951
@sodaRyCN Can you provide a complete minimal sample (something that we can unzip or git clone, build, and deploy) that reproduces the problem.

[2021-12-22 09:34] davidyangss commented on #1954
OK, but it will take some time. I will provide a demo

[2021-12-22 10:35] sodaRyCN commented on #1951
yeah. I would as soon as possilble provide a demo.

[2021-12-22 15:40] sodaRyCN commented on #1951
@violetagg
[demo for reproduces the problem](https://github.com/sodaRyCN/issue/tree/main/reactor-netty/1951)

please read readme.md first.

I sincerely look forward to your reply

**By the way：**
According to the tcpdump log and read some reactor-netty and grpc-java source code today, I guess the reason may be that the grpc server does not support the H2C protocol. I also mentioned the relevant [i

[2021-12-23 01:45] sodaRyCN commented on #1951
@violetagg
I have get the grpc-java's [reply](https://github.com/grpc/grpc-java/issues/8778) : grpc-java server not support h2c, but  support plaintext HTTP/2. **so any way to make httpclient use H2 plaintext?**

[2021-12-23 06:59] violetagg commented on #1951
@sodaRyCN  Here is their reply https://github.com/grpc/grpc-java/issues/8778#issuecomment-999833890

[code]

This means that you have to configure the client with `H2C` and not `H2C` AND `HTTP/1.1`. The later will try HTTP/1 to HTTP/2 upgrade.

[2021-12-23 07:01] #1951 closed

[2021-12-23 08:57] davidyangss commented on #1954
I put the demo into the repo:   https://github.com/davidyangss/demo.git
@violetagg

[2021-12-25 01:00] 1ssqq1lxr opened #1959 "My TCP program always throws error IO after running for a long time netty. channel. Stacklessclosedchannelexception how to solve this problem? Use version 1.0.10"
## Expected Behavior

## Actual Behavior

## Steps to Reproduce

[code]

## Possible Solution

## Your Environment

* Reactor version(s) used:
* Other relevant libraries versions (eg. `netty`, ...):
* JVM version (`java -version`):
* OS and version (eg. `uname -a`):

[2021-12-27 16:37] ssalamov opened #1960 "Performance issue with WebClient under high load in WebFlux."
Hello,

Hope you are doing well and can assist with this issue.

We have Spring WebFlux and reactor Netty collaborated system (both are latest versions) where WebClient is being used for rest APIs calls with different downstreams (We use ~20 different hosts for rest APIs). Trying to find issue with WebClient performance during high load. We are running isolated performance tests (instead real down

[2021-12-27 17:23] OlegDokuka commented on #1960
Hi @ssalamov!
From your graphs, it seems that there is a significant number of threads blocked somewhere.
Can it be a root cause?
Also, can you share your benchmarks, which reproduce the problem? I am eager to see your full setup.

Thanks,
Oleh

[2021-12-27 17:40] ssalamov commented on #1960
Hi, @OlegDokuka. Provide such reproducible solution will take some time. So not sure when i can do it. Additional information about system is we use blocking aws sdk (dynamodbv2) for Dynamo db, however we subscribe all our calls with `.subscribeOn(Schedulers.boundedElastic());`. Can it be reason why `Aws Sdk blocked threads` metric (refer screenshot) shows such data?

1. Single web request scenari

[2021-12-27 18:08] OlegDokuka commented on #1960
@ssalamov.

I believe we can nothing to do without a proper example. What you show should not cause any trouble so far.

Well, this can be a root cause. Threads tend to add uncertainty. Also, I'm not sure that 1.6k threads can be created by `boundedElastic` scheduler. The math behind it is simple and is `availableCpu` * 10 ( see https://github.com/reactor/reactor-core/blob/main/reactor-core/src/ma

[2021-12-27 18:36] ssalamov commented on #1960
@OlegDokuka I can provide memory dump - once have it will attach.

[2021-12-27 19:11] ssalamov commented on #1960
@OlegDokuka wanted to clarify your above comment about 1.6k threads. As we use xlarge instances in aws which is 16 cpu cores. So if 10 instances used during perf tests then it's matching 16 * 10 * 10 = 1.6K. It can be changed by instances count - auto scaling. I will try to use fixed thread pool instead elastic. Maybe instead availableCpu * 10 I can try with availableCpu * 5 = 80 in my case, not t

[2021-12-27 19:29] OlegDokuka commented on #1960
Makes sense. I was thinking it is a single instance. You may try both - decrease and measure as well as increase and see if issue was resolved

[2021-12-28 11:12] ssalamov commented on #1960
@OlegDokuka for now I share screenshot (I know it's nothing, but maybe it can lead us somewhere) from thread dump, but later if I allowed (for security purposes) will share thread and heap dump.  This time I tested with fixed thread pool (80 threads) in db repositories subscriptions.

<img width="1368" alt="Screenshot 2021-12-28 at 12 09 09" src="https://user-images.githubusercontent.com/39103746/

[2021-12-29 10:20] xiaochenri opened #1963 "How can I modify the netty child options like so_backlog"
link TcpServerBind

How can I modify the netty child options like so_backlog

[2022-01-03 09:28] violetagg commented on #1963
@xiaochenri Thanks for getting in touch, but it feels like this is a question that would be better suited to [Gitter](https://gitter.im/reactor/reactor-netty) or [Stack Overflow](https://stackoverflow.com/questions/tagged/reactor-netty). As mentioned in [README](https://github.com/reactor/reactor-netty/#getting-help), we prefer to use GitHub issues only for bugs and enhancements.

For this particu

[2022-01-03 09:28] #1963 closed

[2022-01-06 09:28] copbint commented on #752
Actually this answer is really misleading，there is nothing about SNIMatcher in client side, Set endpointIdentificationAlgorithm to null is the key point。
The code above works because of default value of SSLParameters.endpointIdentificationAlgorithm is null。

[code]

[2022-01-06 19:49] suki885 opened #1968 "Caused by: io.netty.channel.unix.Errors$NativeIoException: readAddress(..) failed: Connection reset by peer"
I am getting the below issue only in production environment.

[code]

[2022-01-06 23:56] haythamdahri opened #1969 "NimbusReactiveJwtDecoder bean not used to pass via proxy instead of default WebClient"
I have a NimbusReactiveJwtDecoder that is not used in OAuth2 flow to check token signature (**oauth2Login**).
The application must pass via a proxy to achieve the url in the server.
The custom webClient uses proxy to get access token but exception of timeout is thrown when trying to achieve jwk set uri.

## Expected Behavior

Custom WebClient with proxy must be used in NimbusReactiveJwtDecoder ins

[2022-01-07 00:01] #1969 closed

[2022-01-07 06:26] davidyangss commented on #1954
![image](https://user-images.githubusercontent.com/10388273/148501599-2d485cd7-8571-4e34-97c1-97783535634e.png)
This may be another factor。

[2022-01-07 07:47] haythamdahri commented on #1969
@violetagg Can you please explain what is the reason behind my issue?
I can't see the solution while you changed the status.

Thank you

[2022-01-07 07:57] violetagg commented on #1969
@haythamdahri You closed the issue.
Also Reactor Netty does not provide any functionality related to `@Bean`. At all I don't see how this is related to Reactor Netty project.

[2022-01-07 08:09] violetagg commented on #1968
@suki885 The provided stack trace doesn't have any Reactor Netty package in it. Closing the issue.

[2022-01-07 08:09] #1968 closed

[2022-01-10 03:34] ctlove0523 commented on #1959
@1ssqq1lxr can you post simple code to reproduct this issue?

[2022-01-10 11:25] koenpunt commented on #839
This does seem to work, but can maybe someone from the Netty or Spring team confirm that this is the recommended approach?

[2022-01-10 13:14] violetagg commented on #1960
@ssalamov Please provide some reproducible example.

[2022-01-10 13:55] violetagg commented on #1968
@suki885 Check this one https://projectreactor.io/docs/netty/release/reference/index.html#faq.connection-closed
It might help to resolve the connectivity issue.

[2022-01-10 19:32] ssalamov commented on #1960
Hello, @violetagg. Currently we are working to identify blocking parts in our system. We could fix some of them, but still there are some unknown stacktraces (block hound exceptions) which hard to identify where root cause can be. Where it's possible we do fixing blocking parts, where is not we schedule operation with boundedElastic() to avoid blocking operation in event loop. Sharing here some of

[2022-01-11 06:32] ramonli commented on #1913
Sorry for no response so long time...
I enabled the DEBUG level for whole application, and only found one more log for channel 'f0874115-2':
[code]

Also I attached a full log file of the application containing lines from `2022-01-11 11:22:49.738 java DEBUG [reactor-http-epoll-6] traceId reactor.netty.http.server.HttpServer  [f0874115-2, L:/10.32.48.164:9090 - R:/172.21.0.103:53005] FLUSH` to `202

[2022-01-11 06:33] ramonli commented on #1913
@violetagg

[2022-01-11 10:17] ssalamov commented on #1960
I guess above two exceptions coming from bounded elastic scheduler, so can we whitelist/ignore them? Or I miss something? Another one is happening inside EpollEventLoop which imo should be fixed. But we don't know where blocking code.

[2022-01-11 12:05] #1366 closed

[2022-01-11 13:49] djamalbida opened #1977 "WebClient maximum parallel connexions"
Hello,
I have an issue with the maximum number of simultaneous connections with WebClient.
I have a remote service that does not allow a big number of simultaneous  connections (i got an http response 429 TOO_MANY_REQUESTS)
For this reason, i want to configure a pool for waiting connections before sending them.
I tried several codes from StackOverflow (https://stackoverflow.com/questions/57673715/

[2022-01-11 19:54] violetagg commented on #1977
@djamalbida Thanks for getting in touch, but it feels like this is a question that would be better suited to [Gitter](https://gitter.im/reactor/reactor-netty) or [Stack Overflow](https://stackoverflow.com/questions/tagged/reactor-netty). As mentioned in [README](https://github.com/reactor/reactor-netty/#getting-help), we prefer to use GitHub issues only for bugs and enhancements.

For this particu

[2022-01-11 19:54] #1977 closed

[2022-01-12 03:35] tigersean opened #1978 "memory leak if webfiler return response, when client send headframe and dataframe in separated TCP packets"
## Expected Behavior

## Actual Behavior

When upgrade reacotr-netty to  > = 1.0.5,
  1.  Client send HTTP2  POST message with headframe and dataframe in separated TCP packets (like: jmeter plugin: Blazemeter-1.6.1)
![Screenshot from 2022-01-12 11-23-01](https://user-images.githubusercontent.com/7018121/149058333-5279284c-5b1a-47a7-bc9f-dca43a6b2539.png)

  2.  sprint-webflux's webfilter  return r

[2022-01-12 07:08] violetagg commented on #1978
@tigersean It seems that you can reproduce it. Please provide a reproducible example.

[2022-01-12 08:15] tigersean commented on #1978
That is test project : https://github.com/tigersean/webflux_test  and  webfilter.jmx is jmeter scripts.

5%--10% traffic can cause memory leak

[2022-01-12 09:37] djamalbida commented on #1977
Thank very much, for your answer.
I tried this code before but i got the same response from the server: 429 TOO_MANY_REQUESTS.
Here my code
[code]

After more inspections with Fiddler, it seems that the number of parallels active connections is OK

![timeline](https://user-images.githubusercontent.com/93727012/149109497-babafea8-f53a-444c-8cb9-c8015abd0a08.png)

I will check with the remote servic

[2022-01-12 13:42] 0835030377 commented on #764
Hi Guys

I am also struggling with this , and I read up the comments but I could not see the solution . Did anyone managed to explicitly close the webclient connection before its auto forced by remote server?

[2022-01-12 19:19] ryanrupp commented on #764
Hey all, just dropping some details about my experience with this. There's a handful of issues that relate to this issue that I dug up over time in the reactor-netty repo here, I think I will try to go through them and link my comment for visibility.

**Issue Details**

Specifically, the problem I was running into was the application (which uses reactor-netty) was being routed through an Azure loa

[2022-01-12 19:24] ryanrupp commented on #1764
For anyone that stumbles upon this, I ran into this issue specifically with Azure load balancers because the default load balancer settings do not send a close notification when idle timeout is hit. See more information [here](https://github.com/reactor/reactor-netty/issues/764) - ultimately I resolved this by configuring the `maxIdleTime` mentioned here. I wanted to use TCP keep-alive but it is n

[2022-01-12 19:48] siavashta opened #1982 "HTTP2 - Active Connections and Streams Leak when maxLifeTime is set for the ConnectionProvider"
The netty reactor does not shut down/reduce the active connections/streams when the max lifetime is reached. Hence, The active connections and active streams leak. Please note that the maxLifeTime and evictionInbackground are set.
It looks like MaxLifeTime is not respected.

## Expected Behavior
1-  When there is no request, we should see the active streams and active connection go back to 0.
2- W

[2022-01-15 20:03] MVishukumar commented on #640
I am facing getting below error.
Caused by: javax.net.ssl.SSLHandshakeException: No X509TrustManager implementation available

Can somebody please guide me on what mistake I might be doing, without yelling at me for commenting on an already closed issue?

[2022-01-17 08:19] JWood48 opened #1988 "HttpServerRequest.receiveForm() can't handle Content-Type application/x-www-form-urlencoded;charset=UTF-8"
`HttpServerRequest.receiveForm()` uses `HttpServerOperations.isFormUrlencoded()` to check if the content is `application/x-www-form-urlencoded` but uses an exact match eg: `HttpHeaderValues.APPLICATION_X_WWW_FORM_URLENCODED.contentEqualsIgnoreCase(contentType)` but i have a web page attaching charset to the content type (`;charset=UTF-8`) and it throws an exception instead:

```java.lang.IllegalSt

[2022-01-18 09:21] sebphil commented on #1940
fixed in #1989

[2022-01-19 09:25] JWood48 commented on #1988
Current workaround is to rewrite the Content-Type header before calling `req.receiveForm()`
[code]

[2022-01-19 10:07] raycoarana opened #1990 "Error when HttpServer is configured with HTTP/1.1 and HTTP/2 with an idleTimeout"
## Expected Behavior

Setup a HttpServer with both HTTP/1.1 and HTTP/2 support without SSL, when setting an idleTimeout, it should apply the
`IdleTimeoutHandler`.

## Actual Behavior

Requests fails due to be unable to add the `IdleTimeoutHandler` before the `reactor.left.httpCodec` as it does not exists.

[code]

Checking the code seems that it is wrapped inside `CleartextHttp2ServerUpgradeHandle

[2022-01-21 07:02] echozhangxiaomin commented on #1876
我也遇见了这个问题。

[2022-01-21 14:00] viniciusgati commented on #778
im using it like this

[code]

where is the problem? i have memory leak to.

[2022-01-21 15:31] gbhatia81 commented on #532
@violetagg I think it would help many people if we clearly document that for TCP connection, connections are not released back to pool. I understand the reason and it makes sense as well but since documentation was not clearly mentioning same, i had to spend many hours in code to figure out that that is the case. Documentation on contrary has a connection pool section within TCP client and this cr

[2022-01-24 09:31] violetagg commented on #532
@gbhatia81 Would you like to make a PR for the documentation?

[2022-01-24 12:35] violetagg commented on #1990
@raycoarana Would you like to create a PR?

[2022-01-24 12:57] raycoarana commented on #1990
I could do it, sure!

[2022-01-24 13:35] raycoarana commented on #1990
@violetagg done in #1994

[2022-01-24 15:48] stahmureszadeh-r7 commented on #1982
any update?

[2022-01-25 08:39] #1940 closed

[2022-01-25 08:47] #1990 closed

[2022-01-25 10:55] violetagg commented on #1959
@1ssqq1lxr I'm closing this one. We need more information in order to investigate further.

[2022-01-25 10:55] #1959 closed

[2022-01-25 14:16] OlegDokuka commented on #1960
Hi @ssalamov!

For not it seems that the issues are on the application side rather than on the reactor-netty side. Thus I'm closing this ticket. Feel free to reopen it once you have an example which reproduces/shows the problem

Best,
Oleh

[2022-01-25 14:16] #1960 closed

[2022-01-25 18:02] violetagg commented on #532
I updated the documentation. See #1999

[2022-01-26 11:13] violetagg commented on #1913
@ramonli

[code]

So `flush` was executed but the connection went to `writability changed` which means that the client wasn't able to consume the data at that moment.
What is this client? Can you check for issues on the client side?

[2022-01-26 11:36] #1988 closed

[2022-01-27 19:38] #1854 closed

[2022-01-28 16:05] DevYukine opened #2010 "PrematureCloseException when doing Multipart uploads to an Actix Server"
We currently have an Actix Server doing image manipulation and a Spring Webflux API which uses WebClient (which uses Reactor-Netty under the hood) to make a request to said Actix Server on certain routes.

Every now and then (approximately every ~10-20 requests) we get a 500 Response with the below mentioned error

After trying to google that Error nothing really seems to be our issue or help solv

[2022-01-29 09:22] ramonli commented on #1913
In my post,  the load test client is K6(0.35.0). I will try jmeter, and have a look what will happen. thansks.

[2022-01-30 02:24] ramonli commented on #1913
Seem that K6 got a problem when handle big response.

[2022-01-30 02:24] #1913 closed

[2022-01-30 08:30] violetagg commented on #1913
@ramonli Nice to see that you found the issue.

[2022-01-30 13:08] violetagg commented on #2010
@DevYukine
Obtain a [TCP dump](https://en.wikipedia.org/wiki/Tcpdump) and check which peer sends a FIN/RST signal.
You can find the client port from the exception e.g.

[code]

https://projectreactor.io/docs/netty/release/reference/index.html#faq.connection-closed

[2022-01-31 08:37] violetagg commented on #1982
I'm gonna work on this one.

[2022-01-31 09:33] violetagg commented on #1982
@stahmureszadeh-r7 Your test example uses Spring Boot 2.5.4. We have a known issue that we fixed 2-3 months ago. I updated the example to Spring Boot 2.5.9 and I do not see any issues. Can you verify that you are using the latest Spring Boot 2.5.x version.

[2022-01-31 09:37] violetagg commented on #1943
I'm gonna work on this one.

[2022-01-31 09:43] violetagg commented on #1801
@xiguayizu Do you still experience this issue?

[2022-01-31 18:50] rtonini-r7 commented on #1982
We upgraded the spring version to 2.5.9 but are still seeing strange metrics.  For example if we set loop count to infinite and number of threads to like 500 on jmeter we see the number of streams and number of active connections continuously increase.  I left it running for only about 5 min and active connections went from 50 to 110, similar for streams 540 to 658.

We are using openjdk 11.0.11 a

[2022-01-31 19:22] violetagg commented on #1982
@rtonini-r7 Here are the changes that I made to the provided example
https://github.com/violetagg/sia-h2/commit/525e4480116194d8616ed81a4e8a7ba5c5b02132

I have temurin-11.0.14, Mac OS, apache-jmeter-5.4.1

All the time while the test is running I'm seeing

http://localhost:8080/actuator/metrics/reactor.netty.connection.provider.active.connections

[code]

http://localhost:8080/actuator/metrics/re

[2022-01-31 21:43] violetagg commented on #1982
In the example the server limits the streams to 1 so there is one stream per connection at a time, so it behaves like http/1.1

https://github.com/violetagg/sia-h2/blob/525e4480116194d8616ed81a4e8a7ba5c5b02132/siaserver/src/main/java/com/example/siaserver/SiaserverApplication.java#L20

[2022-01-31 22:13] rtonini-r7 commented on #1982
We were using the branch `h2ConnAndStremLeak` https://github.com/violetagg/sia-h2/blob/h2ConnAndStremLeak/siaserver/src/main/java/com/example/siaserver/SiaserverApplication.java which sets 20 as default h2 streams on server.

We see this on client side logs
[code]

Also we still see active streams increase over time albiet slowly.  After a few minutes we saw the metric climb from 602 to 635 then f

[2022-02-01 14:42] #1978 closed

[2022-02-01 15:19] pderop commented on #1978
Hi @tigersean,

Could you give a try to the 1.0.16-SNAPSHOT ? it contains a candidate fix for your issue.
(and thanks again for your reproducer project, it helped a lot !)

[2022-02-02 07:35] violetagg commented on #1982
@siavashta @rtonini-r7 Thanks for the example and the explanation of the use case! I was able to reproduce it and prepared a fix #2014

[2022-02-02 10:00] #1982 closed

[2022-02-02 10:34] violetagg commented on #1982
@siavashta @rtonini-r7 The fix is available in 1.0.16-SNAPSHOT. If you are able to test it, it will be great.

[2022-02-02 15:10] stahmureszadeh-r7 commented on #1982
Thanks for the resolution. We will test it and let you guys know by end of the day tomorrow.

[2022-02-02 19:46] rtonini-r7 commented on #1982
@violetagg from initial testing looks like the active streams are now stable!

But I notice the active connections are still incredibly sporadic.  When we reach higher load like when jmeter is set to 500 threads and infinite loops, can sometimes be really high like 400+ as though we weren't using h2c.  I wonder if this is because we set a low `maxLifeTime` at 20s?

[2022-02-02 22:28] violetagg commented on #1982
@rtonini-r7 What is the configuration for max connections 100 or 500?

[2022-02-02 22:41] rtonini-r7 commented on #1982
I am using max connections 1000

[2022-02-03 09:06] violetagg commented on #1982
@rtonini-r7 Let me summarise the settings that you have (correct me if they are wrong)

- max connections 1000
- maxLifeTime 20s
- max streams 20

What happens:
1. At the beginning when you start the load test, you send **500** requests in **parallel**. (I don't know whether you have some ramp-up time or not)
2. The connection pool is empty. For **n** (up-to 500) of the initial parallel requests w

[2022-02-03 15:18] rtonini-r7 commented on #1982
Thanks for the clarification.  That makes sense.

[2022-02-04 10:19] pderop commented on #1954
Hi @davidyangss,

Thanks for sharing your sample app.

Are you using "ab"  intentionally ? This tool only supports HTTP/1.0 and I got a tons of TIME_WAIT sockets while loading your demo project.
Could you use another loader tool which supports HTTP/1.1 + keep alive, like wrk2, gatling, vegeta, or jmeter for example ?

let us know, thanks.

[2022-02-04 14:33] conet opened #2018 "HTTP/2 streams leak after new HTTP/2 pool implementation in 1.0.14"
We have a spring boot application doing a lot of HTTP/2 calls and once we upgraded to the version that brought in `reactor-netty:1.0.14` we noticed pool acquire timeouts after a few hours of operation. Reverting to `reactor-netty:1.0.13` fixed the problem so we started suspecting the new HTTP/2 connection implementation [released in 1.0.14](https://github.com/reactor/reactor-netty/releases/tag/v1.

[2022-02-04 15:31] pderop commented on #2018
Hi @conet ,

Thanks for your reproducer scenario, I tested it, but using latest 1.0.16-SNAPSHOT the problem is not reproduced anymore. It's most likely a duplicate of the PR #2014 which @violetagg just fixed very recently.

I'm closing this one, but feel free to reopen if necessary.

[2022-02-04 15:31] #2018 closed

[2022-02-05 03:10] davidyangss commented on #1954
Hi @pderop,

[2022-02-05 04:14] davidyangss commented on #1954
Hi, @pderop ,

1. intentionally?  no!  I use wrk2, the case must appear! I add wrk.sh to the repo "https://github.com/davidyangss/demo.git". "Created a new pooled channel" in one or two threads. According to my understanding, that should be evenly distributed among threads.  When I tested spring-cloud-gateway 3.1.0, I also found the same problem.
2. My English is poor, but I still want to describe

[2022-02-07 09:32] patpatpat123 opened #2022 "reactor.netty: java.lang.OutOfMemoryError: Java heap space"
Hello Reactor Netty Team,

I would like to report an issue if you allow me.
First, I would like to present the setup.

The server is a server using Spring Webflux 2.6.x
The clients, multiple of them, will send requests to this server, **at a fix rate**, **for long time**.
Meaning, there is no burst, no high and low, it is as simple as clients sending requests to the server using a Spring Webclient

[2022-02-07 10:19] violetagg commented on #2022
@patpatpat123 Most probably you use HTTP/2, is that correct?
If that's the case, can you try 1.0.16-SNAPSHOT because it might be this issue #1978.

[2022-02-07 11:51] patpatpat123 commented on #2022
Hello @violetagg,

Absolutely! I am indeed using HTTP/2.
Having a hard time understanding issue https://github.com/reactor/reactor-netty/issues/1978 but will follow your advise and give it a go with 1.0.16-SNAPSHOT and update here with the result.

Thank you again

[2022-02-07 16:09] #1943 closed

[2022-02-07 17:33] violetagg commented on #1943
@ebradshaw The fix is available in 1.0.16-SNAPSHOT. It will be great, if you can test it.

[2022-02-08 06:11] takaaki7 opened #2024 "UnixDomainSocket not work on OS X"
Using UnixDomainSocket on OS X causes IllegalArgumentException `Unsupported channel type: DomainSocketChannel`

## Actual Behavior
stack trace
[code]

Running with dependency `io.netty:netty-transport-native-kqueue:4.1.70.Final:osx-x86_64` also causes same exception.
`KQueue.isAvailable()` returns false because of the following UNAVAILABILITY_CAUSE.(I've debugged with debugger)
[code]

## Steps to

[2022-02-08 06:50] violetagg commented on #2024
@takaaki7 Unix domain sockets are supported only with the **native** transports: **Epoll** and **KQueue** so this exception is expected as you run with **NIO** transport.

[code]

For the exception below with KQueue, is it possible that you have some mismatch of the Netty binaries?
Reactor Netty 1.0.15 depends on Netty 4.1.72.Final while you add dependency to 4.1.70.Final (io.netty:netty-transport

[2022-02-08 07:00] violetagg commented on #2024
I think that your **netty-transport-native-unix-common** is a newer version as the stack trace above has a change made in 4.1.71.Final

https://github.com/netty/netty/commit/559c08555eea54582b24c7c52152f75b6dbb4301#diff-30da94238a2601ebdf45abc16f437ed9f8568d3d351aaba08dc79b814694e286

[2022-02-08 07:36] takaaki7 commented on #2024
Using 4.1.72.Final solves the problem!

With current settings(4.1.70.Final:osx-x86_64) `./gradle dependencies` shows only 4.1.70 and 4.1.72. I don't know why the stacktrace was different...

But anyway uds is now working. Thanks!

[2022-02-08 07:36] #2024 closed

[2022-02-08 07:39] violetagg commented on #2024
Nice you found the issue!

[2022-02-09 08:26] ssubbi opened #2028 "Spring WebClient ignores subscribeOn scheduler and still use main thread"
Looks to me Spring WebClient is ignoring bounded elastic scheduler that is used using subsribeOn method. It still runs the source emission in the main netty event loop thread.  publishOn correctly uses the bounded elastic scheduler thread

I have already reported to @violetagg in reactor-netty gitter forum
## Expected Behavior
For example

        Mono.just(1)
                .subscribeOn(Schedule

[2022-02-09 09:12] simonbasle commented on #2028
this is working as intended, as Spring/Reactor-Netty define their own thread from which the request will be fired and the response processed. So in effect, this is like putting a `subscribeOn` after a `publishOn`.
See https://spring.io/blog/2019/12/13/flight-of-the-flux-3-hopping-threads-and-schedulers (`What if I mix the two` section).

[2022-02-09 10:27] ssubbi commented on #2028
How is this putting subscribeOn after publishOn? it looks to me putting nothing in the chain. subscribeOn does not use bounded elastic thread pool thread at all whereas publishOn does in case of WebClient. So, are you saying publishOn does not use Spring/Reactor-Netty  owned thread but subscribeOn does? And also, when you say Spring/Reactor-Netty owned thread, you mean main event loop netty thread

[2022-02-09 15:36] #1954 closed

[2022-02-09 16:10] pderop commented on #1954
Hi @davidyangss,

Thanks for having insisted on this issue, I could finally reproduce well the issue using _vegeta_ tool. Now we have a fix available in the 1.0.16-SNAPSHOT, that would be nice if you could give it a try ?

[2022-02-09 18:06] simonbasle commented on #2028
The webclient uses its own thread model built on top of netty event loops, which is what I referred to as similar to having a publishOn above your own code (which includes subscribe On). And yes I mean reactor-netty-http-nio.

[2022-02-10 10:28] violetagg commented on #2022
@patpatpat123 That's good news! Thanks for testing it!

[2022-02-10 11:56] ssubbi commented on #2028
ok so publishOn does not use WebClient's own thread model? Thanks

[2022-02-11 08:01] violetagg commented on #2010
@DevYukine I'm closing this one, we can reopen it, if it is needed.

[2022-02-11 08:01] #2010 closed

[2022-02-11 08:01] violetagg commented on #1801
@xiguayizu I'm closing this one. We can reopen it, if it is needed.

[2022-02-11 08:17] DevYukine commented on #2010
@violetagg Hey sorry, i totally forgot about this 😅

I can provide a tcp dump but i can't read it myself (no idea whats going on there tbh), also might not be helpful but as the issue is not instantly there but every 3rd or 4th+ request the tcp dump would contain more than 1 request, unsure if this makes it worthless or not, if it does then i still provided a repo which 100% reproduces the issue f

[2022-02-11 17:12] marosivanco opened #2031 "Reactor netty connection pool drops for no (obvious) reason and hangs."
Reactor netty connection pool drops for no (obvious) reason. As a consequence, no new HTTP request can be made and the app just hangs.

![image](https://user-images.githubusercontent.com/9110470/153635806-38f44d0d-7320-4a4f-9103-3dea95f194b1.png)

We use these metrics to monitor the pool:
`reactor_netty_connection_provider_total_connections`
`reactor_netty_connection_provider_active_connections`
`

[2022-02-12 07:29] violetagg commented on #2010
@DevYukine I tried the provided example. On the Spring server I'm seeing this exception:

[code]

In the TCP dump I'm seeing that the Actix server is closing the connection:

![Screenshot 2022-02-12 at 9 22 28](https://user-images.githubusercontent.com/696661/153701594-47f5d0d8-f63c-4af8-bf2d-5ea6215d26f9.png)

[2022-02-12 14:07] leejegirl commented on #1828
@violetagg Hi, I have a question about this.
Is it occurred on below configuration.

`HttpClient httpClient = HttpClient.create()
                    .option(ChannelOption.SO_KEEPALIVE, true);

ReactorClientHttpConnector reactorClientHttpConnector = new ReactorClientHttpConnector(httpClient);

webClient = WebClient.builder().clientConnector(reactorClientHttpConnector).build();`

I just configured

[2022-02-14 14:33] pderop commented on #2031
Hi @marosivanco,

Can you provide more informations about the context of the issue (any logs ? any exceptions ? any tcp dumps ?) because at this stage, without any reproducer sample project that we can build and test, it's difficult to imagine what could cause the issue.

One other question: is the problem happening only with 1.0.15 version or also with previous versions ? Indeed, you said that th

[2022-02-14 17:59] trivedishalini commented on #1876
@violetagg , issue resolved after upgrading spring boot 2.5 ,netty-codec 4.1.69.Final, reactor-netty 1.0.12 , reactor-core 3.4.11 .
thanks for suggestion.

[2022-02-15 04:35] DevYukine commented on #2010
@violetagg Hey thanks for taking a look, what does that exactly mean? and why does this not happen on other http clients i'm using? (i switched out netty fully for my multipart upload which fixed the issue but i would love to use the reactive spring client for everything ofc)

If this is an actix issue, should i report this to the Actix devs or is this an configration issue? im sorry but your repl

[2022-02-15 07:10] violetagg commented on #2010
@DevYukine

The TCP dump above shows that Actix server closes the connection

I cannot comment on this

[2022-02-15 07:21] DevYukine commented on #2010
@violetagg this still doesn't really help me, how comes other http libraries work as expected while reactive spring client (using netty under the hood) doesn't? (currently switched to okhttp), i'm only getting it on multipart as well while not getting any issues for json based requests (using the same actix server), i really can't see how this is not a netty issue 🤔

[2022-02-15 07:28] violetagg commented on #2010
@DevYukine Spring WebClient multipart implementation in not provided by Reactor Netty/Netty but by Spring Framework.

[2022-02-15 16:37] marosivanco commented on #2031
Hi @pderop,

I realize there is not much I provide for targeting the issue.
The logs contain no error/exception at the time. I deduced that the webclient hangs because I see log records "I am going to make a webClient call" but no record "Finished".

The instance makes 2 - 3M requests for the issue to manifest. The hanging can be caused by erroneous server or a network infrastructure. I doubt the

[2022-02-16 08:25] marosivanco commented on #2031
@pderop, @violetagg, could you please point me to the place where is the pool resize logic located? (class/module/project) I am kind of lost in the reactor-* sources...

[2022-02-16 08:38] violetagg commented on #2031
@marosivanco I'm seeing that you configured the client for HTTP/2.

For Reactor Netty version **< 1.0.14** we use the standard Reactor Pool implementation https://github.com/reactor/reactor-pool/blob/main/src/main/java/reactor/pool/SimpleDequePool.java
with allocation strategy https://github.com/reactor/reactor-pool/blob/edc56c0518575e069839b43a1364a84c9edcc95f/src/main/java/reactor/pool/Allocatio

[2022-02-16 20:39] Shaphan commented on #1982
Howdy! Is the issue only scoped to HTTP/2? Should I have any concerns about using max connection lifetime with HTTP/1.1 and versions of reactor-netty earlier than 1.0.16 in the light of this issue?

[2022-02-17 06:47] violetagg commented on #1982
@Shaphan This issue is related only yo HTTP/2

[2022-02-17 13:41] Shaphan commented on #1982
Thanks for the confirmation!

[2022-02-18 13:15] mocanuMatei opened #2044 "Netty .wireTap() exclude certain headers"
Hi guys,

I log the request body for every webClient request via Netty wiretap. But how can I exclude certain headers from logging? Some endpoints need Basic auth and therefor the plain passwords will be logged in production by Netty wiretap.
Here is my HttpClient configuration:

HttpClient httpClient = HttpClient
      .create()
      .wiretap("reactor.netty.http.client.HttpClient",

[2022-02-19 23:48] lkgamor commented on #1217
@igr I had the same issue that I kept battling with for 5 days wondering what exactly I had done wrong after a new feature deployment. I finally had my Eureka moment.

So in my *Dockerfile* I had exposed the default port *8080*.

[![enter image description here][1]][1]
Which meant the tomcat server in my application image would always be available on that port. My container also had to be running

[2022-02-21 09:50] violetagg commented on #2044
@mocanuMatei `wiretap` functionality in Reactor Netty is protocol agnostic and we cannot provide any filtering for HTTP headers. Also we do not recommend enabling `wiretap` in production (especially logging the incoming/outgoing data that might be huge).
You can provide your own `LoggingHandler` that handle your use case. You can add this handler using the same API as in the example above for `Rea

[2022-02-21 09:50] #2044 closed

[2022-02-22 02:46] glennosss opened #2046 "WebTransport Support"
## What is WebTransport?

WebTransport is 'QUIC-native' client-server communication protocol to replace websockets.
It provides modern javascript API designed with web developers in mind; see https://web.dev/webtransport/

Supported since Chrome 97 (released 4 Jan 2022) - https://chromestatus.com/feature/4854144902889472
No firefox or safari support yet, but looks like firefox is in the process of

[2022-02-22 06:56] violetagg commented on #2046
@glennosss I'm adding this to the `General Backlog`. Once we have support in Netty, we can discuss in which Reactor Netty version this feature can be added.

[2022-02-22 18:49] PyAntony commented on #1222
Hi,

I've been trying to understand (for days) the distinction between "connection pool", which defaults to 500, and "maxConnections", which defaults to 2 * N processors. I thought I understood, but after reading this thread clearly I don't. Can someone please explain the difference to me?

Documentation states a max connection pool of 500, with up to 1000 connections in "pending" state. then it s

[2022-02-22 18:53] PyAntony opened #2052 "what is the difference between connection pool and "maxConnections"?"
Hi,

I've been trying to understand (for days) the distinction between "connection pool", which defaults to 500, and "maxConnections", which defaults to 2 * N processors. I thought I understood, but after reading this thread (#1222) clearly I don't. Can someone please explain the difference to me?

Documentation states a max connection pool of 500, with up to 1000 connections in "pending" state. t

[2022-02-23 09:24] violetagg commented on #2052
@PyAntony Thanks for getting in touch, but it feels like this is a question that would be better suited to [Gitter](https://gitter.im/reactor/reactor-netty) or [Stack Overflow](https://stackoverflow.com/questions/tagged/reactor-netty). As mentioned in [README](https://github.com/reactor/reactor-netty/#getting-help), we prefer to use GitHub issues only for bugs and enhancements.

For this particula

[2022-02-23 09:24] #2052 closed

[2022-02-23 09:26] violetagg commented on #1222
I replied here
https://github.com/reactor/reactor-netty/issues/2052#issuecomment-1048586578

[2022-02-23 12:00] marosivanco commented on #2031
Happened again few days ago. The 1.0.16 patch contains lot of HTTP2 changes, I home some of them will help. Updated JDK, spring-boot, reactor core and netty.
### Environment Update
JVM: OpenJDK 64-Bit Server VM (17.0.1+12, mixed mode, sharing)
Java: version 17.0.1, vendor Red Hat, Inc.
reactor-core@3.4.**15**
reactor-netty-core@1.0.**16**
reactor-netty-http@1.0.**16**

[2022-02-23 21:32] PyAntony commented on #2052
Thank you for the explanation, and sorry for asking here. It is clear now. I think this is not understandable from the documentation alone (https://projectreactor.io/docs/netty/release/reference/index.html#_connection_pool_2). Would it be possible to add a couple of sentences to documentation to clear this confusion?

[2022-02-24 07:02] violetagg commented on #2052
@PyAntony Would you like to provide a PR for a change in the documentation?

[2022-02-25 07:41] PyAntony commented on #2052
Sure, I'll prepare that. Thank you!

[2022-02-25 07:55] xishian opened #2058 "[Request For Documentation ] Handling request body in HttpServer is a little brief"
## Motivation

https://projectreactor.io/docs/netty/release/reference/index.html#_consuming_data_3

The section of Consuming data is too short. For example, how can I throw an exception when the request body is empty?

Sorry, I search on google and stackoverflow many times, but nothing found, so I open an issue.

## Desired solution

Provide more detailed documentation or examples  about handing t

[2022-02-25 18:09] pderop commented on #2058
Hi @xishian,

You can do what you want using the _reactor-core_ API. Now _reactor-netty_ project is an extension of the _reactor-core_ API on top of netty, that's why we only provide informations related to reactor-netty API, and for general documentation regarding reactor-core, you can refer to the [reference documentation](https://projectreactor.io/docs/core/release/reference/index.html#getting)

[2022-02-25 18:10] pderop commented on #2058
I'm closing this one, feel free to reopen if needed.

[2022-02-25 18:10] #2058 closed

[2022-02-28 12:35] hamadodene commented on #1828
We have the same issue:
https://github.com/diennea/carapaceproxy/blob/master/carapace-server/src/main/java/org/carapaceproxy/core/Listeners.java
Do we have a workaround to fix this problem?
[code]

[2022-02-28 13:00] violetagg commented on #1828
@hamadodene Your issue is not the same because it happens on the server.
This issue is related to connection reuse on the client (connection pooling)
Please open a new issue where we will investigate your use case. Please provide reproducible example.

[2022-02-28 16:17] hamadodene opened #2061 "Netty OutOfDirectMemoryError: failed to allocate direct memory"
reactor version: 1.0.15

We are experiencing several OOMs in our production system.
Looking at the direct memory graphs we see that direct memory never seems to decline but always increases.

We have a direct memory allocated of about 14gb. We have 10gb dedicated to a cache (separated from reactor-netty).
We expected that for the netty it would use the remaining , but that the memory management wo

[2022-02-28 16:20] hamadodene commented on #2061
Another note is that we already have a limitation on the use of direct cache (set to 10gb).
During the OOM, we see that the cache was using max 6gb:

![image](https://user-images.githubusercontent.com/43852233/156018882-85cf3cff-e036-4fed-892f-badbc2e3dd1d.png)

[2022-03-01 10:09] hamadodene commented on #2061
Does someone have some info to debug and fix this issue?

[2022-03-02 14:33] pderop commented on #2061
Another thing which I forgot to mention: when buffers are allocated outside of netty event loops, a lot of memory is used because by default, netty uses a thread local cache for all threads. In this case (when buffers may be allocated/released outside of event loops), then setting the following system property to false may reduce memory usage:

-Dio.netty.allocator.useCacheForAllThreads=false

Set

[2022-03-03 08:45] hamadodene commented on #2061
Thanks @pderop  for the info. the problem occurred in the production environment. We have reverted to the previous version of our application.
We are therefore trying to reproduce the problem in a development environment.
However, we did analyze the dumps that we were able to do. While non-heap memory is not included, we have seen that there are a lot of DefaultChannelHandlerContext:

![image](htt

[2022-03-03 16:30] IvanoAgosta76 opened #2067 "reactor.netty.http.client.PrematureCloseException: Connection prematurely closed BEFORE response"
Hi,
we have a gateway project build by jhipster 7.6.0. We have developped more microservices registering in registry application configured in api gateway. We tested microservices using postman. On developm environment all works fine. In T&I environment where we use a kubernetes nodes the gateway is not able to connect to any microservices.
We obtain folloging error:

[code]

## Expected Behavior

[2022-03-03 16:54] pderop commented on #2067
Hi @IvanoAgosta76,

Did you already have a look at the reactor-netty [connection closed FAQ](https://projectreactor.io/docs/netty/release/reference/index.html#faq.connection-closed) ? There are a lot of hints in the FAQ which may help you to investigate the problem.

let us know.

[2022-03-04 05:58] leejegirl commented on #1828
Hi,
Could you share the release schedule for this issue?

[2022-03-04 07:41] jakshay21 opened #2068 "HttpRequest coming as null resulting in java.lang.IllegalStateException: request not parsed while accessing requestHeaders"
Running reactor-netty-http:1.0.2 resulting in below error intermittently.
Any suggestions?
`[logLevel=ERROR] -- 2022-01-27 09:10:20,462 -0800 -- reactor-http-epoll-14              reactor.netty.transport.ServerTransport -- [id: 0x2a948acc, L:/10.187.155.25:40018 ! R:/17.8.71.183:34978] onUncaughtException(SimpleConnection{channel=[id: 0x2a948acc, L:/10.187.155.25:40018 ! R:/17.8.71.183:34978]})
ja

[2022-03-04 08:18] violetagg commented on #2068
@jakshay21 Version 1.0.2 is too old. Please upgrade and test again.

[2022-03-04 08:23] violetagg commented on #1828
@leejegirl We will try for 1.0.17 but most probably 1.0.18.

If somebody wants to provide a PR with the fix, I'll be able to review it.

[2022-03-04 08:31] leejegirl commented on #1828
@violetagg
Sorry, I'm just waiting the fixed version because I don't have any resource and idea for this issue.

[2022-03-06 23:21] raananaka opened #2072 "Spring Boot WebClient ProxyConnectException"
Hi all,

The problem is very simple, while using a proxy with restTemplate all working as expected, however, WebClient is refusing to get the required outcome.

**Exception Details:**
`Caused by: io.netty.handler.proxy.ProxyConnectException: http, basic, xxx.xxx.com/xx.x.xx.xx:2000 => xx.xx.com/<unresolved>:443, disconnected`

more.........

[code]

**Code**
The code is tested with non proxy and w

[2022-03-07 02:55] raananaka commented on #2072
OK, made some progress, changed the proxy url and using the IP address. it is working, however, getting a few SSL Handshake exception.

[2022-03-07 03:15] raananaka commented on #2072
Changing to an IP address solved the issue, not sure if you guys can replicate the issue using a proxy.

[2022-03-07 07:50] leejegirl commented on #1828
@violetagg, I have a question.
How to use the 'HttpClient.newConnection()'?
Is below code right?

[code]

[2022-03-07 08:29] violetagg commented on #1828
@leejegirl It is described here https://projectreactor.io/docs/netty/release/reference/index.html#_connection_pool_2

`HttpClient.newConnection()`

[2022-03-07 08:38] leejegirl commented on #1828
@violetagg Are they right?
[code]
and
[code]

[2022-03-07 08:52] leejegirl commented on #1828
Im being confused by sample of https://projectreactor.io/docs/netty/release/reference/index.html#_connection_pool_2

[2022-03-07 09:38] violetagg commented on #1828
@leejegirl How can we improve the documentation so that it is less confusing?

[2022-03-07 09:44] violetagg commented on #1828
yep

yep

Please tell me the concrete use case that you have for `SO_KEEPALIVE`
You can find more about this option here https://projectreactor.io/docs/netty/release/reference/index.html#connection-timeout
Do you expect a network component that drops silently the connection?

yep

[2022-03-07 09:45] leejegirl commented on #1828
I suggest to be added the sample for multi http request because I confused that I need to make HttpClient and create WebClient instance for each http request or not.

[2022-03-07 09:46] violetagg commented on #1828
@leejegirl Do you want to provide a PR?

[2022-03-07 09:47] leejegirl commented on #1828
No, I don't ^^

[2022-03-07 10:57] #2068 closed

[2022-03-07 15:10] hamadodene commented on #2061
@pderop
We have set up the new metrics and we see that reactor netty's direct memory allocator is always growing.
We're trying to figure out if it's a bug on our side.
The system properties to detect the leak detection is not logging anything in our case.
useCache For All Threads = false also did not have a positive impact.

![image](https://user-images.githubusercontent.com/43852233/157060487-818

[2022-03-07 16:24] jakshay21 commented on #2068
Thanks @violetagg for the quick resolution

[2022-03-07 19:13] violetagg commented on #2072
@raananaka I've edited your comment to improve the formatting.

Can you provide us an example for `globalAPIConfig.getApiProxyProxyUrl()`?

[2022-03-07 19:20] violetagg commented on #2067
@IvanoAgosta76 I've edited your comment to improve the formatting. You might want to check out this [Mastering Markdown guide](https://guides.github.com/features/mastering-markdown/) for future reference.

[2022-03-07 23:57] raananaka commented on #2072
Thank you for your help,

**RestTemplate**

`@Bean
	RestTemplate restTemplate() {

		final String PROXY_USER = environment.getProperty("rest.api.proxy.username", String.class);
		final String PROXY_PASSWORD = environment.getProperty("rest.api.proxy.password", String.class);
		final String PROXY_HOST = environment.getProperty("rest.api.proxy.proxyUrl", String.class);
		final int PROXY_PORT = enviro

[2022-03-08 06:42] crankydillo commented on #1808
Hello.  Just wanted to touch base on this.  It looks like it's not a high priority for you, but it currently still is for us.  What do you think about us making a contribution?  Overly difficult?  We know reactor-pool has a minimum-resource type of concept?  I tried a quick hack to make the underlying pool have a minimum size (even though I know you have checks like [this](https://github.com/react

[2022-03-08 06:45] violetagg commented on #1808
@crankydillo Let me schedule this for 1.0.18. We won't be able to work on this for 1.0.17 (release is next next week). Is that OK?
I'll take a look at the provided link later this week.

[2022-03-08 07:34] violetagg commented on #1828
@leejegirl I prepared a PR #2082 for extending the documentation with your suggestion. Please take a look.

[2022-03-08 08:23] mgeissen commented on #2031
We can confirm this issue for our service with reactor-netty version **1.0.16**. We found out that the total connection size is decreasing over time until it drops to zero.
![total-connections](https://user-images.githubusercontent.com/23026722/157191268-94db33df-0efd-4639-aed3-f0e9ddfe0625.png)
Note: The vertical markers in the graph are deployments or autoscaling events.

Our webclient is execut

[2022-03-08 11:17] violetagg commented on #2072
@raananaka Is it possible to provide a tcpdump from the communication with the proxy when you DO NOT use IP?

[2022-03-08 11:20] violetagg commented on #2031
@mgeissen Do you observe exceptions in the logs?

[2022-03-08 14:36] raycoarana opened #2083 "Error when HttpServer is configured with HTTP/1.1 and HTTP/2 with an idleTimeout and client only supports HTTP/1.1"
## Expected Behavior
Having a HttpServer configured with HTTP/1.1 and HTTP/2 with an idleTimeout, when client only supports HTTP/1.1, a request should complete correctly.

## Actual Behavior
After the fix of the issue #1990, we have a new issue in the case that in the same scenario but with a client that only supports HTTP/1.1, server fails after the request is completed when tries to attach a new

[2022-03-08 14:48] mgeissen commented on #2031
@violetagg The only exception during the time (round about 150 times) of the graph is the following:
[code]

We do not have a stacktrace for this exception in our logs.

[2022-03-08 14:55] violetagg commented on #2031
@mgeissen That's very strange. You run with ERROR loge level or you have some additional logs, for example logs from `Http2ConnectionProvider`.

[2022-03-08 16:27] violetagg commented on #1952
Context propagation is still in progress #2051

[2022-03-08 20:19] crankydillo commented on #1808
Thank you Violeta.  I'm pretty sure I know the answer, but just in case..  Will you be able to consider a PR targeting 1.0.17?

[2022-03-08 21:06] violetagg commented on #1808
I'll be able to review a PR

[2022-03-08 23:55] glennosss opened #2086 "TLS Encrypted Client Hello (ECH)"
Add support for ECH when Netty supports - for more information see: https://github.com/netty/netty-incubator-codec-http3/issues/190

[2022-03-09 04:31] raananaka commented on #2072
cpdump.pcapn
[tcpdump.pcapng.zip](https://github.com/reactor/reactor-netty/files/8211684/tcpdump.pcapng.zip)
g

[2022-03-09 06:59] violetagg commented on #2086
@glennosss I see the issue is opened for Netty HTTP/3 codec. This feature request is for Reactor Netty HTTP/3 support, isn't it?

[2022-03-09 07:01] violetagg commented on #2083
@raycoarana I'll take a look at the PR

[2022-03-09 07:48] Kryptonian-C opened #2088 "DNS name resolution taking a lot of time in windows. The same works fine with MacOS"
I was building a Simple webflux application using netty but the DNS resolution is taking a lot of time almost 1min for the 1st request in windows. The same happens in 1second on MacOs and Linux.

Below are the logs.

[code]

When doing the same with MacOS only one Write request get's triggered instead the above 10.

I reproduced the same using below piece of code.

[code]

Java Version : openjdk 1

[2022-03-09 07:58] violetagg commented on #2088
@Kryptonian-C Thanks for getting in touch, but the reproducible code above involves only Netty code. Could you please report this issue to Netty project (https://github.com/netty/netty)?

I've edited your comment to improve the formatting. You might want to check out this [Mastering Markdown guide](https://guides.github.com/features/mastering-markdown/) for future reference.

[2022-03-09 07:58] #2088 closed

[2022-03-09 08:09] Kryptonian-C commented on #2088
Thanks @violetagg.

But I am getting the same behaviour with reactor-netty using webflux.

Below is the dependency of webflux and Spring parent

[code]

The okta config I am having.

[code]

Now when I send a request from postman I see the same issue on windows.

[2022-03-09 08:11] violetagg commented on #2088
@Kryptonian-C I understand you confusion. Reactor Netty is built on top of Netty so sometimes the issues are in Netty and not Reactor Netty.

[2022-03-09 08:19] Kryptonian-C commented on #2088
Understood. Thanks a lot for explaining. Have raised a issue in netty.

https://github.com/netty/netty/issues/12153

[2022-03-09 08:28] glennosss commented on #2086
Encrypted Client Hello (ECH) is applicable to TLS 1.3 (and all future version of TLS) - as such, it's applicable to HTTP/1.1, HTTP/2 and HTTP/3. I probably shouldn't have opened the issue against the Netty HTTP/3 codec, but I thought that's probably where the most active development was.

So technically this is a request for eventual Reactor Netty HTTP/1.1/2/3 support.

My apologies if I've raised

[2022-03-09 08:33] violetagg commented on #2086
So may be the feature request above should be for Netty project (not only HTTP/3 codec) https://github.com/netty/netty

I'm adding this to General Backlog, once we have a solution in Netty we can discuss with which version we can provide something.

[2022-03-09 08:46] mgeissen commented on #2031
@violetagg There is exactly one exception (at the time of the drop to zero for one of the instances). But we had three instances and the connections drops for every instance to zero. It sounds a little bit strange that one exception leads to errors on all instances. But apart of that there is no more exception in our logs from netty.
[code]

[2022-03-09 12:01] Zakhar-Petrov commented on #1868
Hi, @IreneGhafari-TomTom! Could you please share which proxy issue caused such behaviour in your case?

[2022-03-09 14:15] SurelySomeday opened #2089 "netty send fin before response. error message: Connection closed DURING response"
I use netty as a gateway proxy to access the background service, and the interface of this service will delay the return of data, if the data is read within 15 seconds, the data will be returned, and if there is no data in 15 seconds, it will directly return a success ID. In a real scenario, a large number of requests will return in 15 seconds. Originally, there would be a lot of "Connection close

[2022-03-09 19:28] #2083 closed

[2022-03-10 08:07] violetagg commented on #2031
@mgeissen Based on the issue description, code review and the exception above I will prepare a fix that will be included in the release next week. However without any reproducible example I can't say whether this fix will solve your issue. You will need to test the release from next week.

[2022-03-10 11:26] pderop commented on #2061
Hi @hamadodene ,

so let's summarize:

- using the memory leak detector (from [memory leak faq](https://projectreactor.io/docs/netty/release/reference/index.html#faq.memory-leaks) and [netty Reference counted objects link referenced in our faq](https://github.com/netty/netty/wiki/Reference-counted-objects)), you did not observe any traces (I assume that you used the PARANOID leak level detection)

[2022-03-10 13:14] violetagg commented on #2072
So this is a tcpdump from a working proxy?

[2022-03-10 13:37] SurelySomeday commented on #2089
@violetagg  First of all thank you for replying to my question. Sorry, since the accessing background service can not provide sample code for the time being, it is impossible to construct a perfect sample to reproduce, and then try to communicate with them to obtain the corresponding code to help reproduce the exception. After closing pool, no problems have been found so far. As for the "RST" on t

[2022-03-10 13:57] kiranmaiem opened #2094 "Is there a feature to enable message copy for auditing purpose in netty server"
Hi,

Our project has a requirement to copy incoming and outgoing HTTP2 messages (Header and Data frames) to a different TCP server for future auditing purpose.

Wondering if there is any feature in reactor netty server we can use to achieve this functionality.

[2022-03-10 22:06] raananaka commented on #2072
yes it is

[2022-03-11 00:04] glennosss opened #2095 "[Minor bug] "protocol(HttpProtocol.H2C)" doesn't work with ".idleTimeout(...)""
This works;
[code]

But uncomment `.idleTimeout(Duration.ofMinutes(2))` and you get this exception when connecting;
[code]

Problem seems to be in `reactor.netty.http.server.HttpTrafficHandler$IdleTimeoutHandler.addIdleTimeoutHandler`

Only encountered this because I thought I could start using 'h2c' in my dev environment, before finding out no browser actually supports it! :joy:

[2022-03-11 01:28] CleverChuk opened #2096 "Make no assumption of the threading context"
This [line ](https://github.com/reactor/reactor-netty/blob/37768027aaf14830f1b166a6f76cd908ccfd082c/reactor-netty-core/src/main/java/reactor/netty/channel/FluxReceive.java#L283) assumes that  line 279 continues on the same thread. However that is not always true and results in the buffer being released before the user code could process it.

## Motivation

This is a pretty bad assumption because o

[2022-03-11 05:18] glennosss commented on #2095
Whoops this is a duplicate of https://github.com/reactor/reactor-netty/issues/2083

[2022-03-11 06:24] violetagg commented on #2095
@glennosss yep the fix will be available with version 1.0.17

[2022-03-11 06:24] #2095 closed

[2022-03-11 06:46] violetagg commented on #2096
@CleverChuk If you `retain` the buffer in `onNext` event, you should be able to continue to use the `ByteBuf`. Did you try that?

[2022-03-11 07:05] violetagg commented on #2072
@raananaka It seems something related to your infrastructure ... Closing the issue.

[2022-03-11 07:05] #2072 closed

[2022-03-11 07:15] violetagg commented on #2094
@kiranmaiem There is no such feature, but this can be achieved with the current APIs that Reactor Netty provides depending on whether you want to copy the raw data or the HTTP data.
Let's keep the discussions around Reactor Netty APIs in the corresponding channels: [Gitter](https://gitter.im/reactor/reactor-netty) for real time discussions with the community and [Stack Overflow](https://stackoverf

[2022-03-11 07:15] #2094 closed

[2022-03-11 07:21] violetagg commented on #2089
@SurelySomeday Without having a proper description/code of the use case it is hart to guess just based on tcp dumps.

Can you elaborate more on this?

[2022-03-11 07:27] SurelySomeday commented on #2089
@violetagg  Sorry, I mean that there were some problems in the process of translating "connection". It is true that it is difficult to find the problem if it cannot be reproduced, and you can close the problem first. If I get a code that can be reproduced, I'll ask you again. Thank you.

[2022-03-11 07:31] violetagg commented on #2089
@SurelySomeday While you are investigating the issue if you need some help you can use [Gitter](https://gitter.im/reactor/reactor-netty) for real time discussions with the community.
Let me close this for now, we can reopen it at any time.

[2022-03-11 07:31] #2089 closed

[2022-03-11 15:44] hamadodene commented on #2061
@pderop

1. can you tell us more about your use case ?
We use reactor netty within our open source Carapace Proxy project. Carapace is a distributed reverse proxy written in java. The repo: https://github.com/diennea/carapaceproxy

2. if the max used direct memory is reached, are you sure it's a memory leak ? i mean, maybe you just need more memory ?
Using leak detection nothing has emerged, so it

[2022-03-11 18:11] pderop commented on #2061
hi @hamadodene,

so, i assume here that when the chunk is evicted by the cache, then chunk.release() will be called, right ?

in this case, if you store in the cache a retained copy like:
[code]
then if I'm correct, I think the chunk can't be released when you call "chunk.release", because you have first copied it, second you have retained it, and that's probably the cause of the memory leak. Doin

[2022-03-11 18:11] pderop commented on #2061
I'm closing this issue, please reopen it if necessary !
thanks.

[2022-03-11 18:11] #2061 closed

[2022-03-11 21:15] CleverChuk commented on #2096
That throws  [IllegalReferenceCountException](https://github.com/netty/netty/blob/d34212439068091bcec29a8fad4df82f0a82c638/common/src/main/java/io/netty/util/internal/ReferenceCountUpdater.java#L123)

[2022-03-11 22:16] hamadodene commented on #2061
@pderop

All clear. The only thing that is not very clear to me is how to limit the direct used by netty.
That is, if I configure XX-MaxDirectMemorySize = 14g and I want netty to use a maximum of 7gb, is this possible?
I saw that there is the sys prop io.netty.maxDirectMemory. I'll try to figure out if it's right for us or if I need to set other sys props.

As for doing chunk.copy() only, we notic

[2022-03-14 03:59] glennosss opened #2101 "Cipher order isn't respected when using 'netty-tcnative-boringssl-static'"
Cipher order is respected for `SslProvider.JDK`, however when we use the `SslProvider.OPENSSL` provider with `netty-tcnative-boringssl-static` then the client order is still followed. Then can be seen very easily using [wireshark](https://www.wireshark.org/).

Example code;
[code]

The relevant BoringSSL code is I believe: https://boringssl.googlesource.com/boringssl/+/refs/heads/chromium-stable/s

[2022-03-14 04:19] glennosss commented on #2101
For those who are interested, Chrome presently sends the following ciphers in the `ClientHello`;
[code]

When using the source code above (which specified `TLS_AES_256_GCM_SHA384` first), we expect the server to select the `TLS_AES_256_GCM_SHA384` cipher. However when looking at the `ServerHello` response, only SslProvider.JDK does this. SslProvider.OPENSSL with 'netty-tcnative-boringssl-static' w

[2022-03-14 05:44] glennosss commented on #2101
My performance testing shows;

- HTTP/2 is faster than HTTP/1.1 (sometimes as much as twice as fast)
- AES is 3 times faster than CHACHA20_POLY1305 on servers (i.e. non-mobile devices)
- **_However importantly:_** Java 17 (SslProvider.JDK) and BoringSSL (SslProvider.OPENSSL) are roughly equivalent in terms of performance.

Kind of seems like it doesn't make much of a difference any more? (since Ja

[2022-03-15 04:27] leejegirl commented on #1828
@violetagg It's better. Thanks.

[2022-03-15 07:18] violetagg commented on #2096
@CleverChuk Can you please provide an example?

[2022-03-15 07:20] violetagg commented on #2067
@IvanoAgosta76 I'm closing this one. If you have more information about the problem, we can reopen it.

[2022-03-15 07:20] #2067 closed

[2022-03-15 07:22] violetagg commented on #2101
@glennosss Can you specify the Reactor Netty issue?

[2022-03-15 09:30] pderop commented on #2061
Hi @hamadodene ,

I don't know about your last question, but I double checked the _io.netty.maxDirectMemory_, and indeed, it sounds like this property is what you need: this property seems to take precedence over the MaxDirectMemorySize. So, if you set io.netty.maxDirectMemory, then it will be used instead of the MaxDirectMemorySize.

See [this](https://github.com/netty/netty/blob/4.1/common/src/m

[2022-03-15 14:00] CleverChuk commented on #2096
@violetagg
Hope this helps
[code]

[2022-03-16 07:52] violetagg commented on #2096
@CleverChuk Do you think the code below will work for your use case? Please note that `doOnNext` is considered a side-effect operator and you should use it only for logging etc.

[code]

[2022-03-16 16:32] #1952 closed

[2022-03-17 00:18] CleverChuk commented on #2096
@violetagg
Yes, that would do it thanks. Also, thanks for pointing out the doOnNext misuse.

[2022-03-17 00:18] #2096 closed

[2022-03-18 19:13] hennr opened #2111 "AccessLog's logger name does not match fully qualified name of the class"
I was a bit confused to see, that I couldn't jump for my logback config in my IDE to the AccessLog class while I configured it like this:

    <logger name="reactor.netty.http.server.AccessLog" level="INFO" additivity="false">
        <appender-ref ref="async"/>
    </logger>

(as described in the docs here: https://cloud.spring.io/spring-cloud-gateway/multi/multi__reactor_netty_access_logs.html)

[2022-03-19 21:44] hennr commented on #2111
@aneveu Do you remember anything about this logger's name per chance?

[2022-03-21 07:11] violetagg commented on #2111
@hennr The logger name is intentionally not following the package for the class.

[2022-03-21 07:11] #2111 closed

[2022-03-21 09:18] mhmdsalem1993 opened #2113 "java.util.NoSuchElementException: Context does not contain key: callereventloop"
I’ve got this error when using netty HttpClient with Spring WebClient
java.util.NoSuchElementException: Context does not contain key: callereventloop

## Expected Behavior
Not to have this error
## Actual Behavior
we got it multiple times

## Steps to Reproduce

httpClient creation part and this exception is logged with the method below

[code]

Propgated to be wrapped by this exception too

[code

[2022-03-21 10:17] mhmdsalem1993 opened #2114 "Memory leak when using Netty and webflux"
Recently we migrated to Webflux with netty and we started to see some memory leaks
Maybe its not a netty issue but the way we are using it that causes the memory leaks

The problem is that we are having more than 60 webclients in the application (Api Gateway (Backend for frontend))
And we are unable to know which one is causing it so i thought you might help me with this one
We have these types of

[2022-03-21 12:03] violetagg commented on #2114
@mhmdsalem1993 The logger that you are using is not correct: instead of `logging.level.reactor.netty.channel.FluxReceive=debug` you need `_reactor.netty.channel.LeakDetection=debug`
Check this documentation https://projectreactor.io/docs/netty/release/reference/index.html#faq.memory-leaks

[2022-03-21 16:10] violetagg commented on #2114
@mhmdsalem1993 Interesting ... Can you follow this https://projectreactor.io/docs/netty/release/reference/index.html#faq.connection-closed and tell use whether the client or server closes the connection?

[2022-03-22 06:44] violetagg commented on #2101
@glennosss Can you specify the Reactor Netty issue?

[2022-03-22 09:55] violetagg commented on #2114
@mhmdsalem1993 The leak above is for the request with id `Hint: [3f1997b5-1, L:/X.X.X.X:59680 - R:app.services/X.X.X.X:8080]` while the log above is for another request

Can you provide the logs for the request with id `3f1997b5-1`?

Can you provide some reproducible example?

[2022-03-22 13:03] mhmdsalem1993 opened #2115 "Only one connection receive subscriber allowed when using Webclients and Netty"
This error happens randomly, and im not sure what is the cause of it
[code]

After enabling netty debug i see these logs too:
[code]

The webclient we use:

[code]

* Reactor version(s) used: 1.0.16
* Spring Boot Version: 2.5.10
* JVM version : 11

[2022-03-22 13:32] fbrisbart opened #2116 "Brotli support in Reactor Netty"
## Motivation

It's commonly accepted that **Brotli compression is more efficient than gzip**.

I'd like to use it with Reactor Netty to reduce my network payload and save a lot of transfer cost.

## Desired solution

When compression is enabled, only the default ones (gzip, deflate) are currently available  -- [see HttpServerOperations](https://github.com/reactor/reactor-netty/blob/67995d2384d830

[2022-03-22 13:50] violetagg commented on #2115
@mhmdsalem1993 Is it possible that this is similar to this issue https://github.com/spring-projects/spring-framework/issues/26699

[2022-03-22 14:55] violetagg commented on #2116
@fbrisbart I'm adding this to `1.0.x` backlog.

[2022-03-23 04:18] dharmic6 opened #2117 "Flux.from Iterable skips a Row while reading CSV rows"
[code]

## Expected Behavior
Supposed to return 4 rows.

## Actual Behavior
Returns only 3 rows. top row goes missing.
java.lang.AssertionError: expectation "expectNextCount(4)" failed (expected: count = 4; actual: counted = 3; signal: onComplete())

Previous version (2.2.6) returns all 4 rows.

## Steps to Reproduce
Please run the above test

## Possible Solution
Below is a temporary solution til

[2022-03-23 06:44] glennosss commented on #2101
This isn't a Reactor Netty specific issue - but it affects every Reactor Netty implementation.

It's clearly a bad thing that developers are setting a cipher priority order with the strong belief it will be honoured - but in actual fact due to a bug in either Netty's SslContext, 'netty-tcnative-boringssl-static' or in BoringSSL itself the client is able to override this order.

I was looking for 2

[2022-03-23 21:19] mhmdsalem1993 commented on #2114
the memory leaks are less now but i still get this one sometimes:
[code]

[code]

[2022-03-23 21:23] mhmdsalem1993 commented on #2115
Not sure, but i've noticed two things: it happens more often at the beginning ( warmup ) and when a circuit breaker opens
I'll keep investigating it

[2022-03-24 07:39] violetagg commented on #2114
@mhmdsalem1993 I don't see any subscription from `WebClient`, so most probably this is the cause for the issue. For the moment I don't see an issue in Reactor Netty.

[2022-03-24 07:59] mhmdsalem1993 commented on #2114
The only other exception i see is this one https://github.com/reactor/reactor-netty/issues/2115
I think its the cause, thanks a lot you can close the issue for now, and ill start looking into the other issue and see if it will solve it

[2022-03-24 09:48] #2114 closed

[2022-03-24 13:52] ThimoTollmien1002 commented on #2031
@violetagg We updated to the latest version 1.0.17 and the problem, mentioned by my colleague @mgeissen, seems to be fixed now.
Thank you!

[2022-03-24 14:43] violetagg commented on #2031
@ThimoTollmien1002 @mgeissen Thanks for the testing! I'm closing this one.

[2022-03-24 14:43] #2031 closed

[2022-03-25 00:42] glennosss commented on #2116
@fbrisbart I researched doing this as well. What I found is you should never compress dynamic content using Brotli as it's _way way too slow_ - you should only ever use gzip for this.

Brotli is only really a good idea for _static content_ which you can compress in an _offline_ way before hand. I highly recommend minifying all your CSS/HTML/Javascript/etc then offline Brotli compressing them at ma

[2022-03-25 01:09] glennosss commented on #2116
@violetagg I recommend removing this from the backlog. It's impractical. Consider adding something like https://github.com/lz4/lz4-java support instead.

[2022-03-25 09:00] fbrisbart commented on #2116
I actually tested the brotli compression on our prod dynamic content with a WebServerConfiguration class.
I didn't impact the response time, but it didn't help on reducing the network payload significantly
NB: I used the default compression quality (4) + my average response content size are ~50/100k uncompressed

So, I somehow confirmed the "don't use brotli for dynamic content" assertion

If anyo

[2022-03-25 09:12] violetagg commented on #2116
@glennosss @fbrisbart Thanks for the additional information. Let's close this with `has-workaround`.

[2022-03-25 09:12] #2116 closed

[2022-03-25 11:00] coditori commented on #68
From 2017 to 2022 and still nothing :|

[2022-03-26 09:15] glennosss opened #2121 "HttpServerConfig.H2OrHttp11Codec should probably extend Netty's ApplicationProtocolNegotiationHandler"
Ignore this!

[2022-03-26 10:03] glennosss commented on #2121
Non-issue! Sorry!

[2022-03-26 10:03] #2121 closed

[2022-04-01 10:10] #2113 closed

[2022-04-04 06:22] violetagg commented on #2115
@mhmdsalem1993 I'm closing this one. If there is a Reactor Netty issue we can reopen it.

[2022-04-04 06:22] #2115 closed

[2022-04-04 12:33] crankydillo commented on #1808
@violetagg You [asked](https://github.com/reactor/reactor-netty/pull/2091#issuecomment-1085967759) on the PR what the requirements are.  I'm trying to get that written up nicely.  The main requirement remains that a specifiable minimal number of socket connections are created before any additional connections are created.  However, what do you think about the scenario above?

[2022-04-05 14:26] jtorkkel opened #2143 "reactor_netty_tcp_client_connections_total metrics expose label local_address with port instead of remote_address"
reactor_netty_tcp_client_connections_total metrics is new [**undocumented**](https://projectreactor.io/docs/netty/release/reference/index.html#_metrics_3) metrics in 1.0.15.

This new metrics include new label **local_address="address:port**", all other reactor_netty_tcp_client_* metrics like reactor_netty_tcp_client_data_sent_bytes_count contain **remote_address="address:port"**.

This result met

[2022-04-05 14:39] violetagg commented on #2143
@jtorkkel This `reactor_netty_tcp_client_connections_total` was never intended to be exposed and this is fixed in `1.0.17` with https://github.com/reactor/reactor-netty/pull/2063

See the release notes also https://github.com/reactor/reactor-netty/releases/tag/v1.0.17

[2022-04-05 14:39] #2143 closed

[2022-04-07 06:32] jtorkkel opened #2145 "reactor.netty.http.server.errors metrics not showing TooLongFrameException"
When HTTP request size exceed SpringBoot default size 8K I can see error in logs.

2022-04-06 21:03:10.267 WARN 16328 --- [tor-http-nio-10] r.n.http.server.HttpServerOperations : [e9523a0c, L:/127.0.0.1:8080 - R:/127.0.0.1:63824] Decoding failed: DefaultHttpRequest(decodeResult: failure(io.netty.handler.codec.TooLongFrameException: HTTP header is larger than 8192 bytes.), version: HTTP/1.1)

Seems

[2022-04-07 13:21] violetagg commented on #1808
Update: The exact requirements: https://github.com/reactor/reactor-netty/pull/2091#issuecomment-1091667220

@crankydillo For the next release which is next Tuesday (12.04) I will be able to expose a configuration for specifying a minimum number of connections and a `warmup` that you have to call.
The part for the streams I can schedule for the next release.
Wdyt?

We do use round-robin as of today

[2022-04-08 03:36] ogorostis opened #2146 "Question on blocking retries (not an issue/bug)"
Hi,
I just would like to understand better the rationale for blocking retries once some data has been sent at
https://github.com/reactor/reactor-netty/blob/main/reactor-netty-http/src/main/java/reactor/netty/http/client/HttpClientConnect.java#L360
Is it simply : once some data has been sent (whether it be by body or by headers), who knows what the serving end has done, hence let's not retry becaus

[2022-04-08 05:27] violetagg commented on #2146
@ogorostis Thanks for getting in touch, but it feels like this is a question that would be better suited to [Gitter](https://gitter.im/reactor/reactor-netty) or [Stack Overflow](https://stackoverflow.com/questions/tagged/reactor-netty). As mentioned in [README](https://github.com/reactor/reactor-netty/#getting-help), we prefer to use GitHub issues only for bugs and enhancements. Feel free to updat

[2022-04-08 05:27] #2146 closed

[2022-04-08 09:05] violetagg commented on #2145
@jtorkkel The metrics `http_server_requests_seconds_*` are not something that is exposed by Reactor Netty and I cannot comment on the content that is exposed by these metrics. The metrics exposed by Reactor Netty are always prefixed with `reactor.netty`.
The metric `reactor.netty.http.server.errors` is used only when Reactor Netty is not able to send a response while in your use case it seems that

[2022-04-08 16:33] #2145 closed

[2022-04-08 16:35] violetagg commented on #2145
@jtorkkel I added a change so that 413 response is reported by the Reactor Netty metrics

[2022-04-09 15:28] venkatesh010 commented on #752
@violetagg hey, in Netty 1.0.3 sslconextbuilder defaultspec is deprecated
So I updated to ProtocolSslContextSpec, and now my sslhandler isn't getting overridden to use nohostnameverifier somehow

Can you suggest on that?

[2022-04-09 18:05] violetagg commented on #752
@venkatesh010 Can you provide here your configuration with the old sslconextbuilder defaultspec?

[2022-04-13 11:42] ricardkollcaku opened #2151 "Http2 slower then http1 in high volume"
Im trying to do some benchmarking with spring boot using http1 and http2
and i see i weird behaviour.

Im using for client and server
SPRING BOOT 2.6.6
Java 17
Both using webflux

http2 is bit slower than http1 looks like is not taking advantage of single tcp connection with multiplexing.

you can find the project in https://github.com/ricardkollcaku/http2-test

My Server:
I have enabled http2 in

[2022-04-19 10:48] violetagg commented on #1808
@crankydillo PTAL #2155

[2022-04-19 12:36] ashraf-revo opened #2156 "an idea to support dynamic https like (caddy server)"
## Motivation
i hope if we could support  tls lazy load certificates by domain
this might help us in renew the certificates (using letsencrypt or other)
support dynamic https like (caddy server)
see https://caddyserver.com/docs/quick-starts/https
## Desired solution
add function to load certificates by domain as key
we could implment this function to renew or generate ssl certificate

[2022-04-19 15:30] copbint commented on #779
Hello, is there any progress about this? We need this feature a lot!

[2022-04-19 19:21] violetagg commented on #779
@copbint Can you describe your use case? Is it related only to event loop or reactive pipeline or may be tracing?

[2022-04-19 19:43] violetagg commented on #2156
@ashraf-revo Are you interested in providing a PR?

[2022-04-20 00:42] copbint commented on #779
When working with webflux(underlying is reactor), we want to be compatible with ThreadLocal.
As Schedulers provided onScheduleHook, we write code like this, to carry MDC ThreadLocal when change to another thread:
[code]

But reactor-netty's Eventloop do not have a mechanism to instrument `runnable` like this.

I think the pattern provided by this doc([what-is-a-good-pattern-for-contextual-logging-

[2022-04-20 04:32] violetagg commented on #779
@copbint Would you like to take a look at this PR https://github.com/reactor/reactor-core/pull/2983 and provide us feedback. This will be really helpful!

[2022-04-20 11:59] crankydillo commented on #1808
Thanks @violetagg .  We plan on looking at your PR soon!

[2022-04-20 15:28] fahali opened #2159 "Netty is failing to resolve domain that starts with a numeric character."
## Environment

Reactor Netty version:
[code]

OS version:
Development workstation - macOS 12.3.1
Production Docker container - adoptopenjdk/openjdk11 (https://hub.docker.com/r/adoptopenjdk/openjdk11)

JVM:
[code]

## Issue

My email provider is Marketo, and their REST API is at the `145-JNH-675.mktorest.com` domain. Out of the blue, HTTP requests to this endpoint started failing. Investigating th

[2022-04-20 15:32] violetagg commented on #2159
@fahali Can you please try with the latest releases for Spring Boot and Reactor Netty as you are using a pretty old version?

[2022-04-20 15:36] ashraf-revo commented on #2156
@violetagg if you guide me, i will appreciate that very well , it will be my first pr in open source

[2022-04-20 18:52] fahali commented on #2159
I upgraded the application from Spring Boot 2.5.3 to 2.6.6, but it does not seem to have resolved the issue.

[code]

[2022-04-21 09:35] copbint commented on #779
@violetagg   This PR is doing great job,! It will be really helpful if we can get `ContextView ` in `onScheduleHook`。