[2022-04-21 14:40] ashraf-revo commented on #2156
@violetagg after check the code i found that it could be done if we create new method `SniProvider.newSniHandler `
that use the `io.netty.handler.ssl.SniHandler` not `reactor.netty.tcp.SniProvider.AdvancedSniHandler` because it not use the power of `AsyncMapping<String, SslContext>`

[2022-04-21 15:45] copbint commented on #779
Describe in detail:
We are developing a framework based on webflux in our company, and framework code are all writing in reactive style. Framework code will save some information into `ContextView`.
While reactive is difficult, We support our framework user to write Controller code in sync style(by switch to thread can blocking).
If Controller is write in sync style, it's unable to get `ContextVie

[2022-04-24 09:30] JooHyukKim commented on #781
has anyone worked on this yet?

[2022-04-25 06:31] violetagg commented on #781
@JooHyukKim Currently nobody is working on this one.

[2022-04-25 06:43] JooHyukKim commented on #781
@violetagg I see. Would you allow me to work on it? seems quite interesting

[2022-04-25 06:45] JooHyukKim commented on #781
@violetagg @bhochhi I'd like to hear more about your thoughts on what AccessEvents are and how they should behave.

[2022-04-25 06:46] violetagg commented on #781
@JooHyukKim Yes sure

[2022-04-25 06:49] violetagg commented on #781
I believe that @bhochhi meant integration with `logback-access` https://logback.qos.ch/access.html

[2022-04-25 07:08] JooHyukKim commented on #781
trueeee. @bhochhi is that what you are suggesting? integration with `logback-access` like how Tomcat and Jetty are integrated with `logback-access` described in [https://logback.qos.ch/access.html](https://logback.qos.ch/access.html) ?

[2022-04-25 07:34] JooHyukKim commented on #781
`logback-access` is officailly described to [integrate with Serverlet Containers such as Jetty or Tomcat](https://logback.qos.ch/access.html#:~:text=integrates%20with%20Servlet%20containers%20such%20as%20Jetty%20or%20Tomcat).
As far as I know, we also need **netty-specific** `Adaptor` and `ValveBase` implementation in `Logback-access`.
looking at [codebase of Tomcat and Jetty integration with logb

[2022-04-25 12:11] bhochhi commented on #781
yes, I wanted Netty to support AccessEvent so that logback-access can be supported. However, my original question is Why Netty didn't have support? Is that by design or other limitations due to different paradigms?

[2022-04-25 13:22] bobdeanant opened #2165 "reactor\netty\tcp\ProxyProvider.java no HTTPS support?"
reactor\netty\tcp\ProxyProvider.java
[code]
Why would you not add HTTPS support for proxy ?

While using netty in spring cloud gateway. I am trying to connect to HTTPS type of proxy (Both with and without authentication). The proxy settings are provided using VM args like -Dhttps.proxyHost=myproxy.com -Dhttps.proxyPort=<secured port>. I have also created a trust manager and set the same in client

[2022-04-25 18:05] violetagg commented on #2165
@bobdeanant Please provide more information how you enable the proxy in Spring Cloud Gateway. Do you use https://projectreactor.io/docs/netty/release/api/reactor/netty/transport/ClientTransport.html#proxyWithSystemProperties-- ?
Please provide information for Spring Cloud Gateway/Reactor Netty version.

[2022-04-25 18:08] bobdeanant commented on #2165
@violetagg thanks for a quick response.
Answers: I am using below spring cloud gateway
[code]
2. Yes. I am using https://projectreactor.io/docs/netty/release/api/reactor/netty/transport/ClientTransport.html#proxyWithSystemProperties--
by setting -D VM args.

Thanks
Anant

[2022-04-25 18:17] violetagg commented on #2165
In addition to `-D VM args`, can you provide here the snippet how you customise the HttpClient/Spring Cloud Gateway?
Is it some configuration that Spring Cloud Gateway exposes or you directly invoke `HttpClient.proxyWithSystemProperties()`?

[2022-04-25 18:20] violetagg commented on #2165
I see Spring Cloud Gateway has some configuration
https://cloud.spring.io/spring-cloud-gateway/reference/html/appendix.html
`spring.cloud.gateway.httpclient.proxy`
Do you use this or something else?

[2022-04-26 02:31] bobdeanant commented on #2165
@violetagg I tried below things and everytime ending up in "io.netty.handler.proxy.ProxyConnectException: http, none, myproxy.com => www.google.com:443, java.io.IOException: Connection reset by peer"

Approach 1. I used spring cloud gateway configuration and added below in application.properties
[code]
Where myproxy.com is my host and is a squid proxy which I set on linux machine and is accessible

[2022-04-26 09:34] hammafataka opened #2166 "proxy configs failing to send request"
## Expected Behavior

should configure proxy with ssl and send request via proxy,
should not use UDP since i am setting proxy type to HTTP and should send via TCP

## Actual Behavior

Throws exception for not being able to validate Dns hostname after trying send via UDP

[code]

## Steps to Reproduce

[code]

## Possible Solution

Disabling UDP checker, or changing proxy type to SOCKET4

## Your E

[2022-04-26 10:51] idikshit opened #2167 "TCP keeplive configuration not working"
Hi,

We are trying to configure TCP keep alive settings in our Netty server customizer as depicted below.

[code]

		if(keepAliveEnabled && Epoll.isAvailable()) {
			factory.addServerCustomizers(builder -> builder.option(ChannelOption.SO_KEEPALIVE, true)
					.option(EpollChannelOption.TCP_KEEPIDLE,keepAliveIdleTime)
					.option(EpollChannelOption.TCP_KEEPCNT,keepAliveCount)
					.option(EpollCha

[2022-04-27 05:50] violetagg commented on #2167
@idikshit Can you provide some reproducible example?

[2022-04-27 06:07] violetagg commented on #781
I don't understand this.

In Tomcat you have Valve concept, here in Reactor Netty you have a mechanism for a custom implementation for the access logging https://projectreactor.io/docs/netty/release/api/reactor/netty/http/server/HttpServer.html#accessLog-boolean-reactor.netty.http.server.logging.AccessLogFactory-

[2022-04-27 08:20] bobdeanant commented on #2165
Hi Violeta,

Thanks for the help. Here are few observations and points I have which could be taken into consideration.

1. We have a requirement for support of both HTTP and HTTPS proxy. I believe present Netty implementation considers HTTP with CONNECT method to secure the channel.
2. In case of a specific HTTPS proxy, the proxy itself needs certificate based auth or a Trusted trust manager, whic

[2022-04-27 08:32] violetagg commented on #2159
@fahali Can you execute the program below where you replace `example.com` with your target address?
Ensure that you enable `DEBUG` for `mylogger` so that we can see details for the DNS queries.

[code]

[2022-04-27 10:43] violetagg commented on #2166
@hammafataka Can you tell us what do you expect from this setting?

`httpClientBuilder.resolver(DefaultAddressResolverGroup.INSTANCE);`

[2022-04-27 11:52] hammafataka commented on #2166
@violetagg  it was for dnsName Resolver, but it was behaving the same even without setting AddressResolver

[2022-04-27 12:53] violetagg commented on #2166
@hammafataka `HttpClient` is immutable so you need to change the example to this:

[code]

[2022-04-27 13:47] fahali commented on #2159
Hello @violetagg, here are four runs of the demo application. I tried it with port 443 as well, and also with or without my local machine being connected to VPN. From these runs it looks like my VPN is the culprit, but I'm not sure that's 100% the root cause. Other hostnames ("normal" ones that start with alphabetic characters) seem to resolve just fine, VPN or not.

## Port 80, without VPN:
[code

[2022-04-27 15:16] violetagg commented on #2167
@idikshit With this configurations you should see something like this

`Unknown channel option 'SO_KEEPALIVE' for channel`

In order to have `SO_KEEPALIVE` on the server you need to use `childOption(...)` instead of `option(...)`

Can you try with this configuration?

[2022-04-27 15:20] Onlyheree commented on #2167
#

[2022-04-27 16:15] violetagg commented on #2159
@fahali Please report these results + the demo application that I gave you to Netty project (https://github.com/netty/netty/issues) as you can reproduce it without anything from Reactor Netty but with pure Netty?

[2022-04-27 20:18] fahali commented on #2159
Thank you for helping me, I have opened https://github.com/netty/netty/issues/12344 with the Netty project.

[2022-04-28 07:05] idikshit commented on #2167
@violetagg I have changed the configuration to use `childOption(...)` for all the settings
1. SO_KEEPALIVE
2. TCP_KEEPIDLE
3. TCP_KEEPINTVL
4. TCP_KEEPCNT

[code]

I still see the logs with message

[code]

But at the same time I see keep alive packets captured in network trace. Is this the expected behavior?

Also If I use `childOption(..)`  only for 'SO_KEEPALIVE' setting then in that case TCP k

[2022-04-28 07:32] DonCorleone92 commented on #388
Hi,
Can someone suggest what happened to the original solution against which this bug was created? I am still getting the connection reset by a peer from the client-side when using spring boot started 2.0.3.RELEASE and netty 4.1.25.Final. Did upgrading the dependencies resolve this specific issue?

[2022-04-28 11:39] violetagg commented on #2167
@idikshit In the logs what's the thead's name `reactor-netty-nio` or `reactor-netty-epoll`?

When you enable only 'SO_KEEPALIVE' then the rest of the settings are OS specific - typically the idle time is 2 hours. See this https://en.wikipedia.org/wiki/Keepalive

[2022-04-28 11:54] idikshit commented on #2167
@violetagg  These logs show up during application boot-up on "main" thread
[code]

So i believe i need to specify all other setting with `childOption(...)` in order to override default OS specific configuration?

[2022-04-28 13:08] violetagg commented on #2167
yes

[2022-04-28 13:21] idikshit commented on #2167
Thankyou

[2022-04-28 18:04] violetagg commented on #2167
@idikshit Testing on CentOS 7 with open JDK 17 I do not see any warning about the 4 child options and the keep alive works as expected.

[2022-04-28 18:04] #2167 closed

[2022-04-28 18:07] #2166 closed

[2022-04-29 11:30] idikshit opened #2171 "'io.netty.util.IllegalReferenceCountException: refCnt: 0, decrement: 1'"
Hi,

We are sending GET requests to our application. We are encountering the issue mentioned below frequently.

Dependencies
Spring Cloud Gateway - 3.0.3
Spring Boot - 2.5.5
Spring webflux - 5.3.10
Reactor netty - 1.0.11
Netty - 4.1.63.Final
OS - Cent OS / Linux

`{"instant":{"epochSecond":1651180720,"nanoOfSecond":289955175},"thread":"ingress-h2c-epoll-3","level":"WARN","loggerName":"io.netty.cha

[2022-04-29 11:47] idikshit commented on #2171
@violetagg Which version of SCG has addressed this issue?

[2022-04-29 12:15] violetagg commented on #2171
I did not say that there is a version addressing this issue but that the SCG version that you use is one year old.

[2022-04-29 12:30] idikshit commented on #2171
@violetagg We came across a similar issue reported on this topic [https://github.com/reactor/reactor-netty/issues/1410]. The latest comment mentions the issue to be fixed in Spring 4.3.2. Could you please highlight which library of spring are we referring to here?

[2022-04-29 12:39] violetagg commented on #2171
@idikshit This exception does not have only one concrete root cause ... however in your case I do not see any Reactor Netty related code in the stack trace so I cannot comment what might be the real root cause.

Spring 4 does not use Reactor Netty, only versions above Spring 5.

[2022-04-30 08:55] JooHyukKim commented on #781
I think this issue needs more clarification on exactly what the desired enhancement is 👍

[2022-05-01 15:20] Jean-Baptiste-Avril opened #2173 "Https proxy timeout"
### Expected Behavior
Support https proxy

## Expected Behavior
Getting response from http://ip.quotaguard.com/ with https proxy

Exemple :

[code]
## Actual Behavior
I have 2 proxies:
  - https proxy : https://eedsi90hfd7k0f:xs2v7pkzo9malgzvp476i6by0sqgnq@eu-west-shield-01.quotaguard.com:9294
  - http proxy : http://jt8bbqzxyct6b1:ve8da3lcwsfyy85mcjskvzr6so9cm@eu-west-static-05.quotaguard.com:929

[2022-05-02 05:11] violetagg commented on #2173
@Jean-Baptiste-Avril Can you try this:

[code]

[code]

Please check this FAQ
https://projectreactor.io/docs/netty/release/reference/index.html#faq.proxy-connect-method

[2022-05-02 06:29] Jean-Baptiste-Avril commented on #2173
@violetagg
Thank you for your reply,

Here is the return:

![image](https://user-images.githubusercontent.com/71263792/166193276-c495c90d-a389-44c9-a4d8-56a42a2a305a.png)

I'll take a closer look at your link.

[2022-05-02 14:41] Jean-Baptiste-Avril commented on #2173
@violetagg

If I understand correctly, Netty's HTTP proxy uses the CONNECT method in order to establish a tunnel to the specified proxy, regardless of the http or https scheme used.

But my proxy does not support this method and therefore does not allow the connection to be established.

Would that be a possible explanation ?

[2022-05-02 15:09] violetagg commented on #2173
@Jean-Baptiste-Avril yes I think so, as you can see when you use `curl --proxytunnel` the requests also fail

[2022-05-02 16:07] Jean-Baptiste-Avril commented on #2173
@violetagg

Thank you for your answer, I close the ticket.

[2022-05-02 16:07] #2173 closed

[2022-05-03 01:58] itsnagaraj opened #2174 "Intermittent Connection prematurely closed BEFORE response when using HttpClient"
We are intermittently getting connection prematurely closed before response error when running integration tests in Jenkins. All our applications are deployed in KIND (k8s in docker) container and integration tests are run against this container.

The Consuming service is WebFlux application and the Producing service is Jersey SpringBoot application (uses tomcat as server but webclient to make out

[2022-05-03 05:48] violetagg commented on #2174
@itsnagaraj Please check this https://projectreactor.io/docs/netty/release/reference/index.html#faq.connection-closed

[2022-05-03 06:24] itsnagaraj commented on #2174
In this instance the connection was closed prematurely within few milliseconds looking at the timestamp. I will need to perform TCPDUMP on the pod to see who is closing the connection

[2022-05-03 13:59] #2156 closed

[2022-05-09 05:46] violetagg commented on #2171
@idikshit I'm closing this one. If you are able to provide more information we can reopen it.

[2022-05-09 05:46] #2171 closed

[2022-05-09 09:20] violetagg commented on #2151
@ricardkollcaku We are working on fixes related to the observed behaviour.

[2022-05-10 03:14] itsnagaraj commented on #2174
I was able to resolve the issue by making idle time shorter than the connect timeout as intermittently a connection that was about to be closed was used to make a request and was terminated half-way. I also read from the documentation that KEEP_ALIVE is disabled by default in the webclient configuration. I have enabled this now and added EPOLL keep alive configuration.

[code]

Found that the cons

[2022-05-10 03:14] #2174 closed

[2022-05-10 07:42] patpatpat123 opened #2182 "reactor.netty.http.client.HttpClient as @Bean always emit cancel signal despite success request"
Hello Reactor Netty Team,

I wanted to start an issue observed using the reactor.netty.http.client.HttpClient

Background, the project is a Java 11 + Spring Boot 2.6.7 + Jubilee 2021.0.1, very recent as of this writing.

The issue is that ```reactor.netty.http.client.HttpClient``` as ```@Bean``` will always send a ```cancel``` signal, while using it without ```@Bean``` will not (expected)

Here is

[2022-05-10 07:48] galfordliu opened #2183 "io.netty.handler.codec.http.multipart.DefaultHttpDataFactory.requestFileDeleteMap‘s entry will never be released"
io.netty.handler.codec.http.multipart.DefaultHttpDataFactory.requestFileDeleteMap's  items keeps growing until it takes up all memory.
[code]

if header content-type is "application/x-www-form-urlencoded",  Will never be called cleanFiles of reactor.netty.http.client.HttpClientFormEncoder, cause memory leakage.

Test
[code]

![test](https://user-images.githubusercontent.com/6939901/167576757-179fe

[2022-05-10 07:51] violetagg commented on #2182
@patpatpat123 `@Bean` is not provided by Reactor Netty. Please explain why you think this is a Reactor Netty issue.

[2022-05-10 08:02] patpatpat123 commented on #2182
Hello @violetagg,

Thank you for looking into this.
I did think about it before posting.

So I tried using ```@Bean``` on other http clients, and none of them are emitting this ```cancel``` signal.

This cancel signal is further shown in Zipkin, and can be intercepted by  https://github.com/spring-cloud/spring-cloud-sleuth/blob/3.1.x/spring-cloud-sleuth-instrumentation/src/main/java/org/springfram

[2022-05-10 19:09] violetagg commented on #2182
@patpatpat123
When you declare `HttpClient` as a `Bean`, `spring-cloud-sleuth` applies some instrumentation (see the stack below), when you do NOT declare `HttpClient` as a `Bean` there is no more instrumentation on the level of `HttpClient`.
I cannot comment why at some point while Reactor Netty is delivering the result, a cancel signal is emitted, and whether it is related to the classes below:

[2022-05-10 19:09] #2182 closed

[2022-05-10 21:33] patpatpat123 commented on #2182
Thank you @violetagg for looking into this.

I really though this was related to the Reactor HttpClient itself.
Now very clear. Thank you again.

[2022-05-11 06:57] childewuque commented on #781
@JooHyukKim
https://github.com/reactor/reactor-netty/issues/1752

For example, add remote host in logback.xml or in other file,like nginx format
Thanks

[2022-05-11 13:23] ChristianLMI opened #2187 "Recording metrics could cause errors in operational code"
## Motivation
I recently ran into an issue where an exception thrown in Micrometer caused my request to break. The actual issue I ran into is not in reactor although reactor was used. However as reactor uses Micrometer as well and e.g. [here|https://github.com/reactor/reactor-netty/blob/main/reactor-netty-core/src/main/java/reactor/netty/channel/AbstractChannelMetricsHandler.java] there also doesn

[2022-05-13 06:51] violetagg commented on #2187
@ChristianLMI Would you like to provide a PR?

[2022-05-16 05:18] ChristianLMI commented on #2187
I'll try to find some time to at least get a first step done. However as I'm not too familiar with the project I might miss edges ;)

[2022-05-16 06:14] violetagg commented on #2187
@ChristianLMI It will be great if you can find time. If you decide to work on this please do the changes against `1.0.x` branch.

The classes that need to have this enhancement are:
`reactor-netty-core`
- reactor.netty.channel.AbstractChannelMetricsHandler
- reactor.netty.channel.ChannelMetricsHandler
- reactor.netty.channel.ContextAwareChannelMetricsHandler
- reactor.netty.transport.AddressResolv

[2022-05-16 20:33] jvidal-dev opened #2196 "Memory Leaks in web application"
Hi all,

I am getting memory leaks when using Reactor Netty HttpClient. We detected that if the application is deployed as a war file to Tomcat, and when we need to upgrade it we just stop it from the Manager app, and then Start it. Classes are not garbage collected properly and memory usage continues to grow every time the process is repeated.

For now I am seeing 2 errors:

[code]

That line app

[2022-05-17 06:58] violetagg commented on #2196
@jvidal-dev There is no method `reactor.netty.http.HttpResources.shutdown()` - check javadoc https://projectreactor.io/docs/netty/release/api/reactor/netty/http/HttpResources.html
One should invoke `reactor.netty.http.HttpResources.disposeLoopsAndConnections()`

Please contact the project providing the functionality below and discuss this with the project

[code]

[2022-05-17 06:58] #2196 closed

[2022-05-17 12:41] jvidal-dev commented on #2196
Hi Violeta, thanks for getting back to me so soon.

I know the method is not present and that `reactor.netty.http.HttpResources.disposeLoopsAndConnections` should be used instead.

The problem is that this is done automatically by Spring. We were following this documentation https://docs.spring.io/spring-framework/docs/current/reference/html/web-reactive.html#webflux-client-builder-reactor-resourc

[2022-05-17 12:59] pderop commented on #2165
I just got a private meeting with @bobdeanant, and in the end, it turns out that what is needed is just to use usual proxy tunneling over a proxy **http** port, not https.
So, from squid, the following configuration is just needed, and it's even not needed to configure squid with ssl-bump / splice mode:

[code]
I'm closing this issue for the moment, but you can reopen if needed.
thanks.

[2022-05-17 12:59] #2165 closed

[2022-05-17 13:15] violetagg commented on #2196
@jvidal-dev I cannot comment anything about Spring, however I just checked their implementation and they call the correct method
https://github.com/spring-projects/spring-framework/blob/874077d16ec126ca19d4b9fbb4157cfdc4eac382/spring-web/src/main/java/org/springframework/http/client/reactive/ReactorResourceFactory.java#L222

[2022-05-17 13:58] violetagg commented on #2183
@galfordliu It will be great if you can try the fix that is available in 1.0.20-SNAPSHOT. Thanks!

[2022-05-17 20:49] JooHyukKim commented on #781
@childewuque
kindly suggest specific purpose and way to add the functionality? thanks.

[2022-05-18 02:58] chris-fung commented on #388
I found this java code elsewhere and fixed my problem:
  `    public static WebClient webClient() {
        return WebClient.builder()
                .clientConnector(new ReactorClientHttpConnector(HttpClient.create(provider)))
                .build();
    }

    private static final ConnectionProvider provider = ConnectionProvider.builder("fixed")
            .maxConnections(500)
            .m

[2022-05-18 06:02] violetagg commented on #388
For connection close issues these links might help:
https://projectreactor.io/docs/netty/release/reference/index.html#faq.connection-closed
https://projectreactor.io/docs/netty/release/reference/index.html#_timeout_configuration

[2022-05-18 16:48] violetagg opened #2215 "Adapt reactor-netty-incubator-quic to Netty 5 changes"
This is depending on Netty QUIC Codec for Netty 5

[2022-05-18 17:09] violetagg opened #2217 "Adapt DefaultLoopIOUring to Netty 5 changes"
This is depending on Netty IOUring for Netty 5

The current integration is temporary excluded with #2218

[2022-05-19 10:42] violetagg opened #2221 "Adapt Reactor Netty Multipart functionality to Netty 5 changes"
This is depending on Multipart functionality for Netty 5

The current integration is temporary excluded with #2222 and #2279

[2022-05-19 13:08] Huthesh opened #2223 "Need information regarding TcpClient Connection Pool"
I have a requirement where i need to connect 10000 different hosts concurrently. Here I just need to perform a TCP connection and disconnect. Not further communication will be done with remote host. I am using TCPClient.
My question is increasing the connection pool will it help the performance in any way?

What is the best way to achieve this using TCPclient without overloading CPU?

[2022-05-19 13:31] ptrts opened #2224 "HttpClient doesn't follow the "log or rethrow" best practice"
When requesting with HttpClient, if the server closes the connection before sending a response, then both a warning is logged and an error is issued

## Expected Behavior

It should either catch the error and log it without passing it along or pass it along logging it as TRACE, DEBUG or without logging it whatsoever

## Actual Behavior

It both logs a warning and passes the error along

## Steps t

[2022-05-20 05:21] violetagg commented on #2223
@Huthesh Thanks for getting in touch, but it feels like this is a question that would be better suited to [Gitter](https://gitter.im/reactor/reactor-netty) or [Stack Overflow](https://stackoverflow.com/questions/tagged/reactor-netty). As mentioned in [README](https://github.com/reactor/reactor-netty/#getting-help), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update

[2022-05-20 05:21] #2223 closed

[2022-05-20 05:43] violetagg commented on #2224
@ptrts Critical exceptions are intentionally logged with `WARN`. This is because if you decide not to handle the errors you will still be able to see the warning and take some actions, on the other hand if you decide to handle the errors you can always set your logging level to `ERROR`.

[2022-05-20 05:43] violetagg commented on #2224
@ptrts Critical exceptions are intentionally logged with `WARN`. This is because if you decide not to handle the errors you will still be able to see the warning and take some actions, on the other hand if you decide to handle the errors you can always set your logging level to `ERROR`.

[2022-05-20 05:43] #2224 closed

[2022-05-22 13:21] xujimu opened #2235 "spring boot using netty io.netty.util.IllegalReferenceCountException: refCnt: 0, decrement: 1"
I am trying to hand over netty to spring management, and an exception will occur after testing

spring boot using netty io.netty.util.IllegalReferenceCountException: refCnt: 0, decrement: 1

[code]

this is my netty code

[code]

[code]
[code]

If I don't use spring, this doesn't happen when I start netty alone, does anyone know why? Thanks

[2022-05-23 07:19] ChristianLMI commented on #2187
I created a PR. However now I need to figure out how to get an approval for the CLA.

[2022-05-23 18:26] alexroitman opened #2245 "First request go slow"
I develop a java microservice that make a request to an internal microservice(connected on VPN) and another request for generate a token to another microservice.
The first request(complete) take 2/3 second and the next requests takes 1 second or less.

## Expected Behavior

All requests take same time
## Actual Behavior

First request go slow and next request go faster
## Steps to Reproduce

WebCl

[2022-05-25 15:30] RexChengZhu opened #2251 "how can i add some childHandler in TcpServer ?"
hello
i want to add some ChannelHandler in pipeline like Netty, but it's useless . what's wrong . the reactor-netty version is 0.9.7.RELEASE
THX

[code]

[2022-05-25 16:41] violetagg commented on #2251
@RexChengZhu Thanks for getting in touch, but it feels like this is a question that would be better suited to [Gitter](https://gitter.im/reactor/reactor-netty) or [Stack Overflow](https://stackoverflow.com/questions/tagged/reactor-netty). As mentioned in [README](https://github.com/reactor/reactor-netty/#getting-help), we prefer to use GitHub issues only for bugs and enhancements. Feel free to upd

[2022-05-25 16:41] #2251 closed

[2022-05-25 16:43] violetagg commented on #2251
@RexChengZhu I will recommend you to upgrade to Reactor Netty 1.0.x version as 0.9.x version is no longer supported!

[2022-05-25 16:50] violetagg commented on #2245
@alexroitman Please provide logs from the first request.
The issue that you mentioned is specific for Windows and not Mac OS.
Do you observe the problem when you do not use VPN?

[2022-05-26 19:36] alexroitman commented on #2245
Its importan to mention that in our server we observe the same issue(we are using Kotlin). In the server this logs does not appear
Local logs:
[code]

[2022-05-27 01:11] mhossain2019 opened #2253 "LEAK: ByteBuf.release() was not called before it's garbage-collected"
**NEED HELP !!! IT'S BEEN A WILE, WE ARE TRYING TO SOLVE.**

we are using micronaut version 3.4. we have developed API which consume application/x-protobuf. we have @ExecuteOn(TaskExecutors.IO) on all api and the api is POST. We don't have any custom message handler. we have one filter where we extract header and validate.

**Environment Information**

Operating System: Mac OS
Micronaut Version: 3

[2022-05-27 06:19] violetagg commented on #2253
@mhossain2019 I think you posted your issue to the wrong project. Most probably you wanted to post it either to
https://github.com/netty/netty or https://github.com/micronaut-projects

[2022-05-27 06:19] #2253 closed

[2022-05-27 06:51] violetagg commented on #2245
@alexroitman What is your Mac OS chip architecture?

[2022-05-27 07:53] mhossain2019 commented on #2253
@violetagg I have tried to reach you out as I saw lots of your assistance on this issue that other people face. I already opened issue on https://github.com/micronaut-projects. I will also open this issue on https://github.com/netty/netty. if it's possible please assist.

[2022-05-27 12:49] alexroitman commented on #2245
is an Apple M1. Its important that as i said, in the server takes a lot time too.

[2022-05-27 13:00] violetagg commented on #2245
@alexroitman You have to upgrade your component versions and add a dependency to `netty-resolver-dns-native-macos` with classifier `osx-aarch_64` see this one https://github.com/netty/netty/issues/11693#issuecomment-923760401

[2022-05-27 14:17] huangydyn opened #2254 "[Question] question on configuration IO_SELECT_COUNT"
I'm using SpringCloudGateway, I have an doubt on config parameter `IO_SELECT_COUNT`
[code]
Is this the thread count of netty boss reactor group? why could this be -1 by default?

And could you provide suggestion for the configuration of this parameter `IO_SELECT_COUNT`?

[2022-05-27 15:06] violetagg commented on #2254
@huangydyn Thanks for getting in touch, but it feels like this is a question that would be better suited to [Gitter](https://gitter.im/reactor/reactor-netty) or [Stack Overflow](https://stackoverflow.com/questions/tagged/reactor-netty). As mentioned in [README](https://github.com/reactor/reactor-netty/#getting-help), we prefer to use GitHub issues only for bugs and enhancements. Feel free to updat

[2022-05-27 15:06] #2254 closed

[2022-05-29 18:48] violetagg commented on #2254
https://stackoverflow.com/questions/72408107/springcloudgateway-configuration-parameter-io-select-count

[2022-06-01 02:44] galfordliu opened #2259 "Set Custom DefaultHttpDataFactory Bug"
[code]

but  HttpClientOperations. SendForm. DEFAULT_ FACTORY. Requestfiledeletemap will still grow. Invalid setting

_Originally posted by @galfordliu in https://github.com/reactor/reactor-netty/issues/2201#issuecomment-1132919206_

[2022-06-01 03:51] Irving-O opened #2260 "407 Proxy Authentication Required when using an HTTPS proxy."
When using an authentication required HTTPS proxy, it throws  "javax.net.ssl.SSLException: failure when writing TLS control frames", which is caused by "status: 407 Proxy Authentication Required".
Failed, unable to connect.
Authentication is provided. please see the code below
Please keep in mind, that it only fails for ***HTTPS*** proxy.

## Expected Behavior
expected to connect as if we are usin

[2022-06-01 04:45] violetagg commented on #2245
@alexroitman Were you able to test with the artifact that I mentioned in my previous comment?

[2022-06-01 04:47] violetagg commented on #2235
@xujimu Without the requested information we won't be able to proceed with the investigation and the issue will be closed.

[2022-06-01 05:43] violetagg commented on #2259
@galfordliu Somehow I missed that comment in the other issue :(

And yeah there is an issue when one changes the factory, let me schedule this to be fixed in the next release.

[2022-06-01 05:59] violetagg commented on #2260
@Irving-O Please provide your `squid` configuration.

[2022-06-01 09:49] HannoSchreiber1652 opened #2261 "Number of pending connections not being limited"
In our productive system we seem to be having the problem that, during high traffic periods, thousands of pending connections are being opened even though a limit has been configured.

[code]

## Expected Behavior
The number of connections should be limited according to the configuration

## Actual Behavior
Thousands of pending connections are opened.

![image](https://user-images.githubuserconten

[2022-06-01 14:08] kitkars opened #2262 "HTTP2 connections not used efficiently"
When we use HTTP2, single connection is enough for a remote host to send multiple requests. Unlike HTTP1.1, HTTP2 does not wait for the previous request to complete to send another request.

**Server-Controller:**

[code]
**Server-Config:**

[code]

**Client:**

[code]

_**Expected Behavior:**_
All the 10 requests should get completed in ~1 second.

**_Actual Behavior:_**
All the 10 requests get c

[2022-06-01 15:37] ceruleantrance commented on #547
Hi, im new to sprinboot troubleshooting. Once in a while i see this error in the FE application logs when its communicating with BE nodes.

2022-05-24 10:10:09.547 DEBUG 1829 --- [or-http-epoll-3] r.n.h.c.HttpClientOperations             : [24acxxxx-xx, L:/ip:port - R:BEVIPfqdn/BEVIPIP/:16120] Receive
d response (auto-read:false) : [X-Admin-Protocol=xxxxx, X-Content-Type-Options=nosniff, X-XSS-Pro

[2022-06-01 15:44] violetagg commented on #547
@ceruleantrance Please use [Gitter](https://gitter.im/reactor/reactor-netty) or [Stack Overflow](https://stackoverflow.com/questions/tagged/reactor-netty) for your questions.

[2022-06-01 15:47] ceruleantrance commented on #547
ok, sure thanks

[2022-06-02 10:02] violetagg commented on #2261
@HannoSchreiber1652 What is the meaning of the colours?

[2022-06-02 10:07] HannoSchreiber1652 commented on #2261
The colours indicate various services to which connections are being opened. Due to sensitivity concerns, I can unfortunately not include the names of the services, however no irregularities can be seen on the client side.

[2022-06-02 10:24] violetagg commented on #2261
@HannoSchreiber1652 OK Thanks

Is the protocol HTTP/1.1 or it is HTTP/2?

[2022-06-02 10:36] pderop commented on #2260
Hi @Irving-O ,

Can you also provide the squid files included by your main configuration file ?
more specifically, I'd like to see how is configured the following properties:

http_port
https_port
ssl_bump

thanks.

[2022-06-02 12:25] HannoSchreiber1652 commented on #2261
We don't seem to be explicitly setting the protocol to 2, so I assume we are using the default which is probably still HTTP/1.1. I will keep looking to confirm though

[2022-06-02 12:34] violetagg commented on #2261
yes by default it is HTTP/1.1

[2022-06-02 13:50] Irving-O commented on #2260
Hi @pderop
Thanks for your attention. This problem is solved, the problem was with the password we use for the proxy. Somehow, a hashed password works for Java native URLConnection but not for Reactor. If you are still interested in the configuration and why this happens, I can still provide the files you needed.
Thanks for the support

[2022-06-02 13:50] #2260 closed

[2022-06-02 15:35] pderop commented on #2260
thanks, but I don't need anymore the conf files since the issue is resolved, but feel free to reopen if you think there is an issue in the reactor-netty http client regarding digest proxy passwords.

[2022-06-02 16:50] #2259 closed

[2022-06-02 17:36] violetagg commented on #2259
@galfordliu This should be fixed. If you can test it with 1.0.20-SNAPSHOT it will be great!

[2022-06-03 14:10] kitkars commented on #2262
Thanks @violetagg.

**My dependencies:**

![image](https://user-images.githubusercontent.com/44539604/171869149-831baea2-0ad4-4ac0-8489-20f6233b91f9.png)

**Server-Controller:**
[code]
**Server Config:**
[code]

**Client:**
[code]

What I had observed:
I still see similar issues. If you look at the server log, I am not sure why we close channel for every 2 responses. (from where this 2 comes from?

[2022-06-06 07:33] violetagg commented on #2235
@xujimu I'm closing this issue. We can reopen it if it is needed.

[2022-06-06 07:33] #2235 closed

[2022-06-06 07:34] violetagg commented on #2245
@alexroitman I'm closing this issue. We can reopen it if it is needed.

[2022-06-06 07:34] #2245 closed

[2022-06-06 13:23] violetagg commented on #2261
@HannoSchreiber1652 Closing this in favour of https://github.com/reactor/reactor-pool/issues/123

[2022-06-07 07:55] violetagg commented on #2262
@kitkars I updated the PR #2257 and it is now in its final state.

Thanks for the example that you provided. However I need to clarify some things:

The API below configures the HTTP/2 initial settings.
`.http2Settings(b -> b.maxConcurrentStreams(N));` this configures `SETTINGS_MAX_CONCURRENT_STREAMS `. According to the specification

https://datatracker.ietf.org/doc/html/rfc7540#section-5.1.2
[co

[2022-06-07 19:42] kitkars commented on #2262
@violetagg

Your last PR update fixes all the problems I was facing. 🥇 👍

-------

**My setup:**

-  The server takes 3 seconds to process each reuqest (using `delayElement(Duration.ofSeconds(3))`.
- The client sets up 1 http connection with 1 server (`.maxConnections(1)`)

My expectation was whatever the requests client sends - they all should complete in more or less ~3 seconds.

I have been pla

[2022-06-07 19:50] violetagg commented on #2262
@kitkars

If you provide an allocation strategy then you do not need to configure `maxConnections` outside of it.

I pointed this in the javadoc but if you think we need to do more clarifications, please tell us.

[code]

[code]

[2022-06-07 20:07] kitkars commented on #2262
Yeah, That would help.
Thanks @violetagg for your prompt response and hard work to make other developer's (like me) life easier.
Please close this issue.
I can't wait to work on final release version.

[2022-06-08 10:45] #1808 closed

[2022-06-08 10:49] violetagg commented on #2262
@kitkars Thanks for testing the changes. Fix #2257 is available in 1.0.20-SNAPSHOT.

[2022-06-08 10:49] #2262 closed

[2022-06-08 10:50] violetagg commented on #2151
@ricardkollcaku a fix is available in 1.0.20-SNAPSHOT. It will be great if you can test it.

[2022-06-08 10:54] violetagg commented on #1808
The enhancement is available in 1.0.20-SNAPSHOT. It will be great if you can test it.

The min connections can be configured via the new `Http2AllocationStrategy`. See an example below:

[code]

[2022-06-08 14:29] ricardkollcaku commented on #2151
@violetagg is performing better than preview version but still outperformed by http1
using http1 im able to process up to 23k requests/s
and using http2 im able to process  18K requests/second

and i think http2 should outperform http1 Github:https://github.com/ricardkollcaku/http2-test/commit/f03d78073b49e62908aa214d06fd67afdabbd41d

[2022-06-09 14:11] spirosag commented on #374
@violetagg
Sorry to comment on such an old issue. I was having the exact same problem and your suggestion with `retain()` fixed it` but I am now trying to understand why. I read the docs you linked but I would really appreciate it if you could help me a bit with the following:

- How could I find out from the error that this was the solution?
- What exactly was the problem?
- I am reading also abo

[2022-06-10 08:33] violetagg opened #2280 "Polish the TransportConfig API for channels factories"

[2022-06-10 08:38] violetagg opened #2281 "Polish TransportConnector.MonoChannelPromise"
This is related to #2273

[2022-06-10 09:36] dharezlak commented on #388
Hi @violetagg. We are facing the same issue with the WebClient randomly throwing the "Connection reset by peer" error and we discovered a lot of reports about it. We are still trying to figure out what is causing this, however, from the posts it seems that switching to RestTemplate fixes the issue. Since you show up many times in those reported issues do you know if anyone investigated what is Res

[2022-06-10 09:40] simonbasle commented on #388
@dharezlak that is pretty simple: `RestTemplate` _doesn't use Reactor-Netty_ unlike `WebClient`. Also, the reason why the above linked documentation has been created is precisely because there were so many reports of this exception, which can have multiple root causes that only you, the user, can analyze. This was proving to be a pain to triage and always hunt for more information, hence the docum

[2022-06-10 13:12] violetagg opened #2291 "Enable the check for the type of the executor"
This is related to #2290

[2022-06-10 19:21] lynch19 opened #2292 "Add samples for webflux & reactor netty"
## Motivation

I'd like to use Webflux & Reactor Netty for pretty complex requests (in my case I want to return a `Flux<ByteBuffer>` to the user, but I'm not exactly sure how to release it and if I suppose to return `Mono<Void>` and submit the data programmatically). I'm struggling to find examples for requests such as streaming use cases and more with Webflux & Reactor Netty.

I feel that current

[2022-06-11 05:15] pavanpkp33 opened #2293 "Issue with Spring Webclient 5: Executor not accepting a task"
I'm running a Spring webflux app which makes http calls to another service. Under high load (atleast this is when I see these errors), http call from webclient 5 to another service fails with ` java.lang.IllegalStateException: executor not accepting a task` .

What could be the reason for this? Here's my HTTP call implementation.

[code]

SchedulerHelper class returns the following scheduler with

[2022-06-13 07:46] simonbasle commented on #2293
please provide the stack trace. you're mentioning an SO question but no link...

[2022-06-13 09:43] dharezlak commented on #388
Thanks @simonbasle. So what does `RestTemplate` do differently from `WebClient`? Is there a way to achieve the same approach to establishing TCP connections with reactor-netty as with the client `RestTemplate` is using? We tried with `newConnection` without success. We thought, putting the performance concerns aside for now, that it will at least fix random connection resets but  it has not.
I als

[2022-06-13 17:17] pavanpkp33 commented on #2293
@simonbasle  - Here's the SO link. It's a copy of the same https://stackoverflow.com/questions/72581196/issue-with-spring-webclient-5-executor-not-accepting-a-task

Im finding it hard to get the stack trace since it is happening in production. I'm unable to replicate in my local and from PROD, this is what I get as an error.

[2022-06-14 11:04] violetagg commented on #374
@spirosag Thanks for getting in touch, but it feels like this is a question that would be better suited to [Gitter](https://gitter.im/reactor/reactor-netty) or [Stack Overflow](https://stackoverflow.com/questions/tagged/reactor-netty).

[2022-06-14 16:50] jonathannaguin commented on #344
@lhotari Is there a way of specifying all platforms in Gradle? Our JARs are being built from Jenkins but then run from Docker which is a different OS.

[2022-06-14 18:05] moremind opened #2296 "how to build elastic or fixed connectionProvider"
how to build elastic or fixed connection provider by elastic or fixed method as reactor-netty 0.9.4-RELEASE in new release.

[2022-06-14 18:09] moremind commented on #2296
I just do it as follow
[code]
the above is fixed connection, but elastic?

[2022-06-14 18:23] fido016 opened #2297 "reactor.netty.http.client.PrematureCloseException: Connection prematurely closed DURING response"
Getting this error on the following:

[code]

[code]

------------------------------------------
LOG
----------------------------------------

Log contents:

WARN  reactor.netty.channel.FluxReceive  - An exception has been observed post termination

[code]

## Expected Behavior

The transaction should complete

## Actual Behavior

The  transaction never completes ...  The endpoint gets called,  re

[2022-06-14 18:23] violetagg commented on #2296
@moremind Thanks for getting in touch, but it feels like this is a question that would be better suited to [Gitter](https://gitter.im/reactor/reactor-netty) or [Stack Overflow](https://stackoverflow.com/questions/tagged/reactor-netty). As mentioned in [README](https://github.com/reactor/reactor-netty/#getting-help), we prefer to use GitHub issues only for bugs and enhancements.

For this particula

[2022-06-14 18:23] #2296 closed

[2022-06-15 02:03] moremind commented on #2296
thanks a lot

[2022-06-15 06:46] violetagg commented on #2297
@fido016 I've edited your comment to improve the formatting. You might want to check out this [Mastering Markdown guide](https://guides.github.com/features/mastering-markdown/) for future reference.

[2022-06-15 06:54] violetagg commented on #2297
@fido016 Can you provide a reproducible example?

[2022-06-15 07:02] violetagg commented on #2293
@simonbasle @pavanpkp33 I don't see how this is related to Reactor Netty project.

[2022-06-15 10:30] simonbasle commented on #2293
@pavanpkp33 having looked for that error message, it seems that Netty `AddressResolverGroup` is the one throwing it. I don't think this has anything to do with the `Scheduler` setup in your reactive chain. It sounds clear the activity spike is indeed triggering the issue though.

@violetagg I don't think we're doing any specific setup of that `AddressResolverGroup`'s `executor`. Maybe you have an

[2022-06-15 10:55] fido016 commented on #2297
Thank you

Paul M. Cournoyer
Sr. Systems Analyst
Business Applications
MAPFRE Insurance
211 Main Street
Webster, MA 01570
Tel: 1-800-221-1605  Ext. 14829
C: NA
***@***.******@***.***>

Follow us on:
***@***.***<https://www.facebook.com/mapfreinsurance/>  ***@***.*** <https://www.instagram.com/mapfreinsurance/>    ***@***.*** <https://www.linkedin.com/company/mapfre/mycompany/>    ***@***.*** <http

[2022-06-15 11:18] fido016 commented on #2297
Thank you for getting back to me ..   Unfortunately, it's an internal application.  The code provided resides on a local host Tomcat 9 server and does "real" database connections and the like ..
 I guess my ask is,  how does Netty / WebClient determine how to close connections.   We are researching replacing our Rest Template with this technology.  Also, if possible, I would like to try to get mor

[2022-06-15 11:31] fido016 commented on #2297
Also, I tried to use the tcp client instead and noticed the same results ..  Any help or suggestions are much appreciated ..    Best ..  PC

[2022-06-15 11:54] fido016 commented on #2297
one more note,  originally,  I was using the Netty bundled with the following:
		<dependency>
   		 	<groupId>org.springframework.boot</groupId>
    		 <artifactId>spring-boot-starter-webflux</artifactId>
    		 <version>2.6.1</version>
		</dependency>

Is there any Merit to abandoning this and using Netty alone instead ..
		<dependency>
   		 	<groupId>org.springframework.boot</groupId>
    		 <a

[2022-06-15 12:04] NeilOnasch0402 commented on #2261
@violetagg  @HannoSchreiber1652
I'm a colleague of Hanno.

We do not use reactor-pool as a dependency (not even transitive, as far as I can see, since the reactor-pool dep is in the optional "addons" section of the Reactor project), so we don't understand how these Bugs are connected.

Also, if reactor-pool should be somehow included within reactor-core or reactor-netty, we can confirm that the co

[2022-06-15 12:22] violetagg commented on #2261
@NeilOnasch0402 Reactor Netty packages Reactor Pool and distributes it with its binaries. You can see that in `reactor-netty-core` you have `reactor.netty.internal.shaded.reactor.pool` package.

[2022-06-15 12:26] violetagg commented on #2297
@fido016 Do you see the issue with the latest releases? I want to be sure that this not something that is fixed in Spring/Reactor projects.

[2022-06-15 12:37] fido016 commented on #2297
I am using

<groupId>org.springframework.boot</groupId>
    		 <artifactId>spring-boot-starter-webflux</artifactId>
    		 <version>2.6.1</version>

which pulls in Netty and I'm using a http client as  the primary client ..

[2022-06-15 12:43] NeilOnasch0402 commented on #2261
Ah yes, I did see the internal.shaded package but assumed it's something different. Thanks for the clarification. However, to quote myself

Since this is a reactor-pool issue, this one can stay closed the discussion will continue in https://github.com/reactor/reactor-pool/issues/123

[2022-06-15 12:55] violetagg commented on #2297
I meant that these are not the latest releases neither for Reactor Netty nor Spring Framework/Spring Boot

[2022-06-15 12:57] fido016 commented on #2297
oh,  thank you ..   Sorry about that ..  Which version would you recommend?

[2022-06-15 12:57] violetagg commented on #2297
https://github.com/reactor/reactor-netty/releases
https://github.com/spring-projects/spring-framework/releases
https://github.com/spring-projects/spring-boot/releases

[2022-06-15 12:58] vijay2308 commented on #1868
@violetagg , i have the same exact issue and has nginx ingress in between cllient and server. We are facing same issue. what miight be the probable cases from nginx which could cause the issue? in our case, we have Bearer token which is large in size. if we remove some claims and generate token, it goes through, but as the `Authorization` header size increases, we are getting `Connection premature

[2022-06-15 13:02] violetagg commented on #2293
@pavanpkp33 We need either some reproducible example or at least the stack trace otherwise it will be very hard to find what might be the issue only based on the Exception message.

[2022-06-15 14:25] fido016 commented on #2297
Thank you.  I will look at those links that you've provided ..  As a reference,  I am using the article below as a starting point ..

https://www.baeldung.com/spring-5-webclient

[2022-06-15 14:31] fido016 commented on #2297
I have updated my pom to use the latest,  which brought in Netty 1.0.19 version ..
### Pom change
<dependency>
   		 	<groupId>org.springframework.boot</groupId>
    		 <artifactId>spring-boot-starter-webflux</artifactId>
    		 <version>2.7.0</version>
		</dependency>
### Log
and I'm getting,

2022-06-15 10:06:59 [reactor-http-nio-2] DEBUG i.n.util.ResourceLeakDetectorFactory - Loaded default Res

[2022-06-15 14:31] fido016 commented on #2297
Thanks again for your help with this ..

[2022-06-15 19:30] violetagg commented on #1868
@vijay2308 I would recommend you to take a tcp dump and check it. Please let's continue the discussion on the corresponding channels [Gitter](https://gitter.im/reactor/reactor-netty) or [Stack Overflow](https://stackoverflow.com/questions/tagged/reactor-netty).

[2022-06-15 22:51] pavanpkp33 commented on #2293
@violetagg - Im trying to push debug level code to my PROD instances. It may take some time for next rollout but i will keep you posted.

[2022-06-16 13:07] nandorsoma opened #2300 "407 Proxy Authentication Required should not trigger warning log"
When netty attempts to reach a resource through a proxy which requires authentication, initially it sends a request without authentication and then if it's needed an AuthorizationChallengeHandler will do the authentication. The problem is that between the first request and the authentication challenge handling HttpClientConnect logs a warning message which is misleading in that situation because i

[2022-06-17 15:33] santoshpanigrahi1990 opened #2305 "Some http server reactor metrics are not pegging"
I am using Spring boot and reactor netty in my spring boot app. I tried to capture reactor netty metrics. I sent request to my application. After sending requests, some reactor metrics were pegging(e.g.- reactor_netty_http_server_connections_total ).

But  I unable to see below metrics.
- **reactor.netty.http.server.data.received**
- **reactor.netty.http.server.data.sent**
- **reactor.netty.http.s

[2022-06-17 15:46] violetagg commented on #2305
@santoshpanigrahi1990 You need to update to at least version 1.0.17 where we added metrics for HTTP/2. See the release notes https://github.com/reactor/reactor-netty/releases/tag/v1.0.17

[2022-06-19 19:14] dajemet379 commented on #2292
I also didn't find any documentation for Webflux-netty when it comes to use cases such as HTTP streaming. In general, there are no official Webflux examples with Reactor Netty that I know of (and if there are, there are no examples for using the Webflux annotation-based routing declaration - MVC style).

@violetagg wdyt?

This [awesome talk](https://www.youtube.com/watch?v=ODzY5uJfzDI) includes so

[2022-06-20 07:53] violetagg commented on #2305
@santoshpanigrahi1990 I'm closing this one. We can reopen it if it is needed.

[2022-06-20 07:53] #2305 closed

[2022-06-20 09:20] idikshit opened #2309 "Data frame included in response for 204 No Content status"
Hi,

While sending PATCH requests to our application for which a corresponding 204 No Content response is sent back. We see data frame included in response.

Dependencies
Spring Cloud Gateway - 3.0.7
Spring Boot - 2.6.6
Reactor netty - 1.0.16
Netty - 4.1.73.Final
OS - Cent OS / Linux

Expected behavior - Data frame should not be included in response from server.

PFA attached network trace and log

[2022-06-20 09:54] violetagg commented on #1420
@mp911de In the latest Netty versions, the TLS functionality depends on `netty-transport-native-unix-common` and we cannot make this dependency optional.
https://github.com/netty/netty/blob/b063c211277fcfb4453f24aad3bda8529cf21b8a/handler/pom.xml#L58-L62

[2022-06-20 09:54] #1420 closed

[2022-06-20 13:15] violetagg commented on #2292
@lynch19 @dajemet379 We do have this workshop https://bclozel.github.io/webflux-workshop/

[2022-06-20 13:17] santoshpanigrahi1990 commented on #2305
Thank you.
Metrics are coming in 1.0.17 version.

[2022-06-20 13:36] silvinoneto opened #2312 "Connection prematurely closed BEFORE response after version upgrade"
Hello,

We have been using Spring Boot (2.3.3.RELEASE) + Reactor Netty (0.9.11.RELEASE) in one of our legacy projects for a long time. This system is live for over a few years now and we recently decided to upgrade some its libraries. So we bumped Spring Boot to 2.7.0 and Reactor Netty to 1.0.19.
We've done a load test using Gatling and running 40 requests/second over a 30-minutes interval, and we

[2022-06-20 15:05] tuguri8 opened #2313 "Provide a static method to enable metrics with custom name, maxConnections in ConnectionProvider"
## Motivation

- I found that metrics option has been added for ConnectionProvider since 0.9.5. (https://github.com/reactor/reactor-netty/issues/925)
- To enable ConnectionProvider metrics with custom name and maxConnections now, I have to use builder and customize other options so It can make unnecessary boilerplate.
- There are many use cases that enable only ConnectionProvider metrics with cust

[2022-06-22 07:15] violetagg commented on #2312
@silvinoneto Can you provide a reproducible example?

[2022-06-23 06:25] #2313 closed

[2022-06-23 12:26] violetagg commented on #2300
@nandorsoma Please provide reproducible example.

[2022-06-24 10:04] #2187 closed

[2022-06-24 10:28] almogtavor opened #2324 "Better documentation of HTTP streaming responses with Webflux & Reactor Netty"
I've tried Stackoverflow for this but didn't receive an answer. I open this issue for two reasons - to ask whether what I try to do is possible (and how?), and to raise the fact that there is a lack of documentation for Webflux & Reactor Netty. All I've found is regular Webflux documentation and Reactor Netty documentation. I've never seen a tutorial for using Reactor Netty operations with MVC Web

[2022-06-24 11:02] violetagg commented on #2324
@almogtavor Thanks for getting in touch, but it feels like this is not exactly Reactor Netty related.

Spring WebClient **abstracts** the Reactor Netty functionality and provides its own API (DataBuffer, Codecs etc). What you need is a documentation how to use Spring WebClient API, but this is not the proper place for this question. Please contact Spring maintainers/community on this matter.

[2022-06-24 11:14] violetagg commented on #2292
@lynch19 @dajemet379 I'm closing this one.

Please take into consideration that Spring WebFlux and WebClient **abstract** the Reactor Netty functionality and provide their own API.
Examples above are related to how Spring API can be used. Please contact Spring maintainers/community on this matter.

[2022-06-24 12:01] violetagg commented on #2297
@fido016

From this log I see the same that you described:
The headers are received but then while reading the response body the connection is closed.
If you use tcp dump can you see whether the server or the client closes the connection.

Also you mentioned:

So you are observing the same issue with another client? Is it possible that the issue is in the server?

[2022-06-24 12:14] fido016 commented on #2297
Hi Violeta-

Thanks for getting back to me ..

Your idea to check the versions of components suggested a new approach for me on this.

I abandoned the Spring starter approach and opted using the configuration listed below ..

We are tied to:
<org.springframework-version>5.1.0.RELEASE</org.springframework-version>

So, I ended up using the following configuration and things seem to be working.

<de

[2022-06-24 12:20] violetagg commented on #2297
@fido016

So we can close this?
I mean Reactor Netty HttpClient is working as expected?

[2022-06-25 18:53] silvinoneto commented on #2312
@violetagg I'll try to put in something together, cause right now this component is tightly couple with a lot of other stuff that we cannot leak to external audience. I'll need some time to create a working example. I ask you to kindly keep this ticket open as I create a reproducible example.

[2022-06-26 21:00] matszrmn commented on #1639
I've solved this issue on my @Tests with a workaround, by adding following line in the end of each method:

`try {
     Thread.sleep(5000);
 } catch (InterruptedException e) {
     throw new RuntimeException(e);
 }`

[2022-06-27 06:45] violetagg commented on #2297
@fido016 I'm closing this. If needed we can reopen it.

[2022-06-27 06:45] #2297 closed

[2022-06-28 10:22] iyappan opened #2336 "How to close or reset a http2 stream in Springboot with embedded Netty server application?"
Requirement:
1. Our application runs on Springboot with embedded Netty server(enabled http2). And it exposes services via Rest Apis.
2. On Rest Api call, we have a scenario where we wanted to ignore the http2 request without sending any response.

## Expected Behavior
Do we have any support from Netty Server to close a http2 stream(request) without response?

## Actual Behavior
Not able to find an

[2022-06-29 04:35] idikshit commented on #2309
@violetagg Please find below attached snapshot for reference

<img width="960" alt="GOAWAY" src="https://user-images.githubusercontent.com/76950833/176352493-a7552e06-acfc-4c7a-b995-255e9b3b025c.PNG">

[2022-06-29 10:10] pderop commented on #2336
closing this issue. reopen if needed, thank you.

[2022-06-29 10:34] violetagg opened #2341 "Adapt ByteBufAllocatorMetrics to Buffer API"
The current implementation is temporary excluded with #2342

[2022-06-29 16:53] pderop commented on #2309
Hi @idikshit ,

Could you attach your wireshark please ? I would like to see the flag from the _DATA[1]_ frame and also the size of _DATA[1]_.
It probably contains an _END_STREAM_ flag and its size is probably 0 ? in this case, it would just mean that _DATA[1]_ is the last frame which is considered to close the stream, no ?

Please attach your wireshark, so we can verify.
thank you.

[2022-06-30 06:17] pderop commented on #2300
Hi @nandorsoma ,

Did you have a chance to try to provide a reproducible example ?
thanks

[2022-06-30 08:49] idikshit commented on #2309
Hi @pderop
I have already attached wireshark capture, it is present in above attached zip file. Please check my previous comment. Thanks

[2022-06-30 13:18] nandorsoma commented on #2300
Hey @pderop !
I've experienced this issue transitively through an azure lib, I have an example with that, but I haven't got time yet to provide a pure netty example. But it is on my list!

[2022-06-30 14:14] pderop commented on #2309
I'm sorry @idikshit, I missed the zip file.

Actually, we need a reproducible sample project to test with the gateway, can you provide it please ?

thanks

[2022-07-02 17:51] kitkars opened #2347 "HTTP1.1 to H2C Upgrade Fails"
I use latest version of Spring which is 2.7.1 (reactor netty 1.0.20)

**_What works well:_**

- server supports only H2C
- Client sends request with H2C

**_What does not work:_**

- Server is configured with H2C and HTTP1.1 (`return httpServer -> httpServer.protocol(HttpProtocol.H2C, HttpProtocol.HTTP11);`
- Client is configured with H2C and HTTP1.1

When the client sends upgrade request, server

[2022-07-02 18:43] violetagg commented on #2347
@kitkars By default the server does not allow upgrade request with a payload, you need to allow it explicitly.
Check the documentation https://projectreactor.io/docs/netty/release/reference/index.html#_http_request_decoder

[code]

you need to configure `DEFAULT_H2C_MAX_CONTENT_LENGTH`

[2022-07-03 13:23] micw opened #2348 "Support for Proxy-over-SSL"
## Motivation

I have a network which is reachable by a proxy only. The proxy itself is an apache2 configured as proxy. The proxy is exposed via https. The ressources within the network are reachable by http.

This setting works easily with curl:

[code]

* Proxy-Connection is established with SSL
* connection from proxy to backend is established without SSL

## Desired solution

This should also

[2022-07-03 14:18] micw opened #2349 "Client should use GET not CONNECT with proxy when target URI is HTTP"
## Expected Behavior
When accessing an URI via proxy, the client should use "GET" for HTTP-Targets and CONNECT for HTTPS-Targets.

## Actual Behavior
The Client always uses CONNECT. This is technical valid but breaks things like proxy-side request filtering for Non-HTTP requests.

## Steps to Reproduce

Create a client with http proxy set to localhost:someport. Run netcat (nc -l -p someport). Quer

[2022-07-03 14:48] kitkars commented on #2347
I just wanted to let you know that I did configure. It did not help at all. You might want to check.

[code]

[2022-07-03 16:04] violetagg commented on #2349
@micw Follow this issue https://github.com/netty/netty/issues/10475 in Netty project.

[2022-07-03 16:04] #2349 closed

[2022-07-03 16:28] violetagg commented on #2347
@kitkars The example below is working for me. Please provide a reproducible example so that we can investigate further.

Server

[code]

Client

[code]

[2022-07-03 17:09] kitkars commented on #2347
@violetagg
Please clone this. https://github.com/kitkars/netty-http2/tree/master/server

- Run the application **_com.http2.server.ServerApplication_**
- Run the test - **com.http2.server.ServerApplicationTests**

[2022-07-03 17:48] violetagg commented on #2347
@kitkars When you use

[code]

`Spring Boot` will apply `org.springframework.boot.autoconfigure.web.embedded.NettyWebServerFactoryCustomizer` **AFTER** your customiser and will override some of the settings. (consider checking the implementation for more information)

If you use the code below then your configuration will be taken into consideration

[code]

[2022-07-03 17:48] #2347 closed

[2022-07-04 07:33] violetagg commented on #2348
@micw Is this issue related to the other one that you created #2349?

[2022-07-05 17:38] samueldlightfoot opened #2356 "Add HTTP/2 HttpServer metric for active streams"
Similar to that available for the HttpClient, it would be nice to expose the current number of active streams for a server as a metric.

## Motivation

## Desired solution

Extend the current server metrics recorders.

## Considered alternatives

## Additional context

[2022-07-05 18:12] violetagg commented on #2356
@samueldlightfoot I would be great if you decide to provide PR!

[2022-07-05 21:19] samueldlightfoot commented on #2356
Sure thing - will raise shortly.

[2022-07-06 19:38] ricardkollcaku commented on #2151
Hi @kitkars
i have tried with your changes (Updated in github https://github.com/ricardkollcaku/http2-test)
Now yes i see that it created just 10 connections but still http1 is outperforming http2 with http1 i process 21K requests/s
with http2 10connections i get around 19k requests/s
i have tried to use different number of connections like 10-20-50 and different parallelism  like 254,500,5000 but

[2022-07-07 12:15] samueldlightfoot commented on #2151
I do also see around 20% additional throughput for HTTP/1.1 connections using a parallelism of 20 in the above test.

HTTP/1.1 - 60k/s
HTTP/2 - 50k/s

[2022-07-07 12:25] DInTheName commented on #907
Why not fix the problem?

[2022-07-07 14:31] kitkars commented on #2151
@ricardkollcaku @samueldlightfoot

Couple of things to notice.

**_Issue 1:_**:

I checked your gradle file. As far as I know you never used 1.0.20-SNAPSHOT because (I am a maven user. this comment is based on maven. I believe gradle should also behave more or less same) if you ever want to override the dependency webflux brings, you need to keep that dependency which you want to have , in this ca

[2022-07-07 14:52] ricardkollcaku commented on #2151
@kitkars
Issue 1 ) im using 1.0.20-SNAPSHOT because if you check the dependencies we have now version 1.0.20-snapshot.
anyway i still tried to upgrade spring to version 2.7.1 and the result is the same.
Issue 2) im not trying to compare imperative vs reactive here or to show the power of reactive when we have io, im just trying to compare http1 vs http2 without any delay or other operations just h

[2022-07-07 16:34] #2341 closed

[2022-07-08 11:53] violetagg opened #2368 "Revise HttpMetricsHandlerTests#testServerConnectionsRecorder"
This test is flaky and it is observed that it fails from time to time on the CI for all versions 1.0.x, 1.1.x, 2.0.x

[2022-07-08 12:05] #2291 closed

[2022-07-11 08:08] MianoKariuki commented on #887
@violetagg  Could you please provide a code snippet of the quoted test  including proxy username and password because I have tried to append the .username("username") and .password("password")  after the .port("port") but all am getting is the error " cannot find symbol method method username(java.lang.String)  "

[2022-07-11 08:13] MianoKariuki commented on #887
@violetagg Issue resolved. Kindly disregard earlier request.

[2022-07-11 09:09] pderop opened #2372 "Stabilize HttpClientTest"
This test is flaky and it is observed that it fails from time to time on the CI for versions 2.0.x

Observed exception:

[code]

[2022-07-11 09:11] pderop opened #2373 "Stabilize HttpProtocolsTests.testAccessLog"
This test is flaky and it is observed that it fails from time to time on the CI fo version 2.0.x

Observed error:

[code]

[2022-07-11 09:20] violetagg opened #2374 "Stabilize PooledConnectionProviderDefaultMetricsTest#testConnectionPoolPendingAcquireSize"
This test is flaky and it is observed that it fails from time to time on the CI for versions 2.0.x

Observed exception:

[code]

[2022-07-12 10:44] gp0014 opened #2377 "Memory leak when using with spring redis session"
I use Spring Cloud Gateway as our web application gateway, and use spring session persistent in redis to share sessions in cluster. I could see some memory leak log every day. Could someone help to investigate the problem?

Here is my parameters

[code]
And the logs like below
[code]

The above logs are filtered by id `0xc0181a9b`.

## Expected Behavior
No memory leak

## Actual Behavior
Direct me

[2022-07-13 09:24] pderop commented on #2377
Hello @gp0014 ,

Your components are too old, and your Reactor Netty version is not supported anymore. Please upgrade to the latest version and test again.

However, here are my two cents for this issue: from your logs, at the beginning,  I was thinking that your issue was similar to this old issue: #2114, where there were no subscription related to the incoming data for request with id **0xc0181a

[2022-07-13 15:03] pderop commented on #2309
@idikshit ,

Hi,

I'm having two issues with the demo:

first, I tried to build the demo, but I got an error:
[code]

So, since you are using Reactor Netty 1.0.16, I changed the build.gradle in order to pull the RN 1.0.16 like this:
``
	id 'org.springframework.boot' version '2.5.10'
``

But now, I can't reproduce the problem because the incoming H2C client request is forwarded to the server using

[2022-07-13 16:19] violetagg commented on #306
The Codecs will not be removed https://github.com/netty/netty/issues/8526

[2022-07-13 16:19] #306 closed

[2022-07-14 07:32] violetagg commented on #2368
failure on 1.0.x publishing job https://github.com/reactor/reactor-netty/runs/7335349635?check_suite_focus=true#step:4:68

[2022-07-14 08:22] pderop commented on #2368
yes, same error on _1.0.x_, I will fix soon on 1.0.x and then merge to _main_ and _netty5_ branch.

[2022-07-14 08:51] idikshit commented on #2309
Hi @pderop

PFA demo project with updated changes.

[demo.zip](https://github.com/reactor/reactor-netty/files/9110214/demo.zip)

[2022-07-14 13:11] yanwenliang opened #2384 "spring cloud gateway memory leak"
Expected behavior
No leak

Actual behavior
LEAK: ByteBuf.release() was not called before it's garbage-collected

[code]

Steps to reproduce
Unfortunately I have no idea how to reproduce it as this error happens randomly in our service in production.

Spring Cloud Gateway version
3.1.1

Reactor Netty version
1.0.16

JVM version (e.g. java -version)
11.0.14

used
-Dio.netty.leakDetection.level=PARAN

[2022-07-15 06:30] 18801151992 opened #2386 "Connection prematurely closed BEFORE response"
When the volume of requests is large, such a problem occurs in production, and this problem cannot be reproduced locally. How can I solve this problem? There is no WebClient configuration class
## webclient
[code]
## Error content

[code]

## The environment
[code]

[2022-07-15 07:12] pderop commented on #2386
@18801151992 ,

Please check this FAQ, which provides some suggestions on how to investigate such a problem:

https://projectreactor.io/docs/netty/release/reference/index.html#faq.connection-closed

[2022-07-15 07:13] #2386 closed

[2022-07-15 09:07] pderop commented on #2309
Hi @idikshit

This time the demo project forwards the request to the destination server using H2C, but I'm sorry I still can't reproduce.

Here is the test I did:

- I'm using an http2 server listening on 8090, so I just have changed your application.yaml with uri: http://127.0.0.1:8090
- I then did this curl command:

[code]

Now, here is wireshark trace:

![pderop-wireshark-2](https://user-image

[2022-07-15 09:54] pderop commented on #2384
Hi @yanwenliang ,

Without having a reproducer scenario for the issue, it is impossible to guess just based on the provided logs. From the logs, we see that the application/framework has subscribed to the response data (see "_subscribing inbound receiver_ "logs), but it does not consume it for whatever reasons.

so, can you elaborate more on the issue and try to setup a reproducible sample project

[2022-07-18 04:20] yanwenliang commented on #2384
reactor.netty.http.client.PrematureCloseException: Connection has been closed BEFORE response, while sending request body

reactor.netty.http.client.PrematureCloseException: Connection has been closed BEFORE response, while sending request body
	Suppressed: reactor.core.publisher.FluxOnAssembly$OnAssemblyException:
Error has been observed at the following site(s):
	*__checkpoint ⇢ org.springframew

[2022-07-18 04:23] yanwenliang commented on #2384
Ok, I'll try.

[2022-07-18 06:02] violetagg commented on #2293
@pavanpkp33 I'm closing this one. We can reopen it when there is more information.

[2022-07-18 06:02] #2293 closed

[2022-07-18 06:04] violetagg commented on #2300
@nandorsoma I'm closing this one. We can reopen it when there is an example with vanilla Reactor Netty.

[2022-07-18 06:04] #2300 closed

[2022-07-18 06:05] violetagg commented on #2312
@silvinoneto I'm closing this one. We can reopen it when there is more information.

[2022-07-18 06:05] #2312 closed

[2022-07-18 06:08] violetagg commented on #2384
@yanwenliang In addition to the recommendation above, please provide more information how SCG is used. Do you use for example some caching filter etc.

[2022-07-18 06:11] violetagg commented on #2384
I've edited your comment to improve the formatting. You might want to check out this [Mastering Markdown guide](https://guides.github.com/features/mastering-markdown/) for future reference.

[2022-07-18 11:04] violetagg opened #2392 "Support UDS for NIO transport"
This is in Netty 5.0.0.Alpha4-SNAPSHOT
https://github.com/netty/netty/pull/12603

[2022-07-20 13:55] GabrielC10 commented on #796
Same problem, occurs with 2/20 http requests and only in production, I cannot reproduce in my localhost too. Load Balancer can influence something?

[2022-07-21 07:33] hammafataka commented on #2166
hello @violetagg, there is one thing that is not clear for me, i am still getting ` java.nio.channels.UnresolvedAddressException: null` it causes when sslhandler tries to connect because address is unresolved, i digged up and i can see from InetSocketAddress.java the address is unresolved in another word addr=null;

any reason why it causes it. i am attaching log with it as well

`org.springframew

[2022-07-21 19:00] GregoireW commented on #2072
Hello,

I just face this error but only when I compile with graalvm native image.   With standard hotspot it is ok.

Now it is a great question on how to fix this...

[code]

the error look like:

[code]

[2022-07-21 19:17] violetagg commented on #2072
@GregoireW Please check this https://projectreactor.io/docs/netty/release/reference/index.html#faq.proxy-connect-method

[2022-07-21 19:24] violetagg commented on #2166
@hammafataka can you provide some reproducible example?

[2022-07-22 08:56] GregoireW commented on #2072
FYI, I tried to do a minimal app to check this issue with native image.  It went OK.

With a quick diff on the pom, on my app I updated spring-native version from 0.12.0 to 0.12.1 and   native-buildtool from 0.9.12 to 0.9.13    and the issue is gone.

[2022-07-22 17:14] asw12 opened #2396 "Http2Connection is still returned by Pool even after lastStreamCreated exceeds Last Stream ID in received GOAWAY frame"
When using HTTP/2 with a Connection Pool, an HTTP/2 server may occassionally send our reactor-netty client a GOAWAY frame indicating the last stream ID it will accept. In my use case, I am communicating with an nginx server, [which by default will only allow 1000 requests](http://nginx.org/en/docs/http/ngx_http_v2_module.html#http2_max_requests) on a single connection before it closes it by sendin

[2022-07-25 06:29] hammafataka commented on #2166
@violetagg reproducible example is below

 `public WebClient buildWebClient() {
  final var httpClientBuilder = HttpClient
                    .create();

  final var store = KeyStore.getInstance("JKS");
                stream = new FileInputStream("trustStorePath");
                store.load(stream,"trustStorePass".toCharArray());
                final var trustManagerFactory = TrustManagerFacto

[2022-07-25 06:37] yanwenliang commented on #2384
This is all filters I used.
`filters=@ArrayList[ @OrderedGatewayFilter[[GatewayFilterAdapter{delegate=org.springframework.cloud.gateway.filter.NettyWriteResponseFilter@17c2d509}, order = -1]],@OrderedGatewayFilter[[GatewayFilterAdapter{delegate=org.springframework.cloud.gateway.filter.RouteToRequestUrlFilter@36bf84e}, order = 10000]],@OrderedGatewayFilter[[GatewayFilterAdapter{delegate=org.springf

[2022-07-25 13:08] Jojoooo1 opened #2398 "Trace are not being injected in netty error logs"
When an error in thrown the trace are not being injected in netty error logs.

![Screenshot from 2022-07-25 15-04-11](https://user-images.githubusercontent.com/17641873/180783972-023dc91d-3b7c-4be2-bd7c-2d2a6719cb28.png)

## Expected Behavior
Traces should be injected.

## Actual Behavior
Traces are not being injected.

## Your Environment
java: 17
spring-boot: 2.7.2
spring-boot-starter-webflux us

[2022-07-25 13:40] violetagg commented on #2398
@Jojoooo1 Do you use Reactor Netty <-> Brave integration (https://github.com/reactor/reactor-netty/tree/1.0.x/reactor-netty-http-brave) or you use Sleuth integration?

[2022-07-25 16:00] Jojoooo1 commented on #2398
@violetagg testei com sleuth e sleuth com reactor netty http brave

[2022-07-25 16:24] violetagg commented on #2398
I didn't get that. Can you explain more? If you do not use the Reactor Netty <-> Brave integration but Sleuth implementation then this issue has to be reported to Sleuth.

[2022-07-25 17:51] Tripplesixty opened #2400 "Http2AllocationStrategy may report incorrect permitGranted"
The new Http2AllocationStrategy introduced a function that returns `permitGranted()`. The function as implemented appears to return the number of available permits, not the current number granted.  I could be reading this wrong, but it seems as if the logic is inverted. This may cause a bug in the `Http2Pool.java` code when calculating connection count bounds.

The docs state the following:
https:

[2022-07-25 18:16] violetagg commented on #2400
@Tripplesixty At the beginning PERMITS is initialed with `maxconnections` i.e. we **can** grand such number of permits, then when we invoke `getPermit` we decrease this value

https://github.com/reactor/reactor-netty/blob/3a90eba6447cf7b37cc87fab38e6121672a8fe92/reactor-netty-http/src/main/java/reactor/netty/http/client/Http2AllocationStrategy.java#L100

so `permitsGranted` is exactly `maxconnecti

[2022-07-25 18:38] Tripplesixty commented on #2400
Okay, I see what you are saying. I read the docs as this method returning the number of permits granted from the h2 pool, not the total number of h2 connections granted by the server. Thanks for clarification. I think this makes sense. We can close this report i think.

[2022-07-25 18:38] #2400 closed

[2022-07-26 02:34] yuebaix commented on #374
I got the same issue. It's not such an elegant solution. Maybe it would be better to add retain() in official code example and explaination about the op. In most case it's necessary I suppose.

[2022-07-26 02:35] yuebaix commented on #374
@violetagg

I got the same issue. It's not such an elegant solution. Maybe it would be better to add retain() in official code example and explaination about the op. In most case it's necessary I suppose.

[2022-07-26 06:58] Jojoooo1 commented on #2398
I thought it could have been used in parallel, just create an issue in sleuth repo, thanks @violetagg!

[2022-07-26 06:58] #2398 closed

[2022-07-26 22:49] nandorsoma commented on #2300
Hi!
I was able to reproduce the issue, however it seems like a custom HttpProxyHandler is causing the bug in the azure-sdk-for-java so it is not related to that project. Sorry for the false alarm.

[2022-07-27 12:01] violetagg commented on #2166
@hammafataka One thing that I'm noticing in the example above is that you configure the http client but you never actually use the configurations. `HttpClient` is immutable so when you have for example

[code]

it should be like this

[code]

so the whole example should be like this

[code]

[2022-07-27 12:03] hammafataka commented on #2166
Hello @violetagg , sorry for not keeping code updated, yes i am using it as immutable, and still getting the same

[2022-07-27 22:26] v891 opened #2407 "WebClient is using the original HttpMethod when followRedirect is true"
Hi! When a REST endpoint returns Status code `303` with `Location` header, we'd expect that WebClient will call the new endpoint(Found in the `Location` header) with the `GET` method as Suggested [here](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Location). But WebClient is calling the new API with the original HttpMethod.

Post to this API will return the new location with 303 Statu

[2022-07-28 04:45] violetagg commented on #2407
@v891 This should be fixed in Reactor Netty  version 1.0.20 with #2184

[2022-07-28 04:45] #2407 closed

[2022-07-28 08:56] #2396 closed

[2022-07-28 13:39] vaclap opened #2409 "reactor.netty.channel.AbortedException: Connection has been closed"
It run well on reactor-netty which version belown 1.0.0, will occur error on 1.0.20
[code]

* Reactor version(s) used: 1.0.20/1.0.19
* JVM version (`java -version`): jdk17

[2022-07-28 13:45] violetagg commented on #2409
@vaclap please try to provide a complete minimal sample (something that we can unzip or git clone and build) that reproduces the problem.

[2022-07-29 08:07] violetagg commented on #2309
@idikshit I'm closing this one. We can reopen it when you can provide reproducible example.

[2022-07-29 08:07] #2309 closed

[2022-07-29 10:10] violetagg commented on #2384
@yanwenliang Were you able to upgrade? Were you able to prepare a reproducible example?

[2022-07-29 11:01] vaclap commented on #2409
I tried to reproduce this problem in development environment but failed，but when read reactor-netty-http source code , I found the difference between the two versions  the version less than 1.0.0 and 1.0.20.

1.0.20
reactor.netty.http.server.HttpServerOperations override the method onInboundClose.
[code]

but less than 1.0.0.
HttpServerOperations not override the onInboundClose method.

Can you te

[2022-07-29 11:15] violetagg commented on #2409
@vaclap This change was made in order to propagate to the server the information that the client closed the connection - see #1512

[2022-07-29 14:46] violetagg commented on #2392
Support UDS for NIO transport was added with d4eb300f21f841e7a4b2370926bfdca0349e2e52

[2022-07-29 14:46] #2392 closed

[2022-08-01 08:58] violetagg commented on #2384
@yanwenliang I'm closing this one, we can reopen it when you are able to provide more details.

[2022-08-01 13:05] violetagg commented on #2373
We need to evaluate https://github.com/reactor/reactor-core/pull/3123

[2022-08-02 07:50] yanwenliang commented on #2384
@violetagg I upgrade reactor-netty to 1.0.21, still have memory leak.

[2022-08-02 08:07] violetagg commented on #2384
@yanwenliang Please provide reproducible example.

[2022-08-02 10:19] Sumi264 opened #2412 "on setting HttpServer.idleTimeout(idleTimeoutInMs), no GOWAY packet is seen in tcpdump"
With reactor-netty-http:1.0.20 (with spring-webflux), on setting HttpServer.idleTimeout(idleTimeoutInMs), no GOWAY packet is seen in tcpdump.with protocol H2C, HTTP11, but directly a FIN packet at TCP level.

HttpServer.idleTimeout(idleTimeoutInMs) definition says, .idleTimeout => Specifies an idle timeout on the connection when it is waiting for an HTTP request (resolution: ms). Once the timeout

[2022-08-03 08:31] vaclap commented on #2409
Thank you very much!

[2022-08-03 08:31] #2409 closed

[2022-08-03 10:38] jayapratha1 opened #2415 "ContentType="application/x-www-form-urlencoded" is throwing Unsupported Media Type Error"
I have tried below code to process the request with contentType as "application/x-www-form-urlencoded".

       @RequestMapping(value = "/abcd", consumes = {"application/x-www-form-urlencoded"})
            public ResponseEntity handleRequest( RequestEntity<String> reqEntity,@RequestParam Map<String, String> params, @RequestHeader HttpHeaders httpHeaders) {

                logger.info("Request pa

[2022-08-03 10:46] violetagg commented on #2415
@jayapratha1 Is it possible that you wanted to report this issue to another project? This code doesn't seem to be executable with Reactor Netty APIs

[2022-08-03 11:38] #2412 closed

[2022-08-03 11:53] violetagg commented on #2412
@Sumi264 Thanks for the description of the issue, you should be able to test the fix with `1.0.22-SNAPSHOT` version.

[2022-08-03 12:02] #2368 closed

[2022-08-03 14:47] Rattenkrieg opened #2418 "Multipart upload from Publisher<ByteBuf>"
I can't find a way to encode async sequence of `ByteBuf`  into `HttpClientForm`. There are few methods encoding `java.io.HttpClientForm`, `java.io.File` and plain byte arrays, however [HttpClientForm](https://github.com/reactor/reactor-netty/blob/main/reactor-netty-http/src/main/java/reactor/netty/http/client/HttpClientForm.java) lacking something like
[code]
Are there any fundamental blockers for

[2022-08-03 15:20] violetagg commented on #2412
The SNAPSHOTS are not published to Maven Central. You can use https://repo.spring.io/snapshot (for more information see https://github.com/reactor/reactor-netty/tree/1.0.x#getting-it). The plan for version `1.0.22` is to be released next week, once it is released it will be available from Maven Central.

[2022-08-03 15:21] Rattenkrieg commented on #2418
@violetagg I'm currently on 1.0.21, but it won't be an issue for me to migrate to 2.0.0. However there is pending #2327 which I guess is a blocker for any multipart features in a 2.0.x branch. So probably 1.0.x is a better place to work until #2327 is merged.

[2022-08-03 15:23] violetagg commented on #2418
Yep that's true, multipart is currently in progress for Reactor Netty 2.0.0

Agree, please base your work on `1.0.x` branch.

[2022-08-04 09:56] y0zg commented on #796
@GabrielC10 Have you found the solution? Which cloud provider do you use?

[2022-08-04 12:53] mhalbritter opened #2419 "Add native-image support"
While working on the [`session-redis-webflux` smoke test](https://github.com/spring-projects/spring-aot-smoke-tests/tree/main/session-redis-webflux), i discovered that there are reflection hints missing to get reactor-netty working. The test uses Lettuce as a redis client and webflux as web framework. The hints I had to add [were these](https://github.com/spring-projects/spring-aot-smoke-tests/blo

[2022-08-05 10:46] y0zg commented on #796
Thanks, I saw it @violetagg
In my case the issue isn't reproducible, so tcpdump isn't an option

[2022-08-05 12:04] GabrielC10 commented on #796
@y0zg I haven't found a solution, but, without a Load Balancer target this problem does happen

[2022-08-08 06:31] violetagg commented on #2415
@jayapratha1 Closing this issue. We can reopen it if you can provide an example with vanilla Reactor Netty.

[2022-08-08 06:31] #2415 closed

[2022-08-09 19:22] crankydillo opened #2425 "Need HTTP request retry to be configurable"
Due to our infrastructure, we need to retry requests, primarily connection establishment related like connection failed/timed out, SSL handshake timeout, etc..  To date, we have tried doing this by adding retry to the following:

1. The `Mono` we return from the function given to `HttpClient#mapConnect`.
1. The `Mono` returned from the `ConnectionProvider#acquire` (via wrapping)

The first option

[2022-08-10 10:34] jakshay21 opened #2426 "java.lang.NullPointerException: Cannot invoke "io.netty.handler.codec.http.HttpRequest.headers()" because "nettyRequest" is null"
HttpRequest is a Nullable param in HttpServerOperations.

Invoking nettyRequest.headers() as part of the HttpServerOperations constructor resulting in NPE.

[code]

* Netty version - 1.0.17

[2022-08-10 10:35] jakshay21 commented on #2426
Similar concern was raised in the past around this

https://github.com/reactor/reactor-netty/issues/2068

[2022-08-10 13:37] crankydillo commented on #2425
@dnagarajan89 pointed out the silliness of my snippet above.  It would block retry on any further request that ultimately grabbed a new connection from the pool.  While we may can work around that, it does make this feature request more appealing to us:)

[2022-08-10 15:19] pderop commented on #2425
Hi @crankydillo ,

I just have read the discussion from Gitter you have mentioned, I'm sorry but I'm still not sure why you can't just leverage the Reactor _Retry_ operator with the _mapConnect_, as Violeta suggested ?

Now, using the "observe" method in order to track ConnectionObserver.State.CONNECTED events will only work for newly connected connections, but it won't work for connections reused

[2022-08-10 15:53] pderop commented on #2426
Hi @jakshay21 ,

Can you provide the NPE please ? do you also get the NPE using the latest 1.0.22 reactor-netty version ?
thank you.

[2022-08-10 15:53] crankydillo commented on #2425
Hi @pderop,

Actually, our first attempt did involve using `mapConnect` and a list of retry-able exceptions.  All our tests passed; however, our product folks asked for behavior we had in an older version of our software, which was to retry unless a certain set of exceptions are thrown and no data has been HTTP-level data has been sent over the wire.

We are discussing bring back our list of retry

[2022-08-11 13:32] violetagg commented on #2419
Update: @mhalbritter and I found a strange behaviour related to `ChannelInboundHandlerAdapter` subclasses. More info https://github.com/oracle/graal/issues/4809

[2022-08-11 14:14] violetagg commented on #2419
@mhalbritter Yeah we have a lot + those in Netty - so we need to describe all of them? For Netty 4.1 where do we need to do that?
Also Is there some documentation or else where we can describe this because all custom Netty handlers will behave with poor performance if they do not do the same?
Isn't there another approach to achieve this or the only approach is to declare all handlers that we/Netty

[2022-08-11 14:21] mhalbritter commented on #2419
My take on that would be that all handlers that are defined in your codebase have reflection hints for them. These files usually reside in `META-INF/native-image/<group-id>/<artifact-id>`.

What documentation do you mean? For GraalVM side, there is [documentation on the `reflect-config.json` here](https://www.graalvm.org/22.2/reference-manual/native-image/dynamic-features/Reflection/). For Netty s

[2022-08-11 15:29] mhalbritter commented on #2419
I don't quite understand. You're adding only hints for types in your codebase, right? What is the separation between netty4 and netty5? Are these branches in your codebase?

I would include all hints which are for your classes in your codebase. The graalvm-reachability-metadata is only for projects which don't want / aren't able to put GraalVM metadata in their codebase.

[2022-08-12 05:01] jakshay21 commented on #2426
Hi @pderop,
Sorry forgot to attach the stack trace before. I've updated the description.

[2022-08-12 08:25] pderop commented on #2426
Looking at the NPE, it's likely that the NPE is resolved since 1.0.18, see #2149, that's why I asked previously to try with the latest version (1.0.22).  See the [code change made in HttpServerOperations.java, in 1.0.18](https://github.com/reactor/reactor-netty/pull/2149/files#diff-537f1e33d6e1428b0fcac7e1fe10ba87e6cc7aadc6f240fdb73fbe3103baae74R756) from #2149.

so, can you test again with the la

[2022-08-15 06:06] violetagg commented on #2426
@jakshay21 I'm closing this, we can reopen it if the issue is observed with the latest released version.

[2022-08-15 06:06] #2426 closed

[2022-08-15 06:07] violetagg commented on #2384
@yanwenliang I'm closing this one, we can reopen it when you are able to provide more details.

[2022-08-15 06:09] violetagg commented on #2419
Reactor Netty uses handlers provided by Netty.

[2022-08-16 08:09] #2419 closed

[2022-08-16 08:19] jakshay21 commented on #2426
@violetagg @pderop
Sorry I was away and missed the notifications around the recent comments.

I'll bump up the version and retest, and will reopen if the issue resurfaces again.

Thank you.

[2022-08-18 02:58] russellyou opened #2436 "How ChannelOption.CONNECT_TIMEOUT_MILLIS is used in HTTP Server"
I can see ChannelOption.CONNECT_TIMEOUT_MILLIS can be used in HTTP Server.

https://github.com/reactor/reactor-netty/blob/main/reactor-netty-examples/src/main/java/reactor/netty/examples/documentation/http/server/channeloptions/Application.java

But most document I can find is talking about connect timeout from client side. https://projectreactor.io/docs/netty/release/reference/index.html#connecti

[2022-08-18 07:55] violetagg commented on #2436
@russellyou Thanks for reporting, but I notice you've also posted the same question on [Stack Overflow](http://stackoverflow.com/). It's better if in the future you don't cross-post questions as it makes it hard for people searching to find answers. I'll close this one in favor of Stack Overflow.

[2022-08-18 07:55] #2436 closed

[2022-08-18 08:58] violetagg commented on #779
All
It would be very helpful if you can review the PRs listed below and provide feedback directly there. Thanks a lot!
https://github.com/reactor/reactor-core/pull/2983
https://github.com/reactor/reactor-core/pull/3145
https://github.com/reactor/reactor-core/pull/3147

[2022-08-18 11:12] violetagg commented on #2425
@crankydillo Can you rework the POC in a way so that it accepts `Retry` configuration?

[2022-08-19 11:12] crankydillo commented on #2425
I don't see why not @violetagg .  Did you happen to look at some of the other parts of the PoC?  Totally understand if you're waiting for an official PR.

[2022-08-19 12:11] wleese opened #2440 "Apple Silicon triggers Unable to load io.netty.resolver.dns.macos.MacOSDnsServerAddressStreamProvider"
When running Netty on Apple Silicon, this error is thrown:

[code]

In https://github.com/netty/netty/issues/11020 the solution is provided. Which is to add this dependency:

[code]

As a Spring Boot Webflux user, I see that reactor-netty-http pulls in io.netty:netty-resolver-dns-native-macos with classifier osx-x86_64. Reading the pom (https://search.maven.org/artifact/io.projectreactor.netty/rea

[2022-08-19 12:54] gmuth commented on #2440
I think the logic to choose the architecture should be moved from buildtime to runtime. The jar should include the binaries for both architectures. If java nativ interface supports universal or fat binaries for libraries that would be even better.

[2022-08-19 12:55] violetagg commented on #2425
@crankydillo Basically you separated the retry functionality and redirect. I would imaging an API that receives a Retry configuration and we can use it instead of some default Retry configuration. Why I'm asking for a Retry configuration - you need only Exceptions and number of retries but in the future someone may need other configurations.

[2022-08-19 14:43] violetagg commented on #2440
@wleese We don't want to have transitive dependencies to all arch that might be there in the future. For the current 1.0.x/1.1.x we cannot remove the existing transitive dependency as this will be kind of a backwards incompatible. For version 2.0.x we will remove all dependencies to the natives and leave the users to choose which one they want to use. Wdyt?

[2022-08-19 14:50] violetagg commented on #2440
@gmuth We are not going to support fat jars. See #1140

[2022-08-20 15:09] PedroMPagani opened #2442 "How to correctly reutilize ByteBuf in encoder"
delete this, wrong repo

[2022-08-20 15:11] #2442 closed

[2022-08-23 11:22] crankydillo commented on #2425
Totally makes sense.  Not sure why I didn't do that to start with.  I will try to get this done within the next week or so.

[2022-08-23 20:41] breun commented on #2440
Spring Boot developers have concluded in https://github.com/spring-projects/spring-boot/issues/29999 this cannot be handled by Spring Boot.

`reactor-netty-http:1.0.22` has a compile dependency on `netty-resolver-dns-native-macos` with classifier `osx-x86_64`, so using `reactor-netty-http` on an Apple Silicon machine will result in `DnsServerAddressStreamProviders` logging an error message. It loo

[2022-08-24 09:48] haitun521 commented on #2089
@SurelySomeday hi, I met the same problem as you, how did you solve it?

[2022-08-24 09:49] haitun521 commented on #2089
@SurelySomeday hi, I met the same problem as you, how did you solve it?

[2022-08-24 10:02] SurelySomeday commented on #2089
I didn't find the cause of the problem. I tried to configure that closing the connection pool can temporarily solve the problem. You can also try it.
`spring.cloud.gateway.httpclient.pool.type=DISABLED`

[2022-08-24 10:13] #2373 closed

[2022-08-24 10:16] haitun521 commented on #2089
@SurelySomeday thanks

[2022-08-25 06:12] violetagg commented on #2440
I proposed an improvement for the log message and this improvement will be in the next Netty 4.1.80.Final
https://github.com/netty/netty/pull/12732

[2022-08-25 08:28] breun commented on #2440
Is adding a dependency on `netty-resolver-dns-native-macos` with classifier `osx-aarch64` a good workaround for now to avoid this error on an Apple Silicon machine, while also not breaking on x86_64? So, is it ok if both the `osx-x86_64` and `osx-aarch64` native dependencies are present?

Or would you recommend excluding `netty-resolver-dns-native-macos` with classifier `osx-x86_64` and not having

[2022-08-25 08:38] violetagg commented on #2440
Having in mind the Netty issue - it seems that there is no need to exclude the dependency with `x86_64`

Fo build time you can always specify the correct classifier. For production I would say specify only the one that is needed.

[2022-08-25 08:58] breun commented on #2440
We're a team with developers with both x86_64 and aarch64 Macs. I guess we could exclude the `osx-x86_64` dependency and add Maven profiles in our projects that add either the `osx-x86_64` or `osx-aarch64` dependency automatically depending on the OS and CPU architecture. However, if adding the `osx-aarch64` dependency by default doesn't cause issues that could be a non-breaking fix in `reactor-ne

[2022-08-25 09:01] violetagg commented on #2440
Please consider developers with Linux and Windows where these transitive dependencies are not needed. We had in the past request for excluding several transitive dependencies.

[2022-08-25 09:17] breun commented on #2440
I did consider them, but as far as I can see adding the `osx-aarch_64` dependency to fix this error in `reactor-netty-http` 1.x for Apple Silicon users shouldn't affect non-macOS users, except for adding a 18 KB JAR with a single `jnilib` file, like what's already present for Intel Mac users.

[2022-08-25 09:47] violetagg commented on #2440
Some of our users have strong requirements to not have unnecessary transitive dependencies so we are not going to add this additional dependency.

[2022-08-25 11:59] #2440 closed

[2022-08-26 10:51] laojiangdedaima commented on #1561
I have some error in using this way

I hava some error when using this way.
meanwhile . my Reactor Netty  version is 1.0.21
`    <dependency>
      <groupId>io.projectreactor.netty</groupId>
      <artifactId>reactor-netty-http</artifactId>
      <version>1.0.21</version>
      <scope>compile</scope>
    </dependency>
<dependency>
      <groupId>io.projectreactor.netty</groupId>
      <artifactId>

[2022-08-26 12:18] flikas opened #2451 "Graceful shutdown for TcpServer.dispose()"
When a ChannelGroup is provided, DisposableServer#disposeNow(Duration) will wait the active requests to finish. But dispose() will not.

## Motivation

It should be better that dispose() supports graceful shutdown, too.

[2022-08-26 13:12] huchaogithup opened #2452 "websockt: Method WebSocketOutbound.sendString(Mono.just("asd11")).sendString(Mono.just("asd11")) is a problem"
We use httpclient.create().websocket(): set the handle method. when calling WebSocketOutbound.sendString(Mono..just ("asd11"). sendString.(Mono.just ("asd11")), an error occurred on the websock service side

## Expected Behavior
The service side accepts ”asd11“ and ”asd11“

## Actual Behavior
The service side accepts ”asd11“ and  an error occurred ”websocket: unexpected reserved bits 0x60“

[code]

[2022-08-26 15:40] pderop commented on #1561
Hi @laojiangdedaima ,

instead of:
[code]

can you try:
[code]

let me know

[2022-08-27 01:11] laojiangdedaima commented on #1561
wow，that is very useful! And In my code,  it needs to be modified. We need to determine the state.

new code:
[code]

Thans a lot!

[2022-08-27 06:44] pderop commented on #1561
Yes, the state needs to be also checked, sorry about that, I actually did a bad copy/past from my intellij! :confused: ...
So, the important point is the _instanceof_ which checks whether the channel is http2 or not.

[2022-08-27 07:27] violetagg commented on #1561
@pderop @laojiangdedaima I would also recommend to check `Connection#addHandler...` there is not need to know neither  whether it is `HTTP/1.1`/`HTTP/2` nor the internal structure of the Reactor Netty pipeline ...

https://projectreactor.io/docs/netty/release/api/reactor/netty/Connection.html#addHandlerFirst-io.netty.channel.ChannelHandler-

[code]

[2022-08-27 09:10] pderop commented on #2451
hi @flikas ,

From my understanding, the _dispose()_ method is non-blocking, while the _disposeNow(Duration) method is.

So, if a ChannelGroup is provided,  are you asking to change the _dispose()_ method in order to block until all active requests are done ? then wouldn't this be a very strong API  change, in terms of behavior ? I mean, the dispose() method would then become a blocking method, wh

[2022-08-27 10:31] flikas commented on #2451
hi @pderop ,
I think `dispose()` should be non-blocking, too. A new `Mono disposeLater(Duration)` method is great.
I've used `onDispose()` to get a Mono to be notified asynchronously, and then `dispose()`, which is failed for graceful shutdown.

[2022-08-29 17:03] pderop commented on #2451
@flikas ,

By the way, can you clarify the use case you are trying to achieve ? Disposing the server in most cases means shutdown the jvm. So, are you disposing the server in some other use cases ?

thank you.

[2022-08-29 17:29] pderop commented on #1561
By the way, is there any specific reasons for using the childObserve method ?
Alternatively, you could use the _doOnConnection_, which avoid to observe any states:

[code]

[2022-08-30 06:28] pderop commented on #2452
Hi @huchaogithup,

Chaining multiple send operations is discouraged and will not work as expected when send involves scalar or mono publishers, please check javadoc from NettyOutbound.

Now, could you clarify and indicate your use use ? it should be easy to do one single sendString call like _sendString(Flux.concat(…))_ or whatever ?

PS: I see you have created a PR (thank you for that), but as sa

[2022-08-30 07:26] huchaogithup commented on #2452
This is because the client needs to send the first message after the websockt handshake is completed.  for example `        HttpClient.create().websocket().uri("ws://localhost:8080")
                .handle((req,resp)-> resp.sendString(Mono.just("fist message..."))
                            .sendString(req.receive().map(s->{
                                //todo Business processing

[2022-08-30 07:26] huchaogithup commented on #2452
Flux.concat(…)也是一种解决问题的方式，但是可能链式调用可能更符合一些习惯

[2022-08-30 07:26] huchaogithup commented on #2452
Flux. Concat (...) is also a way to solve the problem, but chain calling may be more consistent with some habits

[2022-08-30 10:28] pderop commented on #2452
Indeed, this use case seems to be easily addressed using Flux operators like Concat.
For the moment, I'm closing this issue (fee free to reopen if necessary).
I need to discuss further on with the team and maybe we will clarify some part of the javadoc to not chain/nest send* methods.

For the moment, please use the Concat work around, or whatever, thank you.

[2022-08-30 10:28] #2452 closed

[2022-09-04 03:58] yangbongsoo opened #2462 "Use HttpConnectionProvider mutate method"
## Motivation

I want to make new `ConnectionProvider` using `defaultHttpClient.configuration().connectionProvider().mutate()` operation.
However I can't use `mutate()` method.
[code]

Because HttpConnectionProvider(defaultHttpClient type is HttpConnectionProvider) don't override `mutate()` method and default `mutate()` method return null.
[code]

## Desired solution
[code]
I made PR https://githu

[2022-09-06 06:53] jgrgt opened #2466 "ServerHttpResponse.headers updates not thread-safe"
We recently had an issue where some `parallel` reactive code was writing headers to the response object on our reactive server. These caused a nullpointer exception deep inside of the HttpHeaders code:

[code]

We probably were abusing the `ServerHttpResponse.headers.setall(...)` method by calling it this way, and we'll do the updates from a single thread now. But I'm logging this because I can't

[2022-09-06 07:20] violetagg commented on #2466
@jgrgt Can you check whether your Netty version contains this fix https://github.com/netty/netty/pull/11028

[2022-09-06 07:34] violetagg commented on #2466
@jgrgt Thanks
Please report this to Netty project as this functionality is not provided by Reactor Netty.

[2022-09-06 07:34] #2466 closed

[2022-09-07 14:37] egorlitvinenko commented on #1847
@violetagg
Am I correct, that if there is no micrometer dependency, we do not see metrics from HttpClient metrics are bound to micrometer via PooledByteBufAllocator at all?
Is there a way to trace TransportConfig?
Could we use customize it through https://github.com/reactor/reactor-netty/blob/cab107140ece193ce703a6fbc61645ff02dc0a3d/reactor-netty-http/src/main/java/reactor/netty/http/server/HttpSe

[2022-09-07 15:12] violetagg commented on #1847
@egorlitvinenko Yes that's correct. You can register your metrics very easily - you can take the `ByteBufAllocator` and publish where you need the metrics that it provides.

[2022-09-07 15:20] violetagg commented on #1847
you need something like this

[code]

[2022-09-07 15:54] egorlitvinenko commented on #1847
@violetagg Great, thank you, I'll try it.

[2022-09-12 13:21] violetagg commented on #2451
@flikas ,

Can you share with us your use case

[2022-09-12 14:48] bhukailas opened #2479 "increase maximum server sent connections"
i was load testing server sent events a backend netty with spring boot web flux  server can have. what we see it is always 500.
is there a way to increase number of parllel server sent event connection can be supported by netty?

we already tried following already. But none of them are really helping us.

[code]

[2022-09-13 08:34] violetagg commented on #2479
@bhukailas Thanks for getting in touch, but it feels like this is a question that would be better suited to [Gitter](https://gitter.im/reactor/reactor-netty) or [Stack Overflow](https://stackoverflow.com/questions/tagged/reactor-netty). As mentioned in [README](https://github.com/reactor/reactor-netty/#getting-help), we prefer to use GitHub issues only for bugs and enhancements. Feel free to updat

[2022-09-13 08:34] #2479 closed

[2022-09-14 00:16] j-bahr opened #2480 "H2OrHttp11Codec may cause ALPN to fail in HttpClient in certain circumstances"
## Expected Behavior

Under certain circumstances one may be required to talk to an HTTP proxy via TLS. When this happens a it's necessary to put a second SSLHandler at the head of the pipeline. This instance of the SslHandler will negotiate a secure session with the proxy. It's transparent to the rest of the http pipeline except when attempting to negotiate ALPN.

[code]

When the http client is

[2022-09-14 10:52] violetagg commented on #2480
@j-bahr Thanks for the detailed analysis. Would you like to provide a PR?

[2022-09-14 14:01] jtorkkel opened #2485 "reactor_netty_http_server_connections_active contains randon local_address labels, and sometimes active>total"
metrics reactor_netty_http_server_connections_active

in docker active connection gauge value is exposed twice with different local_address but same gauge value
local_address="127.0.0.1:8080
local_address="10.0.4.238:8080" # this is same as scrape instance address
tag date is missing

In kubernetes sometimes multiple local_address with same gauge value are exposed.
local_address can be local_addre

[2022-09-14 14:23] violetagg commented on #2485
@jtorkkel
What is this `tag date is missing` we never add such tag. See https://github.com/reactor/reactor-netty/blob/472c2a1d4283f9dda3a02feca2dd2d349a3b5eba/reactor-netty-http/src/main/java/reactor/netty/http/server/MicrometerHttpServerMetricsRecorder.java#L228-L230

if we remove `local address` this metrics is meaningless because you will never know for which server this is about.

Please provi

[2022-09-15 06:28] j-bahr commented on #2480
@violetagg, a PR is up for review. Thanks for your consideration!

[2022-09-15 06:30] jtorkkel commented on #2485
Hi,

Actually date comes from __meta_kubernetes_pod_label_date, we use custom labels and SD labelcopy and this seems to come from k8s. But that is not the issue.

Issue is
**active contains extra local_address labels with random hostnames, total does not have these random tag values**

reactor_netty_http_server_connections_total{app="info-v1", host="ap-216t.xxx.net",local_address="192.168.245.203:

[2022-09-15 13:17] #2480 closed

[2022-09-15 13:27] #2462 closed

[2022-09-15 13:36] violetagg commented on #2485
@jtorkkel Please provide some reproducible example that we can use in order to further investigate the issue.

[2022-09-16 05:58] violetagg commented on #2451
@flikas I'm closing this one. We can reopen it when you can provide the requested information.

[2022-09-16 05:58] #2451 closed

[2022-09-16 07:02] sameepkaranjkar opened #2491 "Authorization: Bearer token is logged in case of URISyntaxException and TooLongHttpHeaderException"
We are experiencing following regressions after changes in issue  (WARN as our root log level) :
### fix #1792 change log level from debug to warn.

**Current behavior** :  Authorization: Bearer token is printed in the logs when exception like URISyntaxException  :

**Expected behavior** : obfuscate Authorization header content

This can be reproduced by passing some buggy characters in the URI :

[2022-09-20 02:16] abners opened #2492 "Reactor netty client disconnect from server berfore response complete"
I use spring gateway do pressure testing, the reactory-netty client disconnect from server before response complete when the cpu usage is more than 70%

error of server:
![image](https://user-images.githubusercontent.com/7392358/191153024-5b982933-b39b-41ef-83f6-6ad26a736833.png)

the tcp dump：

spring gateway client：
![image](https://user-images.githubusercontent.com/7392358/191153230-1ea9fd0d-0f

[2022-09-20 02:31] abners commented on #2492
from the tcp dump, is the client disconnect from server first, different from other questions describe, so it's very confusing me

[2022-09-20 12:50] pderop commented on #2492
Hi @abners ,

Your components are too old, especially your Reactor Netty version which is not supported anymore. Please upgrade to the latest version, test again, and if you can reproduce, then please update this issue.

For the time being, you can also take a look at [this FAQ](https://projectreactor.io/docs/netty/release/reference/index.html#faq.connection-closed) (if you have not already done t

[2022-09-21 02:26] abners commented on #2492
ok，thank you for your reply，I upgrade the spring gateway version，I find the reason of the question , it's a bug of the spring gateway 2.2.5, so i upgrade the version of spring gateway to 2.2.7, now the system correct

[2022-09-21 02:26] #2492 closed

[2022-09-21 06:42] pderop commented on #2492
@abners ,

thanks for the update.

[2022-09-21 16:01] cyfax opened #2498 "Channel inactive not fired after SslCloseCompletionEvent(SUCCESS) causing connection still in pool hence io.netty.handler.ssl.SslClosedEngineException: SSLEngine closed already"
### From time to time a connection is still in pool but should not.

## Expected Behavior

SslCloseCompletionEvent(SUCCESS) not correctly handled is causing connection still present in pool hence "io.netty.handler.ssl.SslClosedEngineException: SSLEngine closed already" thrown on next usage of the connection.
A Channel 'INACTIVE' shoud be fired after SslCloseCompletionEvent(SUCCESS)

Here is a fine

[2022-09-21 18:29] amit84g opened #2499 "io.netty.handler.ssl.SslClosedEngineException: SSLEngine closed already"
reactor-netty: 1.0.23
Spring Boot: 2.7.2

## Expected Behavior

## Actual Behavior: Getting below exception under heavy load:
++++++++++++++++++++
io.netty.handler.ssl.SslClosedEngineException: SSLEngine closed already
	at io.netty.handler.ssl.SslHandler.wrap(SslHandler.java:860) ~[netty-handler-4.1.79.Final.jar!/:4.1.79.Final]
	at io.netty.handler.ssl.SslHandler.wrapAndFlush(SslHandler.java:799)

[2022-09-21 20:46] pderop commented on #2498
@cyfax ,

- do you know what server is used ? is it tomcat ?
- is the server using some kind of idle timeout  (a delay the server will wait for another HTTP request before closing the connection) ?
- can you share how your are configuring your HttpClient, how are you configuring the connection pool ? for example, are you using a max idle time for your connection pool ?

thanks.

[2022-09-22 06:42] pderop commented on #2498
In addition, can you attach a tcpdump of the traffic when the exception happens ?
thanks.

[2022-09-22 07:33] pderop commented on #2499
this issue is a duplicate from #2498.
let's keep this issue opened for the moment, but please follow #2498.

[2022-09-22 15:23] amit84g commented on #2499
@pderop : This is not a duplicate issue. May be it seemed like one but it is different. We are facing this during heavy load.
We have default fixed connection pool.
HttpClient.create()

[2022-09-22 15:42] pderop commented on #2499
I tend to think that the issue is similar to the other #2498, because in both cases, the http client is involved and is getting the SslClosedEngineException. I'm currently investigating.

so, like in the other issue, can you indicate the following:

- can you tell if the the server is using a kind of configured keep alive/idle timeout (a delay the server will wait for another HTTP request before c

[2022-09-22 21:21] nmadhavi33 opened #2500 "Memory leak with webclient timeout"
webClient.post()
                .uri(url)
                .contentType(MediaType.APPLICATION_JSON)
                .accept(MediaType.APPLICATION_JSON)
                .bodyValue(XXX)
                .retrieve()
                .bodyToMono(XXX.class)
                .timeout(Duration.ofMillis(10000))
                .doOnError(TimeoutException.class){
log.error("time out exception")

[2022-09-23 11:35] cyfax commented on #2498
Sorry, for the late response :

Apache Tomcat/9.0.39 wrapped in sring boot 2.4.0

Nothing is set up explicitly, all values are default ones configured by spring boot or from tomcat otherwise.

### Here is the configuration :
timeoutSeconds = 5
If a max idle time is used it is the default one.
[code]

[2022-09-23 11:46] cyfax commented on #2498
I am working on this.
Keep you in touch...

[2022-09-23 12:20] pderop commented on #2498
@cyfax , Hi,

I'm currently investigating, I prefer to be sure before responding ...will let you know asap.

[2022-09-23 12:39] pderop commented on #2500
Ii @nmadhavi33,

It is recommended to use the  [reactor-netty timer configuration](https://projectreactor.io/docs/netty/release/reference/index.html#_timeout_configuration) in order to enable request timeout, and to handle timeout fallback, you can refer to the [reactor core documentation](https://projectreactor.io/docs/core/release/reference/index.html), there are multiple ways to do do (check "E

[2022-09-23 18:04] nmadhavi33 commented on #2500
Hi @pderop , thanks for your response

I see issue with **TimeoutException** and not WebClientResponseException

exception stacktrace is below java.util.concurrent.TimeoutException: Did not observe any item or terminal signal within 10000ms in 'flatMapMany' **(and no fallback has been configured**)

how to configure fall back for  **java.util.concurrent.TimeoutException**

when **WebClientResponse

[2022-09-23 18:49] pderop commented on #2498
@cyfax ,

What you suggested in 1/ seems correct: the connection is still in the pool while we are receiving a _close_notify_ from the server.

When the server closes the connection (for whatever reasons), it **first** sends a _close_notify_, then **after** it closes the connection. So, if the application acquires the connection after the close_notify is received but before the socket is closed by

[2022-09-23 19:18] pderop commented on #2500
If you are using Mono.timeout, so, you can do for example:
[code]

but again, we recommend to use the **responseTimeout** reactor netty timer configuration instead of the Mono.timeout, and you can also do the same in order to return a fallback value on request timeout. In this case, you need to use onErrorResume on the WebClientRequestException.class which will wrap the timeout exception thrown by

[2022-09-24 12:03] TDtianzhenjiu commented on #1774
Hello @violetagg
after configuring the `maxIdelTime` it is work.
But why?

As I understood, this error means receiving an RST packet from the peer
And that parameter only indicates how long the connection should stay idle in the connection pool.
if the connection has been removed from the pool, the connection will be closed?
attempting to read/write data on a channel that is closed will cause this

[2022-09-26 10:04] namrta2046 opened #2502 "RAM usage increased with netty and webflux"
[code]
We are executing flow with a sample application which takes the request and forming a response within the sample app and responding back to the client[not having any WebClient calls].
We are observing memory related issues while doing the performance testing for the same sample application where we have seen that heap is not growing. Though the overall RAM usage is growing. Therefore, we tr

[2022-09-26 12:48] violetagg commented on #2502
@namrta2046 Indeed the exception suggests that you have a memory leak. Please follow this [FAQ: How can I debug a memory leak](https://projectreactor.io/docs/netty/release/reference/index.html#faq.memory-leaks) in order to be able to gather more information.

[2022-09-26 14:19] cyfax commented on #2498
Here is a new failure @11:02:30 (SSL close not followed by inactive channel)
![image](https://user-images.githubusercontent.com/23077741/192293308-63156d82-fc51-4d0e-8882-302af744f646.png)

After 'Encrypted Alert' no FIN-ACK is sent/received.
![image](https://user-images.githubusercontent.com/23077741/192294373-5ac156b1-3c21-40ad-a383-3fd2ab504a9a.png)
After trying to use the SSL closed connection

[2022-09-26 18:21] yanwenliang commented on #2384
I find this log，Is it related to this?

`2022-09-26 21:41:27.098 DEBUG   [reactor-http-epoll-4] (Loggers.java:258) - [08683d68-1, L:/10.44.108.160:21204 - R:/10.38.106.26:58544] Sending last HTTP packet was not succes
sful, terminating the channel

io.netty.handler.codec.EncoderException: java.lang.IllegalStateException: unexpected message type: LastHttpContent$1, state: 0
        at io.netty.hand

[2022-09-27 08:26] pderop commented on #2498
@cyfax,

some updates:

I'm still investigating, sorry for the bit of delay (please ignore my previous message for the moment, I'm still investigating).

So, based on the last NOK.1.log and from the tcpdump, let's focus on the **48702** port. so, indeed, it seems that the client waits for the server FIN, **which is not sent by the server** after the initial close_notify, and at some point in time,

[2022-09-27 08:45] violetagg commented on #2485
@jtorkkel I'm closing this, we can reopen it when you provide the requested information.

[2022-09-27 08:45] #2485 closed

[2022-09-27 18:18] violetagg commented on #1774
@TDtianzhenjiu Take a look here https://projectreactor.io/docs/netty/release/reference/index.html#faq.connection-closed it is similar to what you are asking.

[2022-09-28 05:58] anmol1vw13 commented on #2499
Hi @pderop,
I'm facing this issue with negligible load.

Stack:
spring-boot-starter-parent 2.5.3
spring-boot-starter-webflux 2.5.6

Error: `The connection observed an error io.netty.handler.ssl.SslClosedEngineException: SSLEngine closed already`

Here's the trace

[code]
The web client bean that is used is as shown below

[code]
I know there are a lot of threads around this lately, but none of the

[2022-09-28 10:28] pderop commented on #2499
Hi @anmol1vw13 ,

Please create a new issue that describes your use case and we will process it. Also ensure you upgraded to the latest release versions for Reactor/Spring”

thanks.

[2022-09-28 14:33] anmol1vw13 opened #2509 "SSLEngine closed already; nested exception is io.netty.handler.ssl.SslClosedEngineException"
Hi @pderop,
I'm facing this issue with negligible load.

Stack:
spring-boot-starter-parent 2.5.6
spring-boot-starter-webflux 2.5.6

Error: `The connection observed an error io.netty.handler.ssl.SslClosedEngineException: SSLEngine closed already`

Here's the trace

[code]
The web client bean that is used is as shown below

[code]

A sample API call using webclient

[code]

Dependency tree

[code]

[2022-09-28 14:38] anmol1vw13 commented on #2509
I've enabled debug logs and here's my observation.

Things work fine, if there's continuous traffic. But once there's a complete halt i.e. the API calls using netty is not being made, I see the following log
[code]
All the subsequent requests fail thereafter.

When does this USER_EVENT, SslCloseCompletionEvent get fired and how do I auto recover the connection, when the next request comes through?

[2022-09-28 14:40] anmol1vw13 commented on #2509
@violetagg Updating spring to the latest version is not an option the moment. It would be great if you could help out with
the SslCloseCompletionEvent.. Couldn't find much on it online.

[2022-09-28 14:41] violetagg commented on #2509
@anmol1vw13 Thant's unfortunate ... you are missing an important fix in `1.0.18` release https://github.com/reactor/reactor-netty/releases/tag/v1.0.18

[2022-09-28 14:43] violetagg commented on #2509
@anmol1vw13 May be as a workaround for your case (as you cannot upgrade) you can configure `maxIdleTime` for the connection pool - More information you can find here https://github.com/reactor/reactor-netty/issues/1318#issuecomment-702668918

[2022-09-28 19:42] anmol1vw13 commented on #2509
Setting maxIdleTime got things working. This exercise also helped me gain a lot of understanding on how reactor-netty-http works. It's a beast and does a lot of things to ensure the requests are quick.

@violetagg Instead of using environment variables, I'm using a ConnectionProvider as shown below. Please let me know if this is the right way to set it or if I need to change anything.

[2022-09-29 07:13] violetagg commented on #2509
@anmol1vw13 Yes that's the correct way of configuring the connection pool. You may want to configure max connections because with the configuration above you will have only 16 connections. Please check the documentation for more information https://projectreactor.io/docs/netty/release/reference/index.html#_connection_pool_2

[2022-09-29 07:44] anmol1vw13 commented on #2509
@violetagg How about I use this configuration, as mentioned in the document!

[code]

Can you explain what pending acquire timeout means?

[2022-09-29 10:32] violetagg commented on #2509
@anmol1vw13 This is just un example, you have to test the configuration with your solution and to see which settings are more appropriate for your use case.

If there is no free connection in the pool, this is the time that we will wait for a connection to become free.

[2022-09-29 14:55] cyfax commented on #2498
@pderop
Hi I configured my pool with maxIdleTime=20s
Here are the logs :
You can see maxIdleTime.
The trouble is that the connection is still closed after 60s.
start at 16:38:10
ends at 16:39:10
[code]
related tcpdump :
the server emits [FIN-ACK]
[code]

I was expecting the WebClient to close the connection since the connection was idle for more than 20 seconds.

[2022-09-29 16:21] pderop commented on #2498
I see in the logs that the evictionInterval = 0 (_evictionInterval=PT0S_),  can you check and configure the ConnectionProvider evictInBackground to a positive value, like 5 seconds ?

[2022-09-30 09:12] pderop commented on #2498
hi @cyfax ,

After checking with the Netty team, we changed our mind, and the PR #2518 will be merged soon, which closes the connection when receiving a close_notify, this should resolve in particular your issue in case the close_notify is received while the connection is idle in the connection pool.

But as described in the PR, some racy condition where the close_notify is received while a **requ

[2022-09-30 09:58] pderop commented on #2499
@amit84g,

Hi,

So, the exception reported means that the client is writing to a connection which has been previously invalidated by the server which has previously sent a TLS _close_notify_ to the client (the server may send a _close_notify_ at anytime, for whatever reasons, this means the server is about the close the connection).

I don't know what is your exact use case, you did not provide tr

[2022-09-30 10:08] pderop commented on #2509
@anmol1vw13 ,

Hi,

We are about to merge the #2518 PR, which may avoid the "SSLEngine closed already" exception in your case.
In the meantime, you can try to use the work around described by Violeta.

However, using the PR, if the server closes the connection while the client is currently writing a request to the connection, or is currently waiting for the response, then the client will get a Pre

[2022-09-30 11:33] yanwenliang commented on #2384
@violetagg @pderop I find the memory leak reason, it has `reactor.netty.channel.AbortedException: Connection has been closed BEFORE send operation`

this is the log of full request
[code]

[2022-09-30 12:43] violetagg commented on #2384
@yanwenliang Please provide reproducible example.

[2022-09-30 13:04] cyfax commented on #2498
Glad to know my suggestion and proposed fix was quite good :)

May I ask you when this fix is scheduled to be released ?

[2022-09-30 13:06] violetagg commented on #2500
@nmadhavi33 Were you able to test @pderop suggestions?

[2022-09-30 18:37] #2498 closed

[2022-09-30 18:37] #2499 closed

[2022-09-30 18:42] #2500 closed

[2022-09-30 18:51] nmadhavi33 commented on #2500
@violetagg ,

I was able to test suggestions given by @pderop . Thank you, for your help.

[2022-09-30 19:41] yanwenliang commented on #2384
@violetagg

https://github.com/yanwenliang/scg-leak-demo

1. start http-server.py
2. start spring cloud gateway with
`-Dio.netty.allocator.type=unpooled -Dio.netty.maxDirectMemory=2560000 -Dio.netty.tryReflectionSetAccessible=true`
3. Use  `curl localhost:8080/scg/leak` debug to pause at [reactor.netty.http.HttpOperations#send](https://github.com/reactor/reactor-netty/blob/ea64a1c5ca74fbb59af272f1

[2022-09-30 20:57] kitkars opened #2520 "LEAK: ByteBuf.release() was not called before it's garbage-collected"
Hi @violetagg

I come across this error every now and then. I do understand that giving a reproducible example will help you to fix the issue. Unfortunately I could not do it as it appears once in a day or so in our production environment.

**LEAK: ByteBuf.release() was not called before it's garbage-collected. See https://netty.io/wiki/reference-counted-objects.html**

[code]

[2022-10-01 18:03] namrta2046 commented on #2502
Thankyou, with the help of link provided we were able to debug the memory leak and identified the issue.

[2022-10-02 09:20] #2502 closed

[2022-10-02 09:21] violetagg commented on #2520
@kitkars Please follow this [FAQ: How can I debug a memory leak](https://projectreactor.io/docs/netty/release/reference/index.html#faq.memory-leaks) in order to be able to gather more information. The provided exception is not enough for further investigation.

[2022-10-03 16:10] crankydillo commented on #2425
I'm not sure when I'll be able to get back to this.  At this time, my team is not asking for it in the near-term.  I'm fine closing this if you don't feel it's a feature you need or want to track.

[2022-10-03 18:43] violetagg commented on #2425
Let's keep it for the moment if somebody wants to work on it ...

[2022-10-05 12:39] mouadk opened #2527 "LEAK: ByteBuf.release() was not called before it's garbage-collected."
Hello,

It looks like there are some handlers not releasing buffers properly. This happens on a high load constantly and causes our services to run out of memory. Could you please have a look.

I don't know it its related to Spring WebFlux or Reactor Netty.

Its not straightforward to provide your with an example producing this issue.

Also, note that our web client is configured to consume buffer

[2022-10-05 13:05] violetagg commented on #2527
@mouadk The stack shows that Spring is the owner of the buffer. Please address this issue with Spring team.

[code]

[2022-10-05 13:05] #2527 closed

[2022-10-05 13:09] mouadk commented on #2527
done https://github.com/spring-projects/spring-framework/issues/29260

[2022-10-09 03:31] yanwenliang commented on #2384
@violetagg hello, Is there any progress on this issue?
Thanks!

[2022-10-10 03:24] tracyan1521 commented on #2520
I have the same issue
<img width="428" alt="x" src="https://user-images.githubusercontent.com/22470289/194795130-5b35052c-0cb1-4c6e-92c8-4f82aa04389d.png">
<img width="451" alt="y" src="https://user-images.githubusercontent.com/22470289/194795199-02c24f0e-292c-4385-9e0e-1be06a88b244.png">
<img width="452" alt="1" src="https://user-images.githubusercontent.com/22470289/194795211-4dccacfa-00d1-4793-

[2022-10-10 09:44] TatevAbgaryan commented on #560
Hello, dear @codependent I'm trying to apply the solution to the sample that you shared but I can't see any difference after it.
Is it possible to share the sample that works for you?

[2022-10-11 07:16] fido016 commented on #2297
Yes, please close this.

Thanks again!

PC

Paul M. Cournoyer
Sr. Systems Analyst
Business Applications
MAPFRE Insurance
211 Main Street
Webster, MA 01570
Tel: 1-800-221-1605  Ext. 14829
C: NA
***@***.******@***.***>

Follow us on:
***@***.***<https://www.facebook.com/mapfreinsurance/>  ***@***.*** <https://www.instagram.com/mapfreinsurance/>    ***@***.*** <https://www.linkedin.com/company/mapfre

[2022-10-11 09:28] pderop commented on #2520
@tracyan1521 ,

Hi,

Please create a new issue that describes your use case and we will process it. Also ensure you upgraded to the latest release versions for reactor-netty.

thank you.

[2022-10-11 09:32] pderop commented on #2384
@yanwenliang ,

just to tell that I'm now checking your reproducer sample project, thanks.

[2022-10-11 10:20] #2491 closed

[2022-10-11 17:52] Ganga153 opened #2540 "Buffer Memory keep growing like 17MB for request in reactor-netty-http when using Spring WebClient with reactor-netty HttpClient -but I replaced the reactor-netty HttpClient with the Apache CloseableHttpAsyncClient and the problem disappeared."
When I used the Spring WebClient with the rector-netty-http-1.0.8 HttpClient, the HttpClient produces buffer memory leak. And when I replaced the reactor-netty-http-1.0.8 HttpClient with the Apache CloseableHttpAsyncClient and the problem disappeared.

-->

## Expected Behavior
There should be release the Buffer Memory once file is uploaded to the another service

## Actual Behavior
For every requ

[2022-10-12 05:18] pderop commented on #2540
Hi,

Can you provide a reproducer project which we can build and test, including the same kind of code you have attached in the screenshots ?
also, can you reproduce the issue using the latest webflux/reactor-netty version ?

thanks

[2022-10-13 08:19] pluttrell opened #2544 "Export both macOS native DNS resolvers"
Many people are reporting issues using Netty on M1 Macs ([ref](https://github.com/netty/netty/issues/11020#issuecomment-1220533248)).

The POM for v1.0.24 includes the following:

[code]

Note the single classier: `osx-x86_64`.

`reactor-netty-core/build.gradle` includes the following starting on [line 63](https://github.com/reactor/reactor-netty/blob/7d28d2ac1db1feb9c64b504727fb8ee77aaf91d1/react

[2022-10-13 09:03] pderop commented on #2544
Hello @pluttrell ,

This issue is a duplicate of the recent #2440 issue; and we actually do not desire to include all natives in jars, and the osx-x86_64  will even be removed in upcoming 2.0.x version, so it is up to the user to select which native dependencies are needed.

Please have a look into the #2440 for all the details;

thank you.

[2022-10-13 09:04] pderop commented on #2544
closing this as a duplicate of the #2440 issue, please reopen if needed.

[2022-10-13 09:04] #2544 closed

[2022-10-14 08:49] pderop commented on #2384
Hi @yanwenliang,

I did some investigations on the last reproducer you have provided, but I'm confused with it, first because it uses an older reactor-netty version: **1.0.15** but this issue has been initially reported for a **1.0.16** reactor-netty version.

Also, in the initial post of this issue, the following error has been reported, which seems to indicate that the destination server respons

[2022-10-14 08:51] pderop commented on #2384
(I corrected the previous post, please re read it again from here, not from your mail, thank you)

[2022-10-14 15:44] pderop commented on #2384
Some updates, maybe this is a duplicate of #2114. So, in the initial log, nobody seems to consume the buffer for the request Id **2f764d98-2**:

[code]

So can you check in logs if someone is subscribing to the request Id **2f764d98-2**  ? Normally you should find a log similar to this:
[code]
If you don’t find it, this may explain the leak: no one is subscribing to the **2f764d98-2** request id a

[2022-10-14 16:21] yanwenliang commented on #2384
in log, about request 2f764d98-2, i just find:
[code]

and there is no log like:
[code]

[2022-10-17 13:22] #2520 closed

[2022-10-17 17:43] violetagg commented on #1953
@shakuzen This has been fixed with #2547

[2022-10-17 17:43] #1953 closed

[2022-10-18 07:55] violetagg commented on #2281
I checked this and let's keep it like this.

[2022-10-18 07:55] #2281 closed

[2022-10-18 11:13] Hartigan commented on #1447
Hello, I reproduced problem and find out root cause.

Environment:
1. IPv4 network and android device with IPv6 support. Loopback network interface has 2 ips: IPv6 loobback address and IPv4 loopback address. Order is important.
2. `LOCALHOST` is IPv6 addr according this code: https://github.com/netty/netty/blob/netty-4.1.54.Final/common/src/main/java/io/netty/util/NetUtil.java#L146
3. Netty dns re

[2022-10-18 14:02] violetagg commented on #1447
@Hartigan I would recommend to upgrade. You might miss the fix for this issue #1568.

[2022-10-18 14:34] Hartigan commented on #1447
@violetagg I reproduce it on `1.0.24` version. Netty uses only IPv4 or only IPv6 DNS servers on Android according to this code: https://github.com/netty/netty/blob/646934ef0abe9c2c0934ca24dfb66b7018a284d0/resolver-dns/src/main/java/io/netty/resolver/dns/DefaultDnsServerAddressStreamProvider.java#L87

Because `defaultNameServers` is empty for android devices

[2022-10-19 10:45] violetagg commented on #1447
@Hartigan what happens if you set `-Djava.net.preferIPv6Addresses` and `-Djava.net.preferIPv4Stack` according to your environment?

[2022-10-19 15:43] Hartigan commented on #1447
@violetagg  I'm not sure what I can do it  on Android. I tried use `System.setProperty("java.net.preferIPv4Stack", "true")` in static constructor, but `DefaultDnsServerAddressStreamProvider` can be inited before. I compiled library with IPv4 and IPv6 dns servers and it works. Also mobile devices with Android has dynamic network conditions: network can be changed from LTE with IPv6 network to Wi-Fi

[2022-10-19 18:11] violetagg commented on #1447
@Hartigan What is your proposal for Reactor Netty in order to be able to configure the the `DefaultDnsServerAddressStreamProvider`?

[2022-10-20 06:16] violetagg commented on #2384
@yanwenliang Can you check whether you have the memory leak if you make this change in Spring Cloud Gateway

https://github.com/spring-cloud/spring-cloud-gateway/blob/62e0f241d2aac61e699e4733ff2ed46c6865b045/spring-cloud-gateway-server/src/main/java/org/springframework/cloud/gateway/filter/NettyWriteResponseFilter.java#L124

`if (connection != null && connection.channel().isActive()) {`

[2022-10-20 11:35] violetagg commented on #779
This is superseded by the new features in Reactor Core. If we need more we can reopen the issue.

[2022-10-20 11:35] #779 closed

[2022-10-20 11:39] violetagg commented on #1064
I checked this and let's keep it like this.

[2022-10-20 16:43] strelchm opened #2552 "Getting custom metric"
I have to make next netty metrics for all http requests of Spring Webflux app:

- time from receiving a request to being laid to the request pool
- waiting time for processing in the pool request

Can you please suggest idea - how I can get such metrics? May be with help of AOP? Or there are some listeners that can be used?

With honour, Michael

[2022-10-20 18:55] violetagg commented on #2552
@strelchm Can you please elaborate a bit more on the requirements? Also most probably you need this for 1.0.x version?

[2022-10-21 06:31] Vamsi-Messi opened #2553 "How can we disable HttpTrace method in reactory netty Http Server"
Hi Team, iam using spring webflux for my application., which defaults to react netty http server.. so for security purposes i need to disable the http trace method., i tried many ways but couldn't found the soultion.. can suggest here pls.. thanks in advance..

[2022-10-21 06:40] violetagg commented on #2553
@Vamsi-Messi Spring WebFlux uses I/O Handler functionality that Reactor Netty provides. This means that Reactor Netty forwards to Spring WebFlux the request as is without any interpretation. Please contact Spring maintainers.

[2022-10-21 06:40] #2553 closed

[2022-10-21 07:09] violetagg commented on #2552
@strelchm So you are targeting server metrics. Ok.

I cannot get this ...

Reactor Netty doesn't use thread per request paradigm which is typical for blocking processing of the requests. Reactor Netty processes the requests in a non-blocking fashion and uses an even loop. Typically the number of the threads that we use is the number of the cores that you have.

[2022-10-21 07:13] violetagg commented on #2552
We do have metrics for how many connections are opened at any moment and how many of them are active (which basically represents the number of the requests that are in process at the moment).

[2022-10-21 07:37] violetagg commented on #2552
@strelchm `@RestController` this is something that is not provided by Reactor Netty...
Spring WebFlux uses I/O Handler functionality that Reactor Netty provides which mean once the request comes on a given connection Reactor Netty immediately do the the HTTP decoding and forward the request to the Spring WebFlux I/O Handler.
You can monitor the event loop task queue if you think that there is some

[2022-10-21 07:49] strelchm commented on #2552
@violetagg  Can you please suggest how I can do this? I see one metric reactor.netty.eventloop.pending.tasks in docs. In other way, can we measure the time with aop or this is bad idea?

[2022-10-21 07:55] violetagg commented on #2552
@strelchm This one `reactor.netty.eventloop.pending.tasks` reports in Micrometer if you need something else you can follow the snippet here #1398

[2022-10-21 07:56] strelchm commented on #2552
@violetagg thanks much!

[2022-10-21 09:27] Hartigan commented on #1447
@violetagg My proposals:
1. Make errors with dns more detailed: users will be able to quickly understand what the problem is, and they can create their own implementations of `DnsServerAddressStreamProvider`.
2. Update documentation for that case: I understand that there is no official support for android. But android really lacks asynchronous clients with non-blocking implementation. Popular http

[2022-10-21 09:41] violetagg commented on #1447
@Hartigan That's great proposals but I think they are more appropriate for Netty project as Reactor Netty only uses the functionality provided by Netty. What do you think?

[2022-10-21 13:24] violetagg commented on #331
I checked this and `channel.write` vs `channelContextHandler.write` is OK

[2022-10-21 13:24] #331 closed

[2022-10-24 05:32] violetagg commented on #2540
@Ganga153 I'm closing this issue. We can reopen it when you provide the requested information.

[2022-10-24 05:32] #2540 closed

[2022-10-24 05:46] violetagg commented on #938
@sgc109 Connection doesn't go out of the connection pool if max idle time is reached or this is what happens

[2022-10-24 06:14] yanwenliang commented on #2384
@violetagg Thanks reply!
When I change the code, it still has memory leak.
The full log is:
[code]

[2022-10-24 06:25] yanwenliang commented on #2384
from the log, I find
[code]

[2022-10-24 06:33] violetagg commented on #2384
@yanwenliang You closed the issue?

[2022-10-24 06:34] yanwenliang commented on #2384
sorry，It was a mistake.

[2022-10-24 06:39] yanwenliang commented on #2384
@violetagg I reopen it, and please see the full log of above, Thanks.

[2022-10-24 06:40] violetagg commented on #2384
@yanwenliang Yes this time the issue is different. I'm going to prepare one PR and will ask you to test it.

[2022-10-24 07:16] violetagg commented on #2384
@yanwenliang Actually can you try the same file
https://github.com/spring-cloud/spring-cloud-gateway/blob/62e0f241d2aac61e699e4733ff2ed46c6865b045/spring-cloud-gateway-server/src/main/java/org/springframework/cloud/gateway/filter/NettyWriteResponseFilter.java#L124

`if (connection != null) {`

[2022-10-24 09:13] yanwenliang commented on #2384
When I change the code above, the memory leak disappeared.

And the log I added by myself in https://github.com/spring-projects/spring-framework/blob/5e808ad0183a63944ab08017a13cbc7ed75bc581/spring-web/src/main/java/org/springframework/http/server/reactive/AbstractServerHttpResponse.java#L210 is also disappeared.
[code]
I can't understand

[2022-10-24 11:14] violetagg commented on #2384
@yanwenliang Can you add logs here

https://github.com/spring-cloud/spring-cloud-gateway/blob/62e0f241d2aac61e699e4733ff2ed46c6865b045/spring-cloud-gateway-server/src/main/java/org/springframework/cloud/gateway/filter/NettyWriteResponseFilter.java#L102

https://github.com/spring-cloud/spring-cloud-gateway/blob/62e0f241d2aac61e699e4733ff2ed46c6865b045/spring-cloud-gateway-server/src/main/java/org/s

[2022-10-25 08:43] yanwenliang commented on #2384
@violetagg  Unfortunately, the memory leak appear again

[2022-10-25 08:53] violetagg commented on #2384
@yanwenliang Please provide the logs

[2022-10-25 09:36] yanwenliang commented on #2384
@violetagg

[code]

[2022-10-25 12:00] Vamsi-Messi commented on #2553
Hi @violetagg ., thanks for answer., as you mentioned i tried with spring provided classes .,

@Component
public class MyNettyWebServerCustomizer
        implements WebServerFactoryCustomizer<NettyReactiveWebServerFactory> {
    @Override
    public void customize(NettyReactiveWebServerFactory factory) {
        factory.addServerCustomizers(httpServer -> httpServer.wiretap(true));
    }
here i nee

[2022-10-25 12:55] violetagg commented on #2553
@Vamsi-Messi That is not how things work.

Reactor Netty HTTP server has I/O handler and routing. One can use one of them in order to return a response.
* With routing by default you do not have `tracing` functionality and if you want to do something around tracing you have to provide your own routing implementation. See more in the reference documentation https://projectreactor.io/docs/netty/rele

[2022-10-27 10:42] jonathan-vandebosch commented on #1576
So , I also invetigated the issue...
The issue is that at a moment with the alias the private key will be retrieved... and guess what ?
IN LOWERCASES... so if you put your alias with some uppercases in it it will never work !

`
// class SunX509KeyManagerImpl
public PrivateKey getPrivateKey(String var1) {
        if (var1 == null) {
            return null;
        } else {
            X509Credent

[2022-10-28 18:30] yanwenliang commented on #2384
@violetagg when I add code
[code]
and the function clean modify to:
[code]
 here https://github.com/spring-cloud/spring-cloud-gateway/blob/62e0f241d2aac61e699e4733ff2ed46c6865b045/spring-cloud-gateway-server/src/main/java/org/springframework/cloud/gateway/filter/NettyWriteResponseFilter.java#L102
The memory leak disappera.
The full log is:
[code]

[2022-10-28 19:32] yanwenliang commented on #2384
when I move https://github.com/spring-cloud/spring-cloud-gateway/blob/62e0f241d2aac61e699e4733ff2ed46c6865b045/spring-cloud-gateway-server/src/main/java/org/springframework/cloud/gateway/filter/NettyWriteResponseFilter.java#L69
to https://github.com/spring-cloud/spring-cloud-gateway/blob/62e0f241d2aac61e699e4733ff2ed46c6865b045/spring-cloud-gateway-server/src/main/java/org/springframework/cloud/ga

[2022-10-28 19:50] yanwenliang commented on #2384
@violetagg you can see this PR https://github.com/spring-cloud/spring-cloud-gateway/pull/2765 Thanks.

[2022-10-31 08:09] violetagg commented on #2384
@yanwenliang I'm closing this one. For the time being I don't see an issue in Reactor Netty.

[2022-10-31 08:09] #2384 closed

[2022-10-31 08:10] violetagg commented on #2552
@strelchm I'm closing this one. We can reopen it if something else is needed.

[2022-10-31 08:10] #2552 closed

[2022-10-31 08:30] yanwenliang commented on #2384
@violetagg Ok, Thanks! I will create an issue for spring cloud  gateway.

[2022-10-31 10:42] KarteekGodavarthi commented on #1764
Hi @mkluzacek / @violetagg , I have come across the same issue which is happening intermittently.

We have a web flux app which makes a HTTP call to backend server hosted On-Prem using WebClient. It works most of the time, but in few scenarios we find this error "Connection Prematurely Closed BEFORE response" intermittently.

However we are unable to narrow down the specific use case when this is

[2022-10-31 11:42] violetagg commented on #1764
@KarteekGodavarthi Did you check this FAQ page https://projectreactor.io/docs/netty/release/reference/index.html#faq.connection-closed

[2022-10-31 14:14] violetagg commented on #1764
@kkajdd I think there is some misunderstanding here. As it is described in the documentation

`maxIdleTime - The maximum time (resolution: ms) that this connection stays idle in the connection pool.` so this applies to connections that are idle in the connection pool.

If you want to specify timeout for the request/response then you need

`HttpClient.responseTimeout(...);`

Please ask your questio

[2022-11-02 14:19] trouvaillle opened #2559 "HttpClientConfig.retryDisabled should be set to be true"
## Expected Behavior

`Exception:java.lang.IllegalStateException: Only one connection receive subscriber allowed.`
The above error should not be thrown when using `WebClient`.

## Actual Behavior

[code]
Sometimes, the above error is thrown when using `WebClient`.

## Steps to Reproduce

It only occurs in the production environment where the application receives random connections from the interne

[2022-11-02 17:49] violetagg opened #2560 "Return FutureMono compatible for Netty5"
This PR #2250 needs to be reverted and adapted for Netty5 API

This PR needs to be reverted and disabled test to be enabled again

[2022-11-02 18:46] violetagg commented on #2559
@trouvaillle You should first update your Reactor Netty version.

Can you provide a reproducible example that shows that exactly retry functionality causes this behaviour?

We know that there is an issue in Spring Framework that causes double subscription https://github.com/spring-projects/spring-framework/issues/26699

[2022-11-02 19:17] #2221 closed

[2022-11-03 14:31] violetagg commented on #2560
We need to address the `TODO` around removing listener

[2022-11-09 10:34] joyfulnikhil opened #2569 "Additional Empty Dataframe in response for all HTTP Verbs"
**Dependencies**
Spring Cloud Gateway - 3.0.7
Spring Boot - 2.7.6
Reactor netty - 1.0.24
Netty - 4.1.84.Final
OS - Cent OS / Linux

We are using Spring cloud Gateway and it is observed that the response from the SCG contains 2 Data Frames(First with Data, endStream=false, and second with No Data, endStream=true). This happens for all HTTP Verbs, when the backend sends a response.
For logging purpo

[2022-11-10 15:41] pderop commented on #2569
Hi @joyfulnikhil ,

Thanks for the reproducer, I could reproduce easily. it seems that what happens is the following:

- the GW receives a full response from the upstream destination server
- at this point, the GW writes the full response to the client with a **Flux**, not a Mono (even if the response is full)
- So, because a Flux is used, then  when the Flux completes, an empty DATA frame header

[2022-11-10 15:42] pderop commented on #2569
closing this one, of course reopen if you need, thank you.

[2022-11-10 15:42] #2569 closed

[2022-11-10 15:45] pderop commented on #2569
it's possible that this issue is a duplicate on this unresolved old issue:
https://github.com/reactor/reactor-netty/issues/2309

[2022-11-11 02:27] pandeyabhi1987 opened #2571 "java.lang.ClassCastException: reactor.netty.internal.shaded.reactor.pool.decorators.GracefulShutdownInstrumentedPool$GracefulRef cannot be cast to reactor.netty.http.client.Http2Pool$Http2PooledRef"
We want to use [disposeTimeout](https://projectreactor.io/docs/netty/release/api/reactor/netty/resources/ConnectionProvider.Builder.html#disposeTimeout-java.time.Duration-) to force the connection pool to close.

The line where exception is thrown -
https://github.com/reactor/reactor-netty/blob/main/reactor-netty-http/src/main/java/reactor/netty/http/client/Http2ConnectionProvider.java#L397

`Stri

[2022-11-14 07:43] violetagg commented on #2559
I'm closing this as a duplicate to https://github.com/spring-projects/spring-framework/issues/26699

[2022-11-14 07:43] #2559 closed

[2022-11-14 11:14] #2571 closed

[2022-11-14 11:19] #2217 closed

[2022-11-14 21:55] berngp commented on #2571
Thanks for applying the fix so quickly @violetagg !

[2022-11-16 03:52] qqhai007 commented on #1915
Has this problem been solved, please,  and how?

[2022-11-17 14:06] bergerst opened #2581 "Missing tracing information in spring-cloud-sleuth without reactor-netty-http-brave"
This report is based on https://github.com/spring-cloud/spring-cloud-sleuth/issues/2233 where I was told to create an issue in this project. @violetagg was involved in the discussion.

When using spring-cloud-gateway in combination with spring-cloud-sleuth and Zalando Logbook, some logs are missing traceIds and spanIds.

Using reactor-netty-http-brave is the only known fix for this problem: https:

[2022-11-19 15:08] inuk-alticast commented on #1954
jj

[2022-11-21 00:07] dhpalan opened #2582 "HttpClient is unable to access file inside JAR in AKS"
### Description
We migrated from using `reactor.netty.http.client.HttpClient.from(TcpClient.create())` to `reactor.netty.http.client.HttpClient.create()`
- HttpClient is then used to create a WebClient
- WebClient is configured with ExchangeStrategies codecs, that uses a Jaxb2XmlEncoder and Jaxb2XmlDecoder for SOAP
- Observed: Thread changed from `reactor-tcp-epoll-2` to `reactor-http-epoll-8`

##

[2022-11-21 00:40] dhpalan commented on #2582
### Here are logs from my laptop: No error occurred

Note: I pulled the image running on AKS to my laptop to run a test

#### Case 1:
System property is missing

[code]

#### Case 2:
After `System.setProperty("javax.xml.bind.JAXBContextFactory", "com.sun.xml.bind.v2.ContextFactory");`

[code]

[2022-11-21 09:47] violetagg commented on #2581
@bergerst We discussed again with @marcingrzejszczak the use case here: the old Sleuth implementation and the new Observation API and this is not designed to work together. You either use the old Sleuth with Reactor Netty 1.0.x (which is supported for Spring Boot 2.x) or you use the new Observation API with Reactor Netty 1.1.x (Spring Boot 3)

[2022-11-21 09:50] #2581 closed

[2022-11-21 10:53] bergerst commented on #2581
Does this mean that a future spring-cloud-sleuth version will support the Observation API?

[2022-11-21 11:21] rstoyanchev opened #2583 "Improve logging when connection closed due to cancel signal"
In a pipeline with multiple client calls, it's possible for a cancel signal to close the connection, e.g. `Mono.zip` where one publisher completes empty. In this case, you might see a log messages for subscribing to the response stream, immediately followed by channel closing:

[code]

It would have been helpful in this case to see a 3rd log message in between that shows there was a cancel signal.

[2022-11-21 11:22] violetagg commented on #2581
@bergerst Please check this blog post https://spring.io/blog/2022/10/12/observability-with-spring-boot-3

[2022-11-21 11:31] snicoll commented on #2583
We were able to get this error with concurrent access on a service with something like `Mono#zip(first(),second())` where `second` would return `Mono.empty`

[2022-11-22 10:02] pderop commented on #2583
@snicoll , thanks for the hint, I have reproduced.

@rstoyanchev , for the `Only one connection receive subscriber allowed` log, can you please confirm that this log can be displayed, for example like in the spring-webflux [WebClientDataBufferAllocatingTests.onStatusWithBodyConsumed](https://github.com/spring-projects/spring-framework/blob/5.0.x/spring-webflux/src/test/java/org/springframework/web

[2022-11-22 11:26] rstoyanchev commented on #2583
Yes, that should do it.

[2022-11-23 15:15] dhpalan commented on #2582
## We are suspecting that the issue was caused by a difference in the behavior of the ClassLoader

FYI: @piyushSKY

Here we are attempting to read a file `jar:file:/home/javarun/BOOT-INF/lib/jaxb-runtime-2.3.6.jar!/META-INF/services/javax.xml.bind.JAXBContext`

https://github.com/jakartaee/jaxb-api/blob/2.3.3/jaxb-api/src/main/java/javax/xml/bind/ContextFinder.java#L558-L574
[code]

Here we are ab

[2022-11-23 15:58] pderop commented on #2582
Hello;

can you provide a sample reproducer application which we can build and test, either using gradle or maven ?
even if it does not reproduce the issue, we need at a least a candidate reproducer sample project.

No need to use any docker images, etc ... just the sample project (gradle or maven).

thanks.

[2022-11-24 15:52] TDtianzhenjiu commented on #1774
Thanks @violetagg  🙏
in this case, however,
We can also retry on  `WebClientRequestException`, it also can resolve this issue. am I right?

[2022-11-24 17:15] dhpalan commented on #2582
We noticed that when the Spring boot app runs on AKS with HttpClient, we have two ClassLoaders that are not the same.
- `Thread.currentThread().getContextClassLoader() is org.springframework.boot.loader.LaunchedURLClassLoader@48f2bd5b`
- `getClass().getClassLoader() is org.springframework.boot.loader.LaunchedURLClassLoader@48f2bd5b`

Whereas, On all other test environments we notice that the Class

[2022-11-24 18:06] fmutluay opened #2586 "Memory Leak on WebClient usage"
We are experiencing with OutOfMemory error when using webclient with reactive netty stack.
Tried to get enable memory leak log via parameters like "-Dio.netty.leakDetection.level=paranoid -Dio.netty.leakDetectionLevel=paranoid _reactor.netty.channel.LeakDetection=DEBUG" but no success.

## Expected Behavior

No Leak.

## Actual Behavior

When we run the application, every request creating a reacto

[2022-11-24 22:27] pderop commented on #2582
From my mails, I saw an interesting comment about this issue but it seems to have been removed afterwards.

So, this mail was saying that when the problem happens, the current thread context class loader was set to `jdk.internal.loader.ClassLoaders$AppClassLoader` instead of `org.springframework.boot.loader.LaunchedURLClassLoader`

Is it correct ?

If so, then if the TCCL is not null or not correc

[2022-11-25 09:01] dhpalan commented on #2582
I figured out that i can reproduce the issue that was occurring in AKS when running the Spring boot app via `java -jar target/app.jar` on my desktop.

I will soon add my comments with the latest info.

[2022-11-25 09:21] violetagg commented on #1774
@TDtianzhenjiu you have to be careful with requests retry (for example if they are not idempotent https://www.rfc-editor.org/rfc/rfc9110.html#section-9.2.2)

[2022-11-25 16:25] pderop commented on #2586
Hi @fmutluay ,

I could not reproduce any OOM using the code similar to what you have suggested.
So, can you elaborate more on the issue , and can you provide a sample reproducer project which I can build and test ?

thanks.

[2022-11-25 20:17] lopenn01 opened #2590 "WebClient in Tomcat on Kubernetes Memory Leak"
We're trying to use `WebClient` in our microservice to get large data object from external backend service, and the microservice runs on Kubernetes cluster (I tested on both Docker Desktop Kubernetes or Azure Kubernetes). We're seeing the pod memory go up until the pod is killed and restarted

## Expected Behavior
The pod should not be killed, and the memory usage should be similar or less than us

[2022-11-27 16:59] fmutluay commented on #2586
Hi @pderop ,

I have created a private repo and shared the demo code with you.
[https://github.com/fmutluay/reactive-code-trial](url)

Demo project requires basic auth and it's using reqbin.com/post-online endpoint, everything set-up for your test.

`for((i=1;i<=20000;i++));
 do
   curl -X GET "http://localhost:8080/test/json";
 done
`

we have identified the leak with jfr + visualvm runtime heap

[2022-11-28 01:56] dhpalan commented on #2582
We were able to reproduce this issue by running the Spring Boot App via `java -jar target/app.jar`

I compared the output on three different setups.
1. Run via `java -jar target/app.jar`
2. Run via `mvn clean spring-boot:run`
3. Run as Docker Image.

When the issue occur,
Value of `Thread.currentThread().getContextClassLoader()` is `jdk.internal.loader.ClassLoaders$AppClassLoader` instead of `org.

[2022-11-28 06:40] youzipi opened #2591 "reactor_netty metrics `uri` tag explosion"
we use spring-cloud-gateway,
recently i enable the actuator and metrics,
found that amount of metric tags increases quickly in production, and cause memory leak, pod restart.
some downstream business services provide routes with `pathVariable`.

## Expected Behavior

## Actual Behavior

## Steps to Reproduce

- enable metrics
- send request with different uri

metrics sample:
[code]

## Possible S

[2022-11-28 07:14] violetagg commented on #2591
@youzipi When you enable the metrics what function do you provide for `uriTagValue` - `HttpClient#metrics(boolean enable, Function<String, String> uriTagValue)`

Please check the notice and the example in the reference documentation https://projectreactor.io/docs/netty/release/reference/index.html#_metrics_6

[2022-11-28 07:28] #2591 closed

[2022-11-28 07:29] violetagg commented on #2590
@lopenn01 What do you use as a load runner? How many requests to the backend are you able to create with `RestTemplate` (blocking HTTP client) and how many requests to the backend are you able to create with `WebClient` (non-blocking HTTP client)?

[2022-11-28 07:30] youzipi commented on #2591
@violetagg thanks, i found the upper limit config in comment of `reactor.netty.http.client.HttpClient#metrics(boolean, java.util.function.Function<java.lang.String,java.lang.String>)`

[2022-11-28 07:32] violetagg commented on #2591
Nice
Also we recommend always when possible to use templated uri for metrics - this can be achieved with `uriTagValue` function that can be provided with the API above.

[2022-11-28 16:10] pderop commented on #2582
Hi @dhpalan,

So, the issue is definitely caused by a thread context class loader which is either wrongly initialized , or is set to the classpath by some component, at some point in time, just before getting the JAXB exception.

so, If you are able to reproduce, maybe one thing that could help is to start the application using a debugger, and set a breakpoint to `Thread.setContextClassLoader`. Th

[2022-11-28 16:10] #2582 closed

[2022-11-28 17:54] pderop commented on #2586
Hello @fmutluay ,

Thanks for the reproducer project; I indeed could reproduce the OOM (using Gatling).

now, I think the issue here is that a new `WebClient` instance is created for each new rest service, which is very memory consuming, especially when using https.

So, I just changed `ConsumeClientService` from the demo in order to cache the WebClient and reuse it for every rest calls:

instead

[2022-11-28 17:54] #2586 closed

[2022-11-29 18:57] gmuth commented on #2544
If it is up to user to select which native dependency is used than why do YOU during library build decide on the x86_64 dependency?
I guess because it's not possible with this kind of dependency layout to implement "the library user has to decide". Consequently you'd have to remove the dependency completely and declare it as optional in the documentation if it's required for a specific feature and

[2022-11-30 00:02] dhpalan commented on #2582
Hello @pderop
Thanks a lot for the supporting me on the issue.

I went a step back to understand how things worked before we did the migration to HttpClient.

Found out that there we were using both HttpClient and TcpClient at the same time.
Debugger shows that there is a pool of 8 `reactor-tcp-nio-*` threads and another pool of `reactor-http-nio-*` threads.

The tcp threads were created and used

[2022-11-30 14:48] violetagg commented on #2544
@gmuth Take a look at my response here https://github.com/reactor/reactor-netty/issues/2440#issuecomment-1220762196 and check this PR #2448
I also contributed some improvements to Netty project here https://github.com/netty/netty/pull/12732 and here https://github.com/netty/netty/pull/12950

In addition I would like to mention that there is now PR for Windows OS specific nameserver resolution. If