[2021-02-26 09:11] violetagg commented on #1486
@idikshit I back ported the fix to 0.9.x via c6e7a97. Can you try `0.9.18.BUILD-SNAPSHOT`?

[2021-02-26 14:58] patpatpat123 commented on #1523
Hello @violetagg ,

The video and you presentation is very instructive.
Many thanks for providing the link.

Indeed, with the setup you mentioned during the talk (page 91), we are able to configure the time out.

On a bi-party client(2)-server(3), where I am the client, and setup the configuration as you described in page91,  we could see our client "wiling to wait longer" the flaky server. Many t

[2021-03-01 10:30] patpatpat123 opened #1525 "Spring Webflux - Not able to get "reactor.netty.http.client.data*" metrics"
Hello Reactor Netty Team,

Just wanted to state a small observation, hope not to trouble.

With my 2.4.2 Spring Webflux app, I am currently able to get metrics such as:
```reactor.netty.connection.provider*``` and ```reactor.netty.bytebuf.allocator.used*``` metrics.

However, I am unable to get the ```reactor.netty.http.client.data*``` metrics.

I do have the following in my code:

[code]

[code]

[2021-03-01 11:13] violetagg commented on #1525
@patpatpat123 You need different name in the registry, is this why you use

https://projectreactor.io/docs/netty/release/api/reactor/netty/http/client/HttpClient.html#metrics-boolean-java.util.function.Supplier-

https://projectreactor.io/docs/netty/release/api/reactor/netty/http/client/HttpClient.html#metrics-boolean-java.util.function.Function-

`Micrometer*Recorder` are not intended to be used

[2021-03-01 12:22] patpatpat123 commented on #1525
Hello @violetagg ,

Many thanks for the answer.

Based on what you are saying, I believe the root cause of me not seeing the "reactor.netty.http.client.data*" metrics is because I configured the ReactorClientHttpConnector wrong.

Probably due to my misunderstanding, I just used this:
[code]

What would be a correct way to configure it please? I am a bit lost between all the possible ```Micrometer?

[2021-03-01 13:36] violetagg commented on #1525
@patpatpat123 Can you try `.metrics(true, Function.identity())`?

[2021-03-01 14:48] patpatpat123 commented on #1525
Indeed @violetagg ,

I am now able to see the reactor.netty.http.client.data* data, and they are very helpful.

Went through a lot of docs and couldn't find anything regarding ```.metrics(true, Function.identity())```, your comment was very very helpful.

Good day!

[2021-03-01 14:48] #1525 closed

[2021-03-01 15:11] violetagg commented on #1525
@patpatpat123
Nice that everything is working.
Take a look at the example here
https://projectreactor.io/docs/netty/release/reference/index.html#_metrics_5

the difference is that the example doesn't use `Function.identity()` but provides another function.

[2021-03-02 13:18] idikshit commented on #1486
@violetagg The performance test result with 0.9.18.BUILD-SNAPSHOT was similar to 0.9.9.RELEASE version. There is still a gradual increase in memory over a long period of time.

[2021-03-04 08:29] edgar-philipp commented on #1397
I am also using BootstrapHandlers.updateConfiguration() and found no equivalent replacement.
Some help on where to find an equivalent functionality is appreciated :-)

[2021-03-04 08:45] violetagg commented on #1397
@atokle @edgar-philipp Please use [Gitter](https://gitter.im/reactor/reactor-netty) for any questions.

[2021-03-04 08:50] violetagg commented on #1523
@patpatpat123 Please use [Gitter](https://gitter.im/reactor/reactor-netty) for any questions.

[2021-03-04 08:50] #1523 closed

[2021-03-04 11:57] rupweb commented on #283
Please can you take a look at https://stackoverflow.com/questions/66464896/in-reactor-sinks-many-what-is-equivalent-to-emitterprocessor-oncancel ?

Is it related to this issue 283.

[2021-03-04 17:31] #1515 closed

[2021-03-04 17:45] violetagg commented on #1515
@alset0326 If you are able to test `1.0.5-SNAPSHOT` it will be great.

[2021-03-05 04:17] alset0326 commented on #1515
It works great! Thanks :)

[2021-03-05 06:48] violetagg opened #1531 "HTTP/3 support"
https://netty.io/news/2021/03/04/http3-0-0-1-Final.html
https://github.com/netty/netty-incubator-codec-http3

[2021-03-05 06:52] violetagg commented on #1515
@alset0326 Thanks for the testing!

[2021-03-05 12:47] jtorkkel commented on #1366
Hi, sorry for the delay.

I did not mean actual pools but have similar metrics how many sockets/channels netty server has open, how many are active and how many are inactive.

I found that extending Netty ChannelInboundHandlerAdapter methods channelActive and channelInactive it might be possible to tract the active connections. I hope the number of open socket can be found somewhere so with this d

[2021-03-05 16:01] jochy opened #1532 "HttpClient.newConnection keeps file open"
Since the recent upgrade of Spring Boot 2.4.2 / 2.4.3 we noticed that our JVM keeps file opened :
![image](https://user-images.githubusercontent.com/6574544/110138342-2b6b7980-7dd2-11eb-8213-441ac27f9f3e.png)

The use of unpooled connections seems to be the culprit : it keeps sock files opened :'(

## Expected Behavior
For each new unpooled connection, the JVM creates a new sock file. When the con

[2021-03-05 16:18] violetagg commented on #1532
@ jochy Is it possible that this one is a duplicate to #1515? Can you test 1.0.5-SNAPSHOT?

[2021-03-05 16:39] jochy commented on #1532
@violetagg After a test using the 1.0.5-SNAPSHOT, it seems that files are well closed. So it may be a duplicate, sorry for the inconvenience.

Thank you for your help and reactivity !

[2021-03-05 16:39] #1532 closed

[2021-03-08 07:25] violetagg commented on #1498
@edgarSang I'm closing this. When you have more information we can reopen it.

[2021-03-08 07:25] #1498 closed

[2021-03-08 07:30] violetagg commented on #1522
@ankur-bhargava Were you able to upgrade? Do you still see the issue?

[2021-03-08 07:31] violetagg commented on #1510
@@boyan-velinov Were you able to test my last suggestion?

[2021-03-08 07:34] violetagg commented on #1366
@jtorkkel Thanks a lot for the input. We will try to schedule this for some of the next releases.

[2021-03-08 08:00] boyan-velinov commented on #1510
@violetag Yes, I have tried last week. Forgot to put the comment here :/
`--no-keepalive` does not change the behavior and `curl` works as before

[2021-03-08 08:11] violetagg commented on #1510
@boyan-velinov Does SAP provide some trial/free cloudfoundry where the application can be deployed and then later we can test Reactor Netty client?

[2021-03-08 09:15] boyan-velinov commented on #1510
Yes, sure. You can try it from here: https://www.sap.com/cmp/td/sap-cloud-platform-trial.html

You need a new trial global account which internally contains one or more subaccounts.
Create the subaccount:
![image](https://user-images.githubusercontent.com/32568491/110299718-b2049e80-7ffe-11eb-8a9a-7b0c27156445.png)

Enable Cloud Foundry, which will create the CF org. The result from enabling CF ar

[2021-03-08 10:09] rschlick commented on #1431
Hello @violetagg

Is it possible to have an help on the DNS resolution issue ?
I have provided the stacktraces above.

Thank you.

[2021-03-08 10:21] violetagg commented on #1431
@rschlick I'm sorry somehow I missed that.
As this issue is closed and related to a documentation extension, it is not appropriate to continue the discussion here.
Please open a new issue.

[2021-03-08 10:27] rschlick commented on #1431
@violetagg No problem. Ok I will open another issue.

[2021-03-08 10:31] mstickel opened #1533 "Handle Redirect Starting with "./""
The Reactor Netty HTTP client appears to have trouble handling redirects where the Location starts with "./".

(related question on SO: https://stackoverflow.com/questions/66510670/netty-httpclient-follow-relative-redirects)

## Expected Behavior
The expected behavior should be that the redirect is handled; the "./" is construed to be relative to the current request's host, port and path.

## Actu

[2021-03-08 10:55] rschlick opened #1534 "DNS resolution problems since version 1.x"
Hello,

I tried to migrate my spring boot application from version 2.3.x to 2.4.2 and I have DNS resolution issues with the WebClient.
 I have heard that some implementation has changed in DNS resolution from reactor-netty 0.9 to 1.0

## Expected Behavior
I expected Webclient http calls working correctly like the previous version of Netty Reactor 0.9.13.

## Actual Behavior
Since updating to Sprin

[2021-03-08 11:16] violetagg commented on #1431
@rschlick thanks

[2021-03-08 12:08] violetagg commented on #1510
@boyan-velinov I uploaded an application with a delay on SAP trial. I do not see a problem, a response from Gorouter is received successfully.

[code]

I have Wireshark so as a tcp dump I see FIN from both the client (port 51832) and the server (port 443)

![Screenshot 2021-03-08 at 14 04 43](https://user-images.githubusercontent.com/696661/110319374-73c7a900-8017-11eb-88d1-33d32cb355b3.png)

[2021-03-08 12:38] boyan-velinov commented on #1510
Interesting :)
Which version of reactor-netty do you use? I have tried with 0.9.14.RELEASE and 0.9.16.RELEASE.
Also how you instantiate the http client?

[2021-03-08 12:44] violetagg commented on #1510
`1.0.4` although there should not be a difference, but let me try with the latest `0.9.x`
I'm using your snippet above `repoCase`

[2021-03-08 14:08] violetagg commented on #1510
@boyan-velinov The same for `0.9.17.RELEASE` (see the User-Agent header)

[code]

[2021-03-08 16:28] boyan-velinov commented on #1510
Strange. Let's try to extend the delay of the app to more than 15min, e.g. 17min.
Also be informed that gorouter timeout will be extended from 15min to 1hour with upcoming platform update, expected Thursday.

[2021-03-08 16:33] violetagg commented on #1510
My application is

[code]

[2021-03-08 19:23] violetagg commented on #1533
@mstickel Will you be able to test this PR #1536?

[2021-03-08 20:55] mstickel commented on #1533
Fantastic.  Yeah, I'll have a look at that PR.

[2021-03-09 17:01] meetarun07 opened #1539 "API has DB call to get data(Postgres), but some times when called, it hangs and after some time it returns read Address(...) failed timeout issue."
We are using pgbouncer for connecting to Postgres. API call works some times, and we get the following exception of readAddress() timeout most of the time.

Code:

[code]

## Expected Behavior
The data needs to be fetched from the DB.

## Actual Behavior
But API will not respond. After  15-20 mins, it responds with internal Server Error "read Address(...) failed: Operation timeout and some times j

[2021-03-09 17:14] violetagg commented on #1539
@meetarun07 I edited the original message in order to wrap the code and logs for better preview.

Will you be able to update to the latest of SpringBoot 2.2.x as `2.2.4` is more than 1 year old and you may miss important fixes?

[2021-03-09 19:38] meetarun07 commented on #1539
updated to Spring Boot 2.4.0 and applied Retry logic also, but same issue,

2021-03-09 23:40:50.990  INFO 24136 --- [xecutorLoop-3-2] i.l.core.protocol.ConnectionWatchdog     : Reconnecting, last destination was androidtvclient.redis.cache.windows.net/104.211.92.172:6379
2021-03-09 23:40:51.157  INFO 24136 --- [ioEventLoop-5-3] i.l.core.protocol.ReconnectionHandler    : Reconnected to androidtvcli

[2021-03-09 19:51] violetagg commented on #1539
@meetarun07 Is it possible that this is the cause

[code]

/cc @mp911de

[2021-03-09 20:36] meetarun07 commented on #1539
Enabled Netty Logs, Please find the below logs,
2021-03-10 01:45:56.287 DEBUG 21344 --- [ioEventLoop-5-2] .a.r.v.s.i.BusinessUnitMasterServiceImpl : adminreactive-service|businessunitmaster|DEBUG|GET|Started viewing the business unit master info based on business unit country and business unit state
2021-03-10 01:45:56.347 DEBUG 21344 --- [ioEventLoop-5-2] reactor.netty.tcp.TcpResources

[2021-03-10 05:36] violetagg commented on #1522
@@ankur-bhargava I'm closing this. If you are able to provide more information we can reopen it.

[2021-03-10 05:36] #1522 closed

[2021-03-10 06:46] violetagg commented on #1510
@boyan-velinov How we should proceed here? It seems that Reactor Netty <-> Gorouter (SAP CloudFoundry trial) communication is as expected.

[2021-03-10 07:26] boyan-velinov commented on #1510
@violetagg  I confirm that the issue cannot be reproduced on SAP Cloud Foundry trial now.
Tried with exactly the same client setup as before - reactor-netty 0.9.12.RELEASE, Java 11, executed from eclips as unit test. The difference is only on server side - cloud foundry landscape was an internal one and probably there are other settings.
I will discuss with gorouter team what could be different in

[2021-03-10 08:16] mp911de commented on #1539
It seems to be related to the driver somehow. Here are a lot of moving parts (WebFlux, R2DBC, Lettuce) that make it impossible to diagnose what's happening. Please update to the latest Postgres and retest. If the problem persists please provide an isolated reproducer and file a ticket at https://github.com/pgjdbc/r2dbc-postgresql/.

[2021-03-10 08:34] violetagg commented on #1533
@mstickel The fix is now available with 1.0.5-SNAPSHOT (https://repo.spring.io/snapshot/). The current planning for 1.0.5 release is Monday, 15th of March

[2021-03-10 09:16] meetarun07 commented on #1539
Already Latest Postgres version 13.2 is used in the application. Or it is regarding with R2dbc driver version??

[2021-03-10 09:45] meetarun07 commented on #1539
We are using R2DBC Version,
<dependency>
            <groupId>io.r2dbc</groupId>
            <artifactId>r2dbc-postgresql</artifactId>
            <version>0.8.7.RELEASE</version>
        </dependency>

[2021-03-10 13:02] manzhizhen opened #1540 "AbortedException: Connection has been closed BEFORE send operation"
The current situation is that I use spring cloud gateway (2.1.2. Release) as the gateway, and then replace the version of reactor netty (changed to 0.8.23. Release) and reactor core (changed to 3.2.22. Release). I find that when the gateway is called upstream, there are some exceptions as follows:

[code]

## Expected Behavior
Gateway normal response upstream

## Actual Behavior
The upstream call

[2021-03-10 13:17] kosmosimonyi opened #1541 "reactor.netty.tcp.SslProvider.SslReadHandler#userEventTriggered bug."
here ,if io.netty.handler.ssl.SslHandler add after connection success
 ,then cause reactor.right.reactiveBridge handler duplicate create reactor.netty.channel.ChannelOperations.
 downstream that have subscribed old reactor.netty.channel.FluxReceive can't receive data again.
 eg : MySQL client protocol do below:
 1. receive one handshake packet from MySQL server.
 2. if both server and client suppo

[2021-03-10 13:24] kosmosimonyi commented on #1541
@Violeta Georgieva , I write a example that can run .  I expecte this bug to fix because I develping  reactor  mysql driver. thank you .

[2021-03-10 13:45] violetagg commented on #1540
@manzhizhen If I understand the issue correctly, we have

[code]

If the answer is yes then do you have SCG `spring.cloud.gateway.httpclient.response-timeout` configuration? https://cloud.spring.io/spring-cloud-gateway/reference/html/appendix.html

[2021-03-10 13:56] violetagg commented on #1539
@meetarun07 @mp911de I don't know how to help here from Reactor Netty point of view.

[2021-03-10 13:59] manzhizhen commented on #1540
yes, you got it!!

[2021-03-10 14:06] violetagg commented on #1540
I'm not familiar with the differences between SCG versions, but in the latest documentation it is `response-timeout` while your configuration contains `responseTimeout`

[2021-03-10 14:15] kosmosimonyi commented on #1541
`package io.jdbd.mysql.session;

import io.netty.buffer.ByteBuf;
import io.netty.channel.*;
import io.netty.handler.ssl.SslContext;
import io.netty.handler.ssl.SslContextBuilder;
import io.netty.handler.ssl.SslHandshakeCompletionEvent;
import io.netty.util.AttributeKey;
import org.reactivestreams.Subscription;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.testng.annotations.T

[2021-03-10 14:50] meetarun07 commented on #1539
@mp911de   i have generated the logs now with reactor netty without using redis connection. following are the  logs.

[code]

[2021-03-10 15:06] violetagg commented on #1539
Selecting one of the connections (id: 0x01790d4f) I can say that for some reason the remote peer didn't return response for 8 minutes and then closed the connection.

[code]

[code]

Also there are custom Netty handlers that I do not know what function they provide: `LengthFieldBasedFrameDecoder` and `EnsureSubscribersCompleteChannelHandler`

[2021-03-10 15:07] mp911de commented on #1539
There's still a lot of WebFlux fuzz going on so, really a standalone case (e.g. JUnit test class) using R2DBC only is what we're looking for.

@violetagg I think there's nothing really from Reactor Netty involved. I expect an issue with the driver.

[2021-03-10 15:18] Johannes-Rost opened #1543 "Configuration of ciphers is ignored for TCP"
## Expected Behavior
Configuring a list of ciphers should result in a running server with this ciphers configured for Spring Boot 2.4.x with reactor-netty 1.0.x

## Actual Behavior
reactor.netty.tcp.SslProvider is overriding the list of ciphers with `null` since commit https://github.com/reactor/reactor-netty/commit/41e73261a5935dac3b5773ab3668d0dd99d4cf42 for `reactor.netty.tcp.SslProvider.Defaul

[2021-03-10 16:38] Johannes-Rost commented on #1543
In case of `reactor.netty.tcp.SslProvider.DefaultConfigurationType#H2` the externally configured value for ciphers is also ignored, because it is replaced with `reactor.netty.tcp.SslProvider#HTTP2_CIPHERS`.
As far as I understand, with http/2 there are only certain allowed ciphers, so the list of ciphers must be restricted if http/2 is to be used.
Nevertheless, it should be possible to use only a

[2021-03-10 22:08] mstickel commented on #1533
Confirmed that the pull request here fixes the issue I was having.  Nice work.

[2021-03-11 01:04] manzhizhen commented on #1540
I've really tried this one. It can take effect. Ha ha

[2021-03-11 01:06] manzhizhen commented on #1540
I have tried to upgrade reactor-netty and reactor-core to a higher version, but it seems to be incompatible with the existing SCG or Spring Webflux (Spring Web, which Spring Webflux relies on, also relies on reactor-core)

[2021-03-11 06:34] violetagg commented on #1533
Thanks for testing it!

[2021-03-11 07:39] violetagg commented on #1540
You need to check which Spring Boot version is supported by a concrete SCG version.
Spring Boot 2.4.x uses Reactor 2020.0.x (Reactor Netty 1.0.x)
Spring Boot 2.3.x and 2.2.x use Reactor Dysprosium (Reactor Netty 0.9.x)
Spring Boot 2.1.x uses Reactor Californium (Reactor Netty 0.8.x)

[2021-03-11 09:03] violetagg commented on #1539
@meetarun07 I'm closing this one. Please consider opening an issue for the corresponding driver and provide a reproducible example. We can reopen this one if it appears an issue with Reactor Netty.

[2021-03-11 09:03] #1539 closed

[2021-03-11 09:05] violetagg commented on #1540
@manzhizhen I'm closing this one. For issues with SCG upgrade please consider contacting SCG maintainers.

[2021-03-11 09:05] #1540 closed

[2021-03-11 13:24] ramiloif opened #1546 "LEAK: ByteBuf.release() was not called before it's garbage-collected. (ReactiveMongoRepository)"
I'm using ReactiveMongoRepository with Kotlin and I'm getting this memory leak error from time to time
[code]
More detailed errors in this gist:
https://gist.github.com/ramiloif/0194f6c248dfe9885b12e7da5ffc28aa

Also in stack overflow:
https://stackoverflow.com/questions/66553698/leak-bytebuf-release-was-not-called-before-its-garbage-collected-reactivem

## Expected Behavior
my usage is pretty bas

[2021-03-11 13:33] violetagg commented on #1546
@ramiloif Please provide the version of the driver.

[2021-03-11 13:54] ramiloif commented on #1546
You mean of `Spring Data MongoDB` ?
version: 3.1.5

[2021-03-11 13:58] violetagg commented on #1546
no I need the version for `com.mongodb.reactivestreams.client`

[2021-03-11 14:07] ramiloif commented on #1546
Ok, version `4.1.1`

[2021-03-11 16:34] bruto1 opened #1547 "Leak when using HttpClient with metrics AND NewConnectionProvider"
EventExecutorGroup.terminationFuture().listeners collection grows in an unbounded manner as long as HttpClient is being used for new requests and the listeners not being removed are the metric tracking wrappers created in reactor.netty.transport.ClientTransportConfig#resolverInternal

This is not an issue with pooled connectionprovider or when the client metrics are off

## Expected Behavior
No le

[2021-03-11 18:30] violetagg commented on #1546
@ramiloif How easy is it for you to reproduce the issue and eventually to check a potential fix? Is it possible to provide some code sample?

[2021-03-12 07:17] violetagg commented on #1543
@Johannes-Rost The change in 1.0.x is intentional as we want to guarantee that if the user does not provide configuration type the default configuration will be applied on top of the provided `SslContextBuilder`.
As a workaround you can try to specify `reactor.netty.tcp.SslProvider.DefaultConfigurationType#NONE`, or to provide directly `SslContext` and not `SslContextBuilder`

[2021-03-12 07:36] violetagg commented on #1534
@rschlick As you can reproduce that, are you able to test this scenario with Java >= 15?

[2021-03-12 10:10] violetagg commented on #1547
@bruto1 Can you test #1548 ?

[2021-03-12 11:10] bruto1 commented on #1547
here's a small test with a bunch of client invocations: https://github.com/bruto1/rnetty-leak-test

[2021-03-12 11:47] bruto1 commented on #1547
seems to have worked, @violetagg

[2021-03-12 12:44] #1547 closed

[2021-03-12 12:48] violetagg commented on #1547
@bruto1 Thanks for testing it!

[2021-03-12 16:09] Johannes-Rost commented on #1543
@violetagg  My `reactor.netty.http.server.HttpServer` is currently assembled by Spring Boot and the `NettyReactiveWebServerFactory` uses the `io.netty.handler.ssl.SslContextBuilder` to create the `SslContext`.
When the web server created by Spring Boot is started, `reactor.netty.http.server.HttpServerBind` overwrites the cipher configuration with null (or the default ciphers for http/2).
With Spri

[2021-03-12 19:00] Johannes-Rost commented on #1543
Maybe this should be fixed by changing the `SslContextBuilder`from netty, see https://github.com/reactor/reactor-netty/pull/1549#issuecomment-797681608

[2021-03-13 07:16] ramiloif commented on #1546
Couldn't find option to reproduce .
The server is running on cloud and the error happens from time to time .

[2021-03-13 07:24] ramiloif commented on #1546
Some code samples .
Will try to provide more
[code]

[2021-03-14 07:32] rabiori commented on #1546
@violetagg @ramiloif I believe if you can give us a fix we can re-deploy and see if error still occurs occasionally, as it does today

[2021-03-15 09:44] patpatpat123 opened #1550 "SpringBoot 2.4.2 BlockHound: blocking call when making outbound HTTPS request"
Hello Reactor Netty Team,

During a test we were doing, we encountered an issue, and wanted to let you know.
This blocking call only happens when making **outbound** (I am the client, making a request to another server) https call.
And **https** is important, as it is not reproducible with http.

Here is the stack trace:

[code]

May I ask what might be the root cause of this blocking call in a re

[2021-03-15 14:55] violetagg commented on #1534
Related issues
https://github.com/netty/netty/issues/9796
https://mail.openjdk.java.net/pipermail/net-dev/2019-November/013339.html

[2021-03-15 16:20] rschlick commented on #1534
Thank you @violetagg for your help.
I understand better why you propose me to try with JDK 15..
I was not able to try already, but it's on my short todo list.

[2021-03-15 19:40] violetagg commented on #1543
@Johannes-Rost Reactor Netty will expose a new API that will be used by Spring Boot

[2021-03-15 19:54] anh-dev opened #1551 "HttpClient configured with h2c and http11 protocols fails to work with server that supports only http11"
## Expected Behavior

HttpClient configured with **h2c** and **http11** protocols can work with servers that don't support **h2c** and use **http11** instead.

## Actual Behavior
When HttpClient  configured to support both **h2c** and **http11** it failed when requesting a server that doesn't support **h2c** (first two requests complete normally, but 3rd - failed) with **java.lang.IllegalStateExce

[2021-03-16 07:30] skorhone commented on #1550
Java's SSL implementation is reading random data from random device. While random device can block, it's extremely unlikely to do so (especially if you use /dev/urandom instead of /dev/random - urandom never blocks)

You could avoid this particular warning by subscribing to client outside event loop (subscribeOn instead of subscribe)

[2021-03-16 11:45] patpatpat123 commented on #1550
hello @skorhone,

Many thanks for your input.

Regarding your first point, "/dev/urandom instead of /dev/random" I am already currently starting my app this way:

[code]

Are you saying this is not the right -D please?

Also, I am actually not subscribing anything, I have a web app, SpringBoot app where I am the server. But in order to compute the response, I need to make a request (I become clien

[2021-03-16 18:30] violetagg commented on #1551
@anh-dev Thanks a lot for the reproducible example! If you are able to test PR #1553, it will be great.

[2021-03-16 20:26] anh-dev commented on #1551
@violetagg Checked with Spring Cloud Gateway, it works great! Many thanks for the prompt reply!

[2021-03-17 06:46] #1551 closed

[2021-03-17 06:48] violetagg commented on #1551
@anh-dev Thanks a lot for the testing!

[2021-03-17 10:58] rschlick commented on #1534
Hello @violetagg

I have try OpenJdk 15. It's working now on my local Windows 10 machine.
But I still have some issue running in Docker container (using adoptopenjdk:15.0.2_7-jre-hotspot image) on EKS AWS.
I don't have DNS error now, but I have timeout exception.
I have configure a proxy.
Here is my conf :

` HttpClient httpClient =
                HttpClient.create(resourceFactory.getConnectionPr

[2021-03-17 11:18] violetagg commented on #1534
@rschlick Just to check my understanding: on Windows with java < 15 you see the issue and with java >= 15 everything is OK. Is that correct?

About Docker container, do you think I can reproduce it somehow?

[2021-03-17 11:27] violetagg commented on #1534
@rschlick Mmmm, actually you may need to configure Proxy timeout.
Please check this documentation:
https://projectreactor.io/docs/netty/release/reference/index.html#_timeout_configuration

[2021-03-17 13:18] rschlick commented on #1534
@violetagg I will try a solution with proxy timeout configuration. Thank you.
I will try again on Windows with JDK 11 to be sure it was the issue in this environment.

[2021-03-17 15:29] rschlick commented on #1534
@violetagg After verification :
On local machine windows 10, I still have some issues even with JDK 15.
But, it's seems working with :
`.resolver(DefaultAddressResolverGroup.INSTANCE)`

But on docker container adoptopenjdk:15.0.2_7-jre-hotspot, I still have a timeout error..

Do you know an easy way to migrate to Spring Boot 2.4.x including previous pom/bom version of Netty Reactor ?

[2021-03-18 08:07] hdineth commented on #764
@violetagg I got the same `An existing connection was forcibly closed by the remote host` warning after first request completes and after 5 minutes of idle time of my application.

My full error is as below,

`2021-03-18 11:27:22.458 -  -  WARN [-,,,] 15296 --- [ctor-http-nio-6] i.n.c.AbstractChannelHandlerContext      : An exception 'java.lang.NullPointerException' [enable DEBUG level for full st

[2021-03-18 08:15] violetagg commented on #764
@hdineth Open a new issue and if possible switch to DEBUG.
`'java.lang.NullPointerException' [enable DEBUG level for full stacktrace]`

[2021-03-18 08:18] violetagg commented on #1534
Spring Boot 2.4.x uses Reactor 2020.0.x (Reactor Netty 1.0.x)
Spring Boot 2.3.x and 2.2.x use Reactor Dysprosium (Reactor Netty 0.9.x)

[2021-03-18 09:14] rschlick commented on #1534
@violetagg  So Spring boot 2.4.x is not compatible with Reactor Dysprosium (Reactor Netty 0.9.x) ?

[2021-03-18 09:19] hdineth commented on #764
Hi @violetagg I'm not sure whether this has been fixed in latest RELEASE. My current version is 0.9.0.RELEASE. Find below DEBUG logs.

[code]

[2021-03-18 09:33] violetagg commented on #764
@hdineth Yep This NPE seems to be fixed: #896

[2021-03-18 09:34] violetagg commented on #1534
No

[2021-03-19 13:59] eugene-sadovsky opened #1556 "Memory leak in PooledConnectionProvider"
## Expected Behavior
[channelPools](https://github.com/reactor/reactor-netty/blob/55f0f93b49aad10390b2f0de6f86ec166f09e846/reactor-netty-core/src/main/java/reactor/netty/resources/PooledConnectionProvider.java#L103)  map should be cleaned-up of stale targets
## Actual Behavior
I observe heap memory growth over a week in Spring Cloud Gateway (3.0.1) and reactor-netty-1.0.3. After analyzing the heap

[2021-03-19 15:02] patpatpat123 commented on #1550
Just bumping this up. And just asking, am I the only one who observes blocking call when making https call please?

[2021-03-20 14:13] iblogc commented on #641
@meiyuisgithub @bearRunning 请求你们的这个问题最后解决了吗？

[2021-03-21 09:51] violetagg commented on #1550
@patpatpat123 How do you configure the WebClient?

[2021-03-21 18:20] kosmosimonyi commented on #1541
@violetagg this real bug.

[2021-03-22 10:39] patpatpat123 commented on #1550
Hello @violetagg,

I configured it that way:
With just the two files here, it is reproducible
(Everything fits into one java file + one pom file, so I didn't create a GitHub just for it, but if needed, let me know)

Thank you

[code]

[code]

[2021-03-22 11:07] violetagg commented on #1550
@patpatpat123 Can you provide `SslContext` instead of `SslContextBuilder`? I see that you configure everything for HTTP/2 (although I do not see the ciphers).

[2021-03-22 11:31] patpatpat123 commented on #1550
Thank you for taking a look at this @violetagg, much appreciated.

Indeed, I seems if I go from ```SslContextBuilder``` to use ```SslContext```, the blocking call disappear.

We are actually using SslContextBuilder because of your recommendation here:
https://github.com/reactor/reactor-netty/issues/1500

We are using http2. Hence, I was wondering: is it possible to not block with ```SslContextBuil

[2021-03-22 14:06] violetagg commented on #1550
#1500

@patpatpat123 Yep I remember that

But you already have almost everything from that default configuration ... See my commend here.

https://github.com/reactor/reactor-netty/issues/1500#issuecomment-776538529

Can you try with `subscribeOn`?

[code]

[2021-03-22 20:30] jnustud commented on #813
Which version would support this
`httpServer.wiretap("category", LogLevel.DEBUG, AdvancedByteBufFormat.TEXTUAL)`

[2021-03-23 04:19] vaibsgharge commented on #1374
@violetagg, I am registering customEncodes and decoders as following:
.codecs(configurer -> configurer.customCodecs().register(new AvroHttpMessageEncoder<>(true)))

How am I supposed to set maxInMemorySize, because its hitting -

2021-03-23 11:41:04.002: [ctor-http-nio-1] ERROR:     reactor.netty.channel.ChannelOperationsHandler: [id: 0x84e4f446, L:0.0.0.0/0.0.0.0:50052 ! R:/10.216.8.70:8080] Erro

[2021-03-23 09:12] violetagg commented on #1374
@vaibsgharge For Spring Framework functionality please use the corresponding Spring Framework support channels. Thanks.

[2021-03-23 09:13] skaba opened #1559 "uriTagValue is shared across different HttpClient instances"
If I configure multiple HttpClient Instances as such
[code]
[code]

## Expected Behavior
They're shared (Probably the latest overrides but I can't say)

## Actual Behavior
uriTagValue function belongs to individual HttpClient instance not global.

[2021-03-23 09:15] violetagg commented on #813
@jnustud For questions please use [Gitter](https://gitter.im/reactor/reactor-netty) or [stackoverflow.com](https://stackoverflow.com/questions/tagged/reactor-netty)

`httpServer.wiretap("category", LogLevel.DEBUG, AdvancedByteBufFormat.TEXTUAL)`
is available in Reactor Netty 1.0.x versions

[2021-03-23 09:30] violetagg commented on #1559
@skaba Please specify Reactor Netty version.

[2021-03-23 09:41] skaba commented on #1559
io.projectreactor.netty:reactor-netty-http:1.0.4

[2021-03-23 22:43] rp199 commented on #1550
I got the same issue but cannot use that workaround since I'm using webflux with kotlin + coroutines:

Stacktrace:

[code]

My configuration is for the client is the default, I'm simply injecting the auto configurable webclient and making a get to a https url:
`webClient.get().uri("/1234").awaitExchange { it.statusCode() } `

Since I'm using the reactor kotlin extension instead of Mono/Flux I have

[2021-03-23 22:51] patpatpat123 commented on #1550
To update this thread, yes @violetagg, you are correct, with your subscribe on solution, it seems to work.
But it seems to be more of a workaround.

Same with @rp199, would it be possible to have some sort of real fix, and not a workaround instead?

Just asking. And thank you again for the help provided.

[2021-03-24 06:14] violetagg commented on #1550
@rp199 Do you use some SSL configuration or you use the defaults?

[2021-03-24 09:29] rp199 commented on #1550
@violetagg I'm using the web client without any customisation, using the builder directly from the WebClientAutoConfiguration:

[code]

Don't have any custom configuration related to SSL.

[2021-03-24 09:30] violetagg commented on #1534
@rschlick Please use `.resolver(DefaultAddressResolverGroup.INSTANCE)` while investigating this issue.

[2021-03-24 09:35] violetagg commented on #1550
@rp199 In your use case, you expect the `HttpClient` to decide lazy based on the scheme whether you need security or not.
Can you try the snippet below (it is in java, but the idea is important)

[code]

[2021-03-24 10:09] violetagg opened #1560 "User-Agent header cannot be overridden"
Based on the Gitter discussion https://gitter.im/reactor/reactor-netty?at=6059b884a7dfe1372ef09163

[2021-03-24 10:59] rp199 commented on #1550
Thanks @violetagg, I can confirm that snippet works, I'm no longer getting any exception from blockhound and the https call is working fine 🙂

Just for sanity check, what was happening before was that if nothing is specified, the `HttpClient` will try to evaluate if we need security for the call and that's where the blocking call was happening (that's why it worked on http calls and not https). Wi

[2021-03-24 11:00] patpatpat123 commented on #1550
Many thanks all.

Shall I just close this issue, and let Reactor Netty Team decide if making the ```SslContextBuilder``` can be considered for the future?

[2021-03-24 11:17] violetagg commented on #1550
@patpatpat123 Let's keep this opened for the moment.

[2021-03-24 11:19] violetagg commented on #1550
@rp199 with `.secure()` you eagerly initialise the default `SslContext`, while without it the default `SslContext` will be resolved lazy when there is a url with `https` scheme.

[2021-03-24 11:41] rp199 commented on #1550
Understood, thanks again

[2021-03-24 13:39] et00448 opened #1561 "HttpServer: Accept non URL-encode query parameters (by a parameter)"
Unlike TOMCAT, netty doesn't allow non urlencoded query parameters.
This functionality should be interesting for old and external application compliance.

## Motivation
Because of this lack, we still use embedded TOMCAT instead of reactor netty in spring boot projects (spring cloud gateway).

## Desired solution
It would be appreciate to dispose a parameter like the "server.tomcat.relaxed-query-ch

[2021-03-24 14:02] violetagg commented on #1561
@et00448 Do you need this enhancement for 0.9.x or 1.0.x?

[2021-03-24 14:38] et00448 commented on #1561
For 1.0.x would be perfect !

[2021-03-24 15:16] huberchrigu opened #1563 "Performance issues after upgrading to 1.0.x"
After upgrading my Spring Boot application from 2.3.9 to 2.4.2, WebClient usages have become extremely slow (>10s). I could find out that the issues are related to the Netty HttpClient since 1.0.x.

## Expected Behavior
As with 0.9.x, the response time should stay below 0.1s (except for the first request, which was slightly above).

## Actual Behavior
Any request, no matter which protocol, interne

[2021-03-24 15:23] violetagg commented on #1563
@huberchrigu This might be related to this issue #1534 - failing DNS resolution on Windows.

Can you try setting the JVM built-in resolver

[code]

https://projectreactor.io/docs/netty/release/reference/index.html#_host_name_resolution_2

[2021-03-24 15:35] huberchrigu commented on #1563
@violetagg Thank you! This fixes it.

[2021-03-24 15:35] #1563 closed

[2021-03-24 16:02] #1559 closed

[2021-03-25 08:02] justinesymphony commented on #1560
Hi @violetagg, giving it a second thought, I am not sure this is actually an issue.
In https://github.com/reactor/reactor-netty/blob/1ee8169b665795f8ce6a2c0e02592210bf719b9d/reactor-netty-http/src/main/java/reactor/netty/http/client/HttpClientConnect.java#L497, we're using the headers-implementation-specific `contains` which, according to the "hashing strategy" used (https://github.com/1030907690/

[2021-03-25 09:07] idikshit commented on #1486
@violetagg Could you please confirm if there is any update on this ticket, Thanks

[2021-03-25 09:40] violetagg commented on #1561
@et00448 Will you be able to test this PR #1564.

[2021-03-25 10:02] violetagg commented on #1560
@justinesymphony I added a test with PR #1565 that verifies that the custom header will be preserved

[2021-03-25 10:04] violetagg commented on #1486
@idikshit It is still under investigation

[2021-03-25 13:44] et00448 commented on #1561
Great ! But I don't know how to obtain the Milestone 1.0.6 ? Should I reference Netty 1.0.6-MILESTONE in my POM ?

[2021-03-25 14:12] #1560 closed

[2021-03-25 14:25] violetagg commented on #1561
@et00448 `1.0.6-SNAPSHOT` and it is available from https://repo.spring.io/snapshot

[2021-03-25 15:33] et00448 commented on #1561
I am using this pom configuration :
<repository>
			<id>spring-snapshots</id>
			<name>Spring Snapshot Repository</name>
			<url>https://repo.spring.io/snapshot</url>
		</repository>

and
<dependency>
				<groupId>io.projectreactor.netty</groupId>
				<artifactId>reactor-netty-http</artifactId>
				<version>1.0.6-SNAPSHOT</version>
			</dependency>

Does it correct ?
===============
I am always fa

[2021-03-25 15:47] violetagg commented on #1561
@et00448 This is working for me. Check some proxy settings, firewall etc.

[code]

[2021-03-25 16:48] eugene-sadovsky opened #1566 "Change zonedDateTime type in AccessLogArgProvider"
## Motivation
I need to use different DateTime format in access logs (ISO 8601), including millisecond resolution.
Currently, `zonedDateTime` in `AccessLogArgProvider` has `String` type and is formatted at the time of recording.

## Desired solution
change `zonedDateTime` type in `AccessLogArgProvider` to `ZonedDateTime` and move formatting down to `AccessLogFactory`, allowing custom implementatio

[2021-03-25 17:25] violetagg commented on #1566
@eugene-sadovsky Would you like to provide a PR?

[2021-03-25 17:33] eugene-sadovsky commented on #1566
@violetagg gladly, I'm actually working on it right now

[2021-03-25 17:46] violetagg commented on #1566
@eugene-sadovsky Great! :bowing_woman:

[2021-03-26 02:52] yuanpli opened #1568 "Netty httpclient doesn't retry establish the connection if one host provides two IP addresses"
Netty httpclient doesn't retry establish the connection if one host provides two IP addresses

## Expected Behavior
When I create a Spring WebClient using Netty ReactorClientHttpConnector, it cannot retry using Ipv6 if the first connection to ipv4 timed out. I have tested that Spring RestTemplate with apache httpclient and WebClient with jetty reactive client can support this.

`
[main] DEBUG org.

[2021-03-26 07:42] et00448 commented on #1561
Hello,
I still have HTPP 400 when transmitting non URL encoded characters like : | or ^
while using : .../repository/io/projectreactor/netty/reactor-netty-http/1.0.6-SNAPSHOT/reactor-netty-http-1.0.6-SNAPSHOT-sources.jar
=================================================

2021-03-26 05:30:05.115  INFO 12344 --- [           main] com.example.demo.DemoApplication         : Started DemoApplication in

[2021-03-26 08:44] et00448 commented on #1561
Furthermore, with this reactor-netty-http-1.0.6-SNAPSHOT my project based on spring cloud gateway doesn't start anymore :

exception : Error creating bean with name 'websocketRoutingFilter' defined in class path resource [org/springframework/cloud/gateway/config/GatewayAutoConfiguration.class]: Unsatisfied dependency expressed through method 'websocketRoutingFilter' parameter 0; nested exception i

[2021-03-26 08:57] violetagg commented on #1561
@et00448 Can you check that both `reactor-netty-core` and `reactor-netty-http` are 1.0.6-SNAPSHOT. There might be some dependency mismatch.

[2021-03-26 09:06] violetagg commented on #1568
@yuanpli In Reactor Netty 0.9.x we use the JVM built-in resolver, this is changed in version 1.0.x. Is it possible for you to test with Spring Boot 2.4.x?

[2021-03-26 09:31] violetagg commented on #1556
@eugene-sadovsky We need to consider two use cases:
- The first use case is your when you most probably do not need this empty pool anymore
-  The second use case is: after the eviction the pool is empty but just after that operation, we need to create a connection for a new request. In this use case if we close the pool and remove it from channelPools then in the next moment we will need to creat

[2021-03-26 10:01] violetagg commented on #1561
@et00448 From the exception I would say that the fix in Reactor Netty is working, but the issue now is in Spring Framework:

[code]

[2021-03-26 10:20] et00448 commented on #1561
I still have a bug with spring cloud gateway in spite of using reactor-netty-core and reactor-netty-http are 1.0.6-SNAPSHOT !
=======================
java.lang.NoClassDefFoundError: io/netty/handler/codec/http2/Http2Settings
	at reactor.netty.http.client.HttpClientConfig.http2Settings(HttpClientConfig.java:470) ~[reactor-netty-http-1.0.6-SNAPSHOT.jar:1.0.6-SNAPSHOT]
	at reactor.netty.http.client.H

[2021-03-26 10:46] ET02720 commented on #1561
I test it on my side with both library and indeed I don't have the error anymore in HttpOperations class. But error is now in ReactorHttpHandlerAdatper class from spring-web..
Do you know if there is a way to encode this url before reaching HttpOperations class or ReactorHttpHandlerAdatper as a workaround ?

thanks

[2021-03-26 12:39] violetagg commented on #1561
@ET02720 @et00448 Can you try this workaround?

[code]

[2021-03-26 12:44] violetagg commented on #1561
@et00448 I've edited your comments to improve the formatting. You might want to check out this [Mastering Markdown guide](https://guides.github.com/features/mastering-markdown/) for future reference.

[2021-03-26 12:59] ET02720 commented on #1561
The workaround seems to do the trick. I tried to do that but didn't know how to add a Netty handler in the pipeline.
Thank you very much

[2021-03-26 13:30] et00448 commented on #1561
@violetagg thank'you for formatting my comments. I will see the  Mastering Markdown guide

[2021-03-27 13:00] violetagg commented on #1486
@idikshit Do you observe some error logs like this `io.netty.util.ResourceLeakDetector       : LEAK: ByteBuf.release() was not called`? I'm testing with the latest Reactor Netty/Spring Boot/Spring Gateway and I do not observe the behaviour that you describe.

[2021-03-29 03:25] yuanpli commented on #1568
Hi @violetagg , I still got a connection timed out error after switch to Spring Boot 2.4.4.
The code is posted as below.
`
package com.http.client.test;

import io.netty.channel.ChannelOption;
import io.netty.handler.ssl.SslContext;
import io.netty.handler.ssl.SslContextBuilder;
import io.netty.handler.ssl.util.InsecureTrustManagerFactory;
import io.netty.handler.timeout.ReadTimeoutHandler;
import

[2021-03-29 10:04] eugene-sadovsky commented on #1556
@violetagg what if we run clean-up of channelPools at a longer intervals, for example multiples of pool `evictionInterval`, (`2 * evictionInterval` or longer ). I think timing here is not as critical as in pool eviction.
At the same time we maintain lastAccessTime of each pool, probably via each acquire() invocation.
Pool drop criteria would be then: pool is empty and is inactive for longer than `

[2021-03-29 10:17] violetagg commented on #1556
@simonbasle What do you think for having such configurations on pool level?

[2021-03-29 12:03] simonbasle commented on #1556
I don't think there's anything to be done at pool level, other than expose the last access time on the pooledRef (which I think is already the case) => we're talking about eviction of a pool from a map maintained by reactor-netty.

[2021-03-29 15:32] violetagg commented on #1561
@et00448 Were you able to test the workaround?

[2021-03-29 15:45] rdp commented on #1060
Link to discussion/fix possible?  Thanks!

[2021-03-29 16:11] et00448 commented on #1561
@violetagg : The workaround based on the NettyWebServerCustomizer do perfectly the job.
Thank'you

[2021-03-29 17:05] violetagg commented on #1060
@rdp The issue is https://github.com/spring-projects/spring-framework/issues/24788

[2021-03-29 17:13] violetagg commented on #68
Note: When implementing this feature, we need to discuss also non URL-encode query parameters - #1561

[2021-03-29 17:14] violetagg commented on #1561
@et00448 Nice!
At the moment Reactor Netty do not have any support for query processing.
However we have a feature request. I'm closing this issue as a duplicate to that feature request #68.

[2021-03-29 17:14] #1561 closed

[2021-03-30 03:34] ctlove0523 commented on #594
@violetagg
I use 1.0.3 version test this case,the issue also exist.

Test Case

[code]

Response
[code]

[2021-03-30 06:10] broadside74 commented on #1534
I confirm It is broken on windows and windows containers (nanoserver) with spring version 2.4.x, I rolled back to 2.3.9

[2021-03-30 06:21] rschlick commented on #1534
@violetagg I have tried also with `.resolver(DefaultAddressResolverGroup.INSTANCE)`
@broadside74 "Glad" to know I'm not the only one. And, I hope it will be fixed, but we are stuck to upgrade to Spring Boot 2.4

[2021-03-30 07:43] violetagg commented on #594
@ctlove0523 Yes this is still not addressed in 1.0.x version.
As a workaround you can provide your resolver for the routing.
I'm marking this as help wanted.

[2021-03-30 07:47] violetagg commented on #1556
@simonbasle Yes you are right that the operation for pool removal from the map is Reactor Netty responsibility, however we need to do that based on some state of the pool. The state of the pool at the moment is not exposed i.e. Reactor Netty can acquire resources from the pool but does not have the knowledge whether the pool is empty or not, how long was the pool empty etc.

[2021-03-30 07:53] violetagg commented on #1534
@broadside74 Any chance to guide us how to reproduce this? With the workaround above you should be able to upgrade to Spring Boot 2.4 or the workaround also is not working?

[2021-03-30 07:54] violetagg commented on #1534
Do you mean that the workaround is also not working and thus you cannot upgrade to Spring Boot 2.4?

[2021-03-30 08:00] rschlick commented on #1534
@violetagg I have found no workaround :(

[2021-03-30 08:46] simonbasle commented on #1556
ah, yeah we can probably add some information. we would have to consider carefully which type of information, and it would have to be best effort though, because otherwise it could require too much synchronization.

[2021-03-30 09:21] broadside74 commented on #1534
@violetagg I reproduced the problem here https://github.com/broadside74/reactor-netty-dns-problem

[2021-03-30 09:58] broadside74 commented on #1534
It seems this code did the trick

[code]

Lets see if I have the timeout problem, i'll come back to you

[2021-03-30 09:58] violetagg commented on #1556
Marking this as blocked, because we need a change in Reactor Pool.

[2021-03-30 16:12] violetagg opened #1569 "reactor.netty.udp.UdpClientTest#smokeTest fails with Netty 4.1.61.Final"
This is a regression caused by https://github.com/netty/netty/pull/11086

CI is failing https://github.com/reactor/reactor-netty/runs/2228620315?check_suite_focus=true#step:5:1073

[2021-03-30 16:33] violetagg commented on #1569
https://github.com/netty/netty/pull/11128

[2021-03-30 17:56] rstoyanchev commented on #1546
@rabiori I've been able to reproduce the leak I think and created https://github.com/spring-projects/spring-framework/issues/26746.

[2021-03-31 04:03] hdineth commented on #1431
Issue still remains in the latest 4.1.60 RELEASE of Netty. @jamesward's solution can be used until it get fixed.

`HttpClient httpClient = HttpClient.create(provider).resolver(DefaultAddressResolverGroup.INSTANCE);`

[2021-03-31 12:45] rschlick commented on #1534
Maybe the workaround for the DNS problem is working for me. But I still have some timeout errors.
I pass by an proxy I have configured like this 👍
`private Consumer<? super ProxyProvider.TypeSpec> createProxyOptions() {
        return proxySpec -> proxySpec
                .type(ProxyProvider.Proxy.HTTP)
                .host(proxyHost)
                .port(proxyPort)
                .connectTime

[2021-03-31 13:02] violetagg commented on #1546
Let me close this one. Please follow the issue in Spring Framework.

[2021-03-31 13:02] #1546 closed

[2021-03-31 16:32] #1566 closed

[2021-03-31 19:01] paramthind opened #1574 "io.netty.channel.ConnectTimeoutException: connection timed out: AbstractEpollChannel.java:576"
My proxy service is throwing this error intermitently:

500 Server Error for HTTP POST "/jupyter/228fff57-1489-42ae-9c84-38e3c0fdcad9/git/branch?1616124558197" io.netty.channel.ConnectTimeoutException: connection timed out: <SOME_HOST>:443
	at io.netty.channel.epoll.AbstractEpollChannel$AbstractEpollUnsafe$2.run(AbstractEpollChannel.java:576)
	Suppressed: reactor.core.publisher.FluxOnAssembly$OnAs

[2021-04-01 10:11] RobertoBoni67 opened #1576 "fatal error: 40: no cipher suites in common enabling SSL"
I have to enable SSL in a spring reactive application using Netty as HTTPS server.

For test purpose, I made a very simple spring boot reactive application with a very simple rest controller that simply returns "Hello World".

POM:
[code]

Application properties:
[code]

I get the error "fatal error: 40: no cipher suites in common" in SSL handshake while connecting to the Netty server even from a

[2021-04-02 08:01] BenyahyaF45 commented on #1431
thank you i resolve my problem

[2021-04-02 08:54] et00448 opened #1577 "Netty HTTP_Access_Log : Add requestCookie property to AccessLogArgProvider"
Hello, it would be interesting to add a way to get cookie values directly by using their names inside the AccessLogArgProvider in order to feed access_log.

Thank'you

## Motivation
By this way we can get easily cookie values in order to make our own netty access_log format.

## Desired solution
add a "requestCookie" property to the class AccessLogArgProvider

## Considered alternatives
I'am tryin

[2021-04-02 12:54] violetagg commented on #1036
I thing that `mapConnect` can be used in these scenarios. Closing this issue. We can reopen it if it is needed.

[2021-04-02 12:54] #1036 closed

[2021-04-02 13:36] violetagg commented on #1576
@RobertoBoni67 One the server if you enable the logging `logging.level.reactor.netty.debug`, is there more information in the stack trace?

[2021-04-02 13:40] violetagg commented on #1574
@paramthind Can you try with SCG property `spring.cloud.gateway.httpclient.connect-timeout`?
https://cloud.spring.io/spring-cloud-gateway/reference/html/appendix.html

`spring.cloud.gateway.httpclient.connect-timeout - The connect timeout in millis, the default is 45s.`

[2021-04-02 13:42] violetagg commented on #1534
@rschlick Please capture the traffic with Wireshark and share it.

[2021-04-03 04:01] ctlove0523 opened #1579 "support routing sorting"
## Motivation

issue about this #594

In http server we can add more routes,when request come in choose a route to handle the request. In current version，default choose the first route which match the request(may be there many routes match request),look at the following example:

[code]

make a http call like:

curl -i http://host:port/yes/value

Which route will handle this request? This determin

[2021-04-04 13:35] agarwaljayant7 commented on #887
in my case connection seems to be not getting established between my local system/WebClient to the remote proxy server.
"[id: 0x62f7d272, L:/51.135.65.49:52907 ! R:abc-proxy.uk.xyz.abcintra.net/59.11.19.11:3128] The connection observed an error". It seems the connection b/w my local WebClient and proxy server is not getting established. Note; i've not pasted here the exact Local and Remote address

[2021-04-05 10:35] #1577 closed

[2021-04-05 10:49] violetagg commented on #887
@agarwaljayant7 For issues please open a new issue, for questions please use [Gitter](https://gitter.im/reactor/reactor-netty)

[2021-04-05 11:32] agarwaljayant7 commented on #887
ok, tx!

[2021-04-05 15:42] agarwaljayant7 opened #1583 "Is there a way to fix out the “io.netty.handler.proxy.HttpProxyHandler$HttpProxyConnectException:” while trying to get the token from an external API"
Hi,

I'm using the below code snipped which is throwing err. at method `retrieve().bodyToMono(String.class)`. The purpose here is to retrieve the response from an external API which is supposed to provide a token in `String` format.

**Code snippet:**

[code]
After running this code, it's giving the exception - `io.netty.handler.proxy.HttpProxyHandler$HttpProxyConnectException:`
and it's detailed

[2021-04-05 16:56] violetagg commented on #1583
@agarwaljayant7 I've edited your comment to improve the formatting.

[2021-04-05 17:35] crankydillo opened #1584 "A really large header should not result in a client PrematureCloseException"
If the header value is longer than the configured maximum header length and not 'extremely' long, then the customer gets a 413.  However, if the header value is 'extremely' long, the user experiences a severed connection while sending the request.

## Expected Behavior

Within reason, all 'too long' header values should result in a 413 Response.

## Actual Behavior

When the header is really long,

[2021-04-05 17:54] violetagg commented on #1584
@crankydillo

https://github.com/reactor/reactor-netty/blob/d21d5146258ae5966deb16b9ecbf19d2920153eb/reactor-netty-http/src/main/java/reactor/netty/http/server/HttpServerOperations.java#L672

Yes this can be removed as `Connection: close` is set already. When you remove this, do you still see the issue?

[2021-04-05 18:54] rdp commented on #1012
For followers seems to have also caused this on our azure sdk:

[code]
Upgrade seemed to fix it.

[2021-04-05 19:06] crankydillo commented on #1584
I removed it and added some other things to turn my test scenario green.  Maybe those other things weren't necessary.   I will double check and let you know.

[2021-04-05 19:37] crankydillo commented on #1584
[This draft PR](https://github.com/reactor/reactor-netty/pull/1586) shows what I did to get the test to pass.

[2021-04-05 19:48] crankydillo commented on #1584
I must admit that I didn't run all the tests:(  It looks like this change breaks some of them.  I'm glad I opened this as a draft!  Anyhow, take what you want.  If you don't have time to work on it, let me know.  I'm slowly getting an understanding of the code.

[2021-04-06 07:43] RobertoBoni67 commented on #1576
Hi Violeta.

I did my tests again with the following POM:

[2021-04-06 08:54] violetagg commented on #1576
@RobertoBoni67 Can you also enable `logging.level.io.netty` and check for these logs:

[code]

[2021-04-06 09:39] RobertoBoni67 commented on #1576
Hi Violeta, and thanks for your support.

I added "logging.level.io.netty=DEBUG" in my app properties.

thr whole log for spring boot 2.2.1 and 2.4.4 are attached:
[log-2.2.1.txt](https://github.com/reactor/reactor-netty/files/6263644/log-2.2.1.txt)
[log-2.4.4.txt](https://github.com/reactor/reactor-netty/files/6263645/log-2.4.4.txt)

Anyway I see these line in both log files:

io.netty.handler.ss

[2021-04-07 12:09] #1543 closed

[2021-04-07 12:19] violetagg commented on #1543
@bclozel

With version Reactor Netty v1.0.6, can you start using the following API for configuring the security on the server

[code]

Examples

HTTP/1.1

[code]

HTTP/2

[code]

[2021-04-07 12:25] violetagg commented on #1550
@patpatpat123 With PR #1573, we exposed a new API that you can use in order to utilise the default configuration and also to solve the blocking call issue:

[code]

Examples

HTTP/1.1

[code]

HTTP/2

[code]

[2021-04-07 12:25] #1550 closed

[2021-04-07 13:10] violetagg commented on #1534
@broadside74 I created an issue for Netty project - https://github.com/netty/netty/issues/11142

[2021-04-07 14:36] rschlick commented on #1534
Hi @violetagg,
On my local dev machine with Windows 10, it's working with the workaround DefaultAddressResolverGroup.INSTANCE.
But, still some issues in the linux container. DNS resolution problem is gone, but I still have timeout issues (passing by a proxy)
I can't use Wireshark on the container I guess ?

[2021-04-07 14:43] violetagg commented on #1534
@rschlick is there a way to check the connection from the container to the proxy?

[2021-04-07 14:52] rschlick commented on #1534
HTTP_PROXY and HTTPS_PROXY are set in the variable's environment.
Using curl, I have verified that the queries are passing through the proxy and I'm able to get an answer from the webservice.

With the WebClient, I have implemented that :
`httpClient.proxy(createProxyOptions());

        return httpClient;
    }

    private Consumer<? super ProxyProvider.TypeSpec> createProxyOptions() {
        r

[2021-04-07 15:08] violetagg commented on #1534
@rschlick If you are able to debug it than try check this class https://github.com/netty/netty/blob/4.1/handler-proxy/src/main/java/io/netty/handler/proxy/HttpProxyHandler.java

[2021-04-08 10:14] agarwaljayant7 commented on #1583
@violetagg
tx for editing my comment, pls be informed that from last five to six days i've been working to implement the WebClient interface to generate the Oath2 Token from an external third party API by using the above code snippet shared in this issue# 1583. Please be informed that my Postman client installed in the same OS and is able to generate the token by using the same credentials, but wh

[2021-04-08 10:20] agarwaljayant7 commented on #1583
@violetagg tx for editing my comment, pls be informed that from last five to six days i've been working to implement the WebClient interface to generate the Oath2 Token from an external third party API by using the above code snippet shared in this issue# 1583. Please be informed that my Postman client installed in the same OS and is able to generate the token by using the same credentials, but wh

[2021-04-08 10:32] violetagg commented on #1583
@agarwaljayant7 Do you need this `authHeader` for the proxy?

[2021-04-08 10:39] agarwaljayant7 commented on #1583
@violetagg , yes authHeader is needed  as without it the vendor API won't be able to authenticate my request and generate me the token. thanks

[2021-04-08 11:07] violetagg commented on #1583
@agarwaljayant7 Is it possible that you proxy configuration need in addition this one

https://projectreactor.io/docs/netty/release/api/reactor/netty/transport/ProxyProvider.Builder.html#httpHeaders-java.util.function.Consumer-

[2021-04-08 12:09] violetagg commented on #1583
@agarwaljayant7 One additional thing: Reactor Netty uses `CONNECT` method for the proxy functionality. Does your proxy support it?

[2021-04-08 12:15] violetagg commented on #1534
@rschlick Additional things that you may check: whether you need usr/pass or some special headers for the proxied connection. Does the proxy support `CONNECT` method as the Netty's `HttpProxyHandler` uses `CONNECT`.

[2021-04-08 13:03] rschlick commented on #1534
@violetagg The proxy configuration is just an url/port. And, with the same proxy configuration with previous version of Netty Reactor we don't have problem.
I was not have time to debug in the container environment..

[2021-04-08 13:18] Mukeshkumar-pg opened #1591 "Creating HttpClient with proxy settings"
Hi Team,

Since `HttpClient.tcpConfiguration` is deprecated, configuring proxy settings for httpClient as below results in NPE (error trace as below);

[code]

[code]

[2021-04-08 13:23] violetagg commented on #1591
@Mukeshkumar-pg I've edited your comment to improve the formatting.

[2021-04-08 13:31] violetagg commented on #1568
@yuanpli Will you be able to test `1.0.6-SNAPSHOT`? You may need to configure the new property `completeOncePreferredResolved=false`.

[2021-04-08 14:26] violetagg commented on #1591
@Mukeshkumar-pg I will fix that NPE. However your configuration for proxy host/port is not applied on the correct place. If I format the code from above, it is like this:

[code]

While you have to configure it like this:

[code]

[2021-04-08 17:12] #1591 closed

[2021-04-08 17:22] violetagg commented on #1576
@RobertoBoni67 Can you try Spring Boot `2.4.5-SNAPSHOT`? I would like to be sure that you do not face these two bugs
#1543
https://github.com/spring-projects/spring-boot/issues/25913

[2021-04-09 03:21] yuanpli commented on #1568
Hi @violetagg,

I have tested with 1.0.6-SNAPSHOT. But still not working.

# Code
[code]

# Log
[code]

[2021-04-09 05:41] violetagg commented on #1568
@yuanpli If you configure `resolvedAddressTypes(ResolvedAddressTypes.IPV4_PREFERRED)`, what's the result?

[2021-04-09 05:47] yuanpli commented on #1568
Hi @violetagg ,
It is the same failure.
# Log
[code]

[2021-04-09 06:00] violetagg commented on #1568
@yuanpli Can you tell us the result of this

[code]

[2021-04-09 06:22] agarwaljayant7 commented on #1583
@violetagg , yes, i think so. But, so far i've not used the it. Here, is my implementation:

		final ReactorClientHttpConnector connector = new ReactorClientHttpConnector(
				HttpClient.create().tcpConfiguration(tcpClient -> tcpClient.proxy(proxy -> proxy
						.type(ProxyProvider.Proxy.HTTP).host("security-abc-proxy.uk.xyz.abcintra.net").port(3128))));
		final ExchangeStrategies strategies = Exc

[2021-04-09 06:28] violetagg commented on #1583
@agarwaljayant7 https://tools.ietf.org/html/rfc7235#section-3.2

[code]

[2021-04-09 07:19] yuanpli commented on #1568
Hi @violetagg,

Pls check the output as below.
[code]

[2021-04-09 07:37] RobertoBoni67 commented on #1576
Hi Violeta.

I tryed Spring Boot 2.4.5-SNAPSHOT with the same result...

Here it the whole log
[log-2.4.5-SNAPSHOT.txt](https://github.com/reactor/reactor-netty/files/6283965/log-2.4.5-SNAPSHOT.txt)

[2021-04-09 08:52] agarwaljayant7 commented on #1583
@violetagg , thx for sharing this. But, this shows more about the reason behind the 407 (Proxy Authentication Required) which is already known to me. So, i'm currently in the process of finding out the required implementation to fix this issue out. So, any suggestion towards the coding implementation to fix this out is highly appreciated. thanks!

[2021-04-09 09:16] violetagg commented on #1583
@agarwaljayant7 For my proxy that I use for testing I provide user/password. You need to check what you need to provide when connecting to your proxy. You may need user/password or some specific headers. All these configurations need to be applied to `(proxy -> proxy.type(ProxyProvider.Proxy.HTTP).host("security-abc-proxy.uk.xyz.abcintra.net").port(3128))`

[2021-04-09 09:49] violetagg commented on #1568
@yuanpli What's the result when you execute `nslookup wiremock.ntcapp.dyn.nesc.net`.

[2021-04-09 10:13] agarwaljayant7 commented on #1583
@violetagg , i tried with my user/password as can be seen in the below code, but still got the same exception "Caused by: io.netty.handler.proxy.HttpProxyHandler$HttpProxyConnectException: http, none, security-abc-proxy.uk.xyz.abcintra.net/59.11.19.11:3128 => abc.api.xyz.com:443, status: 407 Proxy Authentication Required" exception.Required"

	HttpClient httpClient = HttpClient.create()

[2021-04-09 10:14] agarwaljayant7 commented on #1583
@violetagg , i tried with my user/password as can be seen in the below code, but still got the same exception "Caused by: io.netty.handler.proxy.HttpProxyHandler$HttpProxyConnectException: http, none, security-abc-proxy.uk.xyz.abcintra.net/59.11.19.11:3128 => abc.api.xyz.com:443, status: 407 Proxy Authentication Required" exception.Required"

HttpClient httpClient = HttpClient.create()

[2021-04-09 10:31] violetagg commented on #1583
@agarwaljayant7 I don't know what the requirements for your proxy are. Proxy authentication is similar to `normal` HTTP authentication. With my proxy that I use for testing I provide proxy user/pass.

[2021-04-09 11:41] patpatpat123 commented on #1550
Many thanks @violetagg. Good day!

[2021-04-11 01:50] 1ssqq1lxr opened #1598 "Caused by: java.lang.NoClassDefFoundError: Could not initialize class io.netty.channel.epoll.EpollChannelOption"
## Expected Behavior

Caused by: java.lang.NoClassDefFoundError: Could not initialize class io.netty.channel.epoll.EpollChannelOption
	at io.netty.channel.epoll.EpollServerSocketChannelConfig.getOption(EpollServerSocketChannelConfig.java:54)
	at io.netty.channel.AbstractChannel$AbstractUnsafe.bind(AbstractChannel.java:537)
	at io.netty.channel.DefaultChannelPipeline$HeadContext.bind(DefaultChannel

[2021-04-12 03:17] yuanpli commented on #1568
@violetagg Sorry the testing environment has been released. I didn't set the host-ip mapping in DNS server in the previous testing. The mapping was configured via the /etc/hosts file. I will try Netty’s domain name lookup mechanism after the testing lab is available.

Another question is:
Does the JVM’s built-in blocking resolver also support this new property completeOncePreferredResolved=false a

[2021-04-12 07:11] violetagg commented on #1574
@paramthind Were you able to try SCG property for connect timeout?

[2021-04-12 07:23] 1ssqq1lxr commented on #1598
thanks，the problem 's been solved

---Original---
From: "Violeta ***@***.***&gt;
Date: Mon, Apr 12, 2021 15:10 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [reactor/reactor-netty] Caused by: java.lang.NoClassDefFoundError: Could not initialize class io.netty.channel.epoll.EpollChannelOption (#1598)

@1ssqq1lxr Check that there are no multiple Netty versions on the classpath

[2021-04-12 07:27] #1598 closed

[2021-04-12 07:46] yuanpli commented on #1568
Hi @violetagg,

Updated with DNS server testing result. Kindly feel free to have a check.

# nslookup
[code]
# Resolver output
[code]
# Http request with Curl Command
[code]
# Http request with apache httpclient
[code]
# Http request with reactor netty
[code]

[2021-04-12 08:02] violetagg commented on #1568
@yuanpli Are you able to build locally this PR #1600 and to test it?

[2021-04-12 08:45] yuanpli commented on #1568
@violetagg Sorry, I cannot build it locally, but I can do the verification with one package build

[2021-04-13 03:09] paramthind commented on #1574
that worked. Thank you!

[2021-04-13 03:09] #1574 closed

[2021-04-13 10:14] reysy commented on #1478
@violetagg Hi, is this fixed for Spring boot 2.2.x?

[2021-04-13 11:02] violetagg commented on #1478
@reysy No only Spring Boot that is supporting Reactor Netty 1.0.x

[2021-04-14 13:51] gdinant opened #1603 "SpringBoot WebClient: LEAK: ByteBuf.release() was not called before it's garbage-collected"
Hello everyone,

I'm running into a LEAK with WebClient. However I'm not able to reproduce the LEAK at all. The ERROR log is happening now and then in all live environments (roughly every 2-3 days).

I have read most of the other topics that got raised on the subject, but nothing seems to ressemble to my use case.

I'd be really grateful if anyone could help me out on this.

## Expected Behavior
N

[2021-04-14 14:01] violetagg commented on #1603
@gdinant In that memory leak stack I do not see any `reactor.netty` package. Is this the only stack with memory leak that you have?

[2021-04-14 14:43] gdinant commented on #1603
Oops, I surely got confused between reactor.netty and io.netty while googling for this specific exception 😢  which (always) led me here.

I assume I can just reopen this case in netty's github. Sorry @violetagg!

[2021-04-14 14:54] #1568 closed

[2021-04-14 15:01] violetagg commented on #1603
@gdinant I'm not saying that the issue is/is not in Rector Netty, just I do not see any `reactor.netty` in the stack.
Is this the only stack with memory leak that you have?

[2021-04-14 15:44] violetagg commented on #1568
@yuanpli Will you be able to test 1.0.7-SNAPSHOT?

[2021-04-14 17:05] violetagg commented on #1603
@gdinant One additional question: You enabled `-Dio.netty.leakDetection.level=paranoid` and in `application.properties` you added `logging.level._reactor.netty.channel.LeakDetection=debug`, is that correct?

[2021-04-14 18:34] gdinant commented on #1603
Is this the only stack with memory leak that you have?

Yes it is the only stack I can get.

Yes for the paranoid option. log level I set `logging.level.reactor.netty=DEBUG`.

I've just tried with your configuration instead, but I don't get anything more.

[2021-04-15 06:06] yuanpli commented on #1568
Hi @violetagg,

I have tested with 1.0.7-SNAPSHOT. It is working now as expected.

Thanks for this correction.

[2021-04-15 06:13] violetagg commented on #1568
@yuanpli Thanks a lot for testing it!

[2021-04-15 06:27] gdinant commented on #1603
Another piece of information (might help too). Regarding the filters applied:

[code]

They're all pretty dummy apart from token related filters which are making a downstream call in case of a 401 (token expiry).

Here's an example of the implementation:

[code]

I thought that maybe having an exception on the line `tokenHolder.renewToken();` might create a LEAK? However I couldn't reproduce the L

[2021-04-15 06:46] violetagg commented on #1603
@gdinant So in case of `HttpStatus.UNAUTHORIZED.value()` you do not consume the incoming body, is that correct?

Is it possible instead of `exchange()` to call `exchangeToMono()` or `exchangeToFlux()`?
As opposed to `exchange()`, `exchangeToMono()`/`exchangeToFlux()` take care for releasing the memory.

https://docs.spring.io/spring-framework/docs/current/reference/html/web-reactive.html#webflux-c

[2021-04-15 08:25] gdinant commented on #1603
@violetagg you're right, and I'm aware of this pitfall regarding .exchange() on WebClient.

However in this filter `ExchangeFunction` exposes only an `exchange` action.

[code]

Perhaps I still need to consume somehow the body indeed :).

[2021-04-15 08:47] violetagg commented on #1603
@rstoyanchev Can you take a look?

[2021-04-16 06:17] violetagg commented on #1583
@agarwaljayant7 Were you able to clarify your proxy requirements?

[2021-04-16 09:40] rstoyanchev commented on #1603
`WebClient` is a thin facade around a chain of filters with an `ExchangeFunction` at the end to call the `ClientHttpConnector` and make the request.  Something like this:

WebClient request building -> [filter1 -> filter2 -> ... -> ExchangeFunction/ClientHttpConnector] -> WebClient response handling

The `exchange` method in an `ExchangeFilterFunction` is indeed not deprecated, but when you operat

[2021-04-16 12:17] agarwaljayant7 commented on #1583
@violetagg yes,, it was due to my corporate's internal proxy which was blocking this. So, i've raised a request to allow my application to call the external API of the third party vendor from the corporate network itself. So, i think the network team here would need to whitelist the external API in the proxy server to address this issue.

[2021-04-16 12:25] violetagg commented on #1583
@agarwaljayant7 Thanks! Let me close that, we can reopen it if it is needed.

[2021-04-16 12:25] #1583 closed

[2021-04-16 17:52] RobertoBoni67 commented on #1576
Hi Violeta.

I have some updates.
I did some tests on this issue.

1) The first thing I did was to change Netty with Tomcat in the POM.xml file. With this change I got the SSL handshake working!

2) Looking at this atricle "https://www.baeldung.com/spring-boot-reactor-netty", I found tha I can configure SSL in Nett with a class like the following:

[2021-04-16 18:47] violetagg commented on #1576
@RobertoBoni67 I'm not familiar with this code in Spring Boot, but it seems that there isn't issue in Reactor Netty, is that correct?

[2021-04-19 03:59] ctlove0523 commented on #916
@violetagg
it would be appreciate it there is a description of reactor netty' thread model

[2021-04-19 08:18] Toparvion commented on #1431
@rschlick

Have you opened a new issue?

I'm facing the same problem after upgrading my [Spring Boot Admin](https://github.com/codecentric/spring-boot-admin) application to Spring Boot 2.4.3 (with Netty 4.1.59 and reactor-netty 1.0.4 on board). The suggested workaround is not applicable for me as the `HttpClient` is instantiated somewhere inside the library and is out of my control.

[2021-04-19 13:21] gdinant commented on #1603
I eventually managed to reproduced the LEAK. Just needed to run the test for a longer time with more hits.

The leak seems to disappear by adding the following line "consuming" the response body:

[code]

@rstoyanchev would you see another workaround for doing so? or is it the right approach?

[2021-04-19 13:31] violetagg commented on #1431
@Toparvion This is the issue #1534. It revealed two issues
- https://github.com/netty/netty/issues/9796, a fix is in Java >=15
- https://github.com/netty/netty/issues/11142, I'm working on it

[2021-04-19 13:37] RobertoBoni67 commented on #1576
Hi Violeta.

Finally I found the source of the issue.

It is definitely NOT an issue o r a bug in reactor netty!

But my problem was only done to the way spring boot handle ssl properties fron the application.properties file...

I am sorry, but I was relaying on what worked for Tomcat and also I found that till spring boot 2.2.1 the same SSL configuration is working for both Tomcat and Netty.

I f

[2021-04-19 14:32] #1576 closed

[2021-04-19 14:32] violetagg commented on #1576
@RobertoBoni67 Thanks for clarifying the root cause!

[2021-04-20 06:05] Toparvion commented on #1431
@violetagg , thank you for the links!

Meanwhile I've managed to apply the suggested workaround for Spring Boot Admin (2.4.1) by adding this single bean:
[code]

Definitely not the best solution ever but hopefully useful for someone else.

[2021-04-20 06:47] 1ssqq1lxr opened #1606 "request example:http://localhost:18997/smqtt/publish?test=78787878788. How to get the request parameter test？"
## Expected Behavior

## Actual Behavior

## Steps to Reproduce

[code]

## Possible Solution

## Your Environment

* Reactor version(s) used:
* Other relevant libraries versions (eg. `netty`, ...):
* JVM version (`java -version`):
* OS and version (eg. `uname -a`):

[2021-04-20 06:58] violetagg commented on #1606
@1ssqq1lxr Currently Reactor Netty does not parse the query, you have to parse it by yourself.
There is a feature request for this #68

[2021-04-20 06:58] #1606 closed

[2021-04-20 07:09] 1ssqq1lxr commented on #1606
thanks

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Violeta ***@***.***&gt;;
发送时间: 2021年4月20日(星期二) 下午2:58
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [reactor/reactor-netty] request example:http://localhost:18997/smqtt/publish?test=78787878788.  How to get the request parameter test？  (#1606)

@1ssqq1lxr Currently Reactor Netty does not parse the query, you h

[2021-04-20 10:05] simonbasle commented on #1556
On pool side, tracked in reactor/reactor-pool#134 and wip in reactor/reactor-pool#135

[2021-04-20 11:01] rstoyanchev commented on #1603
That looks good @gdinant

[2021-04-20 11:39] ctlove0523 opened #1607 "Javadoc about HttpClient.ResponseReceiver.response() method need to update."
**Current javadoc about this method:**

Return the response status and headers as HttpClientResponse
*Will automatically close the response if necessary.*

Returns:
the response status and headers as HttpClientResponse

from this javadoc user may think reactor netty will auto close http response,but in fact reactor netty do more works: close the low-level network connection which transfer the requ

[2021-04-20 16:13] amitkhurana92 commented on #501
In my current logic I'm using host file for dns mapping e.g.
echo "172.227.127.277    domain.com" >> /etc/hosts; cat /etc/hosts

But I want to resolve this dynamically without specifying this mapping in the host file.

@PyvesB can you help me in this?

[2021-04-20 22:06] fabiohenriquebayma commented on #887
Hi, everyone!

Thank you for all information here!

I'm working with RestTemplate right now and works fine connected in a VPN which is System Proxied. So I don't need to configure anything about the existence of the proxy to make the Spring Boot working. I was using OAuth2RestTemplate but after upgrading to Spring Boot 2.4.4 it is marked as deprecated. But see, I had to write my own CustomPassword

[2021-04-21 06:24] violetagg commented on #1534
@rschlick Last time I checked the Squid proxy, there was a configuration for `CONNECT` method, see this issue comment https://github.com/reactor/reactor-netty/issues/617#issuecomment-467182121

[2021-04-21 06:41] gdinant commented on #1603
Perfect then, closing the issue ;-).

Thanks for your help!

[2021-04-21 06:41] #1603 closed

[2021-04-21 08:49] #1607 closed

[2021-04-21 11:14] alex-filatov opened #1609 "HTTP/2: ReadTimeoutException after upgrade from HTTP/1.1 to h2c"
## Actual Behavior

When HttpClient uses h2c protocol with upgrade from HTTP/1.1 and specifies response timeout, HTTP connection is always closed after the timeout regardless of whether response was received or not.

## Steps to Reproduce

Server:

[code]

Client:

[code]

Output when both H2C and HTTP11 are specified:

[code]

Note the `ReadTimeoutException` caught after 10 seconds (response time

[2021-04-22 08:41] mariaAbramiuc commented on #378
@kevinwan1986 Did you manage to find a fix? I'm also getting this on high load:

2021-04-22 08:31:13.071  WARN 1 --- [tor-tcp-epoll-1] i.n.c.AbstractChannelHandlerContext      : An exception 'reactor.core.Exceptions$BubblingException: reactor.netty.ReactorNetty$InternalNettyException: java.lang.OutOfMemoryError: Java heap space' [enable DEBUG level for full stacktrace] was thrown by a user handler

[2021-04-22 14:39] #594 closed

[2021-04-22 14:39] #1579 closed

[2021-04-24 07:36] wilkinsona opened #1610 "Any HTTP/1.1 request causes an NPE when using HTTP11 and H2C protocols and accessing logging is enabled"
## Expected Behavior

Access logging should work.

## Actual Behavior

Enabling access logging causes a `NullPointerException` in `AccessLogHandlerH1.write`.

## Steps to Reproduce

[code]

Run the above and make an HTTP/1.1 request to localhost:8080 such as `curl localhost:8080`. It also fails when attempting an upgrade to HTTP/2 such as `curl --http2 localhost:8080`. It works when assuming prior

[2021-04-26 03:02] ctlove0523 commented on #881
@xiazuojie
can you support a simple demo to reproduce this issue?

[2021-04-26 11:37] violetagg commented on #1534
@rschlick Were you able to check Squid's configuration for `CONNECT` method?

[2021-04-26 11:38] violetagg commented on #1486
@idikshit Were you able to test with the latest releases?

[2021-04-26 12:59] #1610 closed

[2021-04-26 13:20] #1609 closed

[2021-04-27 09:03] rschlick commented on #1534
@violetagg Yes, I have check the Squid config and look at the logs.
The CONNECT method is well accepted by the Squid proxy and the request is returning HTTP 200.
But, I still have a timeout exception from the WebClient.
With the same code and same environment with previous version of Netty Reactor all queries are OK.

[2021-04-27 09:16] violetagg commented on #1534
@rschlick Then I'll need some reproducible example for further investigation.

[2021-04-28 02:10] xiazuojie commented on #881
You can demo this by pausing (through debug) the receiver process while still the sender continues writing messages. The sender will be out of memory in a while.

[2021-04-29 08:00] uvarajk commented on #907
@violetagg - We're receiving the SSL Handshake Timout Exception in our production environment.

Captured few details for the reference those are mentioned below :

1. In the Debug Log below are the default connection pool configurations
r.n.resources.PooledConnectionProvider   : Creating a new [http] client pool [PoolFactory{evictionInterval=PT0S, leasingStrategy=fifo, maxConnections=500, maxIdleT

[2021-04-29 08:29] violetagg commented on #907
@uvarajk Please open a new issue, with Reactor Netty version, Java, OS, the scenario.

What component provides those properties?

[code]

You have `response-timeout` why do you specify `read-timeout`?

[2021-04-29 09:28] uvarajk opened #1617 "io.netty.handler.ssl.SslHandshakeTimeoutException: handshake timed out after 10000ms"
Versions :
Reactor Netty : reactor-netty-http-1.0.5.jar, Java : 11.0.8 (N/A) , Linux : 4.15.0-133-generic

We're receiving the SSL Handshake Timout Exception in our production environment.

Captured few details for the reference those are mentioned below :

In the Debug Log below are the default connection pool configurations
r.n.resources.PooledConnectionProvider : Creating a new [http] client po

[2021-04-29 09:32] uvarajk commented on #1617
@violetagg for your question https://github.com/reactor/reactor-netty/issues/907#issuecomment-829042391

The below code provide the preperties
HttpClient.create()
                    .wiretap("reactor.netty.http.client.HttpClient", logLevel, AdvancedByteBufFormat.TEXTUAL)
                    .option(ChannelOption.CONNECT_TIMEOUT_MILLIS, connectionTimeout)
                    .responseTimeout(respo

[2021-04-29 11:33] violetagg commented on #1617
@uvarajk What's the idea of having `ReadTimeoutHandler`?
You have SSL handshake timeout and also response timeout.
Having `ReadTimeoutHandler` may interfere with SSL handshake reading.

[2021-04-29 11:35] uvarajk commented on #907
@violetagg opened a new issue @ https://github.com/reactor/reactor-netty/issues

[2021-04-29 11:44] uvarajk commented on #1617
We initially included ReadTimeoutHandler to check if it the time taken to read the response. As it did not work we have added ResponseTimeout.
Yes got Response Timeout and default SSL handshake timeout. Still why the request is waiting too long as I have mentioned the timetaken is milliseconds.

[2021-04-29 11:48] violetagg commented on #1617
@uvarajk Without knowing the scenario and how the client is used is very hard to say what causes this.

[2021-04-29 11:56] uvarajk commented on #1617
@violetagg If I can understand you question right, below is my explanation.
the flow is
Client Request --> Out Microservice Application --> Network Layer(NAT) --> Downstream System (we are using the netty client to establish connection to the downstream system through the NATed IP).
It's purely a Rest Service call using Spring Boot web client.

[2021-04-29 12:06] violetagg commented on #1617
@uvarajk OK so you are using WebClient. Can you give some coding, how you use it?

[2021-04-29 12:32] uvarajk commented on #1617
@violetagg please find the attached code for reference and starts with the below get method

public Mono<Object> get(String endpoint, Map<String, String> headers, Class responseClass)

[WebClientConnector.txt](https://github.com/reactor/reactor-netty/files/6398507/WebClientConnector.txt)

[2021-04-29 12:41] violetagg commented on #1617
@uvarajk You are creating WebClient always, why don't you share it? Is it possible that you overload the downstream system. Do you use blocking or non-blocking on the downstream system? Did you check the load on the downstream system?

[2021-04-29 15:05] uvarajk commented on #1617
@violetagg I think spring internally uses singleton for the webclient.

However, the concern is why the timeout's are not considered.

[2021-04-29 15:34] violetagg commented on #1617
@uvarajk can you add `logging.level.reactor.netty=debug` to application.properties and then provide here logs for some request where the `responseTimeout` is not considered. You can correlated using connection id i.e. `id:68812135-1, L:/0:0:0:0:0:0:0:1:52348 - R:/0:0:0:0:0:0:0:1:52346`

[code]

[2021-04-30 14:00] uvarajk commented on #1617
@violetagg Please find the attached logs that I have captured enabling the debug mode for netty.
I could see that one transaction Taken <<83275>> milliseconds to retrieve the data. Provided the Start and End below for reference.
[nettyDebugLogs.txt](https://github.com/reactor/reactor-netty/files/6405808/nettyDebugLogs.txt)

2021-04-30 09:32:18.840 : [id:18009796, L:/10.200.61.65:42856 - R:172.25.0

[2021-05-01 23:51] #1541 closed

[2021-05-03 14:13] uvarajk commented on #1617
@violetagg

[2021-05-04 10:02] Toparvion commented on #1431
Until version `4.1.64.Final` with [#11142](https://github.com/netty/netty/issues/11142) fix on board is not published, here's one more workaround, this time for **Spring Cloud Gateway**.
Just add the following bean into your Spring context:
[code]

This will be automatically picked up and used in `org.springframework.cloud.gateway.config.GatewayAutoConfiguration.NettyConfiguration#gatewayHttpClien

[2021-05-05 06:06] violetagg commented on #1486
@idikshit Let me close this, we can reopen it if needed.

[2021-05-05 06:06] #1486 closed

[2021-05-05 14:12] Rupaligangarde opened #1621 "The connection observed an error"
Versions:
SpringBootVersion: 2.4.5
io.projectreactor.netty:reactor-netty-core:1.0.6
org.springframework.boot:spring-boot-starter-reactor-netty:2.4.5
io.netty:netty-*: 4.1.63.Final

I'm using Spring webclient to connect to the server staging.services to POST and GET data. There is no timeout configured at this server side.
I see lots of logs with "The connection observed an error" with multiple dif

[2021-05-05 16:15] #1556 closed

[2021-05-06 03:56] xiazuojie opened #1622 "HttpClient retry may cause "unexpected message type: DefaultFullHttpRequest, state: 1""
When using HttpClient for POST requests, connection resets by HTTP server may cause the client to lock in ``unexpected message type: DefaultFullHttpRequest, state: 1`` state for subsequent requests with the same server. It's caused by the retry feature of HttpClient.

## Expected Behavior
Subsequent HTTP requests work normally after a connection reset by the HTTP server.

## Actual Behavior
Someti

[2021-05-06 12:42] Rupaligangarde commented on #1621
Hello all,

to understand my issue, i have created one sample application with springboot 2.4.3. since connection were not released properly in 2.4.5 version.

I have "/test" endpoint which internally make 1000 parallel GET calls to some remote server using webclient configuration as below:
[code]

Local logs are in the attched file, filename: localLogs.txt. It releases connection properly and use

[2021-05-06 13:12] violetagg commented on #1622
@xiazuojie Are you able to test this PR #1625

[2021-05-06 15:38] violetagg commented on #1621
@Rupaligangarde Let me summarise my understanding:
- the code for the client in both cases is the same
- the endpoint (at least the IPs) is different
- when you run from a local machine to some endpoint the code is working, when you move the same code to some other environment you see connections are dropped

Do you have some network component in that environment that may stop the traffic?
Can you

[2021-05-06 15:52] Rupaligangarde commented on #1621
Hi Violeta,
Thanks for the reply.

- the code for the client in both cases is the same => Yes, code is same.
- the endpoint (at least the IPs) is different in the log files => Yes, I have changed the actual IPs in all the files to some random numbers for confidentiality. But It is exact same server i am referring in entire discussions/files.
- when you run from a local machine to some endpoint the

[2021-05-07 09:29] xiazuojie commented on #1622
@violetagg, I've check the PR. It should fix my specific scenario.
However, I'm not so sure that retries should be part of a library feature, especially when enabled by default. It's prone to error and side effects. In my opinion, it's better to have the decision (of whether to retry or not) in business domain.

[2021-05-07 09:38] violetagg commented on #1622
And for that purpose you can disable the retries if this is needed.

[2021-05-07 09:42] xiazuojie commented on #1622
Yes, it can be opted out. But it probably should be an opt-in.
If I am not mistaken, I've not seen other HTTP clients with retry enabled by default.

[2021-05-07 09:44] Rupaligangarde commented on #1621
Hi Violeta,
I can not wireshark req/res and share those logs, but i managed to reproduce below error locally.
[code]

I have also capture logs using httpclient.wiretap option. I hope this helps us. Please find logs [here](https://drive.google.com/file/d/14Z975c7JMLCMgMginuf5lYPrV7s9ufHJ/view?usp=sharing)
webclient config used to this is

[code]

[2021-05-07 10:24] violetagg commented on #1621
@Rupaligangarde when you use `response.releaseBody()` you have to subscribe.
[code]

[2021-05-07 10:30] violetagg commented on #1621
You can try with [tcpdump](https://en.wikipedia.org/wiki/Tcpdump)

[2021-05-07 13:30] #1622 closed

[2021-05-07 13:33] violetagg commented on #1622
We cannot change that behaviour for 0.9.x and 1.0.x. However with #1626 the retry will happen only if we didn't send anything with the first attempt.
If you want we can discuss in a new issue whether we want the retry functionality disabled by default for the next versions.

[2021-05-10 06:56] haobohuiying commented on #532
@violetagg @hanahmily I am faced with the same problem in version 1.0.6， when this issue will fix

[2021-05-10 07:28] violetagg commented on #532
@haobohuiying Which problem do you face?

Did you try instead of using `handle` to use `connection.outbound` as described here https://github.com/reactor/reactor-netty/issues/532#issuecomment-443316240?

[2021-05-10 08:52] violetagg commented on #1534
@rschlick When you are on Linux can you check with `nslookup` the DNS server that resolves the IP and the same for Reactor Netty, which is the server used for the resolution?

[2021-05-10 10:33] Rupaligangarde commented on #1621
[tcpdump.txt](https://github.com/reactor/reactor-netty/files/6451363/tcpdump.txt)
"2021-05-10 10:24:59.498  WARN 1 --- [ctor-http-nio-3] r.n.h.c.HttpClientConnect                : [id: 0x23ebea30, L:/10.22.1.34:56102 - R:staging.falabella.services/104.17.239.83:443] The connection observed an error
"

[2021-05-10 11:02] violetagg commented on #1621
@Rupaligangarde Except this exception `ClosedChannelException` do you see some other exception? I'm searching for this port `56102` in the tcpdump but I do not see neither [F] nor [R] flags.

[2021-05-10 11:17] Rupaligangarde commented on #1621
[Uploading downloaded-logs-20210510-164554.csv…]()

[2021-05-10 12:17] haobohuiying commented on #532
`ConnectionProvider provider = ConnectionProvider.builder("fixed")
                .maxConnections(20)
                .pendingAcquireTimeout(Duration.ofMillis(30000))
                .maxIdleTime(Duration.ofMillis(600))
                .maxLifeTime(Duration.ofMillis(100))
                .build();

        LoopResources loopResources = LoopResources.create("work-group", 4, false);

         Mono

[2021-05-10 12:59] violetagg commented on #532
@haobohuiying The @smaldini suggestion is that instead of using `handle`, you can just connect and then you can use `connection.inbound()` and `connection.outbound`

[2021-05-11 03:54] smaldini opened #1628 "Add Per-Channel MetricsRecorder builder with a ContextView or similar"
Currently Metric Recorders are client/server wide which might not be enough in some metrics captures scenarios.

We would like to capture informations in clients from the context for instance (to add extra micrometer tags). I think this could take the shape of of a client/server builder `metric(boolean enable, Function<Context, ChannelMetricsRecorder>)`.
It could use the `connectionObserver.curren

[2021-05-12 10:25] shinen opened #1629 "Request get cancelled if certain field (array) in request body have objects more than a number"
I have following request body for post & put request (due to privacy I cannot show the real request body) to my spring cloud gateway, which should be then redirect to another service.

The flow would be:
[code]
The request body:
[code]
It is observed that, when k-baa contains more than certain number of object, in my case is 9 objects,
the request will ended with an error.

However is the request

[2021-05-12 10:49] violetagg commented on #1629
@shinen Reactor Netty does not parse or handle the any incoming data, it is up to the application/framework to interpret and/or parse it. You should report this issue either to Spring Framework or Spring Cloud Gateway.

[2021-05-12 10:58] shinen commented on #1629
@violetagg Thanks for your quick reply.

But as see from the failing log, there are some actions taken by the reactor netty http server. May I know if there are any common scenario that will trigger those actions?

e.g. FluxReceive{pending=1, cancelled=true, inboundDone=false, inboundError=null}: dropping frame DefaultHttpContent(data: PooledSlicedByteBuf(ridx: 0, widx: 8192, cap: 8192/8192, unwra

[2021-05-12 11:07] violetagg commented on #1629
@shinen
From the positive scenario you have

[code]

While in the negative scenario you have only this

[code]

The incoming data is dropped because the connection was closed for some reason (see `!` in `[id: 0xb8499f60, L:/127.0.0.1:8080 ! R:/127.0.0.1:45264]`, which means connection close)

Do you see exceptions in the logs for the negative scenario?

[2021-05-12 11:11] shinen commented on #1629
@violetagg I didnt see any from the gateway log... the above is all logs I can capture.
As my application is running on k8s with istio sidecar, I may investigate if these would be one of the reasons that drops my connection.

[2021-05-12 11:13] violetagg commented on #1629
@shinen yep take a tcpdump and see which peer closes the connection

[2021-05-12 11:33] violetagg commented on #1621
@Rupaligangarde configure the ConnectionProvider like this

[code]

[2021-05-12 13:52] shinen commented on #1629
@violetagg Another thing that may not be related to the issue. Is there any document explaining the log format? Before you explain to me, I did not notice the exclamation mark means disconnection. Also is the L & R meaningful? Appreciate if you may provide any source for such log format.

[2021-05-12 14:03] Rupaligangarde commented on #1621
@violetagg Thanks for the reply.. I tried provided config but still same error.

[2021-05-12 14:13] violetagg commented on #1629
@shinen Please check this https://projectreactor.io/docs/netty/release/api/reactor/netty/ChannelOperationsId.html#asLongText--

[2021-05-12 14:15] violetagg commented on #1621
@Rupaligangarde which error? `connection prematurely closed` or `Pending acquire queue has reached its maximum size of 20`

[2021-05-12 14:22] violetagg commented on #1617
@uvarajk If you do not increase the I/O workers count `reactor.netty.ioWorkerCount=128`, do you observe issue with the timeout?

[2021-05-13 01:15] shinen commented on #1629
@violetagg Thanks!

[2021-05-14 06:02] #1629 closed

[2021-05-16 13:55] uvarajk commented on #1617
@violetagg Yes we see the issue, the timeout's are not considered even without the ioWorkerCount configuration.

[2021-05-17 07:22] violetagg commented on #1617
@uvarajk Is it possible that you run blocking/log running operations in the event loop? For blocking operations you can use `BlockHound` in order to detect them.

[2021-05-17 08:49] violetagg commented on #1405
@hisener This issue should be OK now with Reactor Netty 1.0.7 and Netty 4.1.64.Final

[2021-05-17 08:53] violetagg commented on #1534
Update: Two issues were found related only to Windows OS
- https://github.com/netty/netty/issues/9796 - Fixed with Java >= 15
- https://github.com/netty/netty/issues/11142 - Fixed with Netty 4.1.64.Final

[2021-05-17 10:03] hisener commented on #1405
Thanks for the fix in Netty! 🙏  I'll give it a shot once Netty BOM is available on Maven Central and drop workarounds.

[2021-05-18 00:59] Orefa commented on #1220
@violetagg I think this is the same problem, please reopen the problem
https://github.com/spring-cloud/spring-cloud-gateway/issues/2115

[2021-05-18 12:35] violetagg commented on #1220
@Orefa I created a PR (#1635) that fixed the mentioned SCG issue.

[2021-05-18 15:15] rschlick commented on #1534
@violetagg Thank you for the updates.
I was run the nslookup  in command line. How I can know the DNS server used by Reactor Netty ?

[2021-05-18 15:20] rschlick commented on #1534
When I do a curl on the host, it's passing through the squid proxy successfully :

`userapp@cart-services-cart-2895-spring-deprecated-6c46fc4cc9-hqx8m:/application$ curl -I partner.magroup-webservice.com
HTTP/1.1 200 OK
Date: Tue, 18 May 2021 15:17:43 GMT
Server: Apache
Last-Modified: Thu, 02 Jun 2016 11:45:06 GMT
ETag: "fd-5344a233c7296"
Accept-Ranges: bytes
Content-Length: 253
Vary: Accept-Encod

[2021-05-18 16:20] violetagg commented on #1534
@rschlick Please enable `io.netty=debug` and look for logs from `io.netty.resolver.dns`

[2021-05-18 21:29] jonybuzz opened #1636 "Allow HttpClient to configure HttpResponseDecoder.allowDuplicateContentLengths"
It would be nice to configure the field `allowDuplicateContentLengths` directly from the HttpClient builder. For example:

[code]

## Motivation
Every other option of [HttpResponseDecoder](https://github.com/netty/netty/blob/d34212439068091bcec29a8fad4df82f0a82c638/codec-http/src/main/java/io/netty/handler/codec/http/HttpResponseDecoder.java) is configurable from that API

## Desired solution
Add

[2021-05-19 09:56] violetagg commented on #1534
@rschlick If you are using Spring Boot - in `application.properties` add `logging.level.io.netty=debug`

[2021-05-19 11:06] violetagg commented on #1636
@jonybuzz Can you please elaborate on the use case for this feature request?

[2021-05-19 13:29] rschlick commented on #1534
@violetagg Yes, I use Spring Boot. I did the configuration, but I don't see so much more logs.
For example, I have these logs :

[code]

[2021-05-19 14:05] violetagg commented on #1534
@rschlick the address with `nslookup` is different than the one above? We need to see how the address is resolved with `nslookup` and with Reactor Netty

When I enable Netty logs I'm able to see

[code]

[2021-05-19 14:45] davidmelia commented on #1534
@rschlick I am using spring boot 2.4.4 (netty 4.1.6) and the debug above works fine.
`logging.level.io.netty=debug`

Obviously you have to make a WebClient call (to a none localhost) and when I do this I see:

[code]

[2021-05-19 17:23] jonybuzz commented on #1636
@violetagg sure. I'm working on a microservice that uses Spring Boot Webflux and when doing a request to other ms, some component in the middle is duplicating the content length header when the response is returning.
Obviously, the best thing to do is correct the response handling. But at the moment is much more hard than using a feature like the requested.
There is a good and simple explanation i

[2021-05-20 08:25] koldat opened #1637 "IPV6 Spring Boot 2.4.5 (gateway) and reactor netty 1.0.6 stopped working"
After upgrade to Spring Boot 2.4.5 with netty reactor 1.0.6 we are not able to use IPV6 anymore. The problem is that strict decoding were added that throws an exception (#1589).

Right now we had to disable Forwarded filter using:
spring.cloud.gateway.forwarded.enabled=false

## Expected Behavior
DefaultHttpForwardedHeaderHandler should fallback to parseXForwardedInfo in case strict decoding fails

[2021-05-20 08:25] koldat commented on #1637
@violetagg @simonbasle Please take a look as you were involved in the PR

[2021-05-20 08:47] violetagg commented on #1637
@koldat What about you provide your own handler for the Forwarded headers?

You can do it with:

[code]

[2021-05-20 08:50] koldat commented on #1637
@violetagg Yes, but then I would need to "copy" the class and maintain it. This call is also default so everyone using spring boot will hit this problem and everyone will need to provide own copy of this class. We should not break the contract (It was not failing with illegal exception before).

I was thinking about wrapping the class, but it is package private and also final. Having many implemen

[2021-05-20 10:36] koldat commented on #1637
@rstoyanchev any comment? As you were part of review.

[2021-05-20 15:05] #1636 closed

[2021-05-20 15:20] violetagg commented on #1637
@koldat There wasn't a fallback to `parseXForwardedInfo`, the source prior `1.0.6` version:
https://github.com/reactor/reactor-netty/blob/v1.0.5/reactor-netty-http/src/main/java/reactor/netty/http/server/DefaultHttpForwardedHeaderHandler.java#L45-L51

The both decoding of `Forwarded` header and the result were not correct prior 1.0.6 and I do not see how we can provide something less strict.

My o

[2021-05-20 16:21] koldat commented on #1637
I know there was no fallback, but before it did not break whole communication channel. As it was not required before all upstreams could have been broken (like Spring gateway is right now). That means until someone fixes Spring Gateway or potentially other types of gateway, your library will not work. It is pretty strong behavior change.

I know I can workaround it. And I did. And everyone else wi

[2021-05-20 16:53] violetagg commented on #1637
@simonbasle @rstoyanchev The only possibility that I see is to provide a configuration so if we are not able to parse the `Forwarded` header to log an error and to continue as `forwarded` functionality is not enabled. Wdyt?

[2021-05-20 17:14] rstoyanchev commented on #1637
Perhaps as a system property, to be able to enable the previous behavior, to be phased out eventually. It's also worth pointing out that the previous behavior isn't deterministic and that's never a good thing also from a security standpoint.

[2021-05-21 10:55] uvarajk commented on #1617
@violetagg Thanks, will check on that and implement and will give you the feedback.

[2021-05-22 11:27] violetagg commented on #1617
Yes this should be enough

[2021-05-24 12:25] jaikishore08 opened #1639 "Getting a lot of PrematureCloseException : Connection prematurely closed BEFORE response"
## Expected Behavior

I should always get the proper response

## Actual Behavior

i am getting 500 exception intermittently
i am call a third party api through webclient.

[code]

## Steps to Reproduce

[code]

## Possible Solution

## Your Environment

Aws envioenment : Docker Container using kubernetis
Using classic load balancer

* Reactor version(s) used: 2.4.5
* Other relevant libraries vers

[2021-05-24 23:59] Pineapplecaker commented on #532
@violetagg @hanahmily
Hello I am also facing this problem in v1.0.6. Below is my testing code.

`
public class ReactorConnectionTest {
    private static final Logger logger = LoggerFactory.getLogger(ReactorConnectionTest.class);
    private static byte[] heartBeat = new byte[] {6,-68,0,2,0,1,69,5,79,20,67,121,0,-85,0,6,6,58,12,20,11,6};

    public static ConnectionProvider provider =

[2021-05-25 07:01] ctlove0523 commented on #1639
@jaikishore08
can you support one complete code to reproduce this issue,thanks.

[2021-05-25 07:15] violetagg commented on #532
@Pineapplecaker `connection.dispose()` closes the connection does not return it to the pool.

[2021-05-25 07:21] violetagg commented on #1639
@jaikishore08 I've edited your comment to improve the formatting. You might want to check out this [Mastering Markdown guide](https://guides.github.com/features/mastering-markdown/) for future reference.

Please provide logs containing only this id `id: 0xb332167f`

[2021-05-25 07:52] jaikishore08 commented on #1639
@violetagg  Please find the logs containing the id `0xb332167f`

`2021-05-21 15:04:35.292 DEBUG [Broker-Api,,] 46 --- [or-http-epoll-4] r.n.r.DefaultPooledConnectionProvider    : [id: 0xb332167f, L:/10.0.2.166:50976 - R:ciapi.cityindex.com/104.18.26.190:443] Channel acquired, now 1 active connections and 4 inactive connections
2021-05-21 15:04:35.292 DEBUG [Broker-Api,,] 46 --- [or-http-epoll-4] r

[2021-05-25 08:10] violetagg commented on #1639
can you provide also before `Channel acquired,`

[2021-05-25 08:15] violetagg commented on #1621
@Rupaligangarde We need an update in order to continue with the investigation.

[2021-05-25 08:16] violetagg commented on #1534
@rschlick We need an update in order to continue with the investigation.

[2021-05-25 08:19] violetagg commented on #1637
@koldat  I'm gonna add a system property that can be used to disable the strict decoding. Wdyt?

[2021-05-25 09:41] jaikishore08 commented on #1639
@violetagg  Please find the log before the channel acquired:

[code]

[2021-05-25 09:45] jaikishore08 commented on #1639
It includes the info of the request which was successful :

[code]

[2021-05-25 10:05] koldat commented on #1637
I am not fan of these global properties as it makes it harder in complex (mixed) deployments.  Why do you think having "strict" parameter exposed as wrong one? Simply if validation do not pass and strict is true filter simply works as headers are not available (because these are not valid). It will just not throw an exception.

We can create another variant of "forwarded" in http server:
[code]

[2021-05-25 10:10] violetagg commented on #1637
@koldat This system property should be used as a workaround for a short time of period as such it is easier to enable a system property for a given existing solution. Having an API implies that you have to change the existing solution in order to enable this workaround.

[2021-05-25 10:13] violetagg commented on #1637
@rstoyanchev @simonbasle @koldat PTAL #1640

[2021-05-25 10:15] koldat commented on #1637
Sure I am fine. I just kept in mind that it took me two hours to find why something that worked stopped working during  micro version upgrade. More people will hit this issue. We are covered already. Just was thinking about other people as they will not know about this magic property.

[2021-05-25 10:26] violetagg commented on #1639
@jaikishore08 I need the logs for one and the same id so take the id from a log like this (`id: 0xb332167f`)

[code]

and provide only those logs, the id is specific for a connection so we will be able to see what's happing with that particular connection.

[2021-05-25 15:13] violetagg commented on #532
The current implementation does now allow you to return the connection to the pool as Reactor Netty does not know in what state the connection is.

[2021-05-25 16:07] Pineapplecaker commented on #532
So, then currently I have to use other library to achieve the return connection to pool. Will it become a new feature in the future ? Or it is the essence that Reactor Netty is not able to know what the state of the connection is.

[2021-05-25 16:47] Rupaligangarde commented on #1621
@violetagg
Hello Violeta,
I did some more debugging on same connection error. As a part of debugging, I switched from webclient to rest template approach and i saw `52x`  exceptions. All connection errors i was seeing are 52x exceptions only.
this is happening at proxy level ( cloudFlare).  I think, these errors are nothing to do with reactor netty but actual errors causing at proxy level.

`i thi

[2021-05-26 05:57] #1637 closed

[2021-05-26 08:15] rschlick commented on #1534
I don't have any logs.

Here is my conf :

[code]

application.yml :

`logging.level.io.netty: debug`

[2021-05-28 09:53] betterclever opened #1641 "Cookie decoding for multiple cookies with same name has issues"
## Expected Behavior

`Cookies.getCachedCookies()` should return multiple cookies with same name if present in header

## Actual Behavior

`Cookies.getCachedCookies()` returns only the first parsed cookie with a particular name

## Steps to Reproduce

Send a request parsed by rector-netty with a cookie header like
`test-cookie=ABC;test-cookie=DEF`

the getCookies() returns only the first cookie, t

[2021-05-28 09:53] betterclever commented on #1641
I can create a PR for the above proposed fix.

[2021-05-28 10:35] violetagg commented on #1641
@betterclever yep go for it. If you need this for 0.9.x the target branch for the PR should be 0.9.x.
Thanks!

[2021-05-28 10:45] violetagg commented on #532
yes

basically the applications/frameworks know what kind of protocol for communication is used and whether and when it is save to return the connection to the pool.

[2021-05-28 12:10] violetagg commented on #1534
@rschlick Please do not override the resolver, but use the default.

[2021-05-31 10:30] violetagg commented on #1628
@smaldini The metrics recorder is supposed to be one and the same for a given `HttpClient` while `ContextView` is per request. With #1646 I'm proposing new abstract classes that a custom metrics recorder can extend when an access to the `ContextView` is needed. PTAL

[2021-05-31 13:46] jaikishore08 commented on #1639
@violetagg sorry for delay. We were busy in infrastructure changes. We were using istio as service mesh. Now we are getting different exception intermittently. Please find the logs for ```id: 0xeb624be2```

[code]

[2021-05-31 13:56] #532 closed

[2021-05-31 14:00] violetagg commented on #532
I added in the reference documentation an example with `Connection#outbound` and `Connection#inbound` as an alternative of I/O handler.
I'm closing this issue as for the time being there are no plans for allowing to release back to the pool a tcp connection.

[2021-05-31 15:28] rschlick commented on #1534
@violetagg I have removed the resolver overriding, but I just have this log :

[code]

[2021-06-01 06:05] violetagg commented on #1534
@rschlick And do you have some logs from `io.netty.resolver.dns`. What is the result of `nslookup`? Is it the same resolution result as the one in the above log?

[2021-06-01 06:07] violetagg commented on #1621
@Rupaligangarde Thanks. Closing the issue.

[2021-06-01 06:07] #1621 closed

[2021-06-01 06:09] violetagg commented on #1617
@uvarajk Were you able to install BlockHound?

[2021-06-01 06:15] violetagg commented on #1639
@jaikishore08 Check the remote peer logs or settings for connection idle or connection max lifetime.

[2021-06-01 14:50] jaikishore08 commented on #1639
@violetagg Please find below new log trace which is having ```id:0x596ccd8f```.

[code]

[2021-06-01 15:41] violetagg commented on #1639
@jaikishore08

So you have ~20min between connection released to pool and connection acquired from the pool

[code]

During this time the remote peer didn't close the connection or at least Reactor Netty didn't receive any notification.
Some network components tend to just drop the connection after some timeout without notifying the remote peer.

Please check for idle/ life timeout. You may try al

[2021-06-01 18:06] jaikishore08 commented on #1639
@violetagg  i have used the following configuration but still getting the same error.

[code]

[2021-06-01 18:58] violetagg commented on #1639
@jaikishore08 and on the remote peer - some timeout, also did you inspect the logs there?

[2021-06-02 14:17] jaikishore08 commented on #1639
@violetagg  We are using aws classic load balancer which is having timeout of 60 seconds. Our app is deployed in kubernetis cluster. We don't have access of the logs and configuration for the third party api which we are calling from our spring webflux application. But when we are trying to run this application locally we have never experienced any issue. I am sure that the third party api is not

[2021-06-02 14:37] violetagg commented on #1639
@jaikishore08

I'm not able to comment this

[2021-06-02 15:04] simondaudin opened #1650 "Bnd: reactor-http import packages not exported by reactor-core"
I tried to migrate our OSGI based environment from 0.9.x -> 1.0.x after you've made it possible.

Reactor-netty-http module is using packages that are defined by reactor-netty-core as Private-Package.
Since OSGI support have been reintroduced with split between modules (http, core) https://github.com/reactor/reactor-netty/issues/1392 and following the work done with some shadow Jar https://github.

[2021-06-02 18:36] violetagg commented on #1650
@simondaudin

Let's do this. Would you like to provide a PR?

[2021-06-03 08:42] simondaudin commented on #1650
Ok thanks,
The PR is ready

[2021-06-03 18:19] #1650 closed

[2021-06-04 06:35] #1628 closed

[2021-06-04 07:07] FuDongHai opened #1654 "After setting up the proxy, HttpClient accesses the address of the HTTP protocol to 403, and it has no problem accessing the address of the HTTPS protocol"
#### repoCase1()，repoCase2() the proxy IP, port, and URI are all the same，but only repoCase1() throws a 403 exception
##### example：

[code]

#### exception：

[code]

----------------------------------------------------------------------------------------------------------

[code]

#### I don't know why I would report 403 when using reactor netty to access the address of the HTTP protocol? For you

[2021-06-04 08:52] violetagg commented on #1654
@FuDongHai It seems that you can reproduce this, is it possible to extract a reproducible example?

[2021-06-04 08:54] violetagg commented on #1654
@FuDongHai I've edited your comment to improve the formatting. You might want to check out this [Mastering Markdown guide](https://guides.github.com/features/mastering-markdown/) for future reference.

[2021-06-04 09:00] fcofdez opened #1655 "HttpClient resolver gets changed after configuring an event loop with `runOn`"
When configuring a custom event loop for the http client, it overrides a previously configured resolver, see `reactor.netty.transport.ClientTransport#runOn`

## Expected Behavior
Keep the configured resolver when a custom event loop is used. Additionally, I would like to avoid instantiating a default resolver that's outside of the client control.

## Actual Behavior
The resolver gets replaced by a

[2021-06-04 10:04] violetagg commented on #1654
@FuDongHai Please check that your proxy supports CONNECT method

[2021-06-04 12:42] FuDongHai commented on #1654
@violetagg You can try it with my modified example

[2021-06-04 14:52] violetagg commented on #1654
@FuDongHai Let's test whether your proxy supports CONNECT method

Execute the following:

`curl -x http://47.243.12.14:18888 http://www.baidu.com -v --proxytunnel`

[2021-06-04 22:40] phnxfire opened #1657 "Netty Reactive WebSocket - how to enable it to receive wss://"
Hello,
thanks for reading this.
I have created a netty reactive websocket app running on cloud.
Now I just need to make it able to receive wss:// connections... how to do it?

[2021-06-05 02:34] FuDongHai commented on #1654
@violetagg The execution result：
➜  Desktop curl -x http://47.243.12.14:18888 http://www.baidu.com -v --proxytunnel
* Rebuilt URL to: http://www.baidu.com/
*   Trying 47.243.12.14...
* TCP_NODELAY set
* Connected to 47.243.12.14 (47.243.12.14) port 18888 (#0)
* Establish HTTP proxy tunnel to www.baidu.com:80

[2021-06-05 06:36] violetagg commented on #1654
@FuDongHai Is the response the same as if you execute the same command but without `--proxytunnel`?

[2021-06-05 08:14] FuDongHai commented on #1654
Do not add ```-- proxytunnel```，```curl - x http://47.243.12.14 :18888 http://www.baidu.com -v``` It can be accessed successfully

But I have a question. RestTemplate uses ```47.243.12.14: 18888``` to set proxy access ```http://www.baidu.com``` It can be successful, but the proxy access is set by using reactor-netty Httpclient ```http://www.baidu.com``` It's 403. I don't know what the difference i

[2021-06-05 09:33] violetagg commented on #1654
@FuDongHai The difference is that Reactor Netty uses `CONNECT` method always regardless of whether you access `http` or `https` (https://github.com/netty/netty/issues/10475). Because of that I'm asking whether you have one and the same result when you run `curl` with/out `--proxytunnel` in order to check whether your proxy supports `CONNECT` method. Some proxies does not support `CONNECT` method w

[2021-06-05 09:39] FuDongHai commented on #1654
@violetagg Thank you very much. I already know the answer

[2021-06-05 09:47] #1654 closed

[2021-06-05 10:09] FuDongHai commented on #1654
@violetagg We added ```connectport 80``` to the proxy configuration, and the problem was solved. Thank you very much

Because there was no problem using resttemplate before, there was a problem using netty, so there was no doubt that it was a proxy problem. Through your answer, it is confirmed that the problem is agent configuration

[2021-06-05 10:11] FuDongHai commented on #1654
@violetagg We added ```connectport 80``` to the proxy configuration, and the problem was solved. Thank you very much

Because there was no problem using RestTemplate before, there was a problem using netty, so there was no doubt that it was a proxy problem. Through your answer, it is confirmed that the problem is agent configuration

[2021-06-05 10:11] FuDongHai commented on #1654
@violetagg We added ```connectport 80``` to the proxy configuration, and the problem was solved. Thank you very much

Because there was no problem using RestTemplate before, there was a problem using netty, so there was no doubt that it was a proxy problem. Through your answer, it is confirmed that the problem is agent configuration

[2021-06-05 10:11] FuDongHai commented on #1654
@violetagg We added ```connectport 80``` to the proxy configuration, and the problem was solved. Thank you very much

Because there was no problem using RestTemplate before, there was a problem using netty, so there was no doubt that it was a proxy problem. Through your answer, it is confirmed that the problem is agent configuration

[2021-06-05 10:45] violetagg commented on #1657
@phnxfire For questions please consider using [Gitter](https://gitter.im/reactor/reactor-netty) or [stackoverflow.com](https://stackoverflow.com/questions/tagged/reactor-netty)

[2021-06-05 10:45] #1657 closed

[2021-06-06 00:28] phnxfire commented on #1657
Thanks @violetagg I have posted a question here: https://stackoverflow.com/q/67844667/13944450

[2021-06-07 02:05] Nyamkhuub opened #1658 "Spring boot reactive Netty embedded webserver SSL issue"
Dear developers

this is original question [Stackoverflow](https://stackoverflow.com/questions/67864959/spring-boot-reactive-netty-embedded-webserver-ssl-issue)

I developed web-socket server by using reactive spring boot. But I couldn't config SSL in netty server.

this is my pom.xml:
[code]

[2021-06-07 06:54] #1658 closed

[2021-06-07 11:25] violetagg commented on #1617
@uvarajk Let me close this, if you are able to provide the requested information we can reopen the issue.

[2021-06-07 12:24] vinceve commented on #813
@violetagg I tried this on spring boot 2.5.0 with Netty 1.0.7 and it seem sonly to log the headers. Not the fully body like the HEX dump.

[2021-06-07 12:31] violetagg commented on #813
@vinceve Let's track this in a new issue. OK?

[2021-06-07 13:19] uvarajk commented on #1617
@violetagg please keep it open. I've just got the approval to include the BlockHound

[2021-06-07 13:39] #1655 closed

[2021-06-08 07:47] violetagg commented on #1534
@rschlick I fixed on issue (#1655) that might be the reason why the **workaround** was not working in your use case. However we still need to find why the default resolver is not OK in your scenario. (if you are able to share the requested info in the previous comment)

[2021-06-08 08:44] aukhatov commented on #813
After 2 years. Awesome open source!

[2021-06-08 09:37] rschlick commented on #1534
Hell @violetagg Thank you for the update.
I'm still having issue to have debug logs of io.netty. I have well configured the logging.level.io.netty: debug (I see that in the /env of Spring boot actuator).
I was try the following WebClient building :

[code]

[2021-06-08 10:11] rschlick commented on #1534
I don't have io.netty.resolver logs.
But I have still other io.netty logs :

[code]

[2021-06-08 14:40] rschlick commented on #1534
@violetagg
I have found a workaround using TcpClient instead of HttpClient :

[code]

[2021-06-09 11:53] violetagg commented on #1534
@rschlick I don't know how to continue the investigation if I do not have logs from a scenario **_without_** any workarounds. Which means you do not apply any `.resolver(...)`.

Please excuse me if I was not clear In the comment https://github.com/reactor/reactor-netty/issues/1534#issuecomment-856540460. With `default resolver` I mean `HttpClient` without any setting for `.resolver(...)`

[2021-06-09 12:37] violetagg commented on #781
Such integration should be possible via https://projectreactor.io/docs/netty/release/api/reactor/netty/http/server/HttpServer.html#accessLog-boolean-reactor.netty.http.server.logging.AccessLogFactory-

Marking this as `help wanted` if somebody wants to work on this.

[2021-06-09 12:44] violetagg commented on #454
This was addressed with Reactor Netty 1.0.0 GA, every transport configuration provides a `channelHash` implementation
https://projectreactor.io/docs/netty/release/api/reactor/netty/transport/TransportConfig.html#channelHash--
Closing this issue.

[2021-06-09 12:45] #454 closed

[2021-06-09 12:54] violetagg commented on #59
I updated the documentation with an example with `Connection#outbound` and `Connection#inbound` as an alternative of I/O handler #1647
Closing this issue.

[2021-06-09 12:54] #59 closed

[2021-06-09 15:36] violetagg commented on #571
@dantesun `mapConnect` is too late for adding such `ChannelInboundHandlerAdapter`. For that purpose one can use either `doOnChannelInit` or `doOnConnected` callbacks.

I added a test case that verifies that a handler added with `doOnConnected` callback is always available regardless whether it is a newly connected connection or acquired one. #1663

[2021-06-09 15:36] #571 closed

[2021-06-09 16:48] #1641 closed

[2021-06-10 03:29] 258532431 opened #1664 "Spring WebFlux:socket hang up"
When I use postman, I have a Spring WebFlux timeout When the API interface takes more than five minutes.
[code]
The following code doesn't work. I don't kown yet where the problem lies.
[code]
Any help would be appreciated.

[2021-06-10 04:25] violetagg commented on #1664
@258532431  Please provide more information how this can be reproduced or at least some logs.

[2021-06-10 14:10] yangbongsoo commented on #1443
@violetagg For Your Information, I upgrade jdk version to jdk-8u275, and above problem was solved ...
thank you for advice.

[2021-06-13 18:06] roggenbrot opened #1665 "StringIndexOutOfBoundsException when trying to access directory of a http directory route"
When trying to access the root directory of the HTTP directory handler created via `HttpServerRoutes.directory(...)` the following `StringIndexOutOfBoundsException` exception is thrown

[code]

## Expected Behavior

Access to root directory should work as access to any sub directories.

## Actual Behavior

Thrown `StringIndexOutOfBoundsException`

## Steps to Reproduce

[code]

## Possible Solutio

[2021-06-14 09:21] kanai0618 commented on #1201
Hi @jayzch  i am also facing the same issue in spring cloud gateway. how did you fix this issue ?

[code]

[2021-06-14 10:49] violetagg commented on #1201
@kanai0618 Your exception is a bit different

`Connection has been closed BEFORE send operation`
vs.
`Connection has been closed BEFORE response`

[2021-06-14 10:51] kanai0618 commented on #1201
yeah @violetagg  sorry my bad. yeah could you help me ?
So i was getting
[code]
before setting the max-idle time. once i set max-idle time i get
[code]

[2021-06-14 10:57] violetagg commented on #1201
@kanai0618 Would you like to move the discussion to [Gitter](https://gitter.im/reactor/reactor-netty)

[2021-06-14 10:58] kanai0618 commented on #1201
Sure thanks @violetagg  let me start the thread there.

[2021-06-15 07:26] roggenbrot opened #1668 "epoll/kqueue transport bind exception detection does not work on linux with LANGUAGE != en"
When trying to start a server with a port that is already bind on a epoll/kqueue transport based linux system with `LANGUAGE` not set to `en` a `io.netty.channel.unix.Errors$NativeIoException` instead of a `ChannelBindException` is thrown.

This leads to failed test cases when trying to build `reactor-netty`

[code]

## Expected Behavior
`ChannelBindException` for e.g. test case [UdpServerTests.po

[2021-06-15 07:28] roggenbrot commented on #1668
I can submit a pull request if the solution is ok for you

[2021-06-15 07:50] violetagg commented on #1668
@roggenbrot What about checking for `bind(..) failed`?

[2021-06-15 08:03] #1665 closed

[2021-06-15 08:50] roggenbrot commented on #1668
Not sure if this will work for non latin based encodings (chinese, japanese ......)

[2021-06-15 08:54] violetagg commented on #1668
It should be this one

https://github.com/netty/netty/blob/0d5774a82b470833c5f8a84fa4708142a4801f52/transport-native-unix-common/src/main/java/io/netty/channel/unix/Errors.java#L84

so most probably it will be OK
wdyt?

[2021-06-15 09:01] roggenbrot commented on #1668
You're right. I will submit a push request

[2021-06-15 09:59] roggenbrot opened #1669 "Add option to remove a added route from HttpServerRoutes"
At the moment it's not possible to remove a previously added route from `HttpServerRoutes`

## Motivation
I'm currently working on an "Webflux light" for OSGI. Because of the dynamic nature of OSGI (Components are dynamic added/removed) I need a way to remove a previous added route when the component that added the route is removed.

While the OSGI side is pretty easy to implement, the problem is

[2021-06-15 10:09] roggenbrot commented on #1669
I'm willing to provide a pull request if this is something you would consider to add

[2021-06-15 10:59] OlegDokuka commented on #1669
@roggenbrot please go ahead. Will be happy to guide you through the process!

[2021-06-15 14:53] violetagg commented on #1639
@jaikishore08 Were you able to find more information?

[2021-06-15 15:45] violetagg commented on #1534
@rschlick In order to continue the investigation we will need the requested information.

[2021-06-16 05:59] violetagg commented on #1664
@258532431 In order to start the investigation we will need the requested information.

[2021-06-16 06:16] ctlove0523 commented on #1669
This is a good idea, also i think modify(add、delete) route after `HttpServer.bind()` is helpful, especially use reactor netty to construct a API Gateway directly(not like Spring Cloud Gateway).In current version there is no way to do this.

[2021-06-16 07:48] roggenbrot commented on #1669
After playing around a little bit i like the [publisher](https://github.com/roggenbrot/reactor-netty/blob/feature/1669-remove-route/reactor-netty-http/src/main/java/reactor/netty/http/server/DefaultHttpServerRoutes.java#L111-L140) approach most, but it has some downsides.

Publisher passed  is not allowed to complete before user wants to remove all routes added via the publisher, otherwise the add

[2021-06-16 14:43] roggenbrot opened #1673 "Test case failures on environments with locale != en"
When trying to build `reactor-netty` on a environment with a locale set != en. The following test cases will fail after startting the build with ``

[DefaultPooledConnectionProviderTest.fixedPoolTwoAcquire()](https://github.com/reactor/reactor-netty/blob/main/reactor-netty-core/src/test/java/reactor/netty/resources/DefaultPooledConnectionProviderTest.java#L132)

[HttpClientTest.testRetryDisabledWh

[2021-06-16 14:43] roggenbrot commented on #1673
Or is this not supported?

[2021-06-16 14:50] violetagg commented on #1673
@roggenbrot The proposed solutions looks OK. Would you like to create a PR?

[2021-06-16 15:15] roggenbrot commented on #1673
There might be also more locale specific problems in runtime code

[AbortedException](https://github.com/roggenbrot/reactor-netty/blob/fbce9325c2da531e1877b6ada84eaf74db3c40fd/reactor-netty-core/src/main/java/reactor/netty/channel/AbortedException.java#L56)

[2021-06-16 15:29] #887 closed

[2021-06-16 16:01] #1668 closed

[2021-06-16 16:09] violetagg commented on #1673
@roggenbrot Can you run all tests and provide info with the failing tests?

[2021-06-16 18:51] roggenbrot commented on #1673
I've fixed every test in my branch, except one which seems not to be locale related and only fails from time to time:

[code]
It fails only when doing a `./gradlew build`, I can run the test case within IntelliJ succesfully

![grafik](https://user-images.githubusercontent.com/41467575/122273909-43c75600-cee2-11eb-8158-a31e7ae2cd64.png)

My environment

[code]
Maybe it's better if I open another is

[2021-06-16 18:54] violetagg commented on #1673
Yes please do so

[2021-06-16 20:37] roggenbrot opened #1675 "Test Case UdpServerTest.supportsUdpMulticast fails sporadically"
When running `./gradlew build` the test case `UdpServerTest.supportsUdpMulticast` sporadically (1 out of 3 builds) fails

[code]

[UdpServerTests.zip](https://github.com/reactor/reactor-netty/files/6665694/UdpServerTests.zip)

## Expected Behavior

Build runs always without test errors

## Actual Behavior

Build fails sometimes with test errors

## Steps to Reproduce

Run build

## Possible Soluti

[2021-06-16 20:45] roggenbrot commented on #1675
I think we don't see any more specific  log messages because the language specific check in `AbortedException.isConnectionReset` will always return false in my environment.

This should have no functional impact, but hides a lot of debug output (root cause exception) if `AbortedException.isConnectionReset` returns false and it's a connection reset.

[2021-06-17 11:16] #1673 closed

[2021-06-17 21:22] ankit320422 opened #1678 "Connection prematurely closed BEFORE opening handshake is complete."
I have created the client to call another service via websocketClient. the issue i'm facing not able find out root cause.

[code]

---------------------------------------------------------------------------------------------------------------------------------------------

[code]

[2021-06-18 05:27] OlegDokuka commented on #1678
Hey @ankit320422. 201 status says that your http endpoint just answered with normal http response instead of downgrading request to websocket connection. Can it be that you are connecting to an incorrect http path?

Can you also check that you are capable on opening websocket connection to that endpoint using other utils just to make reduce problem surface.

Thanks

[2021-06-18 05:27] violetagg commented on #1678
@ankit320422 The remote peer sends status code 201 while we are waiting for 101

[code]

[2021-06-18 05:30] violetagg commented on #1678
@ankit320422 I've edited your comment to improve the formatting. You might want to check out this [Mastering Markdown guide](https://guides.github.com/features/mastering-markdown/) for future reference.

[2021-06-18 05:31] OlegDokuka commented on #1678
Also. Can you please check that your `URI.create(InternalSdkConfig.HOSTS.get(serviceName)` return string in the following format : `ws` or `wss` `://<host>:<port>/<path>`

[2021-06-18 05:54] ankit320422 commented on #1678
it's `wss` `://<host>:<port>/<path>`
also we are trying to attain multiple connection i.e  request per connection.
i have seen your blog for this and resolve it by expanding the size of connection pool.
[RSocket Request Stream hangs when connection per request is used on load test](https://www.gitmemory.com/issue/rsocket/rsocket-java/911/671042382)

[2021-06-18 05:59] ankit320422 commented on #1678
`	@PostConstruct
	private void init() {

		Field[] fields = ApplicationProperties.class.getDeclaredFields();

		for (int i = 0; i < fields.length; i++) {
			if (fields[i].getType().isAssignableFrom(Service.class)) {
				String serviceName = CaseFormat.LOWER_CAMEL.to(CaseFormat.LOWER_HYPHEN, fields[i].getName());
				if (applicationProperties.isKubernetes()) {
					HOSTS.put(serviceName, "wss://" +

[2021-06-18 08:22] OlegDokuka commented on #1678
@ankit320422

Can you please check that you are capable of opening a WebSocket connection to that endpoint using other utils? That is needed just to make reduce the problem surface.

Thanks

[2021-06-19 20:31] coditori commented on #1397
The same problem on "httpClient.tcpConfiguration"
[code]

[2021-06-20 11:28] copbint opened #1679 "ColocatedEventLoopGroup do not work for "reactor-http-nio-2""
## Expected Behavior
ColocatedEventLoopGroup works well, so connections created will register to the local event loop

## Actual Behavior
`reactor-http-nio-2` behaves abnormal, `localLoop.isSet()` returns false, so  connections created in `reactor-http-nio-2` do not register to the local event loop。

## Steps to Reproduce
please see minmal demo in: <https://github.com/copbint/netty-debug>
1. run `

[2021-06-21 05:24] violetagg commented on #1639
@@jaikishore08 I'm closing this one, we can reopen it if it is needed.

[2021-06-21 05:24] #1639 closed

[2021-06-21 07:39] yechao4j opened #1682 "io.netty.util.ResourceLeakDetector"
My SpringCloud gateway errors：
[code]
Reactor version:
reactor-netty: 0.9.16.RELEASE
reactor-core: 3.3.13.RELEASE
@violetagg

[2021-06-21 08:02] violetagg commented on #1682
@yechao4j Please try to upgrade as there are fixes in the latest releases.

[2021-06-21 08:31] yechao4j commented on #1682
@violetagg
netty: 0.9.20.RELEASE,  core: 3.3.17.RELEASE?

[2021-06-21 10:53] violetagg commented on #1682
@yechao4j Reactor Netty is not enough, please consider updating th SCG version, which will pickup fixes in Spring Framework and SCG.

[2021-06-22 03:24] yechao4j commented on #1682
@violetagg Thanks, now i upgrade springboot version to 2.3.12.RELEASE, SpringCloud: Hoxton.SR11, which depend Reactor Netty version:  0.9.20.RELEASE, core: 3.3.17.RELEASE. Is that OK?

[2021-06-22 04:56] violetagg commented on #1682
@yechao4j yes these are the latest releases

[2021-06-22 05:48] #1682 closed

[2021-06-22 05:49] yechao4j commented on #1682
After upgrade to the latest releases, the issue seems to be resolved

[2021-06-22 22:00] codergmc opened #1684 "MonoToCompletableFuture#get never return because the invocation of onComplete method before onSubscribe"
The problem comes from [https://github.com/spring-projects/spring-framework/issues/26464#issue-795660549](https://github.com/spring-projects/spring-framework/issues/26464#issue-795660549)

## Steps to Reproduce
A demo to reproduce:[https://github.com/codergmc/websocket-demo](https://github.com/codergmc/websocket-demo)

- rabbitmq(enable stomp):3.8.16
- java:adopt-openjdk-15.0.2

- Visit [http://lo

[2021-06-23 05:36] violetagg commented on #1684
@codergmc This is more Reactor Core related.
@simonbasle @OlegDokuka PTAL

[2021-06-23 05:43] OlegDokuka commented on #1684
Looking into that

[2021-06-23 06:07] OlegDokuka commented on #1684
Seems to be upstream publisher problem. MonoToCompletableFuture has nothing to do with that since it is just a conversion layer between upstream and the downstream `.get` method.

@codergmc can y

[2021-06-23 06:49] OlegDokuka commented on #1684
Indeed. This is a bug in reactor-netty. At that place, https://github.com/reactor/reactor-netty/blob/3ecd06c52263a61fb06a21fada7174f05a0d1173/reactor-netty-core/src/main/java/reactor/netty/FutureMono.java#L97 `onSubscribe` happens after the subscription listener is set. which means that there can be a race between onComplete and onSubscribe signaling

[2021-06-23 10:39] jonathannaguin opened #1685 "Performance degradation when using SSL with WebFlux (Netty server)"
**Affects:**

spring-boot-starter-webflux:2.4.6
spring-boot-starter-reactor-netty:2.4.6

**Description**

I have a small WebFlux app that, for the sake of this issue, just logs stuff when it receives a request from a HTTP endpoint.
This endpoint is being hit by a load test performed by Gatling on my laptop.
The app runs on a Docker container (limited to 1 CPU and 2 GB of RAM) and using 150 netty I

[2021-06-23 11:05] violetagg commented on #1678
@ankit320422 Can you provide the requested information so that we can continue with the investigation?

[2021-06-23 11:34] violetagg commented on #1685
@jonathannaguin https://github.com/spring-projects/spring-framework/issues/27087#issuecomment-866079662

There are some interesting points that @bclozel outlined in the comment above.

Can you elaborate more on the scenario and some of the decisions that you did?

[2021-06-23 14:13] codergmc commented on #1684
I open a issue in reactor-core [https://github.com/reactor/reactor-core/issues/2723#issue-928288429](https://github.com/reactor/reactor-core/issues/2723#issue-928288429)

[2021-06-23 16:22] OlegDokuka commented on #1684
@codergmc I don't think it is related to reactor anyhow. It's reactor-netty bug.

[2021-06-23 20:04] codergmc commented on #1684
@OlegDokuka
 A simplified spring invoke chain :
[code]
I have never studied any reactor documentation.So i don't know  what to do  when invoke `outbound.send(Mono.just(byteBuf)).then()`.   But in my opinion it contains at least two threads.One invoke `send` .Another
one is netty eventloop.Maybe it also hava some reactor thread. `Mono` contact netty `ChannelFuture` return by netty `write` and this

[2021-06-23 20:28] OlegDokuka commented on #1684
Just FYI. Oncomplete before onSubscribe is illegal behavior (as of Reactive Streams spec) and MonoToCompletableFuture should not handle that at all.

As I mentioned it is something at FutureMono (part of Reactor-netty) or something on the spring side.

Thank you for your investigation!

[2021-06-23 20:40] hurahurat commented on #1684
I think put s.onSubscribe(fs) before future.addListener(fs) could fix this bug.
@violetagg Please fix it soon and make it backward compatibility for older versions.

[2021-06-23 23:40] codergmc commented on #1684
@hurahurat I think so

[2021-06-24 14:09] jonathannaguin commented on #1685
My Gatling scenario inserts a constant number of users to meet the number of requests per second I want. I am not re-using connections for the users, but in reality, I can't expect my callers to re-user connections.
The JVM is configured with -XX:MaxRAMPercentage=80.0 and -Dreactor.netty.ioWorkerCount=150, so we leave some headroom plus we increased the number of workers, as by default it would on

[2021-06-24 14:22] violetagg commented on #1685
@jonathannaguin What's the difference when you use 150 threads vs 4 threads? You write it is quite low, do you have any numbers from the performance test?

[2021-06-24 19:44] #1679 closed

[2021-06-24 20:01] violetagg commented on #1679
@copbint Thanks for the reproducible example, it helped a lot. If you are able to test 1.0.9-SNAPSHOT it will be great!

[2021-06-24 23:19] patpatpat123 opened #1692 "Spring Weblux 2.5.1: Header issue content-type:"application/json,Accept,application/json","
Hello Reactor Netty Team,

Just a small issue observed, hope this is not a trouble.

I am currently the client, making HTTP calls to different servers in public internet.
I need to send some requests, get some responses. Everything should be in JSON format.
Hence, in my code, I do:

[code]

Unfortunately, I have repeated comments from the different servers (it is not only one observing that issue)

[2021-06-25 02:15] copbint commented on #1679
I have tested 1.0.9-SNAPSHOT, and it works well. Thanks for your great work!
A small tip for others:
SNAPSHOT versions can be found on: http://repo.spring.io/libs-snapshot-local/

[2021-06-25 04:07] violetagg commented on #1679
thanks

[2021-06-25 04:38] K7487 opened #1693 "Connection has been closed BEFORE response, while sending request body Suppressed"
![image](https://user-images.githubusercontent.com/43492205/123370304-0766ba80-d5b2-11eb-9e67-5181b34216b1.png)
Dashen, please take a look. What's the reason for this problem.
thank.

[2021-06-25 05:35] violetagg commented on #1693
@K7487 For questions please use [Gitter](https://gitter.im/reactor/reactor-netty) or [stackoverflow.com](https://stackoverflow.com/questions/tagged/reactor-netty)

[2021-06-25 05:35] #1693 closed

[2021-06-25 06:13] violetagg commented on #1692
@patpatpat123 Are you able to capture the network traffic (for example with Wireshark) and inspect the headers there? I'm not able to reproduce this behaviour.

[2021-06-25 06:21] violetagg commented on #1534
@rschlick I'm closing this one. If you are able to provide the requested information we can reopen the issue.

[2021-06-25 06:21] #1534 closed

[2021-06-25 06:23] violetagg commented on #1664
@@258532431 I'm closing this on. If you are able to provide the requested information we can reopen the issue.

[2021-06-25 06:23] #1664 closed

[2021-06-25 06:25] violetagg commented on #1617
@uvarajk Were you able to install BlockHound?

[2021-06-25 07:21] niuzhimin opened #1694 "Connection has been closed BEFORE response, while sending request body"
描述:
  首先这个错误是gateway抛出的
  抛出的原因: 在web服务上传图片超出了默认大小，但web服务中的文件上传拦截器是有拦截到的，并给出了response响应，但是网
  关服务报了这个错误
  求大神解答

[2021-06-25 07:24] #1694 closed

[2021-06-25 07:28] niuzhimin opened #1695 "Connection has been closed BEFORE response, while sending request body"
Description:

First of all, this error is reported by gateway gateway

The reason for the error is that the size of the image uploaded on the web service exceeds the configuration of spring. Servlet. Multipart. Max file size = 10MB, but it is intercepted in the file Upload Interceptor of the web service and gives a friendly response. I don't know why the gateway reported this mistake

Ask the grea

[2021-06-25 07:33] violetagg commented on #1694
This is superseded by #1695

[2021-06-25 07:35] niuzhimin commented on #1694
@紫罗兰 Please answer for me，I want to know why

[2021-06-25 07:38] violetagg commented on #1695
@niuzhimin Most probably this is a duplicate to #1478. Please check your Spring Cloud Gateway version.

[2021-06-25 07:53] violetagg commented on #1694
@niuzhimin Please follow #1695. I replied there.

[2021-06-25 08:05] niuzhimin commented on #1695
@violetagg The spring cloud gateway version is 2.1.1 I just had a look #1478 I don't see the solution。Can you give us a detailed answer please

[2021-06-25 08:10] niuzhimin commented on #1695
@violetagg Why and how to solve this problem? Is it related to the gateway version?

[2021-06-25 08:10] niuzhimin commented on #1695
@violetagg Why and how to solve this problem? Is it related to the gateway version?

[2021-06-25 08:23] violetagg commented on #1695
@niuzhimin This has been fixed in Reactor Netty v1.0.4 which is Spring Cloud Gateway v3.0.2

The fix that was made is that you will receive the original error from the server i.e. error code 400, describing that the upload size is invalid.

[2021-06-25 10:19] violetagg commented on #1684
@rstoyanchev With Spring Boot 2.3.11.RELEASE the provided example does not fail, with Spring Boot 2.3.12.RELEASE - it fails. In both cases Reactor Netty is 0.9.20.RELEASE and Netty is 4.1.65.Final.
I see you mentioned here some change in Spring Framework https://github.com/spring-projects/spring-framework/issues/26464#issuecomment-852913502

[2021-06-25 11:46] hurahurat commented on #1684
These changes are not applied in springboot version 2.3.x and the version of spring is the same (5.2.15.RELEASE) on both 2.3.11.RELEASE and 2.3.12.RELEASE.
I think the results should be the same for both versions and I did not observe any failures in 2.3.12.RELEASE version while testing.
@violetagg Could you test it again in 2.3.12.RELEASE version?

[2021-06-25 13:46] violetagg commented on #1684
Yes you are correct my IDE didn't refresh the project - the issue is not in 2.3.x and it is in 2.4/2.5

[2021-06-25 20:53] jonathannaguin commented on #1685
@violetagg  with only 4 threads, the container is not able to cope with 100 req/secs. After a few seconds of having the load test running, I start getting many  "connection timed out" on Gatling, where the timeout is 1 minute, so there are requests taking that long to be processed by the app. Increasing the number of workers addresses this problem in expense of memory.

[2021-06-26 08:32] violetagg commented on #1685
@jonathannaguin Is it possible that you execute in the event loop some CPU intensive/blocking operations?

[2021-06-26 13:24] jonathannaguin commented on #1685
@violetagg  I can add BlockHound and run another test, but I am just logging the JSON payload at this point. I have turned off all of the business logic of the service to understand better this problem.

[2021-06-26 14:44] violetagg commented on #1685
@jonathannaguin Interesting ... you use async appender for logging, don't you?
Also you use different containers for the road runner and the application, don't you?

[2021-06-28 07:28] violetagg commented on #1684
All, let me summarise the issue:

In version 2.3.x, Spring Framework (based on Reactor Netty 0.9.x) uses `MonoProcessor`
https://github.com/spring-projects/spring-framework/blob/43901b2c6a10edd0909350f6b7efefe99f4d0076/spring-core/src/main/java/org/springframework/util/concurrent/MonoToListenableFutureAdapter.java#L38

`MonoProcessor` guards `onSubscribe`/`onComplete` thus the issue in Reactor Net

[2021-06-28 07:34] niuzhimin commented on #1695
What is the corresponding version of springboot?

[2021-06-28 07:46] violetagg commented on #1695
Spring Boot v2.4.3/v2.5.0

[2021-06-28 07:50] niuzhimin commented on #1695
Does it have to be this high?

[2021-06-28 08:09] violetagg commented on #1695
I didn't get it

Reactor Netty 1.0.4 (where the fix was included for the first time) is available with Spring Boot v2.4.3.
Spring Boot v2.5.0 contains the fix from the very beginning.

[2021-06-28 08:21] niuzhimin commented on #1695
Well, I mean, is it compatible with other versions? If the spring boot version is 2.4.3, the cloud service version must be the latest. Is there any other solution? As long as the gateway does not report an error and gives a friendly prompt that the upload of files is restricted

[2021-06-28 08:24] violetagg commented on #1695
That should be discussed with Spring Cloud Gateway maintainers ...

[2021-06-28 08:31] niuzhimin commented on #1695
OK, thank you very much for your help, beautiful lady

[2021-06-28 08:50] violetagg commented on #1695
@niuzhimin Let me close this issue as duplicate. We can reopen it, if it is needed.

[2021-06-28 08:50] #1695 closed

[2021-06-28 12:57] violetagg commented on #1617
@uvarajk Let me close this, if you are able to provide the requested information we can reopen the issue.

[2021-06-28 12:57] #1617 closed

[2021-06-28 12:58] violetagg commented on #1678
@ankit320422 Let me close this, if you are able to provide the requested information we can reopen the issue.

[2021-06-28 12:58] #1678 closed

[2021-06-28 12:59] VasanthVarma commented on #1389
Getting this on trying to hit a https service using proxy - any leads @violetagg
failure when writing TLS control frames; nested exception is javax.net.ssl.SSLException: failure when writing TLS control frames"

[2021-06-28 13:01] violetagg commented on #1692
@patpatpat123 If you are able to provide some test with `WebClient` and a mock server, it will be very helpful. Also please specify the Java version that you are using.

[2021-06-28 13:20] patpatpat123 commented on #1692
Absolutely @violetagg, And thank you again for looking into this.

I can confirm with a mock server I created for myself, I am not observing this issue.
But this is strange, because several servers/destinations came to me saying they do see
```content-type:"application/json,Accept,application/json",```

And they have no idea of each other.

I suspected some kind of header manipulation on their end

[2021-06-28 20:45] jonathannaguin commented on #1685
@violetagg I was using the default appender, just switched to use the async appender. In addition to this change, I added BlockHound and noticed one of my dependencies was making a blocking call:
[code]
I commented out that code for now (I need to find a workable solution for this though) and executed another load test with just 4 worker threads and the results were much better than before. I can

[2021-06-30 01:03] philsttr opened #1697 "httpClient.responseTimeout cannot be unset"
Calling `httpClient.responseTimeout(null)` results in an NPE, rather than unsetting the value like the documentation indicates.

## Expected Behavior
https://github.com/reactor/reactor-netty/blob/863ab78e13e56cc3828dac2daa44e6ff7187f99d/reactor-netty-http/src/main/java/reactor/netty/http/client/HttpClient.java#L1315-L1316

## Actual Behavior
NullPointerException is thrown

https://github.com/react

[2021-06-30 04:47] violetagg commented on #1685
@jonathannaguin Let's continue this discussion on [Gitter](https://gitter.im/reactor/reactor-netty) - our channel for real-time discussions. If it appears a problem in Reactor Netty we can reopen this issue.

You have to offload blocking calls in another thread pool.
Check here for more information https://projectreactor.io/docs/core/release/reference/#faq.wrap-blocking

[2021-06-30 04:47] #1685 closed

[2021-06-30 05:07] patpatpat123 commented on #1692
Hello @violetagg,

Indeed, I am not able to reproduce this.
The only thing I have are the .wiretap logs, which shows

[code]

It is probably just me and my set.
Closing, and thanks

[2021-06-30 05:07] #1692 closed

[2021-06-30 07:07] violetagg commented on #1697
@philsttr nice catch!
Here is a fix for it #1700
Thanks a lot!

[2021-06-30 08:03] #1697 closed

[2021-06-30 16:45] rworsnop commented on #1675
@roggenbrot Do you have build output from when the test failed? I see this in the zip you attached:
`name="reactor.netty.udp.UdpServerTests" tests="7" skipped="0" failures="0" errors="0"`

BTW the stack trace generated by `UdpServerTests.java:266` is expected. The test is confirming that trying to create a `UdpServer` twice on the same address won't work.

[2021-06-30 17:05] #1684 closed

[2021-06-30 17:07] anuchandy commented on #1563
Hi @violetagg, I was trying to understand the impact of using the JVM-default resolver. As per this dead-lock [issue](https://github.com/reactor/reactor-netty/issues/710) reactor-netty switched to netty-async-resolver; do we know, in general, using the JVM-blocking resolver in the async path can result in a dead-lock? or there was no conclusion on this behavior.

[2021-06-30 17:40] violetagg commented on #1684
The fix is available in 1.0.9-SNAPSHOT.
If you can test it, it will be great! Thanks.

[2021-06-30 18:58] LeoFuso opened #1701 "Unable to handle IllegalArgumentException on DefaultHttpHeaders class"
## Expected Behavior
We should be able to catch the exception / error when this situation happens.

## Actual Behavior
It seems we cannot capture or handle this error, everytime it happens, the thread appears to become unresponsive, and our business flow (as well as our fallback strategy) become useless.

[code]

## Steps to Reproduce

Basically we're trying to send a header through a Amazon SDK,

[2021-06-30 19:25] violetagg commented on #1701
@LeoFuso In this stacktrace I see too many components involved, please try to provide a reproducible example that involves only Reactor Netty and demonstrates the issue.

[2021-06-30 19:28] LeoFuso commented on #1701
Ok, I'll try. I'll need to get in touch with the way the S3 SDK is building the request in order to reproduce it.

[2021-06-30 19:31] violetagg commented on #1701
thanks a lot

[2021-07-01 00:19] hurahurat commented on #1684
@violetagg @OlegDokuka Thank you for the fix. I have one more question. When the future of future.addListener(fs) is run then finished before the guard(check fs.cancelled again then future.removeListener(fs)), what could happen in this case?

[2021-07-01 06:52] patpatpat123 opened #1703 "[Enhancement request] wiretap logging to include traceID"
Hello Reactor Netty Team,

Just asking if it is possible to consider this feature, enhancement request please.

Currently, the wiretap logging brings tremendous information.

I am sure it is helping many users troubleshoot, or have observability on the requests and responses.

Unfortunately, as of now, it seems the log does not "carry" the trace ID.

Here is an example:

[code]

Would it be possib

[2021-07-01 10:53] violetagg commented on #1684
@hurahurat So basically the question is if we add the listener here

https://github.com/reactor/reactor-netty/blob/1675390ff411ee29337b8c46123ab677130c6fca/reactor-netty-core/src/main/java/reactor/netty/FutureMono.java#L144

and it finishes immediately:

Case one: There is NO `cancel` signal -> you will have `onSubscribe` followed by `onComplete`

Case two: There is `cancel` signal -> you will hav

[2021-07-01 11:08] hurahurat commented on #1684
@violetagg Thank you for your explanation.

[2021-07-01 14:57] pv3nturi commented on #1477
HI everyone, i'm interested in this thread but it's seems stuck from January... Any good news?

[2021-07-01 15:21] PyvesB commented on #1477
Hello there. We switched to a private thread due to various concerns. However, things have admittedly stalled a little due to difficulties to reproduce, but one of my team members is trying to tackle things from a different angle and is working on building a unit test that demonstrates the problem, as a background task. Slow progress would be my high-level summary. :)

[2021-07-02 05:17] Jerry29 commented on #1220
Hi @violetagg , Any help on https://github.com/spring-cloud/spring-cloud-gateway/issues/2283

[2021-07-02 05:37] violetagg commented on #1220
@Jerry29 I replied in the mentioned SCG issue, but let me copy here the answer for a completeness.

According to the specification the header names are case-insensitive

https://datatracker.ietf.org/doc/html/rfc7230#section-3.2

[code]

[2021-07-02 06:11] Jerry29 commented on #1220
Yeah I agree, but what i am trying to access is a camera's web. It seems they are expecting the headers to be case sensitive. Is there a way I can override these three headers ?

[2021-07-02 06:57] violetagg commented on #1220
@Jerry29 Let's continue the discussion in SCG issue and not spam this one anymore.

[2021-07-02 08:45] patpatpat123 commented on #1703
Hello @violetagg,

And I thought I had a good idea no one thought about!
But instead, there is even a well built project to resolve this.

I followed the instructions and observed the following issue:

The request now indeed contains traces ID, I can even see the B3 headers added.

[code]

However, they are absent from the response:

[code]

I believe this is an issue where traces are only decorat

[2021-07-02 08:48] violetagg commented on #1703
@patpatpat123 Can you provide some reproducible example?

[2021-07-03 06:11] itsnagaraj opened #1706 "ReadTimeoutException on outbound connections"
Our set up uses Springboot + Webflux to implement micro services. On receipt of request we transform the request and make outbound requests using WebClient. Our connections are pooled. Below is the typical configuration

**Connection Pool creation**

[code]

**HttpClient creation**

[code]

**ReactorHttpClientConfiguration**
[code]

**WebClient creation**
[code]

In environments where there is les

[2021-07-03 06:35] violetagg commented on #1706
@itsnagaraj Do you correlate the logs via thread name `[nt-epoll-3]` or via connection id `[id:77ed51a6-3, L:/10.70.12.98:55550 - R:www.acme.com.au/13.226.106.76:443]`. You have to correlate via connection id.

[2021-07-03 06:55] itsnagaraj commented on #1706
I correlated the log using the correlation id `a7d8797f-63da-4ab3-aae0-f4d3034afac3`. I can also correlate logs using connection pool id. Below are the logs. You can use timestamps in the connection pool logs to tie it to the log messages shared earlier

[code]

[2021-07-03 08:56] violetagg commented on #1706
@itsnagaraj Can you provide information for the pipeline configuration - this is a log like this:

[code]

And also if you see something like this

[code]

[code]

[2021-07-03 09:27] itsnagaraj commented on #1706
@violetagg have managed to extract those logs too after enabling debug logging for the package.

[code]

and ReadTimeoutException happened on correlation id `94c4dd4b-a7ee-43b8-8d64-d53437e82648`

[code]

[2021-07-03 10:15] violetagg commented on #1706
@itsnagaraj That's very interesting. Thanks a lot for the logs.

I think that the issue is that we never observe `Removed handler ...` but rather `Handler [reactor.left.responseTimeoutHandler] already exists in the pipeline ...`

I need to check what's going on.

[2021-07-03 10:18] itsnagaraj commented on #1706
not sure if it is to do with our configuration in the connection pool (idle and max lifetime) or the default worker count on the LoopResources we have configured (which is 4 I believe) while we have same webClient being used for at least 8 different outbound connections

[2021-07-03 12:24] smaldini opened #1707 "Reactor Netty does calculate the poolkey hash for every supplied MetricsRecorder"
In https://github.com/reactor/reactor-netty/blob/main/reactor-netty-core/src/main/java/reactor/netty/transport/TransportConfig.java#L83, the supplied metrics recorder instance is used to calculate the channelHash() value. This is causing the pool key cardinality to explode beyond whats expected.

As a workaround, implementing hashcode/equals or returning the same metricsRecorder is possible. Howev

[2021-07-04 06:39] roggenbrot commented on #1675
Sorry, I'm currently on vacation. I will update the issue asap

[2021-07-05 03:55] patpatpat123 commented on #1703
Hello @violetagg,

Of course, it took me a wile to take away everything to leave only the relevant.
https://github.com/patpatpat123/questionnettytrace

With this example, I have 100% reproducible, only the request get decorated with the traceID.

I hope this is relevant and can help.
Please let me know!
Thank you

[2021-07-05 04:08] patpatpat123 opened #1710 "Issue: Missing reactor.netty.bytebuf.allocator.used.tiny.cache.size metric"
Hello Reactor Netty Team,

Just wanted to report a very small issue, hope not to trouble.

In the well written doc https://projectreactor.io/docs/netty/release/reference/index.html#_metrics_3 we can see many useful metrics.

A particular interesting one is the **ByteBufAllocator metrics**

In the doc, it is written there are 9 of those metrics, listed below:

reactor.netty.bytebuf.allocator.used.h

[2021-07-05 04:25] violetagg commented on #1710
@patpatpat123 `reactor.netty.bytebuf.allocator.tiny.cache.size` is deprecated in 0.9.x with #1215 and removed in 1.0.x.
Unfortunately we forgot to update the documentation :(

The removal is related to this Netty issue https://github.com/netty/netty/pull/10267

[2021-07-05 05:24] patpatpat123 commented on #1710
Many thanks for the explanation.

I will follow up on Stack Overflow why the values are always constant for everything else besides hreadlocal.caches

[2021-07-05 05:24] #1710 closed

[2021-07-05 06:10] patpatpat123 opened #1712 "reactor_netty_connection_provider_active_connections is always 0, despite successful http requests"
Hello Reactor Team,

I wanted to repot an issue where the metric ```reactor_netty_connection_provider_active_connections``` always stays at 0, despite successful http requests.

Setup of experiment, at the hour, there is a trigger from an external app to my Spring Webflux app (I am the server). My Spring Webflux app will then make an http request (outbound, this time, I am the client) to a third p

[2021-07-05 07:08] violetagg commented on #1712
@patpatpat123
From the documentation we have this

`reactor.netty.connection.provider.active.connections`
[code]

May be it is not clear and we have to enhance the documentation.

So active connection is such connection that is currently processing a request, once you receive the response we return this connection to the pool and it is no more active, but idle connection.

Basically `total connect

[2021-07-05 07:37] itsnagaraj commented on #1706
@violetagg another interesting behaviour I have observed after you mentioned about remove handler not appearing in the logs. I enabled debug mode in lower environments and observed that removed handler message appeared

[code]

However the above log message did not appear in the higher environments. The only difference being the lower environment do not have NewRelic agent enabled in the JVM where

[2021-07-05 07:46] patpatpat123 commented on #1712
Yes, this is exactly what I am trying to point out! Thanks!

"once you receive the response we return this connection to the pool and it is no more active, but idle connection."

This means, at some point, when I did not receive the response yet, the connection should be active, with 0 idle.

And then, once I receive the connection, there should be 0 active, and 1 idle.

But what I am observing, i

[2021-07-05 08:02] violetagg commented on #1712
@patpatpat123 Can you provide some reproducible example?

We do have tests and they do not show such behaviour so it might be something specific for your scenario.

https://github.com/reactor/reactor-netty/blob/1c89a987e1aa9a5629979e3a109d1839595eb6c5/reactor-netty-http/src/test/java/reactor/netty/resources/PooledConnectionProviderDefaultMetricsTest.java#L100-L108

[2021-07-05 08:18] patpatpat123 commented on #1712
Understood, and thank you for pointing me to this, I will try to dig if it is not a "me issue".

Since there is a set of test already in place, maybe it is just me.

On my side, I am just also raising am issue based on Grafana data:

<img width="1722" alt="Screen Shot 2021-07-05 at 4 16 20 PM" src="https://user-images.githubusercontent.com/43899031/124439722-5976bf80-ddac-11eb-99bc-de86e9a02709.pn

[2021-07-05 09:58] violetagg opened #1714 "Support Unix domain datagram socket"
This is blocked by https://github.com/netty/netty/issues/6737

[2021-07-05 10:42] ayoukhananov opened #1715 "Ability to add a ChannelInitializer to TcpServer in reactor netty"
## Motivation

## Desired solution

## Considered alternatives

## Additional context

[2021-07-05 10:58] violetagg commented on #1715
@ayoukhananov Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/questions/tagged/reactor-netty) or [Gitter](https://gitter.im/reactor/reactor-netty). As mentioned in [Readme](https://github.com/reactor/reactor-netty/#getting-help), we prefer to use GitHub issues only for bugs and enhancements.

Please check t

[2021-07-05 11:25] ayoukhananov commented on #1715
@violetagg Thanks for a quick response :)
If i am not wrong you asked to open a feature request in the following thread :
http://5.9.10.113/64662203/how-to-add-a-channelinitializer-to-tcpserver-in-reactor-netty

[2021-07-05 11:32] violetagg commented on #1715
@ayoukhananov So you need this functionality for Reactor Netty 0.9.x in order to not have deprecation warnings, do I understand it correctly?

[code]

[2021-07-05 12:07] ayoukhananov commented on #1715
Thanks @violetagg I think the extension point should be provided from spring boot app.
Will take a look there ...

[2021-07-05 15:59] panyox opened #1716 "How to resolve http param?"
here is my code
[code]
<img width="576" alt="WX20210705-235726@2x" src="https://user-images.githubusercontent.com/77569707/124497050-dfb2f600-ddec-11eb-8ca1-d6373aded70a.png">

the params is aways null, what should i do?

<img width="727" alt="WX20210705-235748@2x" src="https://user-images.githubusercontent.com/77569707/124497073-ed687b80-ddec-11eb-8bb3-92cdaa7da8cb.png">

[2021-07-05 16:54] violetagg commented on #1707
@smaldini PTAL #1717 I decided to obtain the metrics resolver on the configuration step when the metrics are enabled.

[2021-07-05 18:02] violetagg commented on #1716
@panyox The params that are available with `HttpServerRequest` are those URI parameter captured via `{}` - i.e. `/test/{var}`. When you use `x-www-form-urlencoded` the params are provided via request body (you can check the wire logs). Reactor Netty does not parse the request body.

The javadoc for https://projectreactor.io/docs/netty/release/api/reactor/netty/http/server/HttpServerRequest.html#pa

[2021-07-05 18:58] violetagg commented on #1701
@LeoFuso I'm closing this one.

`software.amazon.awssdk:netty-nio-client:2.16.46` does not use Reactor Netty but has its own integration with Netty -> https://github.com/aws/aws-sdk-java-v2/blob/2.16.46/http-clients/netty-nio-client/src/main/java/software/amazon/awssdk/http/nio/netty/internal/RequestAdapter.java

[2021-07-05 18:58] #1701 closed

[2021-07-06 01:51] panyox commented on #1716
em... ok.

[2021-07-06 01:51] #1716 closed

[2021-07-06 05:15] itsnagaraj commented on #1706
After aligning the versions of `com.newrelic.telemetry:micrometer-registry-new-relic` and `com.newrelic.agent.java:newrelic-api` with the version of `springboot` currently used we are no longer seeing the issue in our higher environments.

[2021-07-06 06:55] violetagg commented on #1706
@itsnagaraj Thanks for investigating that! I'm closing the issue.

[2021-07-06 06:55] #1706 closed

[2021-07-06 07:27] violetagg commented on #1703
@patpatpat123 Right! For `READ` events you do not have the trace ID because the Reactor Netty wire logger is applied on the level of incoming package - we still do not have the HTTP objects in place. That's because the Reactor Netty wire logger is one and the same for out TCP/UDP/HTTP implementation.

You can add you own LoggingHandler with the the code below and then you will have the info also f

[2021-07-07 05:42] patpatpat123 commented on #1703
Understood, giving this a try.

While I am doing the code change, is it reasonable to ask the decoration to be applied in both ```WRITE``` and ```READ``` please?

For the ```WRITE```, it kinda felt magic. Just importing another dependency, doing one line of code change for decoration, and boom, could see the trace ID, search in logs, view in traces aggregation systems, etc, very helpful.

But it f

[2021-07-07 05:56] patpatpat123 commented on #1712
Hello,

I have updated this https://github.com/patpatpat123/questionnettytrace to be. reproducible example.

In this test, I will trigger periodically, as one off, (just one curl one in a while) or put pressure (use gatling to put load)

The code will use Reactor Netty Http Client to send requests to a third party. In my test case, I am the also the third party, and received all the requests fine.

[2021-07-07 07:16] violetagg commented on #1703
Currently we do not have plans to provide another wire logger, and with the current one as I described above, we are working with byte buffer - there is not knowledge for HTTP at that point.

[2021-07-07 07:26] violetagg commented on #1712
@patpatpat123 Interesting ... Can you point me where you enable the HttpClient metrics?

[2021-07-07 07:32] patpatpat123 commented on #1703
Understood, thank you, closing

[2021-07-07 07:32] #1703 closed

[2021-07-07 07:39] patpatpat123 commented on #1712
I forgot to upload the latest commit. Updated 🙏

Overall, there are couple of places:

https://github.com/patpatpat123/questionnettytrace/blob/main/src/main/java/com/question/WebClientServiceImpl.java#L36

https://github.com/patpatpat123/questionnettytrace/blob/main/src/main/java/com/question/WebClientServiceImpl.java#L45

https://github.com/patpatpat123/questionnettytrace/blob/main/src/main/java/

[2021-07-07 14:53] LeoFuso commented on #1701
Oh, this is awkward, I'm sorry. I thought they used the same. Thanks for the investigation, tho. I'll try to replicate this error anyways, see if I can find anything useful and report to them instead. Thanks for your time!

And I'm sorry for not getting back to you sooner, I'm quite busy these days, hehe. Thanks a lot!

[2021-07-08 13:05] crankydillo opened #1730 "DefaultConfigurationType marked as deprecated, but still used in public, non-deprecated API"
[Non-deprecated usage](https://github.com/reactor/reactor-netty/blob/2ea7d622242f8750b70844c0a69a49446e8872f1/reactor-netty-core/src/main/java/reactor/netty/tcp/SslProvider.java#L97)

[Deprecation](https://github.com/reactor/reactor-netty/blob/2ea7d622242f8750b70844c0a69a49446e8872f1/reactor-netty-core/src/main/java/reactor/netty/tcp/SslProvider.java#L269)

Looks like `SslProvider#updateDefaultCon

[2021-07-08 16:02] violetagg commented on #1730
@crankydillo nice catch - should be fixed with #1731

[2021-07-08 16:35] sickan90 opened #1732 "Slow first request when using VPN"
We are using the Spring WebClient which in turn use the rector-netty. When using the WebClient over VPN it will take around 10 seconds extra for the request. I saw that this has been reported before in https://github.com/reactor/reactor-netty/issues/1509 but I (with my limited knowledge regaring this subject) don't se a reason why this should not work over VPN as well? Other http clients do work w

[2021-07-08 16:53] OlegDokuka commented on #1732
@sickan90 can it be this -> https://superuser.com/questions/966017/windows-10-vpn-and-slow-dns-lookups

[2021-07-08 16:55] OlegDokuka commented on #1732
@sickan90 also, can you just try to make a call to a particular IP address just to ensure that this is related / not related to DNS

[2021-07-08 17:33] sickan90 commented on #1732
@OlegDokuka I did try for the same endpoint but with IP and HTTP (to avoid ssl errors) instead and got the following

With DNS and HTTP (on VPN) and got the ~10s wait-time:

[code]

With IP and HTTP (on VPN):

[code]

It seems like it helped.  So just to be sure, from this I would assume this has nothing to do with ractor-netty, but with Windows instead?

[2021-07-08 17:47] violetagg commented on #1732
@sickan90 This might be related to an issue in Java that is fixed in Java 15.
https://mail.openjdk.java.net/pipermail/net-dev/2019-November/013339.html (more can be found here https://github.com/netty/netty/issues/9796)

Can you try with Java 15?

As a workaround you can switch to the JVM built-in resolver (https://projectreactor.io/docs/netty/release/reference/index.html#_host_name_resolution_2)

[2021-07-09 06:15] 1ssqq1lxr opened #1734 "How does reactor netty deal with cross domain problems?"
## Expected Behavior

## Actual Behavior

## Steps to Reproduce

[code]

## Possible Solution

## Your Environment

* Reactor version(s) used:
* Other relevant libraries versions (eg. `netty`, ...):
* JVM version (`java -version`):
* OS and version (eg. `uname -a`):

[2021-07-09 08:17] #1730 closed

[2021-07-09 10:20] violetagg commented on #1712
@patpatpat123 In your sample add the following

`WebClientServiceImpl`

[code]

[code]

[code]

you should see

[code]

and also if you enable in `application.properties` -> `logging.level.reactor.netty.resources=debug` you should be able to see

[code]

[2021-07-09 10:24] #1707 closed

[2021-07-09 11:54] sickan90 commented on #1732
@violetagg, it seems to have fixed the problem. Thank you and @OlegDokuka for the help!

[2021-07-09 11:54] #1732 closed

[2021-07-09 11:59] violetagg commented on #1732
@sickan90 I'm interested in which one of the solutions helped you?

[2021-07-09 12:05] sickan90 commented on #1732
We did the workaround, so we added `.resolver(DefaultAddressResolverGroup.INSTANCE)` to the `TcpClient`. Hopefully we can remove this when we move to Java 17 (next LTS) when it is released.

[2021-07-12 12:56] violetagg commented on #1734
@1ssqq1lxr There isn't built-in support for that in Reactor Netty, but you can extend it with CORS handler provided by Netty

https://github.com/netty/netty/tree/4.1/codec-http/src/main/java/io/netty/handler/codec/http/cors

You can use `doOnConnection` callback in order to add that handler.
What do you think? Will this solve your use case?

[2021-07-13 10:45] violetagg commented on #1685
Link to the Gitter discussion
https://gitter.im/reactor/reactor-netty?at=60dd80904e325e6132b3482e

[2021-07-13 15:09] p4pramod opened #1735 "Webclient + Hystix ERR Caused by: java.lang.OutOfMemoryError: Direct buffer memory"
I am making a successive call to an API back to back using flux. The api call is made through webclient and under hystrix short circuit library.

## Expected Behavior
It should make the call properly

## Actual Behavior
Failing with out of memory issue intermittently

   .[31m2021-07-13T21:55:18.53+0800 [APP/PROC/WEB/1] ERR Caused by: java.lang.OutOfMemoryError: Direct buffer memory.[0m
   .[31m20

[2021-07-13 15:13] violetagg commented on #1735
@p4pramod Please update the Spring Framework and Reactor Netty to the latest available releases.
Reactor Core 3.3.2 is more than year old (https://github.com/reactor/reactor/releases/tag/Dysprosium-SR3) and we have fixes in both Spring Framework and Reactor Netty

[2021-07-14 01:11] p4pramod commented on #1735
It has been updated to :

   Spring Framework version is : 2.2.4

   <dependency>
        <groupId>io.projectreactor.netty</groupId>
        <artifactId>reactor-netty</artifactId>
        <version>0.9.21.RELEASE</version>
      </dependency>

      <dependency>
        <groupId>io.projectreactor</groupId>
        <artifactId>reactor-core</artifactId>
        <version>3.3.18.RELEASE</version>

[2021-07-14 01:41] p4pramod commented on #1735
Again this error.
   .[31m2021-07-14T09:36:51.75+0800 [APP/PROC/WEB/0] ERR Exception in thread "hystrix-selfInvokingApigroup-20" Exception in thread "hystrix-selfInvokingApigroup-10" java.lang.IllegalStateException: Fatal Exception thrown on Scheduler.Worker thread..[0m
   .[31m2021-07-14T09:36:51.75+0800 [APP/PROC/WEB/0] ERR 	at rx.internal.schedulers.ScheduledAction.run(ScheduledAction.java:59).

[2021-07-14 06:28] violetagg commented on #1735
You can see
Spring Framework versions here: https://github.com/spring-projects/spring-framework/releases
there is no version 2.2.4

Spring Boot version here: https://github.com/spring-projects/spring-boot/releases

Is this deployed with a buildpack? If yes is it possible that the memory calculator gave you less memory?

[2021-07-14 10:55] htim opened #1738 "java.lang.ClassCastException: class reactor.netty.http.client.FailedHttpClientRequest cannot be cast to class reactor.netty.channel.ChannelOperations"
We started using tracing and chose reactor-netty-brave, but encountered an error from the title.
Seems that `reactor.netty.http.client.HttpClientRequest` doesn't inherit `reactor.netty.channel.ChannelOperations`, but there is a cast.
The line where exception is thrown - https://github.com/reactor/reactor-netty/blob/13d65cd373937bb69e86bde46d98e02442cccb31/reactor-netty-http-brave/src/main/java/rea

[2021-07-14 11:39] violetagg commented on #1738
@htim Would you like to provide a PR?

[2021-07-14 12:01] htim commented on #1738
Unfortunately I'm not familiar with this code and not sure how to do that properly

[2021-07-15 05:24] patpatpat123 commented on #1712
Hello @violetagg,

Indeed, this is working, and I am now seeing the metric being incremented.
Thank you

[2021-07-15 05:24] #1712 closed

[2021-07-15 06:09] violetagg commented on #1712
That's very good!

[2021-07-15 07:10] violetagg commented on #1738
@htim #1739 should fix this `ClassCastException`

[2021-07-15 17:01] #1738 closed

[2021-07-17 04:33] amardeepkhera opened #1742 "Intermittent SslHandshakeTimeoutException and UnresolvedAddressException"
Hello, I am using reactor netty 0.9.15 with Spring Boot 2.2.12.RELEASE. I have configured Webclient as follows to work with a company proxy when connecting to internet
[code]
Also, ```-Dreactor.netty.tcp.sslHandshakeTimeout=2500``` is passed as JVM arg.

Now, there are two intermittent issues I am seeing when Webclient makes a call to a external service via proxy. Both the issues are not happening

[2021-07-18 09:59] phiysng opened #1743 "The Getting Started document of the reactor netty is broken"
the sample gradle config the document gives is not working.

## Expected Behavior

the reactor netty dependency add to the project.

## Actual Behavior

No **reactor netty** available.

## Steps to Reproduce

Just create a new gradle project and add gradle according the [gradle relative document](https://projectreactor.io/docs/netty/release/reference/index.html#_gradle_installation).

[code]

## P

[2021-07-19 09:22] violetagg commented on #1734
@1ssqq1lxr I'm closing this. If you have additional questions we can continue the discussion on [Gitter](https://gitter.im/reactor/reactor-netty)

[2021-07-19 09:22] #1734 closed

[2021-07-19 09:28] violetagg commented on #1735
@p4pramod Were you able to check the memory calculator settings?

[2021-07-19 10:17] #1743 closed

[2021-07-19 11:09] violetagg commented on #1669
@roggenbrot  Please take a look at #1676

[2021-07-19 11:17] Azbesciak opened #1746 "LEAK: ByteBuf.release() was not called before it's garbage-collected"
Hello, I am expecting a strange exception; it occurs only on the production service with production load (docker/ubuntu , I tried to replicate both on the production (docker) machine (same image, different run) and on my own windows machine, also in docker for windows - no success - I executed about 30k requests with different frequency, also tried with env var `IO_NETTY_LEAK_DETECTION_LEVEL="para

[2021-07-19 11:21] OlegDokuka commented on #1746
@Azbesciak any code samples which can repo this? Any reference of workflow that causes this. Without seeing it is impossible to say where is the problem

[2021-07-19 11:38] Azbesciak commented on #1746
As I said - no idea.
I use `WebClient` provision bean as below
[code]

Then consume it at the service provision, for example
[code]

and inside the service I execute get calls like this
[code]
Rate limiter below, but before this I also noticed some leaks.
[code]

As mentioned above, service(s) can also be used in batch mode (the client sends multiple requests as one, the response is merged as json

[2021-07-19 13:32] OlegDokuka commented on #1746
@Azbesciak can you try to repro this leak with an enabled logger:

[code]

[2021-07-19 19:23] Azbesciak commented on #1746
Is it somehow possible to set via environment properties? I would not like to rebuild the whole image (I do not have logger specific config file).
I set env properties like below
[code]
but no difference, stack trace is still the same
[code]

also, about the code sample - it is really all that I am using; I nearly copy-pasted all the service connection logic. `myService` bean is used in the contro

[2021-07-19 19:35] Azbesciak commented on #1746
I changed env props to
[code]
to only.
Below is the whole log till the first leak.
[leak_log.txt](https://github.com/reactor/reactor-netty/files/6843451/leak_log.txt)

[2021-07-20 05:12] violetagg commented on #1746
@Azbesciak you need to set DEBUG level for that specific logger `_reactor.netty.channel.LeakDetection`. Note that it starts with `_` and that's because we don't want this to be enabled with the rest of Reactor Netty logs, so this `LOGGING_LEVEL_REACTOR_NETTY: "debug` will not set the needed debug level for leak detection.

[2021-07-20 05:19] Azbesciak commented on #1746
Yes, I saw it, and asked about it.

[2021-07-20 07:55] violetagg commented on #1746
Are you able to add `-Dlogging.level._reactor.netty=debug`, I don't think that the env variable will work for logger starting with `_` :(

[2021-07-20 08:00] #1714 closed

[2021-07-20 08:32] violetagg commented on #1742
@amardeepkhera

If those exceptions happens from time to time for one and the same coding then try to obtain a tcp dump (you may use Wireshark or something else) in order to check how your network is behaving ...

Let's continue this on [Gitter](https://gitter.im/reactor/reactor-netty) and if we find that the issue is in Reactor Netty we can reopen this one.

[2021-07-20 08:32] #1742 closed

[2021-07-20 08:54] roggenbrot commented on #1669
I'm currently on vacation. I will update the issue asap

[2021-07-20 19:17] Azbesciak commented on #1746
@violetagg I am affraid that this -Dlogging.level._reactor.netty=debug does not work.
I added this flag to my entrypoint like below
[code]
but no difference.
later I also added `-Dio.netty.leakDetectionLevel=paranoid -Dreactor.netty.channel.LeakDetection=debug` but again - no change.

still the same log (nothing before and after)
[code]

[2021-07-21 04:16] Azbesciak commented on #1746
To be sure it is not RateLimiter fault, I removed it - unfortunately, no change (notice that it was in the stacktrace also)
[code]

[2021-07-21 05:15] violetagg commented on #1746
@Azbesciak It looks like the two JVM settings are not applied

If this is applied `-Dio.netty.leakDetectionLevel=paranoid` you should be able to see more the stack traces from Netty - see here for example https://netty.io/wiki/reference-counted-objects.html#troubleshooting-buffer-leaks

With `-Dlogging.level_reactor.netty.channel.LeakDetection=debug` you should see even more stack traces from Reac

[2021-07-21 06:12] Azbesciak commented on #1746
Ok, I believe that is true, but look at [this comment](https://github.com/reactor/reactor-netty/issues/1746#issuecomment-882805418) and one before - when I removed one setting, log appeared, so maybe these are in conflict? I cannot experiment on production during the day, and it is also cumbersome :/
What should I expect when it would work (how this log looks like)? I saw reactor debug logs (menti

[2021-07-21 08:14] violetagg commented on #1746
@Azbesciak

Yeah I understand, it is a tricky one :worried:

Take a look at these issues
https://github.com/reactor/reactor-netty/issues/1603#issue-857920607

The first stack is with the standard settings, then the author added `-Dio.netty.leakDetectionLevel=advance` - you can see that there are many stacks after `Recent access records:`

When you enable the logger `_reactor.netty.channel.LeakDete

[2021-07-21 10:36] maria-ind commented on #1397
@violetagg
Hello Violeta,
Could you please help me to re-write conditional setting of proxy, considering the tcpConfiguration() method is deprecated now.
My current code is:
`private ReactorClientHttpConnector proxyConnector() {`
`        var httpClient = HttpClient.create()`
`                .tcpConfiguration(tcpClient -> {`
`                    if (proxyEnabled) {`
`                        tcpCl

[2021-07-21 11:14] violetagg commented on #1397
@maria-ind I will encourage you to use [Gitter](https://gitter.im/reactor/reactor-netty) or [stackoverflow.com](https://stackoverflow.com/questions/tagged/reactor-netty) for your questions.

The code above should be translated like this:

[code]

[2021-07-22 03:39] JamesChenX opened #1751 "Add support for binding multiple ports"
## Motivation

It's common for loading tests to set up a lot of TCP clients on a machine to send data to a TCP server, but due to TCP quadruple we can only set up 64k TCP clients on a machine to the server.
To solve the problem, we want the TCP server to listen to multiple ports to connect much more TCP clients from one machine.

## Desired solution

Add support for binding multiple ports, and thi

[2021-07-22 05:31] violetagg commented on #1751
@JamesChenX Please take a look at this issue https://github.com/reactor/reactor-netty/issues/67#issuecomment-728132837

[2021-07-22 06:28] JamesChenX commented on #1751
I get the idea behind that implementation. Appreciate your help!
Binding multiple ports is common usage, and we may add docs on it at https://projectreactor.io/docs/netty/release/reference/index.html to help other developers.

[2021-07-22 06:28] #1751 closed

[2021-07-22 06:50] violetagg commented on #1751
@JamesChenX Can you create an issue for the documentation? If you are able even to provide a PR, it will be great.

[2021-07-22 07:44] JamesChenX commented on #1751
@violetagg I will provide a PR for it to express my gratitude for your continued support.

[2021-07-22 07:58] violetagg commented on #1751
Thanks a lot

[2021-07-22 08:01] violetagg commented on #1714
@shakuzen This is available in 1.0.10-SNAPSHOT. If you can give it a try, it will be great.

[2021-07-22 08:28] childewuque opened #1752 "Can we customize the accesslog through configuration"
For example, add remote host in logback.xml  or in other file,like nginx format

Thanks

[2021-07-22 09:34] violetagg commented on #1752
@childewuque Are you looking for something like this #781?

[2021-07-23 07:35] violetagg commented on #1735
@p4pramod I'm closing this, we can reopen it if it's needed.

[2021-07-23 07:35] #1735 closed

[2021-07-23 07:36] violetagg commented on #1752
@childewuque I'm closing this as duplicate to #781

[2021-07-23 07:36] #1752 closed

[2021-07-23 20:17] jndietz commented on #1431
I'm still experiencing this issue in my Spring Boot 2.4.3 apps.  It just randomly showed up one day for all of our apps that use the same stack (webflux/netty).  So, it's really hard to tell if it's really an issue with netty or something else in our environment.

[2021-07-26 04:26] shakuzen commented on #1714
Thanks. I will give it a try, though I may be busy much of this week.

[2021-07-26 08:14] rey5137 opened #1754 "Response time becomes very slow after a while"
I encountered this issue when using Spring cloud Hoxton.SR10. To test it, I try to use netty only and strip down all Spring codes.

My test repo is [here](https://github.com/rey5137/test_spring_cloud_gateway/tree/netty_only) in branch **netty_only**

I tested with both latest version (1.0.9) and the version in Spring cloud Hoxton.SR10 (0.9.17.RELEASE) and the results are same

Here is my code:
[co

[2021-07-26 13:10] roggenbrot commented on #1675
I'm not able to reproduce the problem anymore. I will reopen the issue if I'm running into this problem again.

[2021-07-26 13:10] #1675 closed

[2021-07-26 13:11] violetagg commented on #1675
@roggenbrot Thanks for the update!

[2021-07-26 15:23] jndietz commented on #1534
Myself and others in my organization are experiencing this same issue.  Most of our apps are currently using Spring Boot 2.4.9 as well as Spring Cloud 2020.0.3.  Additionally, we are using the Okta Spring Boot starter, so our apps need to validate JWT with Okta.

We are using:

JDK 11
Spring Boot 2.4.9
Spring Cloud 2020.0.3

We get the following stacktrace when the app tries to validate the JWT:

[2021-07-26 16:07] violetagg commented on #1754
@rey5137
The example above with **netty_only** can be translated to the one below **reactor_netty_only**
Can you execute your performance test and tell us the results?
Also it is a bit unclear: Do you see the issue with **Spring Cloud Gateway** but not with **netty_only** or you see the issue with both?

[code]

[2021-07-26 16:24] jndietz commented on #1534
@violetagg I decided to go the route of upgrading everything in our stack.  So, I am now using this configuration:

JDK 16
Gradle 7.1.1
Groovy 3.0.8
Spring Boot 2.5.3

But the error still persists.  Upgrading to JDK 16 did not resolve this.

[2021-07-26 16:34] violetagg commented on #1534
@jndietz Are you able to provide a reproducible example? Can you create a new issue?

[2021-07-26 16:38] jndietz commented on #1534
@violetagg I can certainly try.  It will take some time to set up but I will try to get that done this afternoon.

[2021-07-26 16:40] violetagg commented on #1534
@jndietz That's great!

[2021-07-26 19:11] jndietz commented on #1534
@violetagg I've added you to a private repository.

I am thinking this is very much to do with some combination of Windows 10, Spring Boot 2.4.x+, and Java.  These web services all work fine when they are deployed in our Pivotal Cloud Foundry environment, which is linux-based

[2021-07-26 19:46] jndietz opened #1755 "DNS are not resolved by HttpClient"
## Expected Behavior
I am expecting that `reactor-netty` will be able to resolve a DNS.

## Actual Behavior
The DNS resolution fails when validating a JWT against Okta (or calling any other downstream service) with the following exception:

[code]

The IP above is a CenturyLink DNS server.

## Steps to Reproduce
I have created a sample test project that will validate a JWT against Okta.  It is a s

[2021-07-27 02:23] rey5137 commented on #1754
The issue happened with both Spring Cloud Gateway (in **master** branch) & Netty only (in **netty_only** branch). I also have tested with your code (in **reactor_netty_branch**) and the result still same as before
<img width="1038" alt="Screen Shot 2021-07-27 at 09 15 14" src="https://user-images.githubusercontent.com/4095408/127084582-5254b81c-1312-4f2f-990e-d5b99babedee.png">

Btw, here is the i

[2021-07-27 05:03] violetagg commented on #1754
@rey5137 Can you provide the JMeter script that you use?

[2021-07-27 06:48] rey5137 commented on #1754
I have added JMeter script to the [test](https://github.com/rey5137/test_spring_cloud_gateway/tree/reactor_netty_only) repo. The file name is test.jmx. And I currently using Jmeter 5.0 to run it.

[2021-07-27 10:20] violetagg commented on #1754
@rey5137 Can you try with a newer version for **Kotlin**: instead of **1.4.0** -> **1.5.21**?

[2021-07-27 10:58] shakuzen commented on #1714
I was able to test this now and everything seems to be working as expected. Thank you very much for all the work across projects on this!

[2021-07-27 11:05] violetagg commented on #1714
@shakuzen thanks for testing it!

[2021-07-27 12:32] violetagg commented on #1755
@jndietz Are you able to provide some public repository?

[2021-07-27 12:34] violetagg commented on #1746
@Azbesciak Were you able to enable the leak detection in Netty/Reactor Netty?

[2021-07-27 12:36] Azbesciak commented on #1746
Hi, I did not have time for that, no option in the coming days, and taking into account that I already tried some combinations of parameters, and these did not work, no idea when I can provide it. But, screenshot from yesterday...
![geocode_service_mem_leak](https://user-images.githubusercontent.com/17334466/127154603-f0607932-7b6a-4106-a94c-e15e33b77108.PNG)

[2021-07-27 12:38] jndietz commented on #1755
@violetagg Sure, it is public now.

I am finding that it appears to be very specific to the computer it is running on.  I’m not sure it will show the error on your machine.

I am going to try and do some tests with my company’s VPN today to see if that may be causing an issue.

[2021-07-27 12:43] violetagg commented on #1755
@jndietz one additional question: you do not switch to VPN while the app is working don't you?

[2021-07-28 10:08] rey5137 commented on #1754
I already tried with newer Kotlin version and result was still same. But now, I'm suspecting the problem lie in Jmeter itself. I switched to Gatling and didn't encounter this issue anymore

[2021-07-28 15:07] jndietz commented on #1755
@violetagg

I am noticing that this has to be related to the VPN my company uses.  I really can't explain what is happening, but I noticed while I was on the VPN, the calls to Okta failed.  When I disconnected from the VPN, the calls would succeed.  I did notice that using Spring Boot 2.3.x would resolve the issue while on the VPN.

I'm going to close this issue, because I believe it is heavily de

[2021-07-28 15:07] #1755 closed

[2021-07-28 18:42] violetagg commented on #1584
@crankydillo I'm looking at this one, but I can receive something similar (not your test) only with Adopt Jdk 8. If you are able to check whether this is failing on your side and the java version and vendor?

[2021-07-29 12:01] walfen opened #1757 "Downloading large file causes memory leak in Linux but not in Windows"
## Expected Behavior
Downloading files shouldn't cause memory leaks in Linux

## Actual Behavior
Downloading large files (200MB, 500MB, 2GB) in a Spring Boot application is working properly in Windows machine.
However it doesn't work in Linux with the same configuration parameters. **It's important to notice that if logs (response bodies) are enabled the error dissapears in Linux machine too.** It

[2021-07-29 12:11] violetagg commented on #1757
@walfen Are you able to reproduce that with vanilla Reactor Netty?

[2021-07-29 12:16] walfen commented on #1757
No, I have only tried it with Spring Boot.

[2021-07-29 12:22] msojka411 opened #1758 "Reactor netty memory leak on Spring Cloud Gateway request timeout"
When i have a request timeout in spring cloud gateway then there is a `LEAK: ByteBuf.release() was not called before it's garbage-collected.` exception in logs.

[code]

Environment: kubernetes
Versions:

[code]

[2021-07-29 12:29] violetagg commented on #1757
@walfen Do you have configuration for switching from direct memory to heap or you are using everything as it is by default?

[2021-07-29 12:31] violetagg commented on #1758
I've edited your comment to improve the formatting. You might want to check out this [Mastering Markdown guide](https://guides.github.com/features/mastering-markdown/) for future reference.

[2021-07-29 12:33] violetagg commented on #1758
@msojka411 Please update your Spring Cloud Gateway version. There are known issues in `Hoxton.SR8` that are fixed in the latest release.

[2021-07-29 12:33] bclozel commented on #1757
As described in the Javadoc, the [`DataBufferUtils#write`](https://docs.spring.io/spring-framework/docs/current/javadoc-api/org/springframework/core/io/buffer/DataBufferUtils.html#write-org.reactivestreams.Publisher-java.nio.channels.AsynchronousFileChannel-long-) do not release the `DataBuffer` instances.

Something like this could solve the problem:

[code]

I'm not sure why in some cases the ou

[2021-07-29 12:37] walfen commented on #1757
Thank you for your answers.

@violetagg I use everyhting as default.
@bclozel I'm going to enable the Netty leak detector and I will try the DataBufferUtils::release

[2021-07-29 13:01] walfen commented on #1757
I'm analyzing the code of the DataBufferUtils. write(Publisher<DataBuffer> source, Path destination, OpenOption... options) and it seems that already releases the data buffers:

[code]

[2021-07-29 13:05] bclozel commented on #1757
@walfen Sorry, I looked at the wrong implementation variant. You're right this one releases the buffers.

[2021-07-29 13:16] walfen commented on #1757
I have incresead the level of the logs and I can see this error:

2021-07-29 13:05:16,013 [reactor-http-nio-3] DEBUG reactor.netty.channel.FluxReceive.debug:249 - [id:67121406-1, L:/172.31.35.81:46376 - R:developer.api.autodesk.com/34.252.150.18:443] FluxReceive{pending=11, cancelled=false, inboundDone=true, inboundError=reactor.netty.ReactorNetty$InternalNettyException: java.lang.OutOfMemoryError

[2021-07-29 13:56] AmandeepSingh97 opened #1759 "Client channel Initialised twice when Server does not exists"
We have a test case which intialises a reactor netty client and tries to hit a server which does not exists
It's default expected behaviour is to have exception connection refused and not retry initialising the channel
Reactor netty client sometimes tries to re-initialise the channel.

## Expected Behavior
If server is not reachable (does not exists) client should not retry the channel initialisat

[2021-07-29 14:06] bclozel commented on #1757
So to summarize, sommething is allocating a lot on on the heap and somehow slowing down the process leaves enough breathing room to the GC to do its work. This is the first time I'm seeing such a pattern so this doesn't ring a bell on the Spring Boot side.

Maybe the best call here would be to connect a profiler to the VM and get a memory snapshot when the app is dealing with traffic. You should s

[2021-07-29 17:24] bclozel commented on #1757
I'm not aware of any incompatibility here.

I think we've extended the scope of this issue way too much.
Unless you've configured a custom `DataBufferFactory` in your application, Netty or Reactor Netty do not allocate buffers on the heap, so they should be out of the picture here. With that in mind, I think @violetagg can close this issue.

This seems to be a broader performance issue in your app

[2021-07-29 17:39] violetagg commented on #1759
@AmandeepSingh97 Is it possible that in your `/etc/hosts` file you have more than one entry for the `localhost`?
How many logs like the one below do you see? Is the `localhost` always resolved to `127.0.0.1`?

[code]

Reactor Netty 1.0.7 runs with Netty 4.1.63.Final while Reactor Netty 1.0.8 runs with Netty 4.1.65.Final. In Netty 4.1.65.Final we have a fix for this issue #1405

[2021-07-29 18:04] violetagg commented on #1757
@walfen You can safely ignore `io.netty.buffer.PoolChunk`, Reactor Netty/Netty uses memory pooling by default (also this is direct memory and not heap). More information here: https://github.com/netty/netty/issues/10717

[2021-07-29 18:40] walfen commented on #1757
@bclozel  @violetagg Thank you again for your replies and sorry for continuing with this topic but I have simplified the application to a single API endpoint that receives a very simple JSON, downloads a file from a remote API and stores it in the temp folder and I still have the error in Linux. I can't see anything in my code that could cause this error.

Here you can see the controller. This is

[2021-07-29 18:58] violetagg commented on #1757
@walfen Can you enable the DEBUG for this logger so that we can see the stack

[code]

[2021-07-29 19:07] bclozel commented on #1757
I've tried with a reduced sample like this on macOS and had no issue with a 1GB file.

[code]

[2021-07-30 06:45] walfen commented on #1757
I have tried your component DownloadRunner with the url http://ipv4.download.thinkbroadband.com/512MB.zip and it's also working in Windows and Linux.

Then, In my code I have replaced the API url that I was calling with the http://ipv4.download.thinkbroadband.com/512MB.zip and it's also working in Windows and Linux.

However, I still have the problem when I call the original API url. It works in W

[2021-07-30 06:49] bclozel commented on #1757
Wait, that's a problem.
Can you help us craft a minimal sample with the code I provided but using that URL? Do we need credentials to that service or some special setup?

If this fails with that URL only there might be an issue with HTTP parsing or something very specific in Netty, Reactor Netty or Spring.

[2021-07-30 07:37] violetagg commented on #1754
@rey5137 Are we OK to close this one?

[2021-07-30 07:39] violetagg commented on #1746
@Azbesciak We need somehow to enabled those options otherwise we cannot proceed with the investigation ... :(

[2021-07-30 08:11] walfen commented on #1757
Yes, you need credentials to access that service. You have to create an account and follow all the configuration process. In the following link, you have a tutorial for all the process (it's long and complex): https://forge.autodesk.com/en/docs/data/v2/tutorials/download-file/

Regarding the sample. Below you can see a basic sample (it can have some errors because I have taken code from different

[2021-07-31 08:02] Azbesciak commented on #1746
@violetagg I have 'good' and bad news.
First, I replicated this on my local windows machine. The only thing that was required was a high number of concurrent requests task, let say 20k at once. I have rate limiter 200/s - these were scheduled.
But now bad news.
First I run just with `--debug`, log was exactly like the all before.
then I added logback config like below (notice last node), without `