[2018-05-03 14:27] mostroverkhov commented on #345
So that's because my output stream completed to early - got it. Modified my example a bit and `isDisposed()` working as expected. Looking forward for `onClose`.

[2018-05-04 11:02] #345 closed

[2018-05-04 11:03] violetagg commented on #345
thanks for testing
fix committed

[2018-05-07 14:10] violetagg opened #350 "Fix the warnings produced by errorprone compiler plugin"
Related to #349

[2018-05-08 17:04] letkemanpete78 opened #351 "Unwrap Mono String to a String value"
### Expected behavior
With the following code I was expecting to get a string value
Kotlin Code:
[code]
### Actual behavior
However I get the following error message

### Steps to reproduce
Unwrap Mono < String > to String value so that it can be used in a function

### Reactor Netty version
SpringBoot versions >= 2.0.1

### JVM version (e.g. `java -version`)
Java 9

### OS version (e.g. `uname -a

[2018-05-08 18:07] violetagg commented on #351
In version 0.7.6 we added a restriction for blocking Reactor Netty threads.
So if the code above is inside Reactor Netty thread then the expected behaviour is  `java.lang.IllegalStateException`
#312

[2018-05-08 19:58] letkemanpete78 commented on #351
Do you have a work around with an example that I can get a String value from a Mono String? Or should I go back to SpringBoot 2.0.0?

[2018-05-08 20:25] violetagg commented on #351
you may want to check this #277

[2018-05-08 20:42] letkemanpete78 commented on #351
I'm working on a project where the end user will have the ability to add multiple form elements. For example the form will have the following form elements:

People will be able to add as many sets of those form elements are needed/wanted up to a point.
I figured out that I need to use ServerWebExchange to get the form elements when posting it. I'd like to combine those form elements into a separa

[2018-05-08 21:11] rstoyanchev commented on #351
Why don't you use data binding, and [map the form input](https://docs.spring.io/spring/docs/current/spring-framework-reference/web-reactive.html#webflux-ann-modelattrib-method-args) to an `@ModelAttribute` argument?

If not, please show a complete, sample controller method implementation.

[2018-05-08 21:36] letkemanpete78 commented on #351
Thank you for the suggestion and I will try it out right now. Hopefully I can provide a sample project with this working or not working in the next day or so.

[2018-05-09 00:15] letkemanpete78 opened #352 "Number values not posting correctly"
Here is the code https://github.com/letkemanpete78/Greetings which is modified copy of
https://spring.io/guides/gs/handling-form-submission/. I simply added a second number value to the model and duplicated the form inputs. Kotlin version of the code provided as well, but it is not active.
The problem shows itself with these lines of code:
[code]
Notice that the numeric values are not all treated

[2018-05-09 00:17] letkemanpete78 commented on #351
I tried using the @ModelAttribute and I think I found a different issue as noted here #352

[2018-05-09 02:38] rstoyanchev commented on #352
List of what? You're binding to a long, which of course cannot represent multiple values, and all you're getting is the first value. Changing to `List<Long>` or `long[]` works as expected, but then you also need to update the view to show `id[0]`, `id[1]`, etc.

At any rate, this the issue tracker, and not a place for asking howto questions. Furthermore the question is related to Spring WebFlux, a

[2018-05-09 02:38] #352 closed

[2018-05-09 02:38] #351 closed

[2018-05-09 20:10] filiphr opened #353 "An improved simple / detailed string for ClientOptions"
Recently support for clustered of STOMP endpoint addresses was added to the Spring Websocket Broker relay ([SPR-12452](https://jira.spring.io/browse/SPR-12452)).

Which means that it is possible to provide round robin or some more complex address supplier to the `ReactorNettyTcpClient` in `spring-websocket`

[code]

This lead to [SPR-16801](https://jira.spring.io/browse/SPR-16801) in order to get

[2018-05-12 11:01] Zyanryx commented on #248
Hi

I'm facing similar issue with "Netty-4.1.24-Final" + "reactor-netty-0.7.7.Build.Snapshot"
         +-------------------------------------------------+
         |  0  1  2  3  4  5  6  7  8  9  a  b  c  d  e  f |
+--------+-------------------------------------------------+----------------+
|00000000| 30 0d 0a 0d 0a                                  |0....           |
+--------+------------------

[2018-05-14 10:39] violetagg opened #355 "0.8.0.M1 Tracker"
- [x] :exclamation: Switch 0.8 to master and branch out 0.7.x
    #322
- [x] :exclamation: 0.8 Public API refactor
    #254
- [x] Prepend channel ID in all possible logging
    #33
- [x] 0.8.x Package change/Group ID change
    #357
- [x] Centralize system properties into one constant top level class
    #358 #372
- [x] UdpServer/UdpClient new API
    #211
- [x] TcpServer/TcpClient new API
    #21

[2018-05-15 06:52] madgnome commented on #177
I'm seeing this issue with 0.7.7.RELEASE version (using Spring boot 2.0.2)

Before seeing this exception there's this one in the logs:
[code]

and then:
[code]

[2018-05-15 06:55] violetagg commented on #177
@madgnome There might be different causes that lead to this `IllegalStateException` any chance to provide reproducible scenario?

Thanks,
Violeta

[2018-05-15 08:30] violetagg opened #357 "0.8.x Package change/Group ID change"
* Group ID/Artifact ID: `io.projectreactor.netty:reactor-netty`
* Package: `reactor.netty.*`

[2018-05-15 08:33] violetagg opened #358 "Centralize system properties into one constant top level class"
Rename all properties from `reactor.ipc.netty` -> `reactor.netty`

[2018-05-16 01:14] madgnome commented on #177
I tried to reproduce locally but no luck. Disabling the pool fixed the issue in prod.

@violetagg Do you have any tips to reproduce this type of issue?

[2018-05-16 09:25] madgnome commented on #177
I've turned on more logging but not all of it because it's too verbose unfortunately.

Last log sequences before the first exception:
[code]

Log when the SSL exception happens, just before getting in the bad state
[code]

Bad state log statements:
[code]

Hopefully that helps

[2018-05-16 15:12] rstoyanchev commented on #353
The `ClientOptions.Builder` is going away in 0.8. Nevertheless, bottom line is that when logging the address, extra care should be taken for when a custom `Supplier` is configured, since that may return a different address each time it is called.

[2018-05-16 20:44] filiphr commented on #353
Good to know about the `ClientOptions.Builder`. Is it already out? I can go through the code and give some ideas with the new code. I guess 0.8 would come in Spring 5.1 and Boot 2.1?

Is there a possibility to do something for 0.7.x so we can get that in Spring 5.0 and Boot 2.0?

[2018-05-17 04:52] madgnome commented on #177
I've managed to reproduce with HttpClient logging handler logs enabled:

Last successful log sequences:
⚠️It's in reverse order (older log are at the end)
[code]

## Shit starts to hit the fan from here:

Log when the SSL exception happens:
⚠️It's in reverse order (older log are at the end)
[code]

It looks like the ssl connection gets closed but the channel doesn't.

[code]

Looking at previous l

[2018-05-17 06:15] smaldini opened #359 "Expand WebsocketReceiver API"
Should have :
- handle() : Mono<Tuple2<WebsocketInbound, WebsocketOutbound>>
- handle(BiFunction, Function<HttpClientResponse, Publisher<V>)

[2018-05-17 18:28] smaldini opened #360 "DisposableServer.isDisposed() doesn't work"
Seems like server selector channel never changes active state after close:
[code]

[2018-05-17 18:28] smaldini commented on #360
cc @nebhale

[2018-05-17 22:09] madgnome opened #361 "Channel in pool in an invalid state after SSLException"
## Issue

After encountering the SSLException:
[code]

the channel will be unusable and will throw this exception every time:
[code]

### Reactor Netty version
0.7.7.RELEASE

## Workaround
Disabling connection pool fixes the issue.

[2018-05-17 22:10] madgnome commented on #361
I've managed to reproduce with HttpClient logging handler logs enabled:

Last successful log sequences:
⚠️It's in reverse order (older log are at the end)
[code]

## Shit starts to hit the fan from here:

Log when the SSL exception happens:
⚠️It's in reverse order (older log are at the end)
[code]

It looks like the ssl connection gets closed but the channel doesn't.

[code]

Looking at previous l

[2018-05-17 22:10] madgnome commented on #177
I've created a separate issue to track this #361

[2018-05-19 16:29] dantesun opened #362 "Exception in a Flux created by a subscriber will be ignored by reactor-netty"
### Following link https://pivotal.io/security should be used to report security related issues

### Expected behavior
Retry works
### Actual behavior
Exception ignored by FluxReceive
### Steps to reproduce

[code]

### Reactor Netty version
0.7.7.RELEASE

### JVM version (e.g. `java -version`)
java version "1.8.0_144"
Java(TM) SE Runtime Environment (build 1.8.0_144-b01)
Java HotSpot(TM) 64-Bit S

[2018-05-20 08:48] smaldini commented on #362
Hey @dantesun , throwing in the subscribe might not work here because there is no more handler downstream to pass the error to (and it will bubble up internally due to CallbackNotImplemented in subscribe). The only thing we can do at least in 0.8 is to pass that error to a generic error consumer assigned to the client, but it won't be passed back in the pipeline. That would look like this

[code]

[2018-05-21 01:03] madgnome commented on #361
After much trouble, I was able to create a convoluted test case reproducing the issue:

https://github.com/madgnome/reactor-netty/commit/a5acdb38eccaa0564ed3fe54f546bcf36e5eabe6

[2018-05-21 03:58] madgnome commented on #361
A potential workaround (without having to disable pooling entirely) is to explicitly close the channel on SSL close:

[code]

[2018-05-23 10:28] bhansu commented on #351
I have the same issue . Is it specific to only running app inside Netty server or across all servers ?
whats the work around for this ?

[2018-05-24 09:45] rajanashutosh commented on #351
This has been sorted out, key is to map with the appropriate subsciber without going for a blocking operation.

[2018-05-25 13:42] chsi13 commented on #301
What about this feature ?

[2018-05-28 09:56] elviskim commented on #59
@nocquidant  Did you solve this?

[2018-05-28 10:11] nocquidant commented on #59
Actually we decided to use Vertx for our middleware. Which is quite cool but also quite far from our tech stack...

[2018-05-29 08:33] elviskim commented on #59
@nocquidant Thanks. I have same issue but I have no idea how I can use TcpClient asynchronously.
All examples are blocking(ex. start..).

[2018-05-30 08:47] yu199195 opened #364 "block（） spring webflux ServerHttpRequest get body"
### Following link https://pivotal.io/security should be used to report security related issues

### Expected behavior

### Actual behavior
public abstract class AbstractGatewayWebFilter implements WebFilter {

    @Override
    public Mono<Void> filter(final ServerWebExchange exchange, final WebFilterChain chain) {
        final ServerHttpResponse response = exchange.getResponse();
        final

[2018-05-30 10:27] yu199195 opened #365 "in spring webflux post size more then 8kb,it not work"
hi, i use spring5 webflux

when post request body more then 8kb ，it was miss filed，

help me。。。

[2018-05-30 10:41] violetagg commented on #365
Please specify the concrete Spring Framework version

[2018-05-31 01:38] yu199195 commented on #365
i use spring boot 2.0 spring framework version 5.0.4

[2018-05-31 01:44] jmcshane opened #366 "Make more data accessible from the `DefaultServerWebExchange` object"
### Expected behavior

Provide some mechanism to access Netty `HttpRequest` and  `HttpResponse` from the `DefaultServerWebExchange`.

It appears that this would require adding methods to the `HttpOperations` class or increasing visibility of `HttpServerOperations`.

Another option that would work in my use case would be to provide more getters in the high level `HttpOperations` class that reach in

[2018-05-31 01:55] yu199195 commented on #365
httpServer ：
  @Bean
    public HttpServer httpServer() {
        return HttpServer.create(builder -> {
            builder.maxChunkSize(8192 * 8);
            builder.maxHeaderSize(8192 * 8);
            builder.initialBufferSize(256);
            builder.maxInitialLineLength(8192);
            builder.port(8080);
        });

    }
but it not work

[2018-05-31 01:59] rstoyanchev commented on #366
Is there anything missing in Spring WebFlux that requires such access to the Netty request or response? They're not meant to be accessed that way.

[2018-05-31 02:07] jmcshane commented on #366
@rstoyanchev the status code is my main concern. I haven't found a time in the lifecycle of the "call" `Mono<Void>` object where this is set on the `AbstractServerHttpResponse` class from spring-webflux, whereas it appears to be set successfully within the native response.

I have not been able to access the http version (obviously most often `HTTP/1.1`) for the request from any other source besid

[2018-05-31 02:15] rstoyanchev commented on #366
it doesn't sound like a good reason to change anything, or expose the Netty response. The question rather is what are you trying to do? Show a little more detail of how you handle the request (annotated controller, handler function), and what you've tried, or what you're not sure about.

[2018-05-31 03:06] yu199195 opened #367 "How to set netty chunksize"
i use spring5，i hava post request ，when post body is large，
I received the  request for many times。
 how to set netty chunksize in springwebflux

springwebflux
springframe 5.0.6
JDK 1.8

[2018-05-31 05:43] violetagg commented on #365
@yu199195 we have fixes that are included in Spring Framework 5.0.6 so please try with that version.

[2018-05-31 09:06] yu199195 commented on #365
http post too long, Is it needed  HttpObjectAggregator

[2018-05-31 12:11] violetagg commented on #365
@yu199195 can you describe a bit more the use case that you have? Do you really want the whole request body in the memory? Can't you work with the request body chunks?

[2018-05-31 13:06] rstoyanchev commented on #365
The example method has has multiple issues, but before we even get there, it does not even compile due to "Missing return statement".

[2018-05-31 14:00] yu199195 commented on #365
I want to in webfilter  get request body。
now I met this problem：
when  request body is too large，more then 1024b
the first request：
 final Flux<DataBuffer> body = exchange.getRequest().getBody();
this DataBuffer  body  size is 555.
The second request：
final Flux<DataBuffer> body = exchange.getRequest().getBody(); is true。

Is there a limit to the length of the post request by netty?
help me。。

[2018-05-31 16:52] #322 closed

[2018-05-31 16:52] #357 closed

[2018-06-01 13:55] bclozel opened #368 "Expose read-only port/address when server binding errors"
With the new `HttpServer` and `DisposableServer` API in Reactor Netty 0.8, we seem to be missing a way to get the port information from the server itself.

It is available from `DisposableServer`, but we can't get that information in case the server could not bind (in that case, `DisposableServer` is null and we're getting back an exception).

This issue is basically a new instance of #66, which w

[2018-06-01 21:08] bclozel commented on #365
Closing in favour of [the StackOverflow question](https://stackoverflow.com/questions/50626367/spring-webflux-how-get-request-body-in-webfilter) (which is better suited for questions in the first place).

[2018-06-01 21:08] #365 closed

[2018-06-02 05:41] violetagg commented on #367
Hi,

For questions, discussions, use the channels below:

Reactor Netty -> https://gitter.im/reactor/reactor
Spring Boot -> https://gitter.im/spring-projects/spring-boot
Spring Framework -> https://spring.io/questions

Regards,
Violeta

[2018-06-02 05:41] #367 closed

[2018-06-02 05:42] violetagg commented on #364
Hi,

For questions, discussions, use the channels below:

Reactor Netty -> https://gitter.im/reactor/reactor
Spring Boot -> https://gitter.im/spring-projects/spring-boot
Spring Framework -> https://spring.io/questions

Regards,
Violeta

[2018-06-02 05:42] #364 closed

[2018-06-04 12:30] thekalinga commented on #104
@smaldini Can you please share if any progress is being made to this?

[2018-06-04 13:26] violetagg commented on #104
@thekalinga you can take a look here https://github.com/reactor/reactor-netty/blob/master/src/test/java/reactor/netty/http/HttpTests.java#L496
there is still not API for working with streams

[2018-06-04 13:30] rstoyanchev commented on #368
Along similar lines, there used to be a way to check if loopResources or poolResources were registered, which was originally requested in #24, the last paragraph:

So far [this was used](https://github.com/smaldini/spring-framework/blob/37b0ed9fcb74c42dd6a8de24834d5ac7e75392f6/spring-messaging/src/main/java/org/springframework/messaging/tcp/reactor/ReactorNettyTcpClient.java#L134-L137) in a constr

[2018-06-04 13:32] thekalinga commented on #104
@violetagg Thanks for that. Do u have any idea when the development on this item starts?

[2018-06-04 13:35] violetagg commented on #104
What do you mean?
The upgrade from HTTP/1.1 to HTTP/2 is there, what the missing part is to work directly with the streams....
The 0.8.0.M1 is around the corner

[2018-06-04 13:41] thekalinga commented on #104
@violetagg Sorry for my ignorance. I dont have much idea about the internal apis created in this project to support HTTP2 API. Is it fair to say 0.8.0 will contain full HTTP2 support?

[2018-06-04 13:43] violetagg commented on #104
yes

[2018-06-04 16:36] bclozel opened #370 "Revisit HTTP server TLS setup"
There are currently two ways to configure TLS for an `HttpServer`.

`HttpServer.create().secure()` will setup TLS with:
* a default `SelfSignedCertificate`
* OpenSSL or JDK as an `SslProvider` depending on which is available
* http/2 ciphers, ALPN support
* both h2 and http/1.1 support

`HttpServer.create().secure((contextSpec) -> contextSpec.forServer().sslContext(Consumer<SslContextBuilder>)` wi

[2018-06-06 18:16] #361 closed

[2018-06-06 18:21] violetagg commented on #361
Please try the current snapshot, it is available on the http://repo.spring.io/snapshot

[2018-06-07 22:36] #358 closed

[2018-06-08 16:54] violetagg commented on #366
Closing as there is no response from the author.
Also for questions, discussions etc. it is better to use the channels below:
Reactor Netty -> https://gitter.im/reactor/reactor
Spring Boot -> https://gitter.im/spring-projects/spring-boot
Spring Framework -> https://spring.io/questions

[2018-06-08 16:54] #366 closed

[2018-06-13 18:04] medalliaerlich commented on #104
Hi, Which is the release date for 0.8.0?
Is there a RC version?

[2018-06-14 14:40] rstoyanchev commented on #59
@elviskim what are you referring to? What examples are blocking? Did you see [Stephane's comment](https://github.com/reactor/reactor-netty/issues/59#issuecomment-298609735)?

[2018-06-15 14:38] jfarcand opened #374 "[WebSocketClient] WebSocketMessage.getPayloadAsText throws io.netty.util.IllegalReferenceCountException: refCnt: 0"
### Following link https://pivotal.io/security should be used to report security related issues

### Expected behavior

```WebSocketMessage.getPayloadAsText ``` should return the payload or an I/O exception at worse, but not the underlying Netty exception.

### Actual behavior
The test (valid or not) described below produces:

[code]

### Steps to reproduce

Open two websockets connections, one th

[2018-06-17 18:57] asarkar opened #375 "How to implement the classic Echo client-server?"
I'm trying to implement an Echo client-server. I want the client to send some strings, finishing with "bye", and then shutdown. On receipt of "bye", the server would shutdown too.
This is surprisingly turning out to be not easy. The complete lack of documentation is mostly to blame, as well as my inexperience with reactor-netty. I understand well how to do this in Netty, but not clear about how to

[2018-06-19 08:58] violetagg commented on #375
Hi,

1.
Let me start with flush operation:
When you need to flush after every message you need to specify the so called `send option` i.e. `outbound.options {t -> t.flushOnEach()}`
There are two variant of `flushOnEach`:
- By default we schedule the flush operation this means that with one flush operation we will flush as much as possible messages. This is done for optimisation as the flush operat

[2018-06-19 08:58] #375 closed

[2018-06-19 09:18] violetagg commented on #104
@medalliaerlich We are currently work towards M1, what do you want to see as HTTP/2 support in 0.8? Just supporting HTTP/2 protocol, or manipulating the streams etc.
It will be very helpful to know what people need as HTTP/2 support

Thanks,
Violeta

[2018-06-19 10:51] sdeleuze opened #376 "Reactor Netty is slower to start than Tomcat"
This is not obvious with Spring Boot but [Spring Fu minimal webapp benchmarks](https://github.com/spring-projects/spring-fu/tree/master/samples/minimal-webapp) seems to indicate than Reactor Netty is slower to start than Tomcat.

**Rector Netty:**
 Application started in 0.609 seconds (JVM running for 0.879)
 Application started in 0.676 seconds (JVM running for 0.97)
 Application started in 0.672

[2018-06-19 13:09] medalliaerlich commented on #104
We are planning on using Spring Cloud Gateway which is using Reactor Netty, and are waiting for release 0.8. Please check thread https://github.com/spring-cloud/spring-cloud-gateway/issues/7

[2018-06-19 15:42] violetagg commented on #376
Is it correct that this is with Reactor Netty 0.7.x and not the current master?

[2018-06-19 15:56] sdeleuze commented on #376
Nope, this is using Reactor Netty `0.8.BUILD-SNAPSHOT` builds since Spring Fu depends on Spring Framework 5.1 snapshots.

[2018-06-19 16:06] violetagg commented on #374
@jfarcand Hey, I do not see here Reactor Netty code in the stacktrace.
For the test scenario you need to take care to invoke `retain()`: below you can find more information
https://docs.spring.io/spring/docs/5.0.7.RELEASE/spring-framework-reference/core.html#code-pooleddatabuffer-code

I changed a bit the test on my side (invoke `retain()` in `doOnNext()`):

[code]

[2018-06-19 16:19] jfarcand commented on #374
@violetagg Thanks I've completely missed the fact that reactor wasn't used "anymore" in my code. Second thanks for the hint, it works!

[2018-06-19 16:19] #374 closed

[2018-06-21 17:17] rstoyanchev commented on #33
Related ticket in the Spring Framework https://jira.spring.io/browse/SPR-16966.

[2018-06-25 12:29] esacaceres opened #377 "Add dynamic header"
Is possible to add a dynamic header. First time when the route is loaded the filter applied gets the access token, but after that, never executes "tokenGen.getAccessToken()" again and some time later the token expires since is not refreshed anymore.

The behavior expected is to refresh the token in each request since is an implicit grant. Is it possible to achieve it with addRequestHeader filter?

[2018-06-25 17:31] stavalfi commented on #155
Is it a pre-requirement to control `Netty` before learning this library? If yes, which topics in `Netty`?

[2018-06-26 09:50] tillmannheigel commented on #301
+1

[2018-06-26 10:28] tillmannheigel commented on #377
Hi @esacaceres ,

(1) Your question is related to [Spring Cloud Gateway](https://github.com/spring-cloud/spring-cloud-gateway) and not to rectory-netty. (The bean [RouteLocator](https://github.com/spring-cloud/spring-cloud-gateway/blob/master/spring-cloud-gateway-core/src/main/java/org/springframework/cloud/gateway/route/RouteLocator.java) belongs to SpringC Cloud Gateway.

(2) It is not an issue

[2018-06-26 13:35] violetagg commented on #155
In most cases there is no such prerequisite.

[2018-06-27 02:19] yu199195 opened #378 "io.netty.util.internal.OutOfDirectMemoryError"
hi,   a web service is built with webflux. With time and increased concurrency,
I found that netty's off-heap memory was not freed.(About 3 hours after the service runs)
its, reactor-netty problem?
this is my evn:
spring boot  2.0.3
jdk 1.8
os: liunx
reactor-netty:0.7.7
netty:4.1.17

this is eror:
2018-06-27 09:32:58.217  WARN 6811 --- [server-epoll-11] i.n.c.AbstractChannelHandlerContext      : A

[2018-06-27 04:33] violetagg commented on #378
@yu199195 run the application with this setting `-Dio.netty.leakDetectionLevel=advanced`
thus we can detect memory leaks.
https://github.com/netty/netty/wiki/Reference-counted-objects#troubleshooting-buffer-leaks

[2018-06-27 06:20] yu199195 commented on #378
i canot find  reason。  and alsoi add -Dio.netty.leakDetectionLevel=advanced but not find any log。
jvm not found full gc. everything seems to be all right.
Is the stack caused by excessive concurrency?
spring-boot 2.0.3
reactor-netty 0.7.8
netty 4.1.25

[2018-06-27 06:29] yu199195 commented on #378
in my code ,No out-of-heap memory is used . why Out of heap memory overflow? dont  understand.
reactor-netty, At high concurrency (20000qps) ,That's a problem?

[2018-06-27 16:44] violetagg commented on #378
Without knowing the scenario it is hard to say whether it is an issue or misconfiguration. Try to increase this `-Dio.netty.maxDirectMemory` and see what will be the result.

[2018-06-28 01:02] yu199195 commented on #378
let me try ，tks

[2018-06-28 18:38] anonymousXrandom commented on #177
We have to disable connection pool too. When the post requests contain a large body, it's easy to reproduce this issue. It's frustrating without the pool, the number of requests per second is very limited due to the limit of available ports.

[2018-06-28 19:37] violetagg commented on #177
@anonymousXrandom What is the Reactor Netty version that you use? We have fixes for this issue.
Please create new issue and describe your scenario there.

[2018-06-29 01:02] ccrolf opened #379 "Default ChannelPool is unbounded, and leaks memory on a per-URL basis"
### Expected behavior
Not running out of memory after calling 10k+ different host URLs when using default config

### Actual behavior
Application eventually crashes, as `DefaultPoolResources.channelPools` has grown to over 10k entries. Exacerbated when stack traces are enabled for Monos/Fluxes as each value in the `ConcurrentMap` is ~80kb.

### Workaround
Use:
[code]

### Suggested fixes
1. Make p

[2018-06-29 01:45] yu199195 commented on #378
@violetagg  hi，i find netty use DIRECT_MEMORY_COUNTER  To count the memory out of the heap
in the PlatformDependent.java 101 line.
i try debug ,It just adds up ,it doesn't decrease.
netty vesion  4.1.25

[2018-06-29 02:06] yu199195 opened #380 "if netty OutOfDirectMemoryError . netty Circular output log Blow up the server disk"
when netty OutOfDirectMemoryError ， Circular output log Blow up the server disk。
this is error log：
io.netty.util.internal.OutOfDirectMemoryError: failed to allocate 16777216 byte(s) of direct memory (used: 16777223, max: 20971520)
	at io.netty.util.internal.PlatformDependent.incrementMemoryCounter(PlatformDependent.java:640) ~[netty-common-4.1.25.Final.jar:4.1.25.Final]
	at io.netty.util.internal

[2018-06-29 04:58] smaldini commented on #378
If you have a simple reproduction test that would be awesome!

[2018-06-29 05:01] smaldini commented on #380
Can we have a sample app to reproduce this ? Also how is this a specific error from netty, isn't it just that there is an error (probably due to #378) that keeps inflating the log file rather than be a specific issue ?

[2018-06-29 05:06] smaldini commented on #379
Good points, I don't think the default should change to no-pooling as the vast majority of use cases seems to target a specific domain. However all your other suggestions (2,3, and 2+3) make totally sense. We should enforce a high upper limit such as 1000, problem being right now we use Netty provided pool facilities which we want to change for 0.8 into our own pooling infrastructure. This will he

[2018-06-29 05:07] #380 closed

[2018-06-29 06:42] yu199195 commented on #378
i use spring-webflux ，In my code, no out-of-heap memory is used，reactor-netty will release buffers？

[2018-07-02 22:23] Lewik opened #381 "AbstractChannelHandlerContext CPU 100%"
Netty used in spring integration application.
After some time cpu goes to 100% and application stop handling messages from queue (amqp and stomp)

Application inside docker

jstack of "hanged" thread
[code]

### Netty version
4.1.25
### JVM version (e.g. `java -version`)
openjdk version "1.8.0_171"
OpenJDK Runtime Environment (build 1.8.0_171-8u171-b11-1~deb9u1-b11)
OpenJDK 64-Bit Server VM (build

[2018-07-03 06:03] violetagg commented on #381
Hi,

Any test scenario that we can use in order to reproduce the issue?

Regards,
Violeta

[2018-07-03 07:04] Lewik commented on #381
@violetagg This freeze appears suddenly. I don't know steps to reproduce, I even don't know when exactly in freezes. It can be 30 minutes after start, or 3 hours.

[2018-07-03 07:14] Lewik commented on #381
I see two threads "tcp-client-loop-nio-4" in jstack. nio-1, 2, 3 - they are doubled.
I see SingleThreadEventExecutor in the stack beginning.

Is that duplicates OK?

[2018-07-03 11:41] dsyer opened #382 "SslProvider causes netty to start a Thread in a static initializer"
`SslProvider`  [here](https://github.com/reactor/reactor-netty/blob/2e244a333ee623d01e56caa74157a78f04f5bac0/src/main/java/reactor/netty/tcp/SslProvider.java#L228) causes Netty to start a new `Thread`. That's probably going to cause issues in other ways, but right now it's a blocker for getting reactor-netty running as a native image in GraalVM.

Here's a stack trace from the IDE debugger:

[code]

[2018-07-03 13:51] #33 closed

[2018-07-04 10:49] normanmaurer commented on #382
This was „fixed“ and will be included in the next release of Netty https://github.com/netty/netty/commit/5b1fe611a637c362a60b391079fff73b1a4ef912

[2018-07-04 11:11] dsyer commented on #382
See also https://github.com/netty/netty/commit/5b1fe611a637c362a60b391079fff73b1a4ef912

[2018-07-05 14:13] dsyer commented on #382
You didn't change the netty dependency though? So the change from @normanmaurer is not included yet?

[2018-07-05 14:15] violetagg commented on #382
No, but I removed the creation of `SelfSignedCertificate` in a static block.
I tested it on my side (just Reactor Netty, no Spring) and I did not see the issue.

[2018-07-05 14:35] dsyer commented on #382
It's still broken for me unless I upgrade netty as well to snapshots. There's a static initializer in `HttpServer` that triggers the same code path:

[code]

[2018-07-05 14:43] violetagg commented on #382
hmm
the lines are not the same but I think it should be this one
https://github.com/reactor/reactor-netty/blob/48f1be5d7b9a2760fbabcab5c93df547ae7a1d05/src/main/java/reactor/netty/tcp/TcpServer.java#L575
but for this one I prefer to wait for the Netty fix

[2018-07-05 16:45] #370 closed

[2018-07-06 23:37] smaldini commented on #382
I'm also happy to move this to lazy creation, we don't expect a server to be created as many times as clients. I was probably attracted by the symmetric implementation rather than something more pragmatic here.

[2018-07-06 23:39] smaldini commented on #376
Linked to #382

[2018-07-06 23:39] smaldini commented on #254
@violetagg if you can update the readme when time permits :)

[2018-07-07 16:57] sdeleuze commented on #376
@violetagg I will be on PTO next week so I won't be able to do these test, but I suggest to test with `4.1.26.Final-SNAPSHOT` as it fix the thread started in initializer issue. Also in your tests Reactor Netty is still significantly slower than Tomcat, right?

[2018-07-09 09:46] bclozel opened #384 "SSL support broken without boringssl static dependency"
Since the changes in applied ca29e56, the default SSL configuration does not work without the boringssl dependency on classpath.

I'm not sure I understand the logic behind the latest changes with SSL/H2 support in reactor-netty.
It seems that we can now configure the supported protocols on the server itself, whereas the SSL configuration also has an impact on that support. This can lead to strang

[2018-07-10 15:38] #382 closed

[2018-07-10 15:40] violetagg commented on #382
Netty is updated to version 4.1.26.Final with e8f4c46518eb62b00f42713cfc5b8a71d94032d8

[2018-07-11 15:44] enricosecondulfo opened #387 "Error on create HTTP/2 Request with 0.8.0.BUILD-SNAPSHOT version"
Hello guys,
i'm trying to create a get request to a http/2 server with `reactor-netty` version 0.8.0.BUILD-SNAPSHOT, but i receive the same error

The `Kotlin` code i used is the following

    class Test

    fun main(args: Array<String>) {

	val trustManagerFactory: TrustManagerFactory =
	TrustManagerFactory.getInstance("SunX509")
	val trustStore: KeyStore = KeyStore.getInstance("JKS")

	trustSt

[2018-07-11 18:44] picaso opened #388 "java.io.IOException: Connection reset by peer"
### Actual behavior

[code]
[code]
[code]

For some reason executing this code throws randomly a
[code]

And I get a 500. This seems to happen mostly on my docker container than my main machine. I have tried numerous times to replicate it but no dice. There is no pattern whatsoever.

Load test result bombading my local server:
[code]

Result pointing to a remote server on 5 machines with 4gb and 2

[2018-07-11 19:00] violetagg commented on #388
@picaso Please try with the latest Reactor Netty version. We have a lot of fixes since 0.7.5.
Also `Connection reset by peer` means that the other party closed the connection.

[2018-07-11 19:17] violetagg commented on #387
Hi,

I'll add `null` check, however I don't think the example is correct.
The `secure` method accept `Consumer`.
The same example if written on Java cannot be compiled.
So try the change below.

[code]

[2018-07-11 19:56] #387 closed

[2018-07-11 20:09] violetagg commented on #381
Can you attach the output from `jstack`?
Also at least if you can describe the scenario that you execute.

[2018-07-12 07:54] violetagg commented on #376
With the latest snapshot these are the measurements:

Reactor Netty
[code]

Tomcat
[code]

[2018-07-12 07:54] #376 closed

[2018-07-12 08:03] violetagg commented on #378
@yu199195 were you able to prepare some reproducible scenario?

[2018-07-12 10:47] bclozel opened #390 "Configure timeout options on HttpClient with new API"
With the new `HttpClient`/`TcpClient` configuration APIs, I've tried customizing the timeout options for the HTTP client.

While I can change the connection timeout like this:

[code]

I cannot find a way to configure the read and write timeouts, as it was previously explained in this [StackOverflow answer](https://stackoverflow.com/a/49140846/22982). Is there still a way (or an easier way) to con

[2018-07-12 10:50] enricosecondulfo opened #391 "Error on connection to an http/2 server"
Hello guys,
using this code:

[code]

I have this error:

Do I do something wrong?

Thank you

[2018-07-12 11:22] violetagg commented on #390
@bclozel You can configure the timeouts like the sample below:

[code]

[2018-07-12 11:22] #390 closed

[2018-07-12 11:50] bclozel commented on #390
Thanks a lot @violetagg !

[2018-07-12 14:26] sdeleuze commented on #376
Amazing, huge improvement!

[2018-07-12 15:37] duke-cliff opened #392 "Low throughput benchmark test compared to vert.x"
For better understanding, I put our test programs both in vert.x and webflux here: https://github.com/uken/webflux-vertx-benchmark.

I am doing some load test comparison on webflux(spring boot2) vs vert.x.

The test case is a very simple text/json echo service. So far from the test result, webflux's throughput is much lower than vert.x(10x with annotation, 8x with functional). One interesting thin

[2018-07-13 06:32] imet commented on #301
+1

[2018-07-14 01:08] picaso commented on #388
I Updated to reactor-netty version to the latest version in spring boot 2.0.3-RELEASE. The error message is just different now but the same `Connection reset by peer` error.

I was going to investigate further to see what was happening, but the team decided to use RestTemplate and though it was slower under load, no connection was reset. I am assuming something is wrong with reactor `Webclient` an

[2018-07-16 14:13] duke-cliff commented on #392
I wrote a spring 1.5+netty test project seems to be much faster but using
  @Override
  public void run(String... args) throws Exception {
    try{
    ServerBootstrap sb = new ServerBootstrap().group(selectGroup, workerGroup).channel(EpollServerSocketChannel.class).childHandler(httpChannelInitializer).option(ChannelOption.SO_BACKLOG, 1024).childOption(ChannelOption.SO_KEEPALIVE, true).childOption

[2018-07-17 09:17] Lewik commented on #381
Additional info:
1. @normanmaurer think that this "This looks more like a project reactor bug that will consume a lot of cpu while try to drain some queue..."
https://github.com/netty/netty/issues/8092

2. This bug appears with Spring 5. But with Spring 4 all OK.

[2018-07-18 14:18] sdeleuze commented on #90
I faced the very same issue in Spring Fu (https://github.com/spring-projects/spring-fu/commit/6be8b90fbfff0cdfc9e89fdb4c63153e5c3866c6) and I think that's a rather annoying one (it keeps the port open after closing the server) that deserves to be fixed before Spring Framework 5.1 / Spring Boot 2.1 release IMO.

[2018-07-19 02:31] rstoyanchev opened #393 "Mono from sendWebSocket completes at the end of the session"
Not sure 100% if this is an issue or expected behavior but according to the Javadoc for `HttpServerResponse#sendWebSocket` it returns "a Mono completing when upgrade is confirmed". Instead the Mono seems to complete only after WebSocket session handling completes.

This comes through an issue reported against Spring Session and then the Spring Framework https://jira.spring.io/browse/SPR-17051 wher

[2018-07-20 06:06] #384 closed

[2018-07-20 07:15] bclozel commented on #384
Thanks @violetagg ! I’ll try this fix and get back to you shortly.

[2018-07-20 19:45] bclozel commented on #384
Works for me! Thanks!

[2018-07-23 06:18] stalelabs commented on #301
+1

[2018-07-23 13:13] rstoyanchev commented on #393
I would prefer if it worked as Javadoc says.

The handshake/upgrade is associated with an `HttpHandler` (or a `BiFunction<HttpServerRequest, HttpServerResponse, Mono<Void>>` in Reactor Netty) while the the WebSocket session is associated with a `WebSocketHandler` (or a `BiFunction<? super WebsocketInbound, ? super WebsocketOutbound, ? extends Publisher<Void>>` in Reactor Netty).

The two have diff

[2018-07-23 13:57] violetagg commented on #368
@rstoyanchev There are only two constructors
`public ReactorNettyTcpClient(String host, int port, ReactorNettyCodec<P> codec)`
and
`public ReactorNettyTcpClient(TcpClient tcpClient, ReactorNettyCodec<P> codec)`
Do you still have this requirement?

[2018-07-23 14:56] bclozel opened #395 "Echo handler not working with HTTP/2 server"
I've got a simple echo reactor handler that works fine with HTTP1.1 but not with HTTP/2.
Is my echo handler wrong? Or is there something specific with the handling of HTTP/2 streams that doesn't work with this?

Given the following code snippet:

[code]

The HTTP/2 server starts fine and the following curl request works just fine as well:

[code]

Here are the server logs:

[code]

Now with an ech

[2018-07-23 15:09] violetagg commented on #368
@bclozel can you take a look at the PR and tell us whether this will help?

[2018-07-23 15:12] violetagg commented on #378
Closing this as there is no response from the author. @yu199195 you can reopen it if you have more details about the issue.

[2018-07-23 15:53] bclozel commented on #368
It would help a bit, but I'd still need to parse the exception message to get the local address. Could you add a getter to expose that information directly on the exception itself?

[2018-07-23 18:37] violetagg commented on #368
I added a getter for the local address.

[2018-07-23 19:14] bclozel commented on #368
Perfect, thanks!

[2018-07-24 04:08] asarkar opened #397 "Document HttpClient usage with encoder/decoder and proper disposal"
It's unclear how encoder/decoder (or codecs as known pre Netty 5) are to be used with `HttpClient`. It's also unclear how and when to property dispose a `HttpClientResponse`. Consider the following Kotlin client code:

[code]
It's not exactly pretty due to deep nesting, which could be avoided if I could somehow register success and error handlers (based on response status). Also, the response is n

[2018-07-24 06:20] jayendra155 commented on #301
+1

[2018-07-24 07:47] smaldini commented on #305
Should be now prevented by the loop support (fast fail with an exception)

[2018-07-24 07:47] #305 closed

[2018-07-24 07:49] smaldini commented on #90
We should have the following fix in a next milestone/RC:
when disposableServer.dispose() is called globalResource will be scanned for associated client connections and cleaned accordingly.

[2018-07-24 10:43] enricosecondulfo opened #399 "Failed to connect to APNS [Unexpected HTTP/1.x request]"
I'm trying to send a request to apns  with following code:

[code]
but the server answers with the following message
`Unexpected HTTP/1.x request: POST /3/device/XXXXXXXXXXXXXXXXX`

Can I explicitly specify the http\2 protocol version?

Thanks

[2018-07-24 10:53] violetagg commented on #399
@enricosecondulfo I see you provide your own `sslContext`. Please ensure it has the necessary configuration.
For example https://github.com/reactor/reactor-netty/blob/master/src/main/java/reactor/netty/http/client/HttpClientSecure.java#L80-L89

[2018-07-24 11:00] violetagg commented on #368
New PR #398

[2018-07-24 11:08] enricosecondulfo commented on #399
@violetagg Using the configuration specified in the file you submitted to me,
i have the following error:
[code]

[2018-07-24 12:32] #368 closed

[2018-07-24 12:44] smaldini opened #400 "Streamline top level utils"
ReactorNetty, SystemPropertiesNames, and LogFormatter could be a same top level util class.
NettyPipeline could be considered separately or alongside.

[2018-07-24 12:46] smaldini commented on #399
Http Client is not yet supporting H2 unfortunately. It should be in the next milestone (M2)

[2018-07-24 14:55] violetagg commented on #395
temporary fix provided for 0.8.0.M1

[2018-07-25 20:09] enricosecondulfo commented on #399
Thanks for the reply and for the hard work

[2018-07-25 20:10] #399 closed

[2018-07-26 08:08] bruno-roussel commented on #301
+1

[2018-07-26 09:00] #355 closed

[2018-07-26 09:38] violetagg commented on #333
The `ObjectCleaner` usage was removed in Netty 4.1.26.Final, `finalize()` is used instead.
0.7.9.BUILD-SNAPSHOT is updated to Netty 4.1.27.Final

[2018-07-26 09:38] #333 closed

[2018-07-26 09:51] violetagg opened #402 "HTTP/2 support for HttpServer"

[2018-07-26 09:53] violetagg commented on #104
HTTP/2 support for HttpServer available as part of 0.8.0.M1
#402

[2018-07-26 12:38] #400 closed

[2018-07-26 12:43] violetagg commented on #391
https://github.com/reactor/reactor-netty/issues/399#issuecomment-407394050

[2018-07-26 17:18] smaldini opened #403 "Add UnixDomain support"
Would be good for IPC and could mirror most of TcpClient/Server under UnixClient/UnixServer

[2018-07-31 11:57] violetagg commented on #395
The temporary fix was reverted. Netty is updated to version 4.1.28.Final where the fix exists.

[2018-07-31 11:57] #395 closed

[2018-07-31 23:56] bm3780 opened #404 "UdpServer Doesn't Bind Socket"
### Following link https://pivotal.io/security should be used to report security related issues

### [Gitter](https://gitter.im/reactor/reactor) should be used for questions and discussions

### Expected behavior
UdpServer should bind using server context.

### Actual behavior
UdpServer binds using client context.  See [UdpServer#doHandler](https://github.com/reactor/reactor-netty/blob/0.7.x/src/m

[2018-08-01 08:38] violetagg commented on #404
Hi,

Try with the following command `netstat -lnp udp | grep 8001`, you should be able to obtain the information.

Regards,
Violeta

[2018-08-01 08:38] #404 closed

[2018-08-01 08:47] violetagg commented on #388
@picaso Do you have any updated on this one? Thanks.

[2018-08-01 13:56] thekalinga opened #405 "Connection reuse with HttpClient & ConnectionProvider does not work in Ubuntu 16.04"
### Expected behavior
Connections should be reused for multiple requests for the same httpclient & the program should terminate (refer to example below)

### Actual behavior
Only one request happens & the execution freezes (refer to example below)

### Steps to reproduce
[code]
### Reactor Netty version

[code]

### JVM version (e.g. `java -version`)

[code]

### OS version (e.g. `uname -a`)
[code

[2018-08-02 06:29] balajeetm commented on #388
Even I find similar issues. And I'm on the latest version of spring boot and reactor-netty - 0.7.8. Any updates on this?
What is the root cause of these issues?

[2018-08-02 06:43] kadledav opened #406 "Possible memory leak in HttpServerHandler and FluxReceive"
I was searching for memory leak by Netty in our application (org.springframework.boot:2.0.3.RELEASE , reactor-netty:0.7.8.RELEASE)

First:
I have discovered a suspicious code in the reactor.ipc.netty.http.server.HttpServerHandler#channelRead
in the case that a following expression is true:
 `msg instanceof HttpRequest AND decoderResult.isFailure()`
there is no `ReferenceCountUtil.release(msg)` and

[2018-08-02 13:59] mp911de opened #407 "HttpClient.create() shares SSL configuration across multiple instances"
### Expected behavior

Calling `HttpClient.create().secure(Consumer)` (and `HttpClient.create()`) should apply SSL config only for the underlying instance independently from earlier client instances.

### Actual behavior

`HttpClient.create().secure(…)` does not apply SSL context (from `SslContextBuilder`) to the newly created instance.

Using a dedicated `ConnectionProvider` (such as `ConnectionP

[2018-08-03 11:37] kimec commented on #94
Shouldn't this be backported to 0.7.*? In its current form, WebFlux client is unusable with any HTTP service which does not support "chunked" transfer encoding.
This kind of defeats the purpose why one would want to migrate to WebFlux client in heterogeneous scenarios (scenarios where not all services are Java/Spring/WebFlux based).
It is certainly a show stopper for us, since we need to integrate

[2018-08-03 12:51] adammichalik commented on #388
I experienced the reset connections about 50 % of times when on Spring Boot 2.0.1 / Reactor-Netty 0.7.6. I upgraded to the latest Spring Boot 2.0.4 / Reactor-Netty 0.7.8 and haven't seen a single connection reset yet. I did not perform any load tests, though, just manual tests.

[2018-08-03 13:26] balajeetm commented on #388
@adammichalik /Team,
Please keep the issue open. I'm using Spring boot version 2.0.3 with reactor-netty 0.7.8 but I still face this issue in production/live
I'll check again by upgrading and performing some load tests and revert soon.

Can I please get a little more details on why this issue was happening in the older versions? Since I do not know the root cause, I experience the issue intermitten

[2018-08-06 10:45] balajeetm commented on #388
Hi Violeta,

I'm running a Spring Boot 2.0.3 web application with Servlet Container (spring web starter with tomcat). On receiving a request, the application makes a "POST" call to another service with a simple JSON body. The call is made using Reactor web client as velow

[code]

Intermittently, this request keeps throwing a connection reset by client error as below:
[code]

I'm unable to recreat

[2018-08-06 10:50] balajeetm commented on #388
Is it related to this [bug](https://github.com/netty/netty/issues/3539)?
(https://github.com/netty/netty/issues/3539)
It seems to be closed
I'm on 4.1.25 version of netty

[2018-08-06 10:57] violetagg commented on #406
@kadledav Can you provide some description of the scenario that you think causes the leak? Do you consume the whole response body, or you receive some error? Do you abandon the response body and consume only the status code/headers?

[2018-08-06 11:43] violetagg commented on #388
Can you try to reproduce with Reactor Netty 0.7.9.BUILD-SNAPSHOT - it uses Netty 4.1.28.Final, or just change Netty version to 4.1.28.Final?

[2018-08-06 15:03] balajeetm commented on #388
Will do it and revert shortly!

[2018-08-07 04:16] balajeetm commented on #388
Hi,

I upgraded the versions of Spring boot to 2.0.4.RELEASE & Netty to 4.1.28.Final. I still see failures. Below are the list of failures I get
[code]

[code]

Can I know on what lines are you thinking?

Thanks and Regards,
Balajee

[2018-08-07 04:30] balajeetm commented on #388
I've updated the spring boot version 2.0.4.RELEASE and the Netty version to 4.1.28.Final. Keeping an eye out for this issue. will keep you posted. Can I however know what is the root cause? This is a production impact, so if anyone can point me to the commit that fixed this, it would help. Without the RCA, I wouldn't be able to take this change to production.

Thanks,
Balajee

[2018-08-07 08:15] balajeetm commented on #388
Further to updating the versions, the frequency of the resets have reduced. Will revert after more checks

[2018-08-07 13:41] balajeetm commented on #388
@violetagg ,

Since you suggested to switch to nio transport.
I'm using the below to create a webclient. I'm forcing the epoll mechanism to level trigger (which is the default epoll mechanism in java nio). Is this what you meant by change to nio?
[code]

[2018-08-07 13:55] violetagg commented on #388
In `options` part call `preferNative(false)`

[code]

Then when execute the scenario instead of `reactor-http-client-epoll` as thread name you should see `reactor-http-nio`

[2018-08-07 15:22] balajeetm commented on #388
@violetagg

I can now confirm that even after using the latest versions of spring boot and netty (4.1.28.RELEASE), the issue still exists and i still face connection reset issues.

[code]
I'm now changing the calls to nio transport as suggested and trying the same. However, we still want to work in 'epoll' mode. I'll revert with the soak test and confirm the behavior.

Were there any changes made

[2018-08-08 12:41] balajeetm commented on #388
@violetagg

I've enabled a lot of debug logs to understand the rootcause. Connection reset by peer happens quite frequently with netty but the error is rarely bubbled up. However, everytime I see the error bubble up, I see the exception is always the below

[code]
 Does that help, I'm trying to get more details from the prod environment

[2018-08-08 15:29] balajeetm commented on #388
@violetagg

I can see, this is a sequence for failures.
* When it tries to make an http call, it tries to acquire an existing channel from pool (DefaultPromise)
[code]
* The active Connections is always 0
* It performs a ChannelInputShutdownReadComplete
[code]
* It fails publishing the below event
[code]
* Logs a connection reset by peer

Is it possible that unhealthy connections are kept in the p

[2018-08-09 07:06] balajeetm commented on #388
@violetagg , @smaldini , @simonbasle ,

I can confirm that by disabling the pool, the errors completely disappeared. I'm running some soak tests to confirm the same.
But the latency increases drastically when the pool is disabled. Does that give some pointers?
Just connecting the dots, I feel it possible that unhealthy connections are kept in the pool.

Can someone help me with this?
We just moved

[2018-08-10 20:09] wilkinsona opened #411 "When compression is enabled via a predicate the response body is not compressed"
### Expected behavior

The response body is compressed when the headers state that it is.

### Actual behavior

The response body is not compressed.

### Steps to reproduce

Apply the following diff to 0.7.x:

[code]

The intent of the new test is to use the predicate that's used to configure the server options to dictate whether or not the response is compressed. If you run it, it should fail lik

[2018-08-11 13:32] thekalinga opened #412 "Allow users to specify what type of cookie decoders are used"
### Expected behavior
User should be allowed to use either `ClientCookieDecoder.STRICT` (or) `ClientCookieDecoder.LAX` (and server variants) decoder of his choice when using `HttpClient`(may be `HttpServer`)

Some servers does not respond with complaint `RFC6265` complaint cookies & current implementation forces everyone to use only `RFC6265` complaint cookie decoders & it is not a wise decision a

[2018-08-13 08:36] rstoyanchev commented on #223
Could this be included in 0.8 or 0.8 M2 ? We have it [scheduled](https://jira.spring.io/browse/SPR-16228) for Spring Framework 5.1 and it seems straight forward enough + fitting for the configuration API changes.

[2018-08-13 11:40] balajeetm commented on #388
Is disabling the pool the solution to this? Is anyone looking at it?

Regards,
Balajee

[2018-08-13 16:16] the-fine commented on #301
+1

[2018-08-14 12:38] bcelenk opened #413 "Connection Closed Prematurely"
Hi,

I've come across with the **Connection closed prematurely** problem, reproducing is trivial. Below is the stack trace.

[code]

I'm using raw cloud-gateway and webflux which are both produced by Spring Initializr/no modifications, just added a uuid to represent each user's session.

Load is generated using Gatling, 2000rps. Below is the gatling's scala file.
[code]

After 11k requests, except

[2018-08-14 22:09] #405 closed

[2018-08-15 04:53] violetagg commented on #406
@kadledav Can you provide more information about the leak scenario?

[2018-08-15 14:31] kadledav commented on #406
The leak scenario is quite simple. I have exposed our application to a HTTP stress test and waited until ResourceLeakDetector reported a memory leak. But I am not able to reproduce it with a simple spring-boot application.  Our application has more complicated Netty pipeline because we are also using  a legacy protocol on the same port as HTTP for legacy clients.

I think I have found out where th

[2018-08-16 06:14] violetagg commented on #388
@balajeetm Yes I'm looking at it.

[2018-08-16 09:06] violetagg commented on #406
@kadledav Can you try reproducing the issue with `-Dio.netty.leakDetectionLevel=paranoid` and also increase Reactor Netty log level to `DEBUG` with adding `logging.level.reactor.ipc.netty=DEBUG` to the `application.properties`. You should receive stack traces like these http://netty.io/wiki/reference-counted-objects.html#troubleshooting-buffer-leaks

[2018-08-16 18:14] rstoyanchev opened #416 "Warn and/or protect against multiple parties updating HttpResources"
Global resources are very convenient and work transparently as long as all parties participate without customization. If multiple parties try to change the global resources via `HttpResources`, it should continue to work, as long as `HttpResources.get()` is used to access the resources, but the later changes would silently override the earlier ones, which could be tricky to find out and an unwelco

[2018-08-16 20:28] violetagg commented on #411
Closed #411 via caa1adf

[2018-08-16 20:28] #411 closed

[2018-08-17 17:15] violetagg commented on #413
@bcelenk Can you try different settings for `SO_BACKLOG`? The default is `1000`, so try to increase/decrease this and tell us the result.

Customise it with the code below

[code]

[2018-08-20 07:54] kadledav commented on #406
I have reproduced a memory leak and attached a log file. In the log file are all requests from server start until a memory leak occurred . [memoryLeak.log](https://github.com/reactor/reactor-netty/files/2301546/memoryLeak.log)

Scenario:
Login page with two other resources (css and fonts). I was quickly pressing F5 in the browser until memory leak was reported.
In the other test I was pressing F5

[2018-08-20 11:39] violetagg commented on #406
@kadledav What did you say the Reactor Netty version is?
I see the following class `reactor.ipc.netty.http.server.HttpProtocolPipelineBuilder` in the log file which does not exists in the current repository.

[2018-08-20 12:58] violetagg commented on #392
@duke-cliff Can you try this https://github.com/violetagg/webflux-vertx-benchmark/tree/master/reactornetty
and tell us the results from your system? (this is pure Reactor Netty)

[2018-08-21 07:14] kadledav commented on #406
Hello,

I have finally find out what is causing the memory leak. We are using our Netty ServerBootstrap and based on the communication we are modifying the pipeline to support desired protocol. Unfortunately we cannot start always with HTTP and do upgrade protocol with 101 status code due to our legacy clients, which doesn't support HTTP communication.

Our problem: We need to modify our pipeline

[2018-08-21 10:28] violetagg commented on #406
Hm you are able to manipulate the pipeline with the following two possibilities depending on when you want to attach the handlers:
`afterChannelInit` and `afterNettyContextInit`
Here https://github.com/reactor/reactor-netty/blob/0.7.x/src/test/java/reactor/ipc/netty/options/NettyOptionsTest.java#L141 you can find and example how this can be done.
Do you think this will help?

[2018-08-21 11:31] violetagg commented on #413
@bcelenk were you able to play with the TCP backlog configuration. I was thinking whether this is something like this one here https://github.com/spring-cloud/spring-cloud-gateway/issues/228#issuecomment-399970521
I tried to reproduce it on my local machine but the results are a bit different than yours
[code]

[2018-08-21 13:30] bcelenk commented on #413
Hi @violetagg

Sorry about the delay, I'm on vacation. While investigating the related issues, I had seen that particular issue and changed origin to use `Tomcat` and set the maxKeepAliveRequests to `-1`  in the past, which resulted in success until saturation of file descriptors, just like in your case. This is the expected behaviour since nothing goes wrong until it hits the limit. I've increase

[2018-08-22 06:49] dave-fl commented on #379
Is this 10k limit per host or per URL?

[2018-08-22 09:06] violetagg commented on #412
Please check #418 whether the API is sufficient.
Thanks.

[2018-08-22 15:28] violetagg commented on #413
@bcelenk Your last example was extremely helpful. Thanks for that.
The issue is that when we drain the last element from the queue that holds the request messages (sent by the client)/response messages (sent by the server) we should not schedule the flush operation but invoke it immediately.

the corresponding logs
[code]

Do you think you can grab #419 and test the change?

[2018-08-22 17:58] kweheliye commented on #155
@violetagg

Is there a way to have early access of the new 0.8.0 release?, just to see and test the new up coming features and changes.

Appreciate if you can point out. Thanks

[2018-08-22 18:54] violetagg commented on #155
@kweheliye Hey, yes sure, try our 0.8.0.M2 from https://repo.spring.io/libs-milestone

[2018-08-22 20:53] bcelenk commented on #413
@violetagg Thank you for spotting that. Unfortunately, I'm still experiencing the same exception while trying the last example. I've cherry-picked #419 onto `0.7.x` branch(also tried with `0.7.8 RELEASE` as the base) and applied it to both gateway/origin. If in your case the error is not reproducible, my humble suggestion would be to enable SSL while connecting to the origin. In that case, both `C

[2018-08-23 00:00] dave-fl commented on #413
Hi,

I've seen several mentions of problems related to pooling - Does this fall into the same category?

[2018-08-23 20:28] #412 closed

[2018-08-24 11:09] violetagg commented on #413
@dave-fl The problem that I described above so related to the pooling yes.

[2018-08-27 10:03] rgeoroceanu commented on #301
+1

[2018-08-27 11:00] violetagg commented on #392
@duke-cliff did you try Reactor Netty example? Thanks a lot.

[2018-08-28 11:18] mulderbaba commented on #413
@dave-fl It won't. I think the reason behind here would be the pool management itself. I tried @bcelenk 's sample as well and if the origin restarts itself, the gateway doesn't do a proper health check on the previously opened socket connections while trying the re-use them during the handshaking with the new origin. @violetagg do you have any comments on this one? if you can shed some light on th

[2018-08-28 12:52] dave-fl commented on #413
@mulderbaba

At any point do the connections move out of the invalid state and become useable again eg can this be worked around through retry?

I’ve also read that a fixed pool can address this (not sure why).

[2018-08-28 16:56] violetagg commented on #413
Hey,

I added additional debugging to the 0.7.9.BUILD-SNAPSHOT.
Please execute the following:
- enable the logger `logging.level.reactor.ipc.netty.resources.DefaultPoolResources=DEBUG` on the gateway application
- run the scenario
- stop the origin
- look at the log file and check the last record of the type `Channel closed, now x active connections and y inactive connections`. This should be the

[2018-08-28 21:27] smaldini commented on #378
There might be an error (reported elsewhere). I can think of having elastic scheduler at play (or many threads will have an arena cache created). The other thing is webflux/spring webclient might have a niche leak of some sort. It's worth keeping track of it

[2018-08-28 21:32] smaldini commented on #378
Could be related to https://jira.spring.io/browse/SPR-16633

[2018-08-29 10:53] yu199195 commented on #378
@smaldini tks

[2018-08-29 12:49] mulderbaba commented on #413
Hey @violetagg,

* Origin impl is running on a box and gateway impl is running on another box. load-tool `wrk` is running on the same box with origin impl.
* I enabled the logging as stated.
* I implemented 2 origins, one with reactor-netty based [legend:X] and one with tomcat based [legend:Y]. both origins get the request and delays it by 1 second.
* I updated my gateway implementation to use 0.7

[2018-08-29 20:46] danielra commented on #26
@smaldini When using the mentioned Flux#receive().timeout(xxx, xxx) approach, will the underlying (pooled) connection be closed / released upon timeout? Or is there a risk of exhausting the connection pool because the underlying connection(s) keep waiting to receive slow responses even though the application logic has moved on and won't actually care about the response?

[2018-08-30 14:16] smoomrik opened #421 "WebClient doesn't start read response body while request is still writing"
Hello,

I want to implement realtime proxy that using chunked transfer encoding for external side.
I'm newby at reactor, sorry if I make some stupid mistakes.

### Expected behavior
When webclient make a request with long body stream theresponse should be processed in parallel

### Actual behavior
Webclient waits until all long stream wrote, then start processing response.

### Steps to reproduce

[2018-08-30 21:38] madgnome opened #422 "LEAK: ByteBuf.release() was not called before it's garbage-collected"
### Expected behavior
No leak

### Actual behavior
`LEAK: ByteBuf.release() was not called before it's garbage-collected`

[code]

### Steps to reproduce
Unfortunately I have no idea how to reproduce it as this error happens randomly in our service in production.

### Reactor Netty version
0.7.8

### JVM version (e.g. `java -version`)
Java 8u181

[2018-08-30 22:07] smaldini commented on #422
That's pretty interesting is this a particular service, using reactor directly or via something else (spring ?)

[2018-08-30 22:17] madgnome commented on #422
🤦‍♂️ oops forgot to mention that.

It's a service using Spring Boot 2.0.4 with webflux

[2018-08-31 02:40] switchYello opened #423 "hello ，How can I handle the 301 redirect of the server, can I get the redirected data directly, or does it still exist?"
### Following link https://pivotal.io/security should be used to report security related issues

### [Gitter](https://gitter.im/reactor/reactor) should be used for questions and discussions

### Expected behavior

### Actual behavior

### Steps to reproduce

### Reactor Netty version

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)

[2018-08-31 02:50] dave-fl commented on #378
Spring Reactive Security switches onto elastic.

https://github.com/spring-projects/spring-security-reactive/blob/master/spring-security-reactive/src/main/java/org/springframework/security/authentication/ReactiveAuthenticationManagerAdapter.java

[2018-08-31 04:26] violetagg commented on #422
@madgnome did you run with `-Dio.netty.leakDetection.level=paranoid`? Also enable logging `logging.level.reactor.ipc.netty=DEBUG`, thus we will have more information in the stack traces with the leaked memory.

[2018-08-31 04:32] violetagg commented on #423
For questions please ask on [Gitter](https://gitter.im/reactor/reactor)

Teke a look here for an example https://github.com/reactor/reactor-netty/blob/0.7.x/src/test/java/reactor/ipc/netty/http/client/HttpRedirectTest.java#L84

[2018-08-31 04:32] #423 closed

[2018-08-31 08:18] mulderbaba commented on #413
@violetagg I made 2 runs with reactor-netty based gateway and origin. Using the latest snapshot of 0.7.x.

First run contains all logs with debug mode. Here are the logs of gateway, logs of origin and tcpdump of origin:
[gateway_log_01.log](https://github.com/reactor/reactor-netty/files/2339214/gateway_log_01.log)
[gateway_log_02.log](https://github.com/reactor/reactor-netty/files/2339215/gateway_

[2018-08-31 17:16] dave-fl commented on #422
@madgnome Are you using `ReactiveAuthenticationManagerAdapter` or Scheduling on `elastic`?

[2018-08-31 23:15] madgnome commented on #422
@violetagg haven't tried in `paranoid` mode this it happens in production.

@dave-fl yes we're using `ReactiveAuthenticationManagerAdapter`

[2018-09-01 00:59] dave-fl commented on #422
@magnome

Based on my stress testing I can only trigger a leak when using this class. If I do my own implementation which does not use the elastic scheduler, there is no leak.

The leak itself seems to take place around a full GC.

See:

https://jira.spring.io/browse/SPR-16633

[2018-09-01 11:28] Ben-Mark opened #426 "ReactorNettyWebSocketClient socket closes after subscribe"
### Expected behavior
Expecting ReactorNettyWebSocketClient to keep the socket open

### Actual behavior
I'm connecting to a remote server which isn't neety/reactor/java related
with jetty, the socket stays open
but with ReactorNettyWebSocketClient  the socket closes right after I send and receive the payload

### Steps to reproduce

        MonoProcessor<JsonNode> output = MonoProcessor.create();

[2018-09-01 12:31] dave-fl commented on #378
Just got it myself.

`io.netty.util.internal.OutOfDirectMemoryError: failed to allocate 16777216 byte(s) of direct memory (used: 251658247, max: 268435456)`

Nothing particularly unique, just Spring Cloud Gateway + some WebClient calls.

[2018-09-01 12:47] dave-fl commented on #422
Seems like we triggered a leak as well, just took much longer with the said changes I made.

[2018-09-01 18:58] dave-fl commented on #422
We began doing a more end to end style test and it failed after 11 hours.  So although we got a longer test run, things still failed.  Here are some of the recent leak logs.

This is on the latest snapshot and Netty 4.1.29

		   2018-09-01T14:38:07.83-0400 [APP/PROC/WEB/0] OUT 2018-09-01 18:38:07.831 ERROR 19 --- [server-epoll-13] o.s.w.s.adapter.HttpWebHandlerAdapter    : Unhandled failure: Conne

[2018-09-01 19:05] violetagg commented on #422
@dave-fl I cannot see in these stack traces reactor netty classes.
The recommendation [here](https://github.com/reactor/reactor-netty/issues/422#issuecomment-417548973) will be really helpful as we add additional hints to the Netty's leak detection mechanism (if it is not production of course). These hints will helps a lot.
Regards,
Violeta

[2018-09-01 19:11] dave-fl commented on #422
I can try but it might blow up as we are running this with production style load and if we do that, we might not be able to simulate the timeouts being observed.

Note that the Cloud Gateway code is using Mono.timeout on http client, not sure if something odd could be going on here.

[2018-09-01 20:15] dave-fl commented on #422
Anything useful here?

	September 1st 2018, 15:39:36.630	2018-09-01 19:39:27.017 DEBUG 15 --- [server-epoll-12] r.ipc.netty.http.server.HttpServer       : [id: 0xadf66635, L: ! R:] INACTIVE
	September 1st 2018, 15:39:36.627	2018-09-01 19:38:58.022 DEBUG 15 --- [server-epoll-12] r.i.n.http.server.HttpServerOperations   : [id: 0x9a447cf0, L: - ] Increasing pending responses, now 1
	September 1st 201

[2018-09-01 21:17] dave-fl commented on #422
Alright - got something.

	2018-09-01T17:13:39.32-0400 [APP/PROC/WEB/2] OUT     io.netty.channel.AbstractChannelHandlerContext.invokeChannelRead(AbstractChannelHandlerContext.java:362)
	2018-09-01T17:13:39.32-0400 [APP/PROC/WEB/2] OUT     io.netty.handler.codec.ByteToMessageDecoder.channelRead(ByteToMessageDecoder.java:265)
	2018-09-01T17:13:39.32-0400 [APP/PROC/WEB/2] OUT     io.netty.channel.epo

[2018-09-01 22:52] dave-fl commented on #422
Ok, I think I have some better logs for you.

	2018-09-01T18:37:27.35-0400 [APP/PROC/WEB/0] OUT 2018-09-01 22:37:27.350 DEBUG 19 --- [client-epoll-17] r.i.n.http.client.HttpClientOperations
	2018-09-01T18:37:27.35-0400 [APP/PROC/WEB/0] OUT 2018-09-01 22:37:27.352 DEBUG 19 --- [client-epoll-17] reactor.ipc.netty.channel.FluxReceive    : [id: 0x62940c44] Subscribing inbound receiver [pending: 0, can

[2018-09-02 17:07] dave-fl commented on #422
In an effort to try to simplify this.  I'm trying to reproduce with a single user.  I can trigger things pretty easily, there is no particular unique action that is being performed that causes this to happen consistently.  It's just random e.g. if I do the same action 100 times, it will happen a few times.

When it does take place there are no errors, i.e. all requests are coming back correctly fr

[2018-09-02 18:42] dave-fl commented on #422
Sorry last one.  I really hope these are useful.  This is basically the end to end of a single click to a leak.  I've removed things where I have to.

	2018-09-02 14:06:39.597 DEBUG 32212 --- [ctor-http-nio-1] r.ipc.netty.http.server.HttpServer       : [id: 0xd8555528, L:/0:0:0:0:0:0:0:0:8090] READ: [id: 0xe389b4e7, L:/127.0.0.1:8090 - R:/127.0.0.1:41784]
	2018-09-02 14:06:39.597 DEBUG 32212 --- [

[2018-09-02 19:08] dave-fl commented on #422
I just ran `FluxReceiveTest.testByteBufsReleasedWhenTimeout` and it shows as passed but the logs show memory being leaked.  It is not consistent i.e. sometimes it shows errors sometimes it does not.  Maybe a step in the right direction.

[2018-09-03 23:12] dave-fl commented on #422
Indirectly related, but it might be useful to add some sort of deterministic leak detection to the test cases.  Perhaps already "well known".  But definitely makes visibility into the buffer count easier at least for me.

https://github.com/netty/netty/issues/5277

[2018-09-04 15:04] violetagg commented on #301
Fixed with e26831e
Only `CLF` is supported for the moment.
`-Dreactor.netty.http.server.accessLogEnabled=true` can be used to enable access log (by default it is disabled)
The configuration below (logback) or similar (other logging frameworks) can be used to have a separate access log file
[code]

[2018-09-04 15:04] #301 closed

[2018-09-04 21:01] dave-fl commented on #392
@violetagg Here are the Results.  Tested with Gatling, but enough to give you an idea. 2000 user ramp up over 1 minute and total test time of 3 minutes.

Netty

![image](https://user-images.githubusercontent.com/1098557/45057498-c4837300-b063-11e8-9f02-b2dcecc481b2.png)

Webflux

![image](https://user-images.githubusercontent.com/1098557/45057555-e846b900-b063-11e8-9a06-a26b8e0d0a38.png)

Reactor

[2018-09-05 13:40] rt-krz commented on #308
faced the same issue. Why can't I process the request body in parallel after I sent 200 back? The request gets discarded with Dropped HTTP content, Since response has been sent already

[2018-09-05 15:29] violetagg commented on #308
@rt-krz if you continue to send the response body after sending the response headers, then you will continue to receive the incoming request body. But if you finish the response then the request body will be discarded as the server does not need it.

[2018-09-06 07:00] bclozel commented on #421
Related StackOverflow question: https://stackoverflow.com/questions/52113235/webclient-doesnt-read-response-until-request-write-is-completed

[2018-09-06 20:56] rstoyanchev commented on #421
Doesn't that make sense? The HTTP protocol is request-response, so the response happens after the request. It is not bi-directional like WebSocket.

[2018-09-07 10:05] smoomrik commented on #421
@rstoyanchev Why not? this is not forbidden strongly and may be useful in many cases.
For example, I start a long stream, but I don't know if I already received some error response from the server or successful proactive data.

This enhancement can improve latency in these not typical use cases.

[2018-09-07 20:42] JCASTANO commented on #413
@violetagg Good afternoon, some possible date of solution for this problem? We are starting a project with spring webflux and we are a little concerned about the problem because we have a large volume of users, greetings and many thanks

[2018-09-08 15:06] dave-fl commented on #378
Spring Webclient just fixed a small leak.

https://jira.spring.io/plugins/servlet/mobile#issue/SPR-17025

[2018-09-10 10:40] yu199195 commented on #381
I use webflux websocket ， It's a problem，
this is jstack：
"bbex-webflux-http-nio-141" #166 prio=5 os_prio=0 tid=0x00007f226be6a000 nid=0x7ba9 runnable [0x00007f2139493000]
      java.lang.Thread.State: RU: RUNNABLE
	at at io.netty.channel.AbstractChannelHandlerContext.findContextOuxtOutbound(nd(AbstractChannelHandlerContext.java:946)
	a)
	at at io.netty.channel.AbstractChannelHandlerContext.flush(

[2018-09-11 01:52] jicui commented on #388
I'm facing the same issue
 io.netty.channel.unix.Errors$NativeIoException: syscall:read(..) failed: Connection reset by peer
        at io.netty.channel.unix.FileDescriptor.readAddress(..)(Unknown Source)

in  springboot-2.0.3-release or updates on this or I have to switch to NIO?

[2018-09-11 09:11] balajeetm commented on #388
@jicui ,
You can try switching to nio and check if that works.
That did not work me for me however. So I disabled the pool & the errors disappeared.

Cheers,
Balajee

[2018-09-11 13:31] asafbruner commented on #413
Hi @violetagg, I join the comment above - we are also suffering from this issue and would love to know if there is progress with this issue. Thanks.

[2018-09-11 13:47] violetagg commented on #422
@dave-fl Do you specify `response timeout` when using Spring Gateway?

[2018-09-11 13:57] dave-fl commented on #422
@violetagg Yes, we set all our timeouts

[2018-09-11 14:14] dave-fl commented on #422
@violetagg I am not sure that timeouts are the full issue here, e.g. if any sort of IO Exception happens mid-flight the same end result could be the case.  We are seeing this in some of our calls.  I think it would be worth creating a test case that attempts to simulate an abrupt termination of a connection.

	2018-09-10T18:22:56.02-0400 [APP/PROC/WEB/1] OUT 2018-09-10 22:22:56.025 TRACE 15 --- [s

[2018-09-11 15:29] violetagg commented on #422
@dave-fl Do you think you can try that
https://github.com/spring-cloud/spring-cloud-gateway/pull/540

[2018-09-11 15:47] dave-fl commented on #422
@violetagg We are using the built in timeout behavior.

	spring:
	  application:
		name: my-gateway
	  cloud:
		gateway:
		  httpclient:
			connect-timeout: 20000
			response-timeout: 20s

[2018-09-11 15:56] dave-fl commented on #422
@violetagg I can try that.  I see that you have moved to Netty native timeouts.

Can you please comment on the possibility of a leak with the connections being aborted.  I am mentioning this because I still saw leaks when in paranoid mode even when no timeouts were taking place.

[2018-09-11 17:37] rstoyanchev commented on #422
Since WebFlux was mentioned earlier in this thread, keep in mind the following two fixes [SPR-17025](https://jira.spring.io/browse/SPR-17025) and [SPR-17246](https://jira.spring.io/browse/SPR-17246).

[2018-09-11 18:09] violetagg commented on #422
@dave-fl With Reactor Netty 0.7.x implementation the timeouts (provided by Flux/Mono) cannot be handled correctly and because of that Spring Gateway implementation will use the Netty's ReadTimeoutHandler.
With Reactor Netty 0.8.x implementation we can handle this use case properly.

[2018-09-11 18:53] dave-fl commented on #422
@violetagg I wish I could, unfortunately I don't have one as this is happening on an end to end test.

I believe there are some proxies out there that can simulate various network conditions.  It might be worth running a gateway style test where the client and connection from gateway to the back end server route through one of these proxies that simulate the occasional connection/network error.

I

[2018-09-11 20:10] #223 closed

[2018-09-12 02:37] yu199195 commented on #381
Is this problem solved？

[2018-09-12 07:07] yu199195 commented on #393
ues spring webflux websocket ，Just one big request ，AbstractChannelHandlerContext CPU 100%

[2018-09-12 12:04] violetagg commented on #422
they are handled

[2018-09-12 12:06] violetagg commented on #426
@Ben-Mark What is exactly the use case that you want to achieve? The example above is working in this way because you use `MonoProcessor` which will cancel the inbound connection.

[2018-09-12 12:31] violetagg commented on #381
@yu199195 Nope it is not solved. Thanks for the demo project. We are looking at it.

[2018-09-13 10:13] yu199195 commented on #381
[calvin-websocket.tar.gz](https://github.com/reactor/reactor-netty/files/2378805/calvin-websocket.tar.gz)
@violetagg

[2018-09-13 15:13] rstoyanchev commented on #392
We're currently looking into this in Spring WebFlux. Please follow https://jira.spring.io/browse/SPR-17250.

[2018-09-13 15:20] duke-cliff commented on #392
Sorry, I did not notice your message(following too many threads).

I will try the reactor+netty by the end of this week and will come back to you. Thanks

[2018-09-13 15:48] duke-cliff commented on #392
@violetagg
@rstoyanchev

 I re-run all different implementations again with the same setup.
 wrk -d60s -t30 -c100 -R 500000 -s post.lua ...
WRK Client runs on: AWS t2.xlarge. Server runs on: AWS t2.xlarge. Both are in the same VPC.
reactor netty: 47747.90 req/sec
netty:              98912.20 req/sec
vertx:              97039.28 req/sec
webflux:           41141.73 req/sec

Reactor is 50% of native

[2018-09-13 16:06] violetagg commented on #392
@duke-cliff Did you run it several times or just once? On my side I do not see such big difference between Reactor Netty/Netty/Vert.x.

Reactor Netty
[code]

Netty
[code]

Vert.x
[code]

[2018-09-13 16:35] duke-cliff commented on #392
The server information was wrong above. It's actually running on c5.2xlarge(8CPU/ 16GB)

Maybe you hit some other bottlenecks on the (CPU/Memory/Network IO).
But I will be satisfied if the Webflux performance could be close to Reactor at this point(migrate from spring boot 1 with tomcat).

Reactor Netty
[code]

Netty
[code]

Vert.x
[code]

[2018-09-13 16:40] tkp1n commented on #392
@violetagg Have you considered setting up a benchmark over at TechEmpower (or would you support an effort to do so)?

[2018-09-14 01:10] rstoyanchev commented on #223
@violetagg, we also needs this for `WebSocketServerHandshakerFactory` based on SPR-16228. Do you want me to create a separate ticket for that?

[2018-09-14 07:53] bcoste commented on #388
While waiting a fix for this issue, I solved it this way :
- For microservice with spring cloud gateway I used NIO instead of EPoll (by using builder.preferNative(false)) and I used reactor-netty 0.7.9 RELEASE
- For microservice with spring webflux I used Undertow instead of Netty by adding dependency "org.springframework.boot:spring-boot-starter-undertow" just after "org.springframework.boot:spri

[2018-09-14 11:10] zpf7879 commented on #351
I cannot see how this is sorted out and why the issue is closed. How we can block and get a result from Mono?

[2018-09-14 12:34] bclozel opened #430 "sendFile marks the response as compressed but does not compress the body"
This is a follow up issue for #340, the issue is only present on 0.7.x (it's apparently already fixed in the 0.8.x branch).

When writing static resources using `sendFile` and using an HTTP compression predicate, the HTTP response contains the gzip encoding header, but the actual response body is not compressed as it should be.

### Steps to reproduce

The [sample application listed here shows the

[2018-09-14 20:10] Ben-Mark commented on #426
My use-case is to communicate via socket to another server where that is a media server which needs its sessions to be alive
Once the socket breaks , the inner session is lost.
Therefore I need all socket connections to stay open, any clue on how to achieve that will be blessed
Thanks.

[2018-09-16 07:52] 17610070778 commented on #351
我写代码，也遇到了这样的问题，查了许多资料，依旧不知道怎么解决，请问这个原因是为什么？

[2018-09-16 08:07] 17610070778 commented on #351
java.lang.IllegalStateException: block()/blockFirst()/blockLast() are blocking, which is not supported in thread reactor-http-nio-3
	at reactor.core.publisher.BlockingSingleSubscriber.blockingGet(BlockingSingleSubscriber.java:77) ~[reactor-core-3.1.8.RELEASE.jar:3.1.8.RELEASE]
	at reactor.core.publisher.Mono.block(Mono.java:1175) ~[reactor-core-3.1.8.RELEASE.jar:3.1.8.RELEASE]
	at com.ymhq.nomad.c

[2018-09-16 08:07] 17610070778 commented on #351
你的解决了吗？

[2018-09-16 16:13] #30 closed

[2018-09-17 10:46] blackwizard1812 opened #434 "Access Logs contents enhancement"
#301  lately brought support of access logs.
I would need a couple of more information in those logs:
- request port
- time taken (in milliseconds)

Furthermore, I don't get the point in having the date time with force formatting in the logged message while the logger will add it with user-configured format.

[2018-09-17 12:37] violetagg opened #436 "Provide more options for customising the access log"

[2018-09-17 12:45] violetagg commented on #434
With the first implementation we support `CLF`, so we use the specified date format.
When you use this log configuration https://github.com/reactor/reactor-netty/blob/master/src/test/resources/logback.xml#L35 you will receive exactly `CLF`.

I created another enhancement #436 so that we provide more options for the access log.

[2018-09-17 13:04] #434 closed

[2018-09-17 13:42] violetagg commented on #351
The solution depends on the use case. You may want to ask on the gitter channel: https://gitter.im/reactor/reactor

One very basic scenario is the following:

When you "echo" the received request body.

If you write the handler in the following way you will receive the exception above:
[code]

If you rewrite the code to the one below you'll be able to achieve echo of the request body without block

[2018-09-17 15:44] zpf7879 commented on #351
Sort of the same idea with @violetagg, I write my code as below:

`return WebClient.builder()
                .baseUrl()
                .build()
                .post()
                .retrieve()
                .bodyToMono(Map.class)
                .flatMap(e -> getAuthentication(e, authentication));`

And:
`private Mono<? extends Authentication> getAuthentication(Map sspResponse, Authenticati

[2018-09-17 16:14] violetagg commented on #351
If you really want to block you can achieve that with additional external threads. The idea here is that Reactor Netty works with very small number of threads and you should not block these threads.

[2018-09-17 20:32] fabianedl777 commented on #413
Hi @violetagg, good afternoon:

I am working on a project with webflux and we are using WebClient to make HTTP requests to external services, at this moment we have the problem described in this ticket when we make 100 concurrent requests.

Perform the following tests, at the time of creating the WebClient create a poolResource of type elastic and this generates me the error

`this.webClient = web

[2018-09-17 22:08] daemonsoft commented on #413
Hi @violetagg I just want to join the coments above about a possible solution or workaround  for this issue.
Thanks in advance.

[2018-09-18 01:55] 17610070778 commented on #351
（这段代码是跑在Netty中的）问题已经得到解决。是因为Mono.just()返回的是MonoJust，而执行map方法后，返回的是MonoMap，执行zipWith后，返回的是MonoZip。而MonoJust对象在block()时，直接返回的值，MonoMap以及MonoZip在执行block()时，首先检查当前线程是否是NoBlocking的对象，如果是则不能阻塞，报异常。调试的时候发现Netty的主线程是NoBlocking的代理对象。最后说一下Netty的线程是不可以阻塞的对吗？

[2018-09-18 07:11] zpf7879 commented on #351
@17610070778  According to @violetagg The idea here is that Reactor Netty works with very small number of threads and you should not block these threads. So, it seems like "Netty的线程是不可以阻塞的".

[2018-09-19 13:39] rstoyanchev commented on #223
Ping.

[2018-09-19 13:44] violetagg commented on #223
#431 Isn't this what you need?

[2018-09-19 14:27] dave-fl commented on #422
@violetagg Going to 0.8.x does not seem to be any better.

[2018-09-19 15:43] rstoyanchev commented on #223
Oops, I missed that, thanks!

[2018-09-22 09:40] sdeleuze commented on #90
I reopen this issue, I still see it in Spring Fu. To reproduce clone https://github.com/spring-projects/spring-fu, remove `HttpResources.reset()` instances from https://github.com/spring-projects/spring-fu/blob/master/kofu/src/test/kotlin/org/springframework/boot/kofu/web/AbstractWebServerDslTests.kt, you will see test failures with client requesting the wrong server.

[2018-09-22 15:31] violetagg commented on #422
@antoniy Till now we identified issue when `Flux/Mono#timeout` is used and recommended Netty's `ReadTimeoutHandler/WriteTimeoutHandler` usage instead of `Flux/Mono#timeout`. Is your scenario the same or something else?

[2018-09-22 15:34] dave-fl commented on #422
I think majority of issues are something else. My testing shows that 0.8x still leaks. Not like the Titanic but the messages are in the logs.

[2018-09-22 15:38] violetagg commented on #422
@dave-fl I'm asking because sometimes its application leak then Reactor Netty. So stating I see memory leaks reported in the logs doesn't mean it is the same issue.
@antoniy If you are able to provide a reproducible scenario it will be really helpful.

[2018-09-22 15:42] antoniy commented on #422
@violetagg I'm not aware what's the reason for the leak in our app. We are using pretty standard stuff. Calling third-party services with WebClient with GET/POST requests and serving simple POST to our system via WebFlux. I have no reproducible scenario. It's popping at random. Here is one such log:

[code]

We have docker OutOfMemory errors though. I think it might be related to netty leaking som

[2018-09-22 17:47] developmentMLPN opened #439 "Provide a way to receive bigger messages on WebSocket Client"
### Expected behavior
The max frame payload length of a web-socket message should be changeable.
### Actual behavior
Currently when a WebSocket client is created you have no options (that i found) to specify the max frame payload length. If a message bigger than 65536 bits arrives an exception is thrown by `WebSocketClientHandshaker`.  Debugging the problem has led me to `HttpClientWSOperations` w

[2018-09-23 18:44] smaldini opened #440 "Rename AttributeKey persistent channel to allow coexisting with 0.7"
If not renamed, having both 0.7 and 0.8 in use in your application will result in:

[code]

[2018-09-23 18:46] #440 closed

[2018-09-25 04:11] hc-codersatlas opened #441 "Unix Domain Socket support"
Hi, useful when testing or if via a reverse proxy (e.g. via nginx or load balancer etc).

Netty already has support for this. Would be grant if it can be added.

`SocketAddress s = new DomainSocketAddress("/tmp/netty.sock");`

[2018-09-25 07:58] Ben-Mark commented on #426
Hi, is there any update or anything that I can help with regarding this issue?

[2018-09-25 15:34] vpavlyuk commented on #413
Hi @violetagg Is there any possible solution or a configuration workaround to try? We are seeing this issue every time we attempt to put spring cloud gateway in front of one of our higher traffic services (which has occasional 10ms long usage bursts of 100-500 requests within the 10ms, but otherwise serves about 1000-2000 req/min). The "Connection closed prematurely" exception shows up with a some

[2018-09-25 23:05] CinnamonBagels commented on #413
@vpavlyuk can you see if adding a retry
[code]
helps? [The solution above seems to be an acceptable workaround](https://github.com/spring-cloud/spring-cloud-gateway/issues/473#issuecomment-412808921).

[2018-09-26 08:00] kalhusak opened #442 "Channel configuration after its initialization"
Hi, I would like to add handler AFTER channel is initialized in Spring Boot application after handler added by Spring. In a previous version of reactor-netty 0.7.9 I can do it in that way:
[code]
New version 0.8.0 doesn't contains HttpServerOptions and it is replaced by HttpServer so I wrote something like that:
[code]
 but the channel isn't initialized yet so its pipeline is empty and I can't add

[2018-09-26 08:32] violetagg commented on #442
@kalhusak use `doOnConnected`. For example: https://github.com/reactor/reactor-netty/blob/master/src/test/java/reactor/netty/channel/FluxReceiveTest.java#L116

[2018-09-26 10:27] mmanciop opened #443 "Is this a good way to execute blocking code in reactor-netty + webflux?"
I need to mix blocking and non-blocking code (*sigh*). I came up with https://github.com/mmanciop/webflux-blocking-example, which *seems* to work fine, at least in terms of threads.

I'd love to hear from the reactor experts if this approach is actually OK, or is there are hidden pitfalls I am missing.

[2018-09-26 11:10] SyedMuhammadSufyian commented on #439
@simonbasle , @akarnokd .Guys I am willing to start my contribution to Netty , by working on this issue .Can you guys provide some direction on this issue ?

[2018-09-26 13:06] quanticc commented on #439
This is fixed in 0.8.0, look at #429 and #431

[2018-09-26 13:30] #439 closed

[2018-09-26 16:27] SyedMuhammadSufyian commented on #360
Is this bug still relevant ?

[2018-09-27 21:15] smaldini commented on #426
You should not subscribe MonoProcessor (otherwise called "FirstProcessor") that would cancel the flow it subscribes to at the first signal it receives.
2 Solutions:
- Use `doOnNext(output::onNext)`, note that after the first json the other json would be ignored in this example
- Use `ReplayProcessor` instead and if you consume your output for the first value : `output.next().subscribe(json -> doso

[2018-09-27 21:15] smaldini commented on #426
I will close this for now but don't hesitate to re-open.

[2018-09-27 21:15] #426 closed

[2018-09-27 21:27] smaldini commented on #407
Probably Related to #90

[2018-09-27 21:30] smaldini commented on #422
Do you reproduce on WebFlux 5.1.0.RELEASE ?

[2018-09-27 21:35] dave-fl commented on #422
When I tested with Greenwhich snapshot a couple of weeks ago I had both leaks and this error (Native timeouts were broken).

https://github.com/spring-cloud/spring-cloud-gateway/issues/549

I can try with their latest snapshot again.

[2018-09-27 21:48] smaldini commented on #392
@duke-cliff what configuration are you using ? default ? 1 thread ? Epoll ?
@tkp1n we would love to have contributors here but that is very much in our radar to publish benchmarks when possible (specially we have been requested blocking vs non blocking).

[2018-09-27 21:51] smaldini commented on #422
Spring Framework 5.1 was released last week

[2018-10-02 13:31] rstoyanchev opened #444 "WebsocketOutbound sendClose never returns when nested"
Originally reported for WebFlux in [SPR-17306](https://jira.spring.io/browse/SPR-17306) but I was able to confirm with just Reactor Netty that when a call to `out.sendClose` is nested within the pipeline for the write publisher, then the close does not complete. The following times out:

[code]

However if the write and close are in a sequence, then it works:

[code]

I've confirmed the above with

[2018-10-02 20:01] violetagg commented on #413
Hi,

Are you able to try this fix #446 and tell us the result.

Thanks,
Violeta

[2018-10-03 23:58] smaldini opened #447 "Newly created pooled connection forwards the wrong connection to the Mono"
Detected while upgrading RSocket to 0.8. If the thread pool of the client is 1, the current PooledConnectionProvider#run was going to invoke the last sink.success() before connection gets transformed via ChannelOperationHandler#channelActive.

[2018-10-03 23:58] smaldini commented on #447
Should be fixed by https://github.com/reactor/reactor-netty/commit/935ddef4c68031571bb27b964b789465413373e2 - waiting confirmation @OlegDokuka

[2018-10-04 00:35] fifothekid opened #448 "Changing the Order of the Spring Security WebFilter"
Changing the Order of the Spring Security WebFilter

I have an API Gateway implemented using Spring Cloud Gateway that uses Spring Security. Spring Security for WebFlux is implemented as a WebFilter right at the beginning of the filter chain. So after successful authentication the request would be forwarded to Spring Cloud Gateway's RoutePredicateHandlerMapping, which would try to deduce the desti

[2018-10-04 08:59] violetagg commented on #448
Hi,

Please use the proper channel for Spring Framework questions
https://stackoverflow.com/questions/52637351/changing-the-order-of-the-spring-security-webfilter

Regards,
Violeta

[2018-10-04 08:59] #448 closed

[2018-10-04 10:30] violetagg commented on #90
@sdeleuze Can you test PR #449

[2018-10-04 10:31] violetagg commented on #407
@mp911de Can you test PR #449

[2018-10-04 11:02] mp911de commented on #407
The issue still persists. Looking at the patch, the code compares host and port to decide whether the pool is suitable. In my case, I'm providing a different SSL configuration that uses the same host/port.

[2018-10-04 11:28] OlegDokuka commented on #447
Fixed my issue. We can close

[2018-10-04 11:29] #447 closed

[2018-10-05 14:01] dave-fl commented on #413
@violetagg Is 446 only for 0.7.x or 0.8.x too?

[2018-10-05 14:11] violetagg commented on #413
@dave-fl the commit is now in 0.7.10.BUILD-SNAPSHOT and 0.8.1.BUILD-SNAPSHOT

[2018-10-05 15:57] violetagg commented on #430
I added test cases to cover this issue bcde0454af45f54c3dd39bec8ba5cb52f6099cd6. I do not see an issue in Reactor Netty for the moment.
I suspect an issue in Spring Framework https://jira.spring.io/browse/SPR-17348.
Closing, you can reopen it later if it appear Reactor Netty issue.

[2018-10-08 09:05] violetagg commented on #422
Hi,

Were you able to test the latest Spring Framework release?
Can you provide a feedback?

Thanks,
Violeta

[2018-10-08 10:32] violetagg commented on #416
With #452 a WARN message is added for both cases (create/update)

The current implementation disposes the previous loops/pools when updated
https://github.com/reactor/reactor-netty/blob/0.7.x/src/main/java/reactor/ipc/netty/tcp/TcpResources.java#L222

[2018-10-08 11:53] violetagg commented on #381
@yu199195 Based on your sources I tried to extract some scenario in order to reproduce the issue, unfortunately without success. Can you explain what the setup is and how to run your example? Can you try reproduce the issue with the current SNAPSHOT version?

[2018-10-08 11:56] violetagg commented on #413
Hi,

Can you provide feedback for the fix?

Thanks,
Violeta

[2018-10-08 12:01] bcelenk commented on #413
Hi @violetagg
The fix that you've sent fixed the exception, now the exception is thrown as connection reset by peer.
The problem that I've trying the solve is the resets itself, not sure it's related to reactor-netty or not.

[2018-10-08 12:02] violetagg commented on #388
Can you try the latest Reactor Netty SNAPSHOT (0.7.10) and the latest Spring Framework SNAPSHOT?

[2018-10-08 12:03] violetagg commented on #413
@bcelenk And the `Connection reset by peer` is it IOException or SocketException? What Tcp dump shows?

[2018-10-08 12:08] bcelenk commented on #413
dump shows server sends the RST, below is the exception:
`java.io.IOException: Connection reset by peer
	at sun.nio.ch.FileDispatcherImpl.read0(Native Method) ~[?:1.8.0_131]
	at sun.nio.ch.SocketDispatcher.read(SocketDispatcher.java:39) ~[?:1.8.0_131]
	at sun.nio.ch.IOUtil.readIntoNativeBuffer(IOUtil.java:223) ~[?:1.8.0_131]
	at sun.nio.ch.IOUtil.read(IOUtil.java:192) ~[?:1.8.0_131]
	at sun.nio.ch

[2018-10-08 15:34] smaldini opened #453 "Rework global resources in a single registry"
Given how much they overlap, we should refactor TcpResources and UdpResources into a single GlobalResource (or similar).

[2018-10-08 16:19] smaldini opened #454 "Improve Pipeline configuration"
We have noted with @violetagg that creating keys for PooledConnectionProvider can be challenging because of the pipeline configuration matching. For instance, a previous connection can require what we call "static" handlers such as ssl, log or proxy, while the next acquired connection will not. This part is mostly fine, the problem is when specific transport add their own handler like HttpClient w

[2018-10-08 16:44] smaldini commented on #444
With the current implementation this is  to be expected as we already have one queued sender and we will wait for this sender to terminate (here your sendObject) to run the publisher created by sendClose.
We need to change our current design for publisher handling to :
- authorize one publisher sender at a time and fast fail any nested call like yours
- make sendClose fast track to interrupt any c

[2018-10-08 17:55] rstoyanchev commented on #444
FWIW a nested send is not expected and supported in the Spring WebSocket API even. It is also not explicitly validated against, but the API exposes only one send method with a Publisher.

The one I'm concerned with is sendClose. If it can't be fixed in the near future, we'll need to document it as a limitation since unlike other send methods, this one is actually expected to be used in addition to

[2018-10-08 19:51] #416 closed

[2018-10-09 08:16] sdeleuze commented on #90
The issue still occurs with latest snapshot, you you want to debug that I have created a branch that reproduces the issue: https://github.com/spring-projects/spring-fu/tree/reactor-netty-http-resources. You can run for example `JacksonDslTests` it fails without `HttpResources.reset()` at the end of each test.

[2018-10-09 10:04] sdeleuze commented on #90
As noticed by @violetagg, `Californium-BUILD-SNAPSHOT` was not using Reactor Netty snapshots. Now that it is the case, I have been able to verify that the issue is fixed. Thanks.

[2018-10-09 10:04] #90 closed

[2018-10-10 10:44] #393 closed

[2018-10-10 15:09] violetagg opened #457 "Refactor ChannelOperationsHandler"
so that it does not use Queue for the pending writes

[2018-10-12 13:02] YuryYaroshevich opened #458 "How to stream responses?"
I have such code:
[code]
And I expect that if `entityStrStream` contains more than one entryStr in stream then I will get more than on response. But for some reason with such code I get only response related to creation of the first entity. It seems that subsequent elements from `entityStrStream` are not processed.
Am I expecting wrong things or it I'm doing something in the wrong way?

[2018-10-12 13:49] isopov opened #459 "reactor.netty.http.client.WebsocketTest#duplexEcho test sometimes fails"
I'm on windows. Java 1.8.0-172
This tests passes most of the time, but sometimes fails with the following stacktrace:
[code]
AFAIU localized error message is "An existing connection was forcibly closed by the remote host"

[2018-10-12 14:53] violetagg commented on #458
Ask you questions here https://gitter.im/reactor/reactor

[2018-10-12 14:53] #458 closed

[2018-10-13 09:57] mostroverkhov opened #460 "Websocket client connect() Mono does not emit any signals when address is malformed"
### Expected behavior
`httpClient.websocket().connect()` Mono signals error when address is malformed
### Actual behavior
`httpClient.websocket().connect()` Mono does not emit any signals when address is malformed
### Steps to reproduce
Code below
### Reactor Netty version
0.8.1.RELEASE
### JVM version (e.g. `java -version`)
java version "1.8.0_181"
### OS version (e.g. `uname -a`)
Linux desktop 4

[2018-10-15 16:09] #459 closed

[2018-10-15 18:02] umeshmorsu2018 opened #464 "Server hangs indefinitely for a css or js resource to load and eventually fails with java.lang.Exception: ChannelOperation terminal stack"
We have configured spring cloud gateway to route requests to back-end service. Some resources in the back-end service failing due to following error (java.lang.IllegalArgumentException: invalid version format: 3B). Any help is appreciated.

[2018-10-15 18:09] violetagg commented on #464
Hi,

Please provide information for Reactor Netty/Spring Gateway versions. OS/Jdk?
Also a minimum reproducible scenario will be very helpful.

Regards,
Violeta

[2018-10-16 00:42] fifothekid opened #465 "Reactor Netty Hangs on Response 304"
I have a Spring Cloud Gateway based API Gateway which points to a back-end service implemented in an older version of Spring Boot (blocking). When I send a PUT request that would return a status 204 response, it works both when sending the request directly to the back-end and to the API Gateway as expected. However, when I send a PUT request that would return a 304, it would work normally on the b

[2018-10-16 09:50] violetagg commented on #465
Hi,

According to the specification there is:

[code]

I was able to reproduce the scenario, here is what happens:

The request to the `origin` is successful and in the log files I can see the `Reactor Netty Http Client` receives the response below (`Netty` silently removes `Transfer-Encoding` and processes the response (section-3.3.3)):
[code]

Then the `Reactor Netty Http Server` sends the respo

[2018-10-16 13:55] fifothekid commented on #465
I've just opened a related issue
https://github.com/spring-cloud/spring-cloud-gateway/issues/603

[2018-10-16 15:42] violetagg commented on #464
Yes please try to provide some reproducible example otherwise it will be hard to figure out what happens.
If you are not able to reproduce then set Reactor Netty log level to DEBUG and then try to correlated the logs for the bad request/response using the channel ID.

In the log above:

this is the channel ID `id: 0x54207d36`

[2018-10-16 15:55] #460 closed

[2018-10-16 17:34] danielra commented on #422
I am running Spring 5.1.0.RELEASE and reactor-netty 8.1.0.RELEASE, and I am able to reproduce similar leak reports after just a few requests (in paranoid mode) after introducing a short random timeout via `Flux/Mono#timeout`. I had understood from another thread that this was the recommended timeout strategy as of version 8.* - but it's not clear to me from the discussion here whether the buffer l

[2018-10-16 19:10] violetagg commented on #422
@danielra Can you provide some reproducible example/scenario? (This issue is for pure Reactor Netty Http Client while in your scenario most probably the WebClient from Spring Framework is used)

This one is suspicious:

[code]

[2018-10-16 19:40] violetagg commented on #465
Reactor Netty Http Server will return full empty body message which means `Content-Length: 0`

[2018-10-16 22:09] danielra commented on #422
Indeed in this case I was using the WebClient with the ReactorClientHttpConnector. I will try to pare down to a more isolated repro case and report back.

[2018-10-17 05:31] #465 closed

[2018-10-17 05:39] violetagg commented on #465
Fixed with #467
`Transfer-Encoding/Content-Length` will be removed from 304 responses

[2018-10-17 17:54] danielra commented on #422
I was able to reproduce emitting similar leak reports using the reactor-netty HttpClient directly in a more isolated test case. A demo project with the repro test case can be found here: https://github.com/danielra/buffer-leak-repro-reactor-netty

Running this via `./gradlew clean test --debug` I fairly reliably see leak reports like this:

[code]

Notably I also see some errors like this, which I

[2018-10-17 18:06] violetagg commented on #422
@danielra and this is 0.7.x or 0.8.x?

[2018-10-17 18:09] danielra commented on #422
The demo project is using reactor-netty 0.8.1.RELEASE according to the `gradle dependencies` output.

[2018-10-18 19:50] rstoyanchev commented on #422
Thanks for the sample @danielra. That helps a lot.

There were some recent changes in the Spring Framework in 5.1 and 5.0.x, but we need some more. I've created [SPR-17408](https://jira.spring.io/browse/SPR-17408) that you can read and follow.

[2018-10-18 20:06] dave-fl commented on #422
@danielra I would say an overwhelming NO to them being specific to timeouts.  I have seen them through regular use of Spring Cloud Gateway.

Unfortunately I have no been able to fully test again with 5.1 but I did test a beta and still saw issues.  Will test again as soon as I can.

[2018-10-18 20:19] rstoyanchev commented on #422
Indeed timeout is just one example. More generally anything to do with error or cancellation.

[2018-10-18 20:35] dave-fl commented on #422
@rstoyanchev Where do things currently stand as of now and what are the plans to move this forward?

I realize that tracking these bugs down are extremely difficult but I think the majority of users encountering this are simply using WebFlux, WebClient or Spring Cloud Gateway and not doing anything particularly specific.

Every time someone strolls through here and says memory leak - we rarely hav

[2018-10-18 21:11] rstoyanchev commented on #422
@dave-fl, see my earlier comment and reference to SPR-17408. We plan a comprehensive review at the Spring Framework level. A similar effort is under way in Reactor Netty. Watch for fixes here and under SPR-17408 targeting Spring Framework 5.1.2 (as a high priority) due on 10/29 with Reactor Netty releases prior to that. We'll then follow up with Spring Cloud Gateway as well but I expect most chang

[2018-10-19 11:38] violetagg commented on #422
@danielra I believe this might be the cause for the memory issue in your use case:

[code]

I'm investigating it ...

[2018-10-19 20:19] magnusp opened #471 "Logging NPE"
### Expected behavior
Using ConsoleAppender debug or log4j2 trace should not NPE (maybe?)

### Actual behavior
Default ConsoleAppender NPE on debug. Adding Log4j2 on trace level seems to hide the NPE in the stacktrace, but the "java.lang.Exception: ChannelOperation terminal stack" is still sent to output.

### Steps to reproduce
Gist with [output, testcase. gradle dependencies and log4j2.propertie

[2018-10-19 21:31] violetagg commented on #422
@danielra Try with the latest Reactor Netty 0.8.2 and Reactor Core 3.2.2 snapshots.
https://github.com/reactor/reactor-core/issues/1393
#470

[2018-10-20 09:57] violetagg commented on #471
@magnusp The issue is in Reactor Core's `ConsoleLogger`/`JdkLogger` - https://github.com/reactor/reactor-core/pull/1396

Log4j2 does not hide the NPE

Log message with Logback is:
[code]

Log message with Log4j2 is:
[code]

After applying the fix in the PR the log message in the console is:
[code]

The expected result is `context: null`

[2018-10-20 12:57] #471 closed

[2018-10-22 15:21] simonbasle commented on #471
as this impact core's 3.1.x version, the above PR has been closed and is being redone. See https://github.com/reactor/reactor-core/issues/1403.

[2018-10-22 16:49] danielra commented on #422
Running the demo test project linked previously a few times built against the suggested snapshot versions, I haven't seen any buffer leak reports so far - but I do still sometimes see an IllegalReferenceCountException:

[code]

[2018-10-22 18:02] duke-cliff commented on #392
@smaldini On reactor project? I just the default. On webflux I tried both 1 thread and 16 threads.
On linux, I guess netty will run on epoll with the default

[2018-10-23 00:31] madgnome opened #472 ""Operator called default onErrorDropped" when stream is cancelled"
### Expected behavior
Cancellation should be propagated and we shouldn't get `onErrorDropped`

### Actual behavior

After cancellation we're getting `onErrorDropped`

[code]

### Steps to reproduce

[code]

### Reactor Netty version
0.7.8 and 0.8.2.BUILD-SNAPSHOT

[2018-10-23 01:50] philsttr opened #473 "NullPointerException in SSL handshake with customized HttpClient"
When I try to use spring-webflux's `ReactorNettyWebSocketClient` with a customized `HttpClient` created like this:

[code]

I get the following error when connecting during the ssl handshake :
[code]

However, I do not get an error when I use the default `HttpClient` like this:

[code]

I believe Norman Maurer identified the underlying cause of the NPE in the JDK's ssl engine (see [here](http://op

[2018-10-23 17:16] philsttr commented on #473
Thanks @violetagg !

I somewhat confirmed your fix by manually executing `convertLazyRemoteAddress(bootstrap)` in a debugger at the same location in which you added it.  Doing so does indeed fix the problem I'm seeing.

[2018-10-23 21:10] rstoyanchev commented on #444
I can confirm the changes after updating to use Bismuth and Californium snapshots, and adding tests.

[2018-10-24 19:19] #473 closed

[2018-10-25 05:41] hota911 opened #476 "Log Remote IP address in the access log"
If a server is running behind a load balancer, the remote client IP address is not logged in access log.  I'd like to have an option to log the IP address stored in `X-Forwarded-For` header if it exists, otherwise the client IP address.

Maybe this could be addressed in #436, but I'm filing this issue for the specific need.

[2018-10-25 06:27] violetagg opened #477 "Introduce a Decoder for handling IllegalReferenceCountException"
Introduce a Decoder for handling IllegalReferenceCountException instead of having repeatable code here #470

[2018-10-25 11:28] violetagg opened #478 "Handle nested send operations"
Follow up from https://github.com/reactor/reactor-netty/issues/444#issuecomment-427903202

[2018-10-25 11:29] violetagg commented on #444
Handling of nested send operations will be tracked with #478

[2018-10-25 11:29] #444 closed

[2018-10-25 21:10] dave-fl commented on #422
@violetagg Any comments on these latest logs and new errors?

[2018-10-25 21:21] #407 closed

[2018-10-25 21:23] smaldini opened #480 "Remove wiretap() in favor wiretap(boolean)"

[2018-10-26 05:59] violetagg commented on #407
@mp911de Can you test the latest snapshot?

[2018-10-26 10:00] violetagg opened #481 "Remove deprecated TcpClient(Server)#secure(SslContext)"

[2018-10-26 12:33] violetagg commented on #407
thanks 👍

[2018-10-26 22:31] smaldini commented on #413
Can you please evaluate if this fixes the issue https://github.com/reactor/reactor-netty/pull/483 - we believe it will so feel free to re-open the issue if you reproduce still on the 0.7.11 coming out today.

[2018-10-27 05:12] violetagg commented on #388
Fixed with #483. If you still see the issue reopen this ticket.

[2018-10-27 05:12] #388 closed

[2018-10-27 14:45] vincent-wuhrlin opened #484 "HTTP2 with HTTP1 : HTTP1 is always used"
### Expected behavior
I have configured Netty Reactor with Spring Boot and HTTP2. All is working fine, thanks for these awesome frameworks. However, it's impossible to use HTTP2 with HTTP1 (TLS), because in this case, only HTTP1 is always used and prior to HTTP2.

It is possible to use HTTP2 and HTTP1 together, and fallback to HTTP1 only if client doesn't support it ?

Thanks you for your help.

#

[2018-10-27 15:42] smaldini opened #485 "Add HttpClientRequest/HttpClientResponse#currentContext"
Expose user facing context for doOnRequest/doOnResponse etc

[2018-10-27 15:42] #485 closed

[2018-10-27 15:58] #484 closed

[2018-10-27 16:00] smaldini commented on #484
Good catch we didnt use application protocol selection in that case, should be fixed in the release today.

[2018-10-27 16:28] smaldini commented on #484
Also for H2 vs H2C make sure you configure SSL somewhere :

[code]

[2018-10-27 17:48] balajeetm commented on #388
@violetagg Does this mean, We don't need to disablePool or use "preferNative" anymore?

[2018-10-27 18:06] violetagg commented on #388
@balajeetm We think we were able to fix that issue. If you are able to test that version and provide a feedback it will be great. Thanks.

[2018-10-27 19:51] balajeetm commented on #388
@violetagg Will do so and revert soon. Thanks a ton

[2018-10-28 19:20] smaldini opened #486 "Add HttpClient#doOnRequestError, doOnResponseError"

[2018-10-28 19:34] #486 closed

[2018-10-30 15:23] YuryYaroshevich commented on #388
I'm having this issue with `io.projectreactor.netty:reactor-netty:0.8.2.RELEASE`.
[code]

[2018-10-30 16:10] violetagg commented on #388
@YuryYaroshevich Please report this as a separate issue and provide more information (an example will be very helpful). I cannot see here any `Reactor Netty`/`Netty` stack.

[2018-10-30 16:20] nebhale opened #487 "Elevated log level"
In `reactor-netty` 0.8.1.RELEASE (Californium-SR2) there are at least two log messages at WARN that should have a lower level:

[code]

[2018-10-30 16:39] violetagg commented on #487
@nebhale Hi Ben this is a result of the following requirement #416 This is a warning that the default LoopResource and ConnectionProvider will be used.
@rstoyanchev :point_up_2:

[2018-10-30 16:52] nebhale commented on #487
I understand the request, but that's disappointing.  As I don't think that using the defaults is a WARN-worthy log message (I'd expect "default" behavior to be safe, not something you need to be warned about) I'll need to crank my configuration to `ERROR` for that logger losing any "real" warnings that might be generated.

[2018-10-30 18:08] rstoyanchev commented on #487
I agree with Ben, the defaults shouldn't be a WARN, possibly INFO at most.

The request for the WARN was for any changes to the default since that releases the previous resources, which may disrupt others who were trying to use the global.

[2018-10-30 18:36] #487 closed

[2018-10-30 20:51] madgnome commented on #422
Will upgrade to SB 2.1.0 today and see if we still see the errors.

[2018-10-31 03:21] smaldini opened #488 "Context lost in server websocket handler"
A regression has been introduced when #393 websocket was fixed. The context is now not propagated to the inner websocket handler function since the Mono is directly subscriber instead of composed.

[2018-10-31 08:39] YuryYaroshevich commented on #388
Issue disappeared after I added `keepAlive(true)` to HttpClient config:
[code]
Inspired by https://groups.google.com/forum/#!topic/vertx/3o_DEwIK9dY

[2018-10-31 08:42] violetagg commented on #388
@YuryYaroshevich Even though it would be better to find the cause instead of disabling `keepAlive`.

[2018-10-31 21:58] #488 closed

[2018-11-01 03:08] andye2004 commented on #67
I'm wondering when the next milestone release will be and if there will be any plans to pull this into it?

[2018-11-01 13:12] ttiurani opened #490 "HttpClient: proxy host and path become the request destination"
### Expected behavior

Using a TCP proxy doesn't change the destination of the request itself, but only proxies the request.

### Actual behavior

With 0.7.9. this worked with the hoverfly proxy:

[code]

and the Destination was "http://www.example.org" but with 0.8.2 and this kind of refactoring:

[code]

The Destination becomes hoverfly itself, i.e. "localhost:1234". So setting the tcpClient.pro

[2018-11-01 20:29] rstoyanchev commented on #422
@madgnome just a quick note, if you're using any of: request body predicate, request body transformer, response body transformer, please turn those off for now before testing. There are expected fixes for those in the next Spring Cloud Gateway release.

[2018-11-02 11:58] ttiurani commented on #490
Unfortunately this didn't fix it for me, with the latest `0.8.3.BUILD-20181101.191149-7` snapshot build the bug is still present @violetagg

[2018-11-02 14:03] violetagg commented on #490
@ttiurani Can you post here your logs? Also can you execute it with Hoverfly and with some other proxy server? Please enable the wire logging and `logging.level.reactor.netty=debug` in the `application.properties`

[code]

[2018-11-02 14:48] ttiurani commented on #490
@violetagg here are two logs, that should show how things go wrong, the code is from a real example, so I masked the values a bit:

0.7.9.RELEASE:

[code]

and 0.8.3.BUILD-20181101.191149-7:

[code]

[2018-11-03 00:37] bm3780 opened #491 "Incorrect logic for choosing SslProvider for Default TCP Configuration"
### Expected behavior
Default TCP configuration should use <code>SslProvider.OPENSSL</code> if OpenSSL is available.
### Actual behavior
Default TCP configuration only uses <code>SslProvider.OPENSSL</code> if ALPN is supported.
### Steps to reproduce
Inspect [SslProvider#L379](https://github.com/reactor/reactor-netty/blob/master/src/main/java/reactor/netty/tcp/SslProvider.java#L379), and notice th

[2018-11-03 16:22] praveenk007 opened #492 "WebClient posting multiple duplicate HTTP requests"
Hi,

I am using spring-boot v2.0.0.M6. I have to make several async post requests to my other application which is on Play framework. Somehow WebClient is making duplicate requests.
Please check this link for detailed explanation on this issue.
https://stackoverflow.com/questions/53129956/springboot-v2-0-0-m6-webclient-making-multiple-duplicate-http-post-calls

[2018-11-04 21:53] danielmenezesbr opened #493 "Links Broken in documentation"
Links are broken in the documentation as the image below:
![image](https://user-images.githubusercontent.com/5949657/47970315-dfc22d00-e06a-11e8-90f3-1a5b74bb45db.png)

Documentation version: 0.8.2.RELEASE
Url: https://projectreactor.io/docs/netty/release/reference/index.html

[2018-11-04 22:01] danielmenezesbr opened #494 "Missing reference guide in docs."
Missing reference guide in docs.

![image](https://user-images.githubusercontent.com/5949657/47970396-ea30f680-e06b-11e8-8e57-fee36857f113.png)

[2018-11-05 11:09] violetagg commented on #492
Hi,

Please try the latest releases - 2.0.6.RELEASE or 2.1.0.RELEASE.
Also please do not cross post, this repository is for Reactor Netty project, for Spring Framework (Web Client) use this https://github.com/spring-projects/spring-framework/blob/master/CONTRIBUTING.md#create-a-ticket

Regards,
Violeta

[2018-11-05 11:09] #492 closed

[2018-11-05 17:22] mostroverkhov opened #495 "Connections are not disposed when server is closed"
### Expected behavior
Connections are disposed on `DisposableServer.disposeNow()`, and `Connection.onDispose()` Publisher is terminated
### Actual behavior
`Connection.onDispose()` Publisher is not terminated

### Steps to reproduce
Code below is timing out

[code]
### Reactor Netty version
0.8.2.RELEASE

### JVM version (e.g. `java -version`)
Java(TM) SE Runtime Environment (build 1.8.0_191-b12)

[2018-11-06 10:12] sam701 commented on #413
Unfortunately, I have exactly the same issue with 0.7.11.RELEASE
[code]

@smaldini  @bcelenk please reopen.

[2018-11-06 10:32] violetagg commented on #413
@sam701 Please provide more information for the use case? We do not see this issue with the reproducible scenario provided by @bcelenk

[2018-11-06 12:46] sam701 commented on #413
@violetagg Here is the setup:
* There is a dummy backend server that reads the payload body and writes it back in response. The service is written in go, but you get the point:
[code]
* Here is the entire spring boot application that is just a reverse proxy to the backend
[code]
* Here are the gradle dependencies:
[code]
* I run a load test of 200 concurrent calls to the proxy like this:
[code]
`d

[2018-11-06 16:21] georgmittendorfer opened #498 "Connection prematurely closed"
I get prematurely closed connections when using reactor-netty in certain scenarios.

The error happens only when doing simultaneous calls to several back-end services with Springs WebClient. I do such calls once per minute but the error does not occur every time.

The same happend with older versions, too (reactor Bismuth and spring boot < 2.1.0 and corresponding netty versions). With the current

[2018-11-06 17:02] violetagg commented on #498
@georgmittendorfer what do you use from this one `spring-cloud.version: Finchley.SR2` - spring cloud gateway?

[2018-11-06 20:38] georgmittendorfer commented on #498
@violetagg Sorry that dependency was a copy and paste legacy in my pom.xml. It is not related to this issue.

[2018-11-06 22:31] smaldini commented on #498
Do you use SSL @georgmittendorfer ?

[2018-11-06 22:35] smaldini commented on #495
Interestingly this is a costly thing to do and thats why Netty doesnt do it by default.
We would need to attach a callback for all connections (and remove them when they are disconnected). I'm not sure this should be a default behavior but something like an option could enable unless we find another algorithm. Would be worth asking Netty team too.

[2018-11-06 22:54] smaldini commented on #495
Looking a bit further, Netty will mark the channels as closing if we shutdown the worker loops from the server (which we don't because they can be shared). I wonder if we should force such shutdown  when a server is disposed (and let LoopResources rehydrate new loops for following use).

[2018-11-07 05:31] #491 closed

[2018-11-07 11:07] georgmittendorfer commented on #498
@smaldini some of the backend services are accessed via https. To my awareness only the non-SSL services have had the PrematureCloseException issues so far.

[2018-11-07 22:40] #490 closed

[2018-11-07 22:50] violetagg commented on #490
@ttiurani Try with the latest snapshot, it should be OK.

[2018-11-07 22:57] violetagg commented on #413
@sam701 Can you try adding a header `Content-Length` or `Transfer-Encoding` when you send the request from the proxy to the backend and then tell us the result?
For example:

[code]

[2018-11-08 07:45] bcelenk opened #501 "Feature Request: Custom DNS Resolver"
Currently, `TcpClient` uses `InetSocketAddressUtil` for resolving DNS addresses. `InetSocketAddressUtil#createInetSocketAddress` creates a new `InetSocketAddress`. `InetSocketAddress`'s constuctor always returns the first cached `InetAddress` within the `getByName` method.

There should be a way to provide a custom DNS resolver for the `TcpClient`. Because, while using reactor-netty in `spring-clo

[2018-11-08 07:49] mulderbaba commented on #501
@violetagg can we add this to `0.7.x Backlog` if possible?

[2018-11-08 07:58] ttiurani commented on #490
@violetagg nice, I confirmed that the fix works, thanks a lot!

[2018-11-08 07:59] violetagg commented on #501
@mulderbaba sure

[2018-11-08 12:57] violetagg commented on #129
Test setup with [Hoverfly](hoverfly.io)

[2018-11-08 13:52] violetagg commented on #498
@georgmittendorfer Is your scenario similar to this one here https://github.com/reactor/reactor-netty/issues/413#issuecomment-436240429. If yes - do you provide `Content-Length` or `Transfer-Encoding`?

[2018-11-08 19:54] rstoyanchev opened #503 "FluxReceive hangs, sometimes, on subsequent subscribers"
`FluxReceive` rejects multiple subscribers but only if the second subscribes while first one is still active. Once a subscriber completes and the `receiver` field is cleared, a second subscriber will not be rejected and will not receive further signals.

One reason to read a second time is to ensure a client response has been drained from at a place where it isn't known if it has been consumed or

[2018-11-09 10:17] balajeetm commented on #388
@violetagg what is the difference between
[code]
and
[code]

Is IPC deprecated?

[2018-11-09 10:22] violetagg commented on #388
@balajeetm Reactor Netty 0.7.x has group Id `io.projectreactor.ipc`, for Reactor Netty 0.8.x we changed the group Id to `io.projectreactor.netty`

[2018-11-09 10:39] balajeetm commented on #388
@violetagg Thanks. I saw there are some changes to the ReactorClientHttpConnector constructor signatures in 0.8.x.
Will move everything forward.

[2018-11-09 10:51] bcelenk commented on #413
https://github.com/reactor/reactor-netty/pull/483#issuecomment-437323531

[2018-11-09 11:57] marcguilera commented on #413
We use SpringBoot `2.0.3.RELEASE` with WebFlux and have tried with `reactor-netty:0.7.11.RELEASE` in the classpath but it doesn't seem to have resolved the issue. Is there any update on the fix or a possible workaround for the time being?

[2018-11-09 12:29] violetagg commented on #413
@marcguilera What is your use case the one described by @bcelenk or the one described by @sam701 ? That exception might have different causes.

[2018-11-09 12:53] marcguilera commented on #413
The one described by @bcelenk 👍

[2018-11-09 19:10] #129 closed

[2018-11-12 07:43] georgmittendorfer commented on #498
@violetagg setting content-length doesn't help.

Furthermore I have problems reproducing the issues on my dev system. Is it possible to disable pooling of connections (meaning: disabling concurrent reuse of the connections) so that I can verify that it is a concurrency issue at all?

I think it is only fair to close this issue until I can somehow prove that it is related to reactor netty at all. I

[2018-11-12 09:42] bclozel opened #507 "Configure WebSocket compression extension on WebSocket server"
### Expected behavior

When a WebSocket client connects to a Reactor Netty WebSocket server and sends the `Sec-WebSocket-Extensions: permessage-deflate` upgrade request header, the WebSocket server responds with the same header, enabling message compression.

### Actual behavior

The WebSocket server doesn't support that WebSocket protocol extension.
It seems Reactor Netty is missing the `WebSocke

[2018-11-12 12:38] violetagg commented on #413
@marcguilera Are you able to extract some reproducible scenario? It will be very helpful.

[2018-11-12 12:44] violetagg commented on #498
@georgmittendorfer For disabling connection pool use:

0.7.x
[code]

0.8.x
[code]

I'm closing the issue you can reopen it fi you have more information for the problem.

Regards,
Violeta

[2018-11-12 12:44] #498 closed

[2018-11-12 21:32] madgnome commented on #472
@smaldini would it make sense to change the default log message to `warn` as it's not an error per se.

[code]

[2018-11-12 23:30] smaldini commented on #472
I think it makes sense we opened https://github.com/reactor/reactor-core/issues/1431 in order to introduce that change after a round of discussion this morning. We thought that this bubbling up is not a behavior you can rely on as a user anyway so it could be part of a next patch release. thoughts ?

[2018-11-12 23:59] madgnome commented on #472
As long as https://github.com/reactor/reactor-core/issues/1431 action `onErrorDropped` as well of `onOperatorError` that sounds good!

[2018-11-13 11:32] madgnome commented on #422
Thanks @rstoyanchev we do use `onStatus` without consuming the body so I'll fix that and see if the leak disappears. 🤞

[2018-11-14 11:28] lukaszpy commented on #413
Hi,

I have faced same issue, with upgraded reactor-netty:0.7.11.RELEASE.
I have also tried to use use NIO instead of Epoll with:
`@Bean
    WebClient.Builder loadBalancedWebClient(){
        return WebClient.builder()
                .clientConnector(new ReactorClientHttpConnector(options -> options.preferNative(false)));
    }`

but what I see in stacktrace it still use Epoll (don't know if I do

[2018-11-15 09:39] dejewskipiotr commented on #413
We have exactly same problem, we tried upgrading to spring boot 2.1 which upgraded reactor netty version to 0.8.2
The only thing that changed is the exception
intead of IOException we get
reactor.netty.http.client.HttpClientOperations$PrematureCloseException: Connection prematurely closed BEFORE response

[2018-11-15 15:40] bclozel opened #508 "Connection closed before flushing the response body"
### Expected behavior

If an HTTP client sends a request with a `Connection: close` header and then when the server responds with both `Connection: close` and `Content-Length: 0`, trying to write an empty body, the HTTP response is empty and the server managed to properly flush the response body before closing the connection.

### Actual behavior

This comes from a Spring Framework report, [SPR-17

[2018-11-16 21:30] sharathsrinivasa commented on #413
I ran into similar issue when I was trying to load test reactor netty under different GET/POST scenarios. [Here](https://github.com/sharathsrinivasa/wiremockserv) is my little effort to reproduce the issue. It is not 100% consistent, but I do see the above issue.

Let me know your thoughts.

[2018-11-19 13:08] bclozel opened #510 "Reconsider logging level for `TcpResources`"
Currently, when a new Spring Boot application is started, we're seeing the following:

[code]

The Spring Framework and Spring Boot team made significant changes to improve the logging experience.

Could we reconsider the logging level for this? `DEBUG` sounds reasonable to me. Spring Boot might change the default logging level for `TcpResources` by default otherwise (we're doing similar things fo

[2018-11-19 13:11] violetagg commented on #510
already fixed #487 and will be available in the next release

[2018-11-19 13:11] #510 closed

[2018-11-19 16:48] violetagg commented on #464
There is no update from the author for a month and with this incomplete information it is hard to figure out what happens.
Closing the issue, you can reopen it if you have more information.

[2018-11-19 16:48] #464 closed

[2018-11-19 19:04] violetagg commented on #422
One issue identified when sending data and request method GET
#512

[2018-11-20 06:34] lukaszpy commented on #413
What is interesting - because I cannot alowwed to run with this issue on production. So I have returned to my previous solution which is not affected with this issue.
Previous solution:
- based on Eureka service discovery
- **using** @LoadBalanced on WebClient.Builder
Current - affected solution:
- based on docker swarm dns load balancing
- **not using** @LoadBalanced on WebClient.Builder

I don't

[2018-11-20 06:46] violetagg commented on #413
@lukaszpy Any reproducible scenario that you can provide will be very helpful. This exception means the server closes the connection. However till now we identified two scenarios: the first reported by @bcelenk, the second reported by @sam701 . Your scenario seems a bit different.

[2018-11-20 17:30] #508 closed

[2018-11-20 17:34] violetagg commented on #508
Hi,

This behaviour is expected.
As `Content-Length: 0` is specified the server will not attempt to write anything.
As `Connection: close` is specified, the server will close the connection immediately after sending the response.
The provided content will be dropped.

However we made one optimisation in the code and we will drop the content on an early stage as we know the connection is not alive.

[2018-11-21 00:19] madgnome commented on #422
Deployed the latest snapshot and still seeing the errors unfortunately =(

[2018-11-21 06:31] violetagg commented on #413
@sam701 Try with 0.7.12.BUILD-SNAPSHOT, your use case should be OK now.

[2018-11-21 07:19] CinnamonBagels commented on #443
[The documentation](https://projectreactor.io/docs/core/release/reference/#faq.wrap-blocking) provides a good example on how to wrap blocking code

From your example, your code could look something like this:
[code]

[2018-11-21 07:49] mmanciop commented on #443
I cleaned up the code and added some comments, hoping to bring the point across better.

[2018-11-21 09:23] bazusaladra opened #518 "Returning Mono.empty causes controller to halt"
The following code used to work on SpringBoot 2.0.2
[code]
After upgrading to SpringBoot 2.1.0 calling
[code]
causes any subsequent requests to this endpoint to be stalled.
Please check out test `org.springtest.EmptyMonoFailureTest#testMono` in repository https://github.com/bazusaladra/spring-mono-test.
SpringBoot team advised this issue may be related to Reactor Netty: https://github.com/spring-p

[2018-11-21 13:35] rstoyanchev commented on #518
This looks like the same issue as https://jira.spring.io/browse/SPR-17506. The fix on the WebFlux side, was to call `response.setComplete()` which completes without writing. Nevertheless there is a likely issue in Reactor Netty where writing with `Mono.empty()` never completes.

[2018-11-22 03:59] Gsealy opened #520 "Get Formdata and Multipart data occur a 'Request body input error' Exception"
Hi there,

I am new in reactor.

I want to read the Form Data and MultiPart Data in Filters to check it's intact. I read the `ReadBodyPredicateFactory` class and know how to copy a body for row text.

But When I handle formdata and multipart data, see this [#552 reply](https://github.com/spring-cloud/spring-cloud-gateway/issues/552#issuecomment-423000171) so I copy those data to new `Decorator` an

[2018-11-22 03:59] #520 closed

[2018-11-22 11:38] lukaszpy commented on #413
@violetagg - I have created sample projects (server and client - it exactly works as our services). The error is hard to reproduce on our test env I need to deploy few instances of client, and run load tests.
Just also wondering about scenario: A, B, C where C is server and A, B are clients. what happend if A -> C and then B -> C (load, and take all connection on poll in server C), then A try to r

[2018-11-22 14:17] Lewik commented on #381
I just tried update to latest spring version

org.springframework.boot:spring-boot:2.1.0.RELEASE
org.springframework:spring-core:5.1.2.RELEASE
io.projectreactor.netty:reactor-netty:0.8.2.RELEASE

and

org.springframework.boot:spring-boot:2.1.1.BUILD-SNAPSHOT
org.springframework:spring-core:5.1.3.BUILD-SNAPSHOT
io.projectreactor.netty:reactor-netty:0.8.3.BUILD-SNAPSHOT

Same behavior.

On KVM virtu

[2018-11-23 08:05] shulolo opened #521 "Timeout on blocking webclient webflux"
Hi,

I know that there are similars questions on the internet, but I did not find a satisfying response.
I wrote a webclient test, and most of the time I have this error : java.lang.IllegalStateException: Timeout on blocking read for 50000 MILLISECONDS, especially with post requests.
I don't know where it comes from.

### Actual behavior
Here the test :

    webClient.post().uri("/test")

[2018-11-23 08:52] simonbasle commented on #521
Does it go into the lambda of the router function? Is the repository and/or database mocked somehow? Also, latest version of Boot 2.0 is `2.0.6` so I'd definitely try upgrading just in case.

[2018-11-23 22:08] lukaszpy commented on #521
@shulolo  it looks like a problem with repository.
- what kind of database ?
- could You provide You code to Your repository and db configuration ?
- could You execute same query dirctly on DB ? how long it take ?
- during the request submit task to executorservice (separate thread) and blockfirst there - try to log time before and after. How long it take ?

[2018-11-24 18:51] sharathsrinivasa commented on #413
@violetagg Was my sample example helpful in reproducing this issue?

[2018-11-25 06:17] dconnelly commented on #495
Does this mean we expect outstanding connections to be abruptly terminated when a server is disposed? If so, should we consider adding support for graceful shutdown with connection draining?

[2018-11-25 07:07] violetagg commented on #495
@dconnelly We plan to shutdown the `EventLoopGroup` invoking `EventExecutorGroup#shutdownGracefully()`. Do you need a specific configuration for the quiet period and the timeout?

[2018-11-25 07:59] bmorris591 opened #522 "Allow configuration of redirects to follow"
### Expected behavior

Currently, using using `followRedirect` on `HttpClient` (or `HttpClientRequest`) will follow `301` and `302` redirects. There are other forms of redirect however - for example `307` and `308`.

It would be useful to, rather than specifying a `boolean`, specify a list of redirect codes to honour in `followRedirect`.

### Actual behavior

`followRedirect` takes a `boolean` and

[2018-11-25 13:40] worldtiki commented on #442
Hi @violetagg!

I'm struggling to get this to work. I created a small demo project with both the old and new ways of configuring this:
https://github.com/worldtiki/testhandler/blob/master/src/main/java/test/RoutingConfig.java
https://github.com/worldtiki/testhandler/blob/boot21/src/main/java/test/RoutingConfig.java

In the boot21 branch the content decompressor is never called.

Any ideas what I'm

[2018-11-25 22:09] dconnelly commented on #495
@violetagg This is what I was hoping would happen thanks for the confirmation. Default values (2 second quiet period, 15 second timeout) are fine for my use case at least.

[2018-11-26 12:17] VladimirKravtsov opened #523 "nonProxyHosts are applies incorrectly"
Hi there,

I reproduce the following behavior -
1) if nonProxyHosts contains 127.0.0.1 then Reactor Netty passes all requests(even those, which addressed to other hosts) not through configured proxy. This is why the test passes successfully -
https://github.com/reactor/reactor-netty/blob/d0480d110462d13aaf397acd51ee874fd0bd82ae/src/test/java/reactor/netty/http/client/HttpClientProxyTest.java#L102-

[2018-11-26 15:48] violetagg commented on #523
@VladimirKravtsov Did you try with `0.8.3.RELEASE`? We have fixes there exactly for the proxy usage.

[2018-11-26 21:43] #521 closed

[2018-11-26 21:47] VladimirKravtsov commented on #523
@violetagg, yes I have tried 0.8.3.RELEASE  and the incorrect behavior is still there.

[2018-11-27 05:05] smaldini opened #524 "Setup CI for perf testing"

[2018-11-27 13:16] violetagg opened #525 "Handlers added with doOnConnection (HttpServer) are not applied on the first channelRead"

[2018-11-27 13:18] violetagg commented on #442
@worldtiki #525

[2018-11-27 19:13] #525 closed

[2018-11-27 19:50] #523 closed

[2018-11-27 20:50] timurstrekalov opened #528 "HTTP connection not always closed on dispose()"
I apologise in advance for any obvious lack of understanding of inner workings of reactor-netty – I'm still rather new to the whole paradigm. However, I've noticed something that seems rather like a bug.

Basically, when an HTTP connection's Subscription object is disposed of quickly enough after subscribing, the connection doesn't get closed. I think the problem is in `reactor.netty.http.client.H

[2018-11-27 21:59] violetagg commented on #523
Please test with the latest snapshot if you can. It is available from https://repo.spring.io/snapshot

[2018-11-27 22:44] smaldini commented on #528
Hey @timurstrekalov ! Thanks for your issue, it's pretty complete.

So one thing to note, the TcpClientSubscriber will only receive one connection ever, and we don't use it but for forwarding errors as the Connection will also go in the setup ConnectionObserver which acts as a state machine for http lifecycle.

Then the problem is different and surprising, you are using Thread sleep on the server

[2018-11-27 22:55] smaldini opened #529 "HttpClientFinalizer/WebsocketFinalizer do not finalize correctly interrupted response"
Currently in HttpClientFinalizer, we attach a dispose operation when the last signal is observed in `response()` APIs:

[code]

`ChannelOperations.isDisposed` both relates to the state of the underlying channel (active/inactive) OR if the current bound operation not the instance we are checking (pooled connection with multiple operations operating a same underlying channel).

[2018-11-28 02:16] tony-clarke-amdocs opened #531 "How to control max header size for http client"
The http server as an ability to set the max http header size (defaults to 8K).
It is not clear if there is a limit on the client side and if there is a limit how to change that limit?

[2018-11-28 06:41] hanahmily opened #532 "Long-lived TcpClient"
I want to use `TcpClient` to archive a reverse proxy as follows

[code]
`n` is a `Tuple2` object contains hostname and port of a backend server.

### Expected behavior

I tested this proxy with one backend server and hoped that `PooledConnectionProvider` sink logs like this:

[code]

### Actual behavior

Actually the logs showed this

[code]

After some debugging, I found that the channel was alwa

[2018-11-28 06:47] smaldini commented on #532
Did you try just returning Mono.never() ?

[2018-11-28 06:59] hanahmily commented on #532
Yes, I already try this and logs
[code]

This is just like a connection leak as same as returning neverComplete()

[2018-11-28 11:31] VladimirKravtsov commented on #523
@violetagg , nonProxyHosts logic is working as expected now (with 0.8.4.BUILD-SNAPSHOT). Thank you very much for the fix!

[2018-11-28 11:37] violetagg commented on #523
great
thanks for verifying the fix

[2018-11-28 11:52] timurstrekalov commented on #528
Hi @smaldini, thanks for your reply. Sorry the example wasn't really correct. It's not easy to replicate what I've experienced here :)

Now, I'm quite sure the issue is there, although it's not easy to demonstrate it.

Cannot submit a viable example right now — I'm behind one of those super awesome corporate firewalls that restrict everything, so typing this from my phone.

The real-life test that

[2018-11-28 12:15] violetagg commented on #531
@tony-clarke-amdocs Just to clarify the request here. The requirement is for the response coming from the server correct? For the requests sent to the server there is no limit.

[2018-11-28 15:15] tony-clarke-amdocs commented on #531
@violetagg Don't we want to be able to control the size in request and the response. But if there is no limit from the client to the server then the priority of this is lower.

[2018-11-28 16:12] rstoyanchev opened #533 "No way to receive close status with WebSocketInbound"
`WebsocketInbound` provides `Flux<WebSocketFrame> receiveFrames()` which turns `CloseWebSocketFrame` into a completion signal, but a result there is no way to receive the close status and reason sent by the remote peer. This is asymmetric with `WebSocketOutbound` which does provide a way to send a close status and reason.

This same has been requested in [SPR-17547](https://jira.spring.io/browse/S

[2018-11-28 16:17] rstoyanchev commented on #533
One idea to consider, an extra method in `WebSocketInbound`:
[code]

[2018-11-28 18:10] dave-fl commented on #422
We are testing again. Latest build continues  to leak.  Spring 2.1.0 Release.

<spring-cloud.version>Greenwich.M3</spring-cloud.version>
<reactor-bom.version>Californium-SR3</reactor-bom.version>
<netty.version>4.1.31.Final</netty.version>

[leak.txt](https://github.com/reactor/reactor-netty/files/2626089/leak.txt)

[2018-11-28 20:17] #529 closed

[2018-11-28 20:58] pluttrell opened #536 "SSLEngine closed already Error"
### Steps to reproduce
This problem happens intermittently. We're seeing it maybe once out of 50 requests from our full lifecycle health check calls.

### Reactor Core version
3.2.2.RELEASE, which we're including with spring boot 2.1.0.RELEASE (latest at the time of this report).

### JVM version (e.g. `java -version`)
openjdk version "11.0.1" 2018-10-16
OpenJDK Runtime Environment (build 11.0.1+1

[2018-11-28 22:04] dave-fl commented on #422
For the latest version, it seems like using option (on Spring Cloud Gateway):

    gateway:
      httpclient:
        response-timeout: 20s

Is what is causing the majority of the connection leak errors.

[2018-11-28 22:10] dave-fl opened #534 "Pooled connection observed an error"
I am testing using version:

    <properties>
        <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
        <project.reporting.outputEncoding>UTF-8</project.reporting.outputEncoding>
        <java.version>1.8</java.version>
        <spring-cloud.version>Greenwich.BUILD-SNAPSHOT</spring-cloud.version>
        <reactor-bom.version>Californium-BUILD-SNAPSHOT</reactor-bom.version>

[2018-11-29 08:44] violetagg commented on #413
@sharathsrinivasa I'm not able to reproduce it using the provided scenario. Can you share you environment details - OS, JAVA version etc.

[2018-11-29 08:50] dejewskipiotr commented on #413
In our case upgrading to netty reactor 0.8.3 seems to fixed all our issues

[2018-11-29 08:55] violetagg commented on #534
@dave-fl Any chance to extract some reproducible scenario? Thanks

[2018-11-29 09:04] violetagg commented on #413
We have a fix for the use case that was reported by @sam701
So all, please try the new versions 0.7.12.RELEASE/0.8.3.RELEASE

Thank you,
Violeta

[2018-11-29 09:19] sam701 commented on #413
@violetagg great news, thanks! I'm currently not working on this topic any more but I'll pass the message further.

[2018-11-29 11:41] violetagg commented on #534
@dave-fl Except this logging message do you observe some problems?

It appeared that we log with `ERROR` log level even exceptions that we will retry (`RedirectClientException`, `Connection reset by peer`) #535

[2018-11-29 14:04] violetagg commented on #536
@pluttrell I see some stack trace from Tomcat so may be that's the server and some stack trace from Reactor Netty Http Client, but what's the scenario that you are executing?

[2018-11-29 14:33] rreimann commented on #388
The issue seems to be still present in current versions. Using Spring Boot 2.1.0 -> reactor 3.2.2 -> reactor-netty 0.8.2 -> netty 4.1.29 we intermittently still get:
[code]
Unfortunately I couldn't try the workarounds (disabling the pool and switching to nio) as suggested in one of the [previous comments](https://github.com/reactor/reactor-netty/issues/388#issuecomment-411064558) by @violetagg sin

[2018-11-29 15:23] violetagg commented on #388
@rreimann Please create a new issue with more details about your use case as `Connection reset by peer` can be caused by different reasons.

[2018-11-29 15:43] dave-fl commented on #534
I experience no issues at all.  Maybe the endpoint is just being forcibly closed.

[2018-11-30 04:32] sharathsrinivasa commented on #413
OS - macOS Sierra
Java
➜  ~ java -version
java version "1.8.0_60"
Java(TM) SE Runtime Environment (build 1.8.0_60-b27)
Java HotSpot(TM) 64-Bit Server VM (build 25.60-b23, mixed mode)
➜  ~

[2018-11-30 06:07] pluttrell commented on #536
Not exactly sure what you mean by 'scenario', but perhaps this info will help. This is a Spring Boot service based on `org.springframework.boot:spring-boot-starter-web`, which includes Tomcat. We would have used the WebFlux version, but part of the implementation requires relational db access, which isn't reactive.

As part of responding to one of the requests, we're using the `WebClient` to make

[2018-11-30 19:10] #536 closed

[2018-11-30 19:11] smaldini opened #538 "Add DNS resolver observer, and options for client"
We should be able to provide TcpClient options for DNS resolution in addition to custom resolver as in #501 :
- DNS resolution timeout
- DNS positive/negative TTL
- [?] Internal cache eviction period
- doOnResolvedAddress

[2018-11-30 19:14] smaldini opened #539 "Add Tracing support"
Right now, https://github.com/spring-cloud/spring-cloud-sleuth provides direct support for Reactor-Netty. Some of this support if not all could be directly integrated in reactor-netty in order to provide OoB optional tracing (OpenTracing, Zipkin...).

cc @marcingrzejszczak .

[2018-11-30 19:17] smaldini commented on #532
It's a short coming from us there. Let me investigate on how we can introduce that, thanks for the report !

[2018-11-30 19:39] smaldini commented on #532
So you can as a workaround not use handle() which for now automatically close - I think we will still investigate if neverComplete should change or not tho.

So if you weren't using handle that would look like this :

[code]

[2018-11-30 20:07] smaldini commented on #528
We will investigate that might be a missing dispose during a state transition. Thanks for the details !

[2018-11-30 20:43] violetagg commented on #536
@pluttrell I committed a fix, so please try it `0.7.13.BUILD-SNAPSHOT`/`0.8.4.BUILD-SNAPSHOT`.
Snapshots repository `https://repo.spring.io/snapshot`
We can reopen the issue if there are still issues.

[2018-11-30 20:48] violetagg commented on #413
Please try `0.7.13.BUILD-SNAPSHOT`/`0.8.4.BUILD-SNAPSHOT`.
Snapshots repository `https://repo.spring.io/snapshot`
A new fix is available for the scenario `client(POST) -> server(POST)` (#536)

[2018-12-01 17:27] be-hase opened #540 "[PooledConnectionProvider] Only one connection receive subscriber allowed"
### Steps to reproduce
With using 0.8.3.RELEASE, this error suddenly occur.
(It does not occur in 0.8.2.RELEASE.)

[code]

### Reactor Netty version
0.8.3.RELEASE

### JVM version (e.g. `java -version`)
[code]
### OS version (e.g. `uname -a`)
macOS 10.13.4

[2018-12-01 17:35] be-hase commented on #540
Did this commit affect ?
https://github.com/reactor/reactor-netty/commit/63833122b1de72325767c88bbbc4fc45ddae038e#diff-f832840543b4e8833cf437b81892d333

[2018-12-02 10:33] adriancole commented on #539
opentracing is not a stable library api. netty tends to be at the bottom of the stack so probably not the best coupling choice.

[2018-12-02 11:12] adriancole commented on #539
ps by stable I mean 0.31 was binary incompatible with 0.30 and 0.32 (soon maybe?) will likely be incompatible with 0.31

[2018-12-03 14:59] violetagg commented on #522
@bmorris591
Check #543

`reactor.netty.http.client.HttpClient#followRedirect(boolean)` will redirect when
`301`|`302`|`307`|`308`

`reactor.netty.http.client.HttpClient#followRedirect(
BiPredicate<HttpClientRequest,HttpClientResponse>)` will redirect based on
the predicate

[2018-12-03 15:21] calvernaz opened #544 "[Question] CompositeBuf aggregate behavior"
The code below throws an exception when reading the bytes from the `ByteBuf`.

[code]

[2018-12-03 15:41] violetagg commented on #544
@calvernaz See the comments below

[code]

[code]

[2018-12-03 15:41] #544 closed

[2018-12-03 15:44] bmorris591 commented on #522
Awesome @violetagg - thanks.

[2018-12-03 15:52] calvernaz commented on #544
Thanks! your suggestion does the trick, however, I still don't understand how is this expected, I've to explicitly call `retain` otherwise I get an unusable reference to the buffer.

While debugging I notice that the completable future was completed and I suspect that's what frees the buffer, so I tried some different by delaying the source then the completable future is not complete and I get the

[2018-12-03 16:09] violetagg commented on #540
@be-hase Can you describe in more details what the scenario is? Do you use Reactor Netty standalone or via Spring Framework?

[2018-12-03 17:02] violetagg commented on #544
@calvernaz Using `retain` is the recommended solution, so that you can instruct Reactor Netty not to release the buffer.

[2018-12-04 04:13] be-hase commented on #540
I use reactor-netty with spring-boot(webmvc) 2.1.1.

[2018-12-04 06:09] violetagg commented on #540
@be-hase That's ok. But what the actual scenario is that you execute?

[2018-12-04 06:56] hanahmily commented on #532
I have tried this workaround, but the problem was not fixed.

I dived into internal, then found that Connection is an object of `OperationChannels`. `c.dispose()` will close the underlying channel instead of notifying the listener(PooledConnection) a "DISCONNECTING" state message. I thought it's the reason why TcpClient didn't reuse the channel.

I also compare the implements between `ChannelOpera

[2018-12-04 07:47] revfactory commented on #413
Our team was able to identify the following error:
[code]

I'm not sure if this is the same issue
We tried updating to 0.8.3.RELEASE and it was not fixed
Is the issue resolved in the 0.8.4.BUILD-SNAPSHOT version? (maybe spring boot 2.1.2)

[2018-12-04 07:49] revfactory commented on #413
Our team is also seeing the following error:
[code]

I'm not sure if this is the same issue
We tried updating to 0.8.3.RELEASE and it was not fixed
Is the issue resolved in the 0.8.4.BUILD-SNAPSHOT version (maybe spring boot 2.1.2)

[2018-12-04 11:01] violetagg commented on #413
@revfactory Please have in mind that this exception might not indicate a problem in Reactor Netty but that your server closes the connection on purpose (e.g. https://github.com/spring-cloud/spring-cloud-gateway/issues/473#issuecomment-443337259) so it is crucial for us to know your scenario.
Please also try the 0.8.4.BUILD-SNAPSHOT.
Thanks in advance,
Violeta

[2018-12-04 11:37] segabriel opened #546 "Correct handle onComlete and onError events while sending publishers"
I create a server, client and I have 2 processors to send via them some ByteBuf-s. And I send these processors on the client side. Ok, I understand that while the first processor is not finished the another won't be processed at all. But when I invoke `dispose` (or emit some error) on the first processor I expect that the second one will be started to process. But for now, it's not so, because in

[2018-12-04 11:42] be-hase commented on #540
@violetagg

I created a minimum project to reproduce this issue.
https://github.com/be-hase/reactor-netty-issues540

This issue occurs when http status code is error.
Perhaps it is due to webflux rather than reactor-netty?

This is excerpted code.

[code]

[code]

[2018-12-04 12:58] violetagg commented on #540
@be-hase Using your example I'm reproducing the issue with both versions `0.8.2.RELEASE`/`0.8.3.RELEASE`

I changed the Spring Framework version to `ext['spring.version'] = '5.1.2.RELEASE'` and cannot see the issue anymore.
@bclozel @rstoyanchev Can you take a look?

[2018-12-04 13:00] ricardkollcaku opened #547 "When client network disconnect the server stream still emit item till application freeze"
Hi
I am creating a spring boot application with a rest API emitting a infinite stream. when Client subscribe to server and the client network goes down server still emit item (not close the stream) after 2-3 minutes the cpu usage goes 100% and the application freeze

    @GetMapping(value = "", produces = MediaType.TEXT_EVENT_STREAM_VALUE)
    public Flux<ServerSentEvent> stream(@RequestParam Stri

[2018-12-04 13:03] violetagg commented on #547
@ricardkollcaku Can you extract that snippet above as a sample that we can use to reproduce the issue?
Thanks in advance,
Violeta

[2018-12-04 13:22] ricardkollcaku commented on #547
@CrossOrigin
    @GetMapping(value = "", produces = MediaType.TEXT_EVENT_STREAM_VALUE)
    public Flux<ServerSentEvent<Long>> test() throws IOException {
        return Flux.interval(Duration.ofMillis(100))
                .map(aLong -> ServerSentEvent.builder(aLong).build())
                .doOnNext(aLong -> System.out.println(aLong.data()));

    }
When a client connect to stream it will emit d

[2018-12-04 13:57] rstoyanchev commented on #547
We have [the following](https://docs.spring.io/spring/docs/current/spring-framework-reference/web-reactive.html#webflux-codecs-streaming) the Spring documentation:

[2018-12-04 14:03] ricardkollcaku commented on #547
@rstoyanchev if you see the code the data is send periodically and still the stream is not closed

[2018-12-04 14:50] rstoyanchev commented on #540
I'm investigating a similar report https://jira.spring.io/browse/SPR-17564.

[2018-12-04 15:38] violetagg commented on #547
@ricardkollcaku With the example above (long values) I cannot reproduce the issue.

Please add this `logging.level.reactor.netty=trace` to `application.properties`

I see the stack below on my side which indicates connection close

[code]

[2018-12-04 15:59] rstoyanchev commented on #540
This is a WebFlux issue, so this ticket can be closed. @be-hase please follow SPR-17564 for resolution.

[2018-12-04 16:02] ricardkollcaku commented on #547
yes i have enabled the stack trace i am testing with 2 pcs where one of them is server and other one is client when i close wifi in my client after subscribing server still emit items:

2018-12-04 16:52:20.697 TRACE 1654 --- [server-epoll-11] r.n.channel.ChannelOperationsHandler     : [id: 0xc657d77b, L:/192.168.0.9:8080 - R:/192.168.0.58:33998] Pending write size = 535
2018-12-04 16:52:20.697 TRA

[2018-12-04 16:06] violetagg commented on #540
@rstoyanchev Thanks. Closing this one.

[2018-12-04 16:06] #540 closed

[2018-12-04 16:59] violetagg commented on #547
@ricardkollcaku I see you are using `epoll`. Can you try NIO transport - `-Dreactor.netty.native=false`?

[2018-12-04 18:46] #522 closed

[2018-12-04 18:50] #507 closed

[2018-12-04 19:02] smaldini commented on #539
Do you have any recommendations @adriancole - I think I was confused in the issue I meant to say Open Zipkin or simply Zipkin 👍

[2018-12-04 19:13] be-hase commented on #540
ok. I'll follow SPR-17564.

[2018-12-05 02:50] rstoyanchev commented on #503
The following [workaround](https://github.com/spring-projects/spring-framework/blob/50e5bdb81356d30c274068d1a3c3051ad01556c6/spring-web/src/main/java/org/springframework/http/client/reactive/ReactorClientHttpResponse.java#L64-L68) was added to 5.1.3, which led to #540 and [SPR-17564](https://jira.spring.io/browse/SPR-17564). It turns out the root cause was that both Reactor Netty and the Spring Fr

[2018-12-05 09:10] ricardkollcaku commented on #547
@violetagg  running with your command emitted data with nio but still acting the same while wifi is closed is still emitting data
2018-12-05 10:09:22.277 TRACE 15505 --- [ctor-http-nio-2] r.n.channel.ChannelOperationsHandler     : [id: 0xe3a9c796, L:/192.168.0.9:8080 - R:/192.168.0.58:34666] Pending write size = 534
2018-12-05 10:09:22.277 TRACE 15505 --- [ctor-http-nio-2] r.n.channel.ChannelOpera

[2018-12-05 11:19] bm3780 commented on #508
@violetagg  I had originally submitted SPR-17493 reporting this issue.  We reported the issue because we saw that the client was indeed receiving the correct response (with `Content-Length: 0` and `Connection: close`), but was confused by the errors in our log.  We thought possibly the error logging was a mistake since the response was indeed written.  Are you saying this error logging is expected

[2018-12-05 12:02] violetagg commented on #508
@bm3780 With my commit we made the exception more explicit

[code]

The message is with `DEBUG` log level and the idea is to notify you that the content that the client was supposed to send is not sent.

Reactor Netty cannot make assumption whether this is an issue or not.

Regards,
Violeta

[2018-12-05 12:13] bm3780 commented on #508
@violetagg  ok that make sense

@bclozel Any plans to handle this logging better on the Spring side?  I'm still seeing log errors in the latest 5.1.2 release.  I believe you mentioned [SPR-17341](https://jira.spring.io/browse/SPR-17341) being related to this issue.

`2018-12-05 07:04:37 [reactor-http-nio-2] ERROR o.s.w.s.a.HttpWebHandlerAdapter - [0e35896f] Error [reactor.netty.channel.AbortedExce

[2018-12-05 13:03] bclozel commented on #508
@bm3780 which version of Reactor are you using? Are you using the Spring Boot dependency management?

[2018-12-05 13:39] bm3780 commented on #508
@bclozel <https://github.com/bclozel> I'm using the Spring Boot dependency
management.  It's bringing in reactor-netty 0.8.3, and reactor-core 3.2.3.

On Wed, Dec 5, 2018 at 8:03 AM Brian Clozel <notifications@github.com>
wrote:

[2018-12-05 13:49] rstoyanchev commented on #508
SPR-17341 is related indeed but it more about differentiating between client side vs server side (e.g.
talking to remote host via WebClient) connection issues. In the mean time we might add `AbortedException` to the list of `DISCONNECTED_CLIENT_EXCEPTIONS` in `HttpWebHandlerAdapter`.

[2018-12-06 20:19] rstoyanchev opened #549 "Logging improvement for HTTP/2"
Currently `ReactorNetty` formats log messages with the channel id. However for HTTP/2 with multiplexing there needs to be some enhancement, such as also including the stream id, so that log messages can be correlated by request. The same information also needs to be accessible in code that uses Reactor Netty, so that it can format log messages as well.

[2018-12-07 13:30] marchev commented on #233
Are there any plans for this enhancement to be implemented?

[2018-12-07 14:20] violetagg commented on #233
@marchev It is scheduled for 0.8.x but for sure not for 0.8.4. Are you interested in providing a PR with that functionality?

[2018-12-07 17:08] kptfh commented on #413
@violetagg Still facing this issue (and one new) after switching to 0.8.4.BUILD-SNAPSHOT.
You can easily reproduce it by running reactivefeign.benchmarks.RealParallelRequestBenchmarks.main() in https://github.com/Playtika/feign-reactive/tree/feature/benchmarks-with-payload

[2018-12-08 11:35] chemist777 opened #550 "HttpClient: impossible to send POST request with Content-Length header"
### Expected behavior
I want to send POST request with known(fixed) `Content-Length` header.
[code]
### Actual behavior
`Content-Length` header is removed from the POST request and `Content-Encoding: chunked` is set.

### Reactor Netty version
0.8.3.RELEASE

[2018-12-08 12:52] violetagg commented on #550
#548 Please try 0.8.4.BUILD-SNAPSHOT

[2018-12-08 12:52] #550 closed

[2018-12-10 00:55] binishchandy commented on #388
@violetagg I see the same issue with 2.1.1.RELEASE when running as backend server from haproxy
`2018-12-10 00:40:45,708 [ERROR] {reactor-http-epoll-1} reactor.netty.tcp.TcpServer - [id: 0xc97be89d, L:/96.117.7.166:8080 - R:/96.117.7.140:37420] onUncaughtException(SimpleConnection{channel=[id: 0xc97be89d, L:/96.117.7.166:8080 - R:/96.117.7.140:37420]})
io.netty.channel.unix.Errors$NativeIoException

[2018-12-10 07:04] violetagg commented on #388
@binishchandy Please create a new issue with a reproducible scenario

[2018-12-10 19:56] violetagg commented on #413
All, I committed another fix related to `Connection prematurely closed DURING response` (#551)
If you can test 0.8.4.BUILD-SNAPSHOT it will be very helpful.

[2018-12-12 15:21] bclozel commented on #518
FYI I can't reproduce this issue anymore with Spring Boot 2.1.1.RELEASE, i.e. reactor netty 0.8.3.RELEASE (I can reproduce it with 2.1.0.RELEASE, i.e. 0.8.2.RELEASE).

[2018-12-12 15:49] violetagg commented on #518
@bclozel try with spring framework 5.1.2

[2018-12-12 17:37] dantesun opened #553 "HttpClient#chunkedTransfer(false) only works when "Content-Length" is set."
I am not sure it's an expected behavior or not. But I found that `HttpClient#chunkedTransfer(false)` actually only works if `Content-Length` is explicitly set by user. Because `transfer-encoding: chunked` is re-inserted by `HttpClientOperations#sendObject`. Here is the code:

[code]

version: 0.8.3.RELEASE

[2018-12-12 18:40] violetagg commented on #553
@dantesun May be you observe the issue that is fixed with #548
Can you test with `0.8.4.BUILD-SNAPSHOT`?

[2018-12-13 10:17] bclozel commented on #518
You're right @violetagg, this was fixed in https://github.com/spring-projects/spring-framework/commit/abf9ce8a34

[2018-12-13 19:03] violetagg commented on #553
@dantesun Do you expect an exception to be returned in this use case?
https://tools.ietf.org/html/rfc7230#section-3.3.2
[code]

[2018-12-14 03:32] dantesun commented on #553
Actually, It would be better reactor-netty set the content-length automatically if possible. Adding content-length header manually is not user-friendly....

[2018-12-14 07:06] violetagg commented on #553
@dantesun How we can calculate the `Content-Length`? We do that for `GET` requests
https://github.com/reactor/reactor-netty/blob/master/src/main/java/reactor/netty/http/client/HttpClientOperations.java#L801
, but these use case is a rare use case and the expected body is not big.

[2018-12-14 12:55] violetagg commented on #528
@timurstrekalov The example above is not quite correct.

You cannot rely on:
[code]

It is more correct to say `When I receive the response then I'll dispose the connection`. So you should rewrite the code like this for example (I'm trying just to guess what you want to do):

[code]

[2018-12-14 13:01] timurstrekalov commented on #528
@violetagg what I actually want is this:

- open a connection, send a message
- keep receiving whatever messages I get from the server
- make sure the connection is closed when I call dispose()

[2018-12-14 15:17] dantesun commented on #553
Yes you are right. I think throwing an exception when `HttpClient#chunkedTransfer(false)` without a  `Content-Length` is a better solution. Just as you mentioned earlier.

[2018-12-15 09:14] ramirezag commented on #498
I encounter the same issue as well. I created a crawler that will crawl for info in our internal API service and then save the info into the application that is running locally. The crawler will take atleast an hour to crawl. At some point while crawling, I get `Connection prematurely closed BEFORE response`.

Converting from pooled to non-pooled connector seems to have fixed the issue.

[code]

[2018-12-15 10:04] violetagg commented on #498
@ramirezag Can you try the latest 0.8.4.BUILD-SNAPSHOT? We have fixes for use cases that might cause this exception to appear.

[2018-12-16 05:30] ramirezag commented on #498
@violetagg, I tried running the crawler using 0.8.4.BUILD-SNAPSHOT and using the pooled connector for a couple of hours. So far, I have not encountered the issue.

[2018-12-17 16:03] urferr opened #555 "IOException when client application terminates"
### Actual behavior
When the client application terminates I get a "IOException: An existing connection has been closed by the remote host".

java.io.IOException: Eine vorhandene Verbindung wurde vom Remotehost geschlossen
	at java.base/sun.nio.ch.SocketDispatcher.read0(Native Method)
	at java.base/sun.nio.ch.SocketDispatcher.read(SocketDispatcher.java:43)
	at java.base/sun.nio.ch.IOUtil.readIntoN

[2018-12-18 06:39] bigbang555 commented on #344
I've done as you say,but id dosen't seem to work.only add a denpendency?needn't more operation?

[2018-12-18 16:59] violetagg commented on #555
@urferr This exception is logged with DEBUG level so it just tells you that the client closes the connection. Here in this example when the program exits (client) the connection is closed.
About the threads, I see the server operated correctly with all 4 threads and no more. I see only threads with numbers 1 to 4.

[2018-12-18 17:17] violetagg commented on #555
@urferr I see the level is ERROR in 0.8.x

[2018-12-18 20:06] rstoyanchev commented on #518
This has been fixed in the Spring Framework. See https://jira.spring.io/browse/SPR-17609.

[2018-12-18 20:27] #518 closed, assigned to nobody

[2018-12-20 07:53] violetagg commented on #413
Closing this one for now. If there are other use case than these fixed till now we can reopen it.

[2018-12-20 07:53] #413 closed

[2018-12-20 15:42] crankydillo opened #556 "HTTP client - Fixed connection pool + big response payloads + concurrent requests = unresponsive computer"
Using reactor-netty to make a bunch of concurrent requests causes my macbook to become unresponsive.

### Expected behavior
I expect all the request to complete in a timely manner.

### Actual behavior
My macbook becomes totally unresponsive.  I have to hard reboot.  Colleagues have reproduced on their system.

### Steps to reproduce
Follow the instructions [here](https://github.com/sharathsriniva

[2018-12-20 16:07] violetagg commented on #556
@crankydillo Can you also tell us `CONNECT_TIMEOUT` and `READ_TIMEOUT`. Thanks

[2018-12-20 17:23] violetagg commented on #556
hope these are the correct settings https://github.com/sharathsrinivasa/httpclientbenchmark/blob/master/benchmarkcommon/src/main/java/com/ss/benchmark/httpclient/common/BenchmarkCommon.java#L17

[2018-12-20 20:47] crankydillo commented on #556
Yes, those constants come from that class.  I thought I removed those, but I guess I didn't.  Basically, I wrote that `main` method within the [ReactorNetty test-thats-a-performance-test](https://github.com/sharathsrinivasa/httpclientbenchmark/blob/master/reactornettybenchmark/src/test/java/com/ss/benchmark/httpclient/reactornetty/ReactorNettyHCPerformanceTests.java).

[2018-12-21 12:35] violetagg commented on #553
@dantesun Here is our proposal: We will deprecate `HttpClient#chunkedTransfer`, so by default `Transfer-Encoding: chunked` will be applied for those HTTP methods for which a request body is expected. If the user wants to disable that setting then the user can provide `Content-Length` via request headers and thus `Transfer-Encoding` will be removed. Wdyt?

[2018-12-21 16:18] simonbasle opened #558 "HttpClient#doOnRequest doesnt execute BEFORE request is sent"
### Expected behavior
`HttpClient#doOnRequest` listener should be invoked _before_ the request is sent, allowing to mutate it (eg. add a basic set of headers on every request).

### Actual behavior
It seems to be invoked _AFTER_ the request is sent. In the listener:
 - doing `req.requestHeaders().set("foo", "bar")` mutates the headers but is never used
 - doing `req.header("foo", "bar")` throws an

[2018-12-21 16:41] dantesun commented on #553
I am totally fine with this. It would be better if a document explains this behavior. When will the reactor-netty reference guide be released?

[2018-12-24 14:02] thekalinga commented on #412
@violetagg Sorry, I completely forgot to respond. Yes.. the new API allows us to customise the codec configuration

Thanks

[2018-12-25 16:26] axkb opened #559 "Connection prematurely closed BEFORE response"
Hi!
I've come across with the "Pooled connection observed an error reactor.netty.http.client.HttpClientOperations$PrematureCloseException: Connection prematurely closed BEFORE response" problem.
Stacktrace: [stacktrace closed connection](https://drive.google.com/file/d/1MEgxc1M0qQ3HVQsVHJMLuxZfRHE2f7le/view?usp=sharing)

I'm gathering metrics from the graphite server via reactive webclient for the

[2018-12-28 00:29] codependent opened #560 "Slow first request of Spring's WebClient caused by Netty Reactor Http Client"
The first request made with Spring WebClient takes around 6 seconds, whereas the next ones are way faster (30ms). The following Spring JIRA ticket points at Netty's initialization as the reason for this delay: https://jira.spring.io/browse/SPR-17200

I have uploaded a sample project with instructions to reproduce the problem in its readme: https://github.com/codependent/slow-webclient-sample

Reac

[2018-12-30 11:35] thekalinga opened #561 "Flawed naming conventions"
Take a look at this API

[code]

When you look at the method `post()`, your intuition tells that the `POST` call is being made. But as per API, you are building a request that uses http `POST` method when the actual `send` method is executed

This is a flawed api design as it breaks intuition. The same is true for all other http methods aswell. This flaw first appeared in `WebClient` API of Webflu

[2018-12-30 11:38] thekalinga commented on #561
Had the same issue [Spring Data R2DBC](https://github.com/spring-projects/spring-data-r2dbc/issues/43) aswell

[2018-12-30 11:43] thekalinga commented on #561
Also, `send` too feels like an ACTION, but the actual call happens when we subscribe like any other reactive stream. So, even `send` method needs to be renamed to something which implies request building is over & we want to proceed with response handling

[2019-01-03 16:01] crankydillo commented on #556
We're going to handle this in another way.

[2019-01-03 18:30] smaldini commented on #556
I think the issue stands in general as we are fixing the builder API incurring a significant overhead, micro optimizations of the sending/receiving will follow but it is certainly a situation we want to improve.

[2019-01-04 00:02] georgmittendorfer commented on #498
@violetagg sorry, it took me some time to try out to disable the pool.

Thing is that when the pooling is disabled the errors go away. This means that they are related to the connection pooling, right? I tried with 0.8.3.RELEASE and 0.8.4.BUILD-SNAPSHOT - same result.

What implications has it to turn connection pooling off as a workaround?

[2019-01-04 11:41] zhangxingping commented on #388
hello，how  to disable the pool, can you show some code please? thanks

[2019-01-04 11:43] zhangxingping commented on #388
hello, how to disable the pool? can you show some code please? thanks

[2019-01-04 12:19] YuryYaroshevich commented on #388
hello @zhangxingping
I'm not sure regarding the pool but it resolved my error. Also I'm not sure what do you mean by asking `resolved detail code`... When error happened, snippet provided above didn't has `.keepAlive(false)`, so this was the only line which resolved the issue.

[2019-01-04 12:22] zhangxingping commented on #388
thanks your replying, l mean your concrete code,I am programing in kotlin

[2019-01-04 12:23] zhangxingping commented on #388
l see your code，l dont konw where to add it

[2019-01-04 12:39] YuryYaroshevich commented on #388
@zhangxingping
If you are using reactor HttpClient for making requests to third-party services then just create it the way I do it. If you are not using reactor HttpClient then I don't think that this fix will somehow help you.

[2019-01-04 19:48] smaldini commented on #561
We followed the same API guidelines than reactor and transitively functional API especially rx.
Would you think that Flux.map() directly maps something ? or Mono.merge(a, b) ?
The consistency you see between projects is definitively on purpose as we are trying to avoid different API model mindsets where possible to make the whole thing easier to learn and port between projects.

[2019-01-07 03:15] SeungJinCho opened #564 "syscall:read(..) failed: Connection reset by peer"
### Actual behavior
[code]
`WebClient` initiated via above configuration, throws Exception occasionally such as below.

[code]

WebClient is called regularly under `Scheduled ` task.

### Steps to reproduce
Happen randomly

### Reactor Netty version
reactor-netty:0.8.3.RELEASE

### JVM version (e.g. `java -version`)
openjdk version "11" 2018-09-25
OpenJDK Runtime Environment 18.9 (build 11+28)
Ope

[2019-01-07 13:52] thekalinga commented on #561
@smaldini I agree with you that we need some guidelines on naming methods in reactive world so that regular java users do not feel they are caught off guard. Instead of whitelist method of naming things, may be we need rules of what kind of names to avoid (blacklist)

I have few scattered thoughts on this. One such scattered thought is

If the method looks like an imminent action & also it affects

[2019-01-07 19:50] smaldini commented on #546
We are working towards a more restrictive 0.9 API where unrelated send ( with various subscribe ) won't be possible. The aim is to simplify the channelOperationsHandler to only have 1 publisher at a time and avoid an extra queue here. That would push back the responsibility of such serialization to the user (he might use FluxProcessor.switchOnNext() for instance). Sorry for keeping you waiting but

[2019-01-08 11:26] 247687009 opened #565 "How can I open the REUESPORT"
Netty 4.0.19 and later really provide a version of epoll native transport that is packaged separately in JNI mode. I want to know how gateway turns on the SO_REUSEPORT feature. As shown below, the REUSEPORT feature can be turned on. I want to know how to set and enable it in the gateway.

[code]

[2019-01-08 11:41] violetagg commented on #565
@247687009 Try to use the snippet below

[code]

When you want to ask a question use [Gitter/Stackoverflow](https://github.com/reactor/reactor-netty#getting-help).

Regards,
Violeta

[2019-01-08 11:41] #565 closed

[2019-01-08 12:50] young891221 commented on #392
I have the same problem. I want to use webflux, but I can't. This is because performance decreases as requests increase.

[2019-01-08 18:40] segabriel commented on #546
sounds well!

[2019-01-09 04:14] 247687009 commented on #565
How do I specify the number of times he is bound to this port?

[2019-01-09 09:58] mp911de commented on #561
I think this is the underlying assumption in the whole discussion. Regular translates to imperative programming.

This again depends on the context. There is a point as `.block()` or `.subscribe()` aren't substantially different from a name like `.send()`. The only thing that distinguishes here is _knowledge_ how Project Reactor building blocks are supposed to work.

I also do not think there is r

[2019-01-09 16:45] darekurlik commented on #534
Hi All, I've just experienced something similar. I have two reactive spring-boot 2 apps lets call those A and B. A is talking to B over http using spring web client.  Initially A got error following error when calling B:
`io.netty.channel.unix.Errors$NativeIoException: writeAddress(..) failed: Connection reset by peer
	at io.netty.channel.unix.Errors.newIOException(Errors.java:122)
	at io.netty.ch

[2019-01-09 17:04] thekalinga commented on #561
`.block()` does what it implies from method name. It blocks current thread
`.subscribe()` does it what implies based on method name. It subscribes when the method gets executed

but `.send()` does not actually send. I think this is where the grey area is

I too agree with this statement partially. But only partially as I mentioned above

[2019-01-09 17:14] thekalinga commented on #561
A rough guideline I've in my mind is this

"Method names should say what they do, not when they do it"

[2019-01-09 17:21] thekalinga commented on #561
Method names like `execute`, `fetch`  (r2dbc), `get`, `post` (the current library), e.t.c breaks this guideline as they implies both `what` and `when`

Avoid method names that imply `when` along with `what`, unless there are no better names

Please note that these are my rough thoughts & I might be completely misguided on these guidelines. I'm only trying to see if we can make life of the rest of

[2019-01-09 17:56] thekalinga commented on #561
Also, method names that imply `when` along with `what` that are on streams is somewhat understandable as there is a ground rule which says `subscribe` is the entry point

But, Builders are not streams. So having a method name imply when within builder method is even more

Applying this `when` vs `what` guideline to adba method names `rowOperation` & `countOperation` indicate that they just imply `

[2019-01-09 19:44] darekurlik commented on #564
I've set ChannelOption.SO_KEEPALIVE to false to make it go away as follows:
`@Bean
public WebClient webClient(final ClientHttpConnector clientHttpConnector) {
    return WebClient.builder()
        .clientConnector(clientHttpConnector)
        .build();
}

@Bean
public ClientHttpConnector clientHttpConnector(@Value("${webclient.enable-keep-alive}") final boolean keepAlive,

[2019-01-10 08:56] 247687009 commented on #564
I use haproxy as a pre-entry and continue to throw the same exception when the backend is reactor-netty.

[2019-01-10 09:00] darekurlik commented on #564
WE still have a lot of problems due to invalid haproxy configuration... [This post](https://stackoverflow.com/questions/21550337/haproxy-netty-way-to-prevent-exceptions-on-connection-reset) helped us a lot, unfortunately we still need to deal with  problems on the health cheak. I hope it helps.

[2019-01-10 09:05] violetagg commented on #564
@SeungJinCho Can you provide tcpdump so that we can analyse why the connection is reset?

[2019-01-10 09:44] 247687009 commented on #564
I used the following configuration in haproxy, which is a perfect solution.
[code]

[2019-01-10 09:45] 247687009 commented on #564
Thanks!

[2019-01-10 09:47] 247687009 commented on #564
@darekurlik Thanks!
 I used the following configuration in haproxy, which is a perfect solution.
[code]

[2019-01-10 11:41] fred84 opened #566 "Connection pool leak when using proxy"
### Expected behavior

Pools in PooledConnectionProvider.channelPools should be reused and released

### Actual behavior

Duplicate pools are added to PooledConnectionProvider.channelPools and not released later when using http client with proxy.

### Details

- PoolKey use handler hashcode as one of its fields: https://github.com/reactor/reactor-netty/blob/master/src/main/java/reactor/netty/resou

[2019-01-11 06:08] smaldini opened #568 "Transition out from using Bootstrap attributes/options for configuration passing"
Benchmark here (https://github.com/sharathsrinivasa/httpclientbenchmark) has revealed issues when subscribing or just creating many Client (HttpClient).
Root causing the top offenders showed Bootstrap#option/attr with cloning were very impacting.

[2019-01-11 06:11] smaldini opened #569 "Switch to non blocking DNS resolver by default"
Right now the default dns use a blocking InetSocketAddress resolution isolated in an executor call. We have yet to benchmark the difference but it seems non-blocking netty dns resolver could lesser the impact of the resolution on the critical path.

[2019-01-11 16:32] violetagg commented on #498
@georgmittendorfer Open a new issue with a reproducible scenario or at least explain your scenario. If you can provide some logs/tcpdump.

[2019-01-11 17:01] violetagg commented on #534
@darekurlik Open a new issue with reproducible scenario and logs/tcpdump. Do you have load balancers/proxies between A and B.

[2019-01-11 17:10] darekurlik commented on #534
@violetagg Not reproducible I am afraid, its "random". I've experienced that on  0.8.3.RELEASE. Will increment to 0.8.4.RELEASE and let you know if I notice any difference. There is no LB or proxy between A and B. Those are two spring boot 2 apps running on two separate docker containers.

[2019-01-12 18:00] dantesun opened #570 "Can't return flux error from HttpClient.ResponseReceiver.response."
I want to return an Flux.error(Exception) if the response’s status is not 200. However the following code never works.

[code]

### Reactor Netty version
0.8.4.RELEASE

[2019-01-12 19:01] dantesun opened #571 "Custom Netty ChannelHandler added by HttpClient#mapConnect can't access HttpResponse"
I found that adding additional ChannelHandlers using `reactor.netty.http.client.HttpClient#mapConnect` somehow can't access `io.netty.handler.codec.http.HttpResponse` anymore. For example,

[code]
### Reactor Netty version

0.8.4.RELEASE

[2019-01-12 19:30] violetagg commented on #571
@dantesun are you sure about `HttpResponse `. `channelRead` is invoked when the current Channel has to read a message from the peer, so you can expect `HttpRequest`.

[2019-01-13 01:15] dantesun commented on #571
I am using HttpClient API. So I should expect HttpResponse in channelRead.

[2019-01-13 05:21] smaldini opened #572 "Revisit ChannelOperationHandler"
Change to flush on burst by default, stop supporting "unrelated" multiple concurrent send calls (but sequential send should remain fine).

In recent RSocket tests we have observed important improvement of overall request throughput with some experiment.

[2019-01-13 07:04] dantesun commented on #571
I wrote a test to reproduce this issue:

[code]
Code actually reached at `reactor-netty-0.8.4.RELEASE-sources.jar!/reactor/netty/http/client/HttpClientOperations.java:454`
[code]
But in my custom handler, ` log.info("HttpResponse: {}", msg);` is never executed.

[2019-01-13 10:31] dantesun commented on #571
I found the answer, the following code works. @violetagg

[code]

[2019-01-14 02:30] aftersss opened #573 "add server SNI support"
We want to use `spring-cloud-gateway` to fully replace `nginx`, so `SNI` support is needed. currently `HttpServer` can have only one SslContext, although I can add a `SniHandler` myself, but if your framework can support this, it would be better.

[2019-01-14 07:32] xiaodanguoguo commented on #413
@violetagg
Hey, I also meet this exceptions, same request to the gateway one success and one failure cycle, the second request debug_log as follows:

[code]
I tried the new versions 0.7.12.RELEASE  and run my program on Red Hat 4.8.5-16 server but result was same exceptions

My environment list as follows:

MacBoot Pro
JDK 1.8.0_121
MacOS Mojave 10.14
Spring-Cloud Finchley.SR2
Reactor-netty 0.7.12

[2019-01-14 12:45] violetagg commented on #413
@xiaodanguoguo Try with 0.7.14.RELEASE, there are fixes for some use cases that might cause this exception to be thrown.

[2019-01-14 13:15] violetagg commented on #571
Yep you are right - it is on the client, not on the server. Let me check the rest.

[2019-01-15 02:10] xiaodanguoguo commented on #413
@violetagg
        I just tried this version, the exception also exist. It's my pom config:

[code]

and my gateway filter code:

[code]

Main class:

[code]

ServerHttpRequestDecorator class

[code]

I want to change the request url  from the business interface number in the request body,
the gateway will always be success and failure again and again
I don't understand what's wrong.

[2019-01-15 19:31] violetagg opened #576 "Sending empty Publisher as a request body for GET requests may hang under load"
`GET` requests hang under load when sending empty `Publisher` or a `Publisher` that has empty `ByteBuf`.
This issue is related to https://github.com/spring-cloud/spring-cloud-gateway/issues/685

[2019-01-15 19:33] violetagg commented on #576
PR #575

[2019-01-15 20:02] #576 closed

[2019-01-15 23:36] smaldini opened #577 "Reports of slower than expected large POST body requests"
A few users have reported negative observations about how large bodies (or at least greater than 10KB) disproportionally influence request time. It could be assumed the same is true in the other way as a server replies a relatively large body as well.

Might depend on #524 to assist in the investigation.

[2019-01-15 23:40] smaldini commented on #556
Should be linked to #577

[2019-01-15 23:46] smaldini opened #578 "Default back connection pool to a fixed limit (e.g. 1000)"
Currently Connection Pooling uses elastic (unbounded) default value. Local VM might struggle with this default, we should investigate whether this is a correct default to assume or if we limits should be given and tuning documented.

[2019-01-15 23:47] smaldini commented on #556
Also linking to #568 and #578

[2019-01-16 07:39] SeungJinCho commented on #564
@violetagg Sorry, I've been away from a while from this issue.
As it keep happening, let me prepare the dump data you asked in a near future.
Thanks

[2019-01-16 08:38] violetagg commented on #413
@xiaodanguoguo What exactly are you trying to achieve with the code?

[code]

[2019-01-16 13:14] violetagg commented on #559
@axkb What are you expecting to happen here

[code]

[2019-01-16 13:41] violetagg commented on #565
@247687009 what do you mean by worker threads?

Is this one?
https://github.com/reactor/reactor-netty/blob/master/src/main/java/reactor/netty/tcp/TcpServer.java#L397

[2019-01-17 03:08] xiaodanguoguo commented on #413
@violetagg
         I want to get the request body and check the security parameter, the get the business parameter  to route to my business service, change the body, but every time after I changed the request body, the result always be success and failure again and again.

[2019-01-17 03:33] SeungJinCho commented on #564
@violetagg I'm attaching the dump and you can find [RST, ACK] in No.86
[dump.zip](https://github.com/reactor/reactor-netty/files/2767033/dump.zip)

[2019-01-17 09:23] xiaodanguoguo commented on #413
@violetagg
I changed a method to modify the request body, now it's right

[code]

[2019-01-17 12:21] violetagg commented on #564
@SeungJinCho Do you have some error log messages on the server and on the client for the corresponding ports?

[2019-01-18 01:13] gxl191911 opened #580 "Scheduler worker in group main failed with StackOverflowError"
2019-01-18 09:00:31.230 ERROR 26 --- [      elastic-3] reactor.core.scheduler.Schedulers        : Scheduler worker in group main failed with an uncaught exception
java.lang.StackOverflowError: null
	at java.base/java.util.stream.Streams$ConcatSpliterator.estimateSize(Streams.java:743) ~[na:na]
	at java.base/java.util.stream.Streams$ConcatSpliterator.estimateSize(Streams.java:743) ~[na:na]

[2019-01-18 01:15] gxl191911 commented on #580
update to 'Bismuth-SR15' for resolve 'client close premature',but now have a new erroe.

[2019-01-18 01:54] madgnome commented on #422
@violetagg Good news! I was able to reproduce the issue locally and I think it was fixed by https://github.com/reactor/reactor-netty/pull/554
I'll deploy to production to confirm.

[2019-01-18 09:48] SeungJinCho commented on #564
As I'm client side, this is only one i got..

[code]

[2019-01-19 09:18] violetagg commented on #580
@gxl191911 Can you provide some reproducible scenario or at least describe what you are trying to achieve?

[2019-01-19 22:21] segabriel opened #581 "HTTP client connection is not disposed on server side"
### Expected behavior

When the HTTP connection is closed, I'd like to receive the dispose event via `withConnection` to have an opportunity to stop my running `mono` tasks:

[code]

### Actual behavior

I didn't receive the disconnected event on the server side when the HTTP connection is closed. And the running task didn't cancel. But this behavior is only reproduced when there are some running

[2019-01-21 06:05] gxl191911 commented on #580
I use spring cloud gateway,but after some days, this error  will reproduce.
And unrepeatable at this time。
My current solution is to adjust the virtual stack size of jvm，ready to observe for a while。

[2019-01-21 14:54] dharezlak commented on #233
For reactor-netty 0.8.3 the hex structure is no longer printed when I set the following in my spring boot application (only URL and headers are printed):
[code]
Is it possible to still see the request and response bodies somehow?

[2019-01-21 15:06] violetagg commented on #233
@dharezlak Use the code below

[code]

[2019-01-22 00:13] #422 closed

[2019-01-22 05:27] intarabang opened #582 "Lower log level of "[:array:] The connection observed an error""
The remote service closing the connection can happen for various reasons that we cannot do much about. Should we consider lowering the log level of the above to possibly a WARN, especially in the case of errors:
* reactor.netty.http.client.HttpClientOperations$PrematureCloseException: Connection prematurely closed BEFORE response
* javax.net.ssl.SSLException: SSLEngine closed already

On our side,

[2019-01-22 09:12] violetagg commented on #582
@intarabang Can you try 0.8.5.BUILD-SNAPSHOT and see whether you still will experience these exceptions?

[2019-01-23 06:15] #580 closed

[2019-01-23 13:06] violetagg commented on #564
@SeungJinCho For this specific port `49600` there is nothing in the tcpdump. The only thing that I can say now is that the server closed the connection.

[2019-01-23 13:31] violetagg commented on #559
@axkb There is no author action. Closing this for now (we can reopen it later).

[2019-01-23 13:31] #559 closed

[2019-01-23 13:41] violetagg commented on #581
@segabriel The current `reactor.netty.resources.ConnectionProvider#disposeLater` closes only the inactive connections. As a workaround for the time being you can shutdown the `EventLoopGroup` which will close the active connections - use `reactor.netty.resources.LoopResources#disposeLater`. Look at the code below:

[code]

[2019-01-24 15:36] tkp1n opened #585 "ChannelOperations#sendObject(object) leaks for long-lived connections"
With the introduction of `ReactorNetty.safeRelease` in 0935bfc1fbcdd2068d111d77f897f06a0be3720c a potential memory leak was introduced to `ChannelOperations`. If a connection is kept open for an extended period of time, the subscriptions to `onTerminate()` add up and can never be collected until the connection terminates.

https://github.com/reactor/reactor-netty/blob/799d5a26f85935404e231471cce06

[2019-01-24 15:51] violetagg commented on #585
@tkp1n Do you experience a real memory leak? This `ReactorNetty.safeRelease` will be invoked only in use cases like `Content-Length: 0` (the message will not be sent) or we have some errors while trying to send the message (but in this case the connection most probably will be closed) (see #554). Netty always releases the object when it is outbound message (https://netty.io/wiki/reference-counted-

[2019-01-24 18:30] smaldini opened #586 "Common abstraction for Client (and possibly Servers)"
Add a common parent contract for client/server creations with default lifecycle observers and netty options.
- add channel group

[2019-01-24 18:33] smaldini commented on #581
I was more thinking exposing a new option for XxxClient that allow you to pass a ChannelGroup :

[code]

That would depend on #586. Obviously you can workaround now with doOnConnected and `channelGroup.add(connection.channel())`

[2019-01-25 16:45] nidhi7 opened #587 "Connection reset by peer goes in loop"
### Expected behavior
On getting "IOException: Connection reset by peer" again and again, WebClient GET call should exit after 1 or a few retries.

### Actual behavior
Reactor netty retries GET calls indefinitely on getting "IOException: Connection reset by peer" again and again. We do not want this to happen as we have our own retry logic added to WebClient call and want that to be executed inste

[2019-01-25 19:49] nidhi7 commented on #587
Raised this bug under spring https://github.com/spring-projects/spring-framework/issues/22309. Closing this.

[2019-01-25 21:53] nidhi7 commented on #587
Reopening this as it is reactor netty bug.

[2019-01-26 06:55] developerworks commented on #233
set `logging.level.reactor.netty=trace`
and add above `NettyWebServerCustomizer` as a bean, just print the parts of headers like this in the console:

[code]

How to print full headers ?

[2019-01-28 16:43] violetagg commented on #233
@developerworks These are all the headers. They end with `0d 0a 0d 0a` as by spec.

[2019-01-28 16:52] urferr opened #589 "Flux<String> decoded into 1 string"
### Expected behavior
28.01.2019 17:39:23.376 DEBUG [reactor-http-nio-4] org.springframework.web.HttpLogging:142 - [e84fb85] Decoded [[Hello World1!, Hello World2!, Hello World3!, Hello World4!, Hello World5!]]

### Actual behavior
28.01.2019 17:39:23.412 DEBUG [reactor-http-nio-4] org.springframework.web.HttpLogging:142 - [3804a9a8] Decoded "Hello World1!Hello World2!Hello World3!Hello World4!Hel

[2019-01-28 16:58] violetagg commented on #589
@urferr

Is the consumer a client, I mean do you send the message over network?

[2019-01-28 17:19] #587 closed

[2019-01-28 18:49] nidhi7 opened #590 "Lower log level of connection errors from ERROR"
This is a request to lower the below referenced log statement from error to info or warn. We have a retry logic in case of such errors and want the error to be logged only once after the last retry and not multiple times as it affects the error alarms that we get.

 https://github.com/reactor/reactor-netty/blob/883c138e76dbfcdbb2e5a2c789a3be26776b5c38/src/main/java/reactor/netty/http/client/HttpCl

[2019-01-28 18:56] violetagg commented on #590
duplicate #582

[2019-01-28 18:56] #590 closed

[2019-01-28 18:56] nidhi7 opened #591 "Make "PrematureCloseException" public"
Can this class "PrematureCloseException" be made public?  We want retry if the exception is of this instance type. As of now we compare the class name.

https://github.com/reactor/reactor-netty/blob/f0dda27922fc6106aabc64a195fdd831b4afa518/src/main/java/reactor/netty/http/client/HttpClientOperations.java#L741

[2019-01-28 19:25] #582 closed, assigned to nobody

[2019-01-29 09:44] violetagg commented on #589
@urferr You cannot control the packages over the wire. It depends on when the network buffers will be filled and flushed (by default the `SO_SNDBUF` is 1MB - https://github.com/reactor/reactor-netty/blob/master/src/main/java/reactor/netty/tcp/TcpServerBind.java#L131).
However if you want, you can apply a decoder on the client side such as
https://netty.io/4.1/api/io/netty/handler/codec/DelimiterBa

[2019-01-29 09:44] #589 closed

[2019-01-29 14:34] urferr commented on #589
i tink we do not understand each other. My problem is, that i pass a Flux which has been created based on 5 string inside and when it arrives on the client it contains only one string which is the concatenation of the initial 5 strings. Why should this be a problem of buffer size? And also it works fine if i use a Flux<Message> where Message is a class just containing a String attribute. If i put

[2019-01-29 14:40] violetagg commented on #589
@urferr You can enable the `wire logger` so that you can see how the packages are transported over the wire and how they are received on the client side.

Add the component below to your application and enable logging `logging.level.reactor.netty=debug`

[code]

[2019-01-29 15:47] rstoyanchev commented on #589
Indeed, when text is received as raw bytes, [StringDecoder](https://github.com/spring-projects/spring-framework/blob/master/spring-core/src/main/java/org/springframework/core/codec/StringDecoder.java) aggregates until it encounters a delimiter (`\r\n` or `\n` by default). There is no other way to avoid split character issues with decoding.

[2019-01-29 15:51] urferr commented on #589
It seems not only to be a problem in the StringDecoder of spring, also if i call the server directly with curl or from chrome browser i get the same result, the different strings are always concatenated into one

[2019-01-29 15:57] rstoyanchev commented on #589
Again, it is not a "problem" :)

[2019-01-30 08:40] sganslandt commented on #498
@georgmittendorfer I'm having similar issues and it might very well be related to something similar, would you mind sharing some insights about your findings? What is this check interval, where is it configured, what's the default etc.? Looking around on the HttpClient and underlying TcpClient (netty) I cannot seem to find anything about it 😕

[2019-01-30 11:46] sganslandt commented on #498
Misunderstood and thought the check interval referring to some built-in connection check 😬 Sorry and thanks : )

[2019-01-30 12:43] georgeyanev commented on #302
@rstoyanchev What is the proper way to configure TcpClient in order to reconnect to the same host in case the server has disconnected? I didn't find methods like `open` method or `Reconnect` interface in current `reactor-netty` code base.

[2019-01-30 16:56] agjini opened #594 "Router routes macthing order"
# Issue : conflict between "/yes/{param}" and "/yes/value" routes

# Actual behavior

The `HttpServerRoutes.route(*)` are impacted by the order. For example :

[code]

In this case the route "/yes/value" will be occulted by "/yes/{param}".

# Proposed solution

Order the routes httpPredicates to place the more specific ones before?

This will allow the `HttpServerRoutes` routes matching to be not

[2019-01-31 15:55] violetagg opened #595 "Possible memory leak when the I/O handler throws RuntimeException"
https://github.com/spring-cloud/spring-cloud-gateway/issues/810

[code]

[code]

[2019-02-01 10:35] #595 closed

[2019-02-01 20:19] dave-fl opened #597 "Connection Closed Polluting the Logs"
This is a test going through Spring Cloud Gateway Greenwich Snapshot and Californium Snapshot.

I had seen this on Bismuth and hoped that it would be corrected in Californium.  Running some tests via load runner and literally every POST has the message:

    2019-02-01T15:03:42.78-0500 [APP/PROC/WEB/0] OUT 2019-02-01 20:03:42.781 ERROR 14 --- [or-http-epoll-4] o.s.w.s.adapter.HttpWebHandlerAdapter